﻿@model CL.TMS.DataContracts.ViewModel.Steward.StewardRegistrationModel
@using CL.TMS.Common
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface
@using CL.TMS.Security.Authorization
@using CL.TMS.Configuration

@{
    ViewBag.Title = "Steward Staff Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool isReadOnly = false;
    if (Model != null)
    {
        switch (Model.Status)
        {
            case ApplicationStatusEnum.Submitted:
            case ApplicationStatusEnum.Assigned:
            case ApplicationStatusEnum.OnHold:
            case ApplicationStatusEnum.Approved:
            case ApplicationStatusEnum.BankInformationSubmitted:
            case ApplicationStatusEnum.BankInformationApproved:
            case ApplicationStatusEnum.Completed:
                isReadOnly = false;
                break;
            default:
                isReadOnly = true;
                break;
        }

    }
    if (SecurityContextHelper.IsParticipant())
    {
        isReadOnly = true;
    }
    var invalidList = Model != null ? Model.InvalidFormFields as IList<string> : new List<string>();

    string invalidListStr = string.Join(",", invalidList.ToArray());
    invalidListStr = "\"" + invalidListStr.Replace(",", "\",\"") + "\"";

    var statusStr = Model != null ? Model.Status.ToString() : String.Empty;
    var localtime = Convert.ToDateTime(Model.SubmittedDate).ToLocalTime();

    //since I am using jQuery validation plugin; settings client validation to false
    HtmlHelper.ClientValidationEnabled = false;
    var guidStr = HttpContext.Current.Request.QueryString["id"];
    var dateTimeFormat = TreadMarksConstants.DateFormatJavascriptDateTimePicker;
    bool isParticipant = false;
    if (!CL.TMS.Security.Authorization.SecurityContextHelper.IsStaff())
    {
        isParticipant = true;
    }

    //Security Applicaiton
    //check security level
    var ActiveInactiveResource = CL.TMS.Configuration.ApplicationHelper.CheckSecurityForActiveInactive(ApplicationTypes.Steward);
    var isActiveInactiveReadOnly = ActiveInactiveResource == CL.TMS.Security.SecurityResultType.ReadOnly;

    var RemitsToggleResource = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsStewardApplicationRemitFrequency);
    var IsRemitsToggleReadOnly = RemitsToggleResource == CL.TMS.Security.SecurityResultType.ReadOnly;

    var AuditToggleResource = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsStewardApplicationAuditToggle);
    var IsAuditTToggleReadOnly = AuditToggleResource == CL.TMS.Security.SecurityResultType.ReadOnly;

    var MOEToggleResource = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsStewardApplicationMOEToggle);
    var IsMOEToggleReadOnly = MOEToggleResource == CL.TMS.Security.SecurityResultType.ReadOnly;

    var ResendWelcomeLetter = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsStewardApplicationResendWelcomeLetter);
    var IsResendWelcomeLetterReadonly = ResendWelcomeLetter == CL.TMS.Security.SecurityResultType.ReadOnly;

    var user = HttpContext.Current.User as System.Security.Claims.ClaimsPrincipal;
    var rolePermissionsClaims = user.Claims.Where(c => c.Type == TreadMarksConstants.RolePermissions && c.Value.StartsWith("Applications_Steward")).ToList();
    var IsAnyPanelEditSave = ApplicationHelper.IsAnyPanelEditSave(rolePermissionsClaims);
    var IsAnyNoAccess = ApplicationHelper.IsAnyPanelNoAccess(rolePermissionsClaims);
    var IsAllPanelEditSave = ApplicationHelper.IsAllPanelEditSave(rolePermissionsClaims);

    var IsStewardAutoSaveDisabled = ApplicationHelper.IsStewardAutoSaveDisabled(rolePermissionsClaims);

    //Save Btn
    var IsDisableSaveBtn = !IsAnyPanelEditSave;
    var IsDisableCancelBtn = !IsAnyPanelEditSave;

    //routing check doesnt apply for open status application
    //at least one panel should be edit save
    //==========check if application is assigned to the applicant ==================
    var currentUser = SecurityContextHelper.CurrentUser;

    var IsDisableWorkFlowBtn = true;
    var HideWorkFlow = true;
    if (Model.AssignToUserId == currentUser.Id)
    {
        HideWorkFlow = false;
        var IsStewardRouting = SecurityContextHelper.StewardApplicationsWorkflow != null ? SecurityContextHelper.StewardApplicationsWorkflow.Routing : false;
        IsDisableWorkFlowBtn = !IsStewardRouting || !IsAllPanelEditSave;
    }
}

@Styles.Render("~/css/jquery-webui-popover")

@section styles {
    @Styles.Render("~/css/datetimepicker")
    @*@Styles.Render("~/css/datatable-tm")*@

    <link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />

    <style>
        /*OTSTM2-550*/
        .tooltip-inner {
            max-width: none;
            white-space: nowrap;
        }

        .panel-default > .panel-heading a.export,
        .panel-default > .panel-heading a.export:hover {
            background: none;
            left: 120px;
            position: absolute;
            top: 11px;
            width: 25px;
            margin-left: 10px;
        }
    </style>
}

@section pageHeader
{
    <!-- Component: Transactions Header -->
    <div id="fixedClaimHeader" class="row comp-claims-header fixed-claim-header">
        <div id="claimHeader" class="col-xs-7 col-sm-6">
            <h2 class="fixed-claim-header-title">
                Steward Application
            </h2>
            @if (Model.Status == ApplicationStatusEnum.Approved || Model.Status == ApplicationStatusEnum.Completed || Model.Status == ApplicationStatusEnum.BankInformationSubmitted || Model.Status == ApplicationStatusEnum.BankInformationApproved)
            {
                <div class="margin-top-3 fixed-claim-header-remittance-application-remitsperyear" style="margin-top:-5px !important">

                    @if (RemitsToggleResource >= CL.TMS.Security.SecurityResultType.ReadOnly)
                    {
                        <label class="padding-3">Remits per year:</label>
                        <div data-placement="bottom" title="Switched on : @string.Format("{0:yyyy-MM-dd}", Convert.ToDateTime(Model.RemitanceDetail.SRemitsPerYearSwitchDate))" data-toggle="tooltip" class="btn-group btn-toggle">
                            <button id="activeGreenButton1" class="@(Model.RemitanceDetail.SRemitsPerYear ==false ?"btn btn-xs active color-tm-red-bg":"btn btn-xs btn-default")" type="button" data-toggle="modal" data-target="#modalGeneratorOnR" data-info="registion steward staffindex" disabled="@(IsRemitsToggleReadOnly)">2x</button>
                            <button id="inactiveRedButton1" class="@(Model.RemitanceDetail.SRemitsPerYear ==true  ?"btn btn-xs active color-tm-red-bg":"btn btn-xs btn-default")" type="button" data-toggle="modal" data-target="#modalGeneratorOffR" disabled="@(IsRemitsToggleReadOnly)">12x</button>
                        </div>
                    }

                    @if (SecurityContextHelper.IsStaff())
                    {
                        if (MOEToggleResource >= CL.TMS.Security.SecurityResultType.ReadOnly)
                        {
                            <label class="padding-3 margin-top-0"> MOE:</label>
                            <div data-placement="bottom" title="" data-toggle="tooltip" class="btn-group btn-toggle" data-original-title="@(Model.RemitanceDetail.SMOE == false ?"Switched off":"Switched on")  : @string.Format("{0:yyyy-MM-dd}", Convert.ToDateTime(Model.RemitanceDetail.SMOESwitchDate))">
                                <button id="activeGreenButton2" class="@(Model.RemitanceDetail.SMOE == true ? "t btn btn-xs active color-tm-green-bg" : "t btn btn-xs btn-default")" type="button" data-toggle="modal" data-target="#modalMOEOnR">On</button>@*disabled="@(IsMOEToggleReadOnly)"*@
                                <button id="inactiveRedButton2" class="@(Model.RemitanceDetail.SMOE == false ? "t btn btn-xs active color-tm-green-bg" : "t btn btn-xs btn-default")" type="button" data-toggle="modal" data-target="#modalMOEOffR">Off</button>@*disabled="@(IsMOEToggleReadOnly)"*@
                            </div>
                        }
                    }
                </div>
            }
        </div>

        <!-- Component: Active/Inactive Header -->
        @if (SecurityContextHelper.IsStaff() && ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsStewardApplicationActiveInactive) >= CL.TMS.Security.SecurityResultType.ReadOnly)
        {
            <div class="col-xs-5 col-sm-6">
                <div class="sub-header-status txt-r">
                    <div class="sub-header-status txt-r">
                        @if ((Model.ActiveInactive.Status == ApplicationStatusEnum.Approved || Model.ActiveInactive.Status == ApplicationStatusEnum.BankInformationSubmitted || Model.ActiveInactive.Status == ApplicationStatusEnum.BankInformationApproved || Model.ActiveInactive.Status == ApplicationStatusEnum.Completed) && !isParticipant)
                        {
                            <div class="btn-group btn-toggle activeInactive fixed-application-header-active-status" @*style="display:none;" id="@((Model.ActiveInactive.Status == ApplicationStatusEnum.Approved || Model.ActiveInactive.Status == ApplicationStatusEnum.BankInformationSubmitted || Model.ActiveInactive.Status == ApplicationStatusEnum.BankInformationApproved || Model.ActiveInactive.Status == ApplicationStatusEnum.Completed) && !isParticipant ? "showActiveInactiveApprovedItem" : "hideActiveInactiveApprovedItem")"*@>
                                @{
                                    if (Model.ActiveInactive.CurrentActiveHistory.ActiveState)
                                    {

                                        //OTSTM2-550
                                        <div data-toggle="tooltip" data-placement="bottom" class="ActiveToolTip" style="float:left">
                                            <button id="activeGreenButton" class="btn btn-success active isActInAct" type="button" data-toggle="modal" data-target="#switchInactiveToActive">Active</button>
                                        </div>
                                        <div data-toggle="tooltip" data-placement="bottom" class="InActiveToolTip" style="float:left">
                                            <button id="inactiveRedButton" class="btn btn-default isActInAct" type="button" data-toggle="modal" data-target="#switchActiveToInactive">Inactive</button>
                                        </div>
                                    }
                                    else
                                    {

                                        //OTSTM2-550
                                        <div data-toggle="tooltip" data-placement="bottom" class="ActiveToolTip" style="float:left">
                                            <button id="activeGreenButton" class="btn btn-default isActInAct" type="button" data-toggle="modal" data-target="#switchInactiveToActive">Active</button>
                                        </div>
                                        <div data-toggle="tooltip" data-placement="bottom" class="InActiveToolTip" style="float:left">
                                            <button id="inactiveRedButton" class="btn btn-danger isActInAct" type="button" data-toggle="modal" data-target="#switchActiveToInactive">Inactive</button>
                                        </div>
                                    }
                                }
                            </div>
                                    }
                    </div>
                    <div class="btn-group btn-toggle" id="showApprovedItem"></div>
                </div>
                <div class="popoverParticipantInfo" data-placement="auto">

                    <div class="sub-header-registrantinfo fixed-claim-header-registrantinfo-steward">@(Model.RegistrationNumber == 0 ? "" : Model.RegistrationNumber.ToString())</div>
                    <div class="sub-header-companyname fixed-claim-header-companyname">@(Model.BusinessLocation == null ? "" : Model.BusinessLocation.OperatingName)</div>
                    <div id="popoverParticipantInfo" style="display: none;">
                        <p>
                            <strong>Business Address</strong><br>
                            @(Model.BusinessLocation.BusinessAddress.AddressLine1 == null ? "" : Model.BusinessLocation.BusinessAddress.AddressLine1.ToString()), @(Model.BusinessLocation.BusinessAddress.AddressLine2 == null ? "" : Model.BusinessLocation.BusinessAddress.AddressLine2.ToString())<br>
                            @(Model.BusinessLocation.BusinessAddress.City == null ? "" : Model.BusinessLocation.BusinessAddress.City.ToString()), ON @(Model.BusinessLocation.BusinessAddress.Postal == null ? "" : Model.BusinessLocation.BusinessAddress.Postal.ToString())
                        </p>
                        <p>
                            <strong>Primary Contact</strong><br>
                            @(Model.ContactInformationList[0].ContactInformation.FirstName == null ? "" : Model.ContactInformationList[0].ContactInformation.FirstName.ToString()) @(Model.ContactInformationList[0].ContactInformation.LastName == null ? "" : Model.ContactInformationList[0].ContactInformation.LastName.ToString()) <br>
                            @(Model.ContactInformationList[0].ContactInformation.Email == null ? "" : Model.ContactInformationList[0].ContactInformation.Email.ToString())<br>
                            @(Model.ContactInformationList[0].ContactInformation.PhoneNumber == null ? "" : Model.ContactInformationList[0].ContactInformation.PhoneNumber.ToString())
                        </p>
                    </div>
                </div>
            </div><!--/.row-->
                                    }
                                    else if (SecurityContextHelper.IsParticipant())
                                    {
                                        <div class="col-xs-5 col-sm-6">
                                            <div class="sub-header-status txt-r">
                                                <div class="sub-header-status txt-r">
                                                </div>
                                                <div class="btn-group btn-toggle" id="showApprovedItem">
                                                </div>
                                            </div>
                                            <div class="sub-header-registrantinfo fixed-claim-header-registrantinfo-steward">@(Model.RegistrationNumber == 0 ? "" : Model.RegistrationNumber.ToString())</div>
                                            <div class="sub-header-companyname fixed-claim-header-companyname">@(Model.BusinessLocation == null ? "" : Model.BusinessLocation.OperatingName)</div>
                                        </div><!--/.row-->
                                    }

    </div>

}

@using (Html.BeginForm("Index", "Registration", FormMethod.Post, new { id = "MainId" }))
{
    <input id="invalidList" name="invalidList" type="hidden" />
    <input id="applicationId" name="applicationId" type="hidden" value='@Model.ID' />
    <input id="ID" type="hidden" value='@Model.ID' name="ID">
    <input id="status" type="hidden" value='@Model.Status' name="status" />
    <input id="GeneratorDate" type="hidden" value='' name="StewardDetails.GeneratorDate">
    <input id="IsParticipant" value="@isParticipant.ToString()" type="hidden" name="Isparticipant" />
    <input type=hidden id="VendorID" class="VendorID" value='@Model.VendorID' name="VendorID">
    <input type="hidden" id="RegistrationNumber" class="RegistrationNumber" value='@Model.RegistrationNumber' name="RegistrationNumber" />

    @Html.HiddenFor(model => model.Status)


    <div class="panel-container-application">
        <div class="tm-all all-applications">
            <!-- Component: Submission Information -->
            @if (!isParticipant)
            {
                if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsStewardApplicationSubmissionInformation) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default panel-margin-bottom-20" @*style="margin-top:70px"*@>
                                @Html.ApplicationSubmissionInfo(
                                localtime,
                                Model.BusinessLocation.OperatingName,
                                string.Format("{0} {1}", @Model.TermsAndConditions.FormCompletedByFirstName, @Model.TermsAndConditions.FormCompletedByLastName),
                                Model.BusinessLocation.BusinessAddress.AddressLine1,
                                Model.BusinessLocation.Email,
                                Model.UserIPAddress,
                                Model.GetClientStatus(),
                                (Model.Status == ApplicationStatusEnum.Approved
                                || Model.Status == ApplicationStatusEnum.Resend
                                || Model.Status == ApplicationStatusEnum.BankInformationSubmitted
                                || Model.Status == ApplicationStatusEnum.BankInformationApproved
                                || Model.Status == ApplicationStatusEnum.Completed) ? Model.CreatedDate.ToString(TreadMarksConstants.DateFormat) : string.Empty //OTSTM2-529
                                )
                            </div><!--/.panel-->
                        </div>
                    </div>
                }

                if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsStewardApplicationInternalNotes) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                {
                    <div class="row">
                        <!-- Component: Internal Notes -->
                        <div class="col-md-12">
                            <div class="panel panel-default panel-margin-bottom-20">
                                @{
                                    switch (Model.Status)
                                    {
                                        case ApplicationStatusEnum.Approved:
                                        case ApplicationStatusEnum.BankInformationSubmitted:
                                        case ApplicationStatusEnum.BankInformationApproved:
                                        case ApplicationStatusEnum.Completed:
                                            @Html.Partial("_InternalNotesPartial", new ViewDataDictionary() { { "view", "Staff" }, { "CustomerID", Model.VendorID }, { "isVendor", false }, { "isCustomer", true }, { "Type", ApplicationTypes.Steward } , { "versionid", ViewBag.versionid } })
                                            break;
                                        default:
                                            @Html.Partial("_InternalNotesPartial", new ViewDataDictionary() { { "view", "Staff" }, { "ApplicationID", Model.ID }, { "isVendor", false }, { "isCustomer", false }, { "Type", ApplicationTypes.Steward } , { "versionid", ViewBag.versionid } })
                                            break;
                                    }
                                }
                            </div><!--/.panel-->
                        </div>
                    </div><!--/.row-->
                                        }
                                    }
            <!--End Submission Information -->
            <form></form> <!--this is the dummy one-->
            <!-- Panel Group -->
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsStewardApplicationBusinessLocation) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                {
                <!-- Component: Business Location -->
                    using (Html.BeginForm("index", "Registration", FormMethod.Post, new { id = "fmBusinessLocation", style = "" }))
                    {
                        <div class="panel panel-default panel-margin-bottom-20" @*style="@(SecurityContextHelper.IsStaff() ? "margin-top:0" : "margin-top:85px")"*@>
                            @*@Html.Partial("_BusinessLocationPartial", Model, new ViewDataDictionary() { { "view", "Staff" }, { "InvalidFormFieldList", Model.InvalidFormFields }, { "IsParticipant", isParticipant }, { "StaffBusinessLocationAccessResource", ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsStewardApplicationBusinessLocation) } })*@

                            @{
                                var BusinessPartialData = ApplicationHelper.ToCommonPartialView(Html.GetExpressionText(p => p.BusinessLocation), "Staff", Model.InvalidFormFields, isParticipant, Model.Status, ApplicationTypes.Steward);
                            }

                            @Html.CustomPartial("_BusinessLocationPartial", Model, BusinessPartialData, "BusinessLocation")
                        </div>
                                    }
                                }


                <!-- Component: Contact Information -->
                @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsStewardApplicationContactInformation) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                {
                    using (Html.BeginForm("index", "Registration", FormMethod.Post, new { id = "fmContactInfo", style = "" }))
                    {
                        <div class="panel panel-default panel-margin-bottom-20">

                            @{
                                var ContactInfoPartialData = ApplicationHelper.ToCommonPartialView(Html.GetExpressionText(p => p.ContactInformationList), "Staff", Model.InvalidFormFields, isParticipant, Model.Status, ApplicationTypes.Steward);
                            }

                            @Html.CustomPartial("_ContactPartial", Model, ContactInfoPartialData, "ContactInformation")

                            @*@Html.Partial("_ContactPartial", Model, new ViewDataDictionary() { { "view", "Staff" }, { "InvalidFormFieldList", Model.InvalidFormFields }, { "Status", Model.Status }, { "IsParticipant", isParticipant }, { "StaffContactInfoAccessResource", ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsStewardApplicationContactInformation) } })*@
                        </div>
                                    }
                                }


                <!-- Component: Tire Details -->
                @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsStewardApplicationTireDetails) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                {
                    using (Html.BeginForm("index", "Registration", FormMethod.Post, new { id = "fmTireDetails", style = "" }))
                    {
                        <div class="panel panel-default panel-margin-bottom-20">
                            @Html.Partial("_TireDetailsStewardPartial", Model, new ViewDataDictionary() { { "view", "Staff" }, { "InvalidFormFieldList", Model.InvalidFormFields }, { "IsParticipant", isParticipant } })
                        </div>
                    }
                }


                <!-- Component: Steward Details -->
                @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsStewardApplicationStewardDetails) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                {
                    using (Html.BeginForm("index", "Registration", FormMethod.Post, new { id = "fmStewardDetails", style = "" }))
                    {
                        <div class="panel panel-default panel-margin-bottom-20">
                            @Html.Partial("_StewardDetailsPartial", Model, new ViewDataDictionary() { { "view", "Staff" }, { "InvalidFormFieldList", Model.InvalidFormFields }, { "IsParticipant", isParticipant } })
                        </div>
                    }
                }

                @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsStewardApplicationSupportingDocuments) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                {
                    using (Html.BeginForm("index", "Registration", FormMethod.Post, new { id = "fmSupportingDoc", style = "" }))
                    {
                    <!-- Component: Supporting Documents -->

                        <div class="panel panel-default panel-margin-bottom-20">

                            @{
                                var supportingDocumentPartialData = ApplicationHelper.ToSupportingDocumentPartialView("Staff", statusStr, Model.InvalidFormFields, (isParticipant ? false : true),
                                                            (isParticipant ? false : ((SecurityContextHelper.IsStaff())) ? false : true),
                                                            Html.GetExpressionText(p => p.SupportingDocuments), isParticipant);
                            }

                            @Html.CustomPartial("_SupportingDocPartialSteward", Model.SupportingDocuments, supportingDocumentPartialData, "SupportingDocument")
                        </div>


                                    }
                                }

                <!-- Component: Terms and Conditions -->
                @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsStewardApplicationTermsAndConditions) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                {
                    using (Html.BeginForm("index", "Registration", FormMethod.Post, new { id = "fmTermsAndConditions", style = "" }))
                    {
                        <div class="panel panel-default panel-margin-bottom-20">
                            @Html.Partial("_TermsConditionsPartial", Model, new ViewDataDictionary() { { "view", "Staff" }, { "InvalidFormFieldList", Model.InvalidFormFields }, { "IsParticipant", isParticipant }, { "Type", ApplicationTypes.Steward } })
                        </div>
                    }
                }


            </div>

            <div class="row">
                <div class="col-md-12">
                    <p style="color:#737373; display:block; margin-bottom:10px; margin-top:5px;"><em> Note that to complete the registration application, <strong>you need to have the authority to bind your corporation / business or have been granted to the authority to bind your corporation / business.</strong> Fields marked with <i class="glyphicon glyphicon-ok"></i> are mandatory.</em> </p>
                </div>
            </div>

            <div id="staffWorkflowBtns" class="row">
                <div class="col-sm-12" style="text-align:right;">

                    @switch (Model.Status)
                    {
                        case ApplicationStatusEnum.OffHold:
                        case ApplicationStatusEnum.Assigned:
                            if (!HideWorkFlow)
                            {
                                <button id="applicationBtn" type="button" data-toggle="modal" data-target="#modalApplicant" class="btn btn-info isDisableWorkFlowBtn"><i class="fa fa-chevron-left"></i> Applicant</button>
                                    <button id="denyBtn" type="button" data-toggle="modal" data-target="#modalDeny" class="btn btn-danger isDisableWorkFlowBtn"><i class="fa fa-chevron-left"></i> Deny</button>
                                    <button id="onHoldBtn" type="button" data-toggle="modal" data-target="#modalOnhold" class="btn btn-warning isDisableWorkFlowBtn">On-hold </button>
                                    <button id="approveBtn" type="button" data-toggle="modal" data-target="#modalApproveApplication" class="btn btn-success isDisableWorkFlowBtn">Approve <i class="fa fa-chevron-right"></i></button>
                            }
                            break;
                        case ApplicationStatusEnum.OnHold:
                            if (!HideWorkFlow)
                            {
                                <button id="unHoldBtn" type="button" data-toggle="modal" data-target="#modalOffhold" class="btn btn-warning isDisableWorkFlowBtn">Off-hold</button>
                            }
                            break;
                        case ApplicationStatusEnum.Approved:
                        case ApplicationStatusEnum.BankInformationSubmitted:
                        case ApplicationStatusEnum.BankInformationApproved:
                        case ApplicationStatusEnum.Completed:
                            if (!isParticipant)
                            {
                                if (ResendWelcomeLetter >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                {
                                    <button id="resendBtn" type="button" data-toggle="modal" data-target="#modalResend" class="btn btn-success btn-lg">
                                        @*disabled="@(IsResendWelcomeLetterReadonly)"*@
                                    <i class="fa fa-chevron-left"></i> Re-send Welcome Letter
                                </button>
                                }
                                <button id="cancelBtn" type="button" data-toggle="modal" data-target="#modalCancelApplication" class="btn btn-danger btn-lg">
                                    @*disabled="@(IsDisableCancelBtn)"*@
                                    <i class="glyphicon fa fa-ban" aria-hidden="true"></i>
                                    @UIResource.CommonCancel
                                </button>
                                    <button id="saveBtn" type="button" data-toggle="modal" data-target="#modalSaveApplication" class="btn btn-success btn-lg">
                                        @*disabled="@(IsDisableSaveBtn)"*@
                                    <i class="glyphicon fa fa-floppy-o" aria-hidden="true"></i>
                                    Save
                                </button>
                            }
                            break;
                    }

                </div>
            </div><!--/.row-->
            <br>
            <!-- Component: Activity -->

        </div>
    </div>

    <!-- Modal: Deny Application  -->
                                <div class="modal fade" id="modalDeny" tabindex="-1" role="dialog" aria-labelledby="modalDeny" aria-hidden="true">
                                    <div class="modal-dialog modal-md margin-top-100">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                                <h3 class="modal-title" align="center">@UIResource.Confirm</h3>
                                            </div>
                                            <div class="modal-body">
                                                <div class="txt-c" style="padding:10px;">
                                                    <h4>@Html.Raw(UIResource.CommonDenyApplicationConfirm.ToString())</h4>
                                                    <div class="row">
                                                        <div class="col-sm-8 col-sm-offset-2 txt-l">
                                                            <h5><strong>@UIResource.CommonReasons</strong></h5>
                                                            <ul id="denyReasonsList"></ul>
                                                            <h5><strong>@UIResource.CommonAdditionalReasons</strong></h5>
                                                            <textarea id="modelDenyAdditionalReasonInput" class="form-control" rows="3"></textarea>
                                                        </div>
                                                    </div>
                                                </div><!--/row-->
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                                                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                                                    @UIResource.CommonWordNo
                                                </button>
                                                <button type="button" id="modalDenyDenyApplicationBtn" data-status="Denied" class="btn btn-success workflow isDisableWorkFlowBtn btn-lg" data-dismiss="modal">
                                                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                                                    @UIResource.CommonWordYes
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

    <!-- Modal: Send Back to Applicant  -->
                                <div class="modal fade" id="modalApplicant" tabindex="-1" role="dialog" aria-labelledby="modalApplicant" aria-hidden="true">
                                    <div class="modal-dialog modal-md margin-top-100">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                                                <h3 class="modal-title" align="center">@UIResource.Confirm</h3>
                                            </div>
                                            <div class="modal-body">
                                                <div class="txt-c" style="padding:10px;">
                                                    <h4>@Html.Raw(UIResource.CommonSendBacktoApplicantConfirm.ToString())</h4>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                                                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                                                    @UIResource.CommonWordNo
                                                </button>
                                                <button type="button" class="btn btn-success workflow isDisableWorkFlowBtn btn-lg" data-status="BackToApplicant" data-dismiss="modal">
                                                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                                                    @UIResource.CommonWordYes
                                                </button>
                                                <input id="hdnExplicitSave" type="button" style="display:none" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

    <!-- Modal: Place Application on Hold  -->
                                <div class="modal fade" id="modalOnhold" tabindex="-1" role="dialog" aria-labelledby="modalOnhold" aria-hidden="true">
                                    <div class="modal-dialog modal-md margin-top-100">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                                <h3 class="modal-title" align="center">@UIResource.Confirm</h3>
                                            </div>
                                            <div class="modal-body">
                                                <div class="txt-c" style="padding:10px;">
                                                    <h4>@Html.Raw(UIResource.CommonPlaceApplicationonHoldConfirm.ToString())</h4>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                                                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                                                    @UIResource.CommonWordNo
                                                </button>
                                                <button type="button" class="btn btn-success workflow isDisableWorkFlowBtn btn-lg" data-status="OnHold" data-dismiss="modal">
                                                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                                                    @UIResource.CommonWordYes
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

    <!-- Modal: Place Application Off Hold  -->
                                <div class="modal fade" id="modalOffhold" tabindex="-1" role="dialog" aria-labelledby="modalOffhold" aria-hidden="true">
                                    <div class="modal-dialog modal-md margin-top-100">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                                                <h3 class="modal-title" align="center">@UIResource.Confirm</h3>
                                            </div>
                                            <div class="modal-body">
                                                <div class="txt-c" style="padding:10px;">
                                                    <h4>@Html.Raw(UIResource.CommonPlaceApplicationOffHoldConfirm.ToString())</h4>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-dange btn-lg" data-dismiss="modal">
                                                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                                                    @UIResource.CommonWordNo
                                                </button>
                                                <button type="button" class="btn btn-success workflow isDisableWorkFlowBtn btn-lg" data-status="OffHold" data-dismiss="modal">
                                                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                                                    @UIResource.CommonWordYes
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

    <!-- Modal: Assign Application  -->
                                <div class="modal fade" id="modalAssign" tabindex="-1" role="dialog" aria-labelledby="modalAssign" aria-hidden="true">
                                    <div class="modal-dialog modal-md margin-top-100">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                                                <h3 class="modal-title" align="center">@UIResource.Confirm</h3>
                                            </div>
                                            <div class="modal-body">
                                                <div class="txt-c" style="padding:10px;">
                                                    <h4>@Html.Raw(UIResource.CommonAssignApplicationConfirm.ToString())</h4>

                                                    <div class="row">
                                                        <div class="col-sm-6 col-sm-offset-3 txt-l">
                                                            <h5><strong>@UIResource.CommonChooseStaff</strong></h5>
                                                            <select id="listOfStaff" class="form-control isDisableWorkFlowBtn"> </select>
                                                        </div>
                                                    </div><!--/.row-->
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                                                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                                                    @UIResource.CommonWordNo
                                                </button>
                                                <button type="button" id="modalAssignAssignBtn" class="btn btn-success workflow isDisableWorkFlowBtn btn-lg" data-status="Assigned" data-dismiss="modal">
                                                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                                                    @UIResource.CommonWordYes
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

    <!-- Modal: Approve Application  -->
                                <div class="modal fade" id="modalApproveApplication" tabindex="-1" role="dialog" aria-labelledby="modalApproveApplication" aria-hidden="true">
                                    <div class="modal-dialog modal-md margin-top-100">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                                                <h3 class="modal-title" align="center">@UIResource.Confirm</h3>
                                            </div>
                                            <div class="modal-body">
                                                <div class="txt-c" style="padding:10px;">
                                                    <h4>@Html.Raw(UIResource.CommonApproveApplicationConfirm.ToString())</h4>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                                                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                                                            @UIResource.CommonWordNo
                                                        </button>
                                                        <button type="button" id="modalApproveApproveBtn" class="btn btn-success workflow isDisableWorkFlowBtn btn-lg" data-status="Approved" data-dismiss="modal">
                                                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                                                            @UIResource.CommonWordYes
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

    <!-- Modal: Resend welcome email Application  -->
                                <div class="modal fade" id="modalResend" tabindex="-1" role="dialog" aria-labelledby="modalResend" aria-hidden="true">
                                    <div class="modal-dialog modal-md margin-top-100">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                                                <h3 class="modal-title" align="center">@UIResource.Confirm</h3>
                                            </div>
                                            <div class="modal-body">
                                                <div class="txt-c" style="padding:10px;">
                                                    <h4>@Html.Raw(UIResource.CommonResendWelcomeEmailConfirm.ToString())</h4>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                                                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                                                            @UIResource.CommonWordNo
                                                        </button>
                                                        <button type="button" id="modalResendYesBtn" class="btn btn-success btn-lg" data-dismiss="modal" disabled="@(IsResendWelcomeLetterReadonly)">
                                                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                                                            @UIResource.CommonWordYes
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

    <!-- Modal: Update Application  -->
                                <div class="modal fade" id="modalSaveApplication" tabindex="-1" role="dialog" aria-labelledby="modalSaveApplication" aria-hidden="true">
                                    <div class="modal-dialog modal-md margin-top-100">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                                                <h3 class="modal-title" align="center">@UIResource.Confirm</h3>
                                            </div>
                                            <div class="modal-body">
                                                <div class="txt-c" style="padding:10px;">
                                                    <h4>@Html.Raw(UIResource.CommonSaveChangesConfirm.ToString())</h4>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                                                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                                                            @UIResource.CommonWordNo
                                                        </button>
                                                        <button type="button" id="modalSaveDBYesBtn" class="btn btn-success btn-lg" data-dismiss="modal" disabled="@(IsDisableSaveBtn)">
                                                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                                                            @UIResource.CommonWordYes
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

    <!-- Modal: Refresh on Cancel Application  -->
                                <div class="modal fade" id="modalCancelApplication" tabindex="-1" role="dialog" aria-labelledby="modalCancelApplication" aria-hidden="true">
                                    <div class="modal-dialog modal-md margin-top-100">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                                                <h3 class="modal-title" align="center">@UIResource.Confirm</h3>
                                            </div>
                                            <div class="modal-body">
                                                <div class="txt-c" style="padding:10px;">
                                                    <h4>@Html.Raw(@UIResource.CommonCancelChangesConfirm.ToString())</h4>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                                                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                                                            @UIResource.CommonWordNo
                                                        </button>
                                                        <button type="button" class="btn btn-success workflow" id="modalCancelYesBtn btn-lg" data-status="Approved" data-dismiss="modal" disabled="@(IsDisableCancelBtn)">
                                                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                                                            @UIResource.CommonWordYes
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

    <!--Save Modal Fail-->
                                <div class="modal fade" id="modalSaveError" tabindex="-1" role="dialog" aria-labelledby="modalSaveError" aria-hidden="true">
                                    <div class="modal-dialog modal-md margin-top-100">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                                                <h3 class="modal-title" align="center">Warning</h3>
                                            </div>
                                            <div class="modal-body">
                                                <div class="txt-c" style="padding:10px;">
                                                    <h4 id="save-error-text">Changes can't be saved due to limited access on the page.</h4>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-success btn-lg" data-dismiss="modal">
                                                    <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                                                    Ok
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    <!--approve validate warning-->
                                <div class="modal fade" id="modalApproveValidateWarning" tabindex="-1" role="dialog" aria-labelledby="modalSaveError" aria-hidden="true">
                                    <div class="modal-dialog modal-md margin-top-100">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                                                <h3 class="modal-title" align="center">Warning</h3>
                                            </div>
                                            <div class="modal-body">
                                                <div class="txt-c" style="padding:10px;">
                                                    <h4>Validation error: One or more fields are not valid.</h4>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-success btn-lg" data-dismiss="modal">
                                                    <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                                                    Ok
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    <!--Modal-->
    <!-- Modal: Remove Contact Confirmation  -->
                                <div class="modal fade" id="modalRemoveContactConfirmation" tabindex="-1" role="dialog" aria-labelledby="modalRemoveContactConfirmation" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                                    <div class="modal-dialog modal-md margin-top-100">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                                                <h3 class="modal-title" align="center">@UIResource.Confirm</h3>
                                            </div>
                                            <div class="modal-body">
                                                <div class="txt-c" style="padding:10px;">
                                                    <h4 id="contactRemovingMsg"></h4>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                                                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                                                    @UIResource.CommonWordNo
                                                </button>
                                                <button type="button" id="modalRemoveContactYesBtn" class="btn btn-success btn-lg" data-dismiss="modal">
                                                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                                                    @UIResource.CommonWordYes
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                }
<!-- end BeginForm -->
<!-- Modal: Remits per year: 2x  -->
<div aria-hidden="true" aria-labelledby="modalGeneratorOnR" role="dialog" tabindex="-1" id="modalGeneratorOnR" class="modal fade" style="display: none;">
    <div class="modal-dialog modal-md margin-top-100">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                <h3 align="center" id="modalGeneratorOnR" class="modal-title">@UIResource.Confirm</h3>
            </div>
            <div class="modal-body">
                <div style="padding:10px;" class="txt-c">
                    <h4>@Html.Raw(UIResource.StewardRemitaneOn.ToString())</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-danger btn-lg" type="button">
                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                    @UIResource.CommonWordNo
                </button>
                <button id="SRemitsPerYear2x" value="0" data-dismiss="modal" class="btn btn-ram btn-success btn-lg" type="button">
                    @*disabled="@(IsRemitsToggleReadOnly)"*@
                <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                @UIResource.CommonWordYes
            </button>
        </div>
    </div>
</div>
</div>

<!-- Modal: Remits per year: 12x  -->
<div aria-hidden="true" aria-labelledby="modalGeneratorOffR" role="dialog" tabindex="-1" id="modalGeneratorOffR" class="modal fade" style="display: none;">
    <div class="modal-dialog modal-md margin-top-100">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                <h3 align="center" id="modalGeneratorOffR" class="modal-title">
                    @UIResource.Confirm
                </h3>
            </div>
            <div class="modal-body">
                <div style="padding:10px;" class="txt-c">
                    <h4>@Html.Raw(UIResource.StewardRemitaneOff.ToString())</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-ram btn-danger btn-lg" type="button">
                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                    @UIResource.CommonWordNo
                </button>
                <button id="SRemitsPerYear12x" value="1" data-dismiss="modal" class="btn btn-ram btn-success btn-lg" type="button">
                    @*disabled="@(IsRemitsToggleReadOnly)"*@
                <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                @UIResource.CommonWordYes
            </button>
        </div>
    </div>
</div>
</div>

<!-- Modal: MOE On -->
<div aria-hidden="true" aria-labelledby="modalMOEOnR" role="dialog" tabindex="-1" id="modalMOEOnR" class="modal fade" style="display: none;">
    <div class="modal-dialog modal-md margin-top-100">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                <h3 align="center" id="modalMOEOnR" class="modal-title">@UIResource.Confirm</h3>
            </div>
            <div class="modal-body">
                <div style="padding:10px;" class="txt-c">
                    <h4>@UIResource.StewardMOEOnConfirm</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-danger btn-lg" type="button">
                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                    @UIResource.CommonWordNo
                </button>
                <button id="SMOEOn" value="0" data-dismiss="modal" class="btn btn-ram btn-success btn-lg" type="button">
                    @*disabled="@(IsMOEToggleReadOnly)"*@
                <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                @UIResource.CommonWordYes
            </button>
        </div>
    </div>
</div>
</div>

<!-- Modal: MOE Off  -->
<div aria-hidden="true" aria-labelledby="modalMOEOffR" role="dialog" tabindex="-1" id="modalMOEOffR" class="modal fade">
    <div class="modal-dialog modal-md margin-top-100">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                <h3 align="center" id="modalMOEOffR" class="modal-title">@UIResource.Confirm</h3>
            </div>
            <div class="modal-body">
                <div style="padding:10px;" class="txt-c">
                    <h4>@UIResource.StewardMOEOffConfirm</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-danger btn-lg" type="button">
                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                    @UIResource.CommonWordNo
                </button>
                <button id="SMOEOff" value="1" data-dismiss="modal" class="btn btn-ram btn-success btn-lg" type="button">
                    @*disabled="@(IsMOEToggleReadOnly)"*@
                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                    @UIResource.CommonWordYes
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal: Active to Inactive -->
<div class="modal fade comp-claims-summary-submitmodal" id="switchActiveToInactive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                <h3 class="modal-title" id="myModalLabel" align="center">
                    @UIResource.Confirm
                </h3>@*@UIResource.CommonRegistrantStatusChange*@
            </div>
            <div class="modal-body">
                <div style="padding:0 10%;">
                    <p>@Html.Raw(UIResource.CommonActiveInactiveStatusChange.ToString())</p>
                    <label for="">@UIResource.CommonEffectiveDate</label>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group date" id="datetimepickerToInactive">
                                    @Html.TextBoxFor(m => m.ActiveInactive.RegistrantInactive.ActiveStateChangeDate, new
                               {
                                   @class = "form-control",
                                   @id = "InActiveRegistrantStatusChangeEffectiveDate",
                                   @Value = (Model.ActiveInactive.RegistrantInactive.ActiveStateChangeDate != DateTime.MinValue ? string.Format("{0:yyyy-MM-dd}", Model.ActiveInactive.RegistrantInactive.ActiveStateChangeDate) : string.Empty),
                                   @readonly = "readonly",
                                   style = "background:white;"
                               })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                <input type="hidden" class="RegistrantInActiveStatusApprovedDate" value='@string.Format("{0:yyyy-MM-dd}", Model.ActiveInactive.ApprovedDate)' />
                            </div>
                        </div>
                    </div><!--/.row-->
                    <div class="row">
                        <div class="col-md-12">
                            <label>@UIResource.CommonReasons</label><br>
                            <div class="dropdown">
                                @Html.DropDownListFor(m => m.ActiveInactive.RegistrantInactive.Reason, new SelectListItem[]{
                                            new SelectListItem() {Text = "Change in Ownership", Value="Change in Ownership"},
                                            new SelectListItem() {Text = "Change in Legal Name/HST", Value="Change in Legal Name/HST"},
                                            new SelectListItem() {Text = "Suspension - Operations", Value="Suspension - Operations"},
                                            new SelectListItem() {Text = "Suspension - Audit", Value="Suspension - Audit"},
                                            new SelectListItem() {Text = "Documents Pending", Value="Documents Pending"},
                                            new SelectListItem() {Text = "Out of Business", Value="Out of Business"},
                                            new SelectListItem() {Text = "Opted out of the Program", Value="Opted out of the Program"},
                                            new SelectListItem() {Text = "Termination - Operation", Value="Termination - Operation"},
                                            new SelectListItem() {Text = "Termination - Audit", Value="Termination - Audit"},
                                            new SelectListItem() {Text = "Duplicate Registration Account", Value="Duplicate Registration Account"},
                                            new SelectListItem() {Text = "Other", Value="Other"}},
                                            "Select Reason",
                                            new { @class = "form-control", @id = "inactivedropdown" })
                            </div>
                        </div>
                    </div><!--/.row-->
                    <br />
                    <div class="row">
                        <div class="col-md-5">
                            @Html.TextBoxFor(m => m.ActiveInactive.RegistrantInactive.OtherReason, new
                       {
                           @class = "form-control",
                           style = "display:none;",
                           @id = "OtherInActiveStatus",
                           @Value = string.IsNullOrEmpty(Model.ActiveInactive.RegistrantInactive.OtherReason) ? string.Empty : Model.ActiveInactive.RegistrantInactive.OtherReason
                       })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <br>
                            <label for="">New Registration # </label> (if applicable)
                            @Html.TextBoxFor(m => m.ActiveInactive.RegistrantInactive.Description, new { @class = "form-control", @id = "NewRegistrationNumber" })
                        </div>
                    </div><!--/.row-->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger isActInAct btn-lg" data-dismiss="modal" id="modalCancelInactivatebtn">
                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                    @UIResource.CommonWordNo
                </button>
                <button type="button" class="btn btn-success isActInAct btn-lg" data-dismiss="modal" id="modalDeactivatebtn">
                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                    @UIResource.CommonWordYes
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal: Inactive to Active Modal -->
<div class="modal fade comp-claims-summary-submitmodal" id="switchInactiveToActive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                <h3 class="modal-title" id="myModalLabel" align="center">
                    @UIResource.Confirm
                </h3>
            </div>
            <div class="modal-body">
                <div style="padding:0 10%;">
                    <p>@Html.Raw(UIResource.CommonInactiveActiveStatusChange.ToString())</p>
                    <label for="">@UIResource.CommonEffectiveDate</label>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group date" id="datetimepickerToActive">
                                    @Html.TextBoxFor(m => m.ActiveInactive.RegistrantActive.ActiveStateChangeDate, new
                               {
                                   @class = "form-control",
                                   @id = "RegistrantStatusChangeEffectiveDate",
                                   @Value = (Model.ActiveInactive.RegistrantActive.ActiveStateChangeDate != DateTime.MinValue ? String.Format("{0:yyyy-MM-dd}", Model.ActiveInactive.RegistrantActive.ActiveStateChangeDate) : string.Empty),
                                   @readonly = "readonly",
                                   style = "background:white;"
                               })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar" id="dateCal"></span>
                                    </span>
                                </div>
                                <input type="hidden" class="RegistrantActiveStatusApprovedDate" value='@string.Format("{0:yyyy-MM-dd}", Model.ActiveInactive.ApprovedDate)' />
                            </div>
                        </div>
                    </div><!--/.row-->
                    <div class="row">
                        <div class="col-md-12">
                            <label>@UIResource.CommonReasons</label><br>
                            <div class="dropdown">
                                @Html.DropDownListFor(m => m.ActiveInactive.RegistrantActive.Reason, new SelectListItem[]{
                                                        new SelectListItem() {Text = "Other", Value= "Other"}},
                                                        "Select Reason", new { @class = "form-control", @id = "activedropdown" })
                            </div>
                        </div>
                    </div><!--/.row-->
                    <br />
                    <div class="row">
                        <div class="col-md-5">
                            @Html.TextBoxFor(m => m.ActiveInactive.RegistrantActive.OtherReason, new
                       {
                           @class = "form-control",
                           style = "display:none;",
                           @id = "OtherActiveStatus",
                           @Value = string.IsNullOrEmpty(Model.ActiveInactive.RegistrantActive.OtherReason) ? string.Empty : Model.ActiveInactive.RegistrantActive.OtherReason
                       })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger isActInAct btn-lg" data-dismiss="modal" id="modalCancelActivatebtn">
                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                    @UIResource.CommonWordNo
                </button>
                <button type="button" class="btn btn-success isActInAct btn-lg" data-dismiss="modal" id="modalActivateBtn">
                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                    @UIResource.CommonWordYes
                </button>
            </div>
        </div>
    </div>
</div>


@section scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-webui-popover")

    <script type="text/javascript">
        //list of Resources text needed

        Global = {};
        Global.StaffIndex = {
            ExportToPdfUrl: '@Url.Action("GeneratePDF", "Registration", new { id = @ViewBag.Id })',
            Resources: {
                DateTimeFormat: '@dateTimeFormat'
            },
            Model: {
                InvalidFormFields: [ @Html.Raw(invalidListStr)],
                Status: '@statusStr',
                IsReadOnly: '@isReadOnly'
            },
            ParitalViewData: {
                serverURL1: '/Steward/Registration/VendorActiveHistory',
            },

            Settings: {
                status: '@Model.StatusString',
                vendorID: '@Model.VendorID',
                ApplicationStatus: {
                    Approved: '@ApplicationStatusEnum.Approved.ToString()',
                    Submitted: '@ApplicationStatusEnum.Submitted.ToString()',
                    Assigned: '@ApplicationStatusEnum.Assigned.ToString()',
                    OnHold: '@ApplicationStatusEnum.OnHold.ToString()',
                    BankInformationSubmitted: '@ApplicationStatusEnum.BankInformationSubmitted.ToString()',
                    BankInformationApproved: '@ApplicationStatusEnum.BankInformationApproved.ToString()',
                    Completed: '@ApplicationStatusEnum.Completed.ToString()'
                },
                afterApproveRedirectUrl: '@Url.Action("CustomerIndex", "Registration", new { cId = "111" })',
                IsApprovedApplication: '@statusStr' == '@ApplicationStatusEnum.Approved.ToString()' || '@statusStr' == '@ApplicationStatusEnum.BankInformationSubmitted.ToString()' || '@statusStr' == '@ApplicationStatusEnum.BankInformationApproved.ToString()', //OTSTM2-50
            },
            Security: {
                IsAnyNoAccess: '@ApplicationHelper.IsAnyPanelNoAccess(rolePermissionsClaims)',
                IsAnyPanelEditSave: '@ApplicationHelper.IsAnyPanelEditSave(rolePermissionsClaims)',
                IsStewardAutoSaveDisabled: '@ApplicationHelper.IsStewardAutoSaveDisabled(rolePermissionsClaims)',
                StewardDetailsCalendarReadonly: '@(isReadOnly || ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsStewardApplicationStewardDetails) == CL.TMS.Security.SecurityResultType.ReadOnly)'
            }
        };
        $(function () {
            $("#activeGreenButton1").prop("disabled","@(IsRemitsToggleReadOnly)"=="True");
            $("#inactiveRedButton1").prop("disabled", "@(IsRemitsToggleReadOnly)" == "True");
            $("#SRemitsPerYear2x").prop("disabled", "@(IsRemitsToggleReadOnly)" == "True");
            $("#SRemitsPerYear12x").prop("disabled", "@(IsRemitsToggleReadOnly)" == "True");

            $("#activeGreenButton2").prop("disabled", "@(IsMOEToggleReadOnly)" == "True");
            $("#inactiveRedButton2").prop("disabled", "@(IsMOEToggleReadOnly)" == "True");
            $("#SMOEOn").prop("disabled", "@(IsMOEToggleReadOnly)" == "True");
            $("#SMOEOff").prop("disabled", "@(IsMOEToggleReadOnly)" == "True");


            $("#resendBtn").prop("disabled", "@(IsResendWelcomeLetterReadonly)" == "True");
            $("#modalResendYesBtn").prop("disabled", "@(IsResendWelcomeLetterReadonly)" == "True");
            $("#saveBtn").prop("disabled", "@(IsDisableSaveBtn)" == "True");
            $("#modalSaveDBYesBtn").prop("disabled", "@(IsDisableSaveBtn)" == "True");
            $("#cancelBtn").prop("disabled", "@(IsDisableCancelBtn)" == "True");
            $("#modalCancelYesBtn").prop("disabled", "@(IsDisableCancelBtn)" == "True");

            $(".isActInAct").prop("disabled", "@(isActiveInactiveReadOnly)" == "True");
            $(".isDisableWorkFlowBtn").prop("disabled", "@(IsDisableWorkFlowBtn)" == "True");
        });
    </script>
    @Scripts.Render("~/bundles/applicationcommon")
    @Scripts.Render("~/bundles/steward-application-staff")
}