﻿@using Newtonsoft.Json
@model System.Collections.Generic.List<CL.TMS.DataContracts.DomainEntities.ReportCategory>

@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var categories = JsonConvert.SerializeObject(Model);
}

@section styles {
    <link href="~/css/jquery.dataTables.css" rel="stylesheet">
    <style>
    </style>
}

<div class="tm-all staff-all-claims staff-all-claims-dashboard" id="reportListPage">
    <div id="fixedClaimHeader" class="row comp-claims-header comp-variant-staff fixed-claim-header">
        <div class="col-xs-7 col-sm-6">
            <h2 class="fixed-claim-header-title">Reports</h2>
        </div>
        <div class="col-xs-5 col-sm-6">
        </div>
    </div><!--/.row-->
    <div class="panel-container-other">
        @for (int i = 0; i < Model.Count; i++)
        {
            var isEven = i % 2;
            if (isEven == 0)
            {
                @:<div class="row">
            }
            <div class="col-md-6">
                <div class="panel panel-default userpanel">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href='#panelAuditorOne-collapseInventory@(Model[i].ID)' aria-expanded="false" aria-controls="panelAuditorOne-collapseInventory" class="panel-arrow-expand">
                                <img src="../../gui/shared/tm-participant-icon-@(Model[i].ReportCategoryName).png" class="userphoto">
                                <span class="username">
                                    @Model[i].ReportCategoryName
                                </span>
                                <span class="userstatus color-tm-blue"></span>
                            </a>
                        </h4>
                    </div>
                    <div id='panelAuditorOne-collapseInventory@(Model[i].ID)' class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelAuditorOne-headingOne">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-hover" class="glyphicon glyphicon-cog" style="margin-right:5px;">
                                        <tbody>
                                            @foreach (var report in Model[i].Reports)
                                            {
                                                <tr>                                                   
                                                    <td style="cursor:pointer" onclick="window.open('/System/Reports/ReportDetails/@report.ID','_self')">
                                                        @report.ReportName
                                                        <span>
                                                            <i class="fa fa-question-circle" item-id="@(report.ID)" data-target="webuiPopover0"></i>
                                                        </span>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div><!--/.row-->
                        </div>
                    </div>
                </div><!--/.panel-->
            </div>

            if (isEven != 0)
            {
                @:</div><!-- end row -->
            }
        }
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        Global = {};
        Global.GP = {};
        Global.Settings = {           
            popover: {
                trigger: 'hover',
                multi: true,
                closeable: true,
                style: 'center',
                width: '740',
                height:'auto',
                delay: { show: 300, hide: 500 },
                padding: true,
                placement: 'auto'
            },
        };
        //for Report ToolTip popover
        $(document).ready(function() {
             var isFirstLeftTooltip=false;
             $.each(@Html.Raw(categories),function(index,category){
                 $.each(category.Reports,function (reportIndex,report) {     
                     var toolTipItem=$('.fa-question-circle[item-id="'+report.ID+'"]');
                     if (report.Description) {
                         //top right first toop tip position set it as bottom. the other set as auto.&& reportIndex==0 
                        Global.Settings.popover.placement = index==1 ? 'left' :'auto';
                        $(toolTipItem).webuiPopover('destroy')
                            .webuiPopover($.extend({}, Global.Settings.popover, { content: report.Description ,title:report.ReportName}));                               
                    } else {
                        $(toolTipItem).hide();
                    }
                });
            });
        });

    </script>
    @Scripts.Render("~/bundles/jquerydatatable")
    @Scripts.Render("~/bundles/angular-datatables-scroller")
    @Scripts.Render("~/bundles/angulardatatable")
    @*<script type="text/javascript" src="~/Areas/System/Scripts/Reports/reports-app.js?v=@ViewBag.versionid"></script>*@    
}