﻿
<table id="tblTSFInternalAdjusList" @*class="tableInternalAdjustment"*@ class="table table-hover display truncate datatable-100-perc narrow-width">
    <thead>
        <tr>
            <th>Date&nbsp;</th>
            <th>Type&nbsp;</th>
            <th>Note&nbsp;</th>
            <th>Added&nbsp;By&nbsp;</th>
            <th>Actions</th>
            <th class="display-none">InternalAdjustmentId</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<br />
<div class="row">
    <div class="col-md-6">
        <a id="viewmoreInternalAdj" href="javascript:void(0)" class="viewmore" style="display:inline-block">More</a>
    </div>
    <div class="col-md-6 txt-r">
        <button type="button" class="btn btn-success btn-navigation color-tm-green-bg btn-add margin-top--20" ng-click="tsfInternalAdjustments()" ng-disabled="DisableInternalAdjustmentsBtn">+</button>
    </div>
</div>
