﻿@model CL.TMS.DataContracts.ViewModel.Steward.TSFRemittanceModel
@using CL.TMS.Common.Enum

@{
    var SubmittedDate = (null == Model.SubmittedDate) ? string.Empty : Convert.ToDateTime(Model.SubmittedDate).ToShortDateString();

    var isInvalid = (List<string>)ViewData["invalidFormFieldList"];
    var prefix = ViewData["prefix"];
    var TSFNegAdjSwitchDate = Convert.ToDateTime(CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Settings.TSFNegAdjSwitchDate").Value);

    var TSFCreditSplitDate = Convert.ToDateTime(CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Settings.TSFCreditSplitDate").Value);

    Decimal creditSumCurrMonth = 0, creditSumPrevMonths = 0;
    var bApplyCreditSplit = Model.PeriodDate >= TSFCreditSplitDate && (Model.SRemitsPerYears ?? false);
    var sCreditLabel = bApplyCreditSplit ? "Credit - Current Period" : "Credit";
    if (Model.LineItems != null)
    {
        if (bApplyCreditSplit)
        {
            creditSumCurrMonth = Model.LineItems.Where(c => c.CreditTSFDue > 0 && c.NegativeAdjDate.Value.Date == Model.PeriodDate.Value.Date).Sum(c => c.CreditTSFDue);
            creditSumPrevMonths = Model.LineItems.Where(c => c.CreditTSFDue > 0 && c.NegativeAdjDate.Value.Date != Model.PeriodDate.Value.Date).Sum(c => c.CreditTSFDue);
        }
        else
        {
            creditSumCurrMonth = Model.LineItems.Where(c => c.CreditTSFDue > 0).Sum(c => c.CreditTSFDue);
        }
    }
    var internalPaymentAdjustment = Model.InternalPaymentAdjustment ?? 0; //OTSTM2-485

    //creditSumCurrMonth needs to be subtracted only for old tsf claims, for the ones created after split TSF due already includes effective credit changes
    decimal total = (Model.TotalTSFDue ?? 0) + internalPaymentAdjustment - (bApplyCreditSplit ? 0 : creditSumCurrMonth); //OTSTM2-485
    bool bEnableChkbox = ViewBag.AllowEdit && (Model.Status != ClaimStatus.Approved);//(CL.TMS.Security.Authorization.SecurityContextHelper.IsStaff()) && (Model.Status != ClaimStatus.Approved);

    //Alessandra asked to hide tsf due for the cases (participant side) where single credit line is shown
    var styleHideRow = Model.PeriodDate >= TSFNegAdjSwitchDate && !bApplyCreditSplit ? "display: none;" : "";
}

<input type="hidden" id="hdApplyCreditSplit" value="@bApplyCreditSplit.ToString()" />
<input type="hidden" id="hdTotalRemittancePayable" value="@Model.TotalRemittancePayable" />


<div class="panel-heading" role="tab" id="panelOne-headingOne">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="http://preview.ontariots.ca/tm/permalinks/staff-all-steward-tsf-remittance.html#panelOne-collapseStatus" aria-expanded="true" aria-controls="panelOne-collapseStatus" class="panel-arrow-expand">
            Payments
        </a>
        <a id="exportPayments" class="export payment-export" title="Export to CSV" href=''><i class="fa fa-file-text-o fa-fw uiaction-export"></i></a>
    </h4>
</div>
<div id="panelOne-collapseStatus" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelOne-headingOne">
    <div class="panel-body" style="padding-top:0;margin-top:0;">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th style="text-align:right">Payment ($)</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tire Counts</td>
                            <td class="textinput-nofield txt-r" id="tbTireCounts">
                                @Html.LabelFor(m => m.TotalRemittancePayable, String.Format("{0:#,###,##0.00}", Model.TotalRemittancePayable))
                            </td>
                            <td class="text-r">
                                &nbsp;
                            </td>
                        </tr>
                        @if (Model.PeriodDate >= TSFNegAdjSwitchDate)
                        {
                            if (creditSumCurrMonth > 0)
                            {
                                <tr style="color:red">
                                    <td>@sCreditLabel</td>
                                    <td class="textinput-nofield txt-r" id="tdCredit">
                                        <span id="spnCredit" class="spn-credit">@String.Format("{0} {1:#,###,##0.00}", "-", creditSumCurrMonth)</span>
                                    </td>
                                    <td class="text-r">
                                        &nbsp;
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>@sCreditLabel</td>
                                    <td class="textinput-nofield txt-r" id="tdCredit">
                                        <span id="spnCredit" class="spn-credit">@String.Format("{0:#,###,##0.00} ", creditSumCurrMonth)</span>
                                    </td>
                                    <td class="text-r">
                                        &nbsp;
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td>Subtotal</td>
                                <td class="textinput-nofield txt-r" id="tbSubtotal">
                                    <span id="spnCredit" class="spn-credit">@String.Format("{0:#,###,##0.00} ", (Model.TotalRemittancePayable - creditSumCurrMonth))</span>
                                </td>
                                <td class="text-r">
                                    &nbsp;
                                </td>
                            </tr>
                        }
                        <tr>                          
                            @{ //OTSTM2-1360
                                if (Model.IsHstAccountNumberShowable && !string.IsNullOrEmpty(Model.HstAccountNumber))
                                {
                                    <td>HST # <span style="white-space:nowrap">@Model.HstAccountNumber</span></td>
                                }
                                else
                                {
                                    <td>HST</td>
                                }
                            }
                            <td class="textinput-nofield txt-r">
                                @Html.TextBoxFor(m => m.ApplicableTaxesHst, new { @class = "form-control txt-r totCalculation", maxlength = "10", placeholder = "", @readonly = "true", style = "min-width: 110px;" })
                            </td>
                            <td class="text-r" style="white-space: nowrap">
                                <label class="checkbox-inline">
                                    @if (bEnableChkbox)
                                    {
                                        @Html.CheckBoxFor(m => m.IsTaxApplicable, new { @class = "cbSomething ", id = "IsTaxApplicable" })
                                    }
                                    else
                                    {
                                        @Html.CheckBoxFor(m => m.IsTaxApplicable, new { @class = "cbSomething ", id = "IsTaxApplicable", @disabled = "disabled" })
                                    }
                                    Apply
                                </label>
                                
                            </td>
                        </tr>
                        @if (Model.PeriodDate >= TSFNegAdjSwitchDate && bApplyCreditSplit)
                        {
                            if (creditSumPrevMonths > 0)
                            {
                                <tr style="color:red">
                                    <td>Credit - Previous Periods</td>
                                    <td class="textinput-nofield txt-r" id="tdCreditPrevMonths">
                                        <span id="spnCreditPrevMonths" class="spn-credit">@String.Format("{0} {1:#,###,##0.00}", "-", creditSumPrevMonths)</span>
                                    </td>
                                    <td class="text-r">
                                        &nbsp;
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>Credit - Previous Periods</td>
                                    <td class="textinput-nofield txt-r" id="tdCreditPrevMonths">
                                        <span id="spnCreditPrevMonths" class="spn-credit">@String.Format("{0:#,###,##0.00} ", creditSumPrevMonths)</span>
                                    </td>
                                    <td class="text-r">
                                        &nbsp;
                                    </td>
                                </tr>
                            }
                            //Total Credit
                            if ((creditSumPrevMonths+creditSumCurrMonth) > 0)
                            {
                                <tr style="color:red">
                                    <td>Total Credit</td>
                                    <td class="textinput-nofield txt-r" id="tdCreditTotal">
                                        <span id="spnCreditTotal" class="spn-credit">@String.Format("{0} {1:#,###,##0.00}", "-", creditSumPrevMonths + creditSumCurrMonth)</span>
                                    </td>
                                    <td class="text-r">
                                        &nbsp;
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>Total Credit</td>
                                    <td class="textinput-nofield txt-r" id="tdCreditTotal">
                                        <span id="spnCreditTotal" class="spn-credit">@String.Format("{0:#,###,##0.00} ", creditSumPrevMonths + creditSumCurrMonth)</span>
                                    </td>
                                    <td class="text-r">
                                        &nbsp;
                                    </td>
                                </tr>
                            }
                        }

                        <tr>
                            <td>
                                Penalties
                                @{ if (!string.IsNullOrEmpty(Model.PenaltyTooltipText))
                                    {
                                        <i id="penalties-popover" class="fa fa-question-circle color-tm-gray popoverPenalties" data-placement="bottom-right" title="" data-popovertext="@Model.PenaltyTooltipText"></i>
                                    }
                                }
                            </td>
                            <td class="textinput-nofield txt-r">
                                @Html.TextBoxFor(m => m.Penalties, new { @class = "form-control txt-r totCalculation", maxlength = "10", placeholder = "", @readonly = "readonly" })
                            </td>
                            <td class="text-r" style="white-space: nowrap">
                                <label class="checkbox-inline">
                                    @if (bEnableChkbox)
                                    {
                                        @Html.CheckBoxFor(m => m.IsPenaltyOverride, new { @class = "cbSomething ", id = "IsPenaltyOverride" })
                                    }
                                    else
                                    {
                                        @Html.CheckBoxFor(m => m.IsPenaltyOverride, new { @class = "cbSomething ", id = "IsPenaltyOverride", @disabled = "disabled" })
                                    }
                                    Override
                                </label>
                               
                            </td>

                        </tr>                       

                        <tr style="@styleHideRow">
                            <td>TSF Due</td>
                            <td class="textinput-nofield txt-r" id="tdTotal">                              
                                <span id="spnTotal" class="spn-tsfdue">@String.Format("{0:#,###,##0.00}", Model.TotalTSFDue)</span>                    
                            </td>
                            <td class="text-r">
                                
                            </td>                           
                        </tr>

                        <tr>
                            <td>Payment Adjustments</td>
                            <td class="textinput-nofield txt-r" id="tdPaymentAdjustment">                               
                                <span id="spnTotal" class="spn-paymentadj">@String.Format("{0:#,###,##0.00}", internalPaymentAdjustment)</span>                               
                            </td>
                            <td class="text-r">
                               
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Total</strong></td>
                            <td class="textinput-nofield txt-r" id="tdPaymentAdjustment">
                                <strong>
                                    <span id="spnTotal">@String.Format("{0:#,###,##0.00}", total)</span>
                                </strong>                             
                            </td>      
                            <td class="text-r">
                                &nbsp;
                            </td>                     
                        </tr>
                    </tbody>
                </table>
                <hr>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Submitted</td>
                            @if (Model.Status == ClaimStatus.Unknown)
                            {
                                <td class="textinput-nofield txt-r">@SubmittedDate</td>
                            }
                            else
                            {
                                <td class="textinput txt-r">
                                    <div class="input-group date" id="dpSubmittedDate">
                                        @Html.TextBoxFor(m => m.SubmittedDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @readonly = "readonly", placeholder = "" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </td>
                            }

                        </tr>
                        <tr>
                            <td>Payment Received</td>
                            @if ((Model.LineItems == null || Model.LineItems.Count == 0) && Model.InternalPaymentAdjustmentCount == 0) //OTSTM2-485 add one more condition for internal adjustment
                            {
                                <td class="textinput-nofield txt-r" id="PayReceiptDate"></td>
                            }
                            else
                            {
                                <td class="textinput txt-r">
                                    <div class="input-group date" id="dpPaymentReceivedDate">
                                        @Html.TextBoxFor(m => m.PayReceiptDate, "{0:yyyy-MM-dd}", new { @class = "form-control handcursor", @readonly = "readonly", placeholder = "" }) @*OTSTM2-485 add class "handcursor"*@
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </td>
                            }

                        </tr>
                        <tr>
                            <td>Deposit</td>
                            @if ((Model.LineItems == null || Model.LineItems.Count == 0) && Model.InternalPaymentAdjustmentCount == 0) //OTSTM2-485 add one more condition for internal adjustment
                            {
                                <td class="textinput-nofield txt-r" id="PayDepositDate"></td>
                            }
                            else
                            {
                                <td class="textinput-nofield txt-r">
                                    <div class="input-group date" id="dpPaymentDepositDate">
                                        @Html.TextBoxFor(m => m.PayDepositDate, "{0:yyyy-MM-dd}", new { @class = "form-control handcursor", @readonly = "readonly", placeholder = "" }) @*OTSTM2-485 add class "handcursor"*@

                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </td>
                            }

                        </tr>
                        <tr>
                            <td>Payment Type</td>
                            <td class="textinput-nofield txt-r" style="text-align:center">
                                @Html.RadioButtonFor(m => m.PaymentType, "C", new { @class = "radioPaymentType", @id="radioPaymentTypeC" })
                                Cheque
                                @Html.RadioButtonFor(m => m.PaymentType, "E", new { @class = "radioPaymentType", @id = "radioPaymentTypeE" })
                                EFT
                                @Html.RadioButtonFor(m => m.PaymentType, "O", new { @class = "radioPaymentType", @id = "radioPaymentTypeO" })
                                Online
                            </td>
                        </tr>
                        <tr>
                            <td>Currency Type</td>
                            <td class="textinput-nofield txt-r" style="text-align:center">
                                @Html.RadioButtonFor(m => m.CurrencyType, "CAD", new { @class = "radioCurrencyType", @id = "radioCurrencyTypeCAD" })
                                CAD
                                @Html.RadioButtonFor(m => m.CurrencyType, "USD", new { @class = "radioCurrencyType", @id = "radioCurrencyTypeUSD" })
                                USD
                            </td>
                        </tr>
                        <tr>
                            <td>Cheque/EFT #</td>
                            @if ((Model.LineItems == null || Model.LineItems.Count == 0) && Model.InternalPaymentAdjustmentCount == 0) //OTSTM2-485 add one more condition for internal adjustment
                            {
                                <td class="textinput-nofield txt-r" id="ChequeReferenceNumber"></td>
                            }
                            else
                            {
                                <td class="textinput-nofield txt-r">
                                    @Html.TextBoxFor(m => m.ChequeReferenceNumber, new { @class = "form-control", maxlength = "20", placeholder = "", @readonly = "readonly" })
                                </td>
                            }
                        </tr>
                        <tr>
                            <td>Payment ($)</td>
                            @if ((Model.LineItems == null || Model.LineItems.Count == 0) && Model.InternalPaymentAdjustmentCount == 0) //OTSTM2-485 add one more condition for internal adjustment
                            {
                                <td class="textinput-nofield txt-r" id="PaymentAmount">@Model.PaymentAmount</td>
                            }
                            else
                            {
                                <td class="textinput-nofield txt-r">
                                    @Html.TextBoxFor(m => m.PaymentAmount, new { @class = "form-control txt-r totCalculation", maxlength = "10", placeholder = "", @readonly = "readonly", @pattern = "/^-?[0-9]+(\\.[0-9]{1,2})?$/" })
                                </td>
                            }

                        </tr>
                        <tr>
                            <td>Balance Due ($)</td>
                            @if (Model.BalanceDue != null)
                            {
                                <td class="txt-r">
                                    <p>
                                        <strong>
                                            <span id="spnBalDue" style="font-weight:normal">@(Model.BalanceDue.Value.ToString("#,###,##0.00"))</span>
                                        </strong>

                                    </p>
                                </td>
                            }
                            else
                            {
                                <td class="txt-r">
                                    <p>
                                        <strong>
                                            <span id="spnBalDue" style="font-weight:normal">0.00</span>
                                        </strong>

                                    </p>
                                </td>
                            }
                        </tr>
                        <tr>
                            <td>Batch #</td>
                            <td class="textinput-nofield txt-r">
                                @if (Model.BatchNumber != 0)
                                { @Model.BatchNumber}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!--/.row-->
    </div>
</div>

<script type='text/javascript'>
    $(document).ready(function () {
        initialPage();
    });
</script>

