﻿<!-- Modal: Confirm Load Remittance  -->
<div style="display: none;" class="modal fade margin-top-100" id="modalOpenRemittance" tabindex="-1" role="dialog" aria-labelledby="modalOpenRemittance" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-le">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalOpenRemittance" align="center">Confirm</h3>
            </div>
            <div class="modal-body">
                <div class="txt-c">
                    <h4 class="margin-top-20">
                        Are you sure you want to open <label id="periodName" >MONTH YEAR.</label> Remittance?
                    </h4>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                            No
                        </button>
                        <button type="button" id="btnYesOpenRemittance" class="btn btn-success btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                            Yes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal: Inactive Steward Warning: Participant -->
<div style="display: none;" class="modal fade margin-top-100" id="modalInactiveStewardParticipant" tabindex="-1" role="dialog" aria-labelledby="modalInactiveStewardParticipant" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-le">
                <button type="button" class="close close-inactive-steward-modal" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalInactiveStewardParticipant" align="center">Warning</h3>
            </div>
            <div class="modal-body">
                <div class="txt-c">
                    <h4 id="createTSFRemittanceMsg" class="margin-top-20">
                        Your account is no longer Active. <br />Please contact @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.Name").Value at @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.Phone").Value.
                    </h4>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <button id="btnCloseInactiveStewardModal" type="button" class="btn btn-success btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                            Ok
                        </button>                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal: Inactive Steward Warning: Staff -->
<div style="display: none;" class="modal fade margin-top-100" id="modalInactiveStewardStaff" tabindex="-1" role="dialog" aria-labelledby="modalInactiveStewardStaff" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-le">
                <button type="button" class="close close-inactive-steward-modal" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalInactiveStewardStaff" align="center">Warning</h3>
            </div>
            <div class="modal-body">
                <div class="txt-c">
                    <h4 id="createTSFRemittanceMsgStaff" class="margin-top-20">
                        This account is no longer Active.
                    </h4>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <button id="btnCloseInactiveStewardModal" type="button" class="btn btn-success btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                            Ok
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
