        <div class="sidebar">
          <ul class="nav nav-sidebar">
            <li class="menu-item search">
              <i id="collapsed-search-icon" class="glyphicon glyphicon-search"></i>
              <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
              </form>
            </li>
            <li class="menu-item">
              <a href="staff-all-transactions.html">
                <i class="glyphicon glyphicon-random"></i><span class="title">Transactions</span>
              </a>
            </li>
            <!--<li class="menu-item">
              <a href="staff-all-communications.html">
                <i class="glyphicon glyphicon-comment"></i><span class="title">Communications</span>
              </a>
            </li>-->
            <li class="menu-item">
              <a href="staff-all-users.html">
                <i class="glyphicon glyphicon-user"></i><span class="title">Users</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="staff-all-ipads_qrcodes-fleet.html">
                <i class="glyphicon glyphicon-send"></i><span class="title">iPads + QR Codes</span>
              </a>
            </li>
            <!--<li class="menu-item">
              <a href="staff-all-audits.html">
                <i class="glyphicon glyphicon-eye-open"></i><span class="title">Audit</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="#">
                <i class="glyphicon glyphicon-flag"></i><span class="title">Change Log</span>
              </a>
            </li>-->
            <li class="menu-item">
              <a href="#">
                <i class="fa fa-sign-out"></i><span class="title">Logout</span>
              </a>
            </li>
          </ul>
        </div><!--/.sidebar-->