
        <ul class="nav navbar-nav">
          <li class="popoverNotificationsNavBar" data-placement="auto"><a href="#" class="notifications-navbar-badge"><i class="fa fa-inbox fa-2x color-tm-white"></i><div class="badge color-tm-red-bg">17</div></a></li>
            <div id="popoverNotificationsNavBar" style="display:none;">
              <table class="table table-hover" class="glyphicon glyphicon-cog" style="margin-right:5px;" data-toggle="modal" data-target="#myModal">
                  <thead>
                    <tr>
                      <th colspan="2">Notifications</th>
                     </tr>
                  </thead>
                  <tbody>
                    <tr class="cursor-pointer">              
                      <td><strong class="color-tm-gray">DOT Approval</strong> Your DOT request has been approved.</td>
                      <td class="color-tm-gray">2 minutes ago</td>
                    </tr>
                    <tr class="cursor-pointer">              
                      <td><strong class="color-tm-gray">STC Request</strong> An STC assigned to you requires your review.</td>
                      <td class="color-tm-gray">1 day ago</td>
                    </tr>
                    <tr class="cursor-pointer">              
                      <td><strong class="color-tm-gray">DOT Approval</strong> Your DOT request has been approved.</td>
                      <td class="color-tm-gray">9 days ago</td>
                    </tr>
                    <tr class="cursor-pointer">              
                      <td><strong class="color-tm-gray">STC Request</strong> An STC assigned to you requires your review.</td>
                      <td class="color-tm-gray">11 days ago</td>
                    </tr>
                  </tbody>
                </table>
            </div>
          <li class="active"><a href="index.html" title="Dashboard"><i class="fa fa-tachometer fa-2x" style="font-size:150%;"></i></a></li>
          <li><a href="index.html" title="Calendar"><i class="fa fa-calendar fa-2x" style="font-size:150%;"></i></a></li>
          <li><a href="index.html" title="News &amp; Announcements"><i class="fa fa-bullhorn fa-2x" style="font-size:150%;"></i></a></li>
        </ul>


    <!-- This duplicate loading of CSS, JS, and Scripts below is only for Demo purposes. We should load each wehre approriate: CSS in header & JS near the end of </body> tag.  -->

    <!-- Plugin: WebUI Popover -->
    <link href="assets/plugins/webui-popover-1.1.2/dist/jquery.webui-popover.min.css" rel="stylesheet">    

    <!-- Plugin: WebUI Popover -->
    <script src="assets/plugins/webui-popover-1.1.2//dist/jquery.webui-popover.min.js"></script>

    <script>
      (function(){

        // Popover Setup
        var settings = {
            trigger:'hover',
            //title:'Pop Title',
            //content:'<p>This is webui popover demo.</p><p>just enjoy it and have fun !</p>',
            //width:300,            
            multi:true,           
            style:'',
            delay:{show:300,hide:800},
            padding:true
          };

          // Popover: Notifications: Nav Bar
          var popoverNotificationsNavBarContent = $('#popoverNotificationsNavBar').html(),
            popoverNotificationsNavBarSettings = {content:popoverNotificationsNavBarContent,
                      width:700
                    };
          var popLargeLBN = $('.popoverNotificationsNavBar').webuiPopover('destroy').webuiPopover($.extend({},settings,popoverNotificationsNavBarSettings));

      })();
    </script>   