
 <i class="fa fa-file-excel-o fa-fw uiaction-export" title="Export to Excel"></i></h2>
 <i class="fa fa-file-pdf-o fa-fw uiaction-export" title="Export to PDF"></i>(only used in QRcodes)
 <i class="fa fa-file-text-o fa-fw uiaction-export" title="Export to CSV"></i>

Actions
          <td class="td-c">
            <div class="btn-group dropdown-menu-actions">
              <a data-toggle="dropdown" href="#">
                <i class="glyphicon glyphicon-cog"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#" data-toggle="modal" data-target="#modalUnassigniPad"><i class="fa fa-pencil-square-o"></i> Adjust</a></li>
                <li><a href="#" data-toggle="modal" data-target="#modalUnassigniPad"><i class="fa fa-times"></i> Remove</a></li>
              </ul>
            </div>
          </td>


[  +  ] Add button 
<button type="button" class="btn btn-success color-tm-green-bg btn-xs btn-add" data-toggle="modal" data-target="#">+</button>


Drop Down
<select class="form-control">
  <option>Option</option>
  <option>Option</option>
  <option>Option</option>
  <option>Option</option>
  <option>Option</option>
</select>

==== Latest ====  ==== Latest ====  ==== Latest ====




        DOCUMENTS 

        <div class="row">
          <div class="col-sm-12">
            <label>Upload Documents</label><br><br> 
              <table id="filesToUploadGrid" class="table table-striped">
                <tbody>
                  <tr class="template-download fade in">
                    <td style="width:30%"><p class="name"><a>File name one.jpg</a></p></td>
                    <td style="width:40%"><input type="input" style="width:100%" class="form-control document-name" placeholder="Description" maxlength="512"></td>
                    <td style="width:20%" class="txt-r"><span class="size">7.38 KB</span></td>
                    <td style="width:10%" class="txt-c"><button class="btn btn-danger delete btn-sm"><strong>X</strong></button></td>
                  </tr>
                  <tr class="template-download fade in">
                    <td style="width:30%"><p class="name"><a>HST number Certificate.pdf</a></p></td>
                    <td style="width:40%"><input type="input" style="width:100%" class="form-control document-name" placeholder="Description" maxlength="512"></td>
                    <td style="width:20%" class="txt-r"><span class="size">9.43 KB</span></td>
                    <td style="width:10%" class="txt-c"><button class="btn btn-danger delete btn-sm"><strong>X</strong></button></td>
                  </tr>
                  <tr class="template-download fade in">
                    <td style="width:30%"><p class="name"><a>CVOR Abstract Level II copy.docx</a></p></td>
                    <td style="width:40%"><input type="input" style="width:100%" class="form-control document-name" placeholder="Description" maxlength="512"></td>
                    <td style="width:20%" class="txt-r"><span class="size">83.29 KB</span></td>
                    <td style="width:10%" class="txt-c"><button class="btn btn-danger delete btn-sm"><strong>X</strong></button></td>
                  </tr>
                  <tr class="template-download fade in">
                    <td style="width:30%"><p class="name"><a>Picture File One.gif</a></p></td>
                    <td style="width:40%"><input type="input" style="width:100%" class="form-control document-name" placeholder="Description" maxlength="512"></td>
                    <td style="width:20%" class="txt-r"><span class="size">17.68 KB</span></td>
                    <td style="width:10%" class="txt-c"><button class="btn btn-danger delete btn-sm"><strong>X</strong></button></td>
                  </tr>
                  <tr class="template-download fade in">
                    <td style="width:30%"><p class="name"><a>Copy from copy_343.xls</a></p></td>
                    <td style="width:40%"><input type="input" style="width:100%" class="form-control document-name" placeholder="Description" maxlength="512"></td>
                    <td style="width:20%" class="txt-r"><span class="size">125.99 KB</span></td>
                    <td style="width:10%" class="txt-c"><button class="btn btn-danger delete btn-sm"><strong>X</strong></button></td>
                  </tr>
                </tbody>
              </table>
              <div class="dropzone" style="min-height: 140px">
              </div>
            </div>
          </div><!--/.row-->



          <div class="row">
            <div class="col-sm-12">
              <label>Upload Documents</label><br><br> 
                <table id="filesToUploadGrid" class="table table-striped">
                  <tbody>
                    <tr class="template-download fade in">
                      <td style="width:30%"><p class="name"><input type="checkbox" checked> <a>File name one.jpg</a></p></td>
                      <td style="width:40%"><p>Description</p></td>
                      <td style="width:20%" class="txt-r"><span class="size">7.38 KB</span></td>
                      <td style="width:10%" class="txt-c"><button class="btn btn-success color-tm-green-bg btn-sm"><strong>Download</strong></button></td>
                    </tr>
                    <tr class="template-download fade in">
                      <td style="width:30%"><p class="name"><p class="name"><input type="checkbox" checked> <a>HST number Certificate.pdf</a></p></td>
                      <td style="width:40%"><p>Description</p></td>
                      <td style="width:20%" class="txt-r"><span class="size">9.43 KB</span></td>
                      <td style="width:10%" class="txt-c"><button class="btn btn-success color-tm-green-bg btn-sm"><strong>Download</strong></button></td>
                    </tr>
                  </tbody>
                </table>
                <div class="dropzone" style="min-height: 140px">
                </div>
              </div>
            </div><!--/.row-->



        <div class="row">
          <div class="col-sm-12">
            <label>Upload Documents</label><br><br> 
              <table id="filesToUploadGrid" class="table table-striped">
                <tbody>
                  <tr class="template-download fade in">
                    <td style="width:30%"><p class="name"><a>File name one.jpg</a></p></td>
                    <td style="width:40%"><input type="input" style="width:100%" class="form-control document-name" placeholder="Description" maxlength="512"></td>
                    <td style="width:20%" class="txt-r"><span class="size">7.38 KB</span></td>
                    <td style="width:10%" class="txt-c"><button class="btn btn-danger delete btn-sm"><strong>X</strong></button></td>
                  </tr>
                  <tr class="template-download fade in">
                    <td style="width:30%"><p class="name"><a>Scale Ticket Scan One.pdf</a></p></td>
                    <td style="width:40%"><input type="input" style="width:100%" class="form-control document-name" placeholder="Description" maxlength="512"></td>
                    <td style="width:20%" class="txt-r"><span class="size">9.43 KB</span></td>
                    <td style="width:10%" class="txt-c"><button class="btn btn-danger delete btn-sm"><strong>X</strong></button></td>
                  </tr>
                </tbody>
              </table>
              <div class="dropzone" style="min-height: 140px">
              </div>
            </div>
          </div><!--/.row-->




<button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalSubmitApplication">Open Modal</button>

<!-- Modal: Submit Application  -->
    <div class="modal fade" id="modalSubmitApplication" tabindex="-1" role="dialog" aria-labelledby="modalSubmitApplication" aria-hidden="true">
      <div class="modal-dialog modal-md margin-top-100">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" id="modalSubmitApplication" align="center">Submit Application</h3>
          </div>
          <div class="modal-body">
            <div class="txt-c" style="padding:10px;">
              <h4>Are you sure you would like to <strong>Submit</strong> your<br> application to OTS for review?</h4>


              
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-success" data-dismiss="modal">Submit</button>
          </div>
        </div>
      </div>
    </div>
<!-- /Modal  -->          



        <button type="button" class="btn btn-success color-tm-green-bg btn-xs btn-add" data-toggle="modal" data-target="#modalAddTCR">+</button>


<!-- Modal: Add TCR  -->
        <div class="modal fade" id="modalAddTCR" tabindex="-1" role="dialog" aria-labelledby="modalAddTCR" aria-hidden="true">
          <div class="modal-dialog modal-lg margin-top-20">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalAddTCR" align="center">Add DOT</h3>
              </div>
              <div class="modal-body padding-25">








                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label data-toggle="tooltip" data-placement="top" title="These notes will be visible only to staff.">Internal Notes <i class="fa fa fa-comment color-tm-grey"></i></label><br>
                      <textarea class="form-control" rows="3"></textarea>
                    </div>    
                  </div>        
                </div><!--/.row-->
                <div class="row">
                  <div class="col-md-12">
                    <strong>Supporting Documents</strong>
                    <br><br>
                    Paper Form
                    <br><br><br>
                  </div>
                </div><!--/.row-->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">Add</button>
              </div>
            </div>
          </div>
        </div>
<!-- /Modal  -->











<!-- Component: Messages -->
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="panelMessagesHeading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion-messages" href="#panelMessages" aria-expanded="true" aria-controls="panelMessages" class="panel-arrow-expand">
                      Messages <i class="fa fa-file-text-o fa-fw uiaction-export" title="Export to CSV"></i>
                    </a>
                  </h4>
                  <div class="col-xs-6 subcomp-search">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="subcomp-search-found">Found 3</div><i class="glyphicon glyphicon-remove remove-icon"></i><i class="glyphicon glyphicon-search"></i>
                  </div>
                </div>
                <div id="panelMessages" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelMessagesHeading">
                  <div class="panel-body">
                    <div class="main-box clearfix">                   
                      <div class="main-box-body clearfix">
                        <div class="conversation-wrapper">
                          <hr class="margin-top--20">
                          <a href="#" class="viewmore txt-c" style="width:100%;"><span style="margin:auto;">Earlier Messages</span></a>
                          <br>
                          <div class="conversation-content">
                            <div class="conversation-inner" style="overflow:hidden;">
                              <div class="conversation-item item-right clearfix" style="margin-top:-148px;">
                                <div class="conversation-user">
                                  <img src="gui/shared/tm-staff-icon-tm.png" alt="" width="50px;" />
                                </div>
                                <div class="conversation-body">
                                  <div class="name">
                                    TreadMarks
                                  </div>
                                  <div class="time hidden-xs">
                                    Apr. 17
                                  </div>
                                  <div class="text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi libero arcu, fringilla vitae egestas eu, dictum in lorem. Suspendisse potenti.
                                  </div>
                                </div>
                              </div>
                              <div class="conversation-item item-left clearfix">
                                <div class="conversation-user">
                                  <img src="gui/shared/tm-participant-icon-hauler.png" alt="" width="50px;" />
                                </div>
                                <div class="conversation-body">
                                  <div class="name">
                                    Participant
                                  </div>
                                  <div class="time hidden-xs">
                                    April 22
                                  </div>
                                  <div class="text">
                                    Donec lorem libero, efficitur a urna in, viverra scelerisque enim. Donec porta, ex vitae eleifend tempus, ante nisl malesuada turpis.
                                  </div>
                                </div>
                              </div>
                              <div class="conversation-item item-right clearfix">
                                <div class="conversation-user">
                                  <img src="gui/shared/tm-staff-icon-tm.png" alt="" width="50px;" />
                                </div>
                                <div class="conversation-body">
                                  <div class="name">
                                    TreadMarks
                                  </div>
                                  <div class="time hidden-xs">
                                    April 24
                                  </div>
                                  <div class="text">
                                    Class aptent taciti sociosqu ad litora torquent per conubia nostra.
                                  </div>
                                </div>
                              </div>
                              <div class="conversation-item item-left clearfix">
                                <div class="conversation-user">
                                  <img src="gui/shared/tm-participant-icon-hauler.png" alt="" width="50px;" />
                                </div>
                                <div class="conversation-body">
                                  <div class="name">
                                    Applicant
                                  </div>
                                  <div class="time hidden-xs">
                                    May 1
                                  </div>
                                  <div class="text">
                                    Ut nunc felis, sodales vitae erat a, accumsan placerat ex. Proin eu condimentum nisi, in rutrum turpis.
                                  </div>
                                </div>
                              </div>                          
                            </div>
                          </div>
                          <div class="conversation-new-message">
                            <form>
                              <div class="form-group">
                                <textarea class="form-control" rows="2" placeholder="Enter your message..."></textarea>
                              </div>
                              <div class="clearfix">
                                <button type="submit" class="btn btn-success pull-right">Send message</button>
                              </div>
                            </form>
                          </div>
                        </div> 
                      </div>
                    </div>
                  </div>
                </div>
              </div><!--/.panel-->
<!-- /Component -->    


<!-- Component: Activity -->
        <div class="panel panel-default comp-activity">
          <div class="panel-heading" role="tab" id="panelMyActivity-headingOne">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#panelMyActivity-collapseInventory" aria-expanded="true" aria-controls="panelMyActivity-collapseInventory" class="panel-arrow-expand">
                Activity <i class="fa fa-file-text-o fa-fw uiaction-export" title="Export to CSV"></i> <button type="button" class="btn btn-danger btn-xs comp-all-transactions-newreload"> 12 New <i class="fa fa-refresh color-tm-gray"></i></button>
              </a>
            </h4>
            <div class="col-xs-6 subcomp-search">
              <input type="text" class="form-control" placeholder="Search">
              <div class="subcomp-search-found">Found 3</div><i class="glyphicon glyphicon-remove remove-icon"></i><i class="glyphicon glyphicon-search"></i>
            </div>
          </div>
          <div id="panelMyActivity-collapseInventory" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelMyActivity-headingOne">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-12">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>Claim <strong>Sep. 2014</strong> changed from <strong>Under Review</strong> to <strong>Approved</strong> by <strong>Stephan Gluchowski</strong> on <strong>Oct. 12, 2014</strong> at <strong>2:22 PM</strong>.</td>
                      </tr>
                      <tr>
                        <td>Claim <strong>Sep. 2014</strong> changed from <strong>Submitted</strong> to <strong>Under Review</strong> by <strong>Stephan Gluchowski</strong> on <strong>Oct. 9, 2014</strong> at <strong>11:34 AM</strong>.</td>
                      </tr>
                      <tr>
                        <td>Claim <strong>Aug. 2014</strong> changed from <strong>Under Review</strong> to <strong>Submitted</strong> by <strong>Stephan Gluchowski</strong> on <strong>Sep. 19, 2014</strong> at <strong>1:34 PM</strong>.</td>
                      </tr>
                    </tbody>
                  </table>
                  <a href="#" class="viewmore">More</a>
                </div>
              </div><!--/.row-->
            </div>
          </div>
        </div><!--/.panel-->
<!-- /Component -->


<!-- Component: Panels -->
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Collapsible Group Item #1
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div><!-- /.panel -->
  <br>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Collapsible Group Item #2
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div><!-- /.panel -->
  <br>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div><!-- /.panel -->
</div>
<!-- /Component -->


<!-- Component: Communications -->
            <div class="row">
              <div class="col-sm-12">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="panelCommunications-headingOne">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#panelCommunications-collapseInventory" aria-expanded="true" aria-controls="panelCommunications-collapseInventory" class="panel-arrow-expand">
                        Communications
                      </a>
                    </h4>
                    <div class="col-xs-6 subcomp-search">
                      <input type="text" class="form-control" placeholder="Search">
                      <div class="subcomp-search-found">Found 3</div><i class="glyphicon glyphicon-remove remove-icon"></i><i class="glyphicon glyphicon-search"></i>
                    </div>
                  </div>
                  <div id="panelCommunications-collapseInventory" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelCommunications-headingOne">
                    <div class="panel-body">
                      <div class="row" style="margin-bottom:-20px;">
                      <div class="col-sm-4">
                      <label for="" class="weight-n">Date</label>
                        <div class="form-group">
                          <div class='input-group date' id='datetimepicker5'>
                            <input type='text' class="form-control" data-date-format="YYYY/MM/DD"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-4">                          
                      <p class="form-control-static" style="margin-top:-10px;">Type</p>
                      <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                          Select Type
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Email</a></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Phone</a></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Fax</a></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Mail</a></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Audit</a></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">In-Person</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label for="" class="weight-n">Person</label>
                      <input type="text" class="form-control" placeholder="Specify">
                    </div>
                    </div><!--/.row-->
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                             <label for="" class="weight-n">Details</label>
                            <textarea class="form-control" rows="3"></textarea>
                          </div>    
                          <button type="button" class="btn btn-success color-tm-green-bg btn-xs btn-add" data-toggle="modal" data-target="#">+</button>
                          <br>
                          <br>
                          <table class="table table-hover" class="glyphicon glyphicon-cog" style="margin-right:5px;">
                            <thead>
                            <tr>
                              <th>Date</th>
                              <th>Type</th>
                              <th>Details</th>
                              <th>Person</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>              
                              <td>2014-7-29</td>
                              <td>Email</td>
                              <td><span style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget nibh id purus tristique auctor. Nunc eget blandit sapien. Donec vestibulum turpis eu neque sollicitudin pretium. Mauris ut tristique mauris. Sed tempor in augue et maximus. Vivamus a lacus elit. Nulla ullamcorper quis sem a blandit. In non dolor non dolor facilisis posuere.">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget nibh ...</span></td>
                              <td>Jeff Hauler</td>
                            </tr>
                            <tr>              
                              <td>2014-7-29</td>
                              <td>In-Person</td>
                              <td><span style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget nibh id purus tristique auctor. Nunc eget blandit sapien. Donec vestibulum turpis eu neque sollicitudin pretium. Mauris ut tristique mauris. Sed tempor in augue et maximus. Vivamus a lacus elit. Nulla ullamcorper quis sem a blandit. In non dolor non dolor facilisis posuere.">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget nibh ...</span></td>
                              <td>Jeff Hauler</td>
                            </tr>
                            <tr>              
                              <td>2014-7-29</td>
                              <td>Mail</td>
                              <td><span style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget nibh id purus tristique auctor. Nunc eget blandit sapien. Donec vestibulum turpis eu neque sollicitudin pretium. Mauris ut tristique mauris. Sed tempor in augue et maximus. Vivamus a lacus elit. Nulla ullamcorper quis sem a blandit. In non dolor non dolor facilisis posuere.">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget nibh ...</span></td>
                              <td>Jeff Hauler</td>
                            </tr>
                            </tbody>
                          </table>
                              <a href="#">See More</a>
                          </div>
                      </div><!--/.row-->
                    </div>
                  </div>
                </div><!--/.panel-->
              </div>
            </div><!--/.row-->
<!-- /Component -->


== Older but still in use === == Older but still in use ===

<!-- Component: Side Navigation -->
      <div class="sidenav">

      </div><!--/.sidenav-->
<!-- /Component -->


<!-- Component: Side Navigation -->
      <div class="sidenav">
        <div class="sidebar">
          <ul class="nav nav-sidebar">
            <li class="menu-item search">
              <i id="collapsed-search-icon" class="glyphicon glyphicon-search"></i>
              <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
              </form>
            </li>
            <li class="menu-item">
              <a href="participants-hauler-claims.html">
                <i class="glyphicon glyphicon-folder-open"></i><span class="title">Claims</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="participants-all-transactions.html">
                <i class="glyphicon glyphicon-random"></i><span class="title">Transactions</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="participants-all-users.html">
                <i class="glyphicon glyphicon-user"></i><span class="title">Users</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="participants-all-ipads_qrcodes.html">
                <i class="glyphicon glyphicon-phone"></i><span class="title">iPads + QR Codes</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="participants-hauler-application-adj.html">
                <i class="glyphicon glyphicon-phone"></i><span class="title">Application</span>
              </a>
            </li>            
          </ul>
        </div><!--/.sidebar-->
      </div><!--/.sidenav-->
<!-- /Component -->


<!-- Component: Panel -->
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="panelName-headingOne">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#panelName-collapseOne" aria-expanded="true" aria-controls="panelName-collapseOne" class="panel-arrow-expand">
            Inbound
          </a>
        </h4>    
      </div>
      <div id="panelName-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelName-headingOne">
        <div class="panel-body">

        </div>
      </div>
    </div><!--/.panel-->
<!-- /Component -->


<!-- Component: Panel -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="panelName-headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#panelName-collapseOne" aria-expanded="true" aria-controls="panelName-collapseOne" class="panel-arrow-expand">
          Inbound
        </a>
      </h4>
      <div class="col-xs-6 subcomp-search">
        <input type="text" class="form-control" placeholder="Search">
        <div class="subcomp-search-found">Found 3</div><i class="glyphicon glyphicon-remove remove-icon"></i>
        <i class="glyphicon glyphicon-search"></i>
      </div> 
    </div>
    <div id="panelName-collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="panelName-headingOne">
      <div class="panel-body">

      </div>
    </div>
  </div><!--/.panel-->
<!-- /Component -->


<!-- Panel Accordion --> 





        <div class="row">
<!-- Component: Internal Notes -->
              <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="panelInternalNotesHeading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#panelInternalNotes" aria-expanded="true" aria-controls="panelInternalNotes">
                        Internal Notes
                      </a>
                    </h4>
                  </div>
                  <div id="panelInternalNotes" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelInternalNotesHeading">
                    <div class="panel-body">
                      <div class="form-group">
                        <textarea class="form-control" rows="3"></textarea>
                      </div>    
                      <button type="button" class="btn color-tm-green-bg"> Note +</button>
                      <br>
                      <br>
                      <div class="row comp-claims-summary-history">
                        <div class="col-sm-12">
                          <table class="table">
                            <tbody>
                              <tr>
                                <td><p><strong>Jane Doe</strong> Etiam rutrum urna diam, tempor imperdiet magna semper eu. Quisque vehicula, neque vel imperdiet finibus, neque augue tristique mauris, at dapibus neque neque at nibh. <span>1 day ago</span></p></td>
                              </tr>
                              <tr>
                                <td><p><strong>John Smith</strong> Etiam rutrum urna diam, tempor imperdiet magna semper eu. Quisque vehicula, neque vel imperdiet finibus, neque augue tristique mauris, at dapibus neque neque at nibh. <span>2 days ago</span></p></td>
                              </tr>
                              <tr>
                                <td><p><strong>Jim Doe</strong> Etiam rutrum urna diam, tempor imperdiet magna semper eu. Quisque vehicula, neque vel imperdiet finibus, neque augue tristique mauris, at dapibus neque neque at nibh. <span>Oct. 16</span></p></td>
                              </tr>
                            </tbody>
                          </table>
                          <a href="#" class="viewmore">More</a>
                        </div>
                      </div><!--/.row-->
                    </div>
                  </div>
                </div><!--/.panel-->
              </div>
<!-- /Component -->
</div><!--/.row-->







<hr>
<h3>Label for Input in a table</h3>
<p class="form-control-static">1234567890</p>



<hr>
<h3>Drop Down</h3>
<div class="checkbox">
  <label>
    <input type="checkbox"> Label
  </label>
</div>

<hr>
<h2>Drop Down</h2>
<div class="col-md-3">
  <label>Product Type</label><br>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
      Select Type
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Drop Item One</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Drop Item Two</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Drop Item Three</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Drop Item Four</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Drop Item Five</a></li>
    </ul>
  </div>
</div>

<HR>
<h2>Date Picker</h2>
<div class="row">
  <div class="col-sm-3">
    <label for="">Date Collected</label>
    <div class="form-group">
      <div class='input-group date' id='datetimepicker5'>
        <input type='text' class="form-control" data-date-format="YYYY/MM/DD"/>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
  </div>
</div><!--/.row-->

<hr>
<h2>Radio</h2>
<div class="col-md-7">
  <h4 style="margin:0;">Reason tires are not eligible for payment</h4>
</div>
<div class="col-md-3">
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios1" id="optionsRadios1" value="option1" checked>
      Non-registered collector
    </label>
  </div>

  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios1" id="optionsRadios2" value="option2">
      Charged a disposal fee
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios1" id="optionsRadios3" value="option3">
      Pre-program tires
    </label>
  </div>
</div>

<label for="">&nbsp;</label>
<div class="radio" style="margin-top:0">
  <label>
    <input type="radio" name="optionsRadios1" id="optionsRadios1" value="option1" checked>
    Registered
  </label><br>
  <label>
    <input type="radio" name="optionsRadios1" id="optionsRadios2" value="option2">
    Non-registered
  </label>
</div>



<div class="checkbox">
  <label>
    <input type="checkbox"> <strong>Urgent</strong> Priority
  </label>
</div>

<!--awesome bootstrap-->
  <div class="checkbox">
    <input type="checkbox" id="checkbox1">
    <label for="checkbox1">
        Check me out
    </label>
  </div>


    <!-- Component Script: Date & Time Picker-->
    <link href="//rawgit.com/Eonasdan/bootstrap-datetimepicker/master/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>    
    <script src="//rawgit.com/Eonasdan/bootstrap-datetimepicker/master/src/js/bootstrap-datetimepicker.js"></script>    
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker10').datetimepicker({
                viewMode: 'years',
               format: 'MM/YYYY'
            });
        });
    </script>

    