﻿@using CL.TMS.Common
@using CL.TMS.Security.Authorization
@using CL.TMS.Security
@{
    ViewBag.Title = "STC Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";

    HtmlHelper.ClientValidationEnabled = false;
    int currUserId;
    currUserId = Convert.ToInt32(CL.TMS.Security.Authorization.SecurityContextHelper.CurrentUser.Id);
    SecurityResultType currentPageAccessPermission = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsHaulerClaimSummaryInbound);
}

@section styles {
    @Styles.Render("~/css/datatable-header")
    <link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />
    <style>
        table.dataTable {
            table-layout: fixed;
            min-width: 1700px !important;
        }
    </style>
}

@if ((currentPageAccessPermission >= CL.TMS.Security.SecurityResultType.ReadOnly) || (SecurityContextHelper.IsParticipant()))
{
    <div class="tm-all participants-all-claims" ng-controller="TransactionCtrl">
        @Html.Partial("_HaulerHeader")

        @if (@ViewBag.AllowAddTransaction)
        {
            <button type="button"  style="margin-top:70px" class="btn btn-success btn-add" open-transaction-paper-form claim-id="@ViewBag.ClaimId" type-id="@ViewBag.TypeId" direction="@ViewBag.Direction" title="Add STC Paper Form">+</button>
        }

        @Html.Partial("_HaulerTransactionListContainer")

        <!-- Templates Used -->
        @Html.Partial("_HaulerPaperFormSTCTemplate")

        @Html.Partial("_HaulerCommonTemplates")
        <!-- /Templates Used -->
    </div>
}
else
{
    Response.Redirect("/System/Common/UnauthorizedPage");
}

@section scripts {
    @Scripts.Render("~/bundles/jquerydatatable")
    @Scripts.Render("~/bundles/transaction-list-common")

    <script src="~/js/Transaction/common-transaction-lib.js?v=@ViewBag.versionid"></script>
    <script src="~/Areas/Hauler/Scripts/Transaction/transaction-hauler-app.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/loading-spin.js?v=@ViewBag.versionid"></script>

    @*<script src="~/js/Transaction/transaction-generic-list.js"></script>*@
    @Scripts.Render("~/bundles/transaction-generic-list")

    <script type="text/javascript">
        Global = {};
        Global.Transaction = {
            ClaimId: '@ViewBag.ClaimId',
            VendorCode: '@ViewBag.VendorCode',
            TransactionType: '@ViewBag.TransactionType',
            ListName: 'All STC Transactions',
            AccessPermission: '@currentPageAccessPermission',
        };

        Global.Settings = {
            DatePickerFormat: '@CL.TMS.Common.TreadMarksConstants.DateFormat',

            InitializePaperFormServiceURL: '@Url.Action("initializePaperForm", "Transaction", new { area = @ViewBag.VendorCode })',
            AddPaperFormServiceURL: '@Url.Action("AddPaperTransaction" + @ViewBag.TransactionType, "Transaction", new { area = @ViewBag.VendorCode })',

            CheckFormNumberDuplicationServiceURL: '@Url.Action("CheckFormNumberDuplication", "Transactions", new { area = "System" })',
            GetVendorInfoServiceURL: '@Url.Action("GetVendorInfo", "Transactions", new { area = "System" })',
            GetTransactionSearchListServiceURL: '@Url.Action("GetTransactionSearchList", "Transactions", new { area = "System" })',
            GetTransactionDetailDataServiceURL: '@Url.Action("GetTransactionDetailData", "Transactions", new { area = "System" })',
            GetUpdateTransactionProcessingStatusServiceURL: '@Url.Action("UpdateTransactionProcessingStatus", "Transactions", new { area = "System" })',
            GetGetTransactionHandlerClaimDataServiceURL: '@Url.Action("GetTransactionHandlerClaimData", "Transactions", new { area = "System" })',

            UploadTransactionFileServiceURL: '@Url.Action("UploadTransactionFile", "FileUpload", new { area = "System" })',
            DeleteTemporaryTransactionFileServiceURL: '@Url.Action("DeleteTemporaryTransactionFile", "FileUpload", new { area = "System" })',
            CleanUpTemporaryTransactionFilesServiceURL: '@Url.Action("CleanUpTemporaryTransactionFiles", "FileUpload", new { area = "System" })',

            FileUploadPreviewDomainName: '@CL.TMS.UI.Common.Helper.SiteSettings.Instance.GetSettingValue("Settings.FileUploadPreviewDomainName")',
            MobilePhotoPreviewDomainName: '@CL.TMS.UI.Common.Helper.SiteSettings.Instance.GetSettingValue("Settings.MobilePhotoPreviewDomainName")',
            isStaff: JSON.parse('@CL.TMS.Security.Authorization.SecurityContextHelper.IsStaff()'.toLocaleLowerCase()),
        };

        //OTSTM2-1064
        Global.TransactionThresholds = {
            Threshold_IndividualTireCountPLT: '@(CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Threshold.IndividualTireCountPLT").Value ?? string.Empty)',
            Threshold_IndividualTireCountMT: '@(CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Threshold.IndividualTireCountMT").Value ?? string.Empty)',
            Threshold_IndividualTireCountAGLS: '@(CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Threshold.IndividualTireCountAGLS").Value ?? string.Empty)',
            Threshold_IndividualTireCountIND: '@(CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Threshold.IndividualTireCountIND").Value ?? string.Empty)',
            Threshold_IndividualTireCountSOTR: '@(CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Threshold.IndividualTireCountSOTR").Value ?? string.Empty)',
            Threshold_IndividualTireCountMOTR: '@(CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Threshold.IndividualTireCountMOTR").Value ?? string.Empty)',
            Threshold_IndividualTireCountLOTR: '@(CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Threshold.IndividualTireCountLOTR").Value ?? string.Empty)',
            Threshold_IndividualTireCountGOTR: '@(CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Threshold.IndividualTireCountGOTR").Value ?? string.Empty)',
            Threshold_CBIndividualTireCount: '@(CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Threshold.CBIndividualTireCount").Value ?? string.Empty)',           
        };

        @{
            if (CL.TMS.Security.Authorization.SecurityContextHelper.IsStaff())
            {
                //call staff list view
                <text>
        $(function () {
            var columnNames = [
            { columnName: 'DeviceName', },
            { columnName: 'TransactionFriendlyId', },
            { columnName: 'ReviewStatus', },
            { columnName: 'Adjustment', className: 'td-center', orderable: false, },
            { columnName: 'NotesAllText', className: 'td-center', },

            { columnName: 'TransactionDate', },
            { columnName: 'NameofGroupIndividual', },
            { columnName: 'Zone', className: 'td-center', },
            { columnName: 'FSA', className: 'td-center', },
            { columnName: 'PLT', className: 'td-center', orderable: false, width: '3.5%', },

            { columnName: 'MT', className: 'td-center', orderable: false, width: '3.5%', },
            { columnName: 'AGLS', className: 'td-center', orderable: false, width: '3.5%', },
            { columnName: 'IND', className: 'td-center', orderable: false, width: '3.5%', },
            { columnName: 'SOTR', className: 'td-center', orderable: false, width: '3.5%', },
            { columnName: 'MOTR', className: 'td-center', orderable: false, width: '3.5%', },

            { columnName: 'LOTR', className: 'td-center', orderable: false, width: '3.5%', },
            { columnName: 'GOTR', className: 'td-center', orderable: false, width: '3.5%', },
            { columnName: 'OnRoadWeight', className: 'td-center', width: '7%', },
            { columnName: 'OffRoadWeight', className: 'td-center', width: '7%', },
            { columnName: 'Actions', className: 'td-center', orderable: false, width: '8%', },

            { columnName: 'TransactionId', className: 'display-none', orderable: false, },
            { columnName: 'ID', className: 'display-none', orderable: false, },
            { columnName: 'CreatedUserId', className: 'display-none', orderable: false, },
            { columnName: 'FlagQtyOverSTC', className: 'display-none', orderable: false, },
            ];

            $('#tblTransactionlist').createDataTable({
                viewMoreId: '#viewmore',
                totalRecordsId: '#totalRecords',
                searchId: '#search',
                exportId: '#export',
                foundId: '#found',
                removeIconId: '.remove-icon',
                columnNames: columnNames,
                exportUrl: '@Html.Raw(@Url.Action("StaffExportToExcel", "Transaction", new { area = "Hauler", transactionType = "STC", claimId = @ViewBag.ClaimId, searchText = "----", dataSubType = "notype", sortColumn = "AAA", sortDirection = "BBB" }))',
                ajaxHandler: '@Html.Raw(@Url.Action("GetHaulerStaffTransactionsList", "Transaction", new { area = "Hauler", ClaimId = @ViewBag.ClaimId, DataType = "STC" }))',
                userHandler: '@Url.Action("GetUserList", "Claims")',
                userRole: "staff",
                transactionType: "STC",
                subDataType: "noType",
                modalPaperForm: 'modalSTCPaperForm',
                modaliPad: 'modalSTCiPad',

                currUserId: '@currUserId',
                InvalidateTransactionHandler: '@Url.Action("InvalidateTransaction", "Transactions", new { area = "System" })',
                ApproveTransactionHandler: '@Url.Action("ApproveTransaction", "Transactions", new { area = "System" })',

                modalInvalidate: '#modalInvalidate',
                modalApprove: '#modalApprove',
                modalInvalidateTypeText: '#modalInvalidateTypeText',
                modalInvalidateTransNumText: '#modalInvalidateTransNumText',
                btnInvalidateYes: '#btnInvalidateYes',
                modalApproveTypeText: '#modalApproveTypeText',
                modalApproveTransNumText: '#modalApproveTransNumText',
                btnApproveYes: '#btnApproveTransaction',
            });
        });
        </text>
            }
            else
            {
                //call participant list view
                <text>
        $(function () {
            var columnNames = [
            { columnName: 'DeviceName', },
            { columnName: 'Badge', },
            { columnName: 'TransactionDate', },
            { columnName: 'TransactionFriendlyId', },
            { columnName: 'ReviewStatus', }, //OTSTM2-416
            { columnName: 'Adjustment', className: 'td-center', orderable: false, }, //OTSTM2-416
            { columnName: 'NameofGroupIndividual', },

            { columnName: 'Zone', orderable: false, },
            { columnName: 'PostalCode', },
            { columnName: 'OnRoadWeight', },
            { columnName: 'OffRoadWeight', },
            { columnName: 'Actions', className: 'td-center', orderable: false, },

            { columnName: 'TransactionId', className: 'display-none', orderable: false, }];

            $('#tblTransactionlist').createDataTable({
                viewMoreId: '#viewmore',
                totalRecordsId: '#totalRecords',
                searchId: '#search',
                exportId: '#export',
                foundId: '#found',
                removeIconId: '.remove-icon',
                columnNames: columnNames,
                exportUrl: '@Html.Raw(@Url.Action("ExportToExcel", "Transaction", new { area = "Hauler", transactionType = "STC", claimId = @ViewBag.ClaimId, searchText = "----", dataSubType = "notype", sortColumn = "AAA", sortDirection = "BBB" }))',
                ajaxHandler: '@Html.Raw(@Url.Action("GetTransactionListHandler", "Transaction", new { DataType = "STC", claimId = @ViewBag.ClaimId }))',
                userHandler: '@Url.Action("GetUserList", "Claims")',
                transactionType: "STC",
                subDataType: "noType",
                modalPaperForm: 'modalSTCPaperForm',
                modaliPad: 'modalSTCiPad',
            });
        })
        </text>
            }
        }
    </script>
}
