﻿
<style>
    .row-hover:hover {
        background-color: #EBEBEB;
    }
</style>

<script type="text/ng-template" id="dashboard-announcement-list-panel.html">
    <div ng-repeat="item in vm">
        <div class="row row-hover" style="margin-left:10px;margin-right:10px;">
            <div style="background-color: #f5f5f5; height:40px;line-height:40px;">
                <label style="font-size:16px;font-weight:bold;margin-left:10px;">{{item.Subject}}</label>
            </div>
            <div style="cursor:pointer;margin-left:10px;" ng-click="more(item.Subject,item.Description)">
                <span ng-bind-html="item.shortDesc|unsafe"></span>
                <span ng-show="item.isOver1000" style="float:left;">...</span>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="stc-list-panel.html">
</script>
<style>
</style>

<script type="text/ng-template" id="tcr-service-threshold-list-panel.html">
    <div class="main-box clearfix project-box green-box" style="margin-left:1px">
        <div class="main-box-body clearfix">
            <div class="project-box-header green-bg">
                <div class="name">
                    <a href="javascript:void(0)">Request for Service</a>
                </div>
            </div>
            <div class="project-box-content">
                <div class="widget-todo table-responsive" id="trctable">          
                    <table  datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-hover display nowrap truncate datatable-100-per narrow-width clickable"></table>
                </div>
            </div>
            <div class="project-box-footer clearfix">
                <a href="javascript:void(0)" ng-click="filterThresholds(false)" id="filter2">
                    <span class="value">{{vm.withThresholds}}</span>
                    <span class="label">Thresholds</span>
                </a>
                <a href="javascript:void(0)" ng-click="filterThresholds(true)" id="filter1">
                    <span class="value">{{vm.reachedThresholds}}</span>
                    <span class="label">Thresholds Reached</span>
                </a>
                <a>
                    <span class="value">{{vm.withoutThresholds}}</span>
                    <span class="label">Without Thresholds</span>
                </a>
            </div>
            <div class="project-box-ultrafooter clearfix">
                <div class="float-left">
                    <a id="tcrExport" class="export export-claimindex" title="Export to CSV" >
                        <i class="fa fa-file-text-o fa-fw uiaction-export"></i>
                    </a>
                </div>
                <add-tcr-button panel-name="Request for Service" adata="{{vm.withoutThresholdVendors}}"></add-tcr-button>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="add-btn.html">
    <button type="button" class="btn btn-success btn-add margin-top--10 float-right position-fixed-x" style="margin-top:0px !important"
            data-toggle="modal" title="Add" ng-click="openModal()" ng-disabled="isView">
        +
    </button>
</script>

<script type="text/ng-template" id="edit-btn.html">
    <a href="javascript:void(0)" class="table-link" ng-click="edit()" ng-class="{editRemoveDisabled: isView}"><i class="fa fa-pencil"></i></a>
</script>

<script type="text/ng-template" id="remove-btn.html">
    <a href="javascript:void(0)" class="table-link" ng-click="remove()" ng-class="{editRemoveDisabled: isView}"><i class="fa fa-trash-o"></i></a>
</script>

<!--list panel action gear-->
<script type="text/ng-template" id="tcr-list-panel-action.html">
    <div class="actions">
        <edit-tcr-button adata="TCRData" tcr-id="ID" reg-number="regNumber" threshold-days="thresholdDays" business-name="businessName" descript="description"></edit-tcr-button>
        <remove-tcr-button item-number="regNumber" item-id="ID" business-name="businessName"></remove-tcr-button>
    </div>
</script>

<script type="text/ng-template" id="modal-tcr-detail-template.html">
    <div class="modal-content">
        <div class="modal-header" style="height: 70px;">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" align="center" id="rc-form-modal-title">
                Request for Service
            </h3>
        </div>
        <div class="modal-body" id="tempCheck">
            <div class="row">
                <div class="col-md-6">
                    <label class="control-label" style="font-size:medium;">Registration Number:</label>
                    <input id="regNumber" class="form-control" style="font-size:medium;" maxlength="7" ng-model="vm.RegNumber" ng-disabled="isView || !isNew" ng-blur="regNumberAvailable()" />
                    <div ng-show="!isValid.regNumberAvailable" class="text-danger">{{regNumberMsg}}</div>
                </div>
                <div class="col-md-6">
                    <label class="control-label" style="font-size:medium;">Threshold Days:</label>
                    <input id="thresholdDays" type="number" class="form-control" style="font-size:medium;" ng-model="vm.ThresholdDays" ng-disabled="isView" ng-blur="thresholdDays()" />
                    <div ng-show="!isValid.thresholdDaysInvalid" class="text-danger">{{thresholdDaysMsg}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" ng-show="vm.BusinessName.length>0" style="font-size:medium; white-space:nowrap">
                    <br />
                    Company Name:
                    <br />
                    <label class="control-label" >{{vm.BusinessName}}</label>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label" style="font-size:medium;">Internal Notes</label>
                    <textarea id="description" maxlength="5000" rows="3" style="font-size:medium; width:100%; resize:vertical" class="form-control textNote" required ng-model="vm.Description" ng-disabled="isView" ng-blur="internalNote()"></textarea>
                    <span ng-show="!isValid.description" class="text-danger">Required.</span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-12">
                    <!--View/Edit/Add can combine as one modal-->
                    <button type="button" ng-if="isView" data-dismiss="modal" ng-click="cancel()" class="btn btn-default margin-top--10 btn-lg">
                        <i class="glyphicon fa fa-times-circle-o" aria-hidden="true"></i>
                        Close
                    </button>
                    <button type="button" class="btn btn-danger cancel-btn btn-lg" ng-if="!isView" ng-click="cancel()" data-dismiss="modal">
                        <i class="glyphicon fa icon-ban glyphicon-ban fa-ban"></i>
                        Cancel
                    </button>
                    <button class="btn btn-success save-btn btn-lg" type="submit" ng-click="saveTCR()" ng-if="!isView" ng-disabled="disableSaveBtn">
                        <i class="glyphicon fa icon-floppy-o glyphicon-floppy-o fa-floppy-o"></i>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="confirm-modal.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" align="center">{{confirmHeader}}</h3>
        </div>
        <div class="modal-body">
            <div class="txt-c" style="padding:10px;">
                <html-message message="confirmMessage"></html-message>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" ng-click="cancel()">
                <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                No
            </button>
            <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" data-toggle="modal" ng-click="confirm()">
                <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                Yes
            </button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="fail-modal.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" @*style="color:red;"*@ align="center">{{failHeader}}</h3>
        </div>
        <div class="modal-body">
            <div class="txt-c" style="padding:10px;">
                <html-message message="message"></html-message>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" ng-click="cancel()"><i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>OK</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="modal-show-full-announcement.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" align="center">Announcement</h3>
        </div>
        <div class="modal-body">
            <div class="row" style="padding:10px;background-color: #f5f5f5;">
                <label style="font-size:16px; font-weight:bold">{{subject}}</label>
            </div>
            <div class="row" style="padding:10px;overflow:scroll;">
                <p ng-bind-html="description|unsafe"></p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" ng-click="cancel()" class="btn btn-default margin-top--10 btn-lg">
                <i class="glyphicon fa fa-times-circle-o" aria-hidden="true"></i>
                Close
            </button>
        </div>
    </div>
</script>