﻿@using CL.TMS.Common
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface
@using CL.TMS.Security.Authorization;
@using CL.TMS.Configuration;
@model CL.TMS.DataContracts.ViewModel.Processor.ProcessorRegistrationModel

@{
    ViewBag.Title = UIResource.ParticipantHaulerRegistrationTitle;
    Layout = "~/Views/Shared/_ParticipantLayout.cshtml";


    var invalidList = Model.InvalidFormFields as IList<string>;
    if (invalidList == null)
    {
        invalidList = new List<string>();
    }
    //used to generate 
    string invalidListStr = string.Join(",", invalidList.ToArray());
    invalidListStr = "\""+  invalidListStr.Replace(",","\",\"") + "\"";
    
    var statusStr = Model.Status.ToString();

    bool isReadOnly = false;
    if (Model != null)
    {
        switch (Model.Status)
        {
            case ApplicationStatusEnum.Submitted:
            case ApplicationStatusEnum.Assigned:
            case ApplicationStatusEnum.OnHold:
            case ApplicationStatusEnum.Approved:
            case ApplicationStatusEnum.BankInformationSubmitted:
            case ApplicationStatusEnum.BankInformationApproved:
            case ApplicationStatusEnum.Completed:                
                isReadOnly = false;
                break;
            default:
                isReadOnly = true;
                break;
        }
    }       
    
    //since I am using jQuery validation plugin; settings client validation to false     
    HtmlHelper.ClientValidationEnabled = false;
    var tokenId = ViewContext.RouteData.Values["id"];;
    var dateTimeFormat = TreadMarksConstants.DateFormatJavascriptDateTimePicker;
}

@section styles
{
    @Styles.Render("~/css/jquery-webui-popover")
    @Styles.Render("~/css/datetimepicker")

    <style>
        body .main-content {
            margin-left: 0px;
        }
    </style>
}

@using (Html.BeginForm("Index", "AppProcessorForm", FormMethod.Post, new { id = "AppProcessorFormID" }))
{
    <input id="ID" type="hidden" value='@Model.ID' name="ID">
    @Html.HiddenFor(model => model.Status)    
    <div class="tm-all participants-all-register">
        <!-- Component: Transactions Header -->
        <div class="row">
            <div class="col-md-12">
                <div class="row comp-register-all-header">
                    <div class="col-xs-8 col-md-7">
                        <h2>@UIResource.ParticipantIndexProcessorTitle</h2>                        
                    </div>
                </div><!--/.row-->
            </div>
        </div>
        <!-- /Component -->
        <!-- Component: Messages -->
        <div class="row">            
            @Html.Raw(@MessageResource.ProcessorWelcomeMessage.Replace("[CompanyName]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.Name").Value).Replace("[CompanyWebsiteURL]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.WebsiteURL").Value).Replace("[CompanyPhone]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.Phone").Value).Replace("[CompanyEmail]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.Email").Value))
            <div class="col-md-6" style="display:none">                
                <div class="panel panel-default" style="visibility:hidden">
                    <div class="panel-heading" role="tab" id="panelMessages-headingOne">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion-messages" href="#panelMessages-collapseOne" aria-expanded="true" aria-controls="panelMessages-collapseOne" class="panel-arrow-expand">
                                @UIResource.ParticipantIndexMessages
                            </a>
                        </h4>
                        <div class="col-xs-6 subcomp-search">
                            <input type="text" class="form-control" placeholder="Search">
                            <div class="subcomp-search-found">Found 3</div><i class="glyphicon glyphicon-remove remove-icon"></i>
                            <i class="glyphicon glyphicon-search"></i>
                        </div>
                    </div>
                    <div id="panelMessages-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelMessages-headingOne">
                        <div class="panel-body">
                            <div class="main-box clearfix">
                                <div class="main-box-body clearfix">
                                    <div class="conversation-wrapper">
                                        <hr class="margin-top--20">
                                        <a href="#" class="viewmore txt-c" style="width:100%;"><span style="margin:auto;">@UIResource.ParticipantIndexEarlierMessages</span></a>
                                        <br>
                                        <div class="conversation-content">
                                            <div class="conversation-inner">
                                                <div class="conversation-item item-right clearfix">
                                                    <div class="conversation-user">
                                                        <img src="~/gui/shared/tm-staff-icon-tm.png" alt="" width="50px;" />
                                                    </div>
                                                    <div class="conversation-body">
                                                        <div class="name">
                                                            @UIResource.ParticipantIndexTreadMarkName
                                                        </div>
                                                        <div class="time hidden-xs">
                                                            Apr. 17
                                                        </div>
                                                        <div class="text">
                                                            Dear Applicant , there is a typo error in the CVOR number field, please make the correction as per your CVOR certificate that you have attached.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="conversation-item item-left clearfix">
                                                    <div class="conversation-user">
                                                        <img src="~/gui/shared/tm-participant-icon-Processor.png" alt="" width="50px;" />
                                                    </div>
                                                    <div class="conversation-body">
                                                        <div class="name">
                                                            @UIResource.CommonApplicant
                                                        </div>
                                                        <div class="time hidden-xs">
                                                            April 22
                                                        </div>
                                                        <div class="text">
                                                            I have made changes, and I want to correct my WSIB statement also what should I do? I have one employee now.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="conversation-item item-right clearfix">
                                                    <div class="conversation-user">
                                                        <img src="~/gui/shared/tm-staff-icon-tm.png" alt="" width="50px;" />
                                                    </div>
                                                    <div class="conversation-body">
                                                        <div class="name">
                                                            @UIResource.ParticipantIndexTreadMarkName
                                                        </div>
                                                        <div class="time hidden-xs">
                                                            April 24
                                                        </div>
                                                        <div class="text">
                                                            Now WSIB fields are available for your correction. And please note that you need to upload your WSIB certificate also before you submit.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="conversation-item item-left clearfix">
                                                    <div class="conversation-user">
                                                        <img src="~/gui/shared/tm-participant-icon-Processor.png" alt="" width="50px;" />
                                                    </div>
                                                    <div class="conversation-body">
                                                        <div class="name">
                                                            @UIResource.CommonApplicant
                                                        </div>
                                                        <div class="time hidden-xs">
                                                            May 1
                                                        </div>
                                                        <div class="text">
                                                            Corrected WSIB fields and WSIB certificate is not available immediately. I will send it via Mail.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="conversation-new-message">
                                            <form>
                                                <div class="form-group">
                                                    <textarea class="form-control" rows="2" placeholder="@UIResource.CommonEnteryourmessage"></textarea>
                                                </div>
                                                <div class="clearfix">
                                                    <button type="submit" class="btn btn-success pull-right">@UIResource.ParticipantIndexSendMessage</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.panel-->
            </div>
        </div><!--/.row-->
        <!-- /Component -->
        <!-- Panel Group -->
        <form></form> <!--this is the dummy one-->
        <br />
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            @using (Html.BeginForm("index", "Registration", FormMethod.Post, new {id = "fmBusinessLocation", style = ""}))
            {
                <!-- Component: Business Location -->
                <div class="panel panel-default">
                    @{
                        var BusinessPartialData = ApplicationHelper.ToCommonPartialView(Html.GetExpressionText(p => p.BusinessLocation), "Participant", Model.InvalidFormFields, true, Model.Status, ApplicationTypes.Processor);
                    }

                    @Html.CustomPartial("_BusinessLocationPartial", Model, BusinessPartialData, "BusinessLocation")

                    @*@Html.Partial("_BusinessLocationPartial", Model, new ViewDataDictionary() { { "view", "Participant" },{ "InvalidFormFieldList" , Model.InvalidFormFields  }})*@                     
                </div><!-- /.panel -->                                              
            }
            <br>
            @using (Html.BeginForm("index", "Registration", FormMethod.Post, new { id = "fmContactInfo", style = "" }))
            {
            <!-- Component: Contact Information -->
                <div class="panel panel-default">
                    
                    @{
                        var ContactInfoPartialData = ApplicationHelper.ToCommonPartialView(Html.GetExpressionText(p => p.ContactInformationList), "Participant", Model.InvalidFormFields, true, Model.Status, ApplicationTypes.Processor);
                    }

                    @Html.CustomPartial("_ContactPartial", Model, ContactInfoPartialData, "ContactInformation")
                    
                    @*@Html.Partial("_ContactPartial", Model, new ViewDataDictionary() { { "view", "Participant" }, { "InvalidFormFieldList", Model.InvalidFormFields },{ "Status", Model.Status } })*@
                </div><!-- /.panel -->
            }

            <br />

            <!-- Component: Sort Yard Details -->
            <div class="panel panel-default">
                @Html.Partial("_ProcessorSortYardDetailsPartial", Model, new ViewDataDictionary() { { "view", "Participant" }, { "InvalidFormFieldList", Model.InvalidFormFields }, { "Status", Model.Status } })
            </div>
            <!-- /.panel -->
            <!-- /Component -->
            

            <br />

            @using (Html.BeginForm("index", "Registration", FormMethod.Post, new { id = "fmTireDetails", style = "" }))
            {
            <!-- Component: Tire Details -->
                <div class="panel panel-default">
                    @Html.Partial("_ProcessorTireDetailsPartial", Model, new ViewDataDictionary() { { "view", "Participant" }, { "InvalidFormFieldList", Model.InvalidFormFields } })
                  
                    
                </div><!-- /.panel -->
            <!-- /Component -->
            }
            <br>
            @using (Html.BeginForm("index", "Registration", FormMethod.Post, new { id = "fmProcessorDetails", style = "" }))
            
            {
            <!-- Component: Processor Details -->
                <div class="panel panel-default">
                    @Html.Partial("_ProcessorDetailsPartial", Model, new ViewDataDictionary() { { "view", "Participant" }, { "InvalidFormFieldList", Model.InvalidFormFields } })
                    
                    
                </div><!-- /.panel -->
            <!-- /Component -->
            }
            <br>
            @using (Html.BeginForm("index", "Registration", FormMethod.Post, new {id = "fmSupportingDoc", style = ""}))
            {
                <!-- Component: Supporting Documents -->
                <div class="panel panel-default">

                    @{
                        var supportingDocumentPartialData = ApplicationHelper.ToSupportingDocumentPartialView("Participant", statusStr, Model.InvalidFormFields, false, false, Html.GetExpressionText(p => p.SupportingDocuments), true);
                    }

                    @Html.CustomPartial("_SupportingDocPartialProcessor", Model.SupportingDocuments, supportingDocumentPartialData, "SupportingDocument")

                    @*@Html.Partial("_SupportingDocPartialProcessor", Model.SupportingDocuments, new ViewDataDictionary() { { "view", "Participant" }, { "status", @statusStr }, { "InvalidFormFieldList", Model.InvalidFormFields }, { "prefix", @Html.GetExpressionText(p => p.SupportingDocuments) } })*@
                </div>
                <!-- /.panel -->
                <!-- /Component -->
            }

            <br>
            @using (Html.BeginForm("index", "Registration", FormMethod.Post, new { id = "fmTermsAndConditions", style = "" }))
            {
            <!-- Component: Terms and Conditions -->
                <div class="panel panel-default">
                    @Html.Partial("_TermsConditionsPartial", Model, new ViewDataDictionary() { { "view", "Participant" }, { "InvalidFormFieldList", Model.InvalidFormFields }, { "Type", ApplicationTypes.Collector } })
               
        
        
         </div><!-- /.panel -->
                <!-- /Component -->
            }
        </div><!-- end accordion -->



        <div class="row">
            <div class="col-md-12">
                <p class="help-block">@Html.Raw(UIResource.ParticipantProcessorRegistrationHelpBlock)</p>
            </div>
            <div class="col-md-4 col-md-offset-8 txt-r">
                <br>
                <button class="btn btn-md btn-default" id="disabledsubmitApplicationBtn" data-toggle="modal" data-target="#modalSubmitApplication" type="button" disabled="">@UIResource.ParticipantHaulerRegistrationSubmitApplication</button>
                <button class="btn btn-md btn-success" id="submitApplicationBtn" data-toggle="modal" data-target="#modalSubmitApplication" type="button" style="display:none">@UIResource.ParticipantHaulerRegistrationSubmitApplication</button>
            </div>
        </div><!--/.row-->

    </div><!-- end participants-all-register -->
}

@section scripts{
    <script type="text/javascript">
    //list of Resources text needed
    Global = {};
    Global.ParticipantIndex = {
        Resources: {
            TokenId: '@tokenId',
            DateTimeFormat: '@dateTimeFormat',
            TireDetailsDialog: '@MessageResource.TireDetailsDialog',
            ValidationMsgInvalidBusinessName: '@MessageResource.ValidationMsgInvalidBusinessName',
            ValidationMsgInvalidOperatingName: '@MessageResource.ValidationMsgInvalidOperatingName',
            ValidationMsgInvalidAddressLine1: '@MessageResource.ValidationMsgInvalidAddressLine1',
            ValidationMsgInvalidCity: '@MessageResource.ValidationMsgInvalidCity',
            ValidationMsgInvalidProvinceState: '@MessageResource.ValidationMsgInvalidProvinceState',

            ValidationMsgInvalidAddressLine2: '@MessageResource.ValidationMsgInvalidAddressLine2',
            ValidationMsgInvalidPostalCode: '@MessageResource.ValidationMsgInvalidPostalCode',
            ValidationMsgInvalidCountry: '@MessageResource.ValidationMsgInvalidCountry',
            ValidationMsgInvalidExt: '@MessageResource.ValidationMsgInvalidExt',
            ValidationMsgInvalidEmail: '@MessageResource.ValidationMsgInvalidEmail',

            ValidationMsgInvalidPrimaryContactName: '@MessageResource.ValidationMsgInvalidPrimaryContactName',
            ValidationMsgInvalidPosition: '@MessageResource.ValidationMsgInvalidPosition',
            ValidationMsgInvalidPhone: '@MessageResource.ValidationMsgInvalidPhone',
            ValidationMsgExpectedFormat: '@MessageResource.ValidationMsgExpectedFormat',
            ValidationMsgInvalidCapacity: '@MessageResource.ValidationMsgInvalidCapacity',

            ValidationMsgInvalidCertificateOfApproval: '@MessageResource.ValidationMsgInvalidCertificateOfApproval',
            ValidationMsgInvalidBusinessStartDate: '@MessageResource.ValidationMsgInvalidBusinessStartDate',
            ValidationMsgInvalidOntarioBusinessNumber: '@MessageResource.ValidationMsgInvalidOntarioBusinessNumber',
            ValidationMsgInvalidHSTRegistrationNumber: '@MessageResource.ValidationMsgInvalidHSTRegistrationNumber',
            ValidationMsgInvalidComercialLiabilityInsurance: '@MessageResource.ValidationMsgInvalidComercialLiabilityInsurance',

            ValidationMsgInvalidExpiryDate: '@MessageResource.ValidationMsgInvalidExpiryDate',
            ValidationMsgInvalidCVORNumber: '@MessageResource.ValidationMsgInvalidCVORNumber',
            ValidationMsgInvalidWSIPNumber: '@MessageResource.ValidationMsgInvalidWSIPNumber',
            ValidationMsgInvalidFirstName: '@MessageResource.ValidationMsgInvalidFirstName',
            ValidationMsgInvalidLastName: '@MessageResource.ValidationMsgInvalidLastName',

            ValidationMsgInvalidFullName: '@MessageResource.ValidationMsgInvalidFullName',
            ValidationMsgMustBeCheckedForSubmission: '@MessageResource.ValidationMsgMustBeCheckedForSubmission',
            ValidationMsgInvalidTireType: '@MessageResource.ValidationMsgInvalidTireType',
            ValidationMsgInvalidProcessor: '@MessageResource.ValidationMsgInvalidProcessor',
            ValidationMsgHIsGVWR: '@MessageResource.ValidationMsgHIsGVWR',
            ValidationMsgHasMoreThanOneEmp: '@MessageResource.ValidationMsgHasMoreThanOneEmp',
            ValidationMsgHasRelatioshipWithProcessor: '@MessageResource.ValidationMsgHasRelatioshipWithProcessor',
        },

            Model: {
                InvalidFormFields: [ @Html.Raw(invalidListStr) ],
                Status: '@statusStr',
                IsReadOnly: '@isReadOnly'
            }
        };
    </script>
        
    @Scripts.Render("~/bundles/applicationcommon")
    @Scripts.Render("~/bundles/processor-application-participant")
}