﻿<!--The Grid-->
<style>
    .no-border {
        border: 0 !important;
    }

    #qrCodeGrid td:nth-child(3) {
        border: 0 !important;
        background-color: white !important;
    }
</style>

<div class="panel-heading" role="tab" id="panelTwo-headingOne">

    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#panelTwo-collapseOne" aria-expanded="true" aria-controls="panelTwo-collapseOne" class="panel-arrow-expand">
            @UIResource.QRCodes <i id="exportQRCodeBadgeCollection" title="Export to PDF" class="fa fa-file-pdf-o fa-fw uiaction-export"></i>
        </a>
    </h4>
    <div class="col-xs-6 subcomp-search">
        <input type="text" id="qrCodeGridSearchInput" class="form-control" placeholder="Search">
        <div id="qrCodeGridSearchInputNumFound" class="subcomp-search-found"></div><i id="qrCodeGridSearchInputRemoveText" class="glyphicon glyphicon-remove remove-icon"></i>
        <i class="glyphicon glyphicon-search"></i>
    </div>
</div>
<style>

</style>
<div id="panelTwo-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelTwo-headingOne">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <table id="qrCodeGrid" class="table table-hover margin-bottom--20 datatable-100-perc">
                        <thead>
                            <tr>
                                <th @*style="background-position:77px"*@>@UIResource.QRCode</th>
                                <th class="txt-c">@UIResource.Actions</th>
                                <th></th>
                                <th @*style="background-position:77px"*@>@UIResource.QRCode</th>
                                <th class="txt-c">@UIResource.Actions</th>
                            </tr>
                        </thead>
                    </table>
                    <br />
                    <a href="#" style="width:30px" id="QRCodeViewMore" class="viewmore">@UIResource.More</a>
                </div>
            </div>
        </div><!--/.row-->
        <div class="row margin-top-10">
            <div class="col-md-6 col-md-offset-6">
                <input type="text" id="amountOfQRCodeToAddText" maxlength="2" class="form-control numberic-input" placeholder="0">
                <button type="button" id="amountOfQRCodeToAddBtn" class="btn btn-success" data-toggle="modal" data-target="#modalAddQRCodesChooseReg" style="position:absolute;right:0;top:0;">@UIResource.PlusQRCodes</button>
                <span id="addQRCodeValidationMsg" class="numeric-validation" style="color:red; display:none">@UIResource.QuantityGTZero</span>
            </div>
        </div><!--/.row-->
    </div>
</div>

<!-- Modal: Add QR Code  -->
<div class="modal fade comp-claims-summary-submitmodal margin-top-50" id="modalAddQRCodesChooseReg" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalAddQRCodesChooseReg" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-le">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@UIResource.Close</span></button>
                <h3 class="modal-title" id="modalAddQRCodesChooseReg" align="center">@UIResource.QRCodes</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 txt-c">
                        <h4 class="margin-top-30"><strong>@UIResource.QRCodes</strong>&nbsp;@UIResource.MustBeAssignedToA <strong>@UIResource.Registrant</strong>.</h4>
                    </div>
                </div>
                <div class="row margin-top-10 margin-bottom-20">
                    <div class="col-sm-6 col-sm-offset-1">
                        <div class="form-group form-group-select2">
                            <input type="hidden" id="modalAddQRCodesAmountValue" />
                            <input type="hidden" id="modalAddQRCodesSelectedRegValue" />
                            <!--Add by Frank for new requirement-->
                            <div style="width:500px;float:left">
                                <div class="margin-top-10" style="float:left">
                                    <h4><strong>@UIResource.EnterARegistrationNumber</strong>&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                                </div>
                                <div class="margin-top-20">
                                    <input type="text" id="modalAddQRCodesRegistrantTextbox" class="form-control" style="width:180px" />
                                </div>
                            </div>
                            <div id="invalidMessage" style="color:red"><h5>@UIResource.InvalidRegistrationNumber</h5></div>
                            <!--Comment out by Frank for new requirement-->
                            @*<label style="font-weight:normal;" class="margin-bottom-20">@UIResource.ChooseARegistrant</label>*@
                            <!-- Added by Frank, begin: textbox, dropdownlist and dropdownicon -->
                            @*<div style="width:306px; float:left">
                                    <div style="width:275px; float:left">
                                        <input type="text" id="modalAddQRCodesRegistrantTextbox" style="width:275px;cursor:pointer" />
                                    </div>
                                    <div style="float:left">
                                        <img src="/gui/arrow.png" id="modalAddQRCodesRegistrantDropdownIcon" style="width:25px;height:26px;cursor:pointer" />
                                    </div>
                                </div>
                                <select style="width:300px" id="modalAddQRCodesRegistrantList" size="10"></select>*@
                        </div>
                    </div>
                </div><!--/.row-->
            </div>
            <div class="modal-footer">
                <button type="button" id="modalAddQRCodesCancelBtn" class="btn btn-danger btn-cancel-add-qrcode btn-lg" data-dismiss="modal">
                    <i class="glyphicon fa fa-ban" aria-hidden="true"></i>
                    @UIResource.Cancel
                </button>
                <button type="button" id="modalAddQRCodesNextBtn" class="btn btn-success btn-lg" @*data-dismiss="modal" data-toggle="modal" data-target="#modalAddQRCodesToRegConfirm"*@>
                    <i class="glyphicon fa fa-floppy-o" aria-hidden="true"></i>
                    Save
                </button>
                <!--Comment out by Frank for new requirement-->
            </div>
        </div>
    </div>
</div>
<!-- /Modal  -->
<!-- Modal: Add QR Code Confirm  -->
<div class="modal fade comp-claims-summary-submitmodal margin-top-100" id="modalAddQRCodesToRegConfirm" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalAddQRCodesToRegConfirm" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-le">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@UIResource.Close</span></button>
                <h3 class="modal-title" id="modalAddQRCodesToRegConfirm" align="center">@UIResource.Confirm</h3>
            </div>
            <div class="modal-body">
                <div style="padding:20px">
                    <h4 class="txt-c">@UIResource.AreYouSureAdd<strong>&nbsp;<span id="modalAddQRCodesAmountText"></span>&nbsp;</strong><br />@UIResource.AndAssign&nbsp;<span id="modalAddQRCodesAmountText2"></span>&nbsp;@UIResource.To&nbsp;<strong><span id="modalAddQRCodesSelectedRegText"></span></strong>?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="modalAddQRCodesConfirmCancelBtn" class="btn btn-danger btn-cancel-add-qrcode btn-lg" data-dismiss="modal">
                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                    @UIResource.CommonWordNo
                </button>
                <button type="button" id="modalAddQRCodesConfirmYesBtn" class="btn btn-success btn-lg" data-dismiss="modal">
                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                    @UIResource.CommonWordYes
                </button>
            </div>
        </div>
    </div>
</div>
<!-- /Modal  -->
<!-- Modal: Deactivate QR Code  -->
<div class="modal fade comp-claims-summary-submitmodal" id="modalDeactivateQRCode" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalDeactivateQRCode" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-le">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@UIResource.Close</span></button>
                <h3 class="modal-title" id="modalDeactivateQRCode" align="center">@UIResource.Confirm</h3>@*@UIResource.Deactivate*@
            </div>
            <div class="modal-body">
                <div style="padding:20px">
                    <input type="hidden" id="modalDeactivateQRCodeIDValue" />
                    <h4 class="txt-c">@UIResource.AreYouSureDeactivate @UIResource.QRCode <strong><span id="modalDeactivateQRCodeNumberText"></span></strong>?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="modalDeactivateQRCodeCancelBtn" class="btn btn-danger btn-lg" data-dismiss="modal">
                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                    @UIResource.CommonWordNo
                </button>
                <button type="button" id="modalDeactivateQRCodeYesBtn" class="btn btn-success btn-lg" data-dismiss="modal">
                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                    @UIResource.CommonWordYes
                </button>
            </div>
        </div>
    </div>
</div>
<!-- /Modal  -->
