﻿@using CL.TMS.Security.Authorization
@using CL.TMS.Common
@using CL.TMS.Security

@{
    ViewBag.Title = UIResource.IPadsQRCodes;
    Layout = "~/Views/Shared/_Layout.cshtml";
    SecurityResultType ORCodePageAccessPermission = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.iPadsQRCodesAlliPadsQRCodes);
}
@section styles {
    <link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />
    <style>
        .gridHeader th:nth-child(1) {
            width: 40%;
        }

        .gridHeader th:nth-child(3) {
            text-align: center;
        }

        .dataTables_scrollHead {
            padding-bottom: 25px;
        }

        .subcomp-search input:focus {
            visibility: visible;
        }

        .subcomp-search-found {
            white-space: nowrap;
        }

        /*OTSTM2-155*/
        .disable-click {
            /*pointer-events: none;*/
            cursor: not-allowed;
            color: gray;
        }

        /*cube datatable customization*/
        table.dataTable {
            table-layout: fixed !important;
            min-width: 490px !important;
        }
    </style>
}
@if (ORCodePageAccessPermission >= SecurityResultType.ReadOnly)
{

    <div class="tm-all staff-all-claims">
        <!-- Component: Transactions Header -->
        <div id="fixedClaimHeader" class="row comp-claims-header comp-variant-staff fixed-claim-header">
            <div class="col-xs-7 col-sm-6">
                <h2 class="fixed-claim-header-title">
                    @UIResource.IPadsQRCodes
                </h2>
            </div>
            <div class="col-xs-5 col-sm-6">
                @if (null != SecurityContextHelper.CurrentVendor)
                {
                    @Html.Partial("_ParticipantHeader", SecurityContextHelper.CurrentVendor)
                }
            </div>
        </div>
        <!--/.row-->
        
        <div class="row">
            @if ((ORCodePageAccessPermission >= SecurityResultType.ReadOnly) || (SecurityContextHelper.IsParticipant()))
            {

                <div class="col-md-6">
                    <!-- Component: QR Codes -->
                    <div class="panel panel-default" style="margin-top:70px">
                        @{Html.RenderPartial("_QRCodeGridPartial");}
                    </div><!--/.panel-->
                    
                </div>
            }
        </div>
    </div><!--/.staff-all-claims-->
}
else
{
    Response.Redirect("/System/Common/UnauthorizedPage");
}
<!-- ///////////// HTML Bottom ///////////// -->

@section scripts{
    @Scripts.Render("~/bundles/jquerydatatable")
    @Scripts.Render("~/bundles/ipad-qrcode-all")
}
<script type="text/javascript">
    Global = {};
    Security = {};
    Security.Ipad_QrCode = {
        Constants: {
            ReadOnly: '@SecurityResultType.ReadOnly',
            EditSave: '@SecurityResultType.EditSave',
            NoAccess: '@SecurityResultType.NoAccess',
        },
        Resource: {
            Ipad: 'false',
            QrCode: '@ORCodePageAccessPermission',
        }
    }
</script>