﻿
@{
    ViewBag.Title = "Empty Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool loadTopMenu = ViewBag.loadTopMenu ?? false;
}

@if (!loadTopMenu)
{
    <h2 id="emptyPageTitleId">Welcome to New TreadMarks system</h2>
}
else
{
    <h2 id="emptyPageTitleId">Loading...</h2>
}
<script type="text/javascript" async>
    try {
            var navBtns = $('#sidebar-nav > ul > li[data-uac!="Custom NoAccess"]');
            //console.log('document.referrer:', document.referrer);
            if (document.referrer.includes('/Invitation/AcceptInvitation')) {
                if (navBtns.first().length > 0) {
                    window.location.href = navBtns.first()[0].firstElementChild.getAttribute('href');
                }
            }
            if (JSON.parse('@loadTopMenu.ToString().ToLower()')) {
                console.log('to top menu:');
                if (navBtns.first().length === 0) {
                    $('#emptyPageTitleId').text('Welcome to New TreadMarks system');
                } else {
                    window.location.href = navBtns.first()[0].firstElementChild.getAttribute('href');
                }
            }
        }
        catch (err) {
            console.log('err.message:', err.message);
        }
</script>