﻿@model CL.TMS.DataContracts.DomainEntities.Notification

@{
    ViewBag.Title = "SeeAllNotifications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles
{
    <link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />
    <style>
        #export{
            background: none;
            left: 150px;
            position:absolute;
            top: 11px;
            width:25px;
        }

        .table td {
            white-space: normal;
        }

        .table tr {
            cursor: pointer;
        }

        .btn-add {
            margin-top: 10px !important;
        }

        .panel-body {
            height: 680px !important;
        }

        .viewMoreNotification {
            margin-top: 40px;
            display: inline-block;
        }
    </style>

}

<div class="tm-all spotlight-all-search">
    <div id="fixedClaimHeader" class="row comp-variant-staff comp-claims-header fixed-claim-header">
        <div class="col-xs-7 col-sm-6">
            <h2 class="fixed-claim-header-title">Notifications</h2>
        </div>
    </div>
    <div class="row" ng-controller="notificationController">
        <see-all-notification-panel snp-url="@Url.Action("LoadAllNotifications", "Common", new { area = "System" })"></see-all-notification-panel>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jquerydatatable")
    @Scripts.Render("~/bundles/angular-datatables-scroller")
    @Scripts.Render("~/bundles/angulardatatable")

    <script src="~/js/Shared/seeAllNotifications.js"></script>

    <script type="text/ng-template" id="seeAllNotificatoinPanel.html">
        <div class="col-md-12">
            <div class="panel panel-default" style="margin-top:70px">
                <div class="panel-heading" role="tab" id="panelSpotLightSearchManager-headingOne">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" aria-expanded="true" class="panel-arrow-expand" href="#panelSeeAllNotification">
                            All Notifications
                        </a>
                    </h4>
                    <h4 class="panel-title">
                        <a id="export" class="export" title="Export to Excel" href="@Url.Action("GetAllNotificationsExport", new {})">
                            <i class="fa fa-file-text-o fa-fw uiaction-export" title="Export to CSV"></i>
                        </a>
                    </h4>
                    <div class="col-xs-6 subcomp-search">
                        <input id="search" type="text" class="form-control" placeholder="Search" ng-model="searchText" ng-change="delay.calculateDelay(search,1000)" ng-style="searchStyle">
                        <p id="found" class="subcomp-search-found" ng-style="foundStyle">{{found}}</p>
                        <i class="glyphicon glyphicon-remove remove-icon" ng-click="removeIcon(dtInstance)" ng-style="removeIconStyle"></i>
                        <i class="glyphicon glyphicon-search"></i>
                    </div>
                </div>
                <div class="panel-collapse collapse in" id="panelSeeAllNotification" role="tabpanel">
                    <div class="panel-body" ng-style="panelAfterMore">
                        <div class="row">
                            <div class="col-md-12">
                                <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-hover display truncate datatable-100-per" width="100%"></table>
                                <div class="row">
                                    <div class="col-md-12 viewMoreNotification">
                                        <a id="viewmore" href="javascript:void(0)" class="viewmore" ng-click="viewMoreClick($event)" ng-show="viewMore">More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
}