﻿@model string
@using CL.TMS.Security
@using CL.TMS.Security.Authorization
@using CL.TMS.Common
@{
    ViewBag.Title = "Global Search Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var PreviousSearchFilters = Session["PreviousSearchFilters"];

    string bClaims = (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Claims) >= SecurityResultType.ReadOnly).ToString().ToLower();
    string bRemittances = (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Remittance) >= SecurityResultType.ReadOnly).ToString().ToLower();
    string bTransactions = (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Transactions) >= SecurityResultType.ReadOnly).ToString().ToLower();
    string bApplications = (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Applications) >= SecurityResultType.ReadOnly).ToString().ToLower();
    string bUsers = (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Users) >= SecurityResultType.ReadOnly).ToString().ToLower();
}

@section styles{
    <link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />
    <style>
        /*.table td {
            white-space: normal;
        }*/
        .table tr {
            cursor: pointer;
        }
        .btn-add {
            margin-top: 10px !important;
        }

        .panel-body {
            height: 340px !important;            
        }

        .dataTables_wrapper, .dataTables_scroll, .dataTables_scrollBody {
            height: 220px !important;
        }

        table.dataTable thead .sorting,
        table.dataTable thead .sorting_asc,
        table.dataTable thead .sorting_desc,
        table.dataTable thead .sorting_asc_disabled,
        table.dataTable thead .sorting_desc_disabled {
            background-repeat: no-repeat;
            background-position: right;
            padding-right: 40px;
        }

        .viewMoreSpotLight {
            margin-top: 60px;
            display: inline-block;
        }

        /*OTSTM2-895 fix datatable width change after clicking viewmore*/
        table.dataTable { 
            border-collapse: collapse;
            width: 100% !important;
        } 

        /*OTSTM2-895 clicking more, make sure alignment*/
        .move-right-25px{
            padding-left:25px !important;
        }
        .move-right-20px{
            padding-left:20px !important;
        }
        .move-right-15px{
            padding-left:15px !important;
        }    
        
        .dataTables_processing{
            position: absolute;
            /*top: 50%;*/
            bottom:-32px;
            left: 50%;
            width: 100%;
            height: 40px;
            margin-left: -50%;
            margin-top: -25px;
            padding-top: 20px;
            text-align: center;
            font-size: 1.2em;
            background-color: white;
            background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
            /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
            /* Chrome10+,Safari5.1+ */
            background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
            /* FF3.6+ */
            background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
            /* IE10+ */
            background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
            /* Opera 11.10+ */
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
            /* W3C */
        }     
    </style>
}
<br><br><br>
<div class="tm-all spotlight-all-search">
    <div id="fixedClaimHeader" class="row comp-claims-header comp-variant-staff fixed-claim-header">
        <div class="col-xs-7 col-sm-6">
            <h2 class="fixed-claim-header-title">Global Search Results</h2>
        </div>
        <div class="col-xs-5 col-sm-6">
            <h2 style="float:right" class="fixed-claim-header-registrantinfo">@Model</h2>
        </div>
    </div>
    <div class="row" ng-if="(@PreviousSearchFilters.ToString().Contains("Claims").ToString().ToLower() || @PreviousSearchFilters.ToString().Contains("All").ToString().ToLower()) && @bClaims">
        <spotlight-search-result-panel sp-url="@Url.Action("LoadSpotlightViewMoreResult", "Common", new { area = "System", keyWords = Model, pageLimit = 50, section = "Claims" })" section="Claims" title="Claims"></spotlight-search-result-panel>
    </div>
    <div class="row" ng-if="(@PreviousSearchFilters.ToString().Contains("Remittances").ToString().ToLower() || @PreviousSearchFilters.ToString().Contains("All").ToString().ToLower()) && @bRemittances">
        <spotlight-search-result-panel sp-url="@Url.Action("LoadSpotlightViewMoreResult", "Common", new { area = "System", keyWords = Model, pageLimit = 50, section = "Remittances" })" section="Remittances" title="Remittances"></spotlight-search-result-panel>
    </div>
    <div class="row" ng-if="(@PreviousSearchFilters.ToString().Contains("Transactions").ToString().ToLower() || @PreviousSearchFilters.ToString().Contains("All").ToString().ToLower()) && @bTransactions">
        <spotlight-search-result-panel sp-url="@Url.Action("LoadSpotlightViewMoreResult", "Common", new { area = "System", keyWords = Model, pageLimit = 50, section = "Transactions" })" section="Transactions" title="Transactions"></spotlight-search-result-panel>
    </div>
    <div class="row" ng-if="(@PreviousSearchFilters.ToString().Contains("Applications").ToString().ToLower() || @PreviousSearchFilters.ToString().Contains("All").ToString().ToLower()) && @bApplications">
        <spotlight-search-result-panel sp-url="@Url.Action("LoadSpotlightViewMoreResult", "Common", new { area = "System", keyWords = Model, pageLimit = 50, section = "Applications" })" section="Applications" title="Applications"></spotlight-search-result-panel>        
    </div>
    <div class="row" ng-if="(@PreviousSearchFilters.ToString().Contains("Users").ToString().ToLower() || @PreviousSearchFilters.ToString().Contains("All").ToString().ToLower()) && @bUsers">
        <spotlight-search-result-panel sp-url="@Url.Action("LoadSpotlightViewMoreResult", "Common", new { area = "System", keyWords = Model, pageLimit = 50, section = "Users" })" section="Users" title="Participant Users"></spotlight-search-result-panel>
    </div>
</div>

@Html.Partial("_GlobalSearchCommonTemplate")

@section Scripts{
    @Scripts.Render("~/bundles/jquerydatatable")
    <script type="text/javascript" src="~/js/loading-spin.js?v=@ViewBag.versionid"></script>
    @Scripts.Render("~/bundles/angular-datatables-scroller")
    @Scripts.Render("~/bundles/angulardatatable") 
    <script type="text/javascript" src="~/js/Shared/spotlight-search-result-app.js?v=@ViewBag.versionid"></script>  
    <script type="text/javascript">
        Global = {};
        //OTSTM2-960/963/964/965/966
        Global.GlobalSearch = {
            ExportGlobalSearchClaimsUrl: '@Html.Raw(Url.Action("GetGlobalSearchCommonExport", "Common", new { area = "System", keyWords = Model, section = "Claims", searchText = "----", sortColumn = "AAA", sortDirection = "BBB" }))',
            ExportGlobalSearchRemittancesUrl: '@Html.Raw(Url.Action("GetGlobalSearchCommonExport", "Common", new { area = "System", keyWords = Model, section = "Remittances", searchText = "----", sortColumn = "AAA", sortDirection = "BBB" }))',
            ExportGlobalSearchTransactionsUrl: '@Html.Raw(Url.Action("GetGlobalSearchCommonExport", "Common", new { area = "System", keyWords = Model, section = "Transactions", searchText = "----", sortColumn = "AAA", sortDirection = "BBB" }))',
            ExportGlobalSearchApplicationsUrl: '@Html.Raw(Url.Action("GetGlobalSearchCommonExport", "Common", new { area = "System", keyWords = Model, section = "Applications", searchText = "----", sortColumn = "AAA", sortDirection = "BBB" }))',
            ExportGlobalSearchUsersUrl: '@Html.Raw(Url.Action("GetGlobalSearchCommonExport", "Common", new { area = "System", keyWords = Model, section = "Users", searchText = "----", sortColumn = "AAA", sortDirection = "BBB" }))'
        };
    </script>
}