﻿body {
}


/* fix for autofill */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
/* fix for icon-status inconsistent on chrome */
body .tm-all .icon-trans-status {
    height: 100%;
}

.popover-menu {
    display: none;
    padding: 0 !important;
    margin: 1000px;
}

h4.modal-title, h3.modal-title{
border-bottom: hidden !important;
}

/* RETAIL CONNECTION  */
#retailConnectionController .popover-content {
    display: block;
    padding: 9px 14px !important;
    overflow:scroll;
 }
#retailConnectionController .popover {
    cursor:default;
   text-overflow:ellipsis;

}
.retail .popover-content ul {
    top: 100%;
    float: left;
    min-width: 150px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    padding: 5px !important;
}
/* RETAIL CONNECTION END */

.popover-content {
    display: block;
    padding: 5px 0 5px 0 !important;
}

    .popover-content ul {
        top: 100%;
        float: left;
        min-width: 150px;
        font-size: 14px;
        text-align: left;
        list-style: none;
        padding: 0 !important;
    }

    .popover-content li a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
        padding: 2px 10px 2px 20px;
    }

        .popover-content li a:hover {
            color: #262626;
            text-decoration: none;
            background-color: #f5f5f5;
        }

.popover.bottom {
    margin-top: -5px;
}

.datatable-100-perc {
    width: 100% !important;
}


.subcomp-search:hover input,
.subcomp-search:hover .subcomp-search-found,
.subcomp-search:hover i {
    visibility: visible;
}

.subcomp-search input {
    width: 50px;
}

    .subcomp-search input.in {
        width: 190px;
    }

.subcomp-search:hover input {
    transition: 0.5s width ease;
    width: 190px;
}

.subcomp-search input:focus {
    visibility: visible;
    width: 190px;
}

.truncate, .truncate-100, .truncate-200, .truncate-250 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncate-100 {
    width: 100px;
}

.truncate-200 {
    width: 200px;
}

.truncate-250 {
    width: 250px;
}
/*
.truncate-100:hover, .truncate-250:hover, .truncate-200:hover {
    overflow:visible;
    white-space:normal;
}
*/

.dataTables_scrollHeadInner a.sort {
    color: #000;
}

.dataTables_scrollHeadInner .sort {
    padding: 0 5px;
}

.termsandconditions-signature .help-block, .termsandconditions-checkbox .help-block {
    color: #a94442;
}

.termsandconditions-signature.has-required .form-control-feedback {
    opacity: 0.15;
}

.radio label, .checkbox label.no-cursor {
    cursor: default;
}

.color-tm-yellow-bg {
    background-color: #dcc92d;
    border-color: #dcc92d;
    color: #fff;
}

.color-tm-yellow {
    color: #dcc92d;
}


/* fixes bug with weird icon for calendar */
#dpBusinessStartDate .glyphicon-ok:before,
#dpInsuranceExpiryDate .glyphicon-ok:before,
#dpCVORExpiryDate .glyphicon-ok:before,
#dpBusinessStartDate .glyphicon-remove:before,
#dpInsuranceExpiryDate .glyphicon-remove:before,
#dpCVORExpiryDate .glyphicon-remove:before {
    content: "" !important;
}

/*Fixes Datatable first row cutting off issue*/
.dataTables_scrollHead {
    padding: 0px;
    width: 100% !important;
    height: 50px;
}

.dataTables_scrollHeadInner {
    padding-top: 10px !important;
    margin: 0 !important;
    width: 100% !important;
}

.panel-body table {
    margin-top: -2px;
}

/* Fixed a focus outline*/
a:focus, a:active {
    outline: none;
}

.no-border {
    border: none !important;
}

.main-content .message-container { 
	padding-top:50px;
	margin-right:275px;
}


#item_checkbox label {
    color: #333;

}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
}

.flag-qtyover{
  color:#d43f3a;
  font-weight: bold;
}

/*internal notes*/

.internal-wrap {
            width: 100%;
        }

.internal-wrap table {
    width: 100%;
    table-layout: fixed;
}

.internal-wrap a:link {
    color: #333;
    font-size: 14px;
    font-weight: bold;
}

#internal-viewmore {
    background: transparent;
    color: #aaa;
    display: inline-block;
    visibility: visible;
    text-decoration: none;
    margin-top: -10px !important;
    font-weight: normal;
}

/*Gp CSS Datatable*/

.popoverMessage {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    max-width: 276px;
    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: black;
    color: white;
    font: normal normal normal 14px/1 FontAwesome;
    display: block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.popoverMessage.bottom {
    margin-top: -5px;
}

/*-------------GLOBAL SEARCH------------------*/
    /*.header-usr-name {
        position: absolute;
        right: 5px;
        bottom: 8px;
    }*/

    #global-search-menu {
        background: #2b303b;
    } 
    
    .container-box {
        width: 100%;
        /*height: 50px;*/
        height: 100px;
    }

    .container-search-first,.container-search-second{
        vertical-align: middle;
        white-space: nowrap;
        position: relative;        
        float: left;
        display: inline-block;
    }

    .container-search-third {
        vertical-align: middle;
        white-space: nowrap;
        position: absolute;        
        float: left;
        display: inline-block;
    }

    .container-search-first{
        width: 150px;
    }

    .container-search-second {
        width: 700px;
    }

    .container-search-third {
        width: 48px;
    }

    .container-search-first input#primarySearch,.container-search-second input{
        height: 50px;
        background: #2b303b;
        border: none;        
        color: #bfbcbc;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px; 
    }

    .container-search-first input#primarySearch {
        padding-left: 45px;        
        width: 150px;   
        float: right; 
        font-size: 20pt;                   
    }

    .container-search-second input {
        width: 700px;
        float: left;  
        font-size: 15pt;      
    }

    .container-search-first input#primarySearch:focus{
        outline: none;
    }    
    
    div {
        outline: none;
    }        
    
    .container-search-first .icon {
        position: absolute;
        top: 30%;
        margin-left: 10px;
        float: left;
        z-index: 1;
        color: #4f5b66;
    }

    .container-search-third .icon {
        position: absolute;
        top: 10px;
        margin-left: -37px;   
        padding-right: 5px;     
        /*z-index: 1;*/
        color: #727373;
        font-size: 1.6em;
        border-right: 1px solid #4f5258;
    }

    .container-result {
        vertical-align: middle;
        white-space: nowrap;
        position: relative;        
    }

    .container-result {
        width: 100%;
        height: 550px;
    }
        
    .global-search-active, .global-search-inactive,
    .global-search-greendot, .global-search-bluedot,
    .global-search-reddot, .global-search-yellowdot,
    .global-search-whitedot, .global-search-greydot,
    .global-search-orangedot
     {
        width: 12px;
        height: 12px;
        border-radius: 6px;
        display: inline-block;
    }

    .global-search-active {
        background-color: #00ff21;
    }
    .global-search-inactive {
        background-color: #ff0000;
    }
    .global-search-greendot {
        background-color: #00ff21;
    }

    .global-search-bluedot {
        background-color: #4196FF;
    }
    
    .global-search-reddot {
        background-color: #ff0000;
    }
    
    .global-search-yellowdot {
        background-color: #F8C133;
    }

    .global-search-whitedot {
        background-color: #FFFFFF;
    }
    .global-search-greydot {
        background-color: #C1C3C4;
    }
    .global-search-orangedot {
        background-color: #FF952F;
    }

    .global-record-highlight {
        background-color: #0b4ff1;
    }

    #search-row:hover{
        background-color: #aaa;
    }

    /*-------------GLOBAL SEARCH------------------*/


/*-----Notification component -------------------------*/



/*-------Notification component---------------*/