﻿@using CL.TMS.Security.Authorization
@using CL.TMS.Common
@{
    ViewBag.Title = "Participant Claim Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section styles {
    @Styles.Render("~/css/datatable-tm")
}
<link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />


<div class="tm-all participants-all-claims ng-cloak" ng-controller="rpmClaimSummaryController" id="rpmClaimSummary">
    <div id="fixedClaimHeader" class="row comp-claims-header fixed-claim-header">
        <div class="col-xs-7 col-sm-6">           
            <h2 class="fixed-claim-header-title">Claim Summary </h2>
            <claim-bread-crumb></claim-bread-crumb>
            <div class="sub-header-companyname fixed-claim-header-claimdate-participant">{{ RPMClaimSummary.ClaimCommonModel.ClaimPeriodName }} </div>
        </div>
        <div class="col-xs-5 col-sm-6">
            <div class="sub-header-registrantinfo fixed-claim-header-registrantinfo">{{ RPMClaimSummary.ClaimCommonModel.RegistrationNumber }}</div>           
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            @Html.Partial("_RPMInboundPartial", new ViewDataDictionary() { { "ClaimsId", @ViewBag.ClaimsId } })
            @Html.Partial("_RPMInventoryAdjustmentPartial")
            @Html.Partial("_RPMInternalAdjustmentPartial")
        </div>
        <div class="col-md-6">
            @Html.Partial("_RPMOutboundPartial")           
            @Html.Partial("_CommonTransactionAdjustPartial")
            @Html.Partial("_RPMPaymentAdjustmentPartial")   
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @Html.Partial("_CommonClaimSupportingDocPartial", new ViewDataDictionary() {
           { "TransactionId", @ViewBag.ClaimsId },
           { "FileUploadSectionName", CL.TMS.Common.Enum.FileUploadSectionName.Claims },
           { "ClaimsStatus", @ViewBag.ClaimsStatus },
            { "SupportDocEditPermission", SecurityContextHelper.IsEditable(TreadMarksConstants.ClaimsRPMClaimSummarySupportingDocuments) }
       })
        </div>
    </div>

    <submit-claimcheck model="RPMClaimSummary" submit-info="submitInfo" submit-btn="submitBtn" ng-if="claimDetailsLoaded"></submit-claimcheck>

    <br><br>

    @Html.Partial("_SubmitModalPartial")
    @Html.Partial("_ClaimSummaryBreadCrumb")
    @Html.Partial("_ClaimExport")

    <!-- Modal: Internal Adjustments  -->
    <script type="text/ng-template" id="internalAdjustModal.html">
        <div class="modal-content">
            <div class="modal-header modal-header-le">
                <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalInternalAdj" align="center" ng-show="modalResult.isAdd && !isReadOnly"> Adjustment</h3>
                <h3 class="modal-title" id="modalInternalAdjEdit" align="center" ng-show="!modalResult.isAdd && !isReadOnly"> Adjustment</h3>
                <h3 class="modal-title" id="modalInternalAdjView" align="center" ng-show="!modalResult.isAdd && isReadOnly"> Adjustment</h3>
            </div>
            <div class="modal-body">
                <div style="padding:0 20px;">
                    <div class="row">
                        <div class="col-sm-3 col-md-3">
                            <h4>Choose Type</h4>
                            <select class="form-control" id="internaladj-selector"
                                    ng-options="item.name for item in items"
                                    ng-model="selectedItem" ng-disabled="chooseTypeIsDisable"></select>
                        </div>
                    </div>
                    <div id="internaladj-weight" class="internaladj-options" ng-show="selectedItem.id=='1'">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio-internaladj-option-1-1" ng-model="modalResult.direction" value="overall" ng-disabled="isReadOnly">
                                        Overall
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio-internaladj-option-1-1" ng-model="modalResult.direction" value="inbound" ng-disabled="isReadOnly">
                                        Inbound
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio-internaladj-option-1-1" ng-model="modalResult.direction" value="outbound" ng-disabled="isReadOnly">
                                        Outbound
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label for="">Weight (t)</label>
                                <input type="number" class="form-control" ng-model="modalResult.onroad" placeholder="0.0000" ng-pattern="/^-?[0-9]+(\.[0-9]{1,4})?$/" step="0.0001" ng-disabled="isReadOnly">
                            </div>
                        </div><!--/.row-->
                    </div>
                    <div id="internaladj-payment" class="internaladj-options" ng-show="selectedItem.id=='4'">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio-internaladj-option-3-1" value="Overall" ng-model="modalResult.paymentType" ng-disabled="isReadOnly">
                                        Overall
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio-internaladj-option-3-1" value="RPMSPS" ng-model="modalResult.paymentType" ng-disabled="isReadOnly">
                                        Outbound SPS
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-5 txt-r">
                                <br>
                                <label for="">Amount ($)</label>
                                <input type="number" class="form-control txt-r" placeholder="0.00" ng-model="modalResult.amount" ng-pattern="/^-?[0-9]+(\.[0-9]{1,2})?$/" step="0.01" ng-disabled="isReadOnly">
                            </div>
                        </div><!--/.row-->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg" ng-click="cancel()" ng-show="!isReadOnly">
                    <i class="fa fa-ban fa-1x"></i>
                    Cancel
                </button>
                <button type="button" class="btn btn-default btn-lg" ng-click="cancel()" ng-show="isReadOnly">
                    <i class="glyphicon fa fa-times-circle-o" aria-hidden="true"></i>
                    Close
                </button>
                <button type="button" class="btn btn-success btn-lg" ng-click="confirm()" ng-show="!isReadOnly">
                    <i class="fa fa-floppy-o fa-1x"></i>
                    Save
                </button>
            </div>
        </div>
    </script>
    <!-- /Modal  -->
    <!-- Modal: Internal Adjustments: Confirm  -->
    <script type="text/ng-template" id="internalAdjustConfirmModal.html">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalInternalAdjustmentsConfirm" align="center">Confirm</h3>
            </div>
            <div class="modal-body">
                <div class="txt-c" style="padding:10px;">
                    <h4>Are you sure you would like to make the <strong>Internal Adjustment</strong>?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg" ng-click="cancel()">
                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                    No
                </button>
                <button type="button" class="btn btn-success btn-lg" ng-click="confirm()" ng-show="!isReadOnly">
                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                    Yes
                </button>
            </div>
        </div>

    </script>
    <!-- /Modal  -->

    @Html.Partial("_RPMCommonTemplates")
</div>
@section Scripts{
    <script type="text/javascript">
        //list of Resources text needed
        Global = {};

        Global.Transaction = {
            ClaimId: '@ViewBag.ClaimsId'
        };

        Global.ParticipantClaimsSummary = {
            ClaimsID: '@ViewBag.ClaimsId',
            ClaimDetailsUrl: '@Url.Action("ClaimDetails", "Claims", new { ClaimId = @ViewBag.ClaimsId })',
            ClaimPaymentUrl: '@Url.Action("ClaimPayment", "Claims", new { ClaimId = @ViewBag.ClaimsId })',
            ClaimSortYardCountSubmissionUrl: '@Url.Action("SortYardCountSubmission", "Claims")',
            SubmitClaimCheckUrl: '@Url.Action("SubmitClaimCheck", "Claims")',
            FinalSubmitClaimUrl: '@Url.Action("FinalSubmitClaim", "Claims")',
            SubmitInventoryAdjustmentUrl: '@Url.Action("InventoryAdjustment", "Claims", new {area="System" })',
            LoadClaimPeriods: '@Url.Action("LoadClaimPeriodBreadCrumb", "Claims", new { area="System" })',
            BreadCrumbUrl: '@Url.Action("ClaimSummary", "Claims")',
            ClaimOnholdOffholdUrl: '@Url.Action("UpdateClaimOnhold", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            AuditOnholdOffholdUrl: '@Url.Action("UpdateAuditOnhold", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            ClaimWorkflowViewModelUrl: '@Url.Action("LoadClaimWorkflowViewModel", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            ClaimBackToParticipantUrl: '@Url.Action("ClaimBackToParticipant", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            LoadClaimWorkflowUsersUrl: '@Url.Action("LoadClaimWorkflowUsers", "Claims", new { area = "System" })',
            UpdateClaimWorkflowStatusUrl: '@Url.Action("UpdateClaimWorkflowStatus", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            ApproveClaimUrl: '@Url.Action("ApproveClaim", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            ValidateWorkflowProcessUrl: '@Url.Action("ValidateWorkflowProcess", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            UpdateClaimMailDateUrl: '@Url.Action("UpdateClaimMailDate", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            TransactionValidationUrl: '@Url.Action("IsUnderCurrentClaim", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId })'
        };
        Global.ParticipantTransactionAdjustmentSummary = {
            Resources: {},
            TransAdjustmentHandleUrl: '@Url.Action("GetListHandlerTransactionAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId })',
            TransAdjustmentExportUrl: '@Html.Raw(@Url.Action("ExportToExcelTransactionAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId, searchText = "----", sortColumn = "AAA", sortDirection = "BBB" }))',
            TransAdjustRejectUrl: '@Url.Action("SubmitRejectAdjustment", "Transactions", new { area = "System"})',
            TransAdjustAcceptUrl: '@Url.Action("SubmitAdjustmentReview", "Transactions", new { area = "System" })',
            TransAdjustRecallUrl: '@Url.Action("SubmitAdjustmentRecall", "Transactions", new { area = "System" })',
            viewMoreId: '#transactionAdjustViewMore'
        };
        Global.ParticipantInternalAdjustmentSummary = {
            Resources: {},
            InternalAdjustmentHandleUrl: '@Url.Action("GetListHandlerInternalAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId })',
            InternalAdjustmentExportUrl: '@Html.Raw(@Url.Action("ExportToExcelInternalAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId, searchText = "----", sortColumn = "AAA", sortDirection = "BBB" }))',
            RemoveInternalAdjustmentUrl: '@Url.Action("RemoveInternalAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId })',
            GetInternalAdjustmentUrl: '@Url.Action("GetInternalAdjustment", "Claims", new { area = "System" })',
            EditInternalAdjustmentUrl: '@Url.Action("EditInternalAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId })'
        };

        Global.ParticipantClaimsSummary.Resources = {
            TotalOpening: '@UIResource.TotalOpening',
            TotalInbound: '@UIResource.TotalInbound',
            TotalOutbound: '@UIResource.TotalOutbound',

            OverallAdjustments: '@UIResource.OverallAdjustments',
            ClosingInventory: '@UIResource.ClosingInventory',
            ProcessingCapacity: '@UIResource.ProcessingCapacity',
            ManufacturingCapacity: '@UIResource.ManufacturingCapacity',
            OpeningInventory: '@UIResource.OpeningInventory'
        };

        Global.Settings = {
            CheckFormNumberDuplicationServiceURL: '@Url.Action("CheckFormNumberDuplication", "Transactions", new { area = "System" })',
            GetVendorInfoServiceURL: '@Url.Action("GetVendorInfo", "Transactions", new { area = "System" })',
            GetTransactionSearchListServiceURL: '@Url.Action("GetTransactionSearchList", "Transactions", new { area = "System" })',
            GetTransactionDetailDataServiceURL: '@Url.Action("GetTransactionDetailData", "Transactions", new { area = "System" })',
            GetUpdateTransactionProcessingStatusServiceURL: '@Url.Action("UpdateTransactionProcessingStatus", "Transactions", new { area = "System" })',
            GetGetTransactionHandlerClaimDataServiceURL: '@Url.Action("GetTransactionHandlerClaimData", "Transactions", new { area = "System" })',

            UploadTransactionFileServiceURL: '@Url.Action("UploadTransactionFile", "FileUpload", new { area = "System" })',
            DeleteTemporaryTransactionFileServiceURL: '@Url.Action("DeleteTemporaryTransactionFile", "FileUpload", new { area = "System" })',
            CleanUpTemporaryTransactionFilesServiceURL: '@Url.Action("CleanUpTemporaryTransactionFiles", "FileUpload", new { area = "System" })',

            FileUploadPreviewDomainName: '@CL.TMS.UI.Common.Helper.SiteSettings.Instance.GetSettingValue("Settings.FileUploadPreviewDomainName")',
            MobilePhotoPreviewDomainName: '@CL.TMS.UI.Common.Helper.SiteSettings.Instance.GetSettingValue("Settings.MobilePhotoPreviewDomainName")'
        };
    </script>

    @Scripts.Render("~/bundles/jquerydatatable")
    <script type="text/javascript" src="~/js/Claims/common-claim-lib.js?v=@ViewBag.versionid"></script>
    <script src="~/js/Transaction/common-transaction-lib.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/Shared/common-claim-activities-lib.js?v=@ViewBag.versionid"></script>
    @Scripts.Render("~/bundles/rpmclaimcommon")
    @Scripts.Render("~/bundles/rpmclaimparticipant")
    @*<script type="text/javascript" src="/Areas/RPM/Scripts/Claims/rpm-claim-summary-directives.js?v=@ViewBag.versionid"></script>*@
    <script type="text/javascript" src="~/js/loading-spin.js?v=@ViewBag.versionid"></script>
    @Scripts.Render("~/bundles/claimtransactionadjustment")
    @Scripts.Render("~/bundles/transaction-list-common")
    <!--OTSTM2-424-->
    @Scripts.Render("~/bundles/angular-datatables-scroller")
    @Scripts.Render("~/bundles/angulardatatable")
}
