﻿@model CL.TMS.DataContracts.ViewModel.Common.VendorReference
@using CL.TMS.Security.Authorization;
@using CL.TMS.Configuration

@{
    string resource = Convert.ToString(ViewData["resource"]); //OTSTM2-902

    bool bHasThresholdDays = Model.IsThresholdSet && SecurityContextHelper.IsStaff();
    int iDaysLeft = Model.DaysSinceLastServiced - Model.ThresholdDays;
    string sDays = iDaysLeft == 1 || iDaysLeft == -1 ? " day" : " days";
    string sDaysLeft = iDaysLeft > 0 ? iDaysLeft + sDays + " over" : (iDaysLeft * -1) + sDays + " left";
    string sThresholdTooltip = Model.DaysSinceLastServiced + "/" + Model.ThresholdDays + " (" + sDaysLeft + ")";
    string sThresholdBtnBackgroundColor = Model.DaysSinceLastServiced >= Model.ThresholdDays ? "background-color:red;" : "background-color:rgb(203, 152, 62);";
    string sThresholdDisplayStyle = !bHasThresholdDays ? "display:none;" : "";
    string pageTitle = @ViewBag.PageTitle; //OTSTM2-1305

}
@*<head>
        <link href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" rel="stylesheet">
    </head>*@
<style>
    .tm-threshold-bg {
        background-color: rgb(203, 152, 62);
        border-color: rgb(203, 152, 62);
        color: #fff !important;
        /*margin-left: 6px;
        margin-top: -5px;
        padding-left: 6px;
        padding-top: 1px;
        padding-bottom: 1px;
        padding-right: 6px;
        text-align: left;
        font-weight: 600;
        float: left;*/
        border-radius: 3px;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
    }

    .fixed-claim-header-threshold {
        color: #fff !important;
        position: absolute;
        top: 11px;
        right: 185px;
        background-color: rgb(203, 152, 62);
        border-color: rgb(203, 152, 62);
        border-radius: 3px;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        line-height: 1.5;
        /*-- width:auto;*/
        height: 22px;
    }
</style>

<div class="sub-header-status txt-r tm-threshold-bg">
    @**@
    <div class="btn-group btn-toggle fixed-claim-header-threshold"
         data-toggle="tooltip"
         data-placement="left"
         title="@sThresholdTooltip" style="@sThresholdBtnBackgroundColor @sThresholdDisplayStyle white-space: nowrap;">

        @*<svg width="15px" height="15px" aria-hidden="true" data-prefix="far" data-icon="clock" role="img" xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 512 512" class="svg-inline--fa fa-clock" style="margin-left:-20px;margin-top:1px; vertical-align:top;">
                <path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z" class=""></path>
            </svg>*@
        @*<i class="glyphicon clock-o" aria-hidden="true"></i>*@ @*margin-left: -8px; vertical-align:bottom;*@
        <i class="glyphicon glyphicon-time" aria-hidden="true"></i>
        <span style="@sThresholdBtnBackgroundColor white-space: nowrap; margin-left: -5px; margin-top:5px;">
            <label style="font-family: 'Open Sans', sans-serif; font-size: 12px; ">
                @Model.ThresholdDays
            </label>
        </span>

    </div>
    <div class="btn-group btn-toggle fixed-claim-header-active-status" data-toggle="tooltip" data-placement="left" title="@Model.ActiveDateString">
        @if (Model.IsActive)
            {
            <label class="btn btn-xs btn-success active cursor-default">Active</label>
        }
        else
        {
            <label class="btn btn-xs btn-danger cursor-default">Inactive</label>
        }
    </div>
</div>

<div class="popoverParticipantInfo" data-placement="auto">

    <div class="sub-header-registrantinfo fixed-claim-header-registrantinfo">@Model.RegistrationNumber</div>
    <div class="sub-header-companyname fixed-claim-header-companyname">@Model.BusinessName</div>
    @{ //OTSTM2-1305
        if (!string.IsNullOrEmpty(pageTitle))
        {
            if (pageTitle == "Staff Claim Index_Collector" || pageTitle == "Staff Claim Summary_Collector")
            {
                <div class="sub-header-subtype fixed-claim-header-subtype"><strong>Sub-type</strong>: @Model.PrimaryBusinessActivity</div>
            }
        }
    }
</div>
<div id="popoverParticipantInfo" style="display: none;">
    @{
        if (Model.Address != null)
        {
            <p>
                <strong>Business Address</strong><br>
                @Model.Address.Address1<br>
                @Model.Address.City,@Model.Address.Province @Model.Address.PostalCode
            </p>
        }

        if (Model.PrimaryContact != null)
        {
            <p>
                <strong>Primary Contact</strong><br>
                @Model.PrimaryContact.FirstName @Model.PrimaryContact.LastName<br>
                @Model.PrimaryContact.Email<br>
                @Model.PrimaryContact.PhoneNumber
            </p>
        }

        if (Model.Address.PostalCode != null)
        {
            if (Model.VendorType == AppDefinitions.Instance.GetDefinitionByCode(DefinitionCategory.VendorType, "Processor").DefinitionValue)
            {
                if (ClaimHelper.GetZoneByPostCode(Model.Address.PostalCode, 2) != null)
                {
                    <p>
                        <strong>Zone</strong><br>
                        @ClaimHelper.GetZoneByPostCode(Model.Address.PostalCode, 2).Name
                    </p>
                }
            }
            if (Model.VendorType == AppDefinitions.Instance.GetDefinitionByCode(DefinitionCategory.VendorType, "Collector").DefinitionValue)
            {
                if (ClaimHelper.GetZoneByPostCode(Model.Address.PostalCode, 1) != null)
                {
                    <p>
                        <strong>Zone</strong><br>
                        @ClaimHelper.GetZoneByPostCode(Model.Address.PostalCode, 1).Name
                    </p>
                }
            }
        }

        //OTSTM-865/902
        if (Model.VendorType == AppDefinitions.Instance.GetDefinitionByCode(DefinitionCategory.VendorType, "Collector").DefinitionValue && resource.IsEmpty())
        {
            <p>
                <strong>Subtype</strong><br>
                @Model.PrimaryBusinessActivity
            </p>

            if (Model.CIsGenerator ?? false)
            {
                <p>
                    <strong>Generator</strong><br>
                    Yes
                </p>
            }
            else
            {
                <p>
                    <strong>Generator</strong><br>
                    No
                </p>
            }

            if (Model.IsSubCollector ?? false)
            {
                <p>
                    <strong>Sub-Collector</strong><br>
                    Yes
                </p>
            }
            else
            {
                <p>
                    <strong>Sub-Collector</strong><br>
                    No
                </p>
            }
        }
    }

    @*<p>
            <strong>Business Address</strong><br>
            @if (Model.Address != null)
            {
                <span>@Model.Address.Address1</span><br>
                <span>@Model.Address.City, @Model.Address.Province @Model.Address.PostalCode</span>
            }
        </p>*@
    @*<p>
            <strong>Primary Contact</strong><br>
            @Model.PrimaryContact.FirstName @Model.PrimaryContact.LastName<br>
            @Model.PrimaryContact.Email<br>
            @Model.PrimaryContact.PhoneNumber
        </p>*@
</div>
