﻿<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/css/normalize")
    @Styles.Render("~/css/bootstrap")
    @Styles.Render("~/css/customize")
    @Styles.Render("~/css/common")

    <style>
        .navbar img {
            position: absolute;
            top: 5px;
            left: 25px;
        }
    </style>

    <!-- Custom styles for this template -->
    <!-- Load Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">


    @RenderSection("styles", required: false)

    @Scripts.Render("~/bundles/modernizr")

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
    <!-- Component: Header Bar -->
    <div id="hdrbar" class="navbar navbar-inverse" role="navigation">
        <img src="~/Images/gui-hdr-logo.png" class="navbar-right">
    </div>

    <div class="container">
        @RenderBody()
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/customize")

        @RenderSection("scripts", required: false)
    </div>
</body>
</html>


