﻿@using CL.TMS.Security.Authorization

<!-- Component: Outbound -->
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="panelOutbound-headingOne">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-tireoriginreport="#accordion" href="#panelTotalAdjustment-collapseOne" aria-expanded="true" aria-controls="panelOutbound-collapseOne">
                Adjustments <export ng-model="claimSummaryModel" first-table="tblOutbound"></export>
            </a>
        </h4>
    </div>
    <div id="panelTotalAdjustment-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelOutbound-headingOne">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover" id="tblOutbound" name="@(SecurityContextHelper.IsStaff() ? "StaffOutboundClaimsSummary" : "ParticipantOutboundClaimsSummary")">
                        <thead>
                            <tr>
                                <th width="30%">Description</th>
                                <th>PLT</th>
                                <th>MT</th>
                                <th>AG/LS</th>
                                <th>IND</th>
                                <th>SOTR</th>
                                <th>MOTR</th>
                                <th>LOTR</th>
                                <th>GOTR</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Total Eligible</td>
                                <td>{{TotalAdjustmentEligible.PLT}}</td>
                                <td>{{TotalAdjustmentEligible.MT}}</td>
                                <td>{{TotalAdjustmentEligible.AGLS}}</td>
                                <td>{{TotalAdjustmentEligible.IND}}</td>
                                <td>{{TotalAdjustmentEligible.SOTR}}</td>
                                <td>{{TotalAdjustmentEligible.MOTR}}</td>
                                <td>{{TotalAdjustmentEligible.LOTR}}</td>
                                <td>{{TotalAdjustmentEligible.GOTR}}</td>
                            </tr>
                            <tr>
                                <td>Total Ineligible</td>
                                <td>{{TotalAdjustmentIneligible.PLT}}</td>
                                <td>{{TotalAdjustmentIneligible.MT}}</td>
                                <td>{{TotalAdjustmentIneligible.AGLS}}</td>
                                <td>{{TotalAdjustmentIneligible.IND}}</td>
                                <td>{{TotalAdjustmentIneligible.SOTR}}</td>
                                <td>{{TotalAdjustmentIneligible.MOTR}}</td>
                                <td>{{TotalAdjustmentIneligible.LOTR}}</td>
                                <td>{{TotalAdjustmentIneligible.GOTR}}</td>
                            </tr>
                            <tr>
                                <td><strong>Total Adjustments</strong></td>
                                <td>{{TotalAdjustments.PLT}}</td>
                                <td>{{TotalAdjustments.MT}}</td>
                                <td>{{TotalAdjustments.AGLS}}</td>
                                <td>{{TotalAdjustments.IND}}</td>
                                <td>{{TotalAdjustments.SOTR}}</td>
                                <td>{{TotalAdjustments.MOTR}}</td>
                                <td>{{TotalAdjustments.LOTR}}</td>
                                <td>{{TotalAdjustments.GOTR}}</td>
                            </tr>                            
                        </tbody>
                    </table>
                </div>
            </div><!--/.row-->
        </div>
    </div>
</div><!--/.panel-->
<!-- /Component -->

