﻿<!-- Component: Transactions Header -->
<div id="fixedClaimHeader" class="row comp-claims-header fixed-claim-header">
    <div class="col-xs-7 col-sm-6">    
        <h2 class="fixed-claim-header-title">Claim Summary</h2>
        <claim-bread-crumb></claim-bread-crumb>
        <div class="sub-header-claimdate fixed-claim-header-claimdate-participant">{{ claimSummaryModel.ClaimCommonModel.ClaimPeriodName }}</div>
    </div>
    <div class="col-xs-5 col-sm-6">
        <div class="sub-header-registrantinfo fixed-claim-header-registrantinfo">{{ claimSummaryModel.ClaimCommonModel.RegistrationNumber }}</div>        
    </div>
</div><!--/.row-->
<!-- /Component -->
