﻿@using CL.TMS.Security.Authorization

<!-- Component: Outbound -->
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="panelOutbound-headingOne">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-tireoriginreport="#accordion" href="#panelOutbound-collapseOne" aria-expanded="true" aria-controls="panelOutbound-collapseOne">
                Outbound <export ng-model="claimSummaryModel" first-table="tblOutbound"></export>
            </a>
        </h4>
    </div>
    <div id="panelOutbound-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelOutbound-headingOne">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover" id="tblOutbound" name="@(SecurityContextHelper.IsStaff() ? "StaffOutboundClaimsSummary" : "ParticipantOutboundClaimsSummary")">
                        <thead>
                            <tr>
                                <th width="30%">Description</th>
                                <th>PLT</th>
                                <th>MT</th>
                                <th>AG/LS</th>
                                <th>IND</th>
                                <th>SOTR</th>
                                <th>MOTR</th>
                                <th>LOTR</th>
                                <th>GOTR</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="@Url.Action("Index", "Transaction", new { area = "Collector", id = @ViewBag.ClaimsId, type = CL.TMS.Common.TreadMarksConstants.TCR, direction = 2 })" data-toggle="tooltip" data-placement="right" title="Tire Collection Receipt">TCR</a></td>
                                <td>{{TCR.PLT}}</td>
                                <td>{{TCR.MT}}</td>
                                <td>{{TCR.AGLS}}</td>
                                <td>{{TCR.IND}}</td>
                                <td>{{TCR.SOTR}}</td>
                                <td>{{TCR.MOTR}}</td>
                                <td>{{TCR.LOTR}}</td>
                                <td>{{TCR.GOTR}}</td>
                            </tr>
                            <tr>
                                <td><a href="@Url.Action("Index", "Transaction", new { area = "Collector", id = @ViewBag.ClaimsId, type = CL.TMS.Common.TreadMarksConstants.DOT, direction = 2 })" data-toggle="tooltip" data-placement="right" title="Dedicated Off-Road Tires">DOT</a></td>
                                <td>{{DOT.PLT}}</td>
                                <td>{{DOT.MT}}</td>
                                <td>{{DOT.AGLS}}</td>
                                <td>{{DOT.IND}}</td>
                                <td>{{DOT.SOTR}}</td>
                                <td>{{DOT.MOTR}}</td>
                                <td>{{DOT.LOTR}}</td>
                                <td>{{DOT.GOTR}}</td>
                            </tr>
                            @*OTSTM2-588*@
                            @*<tr>
                                <td>Eligible Adjustments</td>
                                <td>{{EligibleAdjustments.PLT}}</td>
                                <td>{{EligibleAdjustments.MT}}</td>
                                <td>{{EligibleAdjustments.AGLS}}</td>
                                <td>{{EligibleAdjustments.IND}}</td>
                                <td>{{EligibleAdjustments.SOTR}}</td>
                                <td>{{EligibleAdjustments.MOTR}}</td>
                                <td>{{EligibleAdjustments.LOTR}}</td>
                                <td>{{EligibleAdjustments.GOTR}}</td>
                            </tr>
                            <tr>
                                <td>Ineligible Adjustments</td>
                                <td>{{IneligibleAdjustments.PLT}}</td>
                                <td>{{IneligibleAdjustments.MT}}</td>
                                <td>{{IneligibleAdjustments.AGLS}}</td>
                                <td>{{IneligibleAdjustments.IND}}</td>
                                <td>{{IneligibleAdjustments.SOTR}}</td>
                                <td>{{IneligibleAdjustments.MOTR}}</td>
                                <td>{{IneligibleAdjustments.LOTR}}</td>
                                <td>{{IneligibleAdjustments.GOTR}}</td>
                            </tr>*@
                            <tr>
                                <td>Total Eligible </td>
                                <td>{{TotalEligible.PLT}}</td>
                                <td>{{TotalEligible.MT}}</td>
                                <td>{{TotalEligible.AGLS}}</td>
                                <td>{{TotalEligible.IND}}</td>
                                <td>{{TotalEligible.SOTR}}</td>
                                <td>{{TotalEligible.MOTR}}</td>
                                <td>{{TotalEligible.LOTR}}</td>
                                <td>{{TotalEligible.GOTR}}</td>
                            </tr>
                            <tr>
                                <td>Total Ineligible </td>
                                <td>{{TotalIneligible.PLT}}</td>
                                <td>{{TotalIneligible.MT}}</td>
                                <td>{{TotalIneligible.AGLS}}</td>
                                <td>{{TotalIneligible.IND}}</td>
                                <td>{{TotalIneligible.SOTR}}</td>
                                <td>{{TotalIneligible.MOTR}}</td>
                                <td>{{TotalIneligible.LOTR}}</td>
                                <td>{{TotalIneligible.GOTR}}</td>
                            </tr>
                            <tr>
                                <td><strong>Total Outbound</strong></td>
                                <td>{{TotalOutbound.PLT}}</td>
                                <td>{{TotalOutbound.MT}}</td>
                                <td>{{TotalOutbound.AGLS}}</td>
                                <td>{{TotalOutbound.IND}}</td>
                                <td>{{TotalOutbound.SOTR}}</td>
                                <td>{{TotalOutbound.MOTR}}</td>
                                <td>{{TotalOutbound.LOTR}}</td>
                                <td>{{TotalOutbound.GOTR}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--/.row-->
        </div>
    </div>
</div><!--/.panel-->
<!-- /Component -->
