﻿<!-- Component: Reuse Tires -->
<script type="text/ng-template" id="collectorUpdatedReuseTires.html">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="panelReuseTires-headingOne" ng-show="!displayCollectorInventoryPanel">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-tireoriginreport="#accordion" href="#panelReuseTires-collapseOne" aria-expanded="true" aria-controls="panelReuseTires-collapseOne">
                    Reuse Tires
                    <collector-inbound-and-reuse-export model="reuseTireModel" total-model="totalReuseTires"
                                                        attr-header="Total Reuse" file-name="StaffReuseTiresClaimsSummary"
                                                        type-list="Reuse" url='@Url.Action("ExportToExcelReuseTires", "Claims")' attr-anchor="115px">
                    </collector-inbound-and-reuse-export>
                </a>
            </h4>
        </div>
        <div class="panel-heading" role="tab" id="panelReuseTires-headingOne" ng-show="displayCollectorInventoryPanel">
            <div id="popoverParticipantCollectionInventoryCount" style="display:none;">
                <p>Enter the quantities of used tires by tire type that were removed from vehicles by December 31, 2018 but <strong><u>not</u></strong> collected by an OTS Hauler by the end of this reporting period. If you have no used tires for collection at the end of this reporting period, enter 0 and proceed with submitting your claim.</p>
            </div>
            <h4 class="panel-title">
                <a data-toggle="collapse" data-tireoriginreport="#accordion" href="#panelReuseTires-collapseOne" aria-expanded="true" aria-controls="panelReuseTires-collapseOne">
                    Collection Inventory Count <i class="fa fa-question-circle popoverTireOrigin" data-placement="auto" title="" popover="#popoverParticipantCollectionInventoryCount"></i>
                    <collector-inbound-and-reuse-export model="reuseTireModel" total-model="totalReuseTires"
                                                        attr-header="Total Reuse" file-name="StaffCollectionInventoryCountClaimsSummary"
                                                        type-list="Reuse" url='@Url.Action("ExportToExcelReuseTires", "Claims")' attr-anchor="255px">
                    </collector-inbound-and-reuse-export>
                </a>
            </h4>
        </div>
        <div id="panelReuseTires-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelReuseTires-headingOne">
            <div class="panel-body" style="overflow-x:visible">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th width="30%" ng-show="!displayCollectorInventoryPanel">
                                        Reuse Tires <i class="fa fa-question-circle popoverTireOrigin" data-placement="auto" title="" popover="#popoverParticipantReuseTire"></i>
                                        <div id="popoverParticipantReuseTire" style="display:none;">
                                            <p>Enter the quantities of tires by type that were removed from vehicles that were directed to other purposes including but not limited to; retreading or used tire sales during this reporting period. If you have not sent any collected tires to a reuse market, enter 0 in each tire type field. The tire quantities entered on this report have <strong>not</strong> been and will <strong>not</strong> be transported from your site by a registered Hauler. Tires that are directed to reuse markets by Collectors do not attract a collection incentive allowance.</p>
                                        </div>
                                    </th>
                                    <th width="30%" ng-show="displayCollectorInventoryPanel"></th>
                                    <th>PLT</th>
                                    <th>MT</th>
                                    <th>AG/LS</th>
                                    <th>IND</th>
                                    <th>SOTR</th>
                                    <th>MOTR</th>
                                    <th>LOTR</th>
                                    <th width="6%">GOTR</th>
                                    <th width="6%">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-show="addReuseTireOrigin && displayCollectorInventoryPanel" class="place-holder-overflow">
                                    <td></td>
                                    <td class="td-holder">
                                        <input type="text" class="form-control" placeholder="Enter Tire Counts" ng-model="reuseAddPLT" numbers-only input-limit="6" ng-class="(reuseAddPLT == undefined || reuseAddPLT.toString() == '') && validationRequired ? 'border-required' : 'border-normal' " ng-disabled="claimCommonModel.ClaimSummarySecurity.PageReadonlyForStaffReuse">
                                        <div class="required-text" ng-show="(reuseAddPLT == undefined || reuseAddPLT.toString() == '') && validationRequired">Required</div>
                                    </td>
                                    <td class="td-holder">
                                        <input type="text" class="form-control" placeholder="Enter Tire Counts" ng-model="reuseAddMT" numbers-only input-limit="6" ng-class="(reuseAddMT == undefined || reuseAddMT.toString() == '') && validationRequired ? 'border-required' : 'border-normal' " ng-disabled="claimCommonModel.ClaimSummarySecurity.PageReadonlyForStaffReuse">
                                        <div class="required-text" ng-show="(reuseAddMT == undefined || reuseAddMT.toString() == '') && validationRequired">Required</div>
                                    </td>
                                    <td class="td-holder">
                                        <input type="text" class="form-control" placeholder="Enter Tire Counts" ng-model="reuseAddAGLS" numbers-only input-limit="6" ng-class="(reuseAddAGLS == undefined || reuseAddAGLS.toString() == '') && validationRequired ? 'border-required' : 'border-normal' " ng-disabled="claimCommonModel.ClaimSummarySecurity.PageReadonlyForStaffReuse">
                                        <div class="required-text" ng-show="(reuseAddAGLS == undefined || reuseAddAGLS.toString() == '') && validationRequired">Required</div>
                                    </td>
                                    <td class="td-holder">
                                        <input type="text" class="form-control" placeholder="Enter Tire Counts" ng-model="reuseAddIND" numbers-only input-limit="6" ng-class="(reuseAddIND == undefined || reuseAddIND.toString() == '') && validationRequired ? 'border-required' : 'border-normal' " ng-disabled="claimCommonModel.ClaimSummarySecurity.PageReadonlyForStaffReuse">
                                        <div class="required-text" ng-show="(reuseAddIND == undefined || reuseAddIND.toString() == '') && validationRequired">Required</div>
                                    </td>
                                    <td class="td-holder">
                                        <input type="text" class="form-control" placeholder="Enter Tire Counts" ng-model="reuseAddSOTR" numbers-only input-limit="6" ng-class="(reuseAddSOTR == undefined || reuseAddSOTR.toString() == '') && validationRequired ? 'border-required' : 'border-normal' " ng-disabled="claimCommonModel.ClaimSummarySecurity.PageReadonlyForStaffReuse">
                                        <div class="required-text" ng-show="(reuseAddSOTR == undefined || reuseAddSOTR.toString() == '') && validationRequired">Required</div>
                                    </td>
                                    <td class="td-holder">
                                        <input type="text" class="form-control" placeholder="Enter Tire Counts" ng-model="reuseAddMOTR" numbers-only input-limit="6" ng-class="(reuseAddMOTR == undefined || reuseAddMOTR.toString() == '') && validationRequired ? 'border-required' : 'border-normal' " ng-disabled="claimCommonModel.ClaimSummarySecurity.PageReadonlyForStaffReuse">
                                        <div class="required-text" ng-show="(reuseAddMOTR == undefined || reuseAddMOTR.toString() == '') && validationRequired">Required</div>
                                    </td>
                                    <td class="td-holder">
                                        <input type="text" class="form-control" placeholder="Enter Tire Counts" ng-model="reuseAddLOTR" numbers-only input-limit="6" ng-class="(reuseAddLOTR == undefined || reuseAddLOTR.toString() == '') && validationRequired ? 'border-required' : 'border-normal' " ng-disabled="claimCommonModel.ClaimSummarySecurity.PageReadonlyForStaffReuse">
                                        <div class="required-text" ng-show="(reuseAddLOTR == undefined || reuseAddLOTR.toString() == '') && validationRequired">Required</div>
                                    </td>
                                    <td class="td-holder">
                                        <input type="text" class="form-control" placeholder="Enter Tire Counts" ng-model="reuseAddGOTR" numbers-only input-limit="6" ng-class="(reuseAddGOTR == undefined || reuseAddGOTR.toString() == '') && validationRequired ? 'border-required' : 'border-normal' " ng-disabled="claimCommonModel.ClaimSummarySecurity.PageReadonlyForStaffReuse">
                                        <div class="required-text" ng-show="(reuseAddGOTR == undefined || reuseAddGOTR.toString() == '') && validationRequired">Required</div>
                                    </td>
                                    <td><button class="btn btn-md btn-success btn-add" type="submit" title="Add" ng-click="addReuse()" ng-disabled="!claimCommonModel.ClaimSummarySecurity.StaffCollectorInventoryAddDelete || claimCommonModel.ClaimSummarySecurity.PageReadonlyForStaffReuse">+</button></td>
                                </tr>

                                <tr ng-show="editReuseTireOrigin && displayCollectorInventoryPanel" class="place-holder-overflow">
                                    <td></td>
                                    <td class="td-holder">
                                        <input type="text" class="form-control" placeholder="Enter Tire Counts" ng-model="reuseEditPLT" numbers-only input-limit="6" ng-class="(reuseEditPLT == undefined || reuseEditPLT.toString() == '') && validationRequired ? 'border-required' : 'border-normal' ">
                                        <div class="required-text" ng-show="(reuseEditPLT == undefined || reuseEditPLT.toString() == '') && validationRequired">Required</div>
                                    </td>
                                    <td class="td-holder">
                                        <input type="text" class="form-control" placeholder="Enter Tire Counts" ng-model="reuseEditMT" numbers-only input-limit="6" ng-class="(reuseEditMT == undefined || reuseEditMT.toString() == '') && validationRequired ? 'border-required' : 'border-normal' ">
                                        <div class="required-text" ng-show="(reuseEditMT == undefined || reuseEditMT.toString() == '') && validationRequired">Required</div>
                                    </td>
                                    <td class="td-holder">
                                        <input type="text" class="form-control" placeholder="Enter Tire Counts" ng-model="reuseEditAGLS" numbers-only input-limit="6" ng-class="(reuseEditAGLS == undefined || reuseEditAGLS.toString() == '') && validationRequired ? 'border-required' : 'border-normal' ">
                                        <div class="required-text" ng-show="(reuseEditAGLS == undefined || reuseEditAGLS.toString() == '') && validationRequired">Required</div>
                                    </td>
                                    <td class="td-holder">
                                        <input type="text" class="form-control" placeholder="Enter Tire Counts" ng-model="reuseEditIND" numbers-only input-limit="6" ng-class="(reuseEditIND == undefined || reuseEditIND.toString() == '') && validationRequired ? 'border-required' : 'border-normal' ">
                                        <div class="required-text" ng-show="(reuseEditIND == undefined || reuseEditIND.toString() == '') && validationRequired">Required</div>
                                    </td>
                                    <td class="td-holder">
                                        <input type="text" class="form-control" placeholder="Enter Tire Counts" ng-model="reuseEditSOTR" numbers-only input-limit="6" ng-class="(reuseEditSOTR == undefined || reuseEditSOTR.toString() == '') && validationRequired ? 'border-required' : 'border-normal' ">
                                        <div class="required-text" ng-show="(reuseEditSOTR == undefined || reuseEditSOTR.toString() == '') && validationRequired">Required</div>
                                    </td>
                                    <td class="td-holder">
                                        <input type="text" class="form-control" placeholder="Enter Tire Counts" ng-model="reuseEditMOTR" numbers-only input-limit="6" ng-class="(reuseEditMOTR == undefined || reuseEditMOTR.toString() == '') && validationRequired ? 'border-required' : 'border-normal' ">
                                        <div class="required-text" ng-show="(reuseEditMOTR == undefined || reuseEditMOTR.toString() == '') && validationRequired">Required</div>
                                    </td>
                                    <td class="td-holder">
                                        <input type="text" class="form-control" placeholder="Enter Tire Counts" ng-model="reuseEditLOTR" numbers-only input-limit="6" ng-class="(reuseEditLOTR == undefined || reuseEditLOTR.toString() == '') && validationRequired ? 'border-required' : 'border-normal' ">
                                        <div class="required-text" ng-show="(reuseEditLOTR == undefined || reuseEditLOTR.toString() == '') && validationRequired">Required</div>
                                    </td>
                                    <td class="td-holder">
                                        <input type="text" class="form-control" placeholder="Enter Tire Counts" ng-model="reuseEditGOTR" numbers-only input-limit="6" ng-class="(reuseEditGOTR == undefined || reuseEditGOTR.toString() == '') && validationRequired ? 'border-required' : 'border-normal' ">
                                        <div class="required-text" ng-show="(reuseEditGOTR == undefined || reuseEditGOTR.toString() == '') && validationRequired">Required</div>
                                    </td>
                                    <td><button class="btn btn-danger btn-block" type="submit" title="Cancel" ng-click="cancelUpdate()"><i class="fa fa-remove"></i></button><button class="btn btn-success btn-block" type="submit" title="Update" ng-click="updateReuse()" ng-disabled="!claimCommonModel.ClaimSummarySecurity.StaffCollectorInventoryEdit"><i class="fa fa-check"></i></button></td>
                                </tr>

                                <tr ng-show="finalReuseTireOrigin">
                                    <td></td>
                                    <td>{{reuseTireModel.PLT}}</td>
                                    <td>{{reuseTireModel.MT}}</td>
                                    <td>{{reuseTireModel.AGLS}}</td>
                                    <td>{{reuseTireModel.IND}}</td>
                                    <td>{{reuseTireModel.SOTR}}</td>
                                    <td>{{reuseTireModel.MOTR}}</td>
                                    <td>{{reuseTireModel.LOTR}}</td>
                                    <td>{{reuseTireModel.GOTR}}</td>
                                    <td class="td-center">
                                        <div class="btn-group dropdown-menu-actions" ng-show="displayCollectorInventoryPanel && !claimCommonModel.ClaimSummarySecurity.PageReadonlyForStaffReuse">
                                            <a data-toggle="dropdown" href="javascript:void(0)">
                                                <i class="glyphicon glyphicon-cog"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="javascript:void(0)" ng-click="editReuse()" ng-show="claimCommonModel.ClaimSummarySecurity.StaffCollectorInventoryEdit"><i class="glyphicon fa fa-pencil-square-o"></i>Edit</a>                                                 
                                                </li>
                                                <li>
                                                    <a ng-click="removeReuse()" ng-show="claimCommonModel.ClaimSummarySecurity.StaffCollectorInventoryAddDelete"><i class="glyphicon fa fa fa-trash-o"></i>&nbsp;Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div><!--/.row-->
            </div>
        </div>
    </div>
</script>
<!--/.panel-->
<!-- /Component -->
