﻿@using CL.TMS.Security.Authorization
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="panelPaymentsAndClawback-headingOne">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-tireoriginreport="#accordion" href="#panelPaymentsAndClawback-collapseOne" aria-expanded="true" aria-controls="panelPaymentsAndClawback-collapseOne">
                Payments &amp; Adjustments
                @*<i class="fa fa-file-text-o fa-fw uiaction-export" title="Export to CSV"></i>*@
                <collector-payment-adjust-export model="staffClaimSummaryModel.CollectorPayment"
                                                 file-name="StaffPaymentAdjustmentClaimsSummary" ng-if="dataloaded"
                                                 url='@Url.Action("ExportToExcelPaymentAdjustment", "Claims")' attr-anchor="230px">
                </collector-payment-adjust-export>
            </a>
        </h4>
    </div>
    <div id="panelPaymentsAndClawback-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelPaymentsAndClawback-headingOne">
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th style="text-align:right"></th>
                        <th style="text-align:right"></th>
                        <th style="text-align:right">Payment ($)</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-toggle="modal" data-target="#modalCollectionAllowancePayment" style="cursor:pointer;">Collection Allowance <i class="fa fa-search-plus color-tm-blue"></i><br></td>
                        <td></td>
                        <td></td>
                        <td align="right">{{staffClaimSummaryModel.CollectorPayment.PLTPayment + staffClaimSummaryModel.CollectorPayment.MTGOTRPayment| number:2}}</td>
                        <td>+</td>
                    </tr>
                    <tr>
                        <td>Payment Adjustments</td>
                        <td align="right">&nbsp;</td>
                        <td align="right">&nbsp;</td>
                        <td align="right" ng-class="{'color-tm-red': staffClaimSummaryModel.CollectorPayment.PaymentAdjustment<0}">{{staffClaimSummaryModel.CollectorPayment.PaymentAdjustment | number:2}}</td>
                        <td>=</td>
                    </tr>
                    <tr>
                        <td>Subtotal</td>
                        <td align="right">&nbsp;</td>
                        <td align="right">&nbsp;</td>
                        <td align="right" ng-class="{'color-tm-red': staffClaimSummaryModel.CollectorPayment.SubTotal<0}">{{staffClaimSummaryModel.CollectorPayment.SubTotal | number:2}}</td>
                        <td>+</td>

                    </tr>
                    <tr>
                        <td>HST {{staffClaimSummaryModel.CollectorPayment.HSTBase*100 | number:2}}%</td>
                        <td align="right">&nbsp;</td>
                        <td align="right">&nbsp;</td>
                        <td align="right" ng-class="{'color-tm-red': staffClaimSummaryModel.CollectorPayment.HST<0}">{{staffClaimSummaryModel.CollectorPayment.HST| number:2}}</td>
                        <td>=</td>

                    </tr>
                    <tr>
                        <td><strong>Grand Total</strong></td>
                        <td align="right">&nbsp;</td>
                        <td align="right">&nbsp;</td>
                        <td align="right" ng-class="{'color-tm-red': staffClaimSummaryModel.CollectorPayment.GrandTotal<0}"><strong>{{staffClaimSummaryModel.CollectorPayment.GrandTotal | number:2}}</strong></td>
                        <td align="right">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-hover" style="margin-bottom:5px;">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Payment Due</td>
                        <td class="txt-r">{{staffClaimSummaryModel.CollectorPayment.PaymentDueDate | date:'yyyy-MM-dd'}}</td>
                    </tr>
                    <tr>
                        <td>Cheque/EFT #</td>
                        <td class="txt-r">{{staffClaimSummaryModel.CollectorPayment.ChequeNumber}}</td>
                    </tr>
                    <tr>
                        <td>Paid</td>
                        <td class="txt-r">{{staffClaimSummaryModel.CollectorPayment.PaidDate | date:'yyyy-MM-dd'}}</td>
                    </tr>
                    <tr>
                        <td>Amount Paid ($)</td>
                        <td class="txt-r">{{staffClaimSummaryModel.CollectorPayment.AmountPaid | number:2}}</td>
                    </tr>
                    <tr>
                        <td>Mailed</td>
                        @if (SecurityContextHelper.IsStaff())
                        {
                        <td ng-show="ShowMailDate">
                            <div class="pull-right">
                                <p class="input-group" ng-show="true" style="width:280px">
                                    <input type="text" name="formDate" class="form-control" ng-readonly='true' uib-datepicker-popup="yyyy-MM-dd" show-weeks="false" ng-model="staffClaimSummaryModel.CollectorPayment.MailedDate" is-open="datePicker.status" ng-required="true" close-text="@UIResource.Close" />
                                    <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button></span>
                                </p>
                            </div>
                        </td>
                        <td class="txt-r" ng-hide="ShowMailDate">{{staffClaimSummaryModel.CollectorPayment.MailedDate | date:'yyyy-MM-dd'}}</td>
                        }
                        else
                        {
                        <td class="txt-r">{{staffClaimSummaryModel.CollectorPayment.MailedDate | date:'yyyy-MM-dd'}}</td>
                        }
                    </tr>
                    <tr>
                        <td>Batch #</td>
                        <td class="txt-r">{{staffClaimSummaryModel.CollectorPayment.BatchNumber}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal: Collection Allowance Payment Details  -->
<div class="modal fade" id="modalCollectionAllowancePayment" tabindex="-1" role="dialog" aria-labelledby="modalCollectionAllowancePayment" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalCollectionAllowancePayment" align="center">Collection Allowance Payment Details </h3>
            </div>
            <div class="modal-body">
                <div style="padding:10px 10px 0 10px;">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <td class="" style=""><strong>Tire Category</strong></td>
                                <td class="collection-payment-title" width="9%"><strong>&nbsp;PLT&nbsp;</strong></td>
                                <td class="collection-payment-title" width="9%"><strong>&nbsp;&nbsp;MT&nbsp;</strong></td>
                                <td class="collection-payment-title" width="9%"><strong>AG/LS</strong></td>
                                <td class="collection-payment-title" width="9%"><strong>&nbsp;IND&nbsp;</strong></td>

                                <td class="collection-payment-title" width="9%"><strong>&nbsp;SOTR</strong></td>
                                <td class="collection-payment-title" width="9%"><strong>&nbsp;MOTR</strong></td>
                                <td class="collection-payment-title" width="9%"><strong>&nbsp;LOTR</strong></td>
                                <td class="collection-payment-title" width="9%"><strong>&nbsp;GOTR</strong></td>
                                <td class="collection-payment-title" width="11%"><strong>Total</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <!--Quantity-->
                            <tr>
                                <td class="border-r">Quantity</td>
                                <td class="collection-payment-qty" ng-class="{'color-tm-red': staffClaimSummaryModel.CollectorAllowancePaymentDetail.PLTTireCountQty<0}">{{staffClaimSummaryModel.CollectorAllowancePaymentDetail.PLTTireCountQty}}</td>
                                <td class="collection-payment-qty" ng-class="{'color-tm-red': staffClaimSummaryModel.CollectorAllowancePaymentDetail.MTTireCountQty<0}">{{staffClaimSummaryModel.CollectorAllowancePaymentDetail.MTTireCountQty}}</td>
                                <td class="collection-payment-qty" ng-class="{'color-tm-red': staffClaimSummaryModel.CollectorAllowancePaymentDetail.AGLSTireCountQty<0}">{{staffClaimSummaryModel.CollectorAllowancePaymentDetail.AGLSTireCountQty}}</td>
                                <td class="collection-payment-qty" ng-class="{'color-tm-red': staffClaimSummaryModel.CollectorAllowancePaymentDetail.INDTireCountQty<0}">{{staffClaimSummaryModel.CollectorAllowancePaymentDetail.INDTireCountQty}}</td>
                                <td class="collection-payment-qty" ng-class="{'color-tm-red': staffClaimSummaryModel.CollectorAllowancePaymentDetail.SOTRTireCountQty<0}">{{staffClaimSummaryModel.CollectorAllowancePaymentDetail.SOTRTireCountQty}}</td>
                                <td class="collection-payment-qty" ng-class="{'color-tm-red': staffClaimSummaryModel.CollectorAllowancePaymentDetail.MOTRTireCountQty<0}">{{staffClaimSummaryModel.CollectorAllowancePaymentDetail.MOTRTireCountQty}}</td>
                                <td class="collection-payment-qty" ng-class="{'color-tm-red': staffClaimSummaryModel.CollectorAllowancePaymentDetail.LOTRTireCountQty<0}">{{staffClaimSummaryModel.CollectorAllowancePaymentDetail.LOTRTireCountQty}}</td>
                                <td class="collection-payment-qty border-r" ng-class="{'color-tm-red': staffClaimSummaryModel.CollectorAllowancePaymentDetail.GOTRTireCountQty<0}">{{staffClaimSummaryModel.CollectorAllowancePaymentDetail.GOTRTireCountQty}}</td>
                                <td class="collection-payment-qty">&nbsp;</td>
                            </tr>
                            <!--Rate-->
                            <tr>
                                <td class="border-r">Rate (per Unit)</td>
                                <td class="collection-payment-rate">${{staffClaimSummaryModel.CollectorAllowancePaymentDetail.PLTRate | number:2}}</td>
                                <td class="collection-payment-rate">${{staffClaimSummaryModel.CollectorAllowancePaymentDetail.MTRate | number:2}}</td>
                                <td class="collection-payment-rate">${{staffClaimSummaryModel.CollectorAllowancePaymentDetail.AGLSRate | number:2}}</td>
                                <td class="collection-payment-rate">${{staffClaimSummaryModel.CollectorAllowancePaymentDetail.INDRate | number:2}}</td>

                                <td class="collection-payment-rate">${{staffClaimSummaryModel.CollectorAllowancePaymentDetail.SOTRRate | number:2}}</td>
                                <td class="collection-payment-rate">${{staffClaimSummaryModel.CollectorAllowancePaymentDetail.MOTRRate | number:2}}</td>
                                <td class="collection-payment-rate">${{staffClaimSummaryModel.CollectorAllowancePaymentDetail.LOTRRate | number:2}}</td>
                                <td class="collection-payment-rate border-r">${{staffClaimSummaryModel.CollectorAllowancePaymentDetail.GOTRRate | number:2}}</td>
                                <td class="collection-payment-rate">&nbsp;</td>
                            </tr>
                            <!--Payment-->
                            <tr>
                                <td class="border-r">Payment</td>
                                <td class="collection-payment-pay" ng-class="{'color-tm-red': staffClaimSummaryModel.CollectorAllowancePaymentDetail.PLTPayment<0}">${{staffClaimSummaryModel.CollectorAllowancePaymentDetail.PLTPayment | number:2}}</td>
                                <td class="collection-payment-pay" ng-class="{'color-tm-red': staffClaimSummaryModel.CollectorAllowancePaymentDetail.MTPayment<0}">${{staffClaimSummaryModel.CollectorAllowancePaymentDetail.MTPayment | number:2}}</td>
                                <td class="collection-payment-pay" ng-class="{'color-tm-red': staffClaimSummaryModel.CollectorAllowancePaymentDetail.AGLSPayment<0}">${{staffClaimSummaryModel.CollectorAllowancePaymentDetail.AGLSPayment | number:2}}</td>
                                <td class="collection-payment-pay" ng-class="{'color-tm-red': staffClaimSummaryModel.CollectorAllowancePaymentDetail.INDPayment<0}">${{staffClaimSummaryModel.CollectorAllowancePaymentDetail.INDPayment | number:2}}</td>

                                <td class="collection-payment-pay" ng-class="{'color-tm-red': staffClaimSummaryModel.CollectorAllowancePaymentDetail.SOTRPayment<0}">${{staffClaimSummaryModel.CollectorAllowancePaymentDetail.SOTRPayment | number:2}}</td>
                                <td class="collection-payment-pay" ng-class="{'color-tm-red': staffClaimSummaryModel.CollectorAllowancePaymentDetail.MOTRPayment<0}">${{staffClaimSummaryModel.CollectorAllowancePaymentDetail.MOTRPayment | number:2}}</td>
                                <td class="collection-payment-pay" ng-class="{'color-tm-red': staffClaimSummaryModel.CollectorAllowancePaymentDetail.LOTRPayment<0}">${{staffClaimSummaryModel.CollectorAllowancePaymentDetail.LOTRPayment | number:2}}</td>
                                <td class="collection-payment-pay border-r" ng-class="{'color-tm-red': staffClaimSummaryModel.CollectorAllowancePaymentDetail.GOTRPayment<0}">${{staffClaimSummaryModel.CollectorAllowancePaymentDetail.GOTRPayment | number:2}}</td>
                                <td class="collection-payment-pay">&nbsp;</td>
                            </tr>
                            <!--Total-->
                            <tr class="success">
                                <td class="border-r"><strong>Total</strong></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="border-r">&nbsp;</td>
                                <td class="collection-payment-pay" ng-class="{'color-tm-red': staffClaimSummaryModel.CollectorPayment.PaymentTotal<0}">${{staffClaimSummaryModel.CollectorAllowancePaymentDetail.PaymentTotal | number:2}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">
                    <i class="glyphicon fa fa-times-circle-o glyphicon-times-circle-o icon-times-circle-o" aria-hidden="true"></i>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- /Modal  -->