﻿@model CL.TMS.DataContracts.ViewModel.Claims.ClaimsCommonHeaderViewModel
@using CL.TMS.Security.Authorization

@{
    ViewBag.Title = "Staff Claim Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/css/jquery-webui-popover")

@section styles
{
    <link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />
    <style>
        .panel-default > .panel-heading a.export,
        .panel-default > .panel-heading a.export:hover {
            background: none;
            left: 100px;
            position: absolute;
            top: 11px;
            width: 25px;
        }

        /*OTSTM2-986 keep panel search textbox visible all the time*/
        #search {
            visibility: visible;
            width: 190px;
        }
    </style>

}
@if (CL.TMS.Security.Authorization.ResourceActionAuthorizationHandler.CheckUserSecurity(CL.TMS.Common.TreadMarksConstants.ClaimsClaimsAllClaims) >= CL.TMS.Security.SecurityResultType.ReadOnly)
{
    <div class="tm-all staff-all-claims">

        <div id="fixedClaimHeader" class="row comp-claims-header fixed-claim-header">
            <div class="col-xs-7 col-sm-6">
                <h2 class="fixed-claim-header-title">Claims</h2>                
            </div>
            @if (SecurityContextHelper.IsStaff())
            {
                <div class="col-xs-5 col-sm-6">
                    @Html.Partial("_ParticipantHeader", SecurityContextHelper.CurrentVendor, new ViewDataDictionary() { { "PageTitle", @ViewBag.Title + "_Collector" } }) @*OTSTM2-1305*@
                </div>
            }
            else
            {
                <div class="col-xs-5 col-sm-6">
                    <div class="sub-header-registrantinfo">@SecurityContextHelper.CurrentVendor.RegistrationNumber</div>
                </div>
            }
        </div>

        <div class="panel panel-default" style="margin-top:85px">
            <div class="panel-heading" role="tab" id="panelAllClaimsHeading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#panelAllClaims" aria-expanded="true" aria-controls="panelAllClaims" class="panel-arrow-expand">
                        All Claims
                    </a>
                    <a id="export" class="export export-claimindex" title="Export to CSV" href="@Url.Action("ExportToExcel", new {})"><i class="fa fa-file-text-o fa-fw uiaction-export"></i></a>
                </h4>
                <div class="col-xs-6 subcomp-search">
                    <input id="search" type="text" class="form-control" placeholder="Search">
                    <div id="found" class="subcomp-search-found">&nbsp;</div>
                    <i class="glyphicon glyphicon-remove remove-icon"></i>
                    <i class="glyphicon glyphicon-search"></i>
                </div>
            </div>
            <div id="panelAllClaims" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelAllClaimsHeading">
                <div class="panel-body">
                    <div class="table-responsive">
                        @Html.Partial("_StaffClaimsList")
                    </div>
                </div>
            </div>
        </div><!--/.panel-->

    </div>
}
else
{
    Response.Redirect("/System/Common/UnauthorizedPage");
}
@section scripts{
    @Scripts.Render("~/bundles/jquerydatatable")

    <script type="text/javascript">
        //list of Resources text needed
        Global = {};
        Global.StaffIndex = {
            Resources: {},

        };
    </script>
    @Scripts.Render("~/bundles/staffclaimlist")
    @Scripts.Render("~/bundles/participantheader")

    <script type="text/javascript">
        $(function () {
            $('#staffTblclaimlist').createDataTable({
                viewMoreId: '#viewmore',
                totalRecordsId: '#totalRecords',
                searchId: '#search',
                exportId: '#export',
                foundId: '#found',
                removeIconId: '.remove-icon',
                exportUrl: '@Url.Action("StaffAllClaimsExportToExcel", "Claims", new { area = "System", searchText = "----", sortColumn = "AAA", sortDirection = "BBB",
                           searchTextPeriodName = "-st-periodname", searchTextStatus = "-st-status", searchTextAmount = "-st-amount", searchTextSubmittedDate = "-st-submitteddate",
                           searchTextReviewDate = "-st-reviewdate", searchTextChequeDueDate = "-st-chequeduedate", searchTextEftNumber = "-st-eftnumber", searchTextPaymentDate = "-st-paymentdate",
                       searchTextAssignedDate = "-st-assigneddate", searchTextAssignedTo = "-st-assignedto", searchTextSubmittedBy = "-st-submittedby"})', //OTSTM2-986
                ajaxHandler: '@Url.Action("StaffGetAllClaimsListHandler", "Claims", new { area = "System"})',
                rowUrl: '@Url.Action("ClaimSummary", "Claims", new { area = "Collector"})',
            });

            var settings = {
                trigger: 'hover',
                multi: true,
                closeable: true,
                style: '',
                delay: { show: 300, hide: 800 },
                padding: true
            };
        })

    </script>

}