﻿@using CL.TMS.Security.Authorization
@using CL.TMS.Common

@model CL.TMS.DataContracts.ViewModel.System.InvitationsViewModel
@{
    ViewBag.Title = "StaffUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section styles {
    <style>
        .panel-default > .panel-heading a.export,
        .panel-default > .panel-heading a.export:hover {
            background: none;
            left: 100px;
            position: absolute;
            top: 11px;
            width: 25px;
        }

        table.dataTable {
            border-collapse: collapse;
            width: 100% !important;
        }

        table.routing {
            border-collapse: collapse;
            width: 100%;
        }

            table.routing th, table.routing td {
                padding: 8px;
                text-align: left;
                border-bottom: 1px solid #ddd;
            }


        .verticalLine {
            border-left: 1px solid #ddd;
        }

        .horizontalLine {
            border-bottom: 1px solid #ddd;
        }

        .topHorizontalLine {
            border-top: 1px solid #ddd;
        }

        .autoHeight {
            height: 40px;
            line-height: 40px;
            white-space: nowrap;
        }

        .autoHeightBlock {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 40px;
        }


        .fa-blue {
            color: #44ABF4;
        }

        .margin-left-40 {
            margin-left: 40px;
        }

        .width-50 {
            width: 110%;
        }

        .bgRed {
            background-color: red;
        }

        .selectBox {
            padding: 4px;
        }

        .singleTextBox {
            width: 22em;
        }

        .avoid-clicks {
            pointer-events: none;
            background-color: #808080;
        }
    </style>
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frminvitation" }))
{
    <div class="tm-all participants-all-claims">
        <!-- Component: Transactions Header -->
        <div id="fixedClaimHeader" class="row comp-claims-header fixed-claim-header">
            <div class="col-xs-7 col-sm-6">
                <h2 class="fixed-claim-header-title">Staff Users</h2>
            </div>
            <div class="col-xs-5 col-sm-6">
                <!-- <div class="sub-header-registrantinfo"></div> -->
            </div>
        </div><!--/.row-->
      
        <!-- Warning Message -->
        <div id="systemmessage" class="alert alert-warning display-none">
            <strong id="ajaxstatus"></strong>
        </div>      
        <button id="addUserBtn" style="margin-top:70px" type="button" class="btn btn-success btn-add" data-toggle="modal" data-target="#modalAddNewUser" title="Add New User &amp; Send Invite">+</button>
        
        <!-- Modal: Add New User -->
        <div class="modal fade" id="modalAddNewUser" tabindex="-1" role="dialog" aria-labelledby="modalAddNewUser" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="modalAddNewUser" align="center">
                            New User
                        </h4>
                    </div>
                    <div class="modal-body padding-25">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="" class="small">@UIResource.FirstName</label>
                                @Html.TextBoxFor(r => r.CreateInvitationViewModel.FirstName, new { id = "firstname-input", @class = "form-control", placeholder = UIResource.FirstName })
                                @Html.ValidationMessageFor(r => r.CreateInvitationViewModel.FirstName, "", new { id = "validfirstname-input", @class = "text-danger" })
                            </div>
                            <div class="col-md-3">
                                <label for="" class="small">@UIResource.LastName</label>
                                @Html.TextBoxFor(r => r.CreateInvitationViewModel.LastName, new { id = "lastname-input", @class = "form-control", placeholder = UIResource.LastName })
                                @Html.ValidationMessageFor(r => r.CreateInvitationViewModel.LastName, "", new { id = "validlastname-input", @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                <label for="" class="small">@UIResource.Email</label>
                                @Html.TextBoxFor(r => r.CreateInvitationViewModel.EmailAddress, new { id = "emailaddress-input", @class = "form-control singleTextBox", placeholder = UIResource.EmailAddress })
                                @Html.ValidationMessageFor(r => r.CreateInvitationViewModel.EmailAddress, "", new { id = "validemail-input", @class = "text-danger" })

                            </div>
                            <div class="col-md-1">&nbsp;</div>
                        </div><!--/.row-->
                        <hr>
                        @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminUsersAddEditNewUserRoles) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                        {
                            <input type="hidden" id="hasRolePanel" value="yes">
                            <div class="row margin-top--20">
                                <div class="col-md-12">
                                    <h4>Roles</h4>
                                </div>
                                <div class="row">
                                    <div class="col-xs-1 margin-left-40"> &nbsp; </div>
                                    <div class="col-xs-4 small text-center">
                                        <strong>Available Roles</strong>
                                        <select name="from[]" id="multiselect" class="form-control small" size="8" multiple="multiple"></select>
                                    </div>

                                    <div class="col-xs-1 text-center">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                &nbsp;
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                &nbsp;
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                &nbsp;
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <!--<button type="button" id="multiselect_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>-->
                                                <a id="multiselect_rightSelected"><i class="fa fa-arrow-circle-o-right fa-2x fa-blue" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <a id="multiselect_leftSelected"><i class="fa fa-arrow-circle-o-left fa-2x fa-blue" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-4 small text-center">
                                        <strong>Assigned Roles</strong>
                                        <select name="multiselect_to" id="multiselect_to" class="form-control" size="8" multiple="multiple"></select>
                                        <label class="error" id="select_error" style="color:#a94442; font-family:'Open Sans', sans-serif; font-size:14px;">At least one Role is required</label>
                                    </div>
                                    <div class="col-xs-1"> </div>
                                </div>
                            </div><!--/.row-->
                            <hr>
                        }
                        @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminUsersAddEditNewUserRoutingAndWorkflowCLAIMS) >= CL.TMS.Security.SecurityResultType.ReadOnly
                    || ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminUsersAddEditNewUserRoutingAndWorkflowREMITTANCES) >= CL.TMS.Security.SecurityResultType.ReadOnly
                    || ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminUsersAddEditNewUserRoutingAndWorkflowAPPLICATIONS) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                        {
                            <div class="row">
                                <div class="col-md-12 text-left margin-top--20"><h4>Routing and Workflow</h4></div>
                            </div>
                            <div class="row">
                                @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminUsersAddEditNewUserRoutingAndWorkflowCLAIMS) >= CL.TMS.Security.SecurityResultType.ReadOnly
                    || ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminUsersAddEditNewUserRoutingAndWorkflowREMITTANCES) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                {
                                    <div class="col-xs-6 text-center margin-top-10">
                                        <div class="row">
                                            <div class="col-xs-12 text-center text-uppercase small">
                                                <strong>Claims and remittances</strong>
                                            </div>
                                        </div>
                                        <div class="row margin-top-10">
                                            <div class="col-xs-1 text-center">&nbsp;</div>
                                            <div class="col-xs-3 text-left small horizontalLine topHorizontalLine"><strong>Account</strong></div>
                                            <div class="col-xs-4 text-left small horizontalLine topHorizontalLine"><strong>Workflow</strong></div>
                                            <div class="col-xs-3 text-center small horizontalLine topHorizontalLine"><strong>Action Gear</strong></div>
                                            <div class="col-xs-1 text-center">&nbsp;</div>
                                        </div>
                                        @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminUsersAddEditNewUserRoutingAndWorkflowREMITTANCES) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                        {
                                            <input type="hidden" id="hasStewardWorkflowPanel" value="yes">
                                            <div class="row">
                                                <div class="col-xs-1 text-center">&nbsp;</div>
                                                <div class="col-xs-3 text-left small horizontalLine autoHeight align-middle">Steward</div>
                                                <div class="col-xs-4 text-center horizontalLine small autoHeightBlock">
                                                    <div class="dropdown autoHeightBlock width-50">
                                                        <select class="form-control input-sm selectBox" id="ddlStewardWorkflow"></select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3 text-center horizontalLine autoHeight">
                                                    <input class="validation-checkbox no-validate" id="cbClaimsSteward" type="checkbox">
                                                </div>
                                                <div class="col-xs-1 text-center">&nbsp;</div>
                                            </div>
                                        }

                                        @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminUsersAddEditNewUserRoutingAndWorkflowCLAIMS) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                        {
                                            <input type="hidden" id="hasClaimWorkflowPanel" value="yes">
                                            <div class="row">
                                                <div class="col-xs-1 text-center">&nbsp;</div>
                                                <div class="col-xs-3 text-left small horizontalLine autoHeight align-middle">Collector</div>
                                                <div class="col-xs-4 text-center horizontalLine small autoHeightBlock">
                                                    <div class="dropdown autoHeightBlock width-50">
                                                        <select class="form-control input-sm selectBox" id="ddlCollectorWorkflow"></select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3 text-center horizontalLine autoHeight">
                                                    <input class="validation-checkbox no-validate" id="cbClaimsCollector" type="checkbox">
                                                </div>
                                                <div class="col-xs-1 text-center">&nbsp;</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-1 text-center">&nbsp;</div>
                                                <div class="col-xs-3 text-left small horizontalLine autoHeight align-middle">Hauler</div>
                                                <div class="col-xs-4 text-center horizontalLine small autoHeightBlock">
                                                    <div class="dropdown autoHeightBlock width-50">
                                                        <select class="form-control input-sm selectBox" id="ddlHaulerWorkflow"></select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3 text-center horizontalLine autoHeight">
                                                    <input class="validation-checkbox no-validate" id="cbClaimsHauler" type="checkbox">
                                                </div>
                                                <div class="col-xs-1 text-center">&nbsp;</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-1 text-center">&nbsp;</div>
                                                <div class="col-xs-3 text-left small horizontalLine autoHeight align-middle">Processor</div>
                                                <div class="col-xs-4 text-center horizontalLine small autoHeightBlock">
                                                    <div class="dropdown autoHeightBlock width-50">
                                                        <select class="form-control input-sm selectBox" id="ddlProcessorWorkflow"></select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3 text-center horizontalLine autoHeight">
                                                    <input class="validation-checkbox no-validate" id="cbClaimsProcessor" type="checkbox">
                                                </div>
                                                <div class="col-xs-1 text-center">&nbsp;</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-1 text-center">&nbsp;</div>
                                                <div class="col-xs-3 text-left small horizontalLine autoHeight align-middle">RPM</div>
                                                <div class="col-xs-4 text-center horizontalLine small autoHeightBlock">
                                                    <div class="dropdown autoHeightBlock width-50">
                                                        <select class="form-control input-sm selectBox" id="ddlRPMWorkflow"></select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3 text-center horizontalLine autoHeight">
                                                    <input class="validation-checkbox no-validate" id="cbClaimsRPM" type="checkbox">
                                                </div>
                                                <div class="col-xs-1 text-center">&nbsp;</div>
                                            </div>
                                        }

                                    </div>
                                }
                                @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminUsersAddEditNewUserRoutingAndWorkflowAPPLICATIONS) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                {
                                    <input type="hidden" id="hasApplicationPanel" value="yes">
                                    <div class="col-xs-6 text-center">

                                        <div class="row">
                                            <div class="col-xs-12 text-center text-uppercase small margin-top-10">
                                                <strong>Applications</strong>
                                            </div>
                                        </div>
                                        <div class="row verticalLine margin-top-10">
                                            <div class="col-xs-1 text-center ">&nbsp;</div>
                                            <div class="col-xs-3 text-left small horizontalLine topHorizontalLine"><strong>Account</strong></div>
                                            <div class="col-xs-4 text-center small horizontalLine topHorizontalLine"><strong>Routing</strong></div>
                                            <div class="col-xs-3 text-center small horizontalLine topHorizontalLine"><strong>Action Gear</strong></div>
                                            <div class="col-xs-1 text-center">&nbsp;</div>
                                        </div>

                                        <div class="row verticalLine">
                                            <div class="col-xs-1 text-center ">&nbsp;</div>
                                            <div class="col-xs-3 text-left small horizontalLine autoHeight align-middle">Steward</div>
                                            <div class="col-xs-4 text-center horizontalLine small autoHeight">
                                                <input class="validation-checkbox no-validate" id="cbApplicationsRoutingSteward" type="checkbox">
                                            </div>
                                            <div class="col-xs-3 text-center horizontalLine autoHeight">
                                                <input class="validation-checkbox no-validate" id="cbApplicationsActionSteward" type="checkbox">
                                            </div>
                                            <div class="col-xs-1 text-center">&nbsp;</div>
                                        </div>

                                        <div class="row verticalLine">
                                            <div class="col-xs-1 text-center">&nbsp;</div>
                                            <div class="col-xs-3 text-left small horizontalLine autoHeight align-middle">Collector</div>
                                            <div class="col-xs-4 text-center horizontalLine small autoHeight">
                                                <input class="validation-checkbox no-validate" id="cbApplicationsRoutingCollector" type="checkbox">
                                            </div>
                                            <div class="col-xs-3 text-center horizontalLine autoHeight">
                                                <input class="validation-checkbox no-validate" id="cbApplicationsActionCollector" type="checkbox">
                                            </div>
                                            <div class="col-xs-1 text-center">&nbsp;</div>
                                        </div>

                                        <div class="row verticalLine">
                                            <div class="col-xs-1 text-center">&nbsp;</div>
                                            <div class="col-xs-3 text-left small horizontalLine autoHeight align-middle">Hauler</div>
                                            <div class="col-xs-4 text-center horizontalLine small autoHeight">
                                                <input class="validation-checkbox no-validate" id="cbApplicationsRoutingHauler" type="checkbox">
                                            </div>
                                            <div class="col-xs-3 text-center horizontalLine autoHeight">
                                                <input class="validation-checkbox no-validate" id="cbApplicationsActionHauler" type="checkbox">
                                            </div>
                                            <div class="col-xs-1 text-center">&nbsp;</div>
                                        </div>

                                        <div class="row verticalLine">
                                            <div class="col-xs-1 text-center">&nbsp;</div>
                                            <div class="col-xs-3 text-left small horizontalLine autoHeight align-middle">Processor</div>
                                            <div class="col-xs-4 text-center horizontalLine small autoHeight">
                                                <input class="validation-checkbox no-validate" id="cbApplicationsRoutingProcessor" type="checkbox">
                                            </div>
                                            <div class="col-xs-3 text-center horizontalLine autoHeight">
                                                <input class="validation-checkbox no-validate" id="cbApplicationsActionProcessor" type="checkbox">
                                            </div>
                                            <div class="col-xs-1 text-center">&nbsp;</div>
                                        </div>

                                        <div class="row verticalLine">
                                            <div class="col-xs-1 text-center">&nbsp;</div>
                                            <div class="col-xs-3 text-left small horizontalLine autoHeight align-middle">RPM</div>
                                            <div class="col-xs-4 text-center horizontalLine small autoHeight">
                                                <input class="validation-checkbox no-validate" id="cbApplicationsRoutingRPM" type="checkbox">
                                            </div>
                                            <div class="col-xs-3 text-center horizontalLine autoHeight">
                                                <input class="validation-checkbox no-validate" id="cbApplicationsActionRPM" type="checkbox">
                                            </div>
                                            <div class="col-xs-1 text-center">&nbsp;</div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                        <br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btncanceluser" class="btn btn-danger btn-lg" data-dismiss="modal">
                            <i class="fa fa-ban fa-1x"></i>
                            Cancel
                        </button>
                        <button type="button" id="btnadduser" class="btn btn-success btn-lg">                            
                            <i class="glyphicon fa fa-floppy-o" aria-hidden="true"></i>
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal: Add User & Send Invite Confirm -->
        <div class="modal fade comp-claims-summary-submitmodal margin-top-100" id="modalAddUserSendInviteConfirm" tabindex="-1" role="dialog" aria-labelledby="modalAddUserSendInviteConfirm" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" align="center">Confirm</h3>
                    </div>
                    <div class="modal-body">
                        <h4 class="txt-c">
                            Are you sure you want to create an account for
                            <strong id="dynamicname"></strong> and send an invite to
                            <strong id="dynamicemail"></strong>?
                        </h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                            No
                        </button>
                        <button type="button" id="btnadduserconfirm" class="btn btn-success btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                            Yes
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal: Warning Message -->
        <div class="modal fade comp-claims-summary-submitmodal margin-top-100" id="modalWarningMessage" tabindex="-1" role="dialog" aria-labelledby="modalWarningMessage" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" align="center">Warning</h3>
                    </div>
                    <div class="modal-body">
                        <h4 class="txt-c">
                            Changes can’t be saved due to limited access on the page.
                        </h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                            OK
                        </button>                       
                    </div>
                </div>
            </div>
        </div>
            
        <!-- List Component: Users -->
        <div class="panel panel-default margin-top-20">
            <div class="panel-heading" role="tab" id="panelUsers-headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#panelUsers-collapseOne" aria-expanded="true" aria-controls="panelUsers-collapseOne" class="panel-arrow-expand">
                        All Users
                    </a>
                    <a id="export" class="export export-claimindex" title="Export to CSV" href='@Url.Action("ExportToExcel", new {})'><i class="fa fa-file-text-o fa-fw uiaction-export"></i></a>
                </h4>
                <div class="col-xs-6 subcomp-search">
                    <input id="Search" type="text" class="form-control" placeholder="Search" ng-model="searchText" ng-style="searchStyle">

                    <div id="txtFoundRecords" class="subcomp-search-found" style="white-space: nowrap">&nbsp;</div>
                    <i id="glyphicon-remove-Rem" class="glyphicon glyphicon-remove remove-icon"></i>
                    <i id="glyphicon-search-Rem" class="glyphicon glyphicon-search"></i>

                </div>
            </div>
            <div id="panelUsers-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelUsers-headingOne">
                <div class="panel-body table-responsive">
                    <table id="tbluserlist" class="display table truncate table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Invitation date</th>
                                <th>Status</th>
                                <th class="td-c">Actions</th>
                                <th class="display-none"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <br />
                    <a id="viewmore" href="javascript:void(0);" class="viewmore" style="display:inline-block">More</a>
                    <div id="loading"></div>
                </div>
            </div>
        </div><!--/.panel-->
                    
        <!-- Modal: Add User & Resend Invite Confirm -->
        <div class="modal fade comp-claims-summary-submitmodal margin-top-100" id="modalAddUserResendInviteConfirm" tabindex="-1" role="dialog" aria-labelledby="modalAddUserResendInviteConfirm" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="modalAddUserResendInviteConfirm" align="center">Confirm</h3>
                    </div>
                    <div class="modal-body">
                        <h4 class="txt-c">Are you sure you want to <strong>re-send the invite</strong> <br />to <strong><span id="spanName"></span></strong> at <strong><span id="spanEmail"></span></strong>?</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                            No
                        </button>
                        <button id="btnResendInvite" type="button" class="btn btn-success btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                            Yes
                        </button>
                    </div>
                </div>
            </div>
        </div>
            
        <!-- Modal: Edit User -->
        <div class="modal fade" id="modalEditUserNew" tabindex="-1" role="dialog" aria-labelledby="modalEditUserNew" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="modalAddNewUser" style="border-bottom:hidden !important" align="center">
                            User
                        </h4>
                    </div>
                    <div class="modal-body padding-25">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="" class="small">@UIResource.FirstName</label>
                                @Html.TextBoxFor(r => r.CreateInvitationViewModel.FirstName, new { id = "edit_firstname-input", @class = "form-control", placeholder = UIResource.FirstName})
                                @Html.ValidationMessageFor(r => r.CreateInvitationViewModel.FirstName, "", new { id = "validfirstnameEdit-input", @class = "text-danger" })
                            </div>
                            <div class="col-md-3">
                                <label for="" class="small">@UIResource.LastName</label>
                                @Html.TextBoxFor(r => r.CreateInvitationViewModel.LastName, new { id = "edit_lastname-input", @class = "form-control", placeholder = UIResource.LastName })
                                @Html.ValidationMessageFor(r => r.CreateInvitationViewModel.LastName, "", new { id = "validlastnameEdit-input", @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                <label for="" class="small">@UIResource.Email</label>
                                <p class="padding-5"><span id="editEmailText"></span></p>
                            </div>
                            <div class="col-md-1">&nbsp;</div>
                        </div><!--/.row-->
                        <hr>
                        @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminUsersAddEditNewUserRoles) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                        {
                            <input type="hidden" id="hasRolePanelEdit" value="yes">
                            <div class="row margin-top--20">
                                <div class="col-md-12">
                                    <h4>Roles</h4>
                                </div>
                                <div class="row">
                                    <div class="col-xs-1 margin-left-40"> &nbsp; </div>
                                    <div class="col-xs-4 small text-center">
                                        <strong>Available Roles</strong>
                                        <select name="from[]" id="multiselectEdit" class="form-control small" size="8" multiple="multiple"></select>
                                    </div>

                                    <div class="col-xs-1 text-center">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                &nbsp;
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                &nbsp;
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                &nbsp;
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <!--<button type="button" id="multiselect_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>-->
                                                <a id="multiselectEdit_rightSelected"><i class="fa fa-arrow-circle-o-right fa-2x fa-blue" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <a id="multiselectEdit_leftSelected"><i class="fa fa-arrow-circle-o-left fa-2x fa-blue" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-4 small text-center">
                                        <strong>Assigned Roles</strong>
                                        <select name="to[]" id="multiselectEdit_to" class="form-control" size="8" multiple="multiple"></select>
                                        <label class="error" id="selectEdit_error" style="color:#a94442; font-family:'Open Sans', sans-serif; font-size:14px;">At least one Role is required</label>
                                    </div>
                                    <div class="col-xs-1"> </div>
                                </div>
                            </div><!--/.row-->
                            <hr>
                        }
                        @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminUsersAddEditNewUserRoutingAndWorkflowCLAIMS) >= CL.TMS.Security.SecurityResultType.ReadOnly
                                    || ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminUsersAddEditNewUserRoutingAndWorkflowREMITTANCES) >= CL.TMS.Security.SecurityResultType.ReadOnly
                                    || ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminUsersAddEditNewUserRoutingAndWorkflowAPPLICATIONS) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                        {
                            <div class="row">
                                <div class="col-md-12 text-left margin-top--20"><h4>Routing and Workflow</h4></div>
                            </div>
                            <div class="row">
                                @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminUsersAddEditNewUserRoutingAndWorkflowCLAIMS) >= CL.TMS.Security.SecurityResultType.ReadOnly
                                            || ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminUsersAddEditNewUserRoutingAndWorkflowREMITTANCES) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                {
                                    <div class="col-xs-6 text-center margin-top-10">
                                        <div class="row">
                                            <div class="col-xs-12 text-center text-uppercase small">
                                                <strong>Claims and remittances</strong>
                                            </div>
                                        </div>
                                        <div class="row margin-top-10">
                                            <div class="col-xs-1 text-center">&nbsp;</div>
                                            <div class="col-xs-3 text-left small horizontalLine topHorizontalLine"><strong>Account</strong></div>
                                            <div class="col-xs-4 text-left small horizontalLine topHorizontalLine"><strong>Workflow</strong></div>
                                            <div class="col-xs-3 text-center small horizontalLine topHorizontalLine"><strong>Action Gear</strong></div>
                                            <div class="col-xs-1 text-center">&nbsp;</div>
                                        </div>
                                        @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminUsersAddEditNewUserRoutingAndWorkflowREMITTANCES) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                        {
                                            <input type="hidden" id="hasStewardWorkflowPanelEdit" value="yes">
                                            <div class="row">
                                                <div class="col-xs-1 text-center">&nbsp;</div>
                                                <div class="col-xs-3 text-left small horizontalLine autoHeight align-middle">Steward</div>
                                                <div class="col-xs-4 text-center horizontalLine small autoHeightBlock">
                                                    <div class="dropdown autoHeightBlock width-50">
                                                        <select class="form-control input-sm selectBox" id="ddlStewardWorkflowEdit"></select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3 text-center horizontalLine autoHeight">
                                                    <input class="validation-checkbox no-validate" id="cbClaimsStewardEdit" type="checkbox">
                                                </div>
                                                <div class="col-xs-1 text-center">&nbsp;</div>
                                            </div>
                                        }
                                        @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminUsersAddEditNewUserRoutingAndWorkflowCLAIMS) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                        {
                                            <input type="hidden" id="hasClaimWorkflowPanelEdit" value="yes">
                                            <div class="row">
                                                <div class="col-xs-1 text-center">&nbsp;</div>
                                                <div class="col-xs-3 text-left small horizontalLine autoHeight align-middle">Collector</div>
                                                <div class="col-xs-4 text-center horizontalLine small autoHeightBlock">
                                                    <div class="dropdown autoHeightBlock width-50">
                                                        <select class="form-control input-sm selectBox" id="ddlCollectorWorkflowEdit"></select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3 text-center horizontalLine autoHeight">
                                                    <input class="validation-checkbox no-validate" id="cbClaimsCollectorEdit" type="checkbox">
                                                </div>
                                                <div class="col-xs-1 text-center">&nbsp;</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-1 text-center">&nbsp;</div>
                                                <div class="col-xs-3 text-left small horizontalLine autoHeight align-middle">Hauler</div>
                                                <div class="col-xs-4 text-center horizontalLine small autoHeightBlock">
                                                    <div class="dropdown autoHeightBlock width-50">
                                                        <select class="form-control input-sm selectBox" id="ddlHaulerWorkflowEdit"></select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3 text-center horizontalLine autoHeight">
                                                    <input class="validation-checkbox no-validate" id="cbClaimsHaulerEdit" type="checkbox">
                                                </div>
                                                <div class="col-xs-1 text-center">&nbsp;</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-1 text-center">&nbsp;</div>
                                                <div class="col-xs-3 text-left small horizontalLine autoHeight align-middle">Processor</div>
                                                <div class="col-xs-4 text-center horizontalLine small autoHeightBlock">
                                                    <div class="dropdown autoHeightBlock width-50">
                                                        <select class="form-control input-sm selectBox" id="ddlProcessorWorkflowEdit"></select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3 text-center horizontalLine autoHeight">
                                                    <input class="validation-checkbox no-validate" id="cbClaimsProcessorEdit" type="checkbox">
                                                </div>
                                                <div class="col-xs-1 text-center">&nbsp;</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-1 text-center">&nbsp;</div>
                                                <div class="col-xs-3 text-left small horizontalLine autoHeight align-middle">RPM</div>
                                                <div class="col-xs-4 text-center horizontalLine small autoHeightBlock">
                                                    <div class="dropdown autoHeightBlock width-50">
                                                        <select class="form-control input-sm selectBox" id="ddlRPMWorkflowEdit"></select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3 text-center horizontalLine autoHeight">
                                                    <input class="validation-checkbox no-validate" id="cbClaimsRPMEdit" type="checkbox">
                                                </div>
                                                <div class="col-xs-1 text-center">&nbsp;</div>
                                            </div>
                                        }
                                    </div>
                                }
                                @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminUsersAddEditNewUserRoutingAndWorkflowAPPLICATIONS) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                {
                                    <input type="hidden" id="hasApplicationPanelEdit" value="yes">
                                    <div class="col-xs-6 text-center">

                                        <div class="row">
                                            <div class="col-xs-12 text-center text-uppercase small margin-top-10">
                                                <strong>Applications</strong>
                                            </div>
                                        </div>
                                        <div class="row verticalLine margin-top-10">
                                            <div class="col-xs-1 text-center ">&nbsp;</div>
                                            <div class="col-xs-3 text-left small horizontalLine topHorizontalLine"><strong>Account</strong></div>
                                            <div class="col-xs-4 text-center small horizontalLine topHorizontalLine"><strong>Routing</strong></div>
                                            <div class="col-xs-3 text-center small horizontalLine topHorizontalLine"><strong>Action Gear</strong></div>
                                            <div class="col-xs-1 text-center">&nbsp;</div>
                                        </div>

                                        <div class="row verticalLine">
                                            <div class="col-xs-1 text-center ">&nbsp;</div>
                                            <div class="col-xs-3 text-left small horizontalLine autoHeight align-middle">Steward</div>
                                            <div class="col-xs-4 text-center horizontalLine small autoHeight">
                                                <input class="validation-checkbox no-validate" id="cbApplicationsRoutingStewardEdit" type="checkbox">
                                            </div>
                                            <div class="col-xs-3 text-center horizontalLine autoHeight">
                                                <input class="validation-checkbox no-validate" id="cbApplicationsActionStewardEdit" type="checkbox">
                                            </div>
                                            <div class="col-xs-1 text-center">&nbsp;</div>
                                        </div>

                                        <div class="row verticalLine">
                                            <div class="col-xs-1 text-center">&nbsp;</div>
                                            <div class="col-xs-3 text-left small horizontalLine autoHeight align-middle">Collector</div>
                                            <div class="col-xs-4 text-center horizontalLine small autoHeight">
                                                <input class="validation-checkbox no-validate" id="cbApplicationsRoutingCollectorEdit" type="checkbox">
                                            </div>
                                            <div class="col-xs-3 text-center horizontalLine autoHeight">
                                                <input class="validation-checkbox no-validate" id="cbApplicationsActionCollectorEdit" type="checkbox">
                                            </div>
                                            <div class="col-xs-1 text-center">&nbsp;</div>
                                        </div>

                                        <div class="row verticalLine">
                                            <div class="col-xs-1 text-center">&nbsp;</div>
                                            <div class="col-xs-3 text-left small horizontalLine autoHeight align-middle">Hauler</div>
                                            <div class="col-xs-4 text-center horizontalLine small autoHeight">
                                                <input class="validation-checkbox no-validate" id="cbApplicationsRoutingHaulerEdit" type="checkbox">
                                            </div>
                                            <div class="col-xs-3 text-center horizontalLine autoHeight">
                                                <input class="validation-checkbox no-validate" id="cbApplicationsActionHaulerEdit" type="checkbox">
                                            </div>
                                            <div class="col-xs-1 text-center">&nbsp;</div>
                                        </div>

                                        <div class="row verticalLine">
                                            <div class="col-xs-1 text-center">&nbsp;</div>
                                            <div class="col-xs-3 text-left small horizontalLine autoHeight align-middle">Processor</div>
                                            <div class="col-xs-4 text-center horizontalLine small autoHeight">
                                                <input class="validation-checkbox no-validate" id="cbApplicationsRoutingProcessorEdit" type="checkbox">
                                            </div>
                                            <div class="col-xs-3 text-center horizontalLine autoHeight">
                                                <input class="validation-checkbox no-validate" id="cbApplicationsActionProcessorEdit" type="checkbox">
                                            </div>
                                            <div class="col-xs-1 text-center">&nbsp;</div>
                                        </div>

                                        <div class="row verticalLine">
                                            <div class="col-xs-1 text-center">&nbsp;</div>
                                            <div class="col-xs-3 text-left small horizontalLine autoHeight align-middle">RPM</div>
                                            <div class="col-xs-4 text-center horizontalLine small autoHeight">
                                                <input class="validation-checkbox no-validate" id="cbApplicationsRoutingRPMEdit" type="checkbox">
                                            </div>
                                            <div class="col-xs-3 text-center horizontalLine autoHeight">
                                                <input class="validation-checkbox no-validate" id="cbApplicationsActionRPMEdit" type="checkbox">
                                            </div>
                                            <div class="col-xs-1 text-center">&nbsp;</div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                        <br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                            <i class="fa fa-ban fa-1x"></i>
                            Cancel
                        </button>
                        <button id="btneditusernext" type="button" class="btn btn-success btn-lg">
                            <i class="fa fa-floppy-o fa-1x"></i>
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
       
        <!-- Modal: View User -->
        <div class="modal fade" id="modalViewUser" tabindex="-1" role="dialog" aria-labelledby="modalViewUser" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="modalAddNewUser" style="border-bottom:hidden !important" align="center">
                            User
                        </h4>
                    </div>
                    <div class="modal-body padding-25">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="" class="small">@UIResource.FirstName</label>
                                @Html.TextBoxFor(r => r.CreateInvitationViewModel.FirstName, new { id = "view_firstname-input", @class = "form-control", placeholder = UIResource.FirstName, @disabled = "disabled" })                               
                            </div>
                            <div class="col-md-3">
                                <label for="" class="small">@UIResource.LastName</label>
                                @Html.TextBoxFor(r => r.CreateInvitationViewModel.LastName, new { id = "view_lastname-input", @class = "form-control", placeholder = UIResource.LastName, @disabled = "disabled" })                            
                            </div>
                            <div class="col-md-4">
                                <label for="" class="small">@UIResource.Email</label>
                                <p class="padding-5"><span id="viewEmailText"></span></p>
                            </div>
                            <div class="col-md-1">&nbsp;</div>
                        </div><!--/.row-->
                        <hr>
                        @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminUsersAddEditNewUserRoles) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                        {
                            <input type="hidden" id="hasRolePanelEdit" value="yes">
                            <div class="row margin-top--20">
                                <div class="col-md-12">
                                    <h4>Roles</h4>
                                </div>
                                <div class="row">
                                    <div class="col-xs-1 margin-left-40"> &nbsp; </div>
                                    <div class="col-xs-4 small text-center">
                                        <strong>Available Roles</strong>
                                        <select name="from[]" id="multiselectView" class="form-control small" size="8" multiple="multiple" disabled="disabled"></select>
                                    </div>

                                    <div class="col-xs-1 text-center">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                &nbsp;
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                &nbsp;
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                &nbsp;
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <!--<button type="button" id="multiselect_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>-->
                                                <a id="multiselectView_rightSelected" disabled="disabled"><i class="fa fa-arrow-circle-o-right fa-2x fa-blue" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <a id="multiselectView_leftSelected" disabled="disabled"><i class="fa fa-arrow-circle-o-left fa-2x fa-blue" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-4 small text-center">
                                        <strong>Assigned Roles</strong>
                                        <select name="to[]" id="multiselectView_to" class="form-control" size="8" multiple="multiple" disabled="disabled"></select>
                                    </div>
                                    <div class="col-xs-1"> </div>
                                </div>
                            </div><!--/.row-->
                            <hr>
                        }
                        @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminUsersAddEditNewUserRoutingAndWorkflowCLAIMS) >= CL.TMS.Security.SecurityResultType.ReadOnly
                            || ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminUsersAddEditNewUserRoutingAndWorkflowREMITTANCES) >= CL.TMS.Security.SecurityResultType.ReadOnly
                            || ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminUsersAddEditNewUserRoutingAndWorkflowAPPLICATIONS) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                        {
                            <div class="row">
                                <div class="col-md-12 text-left margin-top--20"><h4>Routing and Workflow</h4></div>
                            </div>
                            <div class="row">
                                @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminUsersAddEditNewUserRoutingAndWorkflowCLAIMS) >= CL.TMS.Security.SecurityResultType.ReadOnly
                                || ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminUsersAddEditNewUserRoutingAndWorkflowREMITTANCES) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                {
                                    <div class="col-xs-6 text-center margin-top-10">
                                        <div class="row">
                                            <div class="col-xs-12 text-center text-uppercase small">
                                                <strong>Claims and remittances</strong>
                                            </div>
                                        </div>
                                        <div class="row margin-top-10">
                                            <div class="col-xs-1 text-center">&nbsp;</div>
                                            <div class="col-xs-3 text-left small horizontalLine topHorizontalLine"><strong>Account</strong></div>
                                            <div class="col-xs-4 text-left small horizontalLine topHorizontalLine"><strong>Workflow</strong></div>
                                            <div class="col-xs-3 text-center small horizontalLine topHorizontalLine"><strong>Action Gear</strong></div>
                                            <div class="col-xs-1 text-center">&nbsp;</div>
                                        </div>
                                        @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminUsersAddEditNewUserRoutingAndWorkflowREMITTANCES) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                        {
                                            <input type="hidden" id="hasStewardWorkflowPanelEdit" value="yes">
                                            <div class="row">
                                                <div class="col-xs-1 text-center">&nbsp;</div>
                                                <div class="col-xs-3 text-left small horizontalLine autoHeight align-middle">Steward</div>
                                                <div class="col-xs-4 text-center horizontalLine small autoHeightBlock">
                                                    <div class="dropdown autoHeightBlock width-50">
                                                        <select class="form-control input-sm selectBox" id="ddlStewardWorkflowView" disabled="disabled"></select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3 text-center horizontalLine autoHeight">
                                                    <input class="validation-checkbox no-validate" id="cbClaimsStewardView" type="checkbox" disabled="disabled">
                                                </div>
                                                <div class="col-xs-1 text-center">&nbsp;</div>
                                            </div>
                                        }
                                        @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminUsersAddEditNewUserRoutingAndWorkflowCLAIMS) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                        {
                                            <input type="hidden" id="hasClaimWorkflowPanelEdit" value="yes">
                                            <div class="row">
                                                <div class="col-xs-1 text-center">&nbsp;</div>
                                                <div class="col-xs-3 text-left small horizontalLine autoHeight align-middle">Collector</div>
                                                <div class="col-xs-4 text-center horizontalLine small autoHeightBlock">
                                                    <div class="dropdown autoHeightBlock width-50">
                                                        <select class="form-control input-sm selectBox" id="ddlCollectorWorkflowView" disabled="disabled"></select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3 text-center horizontalLine autoHeight">
                                                    <input class="validation-checkbox no-validate" id="cbClaimsCollectorView" type="checkbox" disabled="disabled">
                                                </div>
                                                <div class="col-xs-1 text-center">&nbsp;</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-1 text-center">&nbsp;</div>
                                                <div class="col-xs-3 text-left small horizontalLine autoHeight align-middle">Hauler</div>
                                                <div class="col-xs-4 text-center horizontalLine small autoHeightBlock">
                                                    <div class="dropdown autoHeightBlock width-50">
                                                        <select class="form-control input-sm selectBox" id="ddlHaulerWorkflowView" disabled="disabled"></select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3 text-center horizontalLine autoHeight">
                                                    <input class="validation-checkbox no-validate" id="cbClaimsHaulerView" type="checkbox" disabled="disabled">
                                                </div>
                                                <div class="col-xs-1 text-center">&nbsp;</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-1 text-center">&nbsp;</div>
                                                <div class="col-xs-3 text-left small horizontalLine autoHeight align-middle">Processor</div>
                                                <div class="col-xs-4 text-center horizontalLine small autoHeightBlock">
                                                    <div class="dropdown autoHeightBlock width-50">
                                                        <select class="form-control input-sm selectBox" id="ddlProcessorWorkflowView" disabled="disabled"></select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3 text-center horizontalLine autoHeight">
                                                    <input class="validation-checkbox no-validate" id="cbClaimsProcessorView" type="checkbox" disabled="disabled">
                                                </div>
                                                <div class="col-xs-1 text-center">&nbsp;</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-1 text-center">&nbsp;</div>
                                                <div class="col-xs-3 text-left small horizontalLine autoHeight align-middle">RPM</div>
                                                <div class="col-xs-4 text-center horizontalLine small autoHeightBlock">
                                                    <div class="dropdown autoHeightBlock width-50">
                                                        <select class="form-control input-sm selectBox" id="ddlRPMWorkflowView" disabled="disabled"></select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3 text-center horizontalLine autoHeight">
                                                    <input class="validation-checkbox no-validate" id="cbClaimsRPMView" type="checkbox" disabled="disabled">
                                                </div>
                                                <div class="col-xs-1 text-center">&nbsp;</div>
                                            </div>
                                        }
                                    </div>
                                }
                                @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminUsersAddEditNewUserRoutingAndWorkflowAPPLICATIONS) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                {
                                    <input type="hidden" id="hasApplicationPanelEdit" value="yes">
                                    <div class="col-xs-6 text-center">

                                        <div class="row">
                                            <div class="col-xs-12 text-center text-uppercase small margin-top-10">
                                                <strong>Applications</strong>
                                            </div>
                                        </div>
                                        <div class="row verticalLine margin-top-10">
                                            <div class="col-xs-1 text-center ">&nbsp;</div>
                                            <div class="col-xs-3 text-left small horizontalLine topHorizontalLine"><strong>Account</strong></div>
                                            <div class="col-xs-4 text-center small horizontalLine topHorizontalLine"><strong>Routing</strong></div>
                                            <div class="col-xs-3 text-center small horizontalLine topHorizontalLine"><strong>Action Gear</strong></div>
                                            <div class="col-xs-1 text-center">&nbsp;</div>
                                        </div>

                                        <div class="row verticalLine">
                                            <div class="col-xs-1 text-center ">&nbsp;</div>
                                            <div class="col-xs-3 text-left small horizontalLine autoHeight align-middle">Steward</div>
                                            <div class="col-xs-4 text-center horizontalLine small autoHeight">
                                                <input class="validation-checkbox no-validate" id="cbApplicationsRoutingStewardView" type="checkbox" disabled="disabled">
                                            </div>
                                            <div class="col-xs-3 text-center horizontalLine autoHeight">
                                                <input class="validation-checkbox no-validate" id="cbApplicationsActionStewardView" type="checkbox" disabled="disabled">
                                            </div>
                                            <div class="col-xs-1 text-center">&nbsp;</div>
                                        </div>

                                        <div class="row verticalLine">
                                            <div class="col-xs-1 text-center">&nbsp;</div>
                                            <div class="col-xs-3 text-left small horizontalLine autoHeight align-middle">Collector</div>
                                            <div class="col-xs-4 text-center horizontalLine small autoHeight">
                                                <input class="validation-checkbox no-validate" id="cbApplicationsRoutingCollectorView" type="checkbox" disabled="disabled">
                                            </div>
                                            <div class="col-xs-3 text-center horizontalLine autoHeight">
                                                <input class="validation-checkbox no-validate" id="cbApplicationsActionCollectorView" type="checkbox" disabled="disabled">
                                            </div>
                                            <div class="col-xs-1 text-center">&nbsp;</div>
                                        </div>

                                        <div class="row verticalLine">
                                            <div class="col-xs-1 text-center">&nbsp;</div>
                                            <div class="col-xs-3 text-left small horizontalLine autoHeight align-middle">Hauler</div>
                                            <div class="col-xs-4 text-center horizontalLine small autoHeight">
                                                <input class="validation-checkbox no-validate" id="cbApplicationsRoutingHaulerView" type="checkbox" disabled="disabled">
                                            </div>
                                            <div class="col-xs-3 text-center horizontalLine autoHeight">
                                                <input class="validation-checkbox no-validate" id="cbApplicationsActionHaulerView" type="checkbox" disabled="disabled">
                                            </div>
                                            <div class="col-xs-1 text-center">&nbsp;</div>
                                        </div>

                                        <div class="row verticalLine">
                                            <div class="col-xs-1 text-center">&nbsp;</div>
                                            <div class="col-xs-3 text-left small horizontalLine autoHeight align-middle">Processor</div>
                                            <div class="col-xs-4 text-center horizontalLine small autoHeight">
                                                <input class="validation-checkbox no-validate" id="cbApplicationsRoutingProcessorView" type="checkbox" disabled="disabled">
                                            </div>
                                            <div class="col-xs-3 text-center horizontalLine autoHeight">
                                                <input class="validation-checkbox no-validate" id="cbApplicationsActionProcessorView" type="checkbox" disabled="disabled">
                                            </div>
                                            <div class="col-xs-1 text-center">&nbsp;</div>
                                        </div>

                                        <div class="row verticalLine">
                                            <div class="col-xs-1 text-center">&nbsp;</div>
                                            <div class="col-xs-3 text-left small horizontalLine autoHeight align-middle">RPM</div>
                                            <div class="col-xs-4 text-center horizontalLine small autoHeight">
                                                <input class="validation-checkbox no-validate" id="cbApplicationsRoutingRPMView" type="checkbox" disabled="disabled">
                                            </div>
                                            <div class="col-xs-3 text-center horizontalLine autoHeight">
                                                <input class="validation-checkbox no-validate" id="cbApplicationsActionRPMView" type="checkbox" disabled="disabled">
                                            </div>
                                            <div class="col-xs-1 text-center">&nbsp;</div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                        <br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">   
                            <i class="glyphicon fa fa-times-circle-o" aria-hidden="true"></i>
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal: Edit User Confirm -->
        <div class="modal fade comp-claims-summary-submitmodal margin-top-100" id="modalEditUserNewConfirm" tabindex="-1" role="dialog" aria-labelledby="modalEditUserNewConfirm" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="modalEditUserNewConfirm" style="border-bottom:hidden !important" align="center">Confirm</h3>
                    </div>
                    <div class="modal-body">
                        <h4 id="editUserConfirmMsg" class="txt-c">Are you sure you want to save the changes?</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                            No
                        </button>
                        <button type="button" id="btneditusernewconfirm" class="btn btn-success btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                            Yes
                        </button>
                    </div>
                </div>
            </div>
        </div>
       
        <!-- Modal: Activate User -->
        <div class="modal fade comp-claims-summary-submitmodal" id="modalActivateUser" tabindex="-1" role="dialog" aria-labelledby="modalActivateUser" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" style="border-bottom:hidden !important" id="modalActivateUser" align="center">Confirm</h3>
                    </div>
                    <div class="modal-body">
                        <div style="padding: 20px">
                            <h4 class="txt-c">Are you sure you want to <strong>activate</strong> user <strong id="activeuser"></strong>?</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                            No
                        </button>
                        <button id="btnactiveuser" type="button" class="btn btn-success btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                            Yes
                        </button>
                    </div>
                </div>
            </div>
        </div>
       
        <!-- Modal: Inactivate User -->
        <div class="modal fade comp-claims-summary-submitmodal" id="modalInactivateUser" tabindex="-1" role="dialog" aria-labelledby="modalInactivateUser" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" style="border-bottom:hidden !important" id="modalInactivateUser" align="center">Confirm</h3>
                    </div>
                    <div class="modal-body">
                        <div style="padding: 20px">
                            <h4 class="txt-c">Are you sure you want to <strong>inactivate</strong> user <strong id="inactiveuser"></strong>?</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                            No
                        </button>
                        <button id="btninactive" type="button" class="btn btn-success btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                            Yes
                        </button>
                    </div>
                </div>
            </div>
        </div>
       
        <!-- OTSTM2-1013 Modal: Unlock User -->
        <div class="modal fade comp-claims-summary-submitmodal" id="modalUnlockUser" tabindex="-1" role="dialog" aria-labelledby="modalUnlockUser" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" style="border-bottom:hidden !important" id="modalUnlockUser" align="center">Confirm</h3>
                    </div>
                    <div class="modal-body">
                        <div style="padding: 20px">
                            <h4 class="txt-c">Are you sure you want to <strong>unlock</strong> user account <strong id="unlockuser"></strong>?</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                            No
                        </button>
                        <button id="btnunlockuser" type="button" class="btn btn-success btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                            Yes
                        </button>
                    </div>
                </div>
            </div>
        </div>       
    </div>	
}

@section Scripts{

    @Scripts.Render("~/bundles/jquerydatatable")
    <link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />
    @Scripts.Render("~/bundles/angular-datatables-scroller")
    @Scripts.Render("~/bundles/angulardatatable")
    <script type="text/javascript" src="~/js/loading-spin.js?v=@ViewBag.versionid"></script>

    <script type="text/javascript" src="~/js/multiselect.min.js"></script>
    <script type="text/javascript" src="~/js/Shared/common-activities-lib.js?v=@ViewBag.versionid"></script>

    <script type="text/javascript">
        //list of Resources text needed
        Global = {};
        Global.InvitationIndex = {
            Resources: {
                FirstNameRequired: '@ViewBag.FirstNameRequired',
                LastNameRequired: '@ViewBag.LastNameRequired'
            },
            ExportUrl: '@Html.Raw(Url.Action("ExportToExcel", "Invitation", new { searchText = "----", sortColumn="AAA", sortDirection="BBB" }))', //OTSTM2-1013
            GetListHandlerUrl: '@Url.Action("GetListHandler","Invitation")',
            CreateInvitationUrl: '@Url.Action("CreateInvitation","Invitation")',
            SaveNewStaffUserUrl: '@Url.Action("SaveNewStaffUser", "Invitation")',
            ResendInviteUrl: '@Url.Action("Resend","Invitation")',
            LoadUserDetailsUrl: '@Url.Action("LoadUserDetails","Invitation")',
            LoadStaffUserDetailsUrl: '@Url.Action("LoadStaffUserDetails", "Invitation")',
            EditUserUrl: '@Url.Action("Edit","Invitation")',
            EditStaffUserUrl: '@Url.Action("EditStaffUserDetail", "Invitation")',
            InactiveUrl: '@Url.Action("Inactive","Invitation")',
            ActiveUrl: '@Url.Action("Active","Invitation")',
            UnlockStaffUserUrl: '@Url.Action("UnlockStaffUser","Invitation")', //OTSTM2-1013
            CheckEmailUrl: '@Url.Action("CheckEmail", "Invitation")',
            //OTSTM2-882
            @*PageReadOnly: '@Model.PageReadonly',*@
            AdminUserPageReadOnly: '@Model.AdminUserPageReadonly',
        };

        Global.InvitationIndex.Permission = {
            DisableActionGearEditAndAddBtn: JSON.parse('@(ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminUsersAddEditNewUser) == CL.TMS.Security.SecurityResultType.NoAccess)'.toLocaleLowerCase()),
            RolesPermission: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminUsersAddEditNewUserRoles)',
            RoutingWorkflowClaimsPermission: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminUsersAddEditNewUserRoutingAndWorkflowCLAIMS)',
            RoutingWorkflowRemittancesPermission: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminUsersAddEditNewUserRoutingAndWorkflowREMITTANCES)',
            RoutingWorkflowApplicationsPermission: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminUsersAddEditNewUserRoutingAndWorkflowAPPLICATIONS)',
        };

        Global.CommonActivity = {
            ObjectId: 0,
            ExportActivityUrl: '@Html.Raw(Url.Action("GetAllActivitiesExport", "Common", new { searchText = "CCC", sortColumn="AAA", sortDirection="BBB", activityArea = TreadMarksConstants.AdminActivityStaffUsers, activityType = TreadMarksConstants.AdminMenuActivity }))',
        }

        jQuery(document).ready(function ($) {
            $('#multiselect').multiselect();
            $('#multiselectEdit').multiselect();
        });

        if (!!window.performance && window.performance.navigation.type == 2) {
            window.location.href = '@Url.Action("AdminLoginPage", "Account", new { area = "" })';
        }
    </script>
    @Scripts.Render("~/bundles/systemstaffuser")
}
