﻿@model CL.TMS.DataContracts.ViewModel.Common.FileUpload.FileUploadModel
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface

        <!-- Modal: Add TCR Paper Form  -->
<div class="modal fade" id="modalAddTCR" tabindex="-1" role="dialog" aria-labelledby="modalAddTCR" aria-hidden="true">
    <div class="modal-dialog modal-lg margin-top-100">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalAddTCR" align="center">Add TCR Paper Form</h3>
            </div>
            <div class="modal-body">
                <div style="padding:10px;">

                    <div class="row">
                        <div class="col-sm-3">
                            <label for="">Date Collected</label>
                            <div class="">
                                <div class='input-group date' id='datetimepicker5'>
                                    <div class="form-group has-required has-feedback"><input type='text' class="form-control add-tcrpaper-data" name="datePicker" data-date-format="YYYY/MM/DD" /></div>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="">TCR #</label>
                            <div class="form-group has-required has-feedback">
                                <input id="txtTCRNbr" name="txtTCRNbr" maxlength="9" type="text" required class="form-control add-tcrpaper-data" placeholder="" title="input Transaction Number">
                            </div>
                            <label id="TCRreturninfo" for="txtTCRNbr"></label>
                        </div>
                        <div class="col-md-3">
                            <label for="">Collector #</label>
                            <div class="form-group has-required has-feedback">
                                <input id="txtCollectorNbr" name="txtCollectorNbr" maxlength="7" type="text" required class="form-control add-tcrpaper-data dynamic-regex-collectornbr" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>Collector Info.</label><br>
                            <div>
                                <span id="collectorBusName" class="form-control-static"></span><br>
                                <span id="collectorAddr" class="form-control-static"></span><br>
                                @*<span class="form-control-static">Zach's Tire Collectors</span><br>
                                    <span class="form-control-static">300 The East Mall, Suite 100</span><br>
                                    <span class="form-control-static">Toronto, Ontario</span><br>
                                    <span class="form-control-static">M9B 6B7</span><br>*@
                            </div>
                        </div>
                    </div><!--/.row-->
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table" id="myDataTable">
                                <thead>
                                    <tr>
                                        <th>PLT</th>
                                        <th>MT</th>
                                        <th>AG/LS</th>
                                        <th>IND</th>
                                        <th>SOTR</th>
                                        <th>MOTR</th>
                                        <th>LOTR</th>
                                        <th>GOTR</th>
                                        <th>Gen. Tires</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="valueinput">
                                        <td><div class="form-group has-required"><input name="PLT" type="text" maxlength="6" class="form-control add-tcrpaper-data" placeholder=""></div></td>
                                        <td><div class="form-group has-required"><input name="MT" type="text" maxlength="6" class="form-control add-tcrpaper-data" placeholder=""></div></td>
                                        <td><div class="form-group has-required"><input name="AGLS" type="text" maxlength="6" class="form-control add-tcrpaper-data" placeholder=""></div></td>
                                        <td><div class="form-group has-required"><input name="IND" type="text" maxlength="6" class="form-control add-tcrpaper-data" placeholder=""></div></td>
                                        <td><div class="form-group has-required"><input name="SOTR" type="text" maxlength="6" class="form-control add-tcrpaper-data" placeholder=""></div></td>
                                        <td><div class="form-group has-required"><input name="MOTR" type="text" maxlength="6" class="form-control add-tcrpaper-data" placeholder=""></div></td>
                                        <td><div class="form-group has-required"><input name="LOTR" type="text" maxlength="6" class="form-control add-tcrpaper-data" placeholder=""></div></td>
                                        <td><div class="form-group has-required"><input name="GOTR" type="text" maxlength="6" class="form-control add-tcrpaper-data" placeholder=""></div></td>
                                        <td> <input class="add-tcrpaper-data" type="checkbox"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div><!--/.row-->
                    <hr>
                    <!-- Component: Documents: Upload -->
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Supporting Documents</th>
                                        <th class="txt-c">Fax</th>
                                        <th class="txt-c">Mail</th>
                                        <th class="txt-c">Upload</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Paper Form</td>
                                        <td class="txt-c"><label><input type="radio" name="supportingDocumentsOption1" value="option1"></label></td>
                                        <td class="txt-c"><label><input type="radio" name="supportingDocumentsOption1" value="option2"></label></td>
                                        <td class="txt-c"><label><input type="radio" name="supportingDocumentsOption1" value="option3" checked></label></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div><!--/.row-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                @Html.Partial("_baseFileUpload-transaction", @Model)
                            </div>
                        </div>
                        @*<div class="dropzone">
                            </div>*@
                    </div><!--/.row-->
                    <!-- /Compument -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="btnAddTCRpaperTrans" type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#modalAddTCRPaperFormConfirm" disabled="disabled">Add</button>
            </div>
        </div>
    </div>
</div>
<!-- /Modal  -->
<!-- Modal: Add TCR Paper Form: Confirm  -->
<div class="modal fade" id="modalAddTCRPaperFormConfirm" tabindex="-1" role="dialog" aria-labelledby="modalAddTCRPaperFormConfirm" aria-hidden="true">
    <div class="modal-dialog modal-md margin-top-100">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalAddUCRPaperFormConfirm" align="center">Confirm</h3>
            </div>
            <div class="modal-body">
                <div class="txt-c" style="padding:10px;">
                    <h4>Are you sure you would like to <strong>Add TCR Paper Form</strong>?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="btnConfirmAddTrans" type="button" class="btn btn-success" data-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
</div>
<!-- /Modal  -->

