﻿@using CL.TMS.Security.Authorization
@using CL.TMS.Security
@{
    ViewBag.Title = "Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    int currUserId, currParticipantId;
    currUserId = Convert.ToInt32(SecurityContextHelper.CurrentUser.Id);
    currParticipantId = Convert.ToInt32((null != SecurityContextHelper.CurrentVendor) ? SecurityContextHelper.CurrentVendor.VendorId : 0);
    SecurityResultType accessPermission = ResourceActionAuthorizationHandler.CheckUserSecurity(CL.TMS.Common.TreadMarksConstants.TransactionsAllTransactions);
    ViewBag.accessPermission = accessPermission;
    string userRole = SecurityContextHelper.IsStaff() ? "staff" : string.Empty;
}

@section styles {
    <link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />
    <style>
        .tm-all .icon-trans-status {
            padding-top: 1px;
        }

        .new-window {
            left: 266px;
            position: absolute;
            top: 0;
            z-index: 50;
        }

        #tblTransactionlist > tbody > tr{
            height:44px;
        }
    </style>
}

<div class="tm-all participants-all-claims">
    <div id="fixedClaimHeader" class="row comp-claims-header fixed-claim-header">
        <div class="col-xs-7 col-sm-6">
            <h2 class="fixed-claim-header-title">Transactions</h2>
        </div>
        @if (SecurityContextHelper.CurrentVendor != null)
        {
            if (SecurityContextHelper.IsStaff())
            {
                <div class="col-xs-5 col-sm-6">
                    @Html.Partial("_ParticipantHeader", SecurityContextHelper.CurrentVendor)
                </div>
            }
            else
            {
                <div class="col-xs-5 col-sm-6">
                    <div class="sub-header-registrantinfo fixed-claim-header-registrantinfo">@SecurityContextHelper.CurrentVendor.RegistrationNumber</div>
                </div>
            }
        }
    </div>

    <div class="panel panel-default" style="margin-top:85px">
        <div class="panel-heading" role="tab" id="panelAllTransactions-headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#panelAllTransactions-collapseOne" aria-expanded="true" aria-controls="panelAllTransactions-collapseOne" class="panel-arrow-expand">
                    All Transactions <i id="export" class="fa fa-file-text-o fa-fw uiaction-export" title="Export to CSV"></i>
                </a>
            </h4>
            <input type="hidden" id="hdSearchText" value="@ViewBag.SearchText" />
            <div class="col-xs-6 subcomp-search">
                <input id="search" type="text" class="form-control" placeholder="Search">
                <div id="found" class="subcomp-search-found"></div><i class="glyphicon glyphicon-remove remove-icon"></i><i class="glyphicon glyphicon-search"></i>
            </div>
        </div>
        <div id="panelAllTransactions-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelAllTransactions-headingOne">
            <div class="panel-body">
                <div class="table-responsive">
                    @Html.Partial("AllTransactionsList")
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_TransactionActivity")

    <!-- Templates Used -->
    @Html.Partial("_AllTransactionCommonTemplates")
    <!-- /Templates Used -->
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jquerydatatable")
    @Scripts.Render("~/bundles/transaction-list-common")

    <script src="~/js/Transaction/common-transaction-lib.js?v=@ViewBag.versionid"></script>
    <script src="~/Areas/System/Scripts/Transactions/all-transactions-app.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/loading-spin.js?v=@ViewBag.versionid"></script>

    @Scripts.Render("~/bundles/transaction-generic-list")

    <script type="text/javascript">
        Global = {};
        Global.Transaction = {
            ClaimId: '@ViewBag.ClaimId',
            VendorCode: '@ViewBag.VendorCode',
            TransactionType: 'All',
            ListName: 'All Transactions',
            AccessPermission: '@accessPermission',
        };

        Global.Settings = {
            DatePickerFormat: '@CL.TMS.Common.TreadMarksConstants.DateFormat',

            InitializePaperFormServiceURL: '@Url.Action("initializePaperForm", "Transaction", new { area = @ViewBag.VendorCode })',
            AddPaperFormServiceURL: '@Url.Action("AddPaperTransaction" + @ViewBag.TransactionType, "Transaction", new { area = @ViewBag.VendorCode })',

            CheckFormNumberDuplicationServiceURL: '@Url.Action("CheckFormNumberDuplication", "Transactions", new { area = "System" })',
            GetVendorInfoServiceURL: '@Url.Action("GetVendorInfo", "Transactions", new { area = "System" })',
            GetTransactionSearchListServiceURL: '@Url.Action("GetTransactionSearchList", "Transactions", new { area = "System" })',
            GetTransactionDetailDataServiceURL: '@Url.Action("GetTransactionDetailData", "Transactions", new { area = "System" })',
            GetUpdateTransactionProcessingStatusServiceURL: '@Url.Action("UpdateTransactionProcessingStatus", "Transactions", new { area = "System" })',
            GetGetTransactionHandlerClaimDataServiceURL: '@Url.Action("GetTransactionHandlerClaimData", "Transactions", new { area = "System" })',

            UploadTransactionFileServiceURL: '@Url.Action("UploadTransactionFile", "FileUpload", new { area = "System" })',
            DeleteTemporaryTransactionFileServiceURL: '@Url.Action("DeleteTemporaryTransactionFile", "FileUpload", new { area = "System" })',
            CleanUpTemporaryTransactionFilesServiceURL: '@Url.Action("CleanUpTemporaryTransactionFiles", "FileUpload", new { area = "System" })',

            FileUploadPreviewDomainName: '@CL.TMS.UI.Common.Helper.SiteSettings.Instance.GetSettingValue("Settings.FileUploadPreviewDomainName")',
            MobilePhotoPreviewDomainName: '@CL.TMS.UI.Common.Helper.SiteSettings.Instance.GetSettingValue("Settings.MobilePhotoPreviewDomainName")',
            isStaff: JSON.parse('@CL.TMS.Security.Authorization.SecurityContextHelper.IsStaff()'.toLocaleLowerCase()),
        };

        @{
        if (@ViewBag.VendorCode == CL.TMS.Common.TreadMarksConstants.RPM)
    {
        <text>
        $(function () {
            var columnNames = [
                { columnName: 'Status', className: 'td-center', },
                { columnName: 'TransNum', },
                { columnName: 'Type', },
                { columnName: 'Start', },

                { columnName: 'SyncAdd', },
                { columnName: 'IncRegNum', },

                { columnName: 'OutRegNum',  },
                { columnName: 'BadgeUser', },
                { columnName: 'Actions', className: 'td-center', orderable: false, },
                { columnName: 'TransactionId', className: 'display-none', orderable: false, },
                { columnName: 'CreatedUserId', className: 'display-none', orderable: false, },

                { columnName: 'CreatedVendorId', className: 'display-none', orderable: false, },
                { columnName: 'ClaimReviewStatus', className: 'display-none', orderable: false, },
                { columnName: 'ID', className: 'display-none', orderable: false, }
            ];

            $('#tblTransactionlist').createDataTable({
                viewMoreId: '#viewmore',
                totalRecordsId: '#totalRecords',
                searchId: '#search',
                exportId: '#export',
                foundId: '#found',
                removeIconId: '.remove-icon',
                columnNames: columnNames,
                exportUrl: '@Html.Raw(@Url.Action("ExportToExcel", "Transactions", new { area = "System", transactionType = "ALL", claimId = @ViewBag.ClaimId, searchText = "----", dataSubType = "RPM", sortColumn = "AAA", sortDirection = "BBB" }))',
                ajaxHandler: '@Html.Raw(@Url.Action("GetAllTransactionsListHandler", "Transactions", new { ClaimId = @ViewBag.ClaimId, DataType = "ALL" }))',
                rowUrl: '@Url.Action("TransactionDetail", "Transactions")',
                userHandler: '@Url.Action("GetUserList", "Claims")',
                transactionType: "ALL",
                subDataType: "RPM",
                modalPaperForm: 'modalTCRPaperForm',
                modaliPad: 'modalTCRiPad',

                currUserId: '@currUserId',
                currParticipantId: @currParticipantId,
                modalVoid: '#modalVoid',
                modalAccept: '#modalAccept',
                modalReject: '#modalReject',
                modalVoidTypeText: '#modalVoidTypeText',
                modalVoidTransNumText: '#modalVoidTransNumText',
                btnVoidYes: '#btnVoidYes',
                modalAcceptTypeText: '#modalAcceptTypeText',
                modalAcceptTransNumText: '#modalAcceptTransNumText',
                btnAcceptTransaction: '#btnAcceptTransaction',
                modalRejectTypeText: '#modalRejectTypeText',
                modalRejectTransNumText: '#modalRejectTransNumText',
                btnRejectTransaction: '#btnRejectTransaction',
                VoidTransactionHandler: '@Url.Action("VoidTransaction", "Transactions")',
                AcceptTransactionHandler: '@Url.Action("AcceptTransaction", "Transactions")',
                RejectTransactionHandler: '@Url.Action("RejectTransaction", "Transactions")',
                TransID: '@ViewBag.TransID', //OTSTM2-897
                userRole: "@userRole",
            });
        })    </text>
    }
    else
    {
        <text>
        $(function () {
            var columnNames = [
                { columnName: 'Status', className: 'td-center', },
                { columnName: 'iPadForm', },
                { columnName: 'TransNum', },
                { columnName: 'Type', },
                { columnName: 'Start', },

                { columnName: 'End', },
                { columnName: 'SyncAdd', },
                { columnName: 'IncRegNum', },
                { columnName: 'OutRegNum', },
                { columnName: 'BadgeUser', },

                { columnName: 'Actions', className: 'td-center', orderable: false, },
                { columnName: 'TransactionId', className: 'display-none', orderable: false, },
                { columnName: 'CreatedUserId', className: 'display-none', orderable: false, },
                { columnName: 'CreatedVendorId', className: 'display-none', orderable: false, },
                { columnName: 'ClaimReviewStatus', className: 'display-none', orderable: false, },

                { columnName: 'ID', className: 'display-none', orderable: false, }
            ];

            $('#tblTransactionlist').createDataTable({
                viewMoreId: '#viewmore',
                totalRecordsId: '#totalRecords',
                searchId: '#search',
                exportId: '#export',
                foundId: '#found',
                removeIconId: '.remove-icon',
                columnNames: columnNames,
                exportUrl: '@Html.Raw(@Url.Action("ExportToExcel", "Transactions", new { area = "System", transactionType = "ALL", claimId = @ViewBag.ClaimId, searchText = "----", dataSubType = "notype", sortColumn = "AAA", sortDirection = "BBB" }))',
                ajaxHandler: '@Html.Raw(@Url.Action("GetAllTransactionsListHandler", "Transactions", new { ClaimId = @ViewBag.ClaimId, DataType = "ALL" }))',
                rowUrl: '@Url.Action("TransactionDetail", "Transactions")',
                userHandler: '@Url.Action("GetUserList", "Claims")',
                transactionType: "ALL",
                subDataType: "noType",
                modalPaperForm: 'modalTCRPaperForm',
                modaliPad: 'modalTCRiPad',

                currUserId: '@currUserId',
                currParticipantId: @currParticipantId,
                modalVoid: '#modalVoid',
                modalAccept: '#modalAccept',
                modalReject: '#modalReject',
                modalVoidTypeText: '#modalVoidTypeText',
                modalVoidTransNumText: '#modalVoidTransNumText',
                btnVoidYes: '#btnVoidYes',
                modalAcceptTypeText: '#modalAcceptTypeText',
                modalAcceptTransNumText: '#modalAcceptTransNumText',
                btnAcceptTransaction: '#btnAcceptTransaction',
                modalRejectTypeText: '#modalRejectTypeText',
                modalRejectTransNumText: '#modalRejectTransNumText',
                btnRejectTransaction: '#btnRejectTransaction',
                VoidTransactionHandler: '@Url.Action("VoidTransaction", "Transactions")',
                AcceptTransactionHandler: '@Url.Action("AcceptTransaction", "Transactions")',
                RejectTransactionHandler: '@Url.Action("RejectTransaction", "Transactions")',
                TransID: '@ViewBag.TransID', //OTSTM2-897
                userRole: '@userRole',
            });
        })
        </text>
    }
    }
    </script>
}
