﻿@model IEnumerable<CL.TMS.DataContracts.ViewModel.Common.VendorStatusDateRangeModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vendor Status History</title>
</head>
<body>
    <div> 
        <p>Vendor Status History</p>

        <table width="100%">
            <thead>
                <th>Start</th>
                <th>End</th>
                <th>Status</th>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th>@item.StartDate</th>
                        <th>@item.EndDate</th>
                        <th>@item.isActive</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
