﻿
@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var msg = Request.QueryString["msg"].ToString();    
    
}

<div class="message-container">
    <p>@msg</p>
</div>

