﻿
@model CL.TMS.DataContracts.ViewModel.Collector.CollectorRegistrationModel

<div class="panel-heading" role="tab" id="headingThree">
    <h4 class="panel-title">
        <a class="panel-arrow-collapse collapsed" data-toggle="collapse" data-parent="#accordion" href="#panelTireDetails" aria-expanded="false" aria-controls="panelTireDetails">
            <img id="flagTireDetail" class="status-flag" src="~/Images/comp-register-all-status-flag-grey.png"> @UIResource.CommonTireDetails
        </a>
    </h4>
</div>
<div id="panelTireDetails" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" style="height: 0px;">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <p data-toggle="collapse" data-target="#typeOfTiresHandled" aria-expanded="true" aria-controls="typeOfTiresHandled" style="cursor:pointer;">
                    <label for="typeOfTiresHandled"><input type="checkbox" checked="">@UIResource.CommonTireDetails </label>
                </p>
                <em class="help-block">@UIResource.ParticipantTireDetailsSelectALLtires</em>
            </div>
        </div><!--/.row-->
        <!--/.row-->
        @*@Html.EditorFor(model => model.TireDetails.TireDetailsItems.TireDetailsItemType, "TireDetailsItemType")*@       
        @*@for (var i = 0; i < Model.TireDetails.TireDetailsItemType.Count; i++ )
        {
            @Html.EditorFor(model => model.TireDetails.TireDetailsItemType[i]);
        }*@ 
        @Html.EditorFor(model => model.TireDetails.TireDetailsItemType, "TireDetailsItemType")
        <hr>
        <!--/.row-->
       @Html.EditorFor(model => model.TireDetails.TireDetailsVendor, "TireDetailsVendor")
        <small>@UIResource.TireDetailCollectorDev</small>
    </div>
</div>
