﻿@using CL.TMS.Resources
@using CL.TMS.Security.Authorization
@using CL.TMS.Common

<script type="text/ng-template" id="rc-add-btn.html">
    <button type="button" class="btn btn-success btn-add float-right margin-top-10"
            data-toggle="modal" title="Add Retail Connection" ng-click="add()" ng-disabled="rcType==='Participant Product'?NoActiveRetailerExists:false">
        +
    </button>
</script>

<script type="text/ng-template" id="rc-form-modal.html">
    <div class="comp-all-modal">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" id="rc-form-modal-title" align="center">{{ panelName }}</h3>@*{{currentMode}} {{emptyOrMy}}*@
        </div>
        <div class="modal-body padding-25">
            <rc-retailer-form ng-if="rcType === 'Participant Retailer'" current-mode="currentMode" retailer-id="id"></rc-retailer-form>

            <rc-product-form ng-if="rcType === 'Participant Product'" current-mode="currentMode" product-id="id"></rc-product-form>

            <rc-category-form ng-if="rcType === 'Product Category'" current-mode="currentMode" category-id="id"></rc-category-form>

            <rc-product-form ng-if="rcType === 'Staff Product'" current-mode="currentMode" product-id="id"></rc-product-form>

            <rc-retailer-form ng-if="rcType === 'Staff Retailer'" current-mode="currentMode" retailer-id="id"></rc-retailer-form>
        </div>            
    </div>
</script>

@*retailer form start*@
<script type="text/ng-template" id="rc-retailer-form.html">   
    <form id="participantRetailerForm" name="participantRetailerForm" novalidate ng-submit="submitForm(currentMode)">
        <div class="row" ng-show="checkRetailerNameFlag">
            <div class="col-sm-8"><p style="color:red">This Retailer already exists. Please enter a different Retailer Name.</p></div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group" cl-show-errors>
                    <label class="control-label" for="retailerName">Retailer Name</label>
                    <input type="text" class="form-control" id="retailerName" name="retailerName" ng-model="retailerFormModel.RetailerName" required ng-show="currentMode === 'Add' || currentMode === 'Edit'">
                    <input type="text" class="form-control" id="retailerName" placeholder="" ng-model="retailerFormModel.RetailerName" name="retailerName" ng-if="currentMode === 'View'" ng-disabled="currentMode === 'View'">
                    <p class="help-block" ng-if="participantRetailerForm.retailerName.$error.required">Please enter at least one character.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <label class="control-label" for="url">URL</label>
                <input type="text" class="form-control" id="url" ng-model="retailerFormModel.Url" placeholder="" ng-disabled="currentMode === 'View'">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label>
                    <input type="checkbox" ng-model='retailerFormModel.ChainOnline' ng-disabled="currentMode === 'View'|| (currentMode === 'Edit' && isParticipant)"> Chain/Online
                </label>
            </div>
        </div>
        <br />
        <rc-retailer-form-address form="participantRetailerForm" current-mode="currentMode" form-model="retailerFormModel" ng-if="!retailerFormModel.ChainOnline && loadRetailModel"></rc-retailer-form-address>

        <div class="row" ng-if="isStaff">
            <div class="col-sm-12">
                <retailer-internal-notes ng-if="currentMode === 'Edit' || currentMode === 'View'"></retailer-internal-notes>

                <div class="form-group" ng-if="currentMode === 'Add'">
                    <label class="control-label" for="InternalNote">Internal Notes</label>
                    <textarea row="2" class="form-control" id="InternalNote" name="InternalNote" ng-model="retailerFormModel.InternalNote"></textarea>
                </div>
            </div>
        </div>

        <hr />
        <div class="row modal-footer" style="border: none; padding: 0;">
            <div class="col-sm-4"></div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <button class="btn btn-success btn-space pull-right btn-lg" type="submit" ng-if="currentMode === 'Add'">
                    <i class="glyphicon fa fa-floppy-o" aria-hidden="true"></i>
                    Save
                    @*{{currentMode}}*@
                </button>
                <button class="btn btn-success btn-space pull-right btn-lg" type="submit" ng-if="currentMode === 'Edit'">
                    <i class="glyphicon fa fa-floppy-o" aria-hidden="true"></i>
                    Save
                </button>
                <button class="btn btn-danger btn-space pull-right btn-lg" type="button" data-dismiss="modal" ng-click="cancel()" ng-if="currentMode === 'Add' || currentMode === 'Edit'">
                    <i class="fa fa-ban fa-1x"></i>
                    @UIResource.Cancel
                </button>
                <button class="btn btn-default btn-space pull-right btn-lg" type="button" data-dismiss="modal" ng-click="cancel()"  ng-if="currentMode !== 'Add' && currentMode !== 'Edit'">
                    <i class="glyphicon fa fa-times-circle-o glyphicon-times-circle-o icon-times-circle-o" aria-hidden="true"></i>
                    @UIResource.Close
                </button>

            </div>
        </div>
    </form>
</script>

<script type="text/ng-template" id="rc-retailer-address.html">
    <div class="row">
        <div class="col-sm-4">
            <div class ="form-group" cl-show-errors >
                <label class="control-label" for="addressLine1">Address Line 1</label> 
                <input type="text" class="form-control" id="addressLine1" placeholder="" ng-model="formModel.AddressLine1" name="addressLine1" ng-required="isAddressFieldRequired" is-custom-required ng-disabled="currentMode === 'Edit' || currentMode === 'View'">
                <p class="help-block" ng-if="currentMode === 'Add' && form.addressLine1.$error.passRequired">Required.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group" cl-show-errors>
                <label class="control-label" for="city">City</label> 
                <input type="text" class="form-control" id="city" placeholder="" ng-model="formModel.City" name="city" ng-required="isAddressFieldRequired" is-custom-required ng-disabled="currentMode === 'Edit' || currentMode === 'View'">
                <p class="help-block" ng-if="currentMode === 'Add' && form.city.$error.passRequired">Required.</p>
            </div>            
        </div>
        <div class="col-sm-4">
            <div class="form-group" cl-show-errors>
                <label class="control-label" for="province">Province</label> 
                <input type="text" class="form-control" id="province" placeholder="" ng-model="formModel.Province" name="province" ng-required="isAddressFieldRequired" is-custom-required ng-disabled="currentMode === 'Edit' || currentMode === 'View'">
                <p class="help-block" ng-if="currentMode === 'Add' && form.province.$error.passRequired">Required.</p>
            </div>            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group" cl-show-errors>
                <label class="control-label" for="addressLine2">Address Line 2</label>
                <input type="text" class="form-control" id="addressLine2" placeholder="" ng-model="formModel.AddressLine2" name="addressLine2" ng-disabled="currentMode === 'Edit' || currentMode === 'View'">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group" cl-show-errors>
                <label class="control-label" for="postal">Postal/Zip</label> 
                <input type="text" class="form-control" id="postal" placeholder="" ng-model="formModel.PostalCode" name="postal" ng-required="isAddressFieldRequired" is-custom-required validate-postal ng-disabled="currentMode === 'Edit' || currentMode === 'View'">
                <p class="help-block" ng-if="currentMode === 'Add' && form.postal.$error.passRequired">Required.</p>    
                <p class="help-block" ng-if="currentMode === 'Add' && form.postal.$error.validPostalFormat">Invalid Postal/Zip.</p>          
            </div>
        </div>
        <div class="col-sm-4" ng-if="formModel.CountryList.length > 0">
            <div class="form-group" cl-show-errors>
                <label class="control-label" for="country">Country</label>
                <select class="form-control" name="country" ng-model="formModel.Country" required ng-change="countryChange()" ng-options="country for country in formModel.CountryList" ng-disabled="currentMode === 'Edit' || currentMode === 'View'">
                    <option value="">Please Select</option>
                </select>
                <span class="help-block" ng-if="form.country.$error">Required</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group" cl-show-errors>
                <label class="control-label" for="phone">Phone</label>
                <input type="text" class="form-control" id="phone" placeholder="" ng-model="formModel.PhoneNumber" name="phone" is-custom-required validate-phone-number ng-disabled="currentMode === 'Edit' || currentMode === 'View'">
                <p class="help-block" ng-if="currentMode === 'Add' && form.phone.$error.passRequired">Required.</p>
                <p class="help-block" ng-if="currentMode === 'Add' && form.phone.$error.validPhoneFormat">Invalid Phone Number.</p>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="rc-staff-retailer-address.html">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group" cl-show-errors>
                <label class="control-label" for="addressLine1">Address Line 1</label>
                <input type="text" class="form-control" id="addressLine1" placeholder="" ng-model="formModel.AddressLine1" name="addressLine1" ng-required="isAddressFieldRequired" is-custom-required ng-disabled="currentMode === 'View'">
                <p class="help-block" ng-if="form.addressLine1.$error.passRequired">Required.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group" cl-show-errors>
                <label class="control-label" for="city">City</label>
                <input type="text" class="form-control" id="city" placeholder="" ng-model="formModel.City" name="city" ng-required="isAddressFieldRequired" is-custom-required ng-disabled="currentMode === 'View'">
                <p class="help-block" ng-if="form.city.$error.passRequired">Required.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group" cl-show-errors>
                <label class="control-label" for="province">Province</label>
                <input type="text" class="form-control" id="province" placeholder="" ng-model="formModel.Province" name="province" ng-required="isAddressFieldRequired" is-custom-required ng-disabled="currentMode === 'View'">
                <p class="help-block" ng-if="form.province.$error.passRequired">Required.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group" cl-show-errors>
                <label class="control-label" for="addressLine2">Address Line 2</label>
                <input type="text" class="form-control" id="addressLine2" placeholder="" ng-model="formModel.AddressLine2" name="addressLine2" ng-disabled="currentMode === 'View'">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group" cl-show-errors>
                <label class="control-label" for="postal">Postal/Zip</label>
                <input type="text" class="form-control" id="postal" placeholder="" ng-model="formModel.PostalCode" name="postal" ng-required="isAddressFieldRequired" is-custom-required validate-postal ng-disabled="currentMode === 'View'">
                <p class="help-block" ng-if="form.postal.$error.passRequired">Required.</p>
                <p class="help-block" ng-if="form.postal.$error.validPostalFormat">Invalid Postal/Zip.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group" cl-show-errors>
                <label class="control-label" for="country">Country</label>                
                <select class="form-control" name="country" ng-model="formModel.Country" required ng-change="countryChange()"
                        ng-options="country for country in formModel.CountryList" ng-disabled="currentMode === 'View'">
                    <option value="">Please Select</option>
                </select>
                <span class="help-block" ng-if="form.country.$error">Required</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group" cl-show-errors>
                <label class="control-label" for="phone">Phone</label>
                <input type="text" class="form-control" id="phone" placeholder="" ng-model="formModel.PhoneNumber" name="phone" is-custom-required validate-phone-number ng-disabled="currentMode === 'View'">
                <p class="help-block" ng-if="form.phone.$error.passRequired">Required.</p>
                <p class="help-block" ng-if="form.phone.$error.validPhoneFormat">Invalid Phone Number.</p>
            </div>
        </div>
    </div>
</script>
@*retailer form end*@

@*product form start*@
<script type="text/ng-template" id="rc-product-form.html">
    <form id="productForm" name="productForm" novalidate ng-submit="submitForm(currentMode)">
        <div class=" row">
            <div class="col-sm-4">
                <div class="form-group" cl-show-errors>
                    <label class="control-label" for="productName">Product Name</label>
                    <input type="text" class="form-control" id="productName" placeholder="" ng-model="productFormModel.ProductName" name="productName" maxlength="60" required input-limit="60" ng-show="currentMode === 'Add' || (currentMode === 'Edit' && isStaff)">
                    <input type="text" class="form-control" id="productName" placeholder="" ng-model="productFormModel.ProductName" name="productName" maxlength="60" ng-if="currentMode === 'View' || (currentMode === 'Edit' && isParticipant)" ng-disabled="currentMode === 'View' || (currentMode === 'Edit' && isParticipant)">
                    <p class="help-block" ng-if="productForm.productName.$error.required">Required.</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group" cl-show-errors>
                    <label class="control-label" for="category">Category</label>
                    <div class="dropdown">
                        <select class="form-control" name="category" id="category"
                                ng-options="option.name for option in data.availableOptions track by option.id"
                                ng-model="data.selectedOption" ng-change="update(data.selectedOption)" validate-category ng-show="currentMode === 'Add' || (currentMode === 'Edit' && isStaff)"></select>

                        <select class="form-control" name="category" id="category"
                                ng-options="option.name for option in data.availableOptions track by option.id"
                                ng-model="data.selectedOption" ng-change="update(data.selectedOption)" ng-if="currentMode === 'View' || (currentMode === 'Edit' && isParticipant)" ng-disabled="currentMode === 'View' || (currentMode === 'Edit' && isParticipant)"></select>

                        <p class="help-block" ng-if="productForm.category.$error.validCategory">Required.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" for="brandName">Brand Name</label>
                    <input type="text" class="form-control" id="brandName" placeholder="" ng-model="productFormModel.BrandName" name="brandName" ng-show="currentMode === 'Add' || (currentMode === 'Edit' && isStaff)">
                    <input type="text" class="form-control" id="brandName" placeholder="" ng-model="productFormModel.BrandName" name="brandName" ng-if="currentMode === 'View' || (currentMode === 'Edit' && isParticipant)" ng-disabled="currentMode === 'View' || (currentMode === 'Edit' && isParticipant)">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" cl-show-errors>
                    <label class="control-label" for="description">Description</label>
                    <textarea class="form-control" rows="5" id="description" placeholder="" ng-model="productFormModel.Description" name="description" required ng-show="currentMode === 'Add' || (currentMode === 'Edit' && isStaff)" maxlength="1000" required input-limit="1000"></textarea>
                    <textarea class="form-control" rows="5" id="description" placeholder="" ng-model="productFormModel.Description" name="description" ng-if="currentMode === 'View' || (currentMode === 'Edit' && isParticipant)" ng-disabled="currentMode === 'View' || (currentMode === 'Edit' && isParticipant)"></textarea>
                    <p class="help-block" ng-if="productForm.description.$error.required">Required.</p>
                </div>
            </div>
        </div>

        <rc-product-retailer-section form="productForm" current-mode="currentMode" form-product-retailer-model="productFormModel.RetailerProducts" ng-if="currentMode === 'Add' && addLoad"></rc-product-retailer-section>
        <rc-product-retailer-section form="productForm" current-mode="currentMode" form-product-retailer-model="productFormModel.RetailerProducts" ng-if="(currentMode === 'Edit' || currentMode === 'View') && editLoad"></rc-product-retailer-section>

        <b>Upload Photo</b><br /><br />
        <participant-document-uploader form="productForm" current-mode="currentMode" form-upload-model="productFormModel.UploadDocument" product-id="{{productFormModel.ProductId}}" ng-if="isParticipant"></participant-document-uploader>
        <staff-document-uploader form="productForm" current-mode="currentMode" form-upload-model="productFormModel.UploadDocument" product-id="{{productFormModel.ProductId}}" ng-if="isStaff && editLoad"></staff-document-uploader>

        <div class="row modal-footer" style="border: none; padding: 0;">
            <div class="col-sm-4"></div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <button class="btn btn-success btn-space pull-right btn-lg" type="submit" ng-if="currentMode === 'Add'">
                    <i class="glyphicon fa fa-floppy-o" aria-hidden="true"></i>
                    Save
                    @*{{currentMode}}*@
                </button>
                <button class="btn btn-success btn-space pull-right btn-lg" type="submit" ng-if="currentMode === 'Edit'">
                    <i class="glyphicon fa fa-floppy-o" aria-hidden="true"></i>
                    Save
                </button>
                <button class="btn btn-danger btn-space pull-right btn-lg" type="button" data-dismiss="modal" ng-click="cancel()" ng-if="currentMode === 'Add' || currentMode === 'Edit'">
                    <i class="fa fa-ban fa-1x"></i>
                    @UIResource.Cancel
                </button>
                <button class="btn btn-default btn-space pull-right btn-lg" type="button" data-dismiss="modal" ng-click="cancel()" ng-if="currentMode !== 'Add' && currentMode !== 'Edit'">
                    <i class="glyphicon fa fa-times-circle-o glyphicon-times-circle-o icon-times-circle-o" aria-hidden="true"></i>
                    @UIResource.Close
                </button>
            </div>
        </div>
    </form>
</script>

<script type="text/ng-template" id="rc-product-retailer-section.html">
    <div class="row">
        <div class="col-md-12" data-name="{{message}}">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th width="30%">
                            Retailer Name <i class="fa fa-question-circle popoverTireOrigin" data-placement="auto" title="" popover="#popoverParticipantTireOrigin"></i>
                            <div id="popoverParticipantTireOrigin" style="display:none;">
                                <p>This is retailer details</p>
                            </div>
                        </th>
                        <th>URL</th>
                        <th width="6%">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="addSection" ng-if="currentMode === 'Add' || currentMode === 'Edit'">
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" ng-disabled="!retailerItems.length">
                                    {{selectedRetailerName}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li ng-repeat="item in retailerItems">
                                        <a ng-click="retailerDropDownChange(item.Name, item.Id)" role="menuitem" tabindex="-1" href="javascript:void(0)">{{item.Name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td ng-if="formProductRetailerModel.length == 0">
                            <input type="text" class="form-control" id="selectedUrl" placeholder="e.g www.walmart.com" ng-model="selectedUrl" name="selectedUrl" ng-disabled="!retailerItems.length" dynamic-retailer-validation required ng-show="formProductRetailerModel.length == 0" />
                            <p style="color: grey; font-style: italic" ng-show="formProductRetailerModel.length == 0">Add at least one retailer.</p>

                            <div ng-if="form.selectedUrl.$dirty">
                                <ng-messages for="form.selectedUrl.$error" style="color:maroon" role="alert">
                                    <ng-message when="urlrequired">Retailer is required to continue.</ng-message>
                                </ng-messages>
                            </div>
                        </td>
                        <td ng-if="formProductRetailerModel.length > 0">
                            <input type="text" class="form-control" id="selectedUrl" placeholder="e.g www.walmart.com" ng-model="selectedUrl" name="selectedUrl" ng-disabled="!retailerItems.length" maxlength="250" />
                        </td>
                        <td ng-if="currentMode === 'Add' || currentMode === 'Edit'">
                            <button class="btn btn-md btn-success btn-add" type="button" title="Add" ng-click="addRetailer()" ng-disabled="retailerItems.length == 0 || !selectedRetailer.RetailerId">+</button>
                        </td>
                    </tr>
                    <tr ng-show="editSection">
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle disabled" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                    {{selectedRetailerName}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li ng-repeat="item in retailerItems">
                                        <a role="menuitem" tabindex="-1" href="javascript:void(0)">{{item.Name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td><input type="text" class="form-control" placeholder="e.g www.walmart.com" ng-model="selectedUrl"></td>
                        <td>
                            <button class="btn btn-danger btn-block btn-lg" type="button" title="Cancel" ng-click="cancelUpdate()"><i class="fa fa-remove"></i></button>
                            <button class="btn btn-success btn-block btn-lg" type="button" title="Update" ng-click="updateRetailer()"><i class="fa fa-check"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-hover">
                <tbody>
                    <tr ng-repeat="retailerItem in formProductRetailerModel">
                        <td width="30%">{{retailerItem.RetailerName}}</td>
                        <td width="65%"><a ng-click="linkClick(retailerItem.ProductUrl)" style="cursor:pointer;">{{retailerItem.ProductUrl}}</a></td>
                        <td class="td-center" ng-if="currentMode === 'Add' || currentMode === 'Edit'">
                            <div class="btn-group dropdown-menu-actions">
                                <a data-toggle="dropdown" href="javascript:void(0)">
                                    <i class="glyphicon glyphicon-cog"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="javascript:void(0)" ng-click="editRetailer(retailerItem)"><i class="glyphicon fa fa-pencil-square-o"></i>Edit</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" ng-click="removeRetailer(retailerItem)">
                                            <i class="glyphicon fa fa fa-trash-o"></i>&nbsp;Delete
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</script>

<script type="text/ng-template" id="rc-product-rtl-modal.html">
    <div class="comp-all-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalRemoveTireOriginCategory" align="center">Confirm</h3>
            </div>
            <div class="modal-body">
                <div class="txt-c" style="padding:10px;">
                    <h4>Are you sure you would like to remove the Retailer: <strong>{{removeContent.retailer.RetailerName}}</strong> ?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg" ng-click="cancel()">
                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                    @UIResource.CommonWordNo
                </button>
                <button type="button" class="btn btn-success btn-lg" ng-click="confirm()">
                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                    @UIResource.CommonWordYes
                </button>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="documentUploader.html">

    <div class="row" ng-if="currentMode === 'Add' || (isStaff && currentMode === 'Edit')">
        <div class="col-md-12">
            <div class="dropzone" style="min-height: 200px">
                <input ng-file-select="onFileSelect($files)" type="file" title="Drop files to upload (or click)" accept=".pdf, doc, docx, xls, xlsx, txt, image/*" style="position: absolute; top: 0; right: 0; margin: 0; opacity: 0; -ms-filter: 'alpha(opacity=100)'; font-size: 43px; direction: ltr; cursor: pointer; height: 100%;">
            </div>
            <!-- should use ng-messages but this is a custom validation -->
            <div ng-show="invalidFileFormat" style="color:maroon" role="alert">
                <ng-message>Invalid file format.</ng-message>
            </div>
        </div>
    </div>    
    <hr />
    <br />

    <div class="row" ng-if="loadUploadedFile">
        <div class="col-md-7">
            <img id="SupportingDocumentZoom" src="/img/image-unavailable.png" initialize-smooth-zoom zoom-width="450" zoom-height="300" img-src="currentSupportingDocument.url" />
        </div>
        <div class="col-md-5">
            <div class="smoothzoompanPhotoThumb">
                <img ng-src="{{currentSupportingDocument.url}}" />
            </div>
        </div>
        <div class="col-md-5 margin-bottom--10">
            <div>
                <hr>
                <label>Filename</label>
                <p>{{currentSupportingDocument.name}}</p>

                <button class="btn btn-success" type="button" ng-click="delete()" ng-if="currentMode === 'Add' || (isStaff && currentMode === 'Edit')">Remove</button>
            </div>
        </div>
    </div>    
</script>
@*product form end*@

@*Category form start*@

<script type="text/ng-template" id="rc-category-form.html">
    <form id="productCategoryForm" name="productCategoryForm" novalidate ng-submit="productCategoryForm.$valid && submitForm(currentMode)">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group" cl-show-errors>
                    <label class="control-label" for="CategoryName">Category Name</label>
                    <input type="text" class="form-control" id="CategoryName" name="CategoryName" ng-model="categoryFormModel.CategoryName" required ng-show="currentMode === 'Add'">
                    <input type="text" class="form-control" id="CategoryName" placeholder="" ng-model="categoryFormModel.CategoryName" name="CategoryName" ng-if="currentMode === 'View'" ng-disabled="currentMode === 'View'">
                    <p class="help-block" ng-if="productCategoryForm.categoryName.$error.required">Please enter at least one character.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group" ng-if="currentMode === 'Add'|| currentMode === 'View'">
                    <label class="control-label" for="InternalNote">Internal Notes</label>
                    <textarea row="2" class="form-control" id="InternalNote" name="InternalNote" ng-model="categoryFormModel.InternalNote" ng-disabled="currentMode === 'View'"></textarea>

                    <br />
                    <br />
                    <div class="internal-wrap" ng-if="currentMode === 'View'">
                        <table class="table table-hover" style="margin-right: 5px;">
                            <thead>
                                <tr>
                                    <td>Date</td>
                                    <td>Note</td>
                                    <td>Added by</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{categoryFormModel.InternalNoteAddedOn | date:'yyyy-MM-dd hh:mm a'}}</td>
                                    <td ng-if="categoryFormModel.InternalNote.length > 72">
                                        <span internal-note-hover-popover data-note="{{categoryFormModel.InternalNote}}">{{stripNotes(categoryFormModel.InternalNote)}}</span>
                                    </td>
                                    <td ng-if="categoryFormModel.InternalNote.length < 72">
                                        <span>{{categoryFormModel.InternalNote}}</span>
                                    </td>
                                    <td>{{categoryFormModel.InternalNoteAddedBy}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div class="row modal-footer" style="border: none; padding: 0;">
            <div class="col-sm-4"></div>
            <div class="col-sm-4"></div>
            <div class="col-sm-12">
                @*<button class="btn btn-default pull-right btn-space" type="button" data-dismiss="modal" ng-click="cancel()">@UIResource.Cancel</button>
                <button class="btn btn-success pull-right btn-space" type="submit" ng-if="currentMode === 'Add'" ng-disabled="productCategoryForm.$invalid">{{currentMode}}</button>
                <button class="btn btn-success pull-right btn-space" type="submit" ng-if="currentMode === 'Edit'" ng-disabled="productCategoryForm.$invalid">Save</button>*@
                <button class="btn btn-success btn-space pull-right btn-lg" type="submit" ng-if="currentMode === 'Add'">
                    <i class="glyphicon fa fa-floppy-o" aria-hidden="true"></i>
                    Save
                    @*{{currentMode}}*@
                </button>
                <button class="btn btn-success btn-space pull-right btn-lg" type="submit" ng-if="currentMode === 'Edit'">
                    <i class="glyphicon fa fa-floppy-o" aria-hidden="true"></i>
                    Save
                </button>
                <button class="btn btn-danger btn-space pull-right btn-lg" type="button" data-dismiss="modal" ng-click="cancel()" ng-if="currentMode === 'Add' || currentMode === 'Edit'">
                    <i class="fa fa-ban fa-1x"></i>
                    @UIResource.Cancel
                </button>
                <button class="btn btn-default btn-space pull-right btn-lg" type="button" data-dismiss="modal" ng-click="cancel()" ng-if="currentMode !== 'Add' && currentMode !== 'Edit'">
                    <i class="glyphicon fa fa-times-circle-o glyphicon-times-circle-o icon-times-circle-o" aria-hidden="true"></i>
                    @UIResource.Close
                </button>
            </div>
        </div>
    </form>
</script>

@*Category form end*@

@*actions button*@

<script type="text/ng-template" id="edit-btn.html">
    <a href="javascript:void(0)" ng-click="openFormForEdit()"><i class="fa fa-folder-open"></i> Edit</a>
</script>

<script type="text/ng-template" id="staff-approve-btn.html">
    <a href="javascript:void(0)" ng-click="approve()"><i class="fa fa-thumbs-o-up"></i> Approve</a>
</script>

<script type="text/ng-template" id="staff-reject-btn.html">
    <a href="javascript:void(0)" ng-click="reject()"><i class="fa fa-thumbs-o-down"></i> Reject</a>
</script>

<script type="text/ng-template" id="active-btn.html">
    <a href="javascript:void(0)" ng-click="active()"><i class="fa fa-thumbs-o-up"></i> Activate</a>
</script>

<script type="text/ng-template" id="inactive-btn.html">
    <a href="javascript:void(0)" ng-click="inactive()"><i class="fa fa-thumbs-o-down"></i> Inactivate</a>
</script>

  <script type="text/ng-template" id="active-action.html">
    <div class="btn-group dropdown-menu-actions">
        <a href="javascript:void(0)" data-trigger="focus" tabindex="124" data-toggle="popover" data-original-title="" title="" tablerowpopover>
          <i class="glyphicon glyphicon-cog"></i>
        </a>
        <div class="popover-menu">
            <ul>
                <li>
                    <rc-edit-form rc-type="rcType" id="rcId"></rc-edit-form>
                </li>
                <li>
                    <rc-inactive-form rc-type="rcType" id="rcId" inactive-name="rcName"></rc-inactive-form>                    
                </li>
            </ul>
        </div>
    </div>
</script>


<script type="text/ng-template" id="active-action-only.html">
    <div class="btn-group dropdown-menu-actions">
        <a href="javascript:void(0)" data-trigger="focus" tabindex="124" data-toggle="popover" data-original-title="" title="" tablerowpopover>
            <i class="glyphicon glyphicon-cog"></i>
        </a>
        <div class="popover-menu">
            <ul>
                <li>
                    <rc-inactive-form rc-type="rcType" id="rcId" inactive-name="rcName"></rc-inactive-form>
                </li>
            </ul>
        </div>
    </div>
</script>

<script type="text/ng-template" id="inactive-action.html">
    <div class="btn-group dropdown-menu-actions">
        <a href="javascript:void(0)" data-trigger="focus" tabindex="124" data-toggle="popover" data-original-title="" title="" tablerowpopover>
            <i class="glyphicon glyphicon-cog"></i>
        </a>
        <div class="popover-menu">
            <ul>
                <li>
                    <rc-active-form rc-type="rcType" id="rcId" active-name="rcName"></rc-active-form>
                </li>
            </ul>
        </div>
    </div>
</script>

<script type="text/ng-template" id="staff-under-review-action.html">
    <div class="btn-group dropdown-menu-actions">
        <a href="javascript:void(0)" data-trigger="focus" tabindex="124" data-toggle="popover" data-original-title="" title="" tablerowpopover>
            <i class="glyphicon glyphicon-cog"></i>
        </a>
        <div class="popover-menu">
            <ul>
                <li>
                    <rc-edit-form rc-type="rcType" id="rcId"></rc-edit-form>
                </li>
                <li>
                    <rc-approve-form rc-type="rcType" id="rcId" approve-name="rcName"></rc-approve-form>
                </li>
                <li>
                    <rc-reject-form rc-type="rcType" id="rcId" reject-name="rcName"></rc-reject-form>
                </li>
            </ul>
        </div>
    </div>
</script>

@*actions button end*@


@*Internal Notes Start*@
<script type="text/ng-template" id="retail-connection-internal-notes.html">

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="panelNotes-headingOne">

            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#panelNotes-collapseOne" aria-expanded="true" aria-controls="panelNotes-collapseOne" class="panel-arrow-expand">
                    Internal Notes
                </a>
            </h4>
            <div class="col-xs-6 subcomp-search">
                <input type="text" class="form-control" placeholder="Search" style="{{searchStyle}}" ng-model="searchNote" id="search" ng-blur="blur()" focus-input="focusVal" ng-keyup="search()">
                <div class="subcomp-search-found" ng-show="searchNote" style="display: block" id="found">Found {{internalNoteLength}}</div>
                <i class="glyphicon glyphicon-remove remove-icon" style="display: inline" ng-show="searchNote" ng-click="searchNote=''"></i>
                <i class="glyphicon glyphicon-search" ng-mouseover="focus()"></i>
            </div>
        </div>
        <div id="panelNotes-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelNotes-headingOne">
            <div class="panel-body">
                <div class="form-group">
                    <textarea class="form-control" rows="3" ng-model="textAreaModel" ng-disabled="currentMode === 'View'"></textarea>
                </div>
                <button type="button" class="btn btn-success btn-add" data-toggle="modal" data-target="#" title="Add Internal Note" ng-click="add()" ng-if="currentMode === 'Edit'">+</button>
                <br>
                <br>
                <div class="internal-wrap">
                    <table class="table table-hover" style="margin-right: 5px;">
                        <thead>
                            <tr>
                                <td>
                                    <a href="javascript:void(0);" ng-click="sortType = 'AddedOn'; sortReverse = !sortReverse">
                                        Date
                                        <span ng-show="sortType == 'AddedOn' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'AddedOn' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="javascript:void(0);" ng-click="sortType = 'Note'; sortReverse = !sortReverse">
                                        Note
                                        <span ng-show="sortType == 'Note' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'Note' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="javascript:void(0);" ng-click="sortType = 'AddedBy'; sortReverse = !sortReverse">
                                        Added by
                                        <span ng-show="sortType == 'AddedBy' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'AddedBy' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                            </tr>
                        </thead>
                    </table>
                    <div style="overflow-y: auto;">
                        <table class="table table-hover" style="margin-right: 5px;">
                            <tbody>
                                <tr ng-repeat="note in filtered = (allInternalNotes | orderBy:sortType:sortReverse | filter:searchNote| limitTo:quantity)">
                                    @*<td>{{note.AddedOn | date:'yyyy-MM-dd hh:mm a'}}</td>*@
                                    <td>{{note.AddedOn | dateFilter}}</td>
                                    <td ng-if="note.Note.length > 72">
                                        <span internal-note-hover-popover data-note="{{note.Note}}">{{stripNotes(note.Note)}}</span>
                                    </td>
                                    <td ng-if="note.Note.length < 72">
                                        <span>{{note.Note}}</span>
                                    </td>
                                    <td>{{note.AddedBy}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <a href="javascript:void(0);" ng-click="quantity = allInternalNotes.length; showMore = !showMore" ng-show="showMore" id="internal-viewmore">More</a>
            </div>
        </div>
    </div><!--/.panel-->
    <!-- /Component -->
</script>

<script type="text/ng-template" id="messagePopover.html">
    <div class="dropdown-menu-actions">
        <a href="javascript:void(0)" style="border:1px solid transparent"  message-hover-popover>
            <i data-name="notes" class="fa fa-comment color-tm-grey"></i>
        </a>
        <div class="popover-menu">
            Message
        </div>
    </div>
</script>



@*common modal for status change dialog*@

<script type="text/ng-template" id="rc-status-change-modal.html">
    <div class="comp-all-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalStatusChange" align="center">Confirm</h3>
            </div>
            <div class="modal-body">
                <div class="txt-c" style="padding:10px;">
                    <h4>{{statusMessage}}</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg" ng-click="cancel()">
                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                    @UIResource.CommonWordNo
                </button>
                <button type="button" class="btn btn-success btn-lg" ng-click="confirm()">
                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                    @UIResource.CommonWordYes
                </button>
            </div>
        </div>
    </div>
</script>
@*Export to csv*@
<script type="text/ng-template" id="anchorExport.html">
    <a id="internal-export" class="export" title="Export to CSV" href='javascript:void(0);' ng-style="anchorCss">
        <i class="fa fa-file-text-o fa-fw uiaction-export" title="Export to CSV"></i>
    </a>
</script>