﻿@using CL.TMS.Common
@using CL.TMS.Security.Authorization
@{
    ViewBag.Title = "Staff Claim Summary";

    ViewBag.InterNotesPermission = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsHaulerClaimSummaryInternalNotes);
    ViewBag.TransactionAdjustPermission = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsHaulerClaimSummaryTransactionAdjustments);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />
@section styles {
    @Styles.Render("~/css/datatable-tm")

    <style>
        /*OTSTM2-424 begin*/
        #exportActivities {
            background: none;
            left: 95px;
            position: absolute;
            top: 11px;
            width: 25px;
        }

        .label-new {
            left: 125px;
            position: absolute;
            top: 11px;
            width: 50px;
        }

        .viewMoreActivity {
            margin-top: 20px;
            display: inline-block;
        }

        /*stick to cube UI*/
        #panelClaimActivity .table thead > tr > th {
            border-bottom: 2px solid #e7ebee;
            text-transform: uppercase;
            font-size: 0.875em;
        }

        #panelClaimActivity .table tbody > tr > td {
            font-size: 0.875em;
            vertical-align: middle;
            border-top: 1px solid #e7ebee;
            padding: 12px 8px;
        }

        #panelClaimActivity .table tbody > tr > td {
            font-size: 0.875em;
            font-family: sans-serif;
            vertical-align: middle;
            border-top: 1px solid #e7ebee;
            padding: 12px 8px;
        }

        /*stick to cube UI*/

        table tbody tr td.ng-scope {
            white-space: nowrap;
            max-width: 200px;
            overflow: hidden;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }

        #panelClaimActivity {
            margin-top: -10px;
        }

        /*OTSTM2-424 end*/

        /*OTSTM2-843 fix datatable white space when clicking hambourger icon(existing issue)*/
        table.dataTable {
            border-collapse: collapse;
            width: 100% !important;
        }

        /*OTSTM2-1235 The validation css about the business rule: inbound > outbound*/
        .required-validity {
            color: #dd191d;
        }

        .has-error{
            border-color:#a94442 !important
        }
    </style>

}

<!-- ///////////// HTML Top ///////////// -->
<div class="tm-all staff-all-claims ng-cloak" ng-controller="haulerStaffClaimSummaryController" id="haulerStaffClaimSummary">
    <!-- Component: Transactions Header -->
    <div id="fixedClaimHeader" class="row comp-claims-header comp-variant-staff fixed-claim-header">
        <div class="col-xs-6 col-sm-6">

            <h2 class="fixed-claim-header-title">Claim Summary</h2>
            <claim-bread-crumb></claim-bread-crumb>
            <div class="sub-header-claim-period"
                 style="width:74px; height: 34px; line-height: 2.1em; text-align:center;"     
                 data-toggle="tooltip"
                 data-placement="right"
                 title="{{HaulerClaimSummary.ClaimStatus.UnderReview}}"
                 ng-class="getStatusColor">
                {{HaulerClaimSummary.ClaimCommonModel.ClaimPeriodName}}
            </div>  
            @*<div class="sub-header-claimdate fixed-claim-header-claimdate">
                {{HaulerClaimSummary.ClaimCommonModel.ClaimPeriodName}}
            </div>
            <div class="sub-header-claimstatus fixed-claim-header-claimstatus">
                {{HaulerClaimSummary.ClaimStatus.UnderReview}}
            </div>*@
        </div>
        @if (SecurityContextHelper.IsStaff())
            {
            <div class="col-xs-6 col-sm-6">
                @Html.Partial("_ParticipantHeader", SecurityContextHelper.CurrentVendor)
            </div>
        }
        else
        {
            <div class="col-xs-5 col-sm-6">
                <div class="sub-header-registrantinfo">@SecurityContextHelper.CurrentVendor.RegistrationNumber</div>
            </div>
        }
    </div><!--/.row-->
    <!-- /Component -->

    <div class="panel-container">
        <!-- Component: Status -->
        @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsHaulerClaimSummaryStatus) >= CL.TMS.Security.SecurityResultType.ReadOnly)
        {
            <claim-status claim-status-model="HaulerClaimSummary.ClaimStatus"></claim-status>
            @Html.Partial("_ClaimStatus")
        }
        <!-- Component-->
        <div class="row">
            <div class="col-md-6">
                @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsHaulerClaimSummaryInbound) >= CL.TMS.Security.SecurityResultType.ReadOnly)
            {
                    @Html.Partial("_HaulerInboundPartial")<!--/.panel-->
                }
                @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsHaulerClaimSummaryInventoryAndAdjustments) >= CL.TMS.Security.SecurityResultType.ReadOnly)
            {
                    @Html.Partial("_HaulerStaffInventoryAdjustmentPartial")
                }
                @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsHaulerClaimSummaryInternalAdjustments) >= CL.TMS.Security.SecurityResultType.ReadOnly)
            {
                    @Html.Partial("_HaulerStaffInternalAdjustmentPartial")
                }
            </div>
            <div class="col-md-6">
                @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsHaulerClaimSummaryOutbound) >= CL.TMS.Security.SecurityResultType.ReadOnly)
            {
                    @Html.Partial("_HaulerOutboundPartial")
                }
                @*@Html.Partial("_HaulerTransactionAdjustmentPartial")*@
                @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsHaulerClaimSummaryTransactionAdjustments) >= CL.TMS.Security.SecurityResultType.ReadOnly)
            {
                    @Html.Partial("_CommonTransactionAdjustPartial")
                }
                @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsHaulerClaimSummaryPaymentsAndAdjustments) >= CL.TMS.Security.SecurityResultType.ReadOnly)
            {
                    @Html.Partial("_HaulerPaymentAdjustmentPartial")
                }
                @*@Html.Partial("_HaulerMessages", Model)*@
            </div>
        </div>
        @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsHaulerClaimSummaryInternalNotes) >= CL.TMS.Security.SecurityResultType.ReadOnly)
        {
            <div class="row">
                <div class="col-md-12">
                    <!-- Component:Internal Note Panel -->
                    @Html.Partial("_ClaimInternalNotesTemplate")
                    <manage-internal-notes load-url="{{loadUrl}}" add-url="{{addUrl}}" export-url="{{exportUrl}}" panel-arrow="hauler-claims-summary-notes"></manage-internal-notes>
                    <!-- /Component -->
                </div>
            </div>
        }
        @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsHaulerClaimSummarySupportingDocuments) >= CL.TMS.Security.SecurityResultType.ReadOnly)
        {
            <div class="row">
                <div class="col-md-12">
                    <!-- Component: Supporting Documents -->
                    @*@Html.Partial("_HaulerSupportingDocPartial", new ViewDataDictionary() { { "TransactionId", @ViewBag.ClaimsId }, { "FileUploadSectionName", CL.TMS.Common.Enum.FileUploadSectionName.Claims } })*@
                    @Html.Partial("_CommonClaimSupportingDocPartial", new ViewDataDictionary() {
                    { "TransactionId", @ViewBag.ClaimsId },
                    { "FileUploadSectionName", CL.TMS.Common.Enum.FileUploadSectionName.Claims },
                    { "ClaimsStatus", CL.TMS.Common.Enum.ClaimStatus.Open },
                    { "SupportDocEditPermission", SecurityContextHelper.IsEditable(TreadMarksConstants.ClaimsHaulerClaimSummarySupportingDocuments) }
               })
                    <!-- /Component -->
                </div>
            </div>
        }

        <!-- Modal: Remove Internal Adjustment -->
        <div class="modal fade comp-claims-summary-submitmodal" id="modalRemoveInternalAdjustment" tabindex="-1" role="dialog" aria-labelledby="modalRemoveInternalAdjustment" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="modalInactivateUser" align="center">Confirm</h3>
                    </div>
                    <div class="modal-body">
                        <div style="padding: 20px">
                            <h4 class="txt-c">Are you sure you want to remove <strong>Internal Adjustment</strong>?</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                            No
                        </button>
                        <button id="btnRemoveInternalAdjust" type="button" class="btn btn-success btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                            Yes
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Modal -->
        <!-- Modal: Internal Adjustments  -->
        <script type="text/ng-template" id="internalAdjustModal.html">
            <div class="modal-content">
                <form id="internalAdjustForm" name="internaladjustForm" novalidate ng-submit="confirm(returnCurrentChooseType(selectedItem))">

                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="modalInternalAdj" align="center" ng-show="modalResult.isAdd && !isReadOnly"> Adjustment</h3>
                        <h3 class="modal-title" id="modalInternalAdjEdit" align="center" ng-show="!modalResult.isAdd && !isReadOnly"> Adjustment</h3>
                        <h3 class="modal-title" id="modalInternalAdjView" align="center" ng-show="!modalResult.isAdd && isReadOnly"> Adjustment</h3>
                    </div>
                    <div class="modal-body">
                        <div style="padding:0 20px;">
                            <div class="row">
                                <div class="col-sm-3 col-md-3">
                                    <h4>Choose Type</h4>
                                    <select class="form-control" id="internaladj-selector"
                                            ng-options="item.name for item in items"
                                            ng-model="selectedItem" ng-disabled="chooseTypeIsDisable"></select>
                                </div>
                                <div class="col-sm-3 col-md-3" ng-show="selectedItem.id=='3'">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="radio-internaladj-option-4-2" value="eligible" ng-model="modalResult.eligibility" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                            Eligible
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="radio-internaladj-option-4-2" value="ineligible" ng-model="modalResult.eligibility" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                            Ineligible
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div id="internaladj-weight" class="internaladj-options" ng-show="selectedItem.id=='1'">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="radio-internaladj-option-1-1" ng-model="modalResult.direction" value="overall" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                                Overall
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="radio-internaladj-option-1-1" ng-model="modalResult.direction" value="inbound" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                                Inbound
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="radio-internaladj-option-1-1" ng-model="modalResult.direction" value="outbound" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                                Outbound
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="radio-internaladj-option-1-2" ng-model="modalResult.eligibility" value="eligible" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                                Eligible
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="radio-internaladj-option-1-2" ng-model="modalResult.eligibility" value="ineligible" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                                Ineligible
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group" ng-class="{ 'has-error': getErrorRule(selectedItem, '_onRoad') }">
                                            <label for="">On-road (KG)</label>
                                            <input type="number" class="form-control" ng-model="modalResult.onroad" name="onroad" placeholder="0.0000" ng-disabled="isReadOnly||disableForReadOnlyStaff" decimal-required="4">
                                            <div ng-show="internaladjustForm.$submitted || internaladjustForm.onroad.$touched">
                                                <p class="help-block" ng-show="(internaladjustForm.onroad.$error.isDecimalRequired) || (internaladjustForm.onroad.$error.number)">Invalid Input</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group" ng-class="{ 'has-error':  getErrorRule(selectedItem, '_offRoad')}">
                                            <label for="">Off-road (KG)</label>
                                            <input type="number" class="form-control" ng-model="modalResult.offroad" name="offroad" placeholder="0.0000" ng-disabled="isReadOnly||disableForReadOnlyStaff" decimal-required="4">
                                            <div ng-show="internaladjustForm.$submitted || internaladjustForm.offroad.$touched">
                                                <p class="help-block" ng-show="(internaladjustForm.offroad.$error.isDecimalRequired) || (internaladjustForm.offroad.$error.number)">Invalid Input</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--/.row-->
                                <span style="color: #a94442" ng-show="internaladjustForm.$submitted && allZeroesOrEmpty(modalResult.offroad,modalResult.onroad)">Atleast one Weight type should have value > or < 0</span>
                            </div>
                            <div id="internaladj-tirecounts" class="internaladj-options" ng-show="selectedItem.id=='2'">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="radio-internaladj-option-2-1" value="overall" ng-model="modalResult.direction" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                                Overall
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="radio-internaladj-option-2-1" value="inbound" ng-model="modalResult.direction" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                                Inbound
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="radio-internaladj-option-2-1" value="outbound" ng-model="modalResult.direction" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                                Outbound
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="radio-internaladj-option-2-2" value="eligible" ng-model="modalResult.eligibility" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                                Eligible
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="radio-internaladj-option-2-2" value="ineligible" ng-model="modalResult.eligibility" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                                Ineligible
                                            </label>
                                        </div>
                                    </div>
                                </div><!--/.row-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table" style="background:none!important;">
                                            <thead>
                                                <tr>
                                                    <th>PLT</th>
                                                    <th>MT</th>
                                                    <th>AG/LS</th>
                                                    <th>IND</th>
                                                    <th>SOTR</th>
                                                    <th>MOTR</th>
                                                    <th>LOTR</th>
                                                    <th>GOTR</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_plt')}">
                                                            <input type="number" class="form-control" placeholder="+/-" ng-model="modalResult.plt" ng-disabled="isReadOnly||disableForReadOnlyStaff" name="tirecount_plt" no-decimal>
                                                            <div ng-show="internaladjustForm.$submitted || internaladjustForm.tirecount_plt.$touched">
                                                                <p class="help-block" ng-show="(internaladjustForm.tirecount_plt.$error.number)">Invalid Input</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_mt') }">
                                                            <input type="number" class="form-control" placeholder="+/-" ng-model="modalResult.mt" ng-disabled="isReadOnly||disableForReadOnlyStaff" name="tirecount_mt" no-decimal>
                                                            <div ng-show="internaladjustForm.$submitted || internaladjustForm.tirecount_mt.$touched">
                                                                <p class="help-block" ng-show="(internaladjustForm.tirecount_mt.$error.number)">Invalid Input</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_agls') }">
                                                            <input type="number" class="form-control" placeholder="+/-" ng-model="modalResult.agls" ng-disabled="isReadOnly||disableForReadOnlyStaff" name="tirecount_agls" no-decimal>
                                                            <div ng-show="internaladjustForm.$submitted || internaladjustForm.tirecount_agls.$touched">
                                                                <p class="help-block" ng-show="(internaladjustForm.tirecount_agls.$error.number)">Invalid Input</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_ind') }">
                                                            <input type="number" class="form-control" placeholder="+/-" ng-model="modalResult.ind" ng-disabled="isReadOnly||disableForReadOnlyStaff" name="tirecount_ind" no-decimal>
                                                            <div ng-show="internaladjustForm.$submitted || internaladjustForm.tirecount_ind.$touched">
                                                                <p class="help-block" ng-show="(internaladjustForm.tirecount_ind.$error.number)">Invalid Input</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_sotr') }">
                                                            <input type="number" class="form-control" placeholder="+/-" ng-model="modalResult.sotr" ng-disabled="isReadOnly||disableForReadOnlyStaff" name="tirecount_sotr" no-decimal>
                                                            <div ng-show="internaladjustForm.$submitted || internaladjustForm.tirecount_sotr.$touched">
                                                                <p class="help-block" ng-show="(internaladjustForm.tirecount_sotr.$error.number)">Invalid Input</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_motr') }">
                                                            <input type="number" class="form-control" placeholder="+/-" ng-model="modalResult.motr" ng-disabled="isReadOnly||disableForReadOnlyStaff" name="tirecount_motr" no-decimal>
                                                            <div ng-show="internaladjustForm.$submitted || internaladjustForm.tirecount_motr.$touched">
                                                                <p class="help-block" ng-show="(internaladjustForm.tirecount_motr.$error.number)">Invalid Input</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_lotr') }">
                                                            <input type="number" class="form-control" placeholder="+/-" ng-model="modalResult.lotr" ng-disabled="isReadOnly||disableForReadOnlyStaff" name="tirecount_lotr" no-decimal>
                                                            <div ng-show="internaladjustForm.$submitted || internaladjustForm.tirecount_lotr.$touched">
                                                                <p class="help-block" ng-show="(internaladjustForm.tirecount_lotr.$error.number)">Invalid Input</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_gotr') }">
                                                            <input type="number" class="form-control" placeholder="+/-" ng-model="modalResult.gotr" ng-disabled="isReadOnly||disableForReadOnlyStaff" name="tirecount_gotr" no-decimal>
                                                            <div ng-show="internaladjustForm.$submitted || internaladjustForm.tirecount_gotr.$touched">
                                                                <p class="help-block" ng-show="(internaladjustForm.tirecount_gotr.$error.number)">Invalid Input</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <span style="color: #a94442" ng-show="internaladjustForm.$submitted && isTireTypeAllZeros()">At least one tire type should have value > or < 0</span>
                                    </div>
                                </div><!--/.row-->
                            </div>
                            <div id="internaladj-payment" class="internaladj-options" ng-if="selectedItem.id=='4'">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="radio-internaladj-option-3-1" value="Overall" ng-model="modalResult.paymentType" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                                Overall
                                            </label>
                                        </div>
                                        <div class="radio" ng-show="displayHaulerPTR">
                                            <label>
                                                <input type="radio" name="radio-internaladj-option-3-1" value="HaulerPTR" ng-model="modalResult.paymentType" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                                PTR
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="radio-internaladj-option-3-1" value="NorthernPremium" ng-model="modalResult.paymentType" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                                Northern Premium
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="radio-internaladj-option-3-1" value="DOTPremium" ng-model="modalResult.paymentType" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                                DOT Premium
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="radio-internaladj-option-3-1" value="IneligibleInventoryPayment" ng-model="modalResult.paymentType" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                                Ineligible Inventory
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 txt-r">
                                        <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_amount')}">
                                            <br>
                                            <label for="">Amount ($)</label>
                                            <input type="number" class="form-control txt-r" placeholder="0.00" ng-model="modalResult.amount" ng-disabled="isReadOnly||disableForReadOnlyStaff" name="amount" decimal-required="2">
                                            <div ng-show="internaladjustForm.$submitted || internaladjustForm.amount.$touched">
                                                <p class="help-block" ng-show="(internaladjustForm.amount.$error.isDecimalRequired) || (internaladjustForm.amount.$error.number)">Invalid Input</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--/.row-->
                                <span style="color: #a94442" ng-show="internaladjustForm.$submitted && allZeroesOrEmpty(modalResult.amount)">Payment should not be equal to 0</span>
                            </div>
                            <div id="internaladj-yardcount" class="internaladj-options" ng-show="selectedItem.id=='3'">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>PLT</th>
                                            <th>MT</th>
                                            <th>AG/LS</th>
                                            <th>IND</th>
                                            <th>SOTR</th>
                                            <th>MOTR</th>
                                            <th>LOTR</th>
                                            <th>GOTR</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="tr-hover-on">
                                            <td colspan="8">Before Adjustments applied</td>
                                        </tr>
                                        <tr>

                                            @*OTSTM-498 for edit, we need to send correct values to back end so assigning the correct values for the existing yard count adjustments*@
                                            {{modalResult.pltBeforeAdj = modalResult.pltBeforeAdj == null || !isReadOnly ? tireCountBalance.PLT : modalResult.pltBeforeAdj;""}}
                                            {{modalResult.mtBeforeAdj = modalResult.mtBeforeAdj == null ? tireCountBalance.MT : modalResult.mtBeforeAdj;""}}
                                            {{modalResult.aglsBeforeAdj = modalResult.aglsBeforeAdj == null ? tireCountBalance.AGLS : modalResult.aglsBeforeAdj;""}}
                                            {{modalResult.indBeforeAdj = modalResult.indBeforeAdj == null ? tireCountBalance.IND : modalResult.indBeforeAdj;""}}
                                            {{modalResult.sotrBeforeAdj = modalResult.sotrBeforeAdj == null ? tireCountBalance.SOTR : modalResult.sotrBeforeAdj;""}}
                                            {{modalResult.motrBeforeAdj = modalResult.motrBeforeAdj == null ? tireCountBalance.MOTR : modalResult.motrBeforeAdj;""}}
                                            {{modalResult.lotrBeforeAdj = modalResult.lotrBeforeAdj == null ? tireCountBalance.LOTR : modalResult.lotrBeforeAdj;""}}
                                            {{modalResult.gotrBeforeAdj = modalResult.gotrBeforeAdj == null ? tireCountBalance.GOTR : modalResult.gotrBeforeAdj;""}}


                                            <td class="td-c">{{modalResult.isAdd || !isReadOnly ? tireCountBalance.PLT :  modalResult.pltBeforeAdj}}</td>
                                            <td class="td-c">{{modalResult.isAdd || !isReadOnly ? tireCountBalance.MT :  modalResult.mtBeforeAdj}}</td>
                                            <td class="td-c">{{modalResult.isAdd || !isReadOnly ? tireCountBalance.AGLS :  modalResult.aglsBeforeAdj}}</td>
                                            <td class="td-c">{{modalResult.isAdd || !isReadOnly ? tireCountBalance.IND :  modalResult.indBeforeAdj}}</td>
                                            <td class="td-c">{{modalResult.isAdd || !isReadOnly ? tireCountBalance.SOTR :  modalResult.sotrBeforeAdj}}</td>
                                            <td class="td-c">{{modalResult.isAdd || !isReadOnly ? tireCountBalance.MOTR :  modalResult.motrBeforeAdj}}</td>
                                            <td class="td-c">{{modalResult.isAdd || !isReadOnly ? tireCountBalance.LOTR :  modalResult.lotrBeforeAdj}}</td>
                                            <td class="td-c">{{modalResult.isAdd || !isReadOnly ? tireCountBalance.GOTR :  modalResult.gotrBeforeAdj}}</td>


                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr class="tr-hover-on">
                                            <td colspan="8">Yard Count Submission </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="td-c">{{itemSubmission.PLT}}</td>
                                            <td class="td-c">{{itemSubmission.MT}}</td>
                                            <td class="td-c">{{itemSubmission.AGLS}}</td>
                                            <td class="td-c">{{itemSubmission.IND}}</td>
                                            <td class="td-c">{{itemSubmission.SOTR}}</td>
                                            <td class="td-c">{{itemSubmission.MOTR}}</td>
                                            <td class="td-c">{{itemSubmission.LOTR}}</td>
                                            <td class="td-c">{{itemSubmission.GOTR}}</td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr class="tr-hover-on">
                                            <td colspan="8">Yard Count Adjustment</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_plt') }">
                                                    <input type="number" class="form-control" placeholder="+/-" ng-model="modalResult.plt" ng-disabled="isReadOnly||disableForReadOnlyStaff" name="yardcount_plt" ng-change="change_yardcount_plt()" no-decimal>
                                                    <div ng-show="internaladjustForm.$submitted || internaladjustForm.yardcount_plt.$touched">
                                                        <p class="help-block" ng-show="(internaladjustForm.yardcount_plt.$error.number)">Invalid Input</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_mt') }">
                                                    <input type="number" class="form-control" placeholder="+/-" ng-model="modalResult.mt" ng-disabled="isReadOnly||disableForReadOnlyStaff" name="yardcount_mt" ng-change="change_yardcount_mt()" no-decimal>
                                                    <div ng-show="internaladjustForm.$submitted || internaladjustForm.yardcount_mt.$touched">
                                                        <p class="help-block" ng-show="(internaladjustForm.yardcount_mt.$error.number)">Invalid Input</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_agls') }">
                                                    <input type="number" class="form-control" placeholder="+/-" ng-model="modalResult.agls" ng-disabled="isReadOnly||disableForReadOnlyStaff" ng-change="change_yardcount_agls()" name="yardcount_agls" no-decimal>
                                                    <div ng-show="internaladjustForm.$submitted || internaladjustForm.yardcount_agls.$touched">
                                                        <p class="help-block" ng-show="(internaladjustForm.yardcount_agls.$error.number)">Invalid Input</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_ind') }">
                                                    <input type="number" class="form-control" placeholder="+/-" ng-model="modalResult.ind" ng-disabled="isReadOnly||disableForReadOnlyStaff" name="yardcount_ind" ng-change="change_yardcount_ind()" no-decimal>
                                                    <div ng-show="internaladjustForm.$submitted || internaladjustForm.yardcount_ind.$touched">
                                                        <p class="help-block" ng-show="(internaladjustForm.yardcount_ind.$error.number)">Invalid Input</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_sotr') }">
                                                    <input type="number" class="form-control" placeholder="+/-" ng-model="modalResult.sotr" ng-disabled="isReadOnly||disableForReadOnlyStaff" name="yardcount_sotr" ng-change="change_yardcount_sotr()" no-decimal>
                                                    <div ng-show="internaladjustForm.$submitted || internaladjustForm.yardcount_sotr.$touched">
                                                        <p class="help-block" ng-show="(internaladjustForm.yardcount_sotr.$error.number)">Invalid Input</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_motr') }">
                                                    <input type="number" class="form-control" placeholder="+/-" ng-model="modalResult.motr" ng-disabled="isReadOnly||disableForReadOnlyStaff" name="yardcount_motr" ng-change="change_yardcount_motr()" no-decimal>
                                                    <div ng-show="internaladjustForm.$submitted || internaladjustForm.yardcount_motr.$touched">
                                                        <p class="help-block" ng-show="(internaladjustForm.yardcount_motr.$error.number)">Invalid Input</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_lotr') }">
                                                    <input type="number" class="form-control" placeholder="+/-" ng-model="modalResult.lotr" ng-disabled="isReadOnly||disableForReadOnlyStaff" name="yardcount_lotr" ng-change="change_yardcount_lotr()" no-decimal>
                                                    <div ng-show="internaladjustForm.$submitted || internaladjustForm.yardcount_lotr.$touched">
                                                        <p class="help-block" ng-show="(internaladjustForm.yardcount_lotr.$error.number)">Invalid Input</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_gotr') }">
                                                    <input type="number" class="form-control" placeholder="+/-" ng-model="modalResult.gotr" ng-disabled="isReadOnly||disableForReadOnlyStaff" name="yardcount_gotr" ng-change="change_yardcount_gotr()" no-decimal>
                                                    <div ng-show="internaladjustForm.$submitted || internaladjustForm.yardcount_gotr.$touched">
                                                        <p class="help-block" ng-show="(internaladjustForm.yardcount_gotr.$error.number)">Invalid Input</p>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="8" style="color: #a94442" ng-show="internaladjustForm.$submitted && isTireTypeAllZeros()">At least one tire type should have value > or < 0</td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr class="tr-hover-on">
                                            <td colspan="8">After Adjustments applied</td>
                                        </tr>
                                        <tr>
                                            @*OTSTM-498 for edit, we need to send correct values to back end so assigning the correct values for the existing yard count adjustments*@
                                            @*{{modalResult.pltAfterAdj = modalResult.pltAfterAdj == null || !isReadOnly  ? tireCountBalanceWithoutAdj.PLT : modalResult.pltAfterAdj;""}}
                                                {{modalResult.mtAfterAdj = modalResult.mtAfterAdj == null || !isReadOnly ? tireCountBalanceWithoutAdj.MT : modalResult.mtAfterAdj;""}}
                                                {{modalResult.aglsAfterAdj = modalResult.aglsAfterAdj == null || !isReadOnly ? tireCountBalanceWithoutAdj.AGLS : modalResult.aglsAfterAdj;""}}
                                                {{modalResult.indAfterAdj = modalResult.indAfterAdj == null || !isReadOnly ? tireCountBalanceWithoutAdj.IND : modalResult.indAfterAdj;""}}
                                                {{modalResult.sotrAfterAdj = modalResult.sotrAfterAdj == null || !isReadOnly ? tireCountBalanceWithoutAdj.SOTR : modalResult.sotrAfterAdj;""}}
                                                {{modalResult.motrAfterAdj = modalResult.motrAfterAdj == null || !isReadOnly ? tireCountBalanceWithoutAdj.MOTR : modalResult.motrAfterAdj;""}}
                                                {{modalResult.lotrAfterAdj = modalResult.lotrAfterAdj == null || !isReadOnly ? tireCountBalanceWithoutAdj.LOTR : modalResult.lotrAfterAdj;""}}
                                                {{modalResult.gotrAfterAdj = modalResult.gotrAfterAdj == null || !isReadOnly ? tireCountBalanceWithoutAdj.GOTR : modalResult.gotrAfterAdj;""}}*@

                                            <td class="td-c">{{modalResult.pltAfterAdj}}</td>
                                            <td class="td-c">{{modalResult.mtAfterAdj}}</td>
                                            <td class="td-c">{{modalResult.aglsAfterAdj}}</td>
                                            <td class="td-c">{{modalResult.indAfterAdj}}</td>
                                            <td class="td-c">{{modalResult.sotrAfterAdj}}</td>
                                            <td class="td-c">{{modalResult.motrAfterAdj}}</td>
                                            <td class="td-c">{{modalResult.lotrAfterAdj}}</td>
                                            <td class="td-c">{{modalResult.gotrAfterAdj}}</td>


                                            @*<td class="td-c">{{ TextBoxStatus }} - {{modalResult.isAdd ? tireCountBalance.PLT : modalResult.pltAfterAdj}}</td>
                                                <td class="td-c">{{modalResult.isAdd ? tireCountBalance.MT : modalResult.mtAfterAdj}}</td>
                                                <td class="td-c">{{modalResult.isAdd ? tireCountBalance.AGLS : modalResult.aglsAfterAdj}}</td>
                                                <td class="td-c">{{modalResult.isAdd ? tireCountBalance.IND : modalResult.indAfterAdj}}</td>
                                                <td class="td-c">{{modalResult.isAdd ? tireCountBalance.SOTR : modalResult.sotrAfterAdj}}</td>
                                                <td class="td-c">{{modalResult.isAdd ? tireCountBalance.MOTR : modalResult.motrAfterAdj}}</td>
                                                <td class="td-c">{{modalResult.isAdd ? tireCountBalance.LOTR : modalResult.lotrAfterAdj}}</td>
                                                <td class="td-c">{{modalResult.isAdd ? tireCountBalance.GOTR : modalResult.gotrAfterAdj}}</td>*@
                                        </tr>
                                        <tr>
                                            <td colspan="8">&nbsp;</td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                            <div id="internaladj-internalNote" ng-if="!isReadOnly">
                                <div class="row">
                                    <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_internalNote') }">
                                        <h4 class="panel-title">Internal Note</h4>
                                        <textarea class="form-control" rows="3" name="note" ng-model="modalResult.internalNote" required></textarea>
                                        <div ng-show="internaladjustForm.$submitted || internaladjustForm.internalNote.$touched">
                                            <p class="help-block" ng-show="getErrorRule(selectedItem, '_internalNote')">Required</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="isReadOnly">
                                <manage-internal-notes load-url="{{loadUrl}}" add-url="{{addUrl}}" export-url="{{exportUrl}}" panel-arrow="hauler-internal-adjustment-notes"></manage-internal-notes>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-lg" ng-click="cancel()" ng-if="!isReadOnly">
                            <i class="fa fa-ban fa-1x"></i>
                            Cancel
                        </button>
                        <button type="button" class="btn btn-default btn-lg" ng-click="cancel()" ng-if="isReadOnly">
                            <i class="glyphicon fa fa-times-circle-o" aria-hidden="true"></i>
                            Close
                        </button>
                        <button type="submit" class="btn btn-success btn-lg" ng-if="!isReadOnly" ng-disabled="disableForReadOnlyStaff">
                            <i class="glyphicon fa fa-floppy-o" aria-hidden="true"></i>
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </script>
        <script type="text/ng-template" id="internalAdjustConfirmModal.html">
            <!-- /Modal  -->
            <!-- Modal: Internal Adjustments: Confirm  -->
            <div class="modal-content">
                <div class="modal-header modal-header-le">
                    <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="modalInternalAdjustmentsConfirm" align="center">Confirm</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c" style="padding:10px;">
                        <h4>Are you sure you would like to make the <strong>Internal Adjustment</strong>?</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg" ng-click="cancel()">
                        <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                        No
                    </button>
                    <button type="button" class="btn btn-success btn-lg" ng-click="confirm()">
                        <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                        Yes
                    </button>
                </div>
            </div>
            <!-- /Modal  -->
        </script>

        @if ((SecurityContextHelper.HaulerClaimsWorkflow != null) && (SecurityContextHelper.HaulerClaimsWorkflow.Workflow != TreadMarksConstants.NoneWorkflow))
        {
            <claim-workflow claim-status-model="HaulerClaimSummary.ClaimStatus" work-flow="Hauler" vendor-type="3" total-closing-on-road="HaulerClaimSummary.TotalClosingOnRoad" total-closing-off-road="HaulerClaimSummary.TotalClosingOffRoad" total-closing-total="HaulerClaimSummary.TotalClosingTotal"></claim-workflow>
            @Html.Partial("_ClaimWorkflowPartial")
        }
        <!--OTSTM2-424-->
        @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsHaulerClaimSummaryActivities) >= CL.TMS.Security.SecurityResultType.ReadOnly)
        {
            <div class="row">
                <div class="col-md-12" ng-controller="activityController" id="activityPanel">
                    <claim-activity-panel snp-url="@Url.Action("LoadAllActivities", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId })"></claim-activity-panel>
                    @Html.Partial("_ClaimActivityPartial")
                </div>
            </div>
        }
        @Html.Partial("_ClaimSummaryBreadCrumb")
        @Html.Partial("_ClaimExport")

        @Html.Partial("_HaulerCommonTemplates")

    </div>
</div><!--/.participants-all-claims-->
@section Scripts{

    <script type="text/javascript">
        //list of Resources text needed
        Global = {};

        Global.Transaction = {
            ClaimId: '@ViewBag.ClaimsId',
            AccessPermission: '@ViewBag.isEditable', //OTSTM2-1304
        };

        Global.ParticipantClaimsSummary = {
            ClaimsID: '@ViewBag.ClaimsId',
            ClaimsStatus: '@ViewBag.ClaimsStatus',
            ClaimDetailsUrl: '@Url.Action("ClaimDetails", "Claims", new { ClaimId = @ViewBag.ClaimsId })',
            ClaimPaymentUrl: '@Url.Action("ClaimPayment", "Claims", new { ClaimId = @ViewBag.ClaimsId })',
            ClaimSortYardCountSubmissionUrl: '@Url.Action("SortYardCountSubmission", "Claims")',
            SubmitClaimCheckUrl: '@Url.Action("SubmitClaimCheck", "Claims")',
            FinalSubmitClaimUrl: '@Url.Action("FinalSubmitClaim", "Claims")',
            LoadClaimPeriods: '@Url.Action("LoadClaimPeriodBreadCrumb", "Claims", new { area="System" })',
            BreadCrumbUrl: '@Url.Action("ClaimSummary", "Claims")',
            SubmitInventoryAdjustmentUrl: '@Url.Action("InventoryAdjustment", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            ClaimOnholdOffholdUrl: '@Url.Action("UpdateClaimOnhold", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            AuditOnholdOffholdUrl: '@Url.Action("UpdateAuditOnhold", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            ClaimWorkflowViewModelUrl: '@Url.Action("LoadClaimWorkflowViewModel", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            ClaimBackToParticipantUrl: '@Url.Action("ClaimBackToParticipant", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            LoadClaimWorkflowUsersUrl: '@Url.Action("LoadClaimWorkflowUsers", "Claims", new { area = "System" })',
            UpdateClaimWorkflowStatusUrl: '@Url.Action("UpdateClaimWorkflowStatus", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            ApproveClaimUrl: '@Url.Action("ApproveClaim", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            ConcurrentUsersValidationBeforeApprovingUrl: '@Url.Action("ConcurrentUsersValidationBeforeApproving", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })', //OTSTM2-1084 validate claim amount, threshold and assignee before approving
            ValidateWorkflowProcessUrl: '@Url.Action("ValidateWorkflowProcess", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            UpdateClaimMailDateUrl: '@Url.Action("UpdateClaimMailDate", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            TransactionValidationUrl: '@Url.Action("IsUnderCurrentClaim", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId })',
            UpdateHSTUrl: '@Url.Action("UpdateHST", "Claims", new { area = "System" })',
        };
        Global.ParticipantTransactionAdjustmentSummary = {
            Resources: {},
            TransAdjustmentHandleUrl: '@Url.Action("GetListHandlerTransactionAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId })',
            TransAdjustmentExportUrl: '@Html.Raw(@Url.Action("ExportToExcelTransactionAdjustment", "Claims", new { area = "System",ClaimId = @ViewBag.ClaimsId, searchText = "----", sortColumn = "AAA", sortDirection = "BBB" }))',
            TransAdjustRejectUrl: '@Url.Action("SubmitRejectAdjustment", "Transactions", new { area = "System"})',
            TransAdjustAcceptUrl: '@Url.Action("SubmitAdjustmentReview", "Transactions", new { area = "System" })',
            TransAdjustRecallUrl: '@Url.Action("SubmitAdjustmentRecall", "Transactions", new { area = "System" })',
            viewMoreId: '#transactionAdjustViewMore'
        };
        Global.ParticipantInternalAdjustmentSummary = {
            Resources: {},
            InternalAdjustmentHandleUrl: '@Url.Action("GetListHandlerInternalAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId })',
            InternalAdjustmentExportUrl: '@Html.Raw(@Url.Action("ExportToExcelInternalAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId, searchText = "----", sortColumn = "AAA", sortDirection = "BBB" }))',
            RemoveInternalAdjustmentUrl: '@Url.Action("RemoveInternalAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId })',
            GetInternalAdjustmentUrl: '@Url.Action("GetInternalAdjustment", "Claims", new { area = "System" })',
            EditInternalAdjustmentUrl: '@Url.Action("EditInternalAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId })'
        };

        Global.InternalNoteSettings = {
            ID: '@ViewBag.ClaimsId',
            Resources: {},
            UserId: '@ViewBag.UserId',
            UserName: '@ViewBag.UserName',
            LoadInternalNotesUrl: '@Url.Action("GetClaimInternalNotes", "Claims", new { area = "System", id = @ViewBag.ClaimsId })',
            //OTSTM2-270
            AddInternalNotesUrl: '@Url.Action("AddNotesHandler", "Claims", new { area = "System", id = @ViewBag.ClaimsId })',
            viewMoreId: '#viewmore',
            removeIconId: '.remove-icon',
            searchId: '#search',
            exportId: '#export',
            foundId: '#found',
            notesLength: '130', //OTSTM2-524 72-->130,
            //OTSTM2-270
            LoadInternalAdjustmentNotesUrl: '@Url.Action("GetInternalNotesInternalAdjustment", "Claims", new { area = "System" })',
            AddInternalAdjustmentNotesUrl: '@Url.Action("AddNotesHandlerInternalAdjustment", "Claims", new { area = "System" })',
            ExportToExcelInternalNotes: '@Url.Action("ExportToExcelInternalNotes", "Claims", new { area = "System", id = @ViewBag.ClaimsId })',
            ExportToExcelInternalAdjustmentNotes: '@Url.Action("ExportToExcelInternalAdjustmentNotes", "Claims", new { area = "System" })',
        };

        Global.Settings = {
            CheckFormNumberDuplicationServiceURL: '@Url.Action("CheckFormNumberDuplication", "Transactions", new { area = "System" })',
            GetVendorInfoServiceURL: '@Url.Action("GetVendorInfo", "Transactions", new { area = "System" })',
            GetTransactionSearchListServiceURL: '@Url.Action("GetTransactionSearchList", "Transactions", new { area = "System" })',
            GetTransactionDetailDataServiceURL: '@Url.Action("GetTransactionDetailData", "Transactions", new { area = "System" })',
            GetUpdateTransactionProcessingStatusServiceURL: '@Url.Action("UpdateTransactionProcessingStatus", "Transactions", new { area = "System" })',
            GetGetTransactionHandlerClaimDataServiceURL: '@Url.Action("GetTransactionHandlerClaimData", "Transactions", new { area = "System" })',

            UploadTransactionFileServiceURL: '@Url.Action("UploadTransactionFile", "FileUpload", new { area = "System" })',
            DeleteTemporaryTransactionFileServiceURL: '@Url.Action("DeleteTemporaryTransactionFile", "FileUpload", new { area = "System" })',
            CleanUpTemporaryTransactionFilesServiceURL: '@Url.Action("CleanUpTemporaryTransactionFiles", "FileUpload", new { area = "System" })',

            FileUploadPreviewDomainName: '@CL.TMS.UI.Common.Helper.SiteSettings.Instance.GetSettingValue("Settings.FileUploadPreviewDomainName")',
            MobilePhotoPreviewDomainName: '@CL.TMS.UI.Common.Helper.SiteSettings.Instance.GetSettingValue("Settings.MobilePhotoPreviewDomainName")',
            BtnReadOnly: '@ViewBag.AllowEdit' == 'False',  //OTSTM2-155
        };
        Global.Settings.Permission = {
            InternalNotePermission: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsHaulerClaimSummaryInternalNotes)',
            DisableInternalAdjustmentsBtn: JSON.parse('@(ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsHaulerClaimSummaryInternalAdjustments) != CL.TMS.Security.SecurityResultType.EditSave)'.toLocaleLowerCase()),
            EnableWorkflowButton: JSON.parse('@(ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsHaulerClaimSummary) >= CL.TMS.Security.SecurityResultType.EditSave)'.toLocaleLowerCase()),
        };
    </script>
    @Scripts.Render("~/bundles/jquerydatatable")
    <script type="text/javascript" src="~/js/Claims/common-claim-lib.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/Shared/common-claim-activities-lib.js?v=@ViewBag.versionid"></script>
    <script src="~/js/Transaction/common-transaction-lib.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/loading-spin.js?v=@ViewBag.versionid"></script>
    @Scripts.Render("~/bundles/haulerclaimcommon")
    @*<script type="text/javascript" src="~/Areas/Hauler/Scripts/Claims/hauler-claim-summary-directives.js?v=@ViewBag.versionid"></script>*@
    @Scripts.Render("~/bundles/haulerclaimstaff")
    @Scripts.Render("~/bundles/claimtransactionadjustment")
    @Scripts.Render("~/bundles/transaction-list-common")
    <!--OTSTM2-424-->
    @Scripts.Render("~/bundles/angular-datatables-scroller")
    @Scripts.Render("~/bundles/angulardatatable")
}
