﻿@using CL.TMS.Security.Authorization
<div class="panel panel-default" style="@((SecurityContextHelper.IsStaff()) ? "margin-top: 0" : "margin-top: 70px")">
    <div class="panel-heading" role="tab" id="panelInbound-headingOne">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#panelInbound-collapseOne" aria-expanded="true" aria-controls="panelInbound-collapseOne" class="panel-arrow-expand">
                Inbound
                <common-server-export model="RPMClaimSummary"
                                      file-name="@(SecurityContextHelper.IsStaff() ? "StaffInboundClaimsSummary" : "ParticipantInboundClaimsSummary")" ng-if="claimDetailsLoaded"
                                      url='@Url.Action("ExportToExcelCommon", "Claims", new { area = "System" })'
                                      type="RPM" sub-type="Inbound" attr-anchor="90px">
                </common-server-export>
            </a>
        </h4>
    </div>
    <div id="panelInbound-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelInbound-headingOne">
        <div class="panel-body">
            <table class="table table-hover" id="tblInbound" name="HaulerClaims-Inbound">
                <thead>
                    <tr>
                        <th></th>
                        <th style="text-align:right">Actual (t)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr-hover-on">
                        <td>@UIResource.OpeningInventory</td>
                        <td align="right">{{RPMClaimSummary.TotalOpening | number:4}}</td>
                    </tr>
                    <tr>
                        <td><a href="@Url.Action("Index", "Transaction", new { area = "RPM", id = @ViewBag.ClaimsId, type = CL.TMS.Common.TreadMarksConstants.SPS, direction = 2 })" data-toggle="tooltip" data-placement="right" title="Summary of Inventory Received">SIR</a></td>
                        <td align="right">{{RPMClaimSummary.SIR | number:4}}</td>
                    </tr>
                    <tr>
                        <td>ADJ</td>
                        <td align="right">{{RPMClaimSummary.AdjustIn | number:4}}</td>
                    </tr>
                    <tr>
                        <th>@UIResource.TotalInbound</th>
                        <th style="text-align:right">{{RPMClaimSummary.TotalInbound | number:4}}</th>
                    </tr>                    
                </tbody>
            </table>
        </div>
    </div>
</div>