﻿
<table id="tblHaulerTransactionAdjusList" class="table table-hover display truncate datatable-100-perc">
    <thead>
        <tr>
            <th>Type<a class="sort" href="javascript:void(0);"><i class="fa fa-sort"></i>&nbsp;</a></th>
            <th>Trans.&nbsp;#<a class="sort" href="javascript:void(0);"><i class="fa fa-sort"></i>&nbsp;</a></th>
            <th>Date<a class="sort" href="javascript:void(0);"><i class="fa fa-sort"></i>&nbsp;</a></th>
            <th>Started&nbsp;By<a class="sort" href="javascript:void(0);"><i class="fa fa-sort"></i>&nbsp;</a></th>
            <th>Adj.&nbsp;Date<a class="sort" href="javascript:void(0);"><i class="fa fa-sort"></i>&nbsp;</a></th>
            <th>Status<a class="sort" href="javascript:void(0);"><i class="fa fa-sort"></i>&nbsp;</a></th>
            <th>Actions<a class="sort" href="javascript:void(0);"><i class="fa fa-sort"></i>&nbsp;</a></th>
            <th>TransactionAdjustmentId<a class="sort" href="javascript:void(0);"><i class="fa fa-sort"></i>&nbsp;</a></th>
        </tr>
    </thead>
    <tbody>        
    </tbody>
</table>
<br />
<a id="viewmore" href="javascript:void(0)" class="viewmore" style="display:inline-block">More</a>
<div id="loading"></div>

