﻿<table id="tblRPMInternalAdjusList" class="table table-hover display truncate datatable-100-perc narrow-width" data-page-readonly="{{RPMClaimSummary.ClaimCommonModel.ClaimSummarySecurity.PageReadonlyForStaff}}">
    <thead>
        <tr>
            <th width="20%">Date</th>
            <th width="21%">Type</th>
            <th width="23%">Notes</th>@*OTSTM2-671*@
            <th width="25%">Added&nbsp;By</th>
            <th width="50%">Actions</th>
            <th class="display-none">InternalAdjustmentId</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<br />
<a id="tblRPMInternalAdjusList_viewmore" href="javascript:void(0)" class="viewmore" style="display:inline-block">More</a>
@*<div class="row">
    <div class="col-md-6">
        <a id="tblRPMInternalAdjusList_viewmore" href="javascript:void(0)" class="viewmore" style="display:inline-block">More</a>
    </div>
    <div class="col-md-6 txt-r">
        <button type="button" class="btn btn-success btn-add margin-top--20" ng-click="rpmInternalAdjustments()" ng-disabled="DisableInternalAdjustmentsBtn">+</button>
    </div>
</div>*@
