﻿@using CL.TMS.Security.Authorization
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="panelPaymentsAndClawback-headingOne">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-tireoriginreport="#accordion" href="#panelPaymentsAndClawback-collapseOne" aria-expanded="true" aria-controls="panelPaymentsAndClawback-collapseOne">
                Payments &amp; Adjustments
                <common-payment-adjust-export model="RPMClaimSummary.RPMPayment"
                                              file-name="@(SecurityContextHelper.IsStaff() ? "StaffPaymentAdjustmentClaimsSummary" : "ParticipantPaymentAdjustmentClaimsSummary")" ng-if="claimDetailsLoaded"
                                              url='@Url.Action("ExportToExcelPaymentAdjustment", "Claims", new { area = "System" })' claim-type="RPM" attr-anchor="230px">
                </common-payment-adjust-export>
            </a>
        </h4>
    </div>
    <div id="panelPaymentsAndClawback-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelPaymentsAndClawback-headingOne">
        <div class="panel-body">
            <table class="table table-hover" id="tblPaymentAdj" name="RPMClaims-PaymentAdjustment">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th style="text-align:right">Payment ($)</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-toggle="modal" data-target="#modalNorthernPremium" style="cursor:pointer;">SPS</td>
                        <td align="right">{{RPMClaimSummary.RPMPayment.SPS | number:2}}</td>
                        <td>+</td>
                    </tr>
                    <tr>
                        <td>Payment Adjustments</td>
                        <td align="right" ng-class="{'color-tm-red': RPMClaimSummary.RPMPayment.PaymentAdjustment<0}">{{RPMClaimSummary.RPMPayment.PaymentAdjustment | number:2}}</td>
                        <td>=</td>
                    </tr>
                    <tr>
                        <td>Subtotal</td>
                        <td align="right"  ng-class="{'color-tm-red': (RPMClaimSummary.RPMPayment.SPS+RPMClaimSummary.RPMPayment.PaymentAdjustment)<0}">{{RPMClaimSummary.RPMPayment.SPS+RPMClaimSummary.RPMPayment.PaymentAdjustment | number:2}}</td>
                        <td>+</td>
                    </tr>
                    <tr>
                        <td>
                            HST 13.00%
                            @if (SecurityContextHelper.IsStaff())
                            {
                                <div class="btn-group btn-toggle" style="margin-left:10px;">
                                    <button class="btn btn-xs"
                                            ng-disabled="taxDisabled"
                                            ng-class="RPMClaimSummary.RPMPayment.IsTaxApplicable ? 'active btn-success' : 'btn-default'"
                                            ng-click="taxApplicable()">
                                        On
                                    </button>
                                    <button class="btn btn-xs"
                                            ng-disabled="taxDisabled" 
                                            ng-class="!RPMClaimSummary.RPMPayment.IsTaxApplicable ? 'active btn-danger' : 'btn-default'"
                                            ng-click="taxApplicable()">
                                        Off
                                    </button>
                                </div>
                            }
                        </td>
                        <td align="right"
                             ng-class="{'color-tm-red' :RPMClaimSummary.RPMPayment.HST<0}"
                             ng-if="RPMClaimSummary.RPMPayment.IsTaxApplicable">
                            {{RPMClaimSummary.RPMPayment.HST|number:2}}
                        </td>
                        <td align="right" ng-if="!RPMClaimSummary.RPMPayment.IsTaxApplicable">
                            0.00
                        </td>
                        <td>+</td>
                    </tr>
                    <tr>
                        <td><strong>Grand Total</strong></td>
                        <td align="right" ng-class="{'color-tm-red': RPMClaimSummary.RPMPayment.GroundTotal<0}"><strong>{{RPMClaimSummary.RPMPayment.GroundTotal | number:2}}</strong></td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-hover" style="margin-bottom:5px;" id="tblPaymentAdjExtra">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Payment Due</td>
                        <td class="txt-r">{{RPMClaimSummary.RPMPayment.PaymentDueDate | date:'yyyy-MM-dd'}}</td>
                    </tr>
                    <tr>
                        <td>Cheque/EFT #</td>
                        <td class="txt-r">{{RPMClaimSummary.RPMPayment.ChequeNumber}}</td>
                    </tr>
                    <tr>
                        <td>Paid</td>
                        <td class="txt-r">{{RPMClaimSummary.RPMPayment.PaidDate | date:'yyyy-MM-dd'}}</td>
                    </tr>
                    <tr>
                        <td>Amount Paid ($)</td>
                        <td class="txt-r">{{RPMClaimSummary.RPMPayment.AmountPaid | number:2}}</td>
                    </tr>
                    <tr>
                        <td>Mailed</td>
                        @if (SecurityContextHelper.IsStaff())
                        {
                            <td ng-show="ShowMailDate">
                                <div class="pull-right">
                                    <p class="input-group" ng-show="true" style="width:280px">
                                        <input type="text" name="formDate" class="form-control" ng-readonly='true' uib-datepicker-popup="yyyy-MM-dd" show-weeks="false" ng-model="RPMClaimSummary.RPMPayment.MailedDate" is-open="datePicker.status" ng-required="true" close-text="@UIResource.Close" />
                                        <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button></span>
                                    </p>
                                </div>
                            </td>
                            <td class="txt-r" ng-hide="ShowMailDate">{{RPMClaimSummary.RPMPayment.MailedDate | date:'yyyy-MM-dd'}}</td>
                        }
                        else
                        {
                            <td class="txt-r">{{RPMClaimSummary.RPMPayment.MailedDate | date:'yyyy-MM-dd'}}</td>
                        }
                    </tr>
                    @if (SecurityContextHelper.IsStaff())
                    {
                        <tr>
                            <td>Batch #</td>
                            <td class="txt-r">{{RPMClaimSummary.RPMPayment.BatchNumber}}</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
