﻿@using CL.TMS.Security.Authorization
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="panelInventory-headingOne">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#panelInventory-collapseInventory" aria-expanded="true" aria-controls="panelInventory-collapseInventory" class="panel-arrow-expand">
                Inventory &amp; Adjustments
                <common-server-export model="RPMClaimSummary"
                                      file-name="@(SecurityContextHelper.IsStaff() ? "StaffInventoryAdjClaimsSummary" : "ParticipantInventoryAdjClaimsSummary")" ng-if="claimDetailsLoaded"
                                      url='@Url.Action("ExportToExcelCommon", "Claims", new { area = "System" })'
                                      type="RPM" sub-type="InventoryAdj" attr-anchor="240px">
                </common-server-export>
            </a>
        </h4>
    </div>
    <div id="panelInventory-collapseInventory" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelInventory-headingOne">
        <div class="panel-body">
            <div class="row" style="margin-bottom:-20px;">
                <div class="col-md-12">
                    <table class="table" id="tblInventoryAdj" name="HaulerClaims-InventoryAdjustment">
                        <thead>
                            <tr>
                                <th style="text-align:right;"></th>
                                <th style="text-align:right"><strong>Actual (t)</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@UIResource.OverallAdjustments</td>
                                <td><p style="text-align:right;">{{RPMClaimSummary.OverallAdjustments | number:4}}</p></td>
                            </tr>
                            <tr>
                                <td>@UIResource.ClosingInventory</td>
                                <td><p style="text-align:right;">{{RPMClaimSummary.ClosingInventory | number:4}}</p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--/.row-->    
            <div class="row" style="margin-top:10px;">
                <div class="col-md-6" align="left">                    
                </div>
                <div class="col-md-6" align="right">
                    <strong>@UIResource.ManufacturingCapacity</strong> {{RPMClaimSummary.TotalCapacity | number:4}}
                </div>
            </div><!--/.row-->
        </div>
    </div>
</div>
