@using CL.TMS.Common.Enum

@{
    var temp = ViewBag.versionid;
    bool isVendor = (bool)ViewData["isVendor"];
    bool isCustomer = (bool)ViewData["isCustomer"];
    string vendorID, appID, ID, exportUrl, ajaxHandler, addNotesHandler, customerID;
    vendorID = appID = ID = exportUrl = ajaxHandler = addNotesHandler = customerID = string.Empty;

    if (isVendor)
    {
        vendorID = ViewData["VendorID"].ToString();
        ID = vendorID;
        exportUrl = Url.Action("ExportToExcelForVendor", "Common", new { area = "System", searchText = "----", sortColumn = "AAA", sortDirection = "BBB", vendorId = vendorID });
        ajaxHandler = Url.Action("GetListHandlerForVendor", "Common", new { area = "System", vendorId = vendorID });
        addNotesHandler = Url.Action("AddNotesHandlerForVendor", "Common", new { area = "System" });
    }

    else if (isCustomer)
    {
        customerID = ViewData["customerID"].ToString();
        ID = customerID;
        exportUrl = Url.Action("ExportToExcelForCustomer", "Common", new { area = "System", searchText = "----", sortColumn = "AAA", sortDirection = "BBB", customerId = customerID });
        ajaxHandler = Url.Action("GetListHandlerForCustomer", "Common", new { area = "System", customerId = customerID });
        addNotesHandler = Url.Action("AddNotesHandlerForCustomer", "Common", new { area = "System" });
    }
    else
    {
        appID = ViewData["ApplicationID"].ToString();
        ID = appID;
        exportUrl = Url.Action("ExportToExcel", "Common", new { area = "System", searchText = "----", sortColumn = "AAA", sortDirection = "BBB", applicationID = appID });
        ajaxHandler = Url.Action("GetListHandler", "Common", new { area = "System", applicationID = appID });
        addNotesHandler = Url.Action("AddNotesHandler", "Common", new { area = "System" });
    }

    //check security level
    var InternalNoteResource = CL.TMS.Configuration.ApplicationHelper.CheckUserSecurityForInternalNotes((ApplicationTypes)ViewData["Type"]);
    var IsInternalNoteReadonly = InternalNoteResource == CL.TMS.Security.SecurityResultType.ReadOnly;
}

<div class="panel-heading" role="tab" id="panelInternalNotesHeading-headingOne">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#panelInternalNotes" aria-expanded="true" aria-controls="panelInternalNotes" class="panel-arrow-collapse collapsed">
            Internal Notes
        </a>
        <a id="exportInternalNote" class="export" title="Export to CSV" href='@Url.Action("ExportToExcel", new {})'><i class="fa fa-file-text-o fa-fw uiaction-export"></i></a>
    </h4>
    <div class="col-xs-6 subcomp-search">
        <input id="search" type="text" class="form-control" placeholder="Search">
        <div id="found" class="subcomp-search-found">&nbsp;</div>
        <i class="glyphicon glyphicon-remove remove-icon"></i>
        <i class="glyphicon glyphicon-search"></i>
    </div>
</div>
<div id="panelInternalNotes" class="panel-collapse collapse" role="tabpanel" aria-labelledby="panelInternalNotesHeading-headingOne">
    <div class="panel-body">
        <div class="form-group">
            <textarea class="form-control textNote" rows="3"></textarea>
        </div>
        <button id="addNotes" type="button" class="btn btn-success btn-add" data-toggle="modal" data-target="#" title="Add Internal Note">+</button>
        <br>
        <br>
        <div class="table-responsive">
            @Html.Partial("_InternalNotesList")
        </div>
    </div>
</div>

<script src="~/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="~/js/dataTables.scroller.js"></script>

<script type="text/javascript">
    //list of Resources text needed
    Global = {};
    Global.InternalNotes = {
        Resources: {}
    };
</script>

<script type="text/javascript" src="~/js/Shared/internal-notes.js?v=@ViewData["versionid"]"></script>

<script type="text/javascript">
    $(function () {

        var columnNames = [
            { columnName: 'CreatedDateString' }, { columnName: 'Note' }, { columnName: 'AddedBy' }
        ];

        $('#tblInternalNoteList').createDataTable({
            @*applicationId: '@ID',*@
            isVendor: '@isVendor',
            isCustomer: '@isCustomer',
            vendorID: '@vendorID',
            customerID: '@customerID',
            appID: '@appID',
            viewMoreId: '#viewmore',
            totalRecordsId: '#totalRecords',
            searchId: '#search',
            exportId: '#exportInternalNote',
            foundId: '#found',
            removeIconId: '.remove-icon',
            addNotes: '#addNotes',
            textNote: '.textNote',
            columnNames: columnNames,
            exportUrl: '@exportUrl',
            ajaxHandler: '@ajaxHandler',
            addNotesHandler: '@addNotesHandler',
            notesLength: '130'
        });
        $(".textNote").prop("disabled", "@(IsInternalNoteReadonly)" == "True");
        $("#addNotes").prop("disabled", "@(IsInternalNoteReadonly)" == "True");
    })
</script>
