﻿@model CL.TMS.DataContracts.ViewModel.Hauler.HaulerRegistrationModel

<div class="panel-heading" role="tab" id="panelMessagesHeading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-messages" href="#panelMessages" aria-expanded="true" aria-controls="panelMessages" class="panel-arrow-collapse collapsed">
            Messages
        </a>
    </h4>
    <div class="col-xs-6 subcomp-search">
        <input type="text" class="form-control" placeholder="Search" style="visibility: hidden;">
        <div class="subcomp-search-found">Found 3</div><i class="glyphicon glyphicon-remove remove-icon"></i>
        <i class="glyphicon glyphicon-search"></i>
    </div>
</div>
<div id="panelMessages" class="panel-collapse collapse" role="tabpanel" aria-labelledby="panelMessagesHeading" style="height: 0px;">
    <div class="panel-body">
        <div class="main-box clearfix">
            <div class="main-box-body clearfix">
                <div class="conversation-wrapper">
                    <hr class="margin-top--20">
                    <a href="#" class="viewmore txt-c" style="width:100%;"><span style="margin:auto;">Earlier Messages</span></a>
                    <br>
                    <div class="conversation-content">
                        <div class="conversation-inner" style="overflow:hidden;">
                            <div class="conversation-item item-right clearfix" style="margin-top:-168px;">
                                &gt;
                                <div class="conversation-user">
                                    <img src="~/Images/shared/tm-staff-icon-tm.png" alt="" width="50px;">
                                </div>
                                <div class="conversation-body">
                                    <div class="name">
                                        TreadMarks
                                    </div>
                                    <div class="time hidden-xs">
                                        Apr. 17
                                    </div>
                                    <div class="text">
                                        Dear Applicant , there is a typo error in the CVOR number field, please make the correction as per your CVOR certificate that you have attached.
                                    </div>
                                </div>
                            </div>
                            <div class="conversation-item item-left clearfix">
                                <div class="conversation-user">
                                    <img src="~/Images/shared/tm-participant-icon-hauler.png" alt="" width="50px;">
                                </div>
                                <div class="conversation-body">
                                    <div class="name">
                                        Applicant
                                    </div>
                                    <div class="time hidden-xs">
                                        April 22
                                    </div>
                                    <div class="text">
                                        I have made changes, and I want to correct my WSIB statement also what should I do? I have one employee now.
                                    </div>
                                </div>
                            </div>
                            <div class="conversation-item item-right clearfix">
                                <div class="conversation-user">
                                    <img src="~/Images/shared/tm-staff-icon-tm.png" alt="" width="50px;">
                                </div>
                                <div class="conversation-body">
                                    <div class="name">
                                        TreadMarks
                                    </div>
                                    <div class="time hidden-xs">
                                        April 24
                                    </div>
                                    <div class="text">
                                        Now WSIB fields are available for your correction. And please note that you need to upload your WSIB certificate also before you submit.
                                    </div>
                                </div>
                            </div>
                            <div class="conversation-item item-left clearfix">
                                <div class="conversation-user">
                                    <img src="~/Images/shared/tm-participant-icon-hauler.png" alt="" width="50px;">
                                </div>
                                <div class="conversation-body">
                                    <div class="name">
                                        Applicant
                                    </div>
                                    <div class="time hidden-xs">
                                        May 1
                                    </div>
                                    <div class="text">
                                        Corrected WSIB fields and WSIB certificate is not available immediately. I will send it via Mail.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="conversation-new-message">
                        <form>
                            <div class="form-group">
                                <textarea class="form-control" rows="2" placeholder="Enter your message..."></textarea>
                            </div>
                            <div class="clearfix">
                                <button type="submit" class="btn btn-success pull-right">Send message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
