﻿@model CL.TMS.DataContracts.ViewModel.Processor.ProcessorRegistrationModel
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface

@{
    List<string> invalidFormFieldList = (List<string>)ViewData["invalidFormFieldList"];    
    var prefix = @Html.GetExpressionText(p => p.ProcessorDetails);
    string view = Convert.ToString(ViewData["view"]);
}

<div class="panel-heading" role="tab" id="panelProcessorDetailsHeading">
    <h4 class="panel-title">
        <a class="panel-arrow-collapse collapsed" data-toggle="collapse" data-parent="#accordion" href="#panelProcessorDetails" aria-expanded="false" aria-controls="panelProcessorDetails">
            <img id="flagProcessorDetails" src="~/Images/comp-register-all-status-flag-grey.png" class="greenCheckmark"> @UIResource.ProcessorDetails
        </a>
    </h4>
</div>
<div id="panelProcessorDetails" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
    <div class="panel-body">
    @if (string.Compare(view,"Staff", 0) == 0 )
    {
        @Html.EditorFor(model => model.ProcessorDetails, "StaffProcessorDetails", new { prefix = prefix, invalidFormFieldList = invalidFormFieldList  })
    }
    else
    {
        @Html.EditorFor(model => model.ProcessorDetails, "ParticipantProcessorDetails", new { prefix = prefix, invalidFormFieldList = invalidFormFieldList })
    }
    </div>
</div>
