﻿@model CL.TMS.DataContracts.ViewModel.Processor.ProcessorRegistrationModel
@using CL.TMS.Common.Enum
@using CL.TMS.Common
@using CL.TMS.Security
@using CL.TMS.Security.Authorization
@using CL.TMS.UI.Common.UserInterface

@{
    List<string> invalidFormFieldList = (List<string>)ViewData["invalidFormFieldList"];
    string view = Convert.ToString(@ViewData["view"]);

    var userResource = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsProcessorApplicationProcessingLocations);
    var isResourceReadOnly = userResource == SecurityResultType.ReadOnly;

    //var IsDisabled = ((!Model.IsInternal && (Model.Status == ApplicationStatusEnum.BackToApplicant)) || isResourceReadOnly);

    var status = (ApplicationStatusEnum)(Model.Status);
    bool disableButton = (((string.Compare(view, "Participant", 0) == 0) || SecurityContextHelper.IsParticipant()) &&
        (status == ApplicationStatusEnum.BackToApplicant || status == ApplicationStatusEnum.Completed || status == ApplicationStatusEnum.BankInformationSubmitted || status == ApplicationStatusEnum.BankInformationApproved));

    bool processingLocationPlusDisable = (SecurityContextHelper.IsStaff() && status == ApplicationStatusEnum.Open);
}

<div class="panel-heading" role="tab" id="panelSortYardDetailsHeading">
    <h4 class="panel-title">
        <a class="panel-arrow-collapse collapsed" data-toggle="collapse" data-parent="#accordion" href="#panelSortYardDetails" aria-expanded="false" aria-controls="panelSortYardDetails">
            <img id="flagSortYard" src="~/Images/comp-register-all-status-flag-grey.png" class="greenCheckmark"> @UIResource.CommnProcessorSortYardDetails
        </a>
    </h4>
</div>
<div id="panelSortYardDetails" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
    <div class="panel-body">

        <form id="fmSortYardDetails" method="get" action="">
            <input id="sorYardCount" name="invalidList" type="hidden" value='@Model.SortYardDetails.Count' />
            <div class="row">
                <div class="col-md-12">
                    <p>@UIResource.ParticipantProcessorSortYardAreaTiresClassified</p>
                </div>
            </div><!--/.row-->

            <div class="row margin-bottom--10">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            @UIResource.ParticipantProcessorSortYardMaxCapcity
                            <i class="fa fa-question-circle sortYardDetailsASYC" data-placement="auto" title=""></i>
                        </label>
                        <div id="sortYardDetailsASYC" style="display:none;">
                            <p>@UIResource.ParticipantProcessorSortYardMetricTonnes</p>
                        </div>
                        <p class="form-control-static" id="SortYardMaxCapacity"></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="numberYards">@UIResource.ParticipantProcessorTotalSortYard</label>
                        <p class="form-control-static" id="SortYardCount"></p>
                    </div>
                </div>
            </div>
            @if (string.Compare(view, "Staff", 0) == 0)
            {
                @Html.EditorFor(model => model.SortYardDetails, "StaffProcessorSortYardDetails", new { invalidFormFieldList = invalidFormFieldList })
            }
            else
            {
                @Html.EditorFor(model => model.SortYardDetails, "ParticipantProcessorSortYardDetails", new { invalidFormFieldList = invalidFormFieldList })
            }
        </form>
        <!-- /.row -->
        @*<hr>*@
        <div class="row">
            <div class="col-md-12">
                <form action="">
                    @*@HelperMethods.Button(new { id = "btnAddSort", @class = "btn btn-md btn-success" }, (disableButton || isResourceReadOnly || processingLocationPlusDisable), @UIResource.ParticipantProcessorSortYardPlus)*@
                    @{
                        if (SecurityContextHelper.IsStaff())
                        {
                            @HelperMethods.Button(new { id = "btnAddSort", @class = "btn btn-md btn-success" }, (isResourceReadOnly || processingLocationPlusDisable), @UIResource.ParticipantProcessorSortYardPlus)
                        }
                        else
                        {
                            @HelperMethods.Button(new { id = "btnAddSort", @class = "btn btn-md btn-success" }, (disableButton), @UIResource.ParticipantProcessorSortYardPlus)
                        }
                    }
 
                </form>
            </div>
        </div><!-- /.row -->
    </div>
</div>
