﻿@model CL.TMS.DataContracts.ViewModel.RPM.RPMRegistrationModel
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface

@{
    List<string> invalidFormFieldList = (List<string>)ViewData["invalidFormFieldList"];    
    var prefix = @Html.GetExpressionText(p => p.RPMDetails);
    string view = Convert.ToString(ViewData["view"]);
}

<div class="panel-heading" role="tab" id="panelRPMDetailsHeading">
    <h4 class="panel-title">
        <a class="panel-arrow-collapse collapsed" data-toggle="collapse" data-parent="#accordion" href="#panelRPMDetails" aria-expanded="false" aria-controls="panelRPMDetails">
            <img id="flagRPMDetails" src="~/Images/comp-register-all-status-flag-grey.png" class="greenCheckmark"> @UIResource.CommonRPMDetails
        </a>
    </h4>
</div>
<div id="panelRPMDetails" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
    <div class="panel-body">
    @if (string.Compare(view,"Staff", 0) == 0 )
    {
        @Html.EditorFor(model => model.RPMDetails, "StaffRPMDetails", new { prefix = prefix, invalidFormFieldList = invalidFormFieldList  })
    }
    else
    {
        @Html.EditorFor(model => model.RPMDetails, "ParticipantRPMDetails", new { prefix = prefix, invalidFormFieldList = invalidFormFieldList })
    }
    </div>
</div>
