﻿@model CL.TMS.DataContracts.ViewModel.Steward.StewardRegistrationModel
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface

@{
    List<string> invalidFormFieldList = (List<string>)ViewData["invalidFormFieldList"];
    var prefix = @Html.GetExpressionText(p => p.StewardDetails);
    string view = Convert.ToString(@ViewData["view"]);
}

<div class="panel-heading" role="tab" id="panelStewardDetailsHeading">
    <h4 class="panel-title">
        <a class="panel-arrow-collapse collapsed" data-toggle="collapse" data-parent="#accordion" href="#panelStewardDetails" aria-expanded="false" aria-controls="panelStewardDetails">
            <img id="flagStewardDetails" src="~/Images/comp-register-all-status-flag-grey.png" class="greenCheckmark"> @UIResource.StewardDetails
        </a>
    </h4>
</div>
<div id="panelStewardDetails" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">

    <div class="panel-body">
        @if (string.Compare(view, "Staff", 0) == 0)
        {
            @Html.EditorFor(model => model.StewardDetails, "StaffStewardDetails", new { prefix = prefix, invalidFormFieldList = invalidFormFieldList })
        }
        else
        {           
            @Html.EditorFor(model => model.StewardDetails, "ParticipantStewardDetails", new { prefix = prefix, invalidFormFieldList = invalidFormFieldList })
        }
    </div>

</div>