﻿@model CL.TMS.DataContracts.ViewModel.Common.SupportingDocumentsRegistrationModel
@using CL.TMS.Common
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface
@using CL.TMS.DataContracts.ViewModel.Common.FileUpload
@using CL.TMS.Security
@using CL.TMS.Security.Authorization

@{
    var partialViewData = (CL.TMS.DataContracts.ViewModel.Common.ApplicationPartialViewData.SupportingDocumentPartialView)ViewData["SupportingDocument"];

    bool isStaff = false;
    var user = TMSContext.TMSPrincipal;

    if (user.Identity.IsAuthenticated)
    {
        if (SecurityContextHelper.IsStaff())
        {
            isStaff = true;
        }
    }
    //var isInvalid = (List<string>)ViewData["invalidFormFieldList"];
    var isInvalid = partialViewData.InvalidFormFieldList;

    bool isReadOnly = false;

    bool isBankInfoSubmitted = (Model.Status == (ApplicationStatusEnum.BankInformationSubmitted) || (Model.Status == ApplicationStatusEnum.BankInformationApproved)) ? true : false;

    //var prefix = ViewData["prefix"];
    var prefix = partialViewData.prefix;
    string data_att_chkbox = string.Format("{0}.{1}", prefix, "RequiredDocuments");

    bool allowDisable = false;
    bool allowDownload = false;
    bool allowDelete = false;
    bool isSupportingDocReadOnly = false;
    bool isSupportingDocEditSave = false;

    if (SecurityContextHelper.IsStaff())
    {
        var SupportingDocResource = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsHaulerApplicationSupportingDocuments);
        isSupportingDocReadOnly = SupportingDocResource == CL.TMS.Security.SecurityResultType.ReadOnly;
        isSupportingDocEditSave = SupportingDocResource == CL.TMS.Security.SecurityResultType.EditSave;
    }

    if (Model != null)
    {
        switch (Model.Status)
        {
            case ApplicationStatusEnum.Open:
                if (isStaff)
                {
                    isReadOnly = true;
                    allowDisable = true;
                    allowDownload = false;
                    allowDelete = false;
                }
                else
                {
                    allowDisable = (isReadOnly);
                    allowDownload = true;
                    allowDelete = true;
                }
                break;

            case ApplicationStatusEnum.BackToApplicant:
                if (isStaff)
                {
                    isReadOnly = true;
                    allowDisable = (isReadOnly || isSupportingDocReadOnly);
                    allowDownload = (partialViewData.allowFileDownload.Value || isSupportingDocEditSave);
                    allowDelete = (partialViewData.allowFileDelete.Value || isSupportingDocEditSave);
                    break;
                }
                if (!isInvalid.Contains(data_att_chkbox))
                {
                    isReadOnly = true;
                }
                break;
            case ApplicationStatusEnum.Submitted:
            case ApplicationStatusEnum.Assigned:
            case ApplicationStatusEnum.OnHold:
            case ApplicationStatusEnum.OffHold:
            case ApplicationStatusEnum.Approved:
            case ApplicationStatusEnum.BankInformationSubmitted:
            case ApplicationStatusEnum.BankInformationApproved:
            case ApplicationStatusEnum.Completed:
            case ApplicationStatusEnum.Denied:
                //when participant login after application approved
                if (SecurityContextHelper.IsParticipant())
                {
                    isReadOnly = true;
                    allowDisable = true;
                    allowDownload = false;
                    allowDelete = false;
                }

                if (SecurityContextHelper.IsStaff())
                {
                    allowDisable = (isReadOnly || isSupportingDocReadOnly);
                    allowDownload = (partialViewData.allowFileDownload.Value || isSupportingDocEditSave);
                    allowDelete = (partialViewData.allowFileDelete.Value || isSupportingDocEditSave);
                }
                break;
            default:
                isReadOnly = false;
                break;
        }
    }
}

<div class="panel-heading" role="tab" id="panelSupportingDocumentsHeading">
    <h4 class="panel-title">
        <a class="panel-arrow-collapse collapsed" data-toggle="collapse" data-parent="#accordion" href="#panelSupportingDocuments" aria-expanded="false" aria-controls="panelSupportingDocuments">

            @if (isStaff)
            {
                <img id="StaffFlagSupportingDocuments" class="status-flag" src="~/Images/comp-register-all-status-flag-grey.png">
            }
            else
            {
                <img id="flagSupportingDocuments" src="/Images/comp-register-all-status-flag-grey.png" class="greenCheckmark">
            }

            @UIResource.CommonSupportingDocuments
        </a>
    </h4>
</div>
<div id="panelSupportingDocuments" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
    <div class="panel-body">
        <p>@UIResource.SupportingDocPleaseSelectMethod</p>
        <ul>
            <li>@UIResource.SupportingDocSendDoc</li>
            <li>@UIResource.SupportingDocFax</li>
            <li>@UIResource.SupportingDocMailAddress.Replace("[CompanyAddressLine1]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.AddressLine1").Value).Replace("[CompanyAddressLine2]", !string.IsNullOrWhiteSpace(@CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.AddressLine2").Value) ? ", " + @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.AddressLine2").Value : "").Replace("[CompanyCity]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.City").Value).Replace("[CompanyProvince]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.Province").Value).Replace("[CompanyPostalCode]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.PostalCode").Value)</li>
        </ul>
        <table id="tblSupportingDocuments" class="table table-hover" style="margin-right:5px;margin-top:10px;" data-toggle="modal" data-target="#myModal">
            <thead>
                <tr>
                    <th>
                        <div class="form-group has-required has-feedback">
                            @if (partialViewData.allowFileDownload.Value)
                            {
                                @Html.CheckBox("cbRequiredDocuments",
                                !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.RequiredDocuments).ToString())),
                                ExtensionMethods.ConditionalDisable(isReadOnly || isSupportingDocReadOnly, new
                                {
                                    id = "cbRequiredDocuments",
                                    data_validate_field = "#SupportingDocuments",
                                    data_validate_message = "Invalid Required Documents",
                                    @class = "validation-checkbox no-validate",
                                    data_att_chkbox = string.Format("{0}.{1}",
                                        prefix, @Html.GetExpressionText(p => p.RequiredDocuments).ToString())
                                }))
                            }
                            <input type="hidden" name='SupportingDocuments.RequiredDocuments' />
                            <label class="control-label" for="inputSuccess2">@UIResource.SupportingDocRequiredDocuments</label>
                        </div>
                    </th>
                    <th class="txt-c">@UIResource.SupportingDocFaxName</th>
                    <th class="txt-c">@UIResource.SupportingDocMail</th>
                    <th class="txt-c">@UIResource.SupportingDocUpload</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @UIResource.SupportingDocArticlesOfIncorporation<br> @UIResource.SupportingDocMBL <i class="fa fa-question-circle color-tm-gray supportingDocumentsAIMBL" data-placement="auto" title="Articles of Incorporation or Master Business Licence (MBL)"></i>
                        <div id="supportingDocumentsAIMBL" style="display:none;">
                            <p><strong>@UIResource.SupportingDocArticlesOfIncorporationWithoutOR</strong> @UIResource.SupportingDocCorpProfileReport</p>
                            <p><strong>@UIResource.SupportingDocMBL</strong> @UIResource.SupportindDocNonIncCorpComp</p>
                        </div>
                    </td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionMBL" value="optionfax" @string.Format("{0}", Model.SupportingDocumentsOptionMBL == "optionfax" ? "checked" : "") @(isReadOnly || isSupportingDocReadOnly ? "disabled" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionMBL" value="optionmail" @string.Format("{0}", Model.SupportingDocumentsOptionMBL == "optionmail" ? "checked" : "") @(isReadOnly || isSupportingDocReadOnly ? "disabled" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionMBL" value="optionupload" @string.Format("{0}", Model.SupportingDocumentsOptionMBL == null || Model.SupportingDocumentsOptionMBL == "optionupload" ? "checked" : "") @(isReadOnly || isSupportingDocReadOnly ? "disabled" : "")></label></td>
                </tr>
                <tr>
                    <td>
                        @UIResource.SupportingDocCommercialLiabilityInsurance <i class="fa fa-question-circle color-tm-gray supportingDocumentsCLI" data-placement="auto" title="Commercial Liability Insurance"></i>
                        <div id="supportingDocumentsCLI" style="display:none;">
                            <p>@UIResource.SupportingDocInsuranceCertificate</p>
                            <ul>
                                <li>@UIResource.SupportingDocCompanyNameDetails</li>
                                <li>@UIResource.SupportingDocInsurancePink</li>
                                <li>@UIResource.SupportingDocLiabilityHauler.Replace("[CompanyName]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.Name").Value)</li>
                            </ul>
                            <p></p>
                        </div>
                    </td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionCLI" value="optionfax" @string.Format("{0}", Model.SupportingDocumentsOptionCLI == "optionfax" ? "checked" : "") @(isReadOnly || isSupportingDocReadOnly ? "disabled" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionCLI" value="optionmail" @string.Format("{0}", Model.SupportingDocumentsOptionCLI == "optionmail" ? "checked" : "") @(isReadOnly || isSupportingDocReadOnly ? "disabled" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionCLI" value="optionupload" @string.Format("{0}", Model.SupportingDocumentsOptionCLI == null || Model.SupportingDocumentsOptionCLI == "optionupload" ? "checked" : "") @(isReadOnly || isSupportingDocReadOnly ? "disabled" : "")></label></td>
                </tr>
                <tr id="cVORDocument">
                    <td>
                        @UIResource.SupportingDocCVORAbstractLevelII
                        <i class="fa fa-question-circle color-tm-gray supportingDocumentsCVOR" data-placement="auto" title="CVOR Abstract Level II"></i>
                        <div id="supportingDocumentsCVOR" style="display:none;">
                            <p>@UIResource.SupportingDocCVOR</p>
                        </div>
                    </td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionCVOR" value="optionfax" @string.Format("{0}", Model.SupportingDocumentsOptionCVOR == "optionfax" ? "checked" : "") @(isReadOnly || isSupportingDocReadOnly ? "disabled" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionCVOR" value="optionmail" @string.Format("{0}", Model.SupportingDocumentsOptionCVOR == "optionmail" ? "checked" : "") @(isReadOnly || isSupportingDocReadOnly ? "disabled" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionCVOR" value="optionupload" @string.Format("{0}", Model.SupportingDocumentsOptionCVOR == null || Model.SupportingDocumentsOptionCVOR == "optionupload" ? "checked" : "") @(isReadOnly || isSupportingDocReadOnly ? "disabled" : "")></label></td>
                </tr>
                <tr id="processorRelationshipLetter">
                    <td>
                        @UIResource.SupportingDocProcessorRelationshipLetter
                        <i class="fa fa-question-circle color-tm-gray supportingDocumentsPRL" data-placement="auto" title="Processor Relationship Letter"></i>
                        <div id="supportingDocumentsPRL" style="display:none;">
                            <p>@UIResource.SupportingDocPRLOTS</p>
                        </div>
                    </td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionPRL" value="optionfax" @string.Format("{0}", Model.SupportingDocumentsOptionPRL == "optionfax" ? "checked" : "") @(isReadOnly || isSupportingDocReadOnly ? "disabled" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionPRL" value="optionmail" @string.Format("{0}", Model.SupportingDocumentsOptionPRL == "optionmail" ? "checked" : "") @(isReadOnly || isSupportingDocReadOnly ? "disabled" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionPRL" value="optionupload" @string.Format("{0}", Model.SupportingDocumentsOptionPRL == null || Model.SupportingDocumentsOptionPRL == "optionupload" ? "checked" : "") @(isReadOnly || isSupportingDocReadOnly ? "disabled" : "")></label></td>
                </tr>
                <tr id="hSTDocument">
                    <td>
                        @UIResource.SupportingDocHST
                    </td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionHST" value="optionfax" @string.Format("{0}", Model.SupportingDocumentsOptionHST == "optionfax" ? "checked" : "") @(isReadOnly || isSupportingDocReadOnly ? "disabled" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionHST" value="optionmail" @string.Format("{0}", Model.SupportingDocumentsOptionHST == "optionmail" ? "checked" : "") @(isReadOnly || isSupportingDocReadOnly ? "disabled" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionHST" value="optionupload" @string.Format("{0}", Model.SupportingDocumentsOptionHST == null || Model.SupportingDocumentsOptionHST == "optionupload" ? "checked" : "") @(isReadOnly || isSupportingDocReadOnly ? "disabled" : "")></label></td>
                </tr>
                <tr id="wSIBDocument">
                    <td>
                        @UIResource.SupportingDocWSIBCertificate
                    </td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionWSIB" value="optionfax" @string.Format("{0}", Model.SupportingDocumentsOptionWSIB == "optionfax" ? "checked" : "") @(isReadOnly || isSupportingDocReadOnly ? "disabled" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionWSIB" value="optionmail" @string.Format("{0}", Model.SupportingDocumentsOptionWSIB == "optionmail" ? "checked" : "") @(isReadOnly || isSupportingDocReadOnly ? "disabled" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionWSIB" value="optionupload" @string.Format("{0}", Model.SupportingDocumentsOptionWSIB == null || Model.SupportingDocumentsOptionWSIB == "optionupload" ? "checked" : "") @(isReadOnly || isSupportingDocReadOnly ? "disabled" : "")></label></td>
                </tr>
                @if (isBankInfoSubmitted)
                {
                    <tr>
                        <td>
                            @UIResource.SupportingDocVoidCheque @*<small>Dev. Note: We will only show Void Cheque once Participant is registered</small>*@
                            <i class="fa fa-question-circle color-tm-gray supportingDocumentsVOCH" data-placement="auto" title="Void Cheque"></i>
                            <div id="supportingDocumentsVOCH" style="display:none;">
                                <img src="http://www.nrc-cnrc.gc.ca/obj/images/direct_deposit-depot_direct/void_cheque.jpg" width="624" height="309">
                            </div>
                        </td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionCHQ" value="optionfax" @string.Format("{0}", Model.SupportingDocumentsOptionCHQ == "optionfax" ? "checked" : "") @(isReadOnly || isSupportingDocReadOnly ? "disabled" : "")></label></td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionCHQ" value="optionmail" @string.Format("{0}", Model.SupportingDocumentsOptionCHQ == "optionmail" ? "checked" : "") @(isReadOnly || isSupportingDocReadOnly ? "disabled" : "")></label></td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionCHQ" value="optionupload" @string.Format("{0}", Model.SupportingDocumentsOptionCHQ == null || Model.SupportingDocumentsOptionCHQ == "optionupload" ? "checked" : "") @(isReadOnly || isSupportingDocReadOnly ? "disabled" : "")></label></td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="row">
            <div class="col-sm-12">
                @Html.Hidden("BankInfo", false)
                @{
                    switch (Model.Status)
                    {
                        case ApplicationStatusEnum.Approved:
                        case ApplicationStatusEnum.BankInformationSubmitted:
                        case ApplicationStatusEnum.BankInformationApproved:
                        case ApplicationStatusEnum.Completed:
                            @Html.Partial("_FileUpload",
                             new FileUploadModel { TransactionID = Model.ID.ToString(), AddFilesURL = "/System/FileUpload/UploadVendorFiles", GetFilesURL = "/System/FileUpload/GetUploadedVendorFiles", DeleteFileURL = "/System/FileUpload/DeleteUploadedVendorFile", AllowSelection = false, AllowDownload = allowDownload, AllowDelete = allowDelete, Disable = allowDisable, CountOfUploadedDocuments = Model.CountOfUploadedDocuments, FileUploadSectionName = Model.FileUploadSectionName })
                            break;
                        default:
                        @Html.Partial("_FileUpload",
                         new FileUploadModel { TransactionID = Model.ID.ToString(), AddFilesURL = "/System/FileUpload/UploadFiles", GetFilesURL = "/System/FileUpload/GetUploadedFiles", DeleteFileURL = "/System/FileUpload/DeleteUploadedFile", AllowSelection = false, AllowDownload = allowDownload, AllowDelete = allowDelete, Disable = allowDisable, CountOfUploadedDocuments = Model.CountOfUploadedDocuments, FileUploadSectionName = Model.FileUploadSectionName })
                            break;
                    }
                }

            </div>
        </div>
        @*<small><em>Dev. Note: Show WSIB if user selects Yes in "Collector Details" panel</em></small><br>
            <small><em>Dev. Note: <a href="http://blueimp.github.io/jQuery-File-Upload/" target="_blank">jQuery File Upload</a></em></small>*@
    </div>
</div>
