﻿@using CL.TMS.Security.Authorization;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    string CollectorWorkFlow = SecurityContextHelper.CollectorClaimsWorkflow != null ? SecurityContextHelper.CollectorClaimsWorkflow.Workflow : string.Empty;
    bool CollectorActionGear = SecurityContextHelper.CollectorClaimsWorkflow != null ? SecurityContextHelper.CollectorClaimsWorkflow.ActionGear : false;
    string HaulerWorkFlow = SecurityContextHelper.HaulerClaimsWorkflow != null ? SecurityContextHelper.HaulerClaimsWorkflow.Workflow : string.Empty;
    bool HaulerActionGear = SecurityContextHelper.HaulerClaimsWorkflow != null ? SecurityContextHelper.HaulerClaimsWorkflow.ActionGear : false;
    string ProcessorWorkFlow = SecurityContextHelper.ProcessorClaimsWorkflow != null ? SecurityContextHelper.ProcessorClaimsWorkflow.Workflow : string.Empty;
    bool ProcessorActionGear = SecurityContextHelper.ProcessorClaimsWorkflow != null ? SecurityContextHelper.ProcessorClaimsWorkflow.ActionGear : false;
    string RPMWorkFlow = SecurityContextHelper.RPMClaimsWorkflow != null ? SecurityContextHelper.RPMClaimsWorkflow.Workflow : string.Empty;
    bool RPMActionGear = SecurityContextHelper.RPMClaimsWorkflow != null ? SecurityContextHelper.RPMClaimsWorkflow.ActionGear : false;
}

@section styles
{

    <link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />

    <style>
                           
        .panel-default > .panel-heading a.export,
        .panel-default > .panel-heading a.export:hover {
            background: none;
            left: 120px;
            position: absolute;
            top: 11px;
            width: 25px;
        }

        /*OTSTM2-904 keep panel search textbox visible all the time*/
        #search{
            visibility:visible;
            width: 190px;       
        }   

    </style>
}

@if (ResourceActionAuthorizationHandler.CheckUserSecurity(CL.TMS.Common.TreadMarksConstants.ClaimsClaimsAssignment) >= CL.TMS.Security.SecurityResultType.ReadOnly)
{
    <div class="tm-all staff-all-claims">


        <!-- Component: Transactions Header -->
        <div id="fixedClaimHeader" class="row comp-claims-header fixed-claim-header">
            <div class="col-xs-7 col-sm-6">
                <h2 class="fixed-claim-header-title">Claims</h2>
            </div>
            <div class="col-xs-7 col-sm-6">
            </div>
        </div><!--/.row-->
        <!-- /Component -->
        <!-- Component: Assignment -->
        <div class="panel panel-default" style="margin-top:85px">
            <div class="panel-heading" role="tab" id="panelAllClaimsHeading-headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#panelStaffAllClaims" aria-expanded="true" aria-controls="panelStaffAllClaims-collapseOne" class="panel-arrow-expand">
                        Assignment
                    </a>
                </h4>
                <h4 class="panel-title">
                    <a id="export" class="export" title="Export to CSV" href="@Url.Action("ExportToExcel", new {})">
                        <i class="fa fa-file-text-o fa-fw uiaction-export" title="Export to CSV"></i>
                    </a>
                </h4>
                <div class="col-xs-6 subcomp-search">
                    <input id="search" type="text" class="form-control" placeholder="Search">
                    <div id="found" class="subcomp-search-found">&nbsp;</div>
                    <i class="glyphicon glyphicon-remove remove-icon"></i>
                    <i class="glyphicon glyphicon-search"></i>
                </div>
            </div>
            <div id="panelStaffAllClaims" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelAssignment-headingOne">
                <div class="panel-body">
                    <div class="table-responsive">
                        @Html.Partial("StaffAllClaimsList")
                    </div>
                </div>
            </div>
        </div><!--/.panel-->
        <!-- /Component -->
        <!-- Modal: Assign  -->
        <div class="modal fade comp-claims-summary-submitmodal margin-top-0" id="modalAssign" tabindex="-1" role="dialog" aria-labelledby="modalAssign" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="modalAssign" align="center">@UIResource.Confirm</h3>@*Assign*@
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12 txt-c">
                                <h4 class="margin-top-30">Are you sure you want to <strong>assign</strong> claim for<br> <strong><span id="modalAssignText"></span></strong>?</h4>
                            </div>
                        </div>
                        <div class="row margin-top-10 margin-bottom-20">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div class="form-group form-group-select2">
                                    <label style="font-weight:normal;" class="margin-bottom-20">Choose a staff member:</label>
                                    <select class="listOfAssignedNames form-control"> </select>
                                </div>
                            </div>
                        </div><!--/.row-->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                            @UIResource.CommonWordNo
                        </button>
                        <button type="button" id="btnAssignClaim" class="btn btn-success btn-lg" data-dismiss="modal" data-toggle="modal" data-target="#modalAssignOk">
                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                            @UIResource.CommonWordYes
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Modal  -->
        <!-- Modal: Re-Assign  -->
        <div class="modal fade comp-claims-summary-submitmodal margin-top-0" id="modalReAssign" tabindex="-1" role="dialog" aria-labelledby="modalReAssign" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="modalReAssign" align="center">@UIResource.Confirm</h3>@*Re-Assign*@
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12 txt-c">
                                <h4 class="margin-top-30">Are you sure you want to <strong>re-assign</strong> claim for<br> <strong><span id="modalReAssignText"></span></strong>?</h4>
                            </div>
                        </div>
                        <div class="row margin-top-10 margin-bottom-20">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div class="form-group form-group-select2">
                                    <label style="font-weight:normal;" class="margin-bottom-20">Choose a staff member:</label>
                                    <select class="listOfReAssignedNames form-control"> </select>
                                </div>
                            </div>
                        </div><!--/.row-->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                            @UIResource.CommonWordNo
                        </button>
                        <button type="button" id="btnReAssignClaim" class="btn btn-success btn-lg" data-dismiss="modal" data-toggle="modal" data-target="#modalAssignOk">
                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                            @UIResource.CommonWordYes
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Modal  -->
        <!-- Modal: Un-Assign  -->
        <div class="modal fade comp-claims-summary-submitmodal margin-top-100" id="modalUnAssign" tabindex="-1" role="dialog" aria-labelledby="modalUnAssign" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="modalUnAssign" align="center">@UIResource.Confirm</h3>@*Un-Assign*@
                    </div>
                    <div class="modal-body">
                        <div style="padding:20px">
                            <h4 class="txt-c">Are you sure you want to <strong>un-assign</strong> claim for<br> <strong><span id="modalUnAssignText"></span></strong><br> from <strong><span id="modalUnAssignName"></span></strong>?</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                            @UIResource.CommonWordNo
                        </button>
                        <button type="button" id="btnUnAssignClaim" class="btn btn-success btn-lg" data-dismiss="modal" data-toggle="modal" data-target="#modalAddiPadsToRegConfirm">
                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                            @UIResource.CommonWordYes
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Modal  -->
        <!-- Modal: Assign to Me  -->
        <div class="modal fade comp-claims-summary-submitmodal margin-top-100" id="modalAssingToMe" tabindex="-1" role="dialog" aria-labelledby="modalAssingToMe" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title assignHeader" id="assignToMeTitle" align="center">Assigned</h3>
                    </div>
                    <div class="modal-body">
                        <div style="padding:20px">
                            <h4 class="txt-c">Claim for <strong><span id="modalAssingToMeText"></span></strong><br> has been assigned to you.</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnAssignToMeClaim" class="btn btn-success btn-lg" data-dismiss="modal" data-toggle="modal" data-target="#modalAddiPadsToRegConfirm">
                            <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                            Ok
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Modal  -->
    </div>
}
else
{
    Response.Redirect("/System/Common/UnauthorizedPage");
}
@section scripts{

    @Scripts.Render("~/bundles/jquerydatatable")
    <script type="text/javascript" src="~/js/loading-spin.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript">
        //list of Resources text needed
        Global = {};
        Global.StaffAllIndex = {
            Resources: {},
            AccessPermission: {
                CollectorClaimClaimSummary: '@ResourceActionAuthorizationHandler.CheckUserSecurity(CL.TMS.Common.TreadMarksConstants.ClaimsCollectorClaimSummary)',
                HaulerClaimClaimSummary: '@ResourceActionAuthorizationHandler.CheckUserSecurity(CL.TMS.Common.TreadMarksConstants.ClaimsHaulerClaimSummary)',
                ProcessorClaimClaimSummary: '@ResourceActionAuthorizationHandler.CheckUserSecurity(CL.TMS.Common.TreadMarksConstants.ClaimsProcessorClaimSummary)',
                RPMClaimClaimSummary: '@ResourceActionAuthorizationHandler.CheckUserSecurity(CL.TMS.Common.TreadMarksConstants.ClaimsRPMClaimSummary)',
                ClaimsAssignmentPage: '@ResourceActionAuthorizationHandler.CheckUserSecurity(CL.TMS.Common.TreadMarksConstants.ClaimsClaimsAssignment)',
            },
            UserClaimsWorkflow: {
                Collector: {
                    WorkFlow: '@CollectorWorkFlow',
                    ActionGear: JSON.parse('@CollectorActionGear.ToString().ToLower()'),
                },
                Hauler: {
                    WorkFlow: '@HaulerWorkFlow',
                    ActionGear: JSON.parse('@HaulerActionGear.ToString().ToLower()'),
                },
                Processor: {
                    WorkFlow: '@ProcessorWorkFlow',
                    ActionGear: JSON.parse('@ProcessorActionGear.ToString().ToLower()'),
                },
                RPM: {
                    WorkFlow: '@RPMWorkFlow',
                    ActionGear: JSON.parse('@RPMActionGear.ToString().ToLower()'),
                },
            }
        };

    </script>

    @Scripts.Render("~/bundles/systemclaimlist")

    <script type="text/javascript">
        $(function () {

            var columnNames = [
            { columnName: 'RegNumber' }, { columnName: 'Type' }, { columnName: 'Company' }, { columnName: 'Period' }, { columnName: 'Submitted' },
            { columnName: 'PaymentDue' }, { columnName: 'TotalClaimAmount' }, { columnName: 'Status' }, { columnName: 'HoldStatus' }, { columnName: 'AssignedTo', className: 'assignedTo' },
            { columnName: 'ClaimsActions', className: 'td-center', orderable: false }, { columnName: 'ClaimId', className: 'display-none' }];

            $('#tblStaffAllClaimsList').createDataTable({
                applicationType: 'staffAllClaims',
                viewMoreId: '#viewmore',
                totalRecordsId: '#totalRecords',
                searchId: '#search',
                exportId: '#export',
                foundId: '#found',
                removeIconId: '.remove-icon',
                columnNames: columnNames,
                modalAssign: '#modalAssign',
                modalReAssign: '#modalReAssign',
                modalUnAssign: '#modalUnAssign',
                modalAssingToMe: '#modalAssingToMe',
                listOfAssignedNames: '.listOfAssignedNames',
                listOfReAssignedNames: '.listOfReAssignedNames',
                modalAssignText: '#modalAssignText',
                modalReAssignText: '#modalReAssignText',
                modalUnAssignText: '#modalUnAssignText',
                modalUnAssignName: '#modalUnAssignName',
                modalAssingToMeText: '#modalAssingToMeText',
                btnAssignClaim: '#btnAssignClaim',
                btnReAssignClaim: '#btnReAssignClaim',
                btnUnAssignClaim: '#btnUnAssignClaim',
                btnAssignToMeClaim: '#btnAssignToMeClaim',
                currUnAssignedClaimid: '',
                exportUrl: '@Url.Action("ExportToExcel", "Claims", new {searchText = "----", sortColumn="AAA", sortDirection="BBB",
                           searchTextReg ="-st-reg", searchTextType="-st-type", searchTextCompany="-st-company", searchTextPeriod="-st-period", searchTextSubmitted="-st-submitted",
                           searchTextPaymentDueDate="-st-paymentduedate", searchTextTotalClaimAmount="-st-totalclaimamount", searchTextStatus="-st-status",
                           searchTextHoldStatus="-st-holdstatus", searchTextAssignedTo="-st-assignedto"})', //OTSTM2-904
                ajaxHandler: '@Url.Action("GetListHandler", "Claims")',
                userHandler: '@Url.Action("GetUsersByClaimsWorkflow", "Common", new { area="System" })',
                GetAssignReassignHandler: '@Url.Action("GetAssignReassignHandler", "Claims")',
                GetUnassignHandler: '@Url.Action("GetUnassignHandler", "Claims")',
                AssignToMeHandler: '@Url.Action("AssignToMeHandler", "Claims")',
                rowUrl: '@Url.Action("ClaimsTypeRouting", "Claims")',
                RoutingCount: '',
                asgnToMeBtn: '#asgnToMeBtn',
                assignHeader: '.assignHeader',
                UnabletoAssign: 'Warning'
            });
        })

    </script>
}