﻿@using CL.TMS.Security.Authorization

@{
    ViewBag.Title = "Retail Connection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />

    <style>
        .btn-space {
            margin-right: 5px;
        }

        .table.dataTable tr {
            cursor: pointer;
        }        

        .td-center{
            text-align:center;
        }

        .rc-panel .panel-heading {
            min-width: 300px;
        }       

        .dropdown-menu {
            height: auto;
            max-height: 200px;
            overflow-x: hidden;
        }

        /*OTSTM2-843 fix datatable white space when clicking hambourger icon(existing issue)*/
        table.dataTable { 
            border-collapse: collapse;
            width: 100% !important;
        } 

        /*OTSTM2-843 clicking more, make sure alignment*/
        .move-right-25px{
            padding-left:25px !important;
        }
        .move-right-20px{
            padding-left:20px !important;
        }
        .move-right-15px{
            padding-left:15px !important;
        }  
        .move-right-10px{
            padding-left:10px !important;
        }        
    </style>
}

<div class="tm-all participant-all-rc" ng-controller="retailConnectionController" id="retailConnectionController">
    <div id="fixedClaimHeader" class="row comp-claims-header comp-variant-staff fixed-claim-header">
        <div class="col-xs-7 col-sm-6">
            <h2 class="fixed-claim-header-title">Retail Connection</h2>
        </div>
        <div class="col-xs-5 col-sm-6">
            <div class="sub-header-registrantinfo fixed-claim-header-registrantinfo">@SecurityContextHelper.CurrentVendor.RegistrationNumber</div>
            <div class="sub-header-claimdate fixed-claim-header-companyname" style="float:right; min-width:5px;">@SecurityContextHelper.CurrentVendor.BusinessName</div>
        </div>
    </div>
    <div class="panel-container-other">
        <div class="row">
            <rc-panel-view rc-url="@Url.Action("LoadAllParticipantRetailers", "RetailConnection", new { area = "RPM" })" type="Participant Retailer" header="My Retailers"></rc-panel-view>
        </div>

        <div class="row">
            <rc-panel-view rc-url="@Url.Action("LoadAllParticipantProducts", "RetailConnection", new { area = "RPM" })" type="Participant Product" header="My Products"></rc-panel-view>
        </div>

        @Html.Partial("_RcPanelTemplate")
        @Html.Partial("_RcCommonTemplate")
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        Global = {};
        Global.RetailConnnection = {
            InitializeRetailerFormDataUrl: '@Url.Action("InitializeRetailerFormData", "RetailConnection", new { area = "RPM" })',
            InitializeProductFormDataUrl: '@Url.Action("InitializeProductFormData", "RetailConnection", new { area = "RPM" })',
            GetProductEditFormDataUrl: '@Url.Action("GetProductEditFormData", "RetailConnection", new { area = "RPM" })',
            AddParticipantRetailerUrl: '@Url.Action("AddParticipantRetailerForm", "RetailConnection", new { area = "RPM" })',
            EditParticipantRetailerUrl: '@Url.Action("EditParticipantRetailerForm", "RetailConnection", new { area = "RPM" })',
            GetRetailerEditFormDataUrl: '@Url.Action("GetRetailerEditFormData", "RetailConnection", new { area = "RPM" })',

            UploadProductFileURL: '@Url.Action("UploadProductFile", "FileUpload", new { area = "System" })',
            DeleteTemporaryProductFileURL: '@Url.Action("DeleteTemporaryProductFile", "FileUpload", new { area = "System" })',

            AddProductFormUrl: '@Url.Action("AddProductForm", "RetailConnection", new { area = "RPM" })',
            EditProductFormUrl: '@Url.Action("EditProductForm", "RetailConnection", new { area = "RPM" })',
            LoadCategoryProductFormUrl: '@Url.Action("LoadProductCategories", "RetailConnection", new { area = "RPM" })',
            GetRetailersForProductUrl: '@Url.Action("LoadRetailersForProduct", "RetailConnection", new { area = "RPM" })',

            ActiveProductUrl: '@Url.Action("ActiveProduct", "RetailConnection", new { area = "RPM" })',
            InactiveProductUrl: '@Url.Action("InactiveProduct", "RetailConnection", new { area = "RPM" })',
            ActiveRetailerUrl: '@Url.Action("ActiveRetailer", "RetailConnection", new { area = "RPM" })',
            InactiveRetailerUrl: '@Url.Action("InactiveRetailer", "RetailConnection", new { area = "RPM" })',

            inactiveConfirmMessage: 'Are you sure you want to inactivate ',
            activeConfirmMessage: 'Are you sure you want to activate ',
            approveConfirmMessage: 'Are you sure you want to approve ',
            rejectConfirmMessage: 'Are you sure you want to reject ',

            CheckRetailerNameUrl: '@Url.Action("CheckRetailerName", "RetailConnection", new { area = "RPM" })',

            ExportParticipantRetailerUrl: '@Url.Action("GetParticipantRetailerExport", "RetailConnection", new { area = "RPM" })',
            ExportParticipantProductUrl: '@Url.Action("GetParticipantProductExport", "RetailConnection", new { area = "RPM" })',

            PageEditable: '@ViewBag.IsEditable'.toLowerCase(),
            NoActiveRetailerExists: JSON.parse('@ViewBag.NoActiveRetailerExists'.toLocaleLowerCase()),
        };
        Global.RetailConnnection.Settings = {
            isStaff: '@(SecurityContextHelper.IsStaff())',
            isParticipant: '@(SecurityContextHelper.IsParticipantAdmin())',
            AddedBy: '@SecurityContextHelper.CurrentUser.UserName'
        };
    </script>
    @Scripts.Render("~/bundles/jquerydatatable")
    @Scripts.Render("~/bundles/angular-datatables-scroller")
    @Scripts.Render("~/bundles/angulardatatable")
    <script type="text/javascript" src="~/Areas/RPM/Scripts/RetailConnection/retail-connection-app.js?v=@ViewBag.versionid"></script>
    @Scripts.Render("~/bundles/transaction-list-common")
}
