﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="test.aspx.cs" Inherits="OTS_Mobile.test" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            TEST<br />

<<<<<<< test.aspx
    Registration Number: <asp:TextBox ID="txtRegistrationNumber" runat="server" Text="3000180" /><br />
        Claim Period: <asp:TextBox ID="txtDay" runat="server" Text="01" /><asp:TextBox ID="txtMonth" runat="server" Text="03" />/<asp:TextBox ID="txtYear" runat="server" Text="2014" /><br/>
=======
            Registration Number:
            <asp:TextBox ID="txtRegistrationNumber" runat="server" Text="3000180" /><br />
            Transaction Date:
            <asp:TextBox ID="txtMonth" runat="server" Text="05" />/<asp:TextBox ID="txtDay" runat="server" Text="01" />/<asp:TextBox ID="txtYear" runat="server" Text="2014" /><br />
>>>>>>> 1.1.2.8

            Form Number:<asp:TextBox ID="txtTCRFormNumber" runat="server" Text="19999999"></asp:TextBox><br />
            Postal Code
            <asp:TextBox ID="txtPostal1" runat="server" Text="L1C" />
            Postalcode 2
            <asp:TextBox ID="txtPostal2" runat="server" Text="0G3" /><br />
            Comment:<asp:TextBox ID="txtComment" runat="server" Width="500" Text="This is the default comment" /><br />
            <asp:Button ID="btnSubmit" runat="server" Text="Submit" OnClick="btnSubmit_OnClick" /><br />

        </div>
    </form>
</body>
</html>
