﻿@model CL.TMS.DataContracts.ViewModel.Steward.TSFRemittanceModel
@using CL.TMS.Common
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface
@{
    ViewBag.Title = "ParticipantRemittanceDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";


    //since I am using jQuery validation plugin; settings client validation to false
    HtmlHelper.ClientValidationEnabled = false;
    var tokenId = ViewContext.RouteData.Values["id"]; ;
}

<!-- ///////////// HTML Top ///////////// -->
<div class="tm-all participants-all-claims">


    <!-- Component: Transactions Header -->
    <div class="row comp-claims-header">
        <div class="col-xs-7 col-sm-6">
            <div class="btn-group">
                <a class="btn btn-warning btn-xs" href="http://preview.ontariots.ca/tm/permalinks/staff-all-steward-tsf-remittances.html"><i class="fa fa-chevron-left"></i> Remittances</a>
            </div>
            <h2>TSF Remittance <i class="fa fa-file-excel-o fa-fw uiaction-export" title="Export to Excel"></i></h2>
            <div class="color-tm-orange margin-top--5">Under Review</div><small></small>
            <div class="margin-top-10 float-left" style="width:100%;">
                <label>Remits per year:</label>
                <div class="btn-group btn-toggle" data-toggle="tooltip" title="" data-placement="left" data-original-title="2015-05-15">
                    <button class="btn btn-xs active color-tm-red-bg" data-toggle="modal" data-target="#modalGeneratorOn">12x</button>
                </div>
            </div>
        </div>
        <div class="col-xs-5 col-sm-6">
            <div class="sub-header-status txt-r">
                <div class="btn-group btn-toggle">
                    <label class="btn btn-xs btn-success active cursor-default">Active</label>
                </div>
            </div>
            <div class="popoverParticipantInfo" data-placement="auto">
                <div class="sub-header-registrantinfo">@Model.RegistrationNumber </div>
                <div class="sub-header-companyname">@Model.BusinessName</div>
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-7 txt-r">
                        <label for="" style="font-weight:normal;">Choose Remittance Period</label>
                        <div class="form-group" style="float:right;">

                            <div class="input-group date" id="dpPeriodDate">
                                @*<input type="text" class="form-control txt-r" data-date-format="YYYY/MM/DD" placeholder="October 2014">*@
                                @Html.TextBoxFor(m => m.PeriodDate, "{0:yyyy-MM-dd}", new { @class = "form-control txt-r", @readonly = "readonly", placeholder = "October 2014" })

                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div><!--/.row-->
                <div class="float-right txt-r" style="width:100%"></div>
                <div class="color-tm-orange margin-top- txt-r">@Model.PayPeriod</div>

            </div>
            <div id="popoverParticipantInfo" style="display:none;">
                <p>
                    <strong>Business Address</strong><br>
                    300 The East Mall, Suite 100<br>
                    Toronto, ON M9B 6B7
                </p>
                <p>
                    <strong>Primary Contact</strong><br>
                    Zach Dryman<br>
                    zdryman@rethinktires.ca<br>
                    647-426-6268
                </p>
            </div>
        </div>
    </div><!--/.row-->
    <!-- /Component -->
    <!-- Component: Status -->
    <div class="row margin-top--10">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="panelClaimStatus-headingOne">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="http://preview.ontariots.ca/tm/permalinks/staff-all-steward-tsf-remittance.html#panelClaimStatus-collapseStatus" aria-expanded="true" aria-controls="panelClaimStatus-collapseStatus" class="panel-arrow-expand">
                            Status <i class="fa fa-file-text-o fa-fw uiaction-export" title="Export to CSV"></i>
                        </a>
                    </h4>
                </div>
                <div id="panelClaimStatus-collapseStatus" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelClaimStatus-headingOne">
                    <div class="panel-body" style="padding-top:0;margin-top:0;">
                        <div class="row margin-top-10">
                            <div class="col-sm-12">
                                <table class="table table-hover" style="margin-bottom:5px;">
                                    <thead>
                                        <tr>
                                            <th>Submitted</th>
                                            <th>Assigned</th>
                                            <th>Started</th>
                                            <th>Cheque Due</th>
                                            <th>Approved</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><p class="form-control-static">@(Model.Submitted.HasValue ? Model.Submitted.Value.ToLocalTime().ToString("d"):"")</p></td>
                                            <td><p class="form-control-static">2014-10-30</p></td>
                                            <td><p class="form-control-static">2014-10-30</p></td>
                                            <td><p class="form-control-static">2014-10-30</p></td>
                                            <td><p class="form-control-static">2014-10-30</p></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div><!--/.row-->
                        <div class="row">
                            <div class="col-sm-6">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="txt-c" colspan="2">Hold</th>
                                            <th class="txt-c">On-hold</th>
                                            <th class="txt-c">Off-hold</th>
                                            <th class="txt-c">On-hold (Days)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="txt-r">Audit</td>
                                            <td>
                                                <div class="btn-group btn-toggle">
                                                    <label class="btn btn-xs btn-default cursor-default">Off</label>
                                                </div>
                                            </td>
                                            <td class="txt-c">2014-11-08</td>
                                            <td class="txt-c">2014-11-10</td>
                                            <td class="txt-c">2</td>
                                        </tr>
                                        <tr>
                                            <td colspan="5"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div><!--/.row-->
                    </div>
                </div>
            </div><!--/.panel-->
        </div>
    </div><!--/.row-->
    <!-- /Component -->


    <div class="row margin-top--10">
        <div class="col-lg-8">


            <!-- Component: Tire Counts -->
         
            <!-- Component: Business Location -->
            <div class="panel panel-default">

                <div class="panel-heading" role="tab" id="panelThree-headingOne">
                    <h4 class="panel-title">
                        <a class="panel-arrow-expand" data-toggle="collapse" data-tireoriginreport="#accordion" href="#panelThree-collapseOne" aria-expanded="true" aria-controls="panelThree-collapseOne">
                            Tire Counts <i class="fa fa-file-text-o fa-fw uiaction-export" title="Export to CSV"></i>
                        </a>
                    </h4>
                </div>
                <div style="" id="panelThree-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelThree-headingOne">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="popoverClassCategory" style="display:none;">
                                    <p>Tire Stewardship TSF fee charts: <a href="http://rethinktires.ca/program-participants/stewards/tsf-fee-chart/#sthash.xkkepbNg.dpbs" target="_blank">Open Link</a></p>
                                </div>
                                @using (Html.BeginForm("AddRemittance", "TSFRemittances")) {
                                    <input type="hidden" name="ClaimID" value="@Model.ID" />
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="25%">Class/Category <i class="fa fa-question-circle popoverClassCategory" data-placement="auto" title="Class/Category"></i></th>

                                            <th class="txt-r" width="13%">Qty.</th>
                                            <th class="txt-r" width="13%">Negative Adj.</th>
                                            <th class="txt-r" width="12%">Net</th>
                                            <th class="txt-r" width="12%">Rate ($)</th>
                                            <th class="txt-r" width="12%">Total ($)</th>
                                            <th class="txt-r" width="13%">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td width="25%">
                                                <div class="dropdown">
                                                    @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control", @id = "item" }, optionLabel: "-Select Class/Category-")
                                                    @*@Html.DropDownListFor(m => m.TSFRemittanceDetails.ItemID, Model.TSFRemittanceDetails.TireList, "Select Class/Category", new { @class = "form-control", @id = "item" })*@
                                                </div>
                                            </td>
                                            <td class="txt-r" width="16%"><input class="form-control" name="Quantity" placeholder="0" value="0" style="text-align:right;" type="text"></td>
                                            <td class="txt-r" width="16%"><input class="form-control" name="NegativeAdjustment" placeholder="0" value="0" style="text-align:right;" type="text"></td>
                                            <td class="txt-r" width="12%">0</td>
                                            <td class="txt-r" width="12%">0.00</td>
                                            <td class="txt-r" width="12%" id="rate">0.00</td>
                                            <td width="7%"><button class="btn btn-md btn-success btn-block" type="submit" title="Add Tire Count">+</button></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="border-top:none;text-align:right;"></td>
                                            <td colspan="5" style="border-top:none;">
                                                <div class="dropdown" style="margin-top:-16px;">
                                                </div>
                                                <input class="form-control" placeholder="Other Reason" type="text">
                                                <strong><i>Due to negative adjustments, please supply supporting documenation.</i></strong>
                                            </td>
                                        </tr>
                                        <tr class="hidetr">
                                            <td width="25%">
                                                <div class="dropdown">
                                                    @*@Html.DropDownListFor(m => m.TSFRemittanceDetails.ItemID, Model.TSFRemittanceDetails.TireList, "Select Class/Category", new { @class = "form-control", @id = "Edititem" })*@
                                                </div>
                                            </td>
                                            <td class="txt-r" width="16%"><input class="form-control" placeholder="2" style="text-align:right;" type="text"></td>
                                            <td class="txt-r" width="16%"><input class="form-control" placeholder="1" style="text-align:right;" type="text"></td>
                                            <td class="txt-r" width="12%">2</td>
                                            <td class="txt-r" width="12%">5.55</td>
                                            <td class="txt-r" width="12%">11.10</td>
                                            <td width="7%"><button class="btn btn-xs btn-danger btn-block" type="submit"><i class="fa fa-remove"></i></button><button class="btn btn-xs btn-success btn-block" type="submit"><i class="fa fa-check"></i></button></td>
                                        </tr>
                                        <tr class="hidetr">
                                            <td colspan="2" style="border-top:none;text-align:right;"></td>
                                            <td colspan="2" style="border-top:none;">
                                                <div class="dropdown" style="margin-top:-16px;">
                                                    @*@Html.DropDownListFor(m => m.TSFRemittanceDetails.AdjustmentReasonType, Model.TSFRemittanceDetails.AdjustmentReasonTypeList, "Select Reason", new { @class = "form-control", @id = "dropdownMenu3" })*@
                                                </div>


                                            </td>
                                            <td colspan="3"></td>
                                        </tr>
                                        <tr class="hidetr">
                                            <td colspan="2" style="border-top:none;text-align:right;"></td>
                                            <td colspan="5" style="border-top:none;">
                                                <strong><i>Due to negative adjustments, please supply supporting documenation.</i></strong>
                                                <input class="form-control" placeholder="counts don't match" type="text">
                                                <strong><i>Due to negative adjustments, please supply supporting documenation.</i></strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                }
                                <table class="table table-hover" style="margin-top:-10px;">
                                    <tbody>
                                        @foreach (var lItm in Model.LineItems)
                                        {
                                        <tr>
                                            <td width="25%">@lItm.Category</td>
                                            <td class="txt-r" width="13%">@lItm.Quantity</td>
                                            <td class="txt-r" width="13%">
                                                @lItm.NegativeAdjustment @*<label class="position-absolute" style="margin-left:5px;" data-toggle="tooltip" data-placement="right" title="Sold to Out-of-Province"><i class="fa fa-comment color-tm-grey"></i></label>*@
                                            </td>
                                            <td class="txt-r" width="12%">0</td>
                                            <td class="txt-r" width="12%">@lItm.Rate</td>
                                            <td class="txt-r" width="12%">@(lItm.Rate * lItm.Quantity)</td>
                                            <td class="td-center" width="13%">
                                                <div class="btn-group dropdown-menu-actions">
                                                    <a data-toggle="dropdown" href="#">
                                                        <i class="glyphicon glyphicon-cog"></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#"><i class="fa fa-pencil-square-o"></i> Edit</a></li>
                                                        <li><a href="#" data-toggle="modal" data-target="#modalTireCountsRemove"><i class="fa fa fa-remove"></i> Remove</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                                @*<table class="table table-hover" style="margin-top:-10px;">
                                    <tbody>
                                        <tr>
                                            <td width="25%">C1: On-Road Passenger &amp; Light Truck</td>
                                            <td class="txt-r" width="13%">8</td>
                                            <td class="txt-r" width="13%">-2 <label class="position-absolute" style="margin-left:5px;" data-toggle="tooltip" data-placement="right" title="Sold to Out-of-Province"><i class="fa fa-comment color-tm-grey"></i></label></td>
                                            <td class="txt-r" width="12%">6</td>
                                            <td class="txt-r" width="12%">1.55</td>
                                            <td class="txt-r" width="12%">10.00</td>
                                            <td class="td-center" width="13%">
                                                <div class="btn-group dropdown-menu-actions">
                                                    <a data-toggle="dropdown" href="#">
                                                        <i class="glyphicon glyphicon-cog"></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#"><i class="fa fa-pencil-square-o"></i> Edit</a></li>
                                                        <li><a href="#" data-toggle="modal" data-target="#modalTireCountsRemove"><i class="fa fa fa-remove"></i> Remove</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="30%">C2: On-Road Medium Truck</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0.00</td>
                                            <td class="txt-r">0.00</td>
                                            <td class="td-center" width="13%">
                                                <div class="btn-group dropdown-menu-actions">
                                                    <a data-toggle="dropdown" href="#">
                                                        <i class="glyphicon glyphicon-cog"></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#"><i class="fa fa-pencil-square-o"></i> Edit</a></li>
                                                        <li><a href="#" data-toggle="modal" data-target="#modalTireCountsRemove"><i class="fa fa fa-remove"></i> Remove</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="30%">C3: Off-Road Pneumatic 1 to 15 KG</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0.00</td>
                                            <td class="txt-r">0.00</td>
                                            <td class="td-center" width="13%">
                                                <div class="btn-group dropdown-menu-actions">
                                                    <a data-toggle="dropdown" href="#">
                                                        <i class="glyphicon glyphicon-cog"></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#"><i class="fa fa-pencil-square-o"></i> Edit</a></li>
                                                        <li><a href="#" data-toggle="modal" data-target="#modalTireCountsRemove"><i class="fa fa fa-remove"></i> Remove</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="30%">C4: Off-Road Pneumatic 16 to 30 KG</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0.00</td>
                                            <td class="txt-r">0.00</td>
                                            <td class="td-center" width="13%">
                                                <div class="btn-group dropdown-menu-actions">
                                                    <a data-toggle="dropdown" href="#">
                                                        <i class="glyphicon glyphicon-cog"></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#"><i class="fa fa-pencil-square-o"></i> Edit</a></li>
                                                        <li><a href="#" data-toggle="modal" data-target="#modalTireCountsRemove"><i class="fa fa fa-remove"></i> Remove</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="30%">C5: Off-Road Pneumatic 31 to 70 KG</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0.00</td>
                                            <td class="txt-r">0.00</td>
                                            <td class="td-center" width="13%">
                                                <div class="btn-group dropdown-menu-actions">
                                                    <a data-toggle="dropdown" href="#">
                                                        <i class="glyphicon glyphicon-cog"></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#"><i class="fa fa-pencil-square-o"></i> Edit</a></li>
                                                        <li><a href="#" data-toggle="modal" data-target="#modalTireCountsRemove"><i class="fa fa fa-remove"></i> Remove</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="30%">C6: Off-Road Pneumatic 71 to 120 KG and Agricultural Tires 71 to 250 KG</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0.00</td>
                                            <td class="txt-r">0.00</td>
                                            <td class="td-center" width="13%">
                                                <div class="btn-group dropdown-menu-actions">
                                                    <a data-toggle="dropdown" href="#">
                                                        <i class="glyphicon glyphicon-cog"></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#"><i class="fa fa-pencil-square-o"></i> Edit</a></li>
                                                        <li><a href="#" data-toggle="modal" data-target="#modalTireCountsRemove"><i class="fa fa fa-remove"></i> Remove</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="30%">C7: Off-Road Pneumatic 121 to 250 KG</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0.00</td>
                                            <td class="txt-r">0.00</td>
                                            <td class="td-center" width="13%">
                                                <div class="btn-group dropdown-menu-actions">
                                                    <a data-toggle="dropdown" href="#">
                                                        <i class="glyphicon glyphicon-cog"></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#"><i class="fa fa-pencil-square-o"></i> Edit</a></li>
                                                        <li><a href="#" data-toggle="modal" data-target="#modalTireCountsRemove"><i class="fa fa fa-remove"></i> Remove</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="30%">C8: Off-Road Pneumatic 251 to 375 KG and Agricultural Tires 251 KG or more</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0.00</td>
                                            <td class="txt-r">0.00</td>
                                            <td class="td-center" width="13%">
                                                <div class="btn-group dropdown-menu-actions">
                                                    <a data-toggle="dropdown" href="#">
                                                        <i class="glyphicon glyphicon-cog"></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#"><i class="fa fa-pencil-square-o"></i> Edit</a></li>
                                                        <li><a href="#" data-toggle="modal" data-target="#modalTireCountsRemove"><i class="fa fa fa-remove"></i> Remove</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="30%">C9: Off-Road Pneumatic 376 to 700 KG</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0.00</td>
                                            <td class="txt-r">0.00</td>
                                            <td class="td-center" width="13%">
                                                <div class="btn-group dropdown-menu-actions">
                                                    <a data-toggle="dropdown" href="#">
                                                        <i class="glyphicon glyphicon-cog"></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#"><i class="fa fa-pencil-square-o"></i> Edit</a></li>
                                                        <li><a href="#" data-toggle="modal" data-target="#modalTireCountsRemove"><i class="fa fa fa-remove"></i> Remove</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="30%">C10: Off-Road Pneumatic 701 to 1200 KG</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0.00</td>
                                            <td class="txt-r">0.00</td>
                                            <td class="td-center" width="13%">
                                                <div class="btn-group dropdown-menu-actions">
                                                    <a data-toggle="dropdown" href="#">
                                                        <i class="glyphicon glyphicon-cog"></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#"><i class="fa fa-pencil-square-o"></i> Edit</a></li>
                                                        <li><a href="#" data-toggle="modal" data-target="#modalTireCountsRemove"><i class="fa fa fa-remove"></i> Remove</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="30%">C11: Off-Road Pneumatic 1201 KG or more</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0.00</td>
                                            <td class="txt-r">0.00</td>
                                            <td class="td-center" width="13%">
                                                <div class="btn-group dropdown-menu-actions">
                                                    <a data-toggle="dropdown" href="#">
                                                        <i class="glyphicon glyphicon-cog"></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#"><i class="fa fa-pencil-square-o"></i> Edit</a></li>
                                                        <li><a href="#" data-toggle="modal" data-target="#modalTireCountsRemove"><i class="fa fa fa-remove"></i> Remove</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="30%">C12: Solid &amp; Resilient 1 to 30 KG</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0.00</td>
                                            <td class="txt-r">0.00</td>
                                            <td class="td-center" width="13%">
                                                <div class="btn-group dropdown-menu-actions">
                                                    <a data-toggle="dropdown" href="#">
                                                        <i class="glyphicon glyphicon-cog"></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#"><i class="fa fa-pencil-square-o"></i> Edit</a></li>
                                                        <li><a href="#" data-toggle="modal" data-target="#modalTireCountsRemove"><i class="fa fa fa-remove"></i> Remove</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="30%">C13: Solid &amp; Resilient 31 to 60 KG</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0.00</td>
                                            <td class="txt-r">0.00</td>
                                            <td class="td-center" width="13%">
                                                <div class="btn-group dropdown-menu-actions">
                                                    <a data-toggle="dropdown" href="#">
                                                        <i class="glyphicon glyphicon-cog"></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#"><i class="fa fa-pencil-square-o"></i> Edit</a></li>
                                                        <li><a href="#" data-toggle="modal" data-target="#modalTireCountsRemove"><i class="fa fa fa-remove"></i> Remove</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="30%">C:14 Solid &amp; Resilient 61 to 250 KG</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0.00</td>
                                            <td class="txt-r">0.00</td>
                                            <td class="td-center" width="13%">
                                                <div class="btn-group dropdown-menu-actions">
                                                    <a data-toggle="dropdown" href="#">
                                                        <i class="glyphicon glyphicon-cog"></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#"><i class="fa fa-pencil-square-o"></i> Edit</a></li>
                                                        <li><a href="#" data-toggle="modal" data-target="#modalTireCountsRemove"><i class="fa fa fa-remove"></i> Remove</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="30%">C:15Solid &amp; Resilient 251 to 375 KG</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0.00</td>
                                            <td class="txt-r">0.00</td>
                                            <td class="td-center" width="13%">
                                                <div class="btn-group dropdown-menu-actions">
                                                    <a data-toggle="dropdown" href="#">
                                                        <i class="glyphicon glyphicon-cog"></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#"><i class="fa fa-pencil-square-o"></i> Edit</a></li>
                                                        <li><a href="#" data-toggle="modal" data-target="#modalTireCountsRemove"><i class="fa fa fa-remove"></i> Remove</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="30%">C16: Solid &amp; Resilient 376 to 700 KG</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0.00</td>
                                            <td class="txt-r">0.00</td>
                                            <td class="td-center" width="13%">
                                                <div class="btn-group dropdown-menu-actions">
                                                    <a data-toggle="dropdown" href="#">
                                                        <i class="glyphicon glyphicon-cog"></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#"><i class="fa fa-pencil-square-o"></i> Edit</a></li>
                                                        <li><a href="#" data-toggle="modal" data-target="#modalTireCountsRemove"><i class="fa fa fa-remove"></i> Remove</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="30%">C17: Solid &amp; Resilient 701 to 1200 KG</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0.00</td>
                                            <td class="txt-r">0.00</td>
                                            <td class="td-center" width="13%">
                                                <div class="btn-group dropdown-menu-actions">
                                                    <a data-toggle="dropdown" href="#">
                                                        <i class="glyphicon glyphicon-cog"></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#"><i class="fa fa-pencil-square-o"></i> Edit</a></li>
                                                        <li><a href="#" data-toggle="modal" data-target="#modalTireCountsRemove"><i class="fa fa fa-remove"></i> Remove</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="30%">C18: Solid &amp; Resilient 1201 KG or more</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0</td>
                                            <td class="txt-r">0.00</td>
                                            <td class="txt-r">0.00</td>
                                            <td class="td-center" width="13%">
                                                <div class="btn-group dropdown-menu-actions">
                                                    <a data-toggle="dropdown" href="#">
                                                        <i class="glyphicon glyphicon-cog"></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#"><i class="fa fa-pencil-square-o"></i> Edit</a></li>
                                                        <li><a href="#" data-toggle="modal" data-target="#modalTireCountsRemove"><i class="fa fa fa-remove"></i> Remove</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>*@
                            </div>
                        </div><!--/.row-->
                    </div>
                </div>
            </div><!-- /.panel -->
           
            <!-- /Component -->
            <!-- Modal: Tire Counts Category Remove  -->
            <div class="modal fade" id="modalTireCountsRemove" tabindex="-1" role="dialog" aria-labelledby="modalTireCountsRemove" aria-hidden="true">
                <div class="modal-dialog modal-md margin-top-100">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                            <h3 class="modal-title" id="modalTireCountsRemove" align="center">Confirmation</h3>
                        </div>
                        <div class="modal-body">
                            <div class="txt-c" style="padding:10px;">
                                <h4>Are you sure you would like to <strong>remove</strong> the category/class for <strong>Off-Road Pneumatic 71 to 120 KG</strong>?</h4>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-default color-tm-green-bg" data-dismiss="modal">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Modal  -->

        </div>
        <div class="col-lg-4">


            <!-- Component: Payments -->
            <div class="row">
                <div class="col-sm-12">

                    @using (Html.BeginForm("index", "TSFRemittance", FormMethod.Post, new { id = "fmPayments", style = "" }))
                    {
                    <!-- Component: Business Location -->
                    <div class="panel panel-default">
                        @*     @Html.Partial("_TSFRemittanceStaffPayment", Model, new ViewDataDictionary() { { "view", "Participant" } })*@
                        <div class="panel-heading" role="tab" id="panelOne-headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="http://preview.ontariots.ca/tm/permalinks/staff-all-steward-tsf-remittance.html#panelOne-collapseStatus" aria-expanded="true" aria-controls="panelOne-collapseStatus" class="panel-arrow-expand">
                                    Payments <i class="fa fa-file-text-o fa-fw uiaction-export" title="Export to CSV"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="panelOne-collapseStatus" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelOne-headingOne">
                            <div class="panel-body" style="padding-top:0;margin-top:0;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>&nbsp;</th>
                                                    <th style="text-align:right">Payment ($)</th>
                                                    <th>&nbsp;</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Subtotal</td>
                                                    <td class="textinput-nofield txt-r">10,345.00</td>
                                                    <td class="text-r">+</td>
                                                </tr>
                                                <tr>
                                                    <td>Penalties</td>
                                                    <td class="textinput-nofield txt-r"><input type="text" class="form-control txt-r" placeholder="1,000.56"></td>
                                                    <td class="text-r">=</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>TSF Due</strong></td>
                                                    <td class="textinput-nofield txt-r"><strong>11,345.56</strong></td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <hr>
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Status</th>
                                                    <th>&nbsp;</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Submitted</td>
                                                    <td class="textinput-nofield txt-r">@Model.Submitted</td>
                                                </tr>
                                                <tr>
                                                    <td>Payment Received</td>
                                                    <td class="textinput-nofield txt-r">
                                                        <div class="input-group date" id="datetimepicker5">
                                                            <input type="text" class="form-control" data-date-format="YYYY/MM/DD">
                                                                 <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Deposit</td>
                                                    <td class="textinput-nofield txt-r">
                                                        <div class="input-group date" id="datetimepicker5">
                                                            <input type="text" class="form-control" data-date-format="YYYY/MM/DD">
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Cheque/EFT #</td>
                                                    <td class="textinput-nofield txt-r"><input type="text" class="form-control" placeholder="1234567890"></td>
                                                </tr>
                                                <tr>
                                                    <td>Amount ($)</td>
                                                    <td class="textinput-nofield txt-r"><input type="text" class="form-control" placeholder="1,233.20"></td>
                                                </tr>
                                                <tr>
                                                    <td>Balance Due ($)</td>
                                                    <td class="txt-r"><p>3,432.04</p></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div><!--/.row-->
                            </div>
                        </div>


                    </div><!-- /.panel -->
                    }

                </div>
            </div><!--/.row-->
        </div>
    </div><!--/.row-->
    @*<div class="row">
        <div class="col-md-6">
            <!-- Component: Messages -->
            <div class="panel panel-default comp-messages">
                @Html.Partial("_MessagesPartial", new ViewDataDictionary() { { "view", "Staff" } })
            </div><!--/.panel-->
            <!-- /Component -->


        </div>
    </div><!--/.row-->*@
    <!-- Component: Supporting Documents -->
    @using (Html.BeginForm("index", "Registration", FormMethod.Post, new { id = "fmSupportingDoc", style = "" }))
    {
    <!-- Component: Supporting Documents -->
    <div class="panel panel-default">
        @*@Html.Partial("_SupportingDocPartialRemittance", Model.SupportingDocuments, new ViewDataDictionary() { { "view", "Participant" }, { "status", @statusStr }, { "prefix", @Html.GetExpressionText(p => p.SupportingDocuments) } })*@
    </div>
    <!-- /.panel -->
    <!-- /Component -->
    }
    <!-- /Component -->
    <!-- Component:  Actions -->
    <div class="row">
        <div class="col-sm-12" style="text-align:right;">
            <button type="button" class="btn color-tm-green-bg" data-toggle="modal" data-target="#modalSubmitRemittance">Submit $0 Remittance </button>
        </div>
    </div><!--/.row-->
    <br>
    <!-- /Component -->
    <!-- Component: Actions -->
    <div class="row">
        <div class="col-sm-12" style="text-align:right;">
            <button type="button" class="btn color-tm-green-bg" data-toggle="modal" data-target="#modalSubmitRemittance">Submit</button>
        </div>
    </div><!--/.row-->
    <br>
    <!-- /Component -->
    <!-- Modal: Submit  -->
    <div class="modal fade margin-top-100" id="modalSubmitRemittance" tabindex="-1" role="dialog" aria-labelledby="modalSubmitRemittance" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-le">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="modalSubmitRemittance" align="center">Submit TSF Remittance</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-l" style="padding:10px 60px;">
                        @Html.Raw(UIResource.TSFRemittanceCertify.ToString())
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="checkbox margin-top-5 txt-l" style="margin-left:20px;">
                                <label>
                                    <input type="checkbox"> <strong>I agree to the above statements.</strong>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#modalSubmitRemittanceTwo">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal  -->
    <!-- Modal: Submit Two  -->
    <div class="modal fade margin-top-100" id="modalSubmitRemittanceTwo" tabindex="-1" role="dialog" aria-labelledby="modalSubmitRemittanceTwo" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-le">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="modalSubmitRemittanceTwo" align="center">@UIResource.TSFRemittanceSubmitted</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-l" style="padding:20px 40px 10px 60px;">
                        @Html.Raw(UIResource.TSFRemittanceSubmittedMsg.ToString())
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-success" data-dismiss="modal">&nbsp; Ok &nbsp;</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal  -->
    <!-- Component: Activity -->
    <div class="panel panel-default comp-activity">
        <div class="panel-heading" role="tab" id="panelMyActivity-headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#panelMyActivity-collapseInventory" aria-expanded="true" aria-controls="panelMyActivity-collapseInventory" class="panel-arrow-expand">
                    Activity <i class="fa fa-file-text-o fa-fw uiaction-export" title="Export to CSV"></i>
                    <button type="button" class="btn btn-danger btn-xs comp-all-transactions-newrefresh-inline"> 14 New <i class="fa fa-refresh color-tm-gray" title="Refresh"></i></button>
                </a>
            </h4>
            <div class="col-xs-6 subcomp-search">
                <input style="visibility: hidden;" class="form-control" placeholder="Search" type="text">
                <div class="subcomp-search-found">Found 3</div><i class="glyphicon glyphicon-remove remove-icon"></i><i class="glyphicon glyphicon-search"></i>
            </div>
        </div>
        <div id="panelMyActivity-collapseInventory" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelMyActivity-headingOne">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Remittance <strong>Jul. 2014</strong> changed from <strong>Under Review</strong> to <strong>Approved</strong> by <strong>Amelia Narine</strong> on <strong>2014-08-02</strong> at <strong>4:22 PM</strong>.</td>
                                </tr>
                                <tr>
                                    <td>Remittance <strong>Jul. 2014</strong> changed from <strong>Submitted</strong> to <strong>Under Review</strong> by <strong>Amelia Narine</strong> on <strong>2014-08-01</strong> at <strong>11:34 AM</strong>.</td>
                                </tr>
                                <tr>
                                    <td>Remittance <strong>Jun. 2014</strong> changed from <strong>Under Review</strong> to <strong>Approved</strong> by <strong>Amelia Narine</strong> on <strong>Jul. 2, 2014</strong> at <strong>4:22 PM</strong>.</td>
                                </tr>
                            </tbody>
                        </table>
                        <a href="#" class="viewmore">More</a>
                    </div>
                </div><!--/.row-->
            </div>
        </div>
    </div><!--/.panel-->
    <!-- /Component -->


</div><!--/.participants-all-claims-->
<!-- ///////////// HTML Bottom ///////////// -->
@section scripts{
    <script type="text/javascript" src="~/Areas/Steward/Scripts/Remittances/participant-index.js?v=@ViewBag.versionid"></script>
}