﻿@model IEnumerable<CL.TMS.DataContracts.ViewModel.Steward.TSFRemittanceBriefModel>
@{
    ViewBag.Title = "TSFRemittances";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="tm-all participants-all-claims">
    <!-- Component: Transactions Header -->
    <div class="row comp-claims-header comp-variant-staff">
        <div class="col-xs-7 col-sm-6">
            <h2 style="margin-top:-5px;">TSF Remittances</h2>
            <a class="btn color-tm-green-bg" style="margin-top:10px;" href="@Html.AttributeEncode(Url.Action("Index", "TSFRemittances"))">New Remittance +</a>
        </div>
        <div class="col-xs-5 col-sm-6">
            <div class="sub-header-status txt-r">
                <div class="btn-group btn-toggle">
                    <label class="btn btn-xs btn-success active cursor-default">Active</label>
                </div>
            </div>
            <div class="popoverParticipantInfo" data-placement="auto">
                <div class="sub-header-registrantinfo">1000180</div>
                <div class="sub-header-companyname">Zach's Tire Steward</div>
            </div>
            <div id="popoverParticipantInfo" style="display:none;">
                <p>
                    <strong>Business Address</strong><br>
                    300 The East Mall, Suite 100<br>
                    Toronto, ON M9B 6B7
                </p>
                <p>
                    <strong>Primary Contact</strong><br>
                    Zach Dryman<br>
                    zdryman@rethinktires.ca<br>
                    647-426-6268
                </p>
            </div>
        </div>
    </div><!--/.row-->
    <!-- /Component -->
    <!-- Component: Remittances -->
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="panelRemittances-headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="http://preview.ontariots.ca/tm/permalinks/staff-all-steward-tsf-remittances.html#panelRemittances-collapseOne" aria-expanded="true" aria-controls="panelRemittances-collapseOne" class="panel-arrow-expand">
                    All TSF Remittances <i class="fa fa-file-text-o fa-fw uiaction-export" title="Export to CSV"></i>
                    <!-- <button type="button" class="btn btn-danger btn-xs comp-all-transactions-newrefresh-inline"> 14 New <i class="fa fa-refresh color-tm-gray" title="Refresh"></i></button> -->
                </a>
            </h4>
            <div class="col-xs-6 subcomp-search">
                <input type="text" class="form-control" placeholder="Search">
                <div class="subcomp-search-found">Found 3</div><i class="glyphicon glyphicon-remove remove-icon"></i><i class="glyphicon glyphicon-search"></i>
            </div>
        </div>
        <div id="panelRemittances-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelRemittances-headingOne">
            <div class="panel-body">              
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Period</th>
                            <th class="td-right-pad">Status</th>
                            <th class="td-right-pad">Due ($)</th>
                            <th class="td-right-pad">Payment ($)</th>
                            <th class="td-right-pad">Balance Due ($)</th>
                            <th class="td-right-pad">Submitted</th>
                            <th class="td-right-pad">Submitted By</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var itm in Model)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Detail", new {id=itm.ID })">
                                        @itm.Period
                                    </a>
                                </td>
                                <td class="td-right-pad">@itm.Status</td>
                                <td class="td-right-pad">@itm.Due</td>
                                <td class="td-right-pad">@itm.Payments</td>
                                <td class="td-right-pad">@itm.BalanceDue</td>
                                <td class="td-right-pad">@(itm.Submitted.HasValue ? itm.Submitted.Value.ToString("d") : "")</td>
                                <td class="td-right-pad">@itm.SubmittedBy</td>
                            </tr>
                        }                        
                    </tbody>
                </table>
                @*  *@        </a>
                <a href="http://preview.ontariots.ca/tm/permalinks/staff-all-steward-tsf-remittances.html#" class="viewmore">More</a>
            </div>
        </div>
    </div><!--/.panel-->
    <!-- /Component -->
    <!-- Component: Activity -->
    <div class="panel panel-default comp-activity">
        <div class="panel-heading" role="tab" id="panelMyActivity-headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="http://preview.ontariots.ca/tm/permalinks/staff-all-steward-tsf-remittances.html#panelMyActivity-collapseInventory" aria-expanded="true" aria-controls="panelMyActivity-collapseInventory" class="panel-arrow-expand">
                    Activity <i class="fa fa-file-text-o fa-fw uiaction-export" title="Export to CSV"></i>
                    <button type="button" class="btn btn-danger btn-xs comp-all-transactions-newrefresh-inline"> 14 New <i class="fa fa-refresh color-tm-gray" title="Refresh"></i></button>
                </a>
            </h4>
            <div class="col-xs-6 subcomp-search">
                <input type="text" class="form-control" placeholder="Search">
                <div class="subcomp-search-found">Found 3</div><i class="glyphicon glyphicon-remove remove-icon"></i><i class="glyphicon glyphicon-search"></i>
            </div>
        </div>
        <div id="panelMyActivity-collapseInventory" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelMyActivity-headingOne">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Claim <strong>Sep. 2014</strong> changed from <strong>Under Review</strong> to <strong>Approved</strong> by <strong>Stephan Gluchowski</strong> on <strong>2014-10-12</strong> at <strong>2:22 PM</strong>.</td>
                                </tr>
                                <tr>
                                    <td>Claim <strong>Sep. 2014</strong> changed from <strong>Submitted</strong> to <strong>Under Review</strong> by <strong>Stephan Gluchowski</strong> on <strong>2014-10-09</strong> at <strong>11:34 AM</strong>.</td>
                                </tr>
                                <tr>
                                    <td>Claim <strong>Aug. 2014</strong> changed from <strong>Under Review</strong> to <strong>Submitted</strong> by <strong>Stephan Gluchowski</strong> on <strong>2014-09-19</strong> at <strong>1:34 PM</strong>.</td>
                                </tr>
                            </tbody>
                        </table>
                        <a href="http://preview.ontariots.ca/tm/permalinks/staff-all-steward-tsf-remittances.html#" class="viewmore">More</a>
                    </div>
                </div><!--/.row-->
            </div>
        </div>
    </div><!--/.panel-->
    <!-- /Component -->
</div>
