﻿@model CL.TMS.DataContracts.ViewModel.Steward.TSFRemittanceModel
@using CL.TMS.Common
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface
@{
    ViewBag.Title = "ParticipantRemittanceDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isReadOnly = false;

    if (Model != null)
    {
        switch (Model.Status)
        {
            case ClaimStatus.Open:
                isReadOnly = false;
                break;
            default:
                isReadOnly = true;
                break;
        }
    }
    
    HtmlHelper.ClientValidationEnabled = false;
    var tokenId = ViewContext.RouteData.Values["id"];
    var statusStr = Model != null ? Model.Status.ToString() : String.Empty;
    var TSFNegAdjSwitchDate = Convert.ToDateTime(CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Settings.TSFNegAdjSwitchDate").Value);
    bool bShowCreditPanel = false;
    if (Model.PeriodDate >= TSFNegAdjSwitchDate) { bShowCreditPanel = true; }

    bool isPeriodDisplay = Model.Status == ClaimStatus.Unknown;
}

@section styles {
<link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />
}
<style>
    .disable-click {
        pointer-events: none;
    }

    .panel-default > .panel-heading a.export, .panel-default > .panel-heading a.export:hover {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        left: 110px;
        position: absolute;
        top: 11px;
        width: 25px;
    }

    .panel-default > .panel-heading a.payment-export, .panel-default > .panel-heading a.payment-export:hover {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        left: 97px;
        position: absolute;
        top: 11px;
        width: 25px;
    }

    .panel-default > .panel-heading a.internalnotes-export, .panel-default > .panel-heading a.internalnotes-export:hover {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        left: 134px;
        position: absolute;
        top: 11px;
        width: 25px;
    }

    .panel-default > .panel-heading a.internal-adjustment-export, .panel-default > .panel-heading a.internal-adjustment-export:hover {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        left: 192px;
        position: absolute;
        top: 11px;
        width: 25px;
    }
</style>
@Styles.Render("~/css/datetimepicker")

<div class="tm-all participants-all-claims">
    <span id="hfIsReadOnly" style="display:none">@isReadOnly</span>  
    @Html.HiddenFor(m => m.CustomerID, new { ID = "hdncustomerID" })
    @Html.HiddenFor(m => m.RegistrationNumber, new { ID = "hdnregistrationNumber" })
    @Html.HiddenFor(m => m.SRemitsPerYears, new { ID = "SRemitsPerYears" })
    <input type="hidden" id="hfPeriodStartDate" value="@ViewBag.PeriodStartDate" />
    <input type="hidden" id="tsfNegAdjSwitchDate" value="@CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Settings.TSFNegAdjSwitchDate").Value" />
    <input type="hidden" id="tsfMonthYearSelectionDate" value="@CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Settings.TSFMonthYearSelectionDate").Value" />
    <input type="hidden" name="TSFRemittance.ClaimID" value="@Model.ID" id="ClaimID" />
    <input type="hidden" name="TSFRemittance.DetailID" value="@Model.TSFRemittance.DetailID" id="ClaimDetailID" />
    <input type="hidden" id="hdCBRemittanceNilAutoApprove" value="@CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Threshold.CBRemittanceNilAutoApprove").Value" />

    <!-- Component: Transactions Header -->
    <div id="fixedClaimHeader" class="row comp-claims-header fixed-claim-header">
        <div class="col-xs-7 col-sm-6">           
            <h2 class="fixed-claim-header-title">TSF Remittance Summary</h2>
            <claim-bread-crumb></claim-bread-crumb>
            <div id="ReportPeriod" class="fixed-claim-header-remittance-period">@Model.PayPeriod</div>
            <div class="@(Model.PayPeriod != null ? "fixed-claim-header-remittance-2x12x" : "fixed-claim-header-remittance-2x12x-withoutperiod")">
               
                <div data-placement="bottom" title="@string.Format("{0:yyyy-MM-dd}", Convert.ToDateTime(Model.RemitsPerYearSwitchDate))" data-toggle="tooltip" class="btn-group btn-toggle" id="StewardSetting">
                   
                    @if (Model.SRemitsPerYears == false)
                    {
                        <button id="activeGreenButton" class="btn btn-xs active color-tm-red-bg fixed-claim-header-btn-group-anchor" type="button" data-toggle="modal" data-target="#modalGeneratorOn">2x</button>
                    }
                    else
                    {
                        <button id="inactiveRedButton" class="btn btn-xs active color-tm-red-bg fixed-claim-header-btn-group-anchor" type="button" data-toggle="modal" data-target="#modalGeneratorOn">12x</button>
                    }
                </div>
            </div>
            <div class="color-tm-orange fixed-claim-header-remittance-status" id="divStatus">@Model.Status</div><small></small>
            
        </div>
        <div class="col-xs-5 col-sm-6">
            <div class="popoverParticipantInfo-noneed" data-placement="auto">
                <div class="sub-header-registrantinfo fixed-claim-header-registrantinfo">@(Model.RegistrationNumber == "0" ? "" : Model.RegistrationNumber.ToString())</div>
            </div>
            <div>
                <div class="float-right txt-r" style="width:100%"></div>            
            </div>
        </div>
    </div>

    <div class="row" style="@(isPeriodDisplay ? "display: block; margin-top:70px" : "display:none; margin-top:0")">
        <div class="col-sm-5 col-sm-offset-7 txt-r">
            <label for="" style="font-weight:normal;">@UIResource.TSFChooseRemittancePeriod</label>
            <div class="form-group">
                <div class="input-group date" id="dpPeriodDate">                  
                    @Html.TextBoxFor(m => m.PeriodDate,  new { @class = "form-control txt-r fixed-claim-header-remittance-datepicker-input", @readonly = "readonly", placeholder = Model.PeriodDate, datedata=Model.PeriodDate })
                    <input type="hidden" id="set" class="set" />
                    <span class="input-group-addon" id="Calender">
                        <span class="glyphicon glyphicon-calendar" style="cursor:pointer;"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
   
    <div class="row margin-top--10">
        <div class="col-lg-8">
            <!-- Component: Tire Counts -->
            @using (Html.BeginForm("AddRemittance", "TSFRemittances", FormMethod.Post, new { id = "fmRemittanceTireCount", name = "fmRemittanceTireCount", style = "" }))
            {
            <!-- Component: Remittance -->
                <div class="panel panel-default" id="RemittanceTireCount" style="@(isPeriodDisplay ? "margin-top: 20px" : "margin-top: 80px")">
                    @Html.Partial("_TSFRemittanceTireCounts", Model, new ViewDataDictionary() { { "view", "Participant" }, { "AllowEdit", @ViewBag.AllowEdit } })
                </div>

            }

            @if (Model.PeriodDate >= TSFNegAdjSwitchDate)
            {
        
                <div class="panel panel-default">
                    @Html.Partial("_TSFRemittanceCredit", Model, new ViewDataDictionary() { { "view", "Participant" }, { "AllowEdit", ViewBag.AllowEdit } })
                </div>
         
            }

            @if (Model.ID != 0)
            {
                @Html.Partial("_TSFInternalAdjustmentPartial")
            }                     
           
            <!-- Modal: Tire Counts Category Remove  -->
            <div class="modal fade" id="modalTireCountsRemove" tabindex="-1" role="dialog" aria-labelledby="modalTireCountsRemove" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-md margin-top-100">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                            <h3 class="modal-title" id="modalTireCountsRemove" align="center">@UIResource.Confirm</h3>
                        </div>
                        <div class="modal-body">
                            <div class="txt-c" style="padding:10px;">
                                <h4>Are you sure you would like to <strong>remove</strong> the category/class for <strong><label for="categeory" id="lblcategory"></label></strong>?</h4>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                                <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                                @UIResource.CommonWordNo
                            </button>
                            <button id="remove" type="button" class="btn btn-success btn-lg" data-dismiss="modal">
                                <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                                @UIResource.CommonWordYes
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-lg-4">
            <!-- Component: Payments -->
            <div class="row">
                <div class="col-sm-12">

                    @using (Html.BeginForm("index", "TSFRemittance", FormMethod.Post, new { id = "fmPayments", style = "" }))
                    {
                    <!-- Component: Business Location -->
                        <div class="@(isPeriodDisplay ? "panel panel-default fixed-claim-header-margin-top-20" : "panel panel-default fixed-claim-header-margin-top-80")">
                            @Html.Partial("_TSFRemittanceParticipantPayment", Model, new ViewDataDictionary() { { "view", "Participant" }, { "AllowEdit", ViewBag.AllowEdit } })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- Component: Supporting Documents -->
    @using (Html.BeginForm("index", "Registration", FormMethod.Post, new { id = "fmSupportingDoc", style = "" }))
    {
        <!-- Component: Supporting Documents -->
        <div class="panel panel-default">
            @Html.Partial("_SupportingDocPartialRemittance", Model.SupportingDocuments, new ViewDataDictionary() { { "view", "Participant" }, { "status", @statusStr }, { "prefix", @Html.GetExpressionText(p => p.SupportingDocuments) }, { "AllowEdit", (@ViewBag.AllowEdit == null) ? false : @ViewBag.AllowEdit }, { "allowFileDownload", true }, { "InvalidFormFieldList", Model.InvalidFormFields }, })
        </div>   
    }
    
    <!-- Component:  Actions -->
    <div class="row no-validate" id="btnSection">
        <div class="col-sm-12" style="text-align:right;">
            @switch (Model.Status)
            {
                case ClaimStatus.Open:
                 
                    string target = "modalSubmitRemittance";
                    string targetZeroRemit = "modalSubmitRemittance";
                    if (Model.PeriodDate != null)
                    {
                        if (DateTime.Now.AddMonths(-1) <= Model.PeriodDate.Value)
                        {
                            target = "modalSubmitRemittanceError";
                            targetZeroRemit = "modalSubmitRemittanceError";
                        }
                        if ((Model.PenaltiesManually != null) || (Model.PeriodDate.Value.AddMonths(2).AddDays(3) < (Model.PayReceiptDate != null ? Model.PayReceiptDate : DateTime.UtcNow) && Model.PeriodDate.Value.Year != 2009))
                        {
                            target = "modalSubmitRemittanceWarning";
                        }
                    }
                    var disableSubmit = false;
                    if (string.IsNullOrEmpty(Model.PaymentType) || !@ViewBag.AllowSubmit)
                    {
                        disableSubmit = true;
                    }
                    if ((Model.LineItems != null && Model.LineItems.Count > 0) || Model.InternalPaymentAdjustmentCount >0)
                    {
                        <button id="submitRemittanceClaimBtn" type="button" class="btn btn-success" data-toggle="modal" @(disableSubmit ? "disabled=''" : "") data-target="#@target">Submit</button>
                    }
                    else
                    {
                        <button id="submitRemittanceClaimBtn" type="button" class="btn btn-success" data-toggle="modal" @(disableSubmit ? " " : "") data-target="#@targetZeroRemit">Submit $0 Remittance </button>
                    }
                   
                    break;
            }
        </div>
    </div>
    <br> 
    <br>
    <!-- Modal: QTY Greater warning  -->
    <div class="modal fade margin-top-100" id="modalQtyGreaterWarning" tabindex="-1" role="dialog" aria-labelledby="modalQtyGreaterWarning" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-le">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="modalQtyGreaterWarning" align="center">Warning</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c">
                        Negative Adj.  must be less than the Qty.
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="checkbox margin-top-5 txt-l" style="margin-left:20px;">
                                <label>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" data-toggle="modal">
                                <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                                Ok
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal: Submit error  -->
    <div class="modal fade margin-top-100" id="modalSubmitRemittanceError" tabindex="-1" role="dialog" aria-labelledby="modalSubmitRemittanceError" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-le">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="modalSubmitRemittanceError" align="center">Warning</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c">
                        You can not submit remittance for the current open month.
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="checkbox margin-top-5 txt-l" style="margin-left:20px;">
                                <label>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" data-toggle="modal">
                                <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                                Ok
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal: Submit warning-->
    <div class="modal fade margin-top-100" id="modalSubmitRemittanceWarning" tabindex="-1" role="dialog" aria-labelledby="modalSubmitRemittanceWarning" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-le">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="modalSubmitRemittanceWarning" align="center">Warning</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c">
                        Your Remittance has passed Due Date, Penalty will be applied.
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="checkbox margin-top-5 txt-l" style="margin-left:20px;">
                                <label>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" data-target="#modalSubmitRemittance" data-toggle="modal">
                                <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                                Ok
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Modal: Submit-->
    <div class="modal fade margin-top-100" id="modalSubmitRemittance" tabindex="-1" role="dialog" aria-labelledby="modalSubmitRemittance" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-le">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="modalSubmitRemittance" align="center">Confirm</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c">
                        @Html.Raw(UIResource.TSFRemittanceCertify.ToString().Replace("[CompanyName]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.Name").Value))
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="checkbox margin-top-5 txt-l" style="margin-left:20px;">
                                <label>
                                    <input type="checkbox" id="chkterms"> <strong>I agree to the above statements.</strong>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                                <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                                No
                            </button>
                            <button type="button" id="btnsubmit" class="btn btn-success btn-lg" data-dismiss="modal" data-toggle="modal">
                                <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                                Yes
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <!-- Modal: Submit Two  -->
    <div class="modal fade margin-top-100" id="modalSubmitRemittanceTwo" tabindex="-1" role="dialog" aria-labelledby="modalSubmitRemittanceTwo" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-le">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="modalSubmitRemittanceTwo" align="center">@UIResource.TSFRemittanceSubmitted</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c">
                        @if (Model.LineItems == null || Model.LineItems.Count == 0)
                        {
                            <p><strong>Thank you, We have successfully received your TSF submission.</strong></p>
                        }
                        else
                        {
                            @Html.Raw(UIResource.TSFRemittanceSubmittedMsg.Replace("[CompanyName]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.Name").Value).Replace("[CompanyAddressLine1]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.AddressLine1").Value).Replace("[CompanyAddressLine2]", !string.IsNullOrWhiteSpace(@CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.AddressLine2").Value) ? ", " + @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.AddressLine2").Value : "").Replace("[CompanyCity]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.City").Value).Replace("[CompanyProvince]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.Province").Value).Replace("[CompanyPostalCode]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.PostalCode").Value).Replace("[CompanyEmail]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.Email").Value))
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <button id="btnOk" type="button" class="btn btn-success btn-lg" data-dismiss="modal">
                                <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                                Ok
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Customer Setting Alert  -->
    <div class="modal fade margin-top-100" id="modalCustomerSettingAlert" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalCustomerSettingAlert" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-le">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="modalCustomerSettingAlertTitle" align="center">Warning</h3>
                </div>
                <div class="modal-body">
                    <div style="padding:20px">
                        <h4 class="txt-c" id="modalCustomerSettingAlertBody"></h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="modalCustomerSettingAlertOkBtn" class="btn btn-success btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                        OK
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal: Internal Adjustments  -->
    <script type="text/ng-template" id="internalAdjustModal.html">
        <div class="modal-content">
            <form id="internalAdjustForm" name="internaladjustForm" novalidate ng-submit="confirm(returnCurrentChooseType(selectedItem))">
                <div class="modal-header modal-header-le">
                    <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="modalInternalAdj" align="center" ng-show="modalResult.isAdd && !isReadOnly"> Adjustment</h3>
                    <h3 class="modal-title" id="modalInternalAdjEdit" align="center" ng-show="!modalResult.isAdd && !isReadOnly"> Adjustment</h3>
                    <h3 class="modal-title" id="modalInternalAdjView" align="center" ng-show="!modalResult.isAdd && isReadOnly"> Adjustment</h3>
                </div>
                <div class="modal-body">
                    <div style="padding:0 20px;">
                        <div class="row">
                            <div class="col-sm-3 col-md-3">
                                <h4>Choose Type</h4>
                                <select class="form-control" id="internaladj-selector"
                                        ng-options="item.name for item in items"
                                        ng-model="selectedItem" ng-disabled="chooseTypeIsDisable"></select>
                            </div>
                        </div>
                        <div id="internaladj-payment" class="internaladj-options" ng-if="selectedItem.id=='1'">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="radio-internaladj-option-3-1" value="Overall" ng-model="modalResult.paymentType" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                            Overall
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="radio-internaladj-option-3-1" value="AuditAssessment" ng-model="modalResult.paymentType" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                            Audit Assessment
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="radio-internaladj-option-3-1" value="AuditPenalty" ng-model="modalResult.paymentType" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                            Audit Penalty
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-5 txt-r">
                                    <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_amount')}">
                                        <br>
                                        <label for="">Amount ($)</label>
                                        <input type="number" class="form-control txt-r" placeholder="0.00" ng-model="modalResult.amount" ng-pattern="/^-?[0-9]+(\.[0-9]{1,2})?$/" step="0.01" ng-disabled="isReadOnly||disableForReadOnlyStaff" name="amount" required>
                                        <div ng-show="internaladjustForm.$submitted || internaladjustForm.amount.$touched">
                                            <p class="help-block" ng-show="getErrorRule(selectedItem, '_amount')">Please enter at least one character for Amount.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span style="color: #a94442" ng-show="internaladjustForm.$submitted && allZeroes(modalResult.amount)">Payment should have value not equal to 0</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-lg" ng-click="cancel()">
                        <i class="glyphicon fa fa-times-circle-o glyphicon-times-circle-o icon-times-circle-o" aria-hidden="true"></i>
                        Close
                    </button>
                </div>
            </form>
        </div>
    </script>

    @Html.Partial("_TSFRemittanceLoadConformModal", new ViewDataDictionary() { { "view", "Participant" } })
    @Html.Partial("_TSFClaimSummaryBreadCrumb")
</div><!--/.participants-all-claims-->

@section scripts{
    <script type="text/javascript" src="~/js/loading-spin.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/Areas/Steward/Scripts/Remittances/participant-index.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript">
        //list of Resources text needed
        Global = {};
        Global.ExportUrl = {
            TireCountsExportUrl: '@Url.Action("ExportToExcelForTireCounts", "TSFRemittances", new { id = @Model.ID})',
            PaymentsExportUrl: '@Url.Action("ExportToExcelForPayments", "TSFRemittances", new{remittancesId = Model.ID})',
            CreditExportUrl: '@Url.Action("ExportToExcelForCredit", "TSFRemittances", new { id = Model.ID })',
        };
        Global.Remittance = {
            bShowCreditPanel: '@bShowCreditPanel' == 'True',
            AddTireCountsCreditUrl: '@Url.Action("AddRemittance", "TSFRemittances", new { id = @Model.ID })',
            bSubmitBtnGreen: false,
            AddTireCountsUrl: '@Url.Action("AddRemittance", "TSFRemittances")',
            @*PageIsReadonly: !('True' == '@ViewBag.AllowEdit'),*@
            DisableRemittanecEffectiveDate: '@ViewBag.DisableRemittanceEffectiveDate',
            PageIsReadonly: ('False' == '@ViewBag.AllowEdit') && ('False' == '@ViewBag.AllowSubmit'),  //Permission for submit
            PageCanBeSubmitted: 'True' == '@ViewBag.AllowSubmit', //Permission for submit
            bResetDTpicker: true,
            ClaimsStatus: '@Model.Status',
            InternalAdjustmentHandleUrl: '@Url.Action("GetListHandlerInternalAdjustment", "TSFRemittances", new { area = "Steward", ClaimId = @Model.ID })',
            GetInternalAdjustmentUrl: '@Url.Action("GetInternalAdjustment", "TSFRemittances", new { area = "Steward" })',
            InternalAdjustmentExportUrl: '@Html.Raw(@Url.Action("ExportToExcelInternalAdjustment", "TSFRemittances", new { area = "Steward", ClaimId = @Model.ID, searchText = "----", sortColumn = "AAA", sortDirection = "BBB" }))',
            ActiveStatus: '@Model.ActivityStatus',
            ActivityApprovedDate: '@(Model.ActivityApprovedDate.Value.ToString("MM/dd/yyyy", System.Globalization.CultureInfo.InvariantCulture))',
        };
        Global.ParticipantClaimsSummary = {
            LoadClaimPeriods: '@Url.Action("LoadTSFRemittancesPeriodBreadCrumb", "TSFRemittances", new { area= "Steward" })',
            BreadCrumbUrl: '/Steward/TSFRemittances/ParticipantIndex/',
            CustomerId: '@Model.CustomerID',
            TSFClaimID:'@Model.TSFClaimID'
        };
    </script>
    
    @Scripts.Render("~/bundles/angular-datatables-scroller")
    @Scripts.Render("~/bundles/angulardatatable")
    @Scripts.Render("~/bundles/jquerydatatable")
    <script type="text/javascript" src="~/Areas/Steward/Scripts/Remittances/tsf-participant-claim-lib.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/Areas/Steward/Scripts/Remittances/tsf-participant-internal-adjustment-list.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/Areas/Steward/Scripts/Remittances/tsf-common-lib.js?v=@ViewBag.versionid"></script>
}