@using CL.TMS.Resources
@using CL.TMS.Common
@using CL.TMS.Security.Authorization

@model IEnumerable<CL.TMS.DataContracts.ViewModel.Steward.TSFRemittanceBriefModel>
@{
    ViewBag.Title = "TSFRemittances";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
   <link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />

<style>
    /*OTSTM2-984 keep panel search textbox visible all the time*/
    #SearchApplications {
        visibility: visible;
        width: 190px;
    }
</style>
}
<div class="tm-all participants-all-claims">

    <!-- Component: Transactions Header -->
    <div id="fixedClaimHeader" class="row comp-claims-header fixed-claim-header">
        <div class="col-xs-7 col-sm-6">
            <h2 class="fixed-claim-header-title">@UIResource.TSFRemittanceTitle</h2>
            
        </div>
        @if (null != SecurityContextHelper.CurrentVendor)
        {
            <div class="col-xs-5 col-sm-6">
                <div class="sub-header-registrantinfo fixed-claim-header-registrantinfo">@SecurityContextHelper.CurrentVendor.RegistrationNumber</div>
                <div class="sub-header-companyname fixed-claim-header-companyname">@SecurityContextHelper.CurrentVendor.BusinessName</div>
            </div>
        }
    </div><!--/.row-->
    <div>
        @if (ViewBag.AllowAddNew)
        {
            <a class="btn btn-success" style="margin-top:70px;" href="@Html.AttributeEncode(Url.Action("ParticipantIndex", "TSFRemittances"))">New Remittance +</a>
        }
    </div>
   
    <!-- Component: Claims Status -->
    <div class="panel panel-default"style="@(ViewBag.AllowAddNew ? "margin-top: 20px" : "margin-top: 85px")">
        <div class="panel-heading" role="tab" id="panelName-headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#panelRemittances-collapseOne" aria-expanded="true" aria-controls="panelName-collapseOne" class="panel-arrow-expand">
                    @UIResource.TSFRemittanceAll <i id="exportApplicationToExcel" class="fa fa-file-text-o fa-fw uiaction-export" title="Export to CSV"></i>
                    <!--<button type="button" class="btn btn-danger btn-xs comp-all-transactions-newrefresh-inline"> 14 New <i class="fa fa-refresh color-tm-gray" title="Refresh"></i></button>-->
                </a>
            </h4>
            <div class="col-xs-6 subcomp-search">
                @*<input class="form-control" placeholder="Search" type="text">*@
                <input id="SearchApplications" type="text" class="form-control" placeholder="Search">
                <div id="txtFoundApplications" class="subcomp-search-found" style="white-space: nowrap">&nbsp;</div>
                <i id="glyphicon-remove-App" class="glyphicon glyphicon-remove remove-icon"></i><i class="glyphicon glyphicon-search"></i>
            </div>
        </div>
        <div id="panelRemittances-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelRemittances-headingOne">
            <div class="panel-body">
                <table id="tblApplicationlist" class="table table-hover display truncate datatable-100-perc" style="cursor:pointer;">
                    <thead>
                        <tr>
                            <th>Period</th>
                            <th class="txt-c">Status</th>
                            <th>Total ($)</th>
                            <th>Payment ($)</th>
                            <th>Balance Due ($)</th>
                            <th>Submitted</th>
                            <th>Submitted By</th>
                            @*OTSTM2-984 followed <th>s should be added to be consistent with js datatables*@
                            <th>Actions</th>
                            <th class="display-none"></th>
                            <th class="display-none"></th>
                        </tr>
                    </thead>
                    <tfoot class="column-search"> @*OTSTM2-984*@
                        <tr>
                            <th class="search-filter">Period</th>
                            <th class="txt-c search-filter">Status</th>
                            <th class="search-filter">Total ($)</th>
                            <th class="search-filter">Payment ($)</th>
                            <th class="search-filter">Balance Due ($)</th>
                            <th class="search-filter">Submitted</th>
                            <th class="search-filter">Submitted By</th>
                            @*OTSTM2-984 followed <th>s should be added to be consistent with js datatables*@
                            <th></th>
                            <th class="display-none"></th>
                            <th class="display-none"></th>
                        </tr>
                    </tfoot>
                </table>

                <a href="#" style="width:30px;margin-top: 1px !important;" id="ApplicationsViewMore" class="viewmore">@UIResource.More</a>
            </div>
        </div>
    </div><!--/.panel-->
   
</div>
@section Scripts{
    @*<script src="~/js/jquery.dataTables.js"></script>
        <script type="text/javascript" src="/js/dataTables.scroller.js"></script>*@
    @Scripts.Render("~/bundles/jquerydatatable")
    <script type="text/javascript" src="~/js/loading-spin.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript">
        //list of Resources text needed
        Global = {};
        Global.Remittance = {
            Resources: {
                FirstNameRequired: '@ViewBag.FirstNameRequired',
                LastNameRequired: '@ViewBag.LastNameRequired'
            },
            ViewOption: {
                showActionGear: '@ViewBag.showActionGear',
                showAssignToMe: '@ViewBag.showAssignToMe',
            },
            ApplicationExportUrl: '@Url.Action("ExportToExcelForRemittance", "TSFRemittances", new { searchText = "----", sortColumn = "AAA", sortDirection = "BBB",
                              searchTextPeriod = "-st-period", searchTextStatus = "-st-status", searchTextTotalReceivable = "-st-total", searchTextPayment = "-st-payment",
                          searchTextBalanceDue = "-st-balancedue", searchTextSubmitted = "-st-submitted", searchTextSubmittedBy = "-st-submittedby"})', //OTSTM2-984
            AssignToMeUrl: '@ViewBag.assignToMeUrl',
            PageIsReadonly: !('True' == '@ViewBag.AllowEdit'),
        };
    </script>
    <script src="~/Areas/Steward/Scripts/Remittances/ParticipantRemittancesSummary.js?v=@ViewBag.versionid"></script>

}