﻿@model IEnumerable<CL.TMS.DataContracts.ViewModel.Steward.TSFRemittanceBriefModel>
@using CL.TMS.Common.Enum;
@{
    ViewBag.Title = "TSFRemittances";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    
<link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />
    
<style>
    /*OTSTM2-984 keep panel search textbox visible all the time*/
    #SearchApplications {
        visibility: visible;
        width: 190px;
    }
</style>

}
<div class="tm-all participants-all-claims">
    <!-- Component: Transactions Header -->
    <div id="fixedClaimHeader" class="row comp-claims-header fixed-claim-header">
        <div class="col-xs-7 col-sm-6">
            <h2 class="fixed-claim-header-title">@UIResource.TSFRemittanceTitle</h2>          
        </div>
        <div class="col-xs-5 col-sm-6">
            @if (ViewBag.ActivityStatus != null)
            {
                <div class="sub-header-status txt-r">
                    <div class="btn-group btn-toggle fixed-claim-header-active-status" data-toggle="tooltip" title="" data-placement="left" data-original-title='@(ViewBag.ActivityApprovedDate != null ? string.Format("{0:yyyy-MM-dd}", ViewBag.ActivityApprovedDate) : string.Empty)'>
                        @if (ViewBag.ActivityStatus == ActivityStatusEnum.Active)
                        {
                            <button class="btn btn-xs active color-tm-green-bg" data-toggle="modal">Active</button>
                        }
                        else
                        {
                            <button class="btn btn-xs active color-tm-red-bg" data-toggle="modal">Inactive</button>
                        }
                    </div>
                    <div class="btn-group btn-toggle" id="showApprovedItem">
                    </div>
                </div>
            }
            <div class="popoverParticipantInfo" data-placement="auto">
                <div class="sub-header-registrantinfo fixed-claim-header-registrantinfo-steward">@ViewBag.RegistrationNumber</div>
                @if (ViewBag.BusinessName != null)
                {
                    <div class="sub-header-companyname fixed-claim-header-companyname">@ViewBag.BusinessName</div>
                }
                <div id="popoverParticipantInfo" style="display: none;">

                    <strong>Business Address</strong><br>
                    @if (ViewBag.Address != null)
                    {
                        <p>
                            @(ViewBag.Address.Address1 == null ? "" : ViewBag.Address.Address1.ToString()), @(ViewBag.Address.Address2 == null ? "" : ViewBag.Address.Address2.ToString())<br>
                            @(ViewBag.Address.City == null ? "" : ViewBag.Address.City.ToString()), ON @(ViewBag.Address.PostalCode == null ? "" : ViewBag.Address.PostalCode.ToString())
                        </p>
                    }
                    <strong>Primary Contact</strong><br>
                    @if (ViewBag.PrimaryContact != null)
                    {
                        <p>
                            @(ViewBag.PrimaryContact.FirstName == null ? "" : ViewBag.PrimaryContact.FirstName.ToString()) @(ViewBag.PrimaryContact.LastName == null ? "" : ViewBag.PrimaryContact.LastName.ToString()) <br>
                            @(ViewBag.PrimaryContact.Email == null ? "" : ViewBag.PrimaryContact.Email.ToString())<br>
                            @(ViewBag.PrimaryContact.PhoneNumber == null ? "" : ViewBag.PrimaryContact.PhoneNumber.ToString())
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
    <div>
        <a id="addNewRemit" class="btn btn-success disabled" style="margin-top:70px;" href="@Html.AttributeEncode(Url.Action("StaffIndex", "TSFRemittances"))">New Remittance +</a>
    </div>
   
    <!-- Component: Claims Status -->
    <div class="panel panel-default" style="margin-top:20px;">
        <div class="panel-heading" role="tab" id="panelName-headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#panelRemittances-collapseOne" aria-expanded="true" aria-controls="panelName-collapseOne" class="panel-arrow-expand">
                    @UIResource.TSFRemittanceAll <i id="exportApplicationToExcel" class="fa fa-file-text-o fa-fw uiaction-export" title="Export to CSV"></i>                   
                </a>
            </h4>
            <div class="col-xs-6 subcomp-search">
                <input id="SearchApplications" class="form-control" placeholder="Search" type="text">              
                <div id="txtFoundApplications" class="subcomp-search-found" style="white-space: nowrap">&nbsp;</div>
                <i id="glyphicon-remove-App" class="glyphicon glyphicon-remove remove-icon"></i>
                <i id="glyphicon-search-App" class="glyphicon glyphicon-search"></i>
                <br />

            </div>
        </div>
        <div id="panelRemittances-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelRemittances-headingOne">
            <div class="panel-body">
                <table id="tblApplicationlist" class="display table truncate table-hover table-responsive datatable-100-perc" style="cursor:pointer;">
                    <thead>
                        <tr>
                            <th>Period</th>
                            <th class="txt-c">Status</th>
                            <th>Total ($)</th>
                            <th>Payment ($)</th>
                            <th>Balance Due ($)</th>
                            <th>Submitted</th>
                            <th>Submitted By</th>                           
                            <th>Actions</th>
                            <th class="display-none"></th>
                            <th class="display-none"></th>
                        </tr>
                    </thead>
                    <tfoot class="column-search"> @*OTSTM2-984*@
                        <tr>
                            <th class="search-filter">Period</th>
                            <th class="txt-c search-filter">Status</th>
                            <th class="search-filter">Total ($)</th>
                            <th class="search-filter">Payment ($)</th>
                            <th class="search-filter">Balance Due ($)</th>
                            <th class="search-filter">Submitted</th>
                            <th class="search-filter">Submitted By</th>                          
                            <th></th>
                            <th class="display-none"></th>
                            <th class="display-none"></th>
                        </tr>
                    </tfoot>
                </table>
                <a href="#" style="width:30px;margin-top: 1px !important;" id="ApplicationsViewMore" class="viewmore">@UIResource.More</a>
            </div>
        </div>
    </div>
   
</div>
@section Scripts{

    @Scripts.Render("~/bundles/jquerydatatable")
    <script type="text/javascript" src="~/js/loading-spin.js?v=@ViewBag.versionid"></script>
   <script type="text/javascript">
    //list of Resources text needed
    Global = {};
    Global.Remittance = {
        Resources: {
            FirstNameRequired: '@ViewBag.FirstNameRequired',
            LastNameRequired: '@ViewBag.LastNameRequired'
        },
        ViewOption: {
            showActionGear: '@ViewBag.showActionGear',
            showAssignToMe: '@ViewBag.showAssignToMe',
        },
        ApplicationExportUrl: '@Url.Action("ExportToExcelForRemittance", "TSFRemittances", new { searchText = "----", sortColumn = "AAA", sortDirection = "BBB",
                              searchTextPeriod = "-st-period", searchTextStatus = "-st-status", searchTextTotal = "-st-total", searchTextPayment = "-st-payment",
                          searchTextBalanceDue = "-st-balancedue", searchTextSubmitted = "-st-submitted", searchTextSubmittedBy = "-st-submittedby"})', //OTSTM2-984
        AssignToMeUrl: '@ViewBag.assignToMeUrl',
        AllowEdit: '@ViewBag.AllowEdit',
    };
        if("@ViewBag.AllowAddNew" === "True")
        {
            $("#addNewRemit").removeClass("disabled");
        };
    </script>
    <script src="~/Areas/Steward/Scripts/Remittances/StaffRemittancesSummary.js?v=@ViewBag.versionid"></script>
}