﻿@using CL.TMS.Security.Authorization;
@model IEnumerable<CL.TMS.DataContracts.ViewModel.Steward.TSFRemittanceBriefModel>
@{
    ViewBag.Title = "StaffTSFRemittanceAssignment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string StewardWorkFlow = SecurityContextHelper.StewardClaimsWorkflow != null ? SecurityContextHelper.StewardClaimsWorkflow.Workflow : string.Empty;
    bool StewardActionGear = SecurityContextHelper.StewardClaimsWorkflow != null ? SecurityContextHelper.StewardClaimsWorkflow.ActionGear : false;
    var user = HttpContext.Current.User as System.Security.Claims.ClaimsPrincipal;
    var roles = user.Claims.Where(c => c.Type == System.Security.Claims.ClaimTypes.Role);
    bool bSuperAdmin = roles.Any(i => i.Value.ToString() == "Super Admin");
}

@section styles {
    <link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />

    <style>
    /*OTSTM2-929 keep panel search textbox visible all the time*/
    #SearchApplications{
        visibility:visible;
        width: 190px;
    }  
    </style>
     
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmStewardRemittanceAssignment" }))
{
    <input id="selectedName" name="" type="hidden" value="" />
    <input id="selectedApplicationToken" name="" type="hidden" value="" />
    <input id="selectedApplicationID" name="" type="hidden" value="" />
    <input id="assgnToMeApplicationToken" name="" type="hidden" value="" />
    <input id="assgnToMeApplicationID" name="" type="hidden" value="@ViewBag.assignToMeId" />
    <input id="selectedUsername" name="" type="hidden" value="" />
    <input id="assignVendorType" name="" type="hidden" value="" />
    <input id="selectedUserID" name="" type="hidden" value="" />
    <input id="assignActionURL" name="" type="hidden" value="" />
    <input id="unAssignActionURL" name="" type="hidden" value="" />
       
    <!-- Component: Panels Expand / Collapse All -->   
    if (CL.TMS.Security.Authorization.ResourceActionAuthorizationHandler.CheckUserSecurity(CL.TMS.Common.TreadMarksConstants.RemittanceRemittancesAssignment) >= CL.TMS.Security.SecurityResultType.ReadOnly)
    {
        <div class="tm-all participants-all-claims">
            <!-- Component: Transactions Header -->
            <div id="fixedClaimHeader" class="row comp-claims-header comp-variant-staff fixed-claim-header">
                <div class="col-xs-7 col-sm-6">
                    <h2 class="fixed-claim-header-title">@UIResource.TSFRemittanceAssignmentTitle</h2>
                </div>
                <div class="col-xs-5 col-sm-6">
                </div>
            </div>
           
            <div class="panel panel-default" style="margin-top:85px">
                <div class="panel-heading" role="tab" id="panelApplications-headingOne">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#panelApplications-collapseOne" aria-expanded="true" aria-controls="panelApplications-collapseOne" class="panel-arrow-expand">
                            Assignment<i id="exportApplicationToExcel" class="fa fa-file-text-o fa-fw uiaction-export" title="Export to CSV"></i>
                        </a>
                    </h4>
                    <div class="col-xs-6 subcomp-search">
                        <input id="SearchApplications" type="text" class="form-control" placeholder="Search">
                        <div id="txtFoundApplications" class="subcomp-search-found" style="white-space: nowrap">&nbsp;</div>
                        <i id="glyphicon-remove-App" class="glyphicon glyphicon-remove remove-icon"></i>
                        <i id="glyphicon-search-App" class="glyphicon glyphicon-search"></i>
                        <br />
                    </div>
                </div>
                <div id="panelApplications-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelApplications-headingOne">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table id="tblRemittanceslist" class="table table-hover display truncate datatable-100-perc" style="cursor:pointer;">
                                    <thead>
                                        <tr>
                                            <th>Reg. #</th>
                                            <th>Company</th>
                                            <th>Reporting Frequency</th>
                                            <th>Period</th>
                                            <th>Submitted</th>
                                            <th>Deposit Date</th>
                                            <th>Total($)</th>
                                            <th>Payment($)</th>
                                            <th>Balance Due($)</th>
                                            <th class="txt-c">Status</th>
                                            <th>Assigned To</th>
                                            <th>Actions</th>
                                            <th class="display-none"></th>
                                            <th class="display-none"></th>
                                        </tr>
                                    </thead>
                                    <tfoot class="column-search"> @*OTSTM2-929*@
                                        <tr>
                                            <th class="search-filter">Reg. #</th>
                                            <th class="search-filter">Company</th>
                                            <th class="search-filter">Reporting Frequency</th>
                                            <th class="search-filter">Period</th>
                                            <th class="search-filter">Submitted</th>
                                            <th class="search-filter">Deposit Date</th>
                                            <th class="search-filter">Total($)</th>
                                            <th class="search-filter">Payment($)</th>
                                            <th class="search-filter">Balance Due($)</th>
                                            <th class="txt-c search-filter">Status</th>
                                            <th class="search-filter">Assigned To</th>
                                            <th></th>
                                            <th class="display-none"></th>
                                            <th class="display-none"></th>
                                        </tr>
                                    </tfoot>
                                </table>
                                <br />
                                <a href="#" style="width:30px" id="ApplicationsViewMore" class="viewmore">@UIResource.More</a>
                                <br />                          
                                <div class="col-md-6 col-md-offset-6 txt-r margin-top--20">
                                    <button id="btnAssignRemittanceToMe" class="btn btn-success" data-assignuser="@ViewBag.curentUserId" data-assignmeurl="@ViewBag.assignToMeUrl" data-status="Under Review" data-target="#modalAssingToMe" data-toggle="modal" type="button">Assign to Me</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else if (!Response.IsRequestBeingRedirected)
    {
        Response.Redirect("/System/Common/UnauthorizedPage");
    }
    <!-- Modal: Assign  -->
    <div class="modal fade comp-claims-summary-submitmodal margin-top-0" id="modalAssign" tabindex="-1" role="dialog" aria-labelledby="modalAssign" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-le">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="" align="center">@UIResource.Confirm</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 txt-c">
                            <h4 class="margin-top-30">Are you sure you want to <strong>assign</strong> remittance for <br> <strong>  Reg. # <label id="assignRegNo1" class="assignRegNo"></label>, Period: <label id="assignPeriod" class="assignPeriod"></label></strong>?</h4>

                        </div>
                    </div>
                    <div class="row margin-top-10 margin-bottom-20">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="form-group form-group-select2">
                                <label style="font-weight:normal;" class="margin-bottom-20">Choose a staff member:</label>
                                <select id="listOfStaffAssign" class="listOfStaff form-control"> </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                        @UIResource.CommonWordNo
                    </button>
                    <button type="button" id="Btn-Assign" class="btn btn-success workflow btn-lg" data-assignuser="" data-status="Under Review" data-dismiss="modal">
                        <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                        @UIResource.CommonWordYes
                    </button>
                </div>
            </div>
        </div>
    </div>   
    
    <!-- Modal: Re-Assign  -->
    <div class="modal fade comp-claims-summary-submitmodal margin-top-0" id="modalReAssign" tabindex="-1" role="dialog" aria-labelledby="modalReAssign" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-le">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="" align="center">@UIResource.Confirm</h3>@*Re-Assign*@
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 txt-c">
                            <h4 class="margin-top-30">Are you sure you want to <strong>re-assign</strong> remittance for<br> <strong> Reg. # <label id="assignRegNo2" class="assignRegNo"></label>, Period: <label id="ReassignPeriod" class="assignPeriod"></label></strong>?</h4>
                        </div>
                    </div>
                    <div class="row margin-top-10 margin-bottom-20">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="form-group form-group-select2">
                                <label style="font-weight:normal;" class="margin-bottom-20">Choose a staff member:</label>
                                <select id="listOfStaffRe-Assign" class="listOfStaff form-control"> </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                        @UIResource.CommonWordNo
                    </button>
                    <button type="button" id="Btn-Re-Assign" class="btn btn-success workflow btn-lg" data-assignuser="" data-status="Under Review" data-dismiss="modal" data-toggle="modal" data-target="#modalAssignOk">
                        <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                        @UIResource.CommonWordYes
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal: Un-Assign  -->
    <div class="modal fade comp-claims-summary-submitmodal margin-top-100" id="modalUnAssign" tabindex="-1" role="dialog" aria-labelledby="modalUnAssign" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-le">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="modalUnAssign" align="center">@UIResource.Confirm</h3>
                </div>
                <div class="modal-body">
                    <div style="padding:20px">
                        <h4 class="txt-c">Are you sure you want to <strong>un-assign</strong> remittance for<br> <strong> Reg. # <label id="assignRegNo3" class="assignRegNo"></label>, Period: <label id="ReassignPeriod1" class="assignPeriod"></label></strong> from <strong><label id="unassignUserName" class="unAssignUserName"></label></strong>?</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                        @UIResource.CommonWordNo
                    </button>
                    <button type="button" class="btn btn-success workflow btn-lg" data-assignuser="-1" data-status="Submitted" data-dismiss="modal" data-toggle="modal" data-target="#modalAddiPadsToRegConfirm">
                        <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                        @UIResource.CommonWordYes
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal: Assign to Me  -->
    <div class="modal fade comp-claims-summary-submitmodal margin-top-100" id="modalAssingToMe" tabindex="-1" role="dialog" aria-labelledby="modalAssingToMe" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-le">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="assignToMeTitle" align="center">Assigned</h3>
                </div>
                <div class="modal-body">
                    <div style="padding:20px">
                        <h4 class="txt-c" id="SuccessAssignToMe">
                            Remittance for <strong> Reg. # <label id="assignRegNo4" class="assignRegNo">@ViewBag.RegNo</label>, Period: <label id="ReassignPeriod2" class="assignPeriod">@ViewBag.Period</label></strong>
                            <br /> has been assigned to you.
                        </h4>
                        <h4 class="txt-c" id="NoDataassignToMe">There is no eligible remittance to assign to you at this time.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="BtnAssignToMeOK" type="button" class="btn btn-success btn-lg" data-assignuser="@ViewBag.curentUserId" data-status="Under Review" data-dismiss="modal" data-toggle="modal" data-target="#modalAddiPadsToRegConfirm">
                        <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                        Ok
                    </button>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts{

    @Scripts.Render("~/bundles/jquerydatatable")
    <script type="text/javascript" src="~/js/loading-spin.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript">
        //list of Resources text needed
        Global = {};
        Global.Remittance = {
            Resources: {
                FirstNameRequired: '@ViewBag.FirstNameRequired',
                LastNameRequired: '@ViewBag.LastNameRequired'
            },
            ViewOption: {
                showActionGear: '@ViewBag.showActionGear',
                showAssignToMe: '@ViewBag.showAssignToMe',
            },
            ApplicationExportUrl: '@Url.Action("ExportToExcelForAssignment", "TSFRemittances", new { searchText = "----", sortColumn = "AAA", sortDirection = "BBB",
                                  searchTextReg = "-st-reg", searchTextCompany = "-st-company", searchTextReportingFrequency = "-st-reportingfrequency", searchTextPeriod = "-st-period",
                                  searchTextSubmitted = "-st-submitted", searchTextDepositDate = "-st-depositdate", searchTextTotalReceivable = "-st-totalreceivable",
                                  searchTextChequeAmount = "-st-chequeamount", searchTextBalanceDue = "-st-balancedue", searchTextStatus = "-st-status", searchTextAssignedTo = "-st-assignedto"})', //OTSTM2-929
            AssignToMeUrl: '@ViewBag.assignToMeUrl',
            AllowEdit: '@ViewBag.AllowEdit',
            AccessPermission: {
                StewardClaimClaimSummary: '@CL.TMS.Security.Authorization.ResourceActionAuthorizationHandler.CheckUserSecurity(CL.TMS.Common.TreadMarksConstants.RemittanceTSFRemittance)',
            },
            UserClaimsWorkflow: {
                Steward: {
                    WorkFlow: '@StewardWorkFlow',
                    ActionGear: JSON.parse('@StewardActionGear.ToString().ToLower()'),
                    bSuperAdminAction: JSON.parse('@bSuperAdmin.ToString().ToLower()'),
                },
            }
        };
    </script>
    <script src="~/Areas/Steward/Scripts/Remittances/RemittancesAssignment.js?v=@ViewBag.versionid"></script>
}

