﻿@using CL.TMS.Security.Authorization
@using CL.TMS.Common
@{
    ViewBag.Title = "Staff Claim Summary";
    ViewBag.InterNotesPermission = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsProcessorClaimSummaryInternalNotes);
    ViewBag.TransactionAdjustPermission = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsProcessorClaimSummaryTransactionAdjustments);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />
@section styles {
    @Styles.Render("~/css/datatable-tm")
    <style>
        /*OTSTM2-424 begin*/
        #exportActivities {
            background: none;
            left: 95px;
            position: absolute;
            top: 11px;
            width: 25px;
        }

        .label-new {
            left: 125px;
            position: absolute;
            top: 11px;
            width: 50px;
        }

        .viewMoreActivity {
            margin-top: 20px;
            display: inline-block;
        }

        /*stick to cube UI*/
        #panelClaimActivity .table thead > tr > th {
            border-bottom: 2px solid #e7ebee;
            text-transform: uppercase;
            font-size: 0.875em;
        }

        #panelClaimActivity .table tbody > tr > td {
            font-size: 0.875em;
            vertical-align: middle;
            border-top: 1px solid #e7ebee;
            padding: 12px 8px;
        }

        #panelClaimActivity .table tbody > tr > td {
            font-size: 0.875em;
            font-family: sans-serif;
            vertical-align: middle;
            border-top: 1px solid #e7ebee;
            padding: 12px 8px;
        }

        /*stick to cube UI*/

        #panelClaimActivity {
            margin-top: -10px;
        }

        table tbody tr td.ng-scope {
            white-space: nowrap;
            max-width: 200px;
            overflow: hidden;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }

        /*OTSTM2-424 end*/

        /*OTSTM2-843 fix datatable white space when clicking hambourger icon(existing issue)*/
        table.dataTable {
            border-collapse: collapse;
            width: 100% !important;
        }

        /*OTSTM2-1235 The validation css about the business rule: inbound > outbound*/
        .required-validity {
            color: #dd191d;
        }

        .has-error{
            border-color:#a94442 !important
        }
    </style>

    <style>
        #exportActivities {
            background: none;
            left: 95px;
            position: absolute;
            top: 11px;
            width: 25px;
        }

        .label-new {
            left: 125px;
            position: absolute;
            top: 11px;
            width: 50px;
        }

        .table.clickable tr {
            cursor: pointer;
        }

        .btn-add {
            margin-top: 10px !important;
        }

        .panel-body.transportation-incentive {
            height: 380px;
        }

        #rate-viewdetail-notes > div.panel-body {
            height: 475px;
        }

        .dataTables_wrapper {
            height: 300px !important;
        }

        .limited-width {
            white-space: nowrap;
            max-width: 200px;
            overflow: hidden;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }

        .table_scrollBody {
            max-height: 160px;
            position: relative;
            width: 100%;
        }

        .position-fixed-x {
            position: relative;
        }

        .position-fixed-y {
            position: relative;
        }

        .disableClick {
            pointer-events: none;
            /*visibility: hidden;*/
        }

        .ratecolor-yellow {
            background-color: #f7bc69;
        }

        .ratecolor-green {
            background-color: #c4dc85;
        }

        .ratecolor-blue {
            background-color: #61b3dd;
        }

        table > tbody > tr.ratecolor-green > td {
            border-top: none;
        }

        table > tbody > tr.ratecolor-blue > td {
            border-top: none;
        }

        table > tbody > tr.ratecolor-yellow > td {
            border-top: none;
        }

        .datepicker td, .datepicker th, .daterangepicker td, .daterangepicker th {
            text-transform: capitalize;
            font-size: 1.0em;
        }

        div.datepicker-months > table > thead > tr > th.datepicker-switch {
            pointer-events: none;
        }

        div.modal-content.ng-scope {
            min-width: 600px;
        }

        #internalNoteBody {
            height: 230px !important;
        }

        /*$('[id^=popover]').css('overflow-y','auto').css('overflow-x','hidden')*/
        [id^="popover"] {
            overflow-x: hidden;
            overflow-y: hidden;
        }

        div.popover > div.popover-content {
            padding-left: 12px !important;
        }

        .btn-close {
            color: #fff !important;
            border: none;
            background-color: #90a4ae;
            border-bottom: 2px #607d8b solid;    
            height: 34px;        
        }
    </style>

}

<!--modal processing incentive details specific processor View template-->
<script type="text/ng-template" id="modelSpecificRate.html">
    <div class="modal-content">
        <div class="modal-header" style="height: 70px;">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" align="center" id="rc-form-modal-title">
                Specific Processing Incentive Rates ($/t)
            </h3>
        </div>
        <div class="modal-body">
            <!--(Effective Start/End Date) col-sm-5 -->
            <div class="row form-inline">
                <div class="col-md-4">
                    <label class="control-label" style="font-size:large;">Start Date: {{rateVM.startDate}}</label>
                </div>
                <div class="col-md-4">
                    <label class="control-label" style="font-size:large;">End Date: {{rateVM.endDate}}</label>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <table>
                        <tbody>
                            <!--SPS on-road row 1-->
                            <tr style="height:35px;" class="ratecolor-yellow">
                                <td rowspan="4" class="text-center" width="22%;"><strong style="font-size:xx-large;color:white;">SPS<br /></strong><strong style="font-size:large; color:white;">(On-Road)</strong></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><div style="width:110px;"><strong>TDP1</strong></div></td>
                                <td width="8%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP1(Feedstock)</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP2</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP2(Feedstock)</strong></td>
                                <td width="10%;"></td>
                            </tr>
                            <tr class="ratecolor-yellow">

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP1OnRoad}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP1FeedstockOnRoad}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP2OnRoad}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP2FeedstockOnRoad}}</span></td>
                                <td width="10%;"></td>
                            </tr>
                            <!--SPS on-road row 2-->
                            <tr style="height:35px;" class="ratecolor-yellow">
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP3</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP3(Feedstock)</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP4</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP5</strong></td>
                                <td width="10%;"></td>
                            </tr>
                            <tr class="ratecolor-yellow">

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP3OnRoad}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP3FeedstockOnRoad}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP4OnRoad}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP5OnRoad}}</span></td>
                                <td width="10%;"></td>
                            </tr>
                            <tr style="height:5px;" class="ratecolor-yellow"><td colspan="9">&nbsp;</td></tr>
                            <tr><td colspan="9">&nbsp;</td></tr>

                            <!--SPS off-road row 1-->
                            <tr style="height:35px;" class="ratecolor-green">
                                <td rowspan="4" class="text-center" width="20%;"><strong style="font-size:xx-large;color:white;">SPS</strong><br /><strong style="font-size:large;color:white;">(Off-Road)</strong></td>

                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP1</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP1(Feedstock)</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP2</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP2(Feedstock)</strong></td>
                                <td width="10%;"></td>
                            </tr>
                            <tr class="ratecolor-green">

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP1OffRoad}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP1FeedstockOffRoad}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP2OffRoad}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP2FeedstockOffRoad}}</span></td>
                                <td width="10%;"></td>
                            </tr>

                            <!--SPS off-road row 2-->
                            <tr style="height:35px;" class="ratecolor-green">
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP3</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP3(Feedstock)</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP4(Feedstock)</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP5</strong></td>
                                <td width="10%;"></td>
                            </tr>
                            <tr class="ratecolor-green">

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP3OffRoad}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP3FeedstockOffRoad}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP4OffRoad}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP5OffRoad}}</span></td>
                                <td width="10%;"></td>
                            </tr>

                            <tr style="height:5px;" class="ratecolor-green"><td colspan="9">&nbsp;</td></tr>
                            <tr><td colspan="9">&nbsp;</td></tr>

                            <!--PIT row 1-->
                            <tr style="height:40px;" class="ratecolor-blue">
                                <td rowspan="6" class="text-center" width="20%;"><strong style="font-size:xx-large;color:white;">PIT</strong></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP1</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP2</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP3</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>Transfer-Fiber/Rubber</strong></td>
                                <td width="10%;"></td>
                            </tr>
                            <tr class="ratecolor-blue">

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP1}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP2}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP3}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TransferFibreRubber}}</span></td>
                                <td width="10%;"></td>
                            </tr>
                            <!--row 2-->
                            <tr style="height:35px;" class="ratecolor-blue">
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP4FF</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP4FF(No PI)</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP5FT</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP5NT</strong></td>
                                <td width="10%;"></td>
                            </tr>
                            <tr class="ratecolor-blue">

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP4FF}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP4FFNoPI}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP5FT}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP5NT}}</span></td>
                                <td width="10%;"></td>
                            </tr>
                            <!--row 3-->
                            <tr style="height:35px;" class="ratecolor-blue">
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP6NP</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP6FP</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP7NT</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP7FT</strong></td>
                                <td width="10%;"></td>
                            </tr>
                            <tr class="ratecolor-blue">

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP6NP}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP6FP}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP7NT}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP7FT}}</span></td>
                                <td width="10%;"></td>
                            </tr>

                            <tr style="height:5px;" class="ratecolor-blue"><td colspan="9">&nbsp;</td></tr>
                            <tr><td colspan="9">&nbsp;</td></tr>
                        </tbody>
                    </table>
                    <div>
                        <manage-internal-notes load-url="{{loadUrl}}" export-url="{{exportUrl}}" parent-id="{{rateTransactionID}}" panel-arrow="rate-viewdetail-notes"></manage-internal-notes>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-12">
                    <button type="button" data-dismiss="modal" ng-click="cancel()" class="btn btn-default margin-top--10 btn-lg">
                        <i class="glyphicon fa fa-times-circle-o" aria-hidden="true"></i>
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>

<div class="tm-all staff-all-claims ng-cloak" ng-controller="processorStaffClaimSummaryController" id="processorStaffClaimSummary">
    <!-- Component: Transactions Header -->
    <div id="fixedClaimHeader" class="row comp-claims-header comp-variant-staff fixed-claim-header">
        <div class="col-xs-7 col-sm-6">

            @Html.Partial("_ClaimSummaryBreadCrumb")
            <h2 class="fixed-claim-header-title">Claim Summary</h2>
            <claim-bread-crumb></claim-bread-crumb>
            <div class="sub-header-claim-period"
                 style="width:74px; height: 34px; line-height: 2.1em; text-align:center;"
                 data-toggle="tooltip"
                 data-placement="right"
                 title="{{ProcessorClaimSummary.ClaimStatus.UnderReview}}"
                 ng-class="getStatusColor">
                {{ProcessorClaimSummary.ClaimCommonModel.ClaimPeriodName}}
            </div>
            <div class="btn-group" style="margin-top:-5px; margin-left:6px;">
                <button type="button" class="btn btn-close" ng-click="openRateDetailsModal()" ng-if="HasSpecificRate">
                    <i class="glyphicon fa fa-bullseye fa-lg" aria-hidden="true" style="margin-top:-5px; margin-left:4px"></i>
                </button>
            </div>
        </div>
        

        <div class="col-xs-5 col-sm-6">
            @Html.Partial("_ParticipantHeader", SecurityContextHelper.CurrentVendor)
        </div>


    </div><!--/.row-->
    <!-- Component: Panels Expand / Collapse All -->
    <div class="panel-container">
        <!-- Component: Status -->
        @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsProcessorClaimSummaryStatus) >= CL.TMS.Security.SecurityResultType.ReadOnly)
        {
            <claim-status claim-status-model="ProcessorClaimSummary.ClaimStatus"></claim-status>
            @Html.Partial("_ClaimStatus")
        }  

        <div class="row">
            <div class="col-md-6">
                <!-- Component: Inbound -->
                @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsProcessorClaimSummaryInbound) >= CL.TMS.Security.SecurityResultType.ReadOnly)
            {
                    @Html.Partial("_ProcessorInboundPartial")
                }

                <!-- Component: Inventory & Adjustments-->
                @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsProcessorClaimSummaryInventoryAndAdjustments) >= CL.TMS.Security.SecurityResultType.ReadOnly)
            {
                    @Html.Partial("_ProcessorInventoryAdjustPartial")
                }
                <!--/.panel-->
                <!-- Component: Internal Adjustments -->
                @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsProcessorClaimSummaryInternalAdjustments) >= CL.TMS.Security.SecurityResultType.ReadOnly)
            {
                    @Html.Partial("_ProcessorStaffInternalAdjustmentPartial")
                }


            </div>
            <div class="col-md-6">
                <!-- Component: Outbound -->
                @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsProcessorClaimSummaryOutbound) >= CL.TMS.Security.SecurityResultType.ReadOnly)
            {
                    @Html.Partial("_ProcessorOutboundPartial")
                }


                <!-- Component: Transaction Adjustments -->
                @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsProcessorClaimSummaryTransactionAdjustments) >= CL.TMS.Security.SecurityResultType.ReadOnly)
            {
                    @Html.Partial("_CommonTransactionAdjustPartial")
                }

                <!-- Component: Payments & Adjustments -->
                @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsProcessorClaimSummaryPaymentsAndAdjustments) >= CL.TMS.Security.SecurityResultType.ReadOnly)
               {
                    @Html.Partial("_ProcessorPaymentPartial")
                }


            </div>
        </div>

        @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsProcessorClaimSummaryInternalNotes) >= CL.TMS.Security.SecurityResultType.ReadOnly)
        {
            <div class="row">
                <div class="col-md-12">
                    <!-- Component: Internal Notes -->
                    @Html.Partial("_ClaimInternalNotesTemplate")
                    <manage-internal-notes load-url="{{loadUrl}}" add-url="{{addUrl}}" export-url="{{exportUrl}}" panel-arrow="processor-claims-summary-notes"></manage-internal-notes>

                </div>
            </div>
        }
        @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsProcessorClaimSummarySupportingDocuments) >= CL.TMS.Security.SecurityResultType.ReadOnly)
        {
            <div class="row">
                <div class="col-md-12">
                    @Html.Partial("_CommonClaimSupportingDocPartial", new ViewDataDictionary() {
               { "TransactionId", @ViewBag.ClaimsId },
               { "FileUploadSectionName", CL.TMS.Common.Enum.FileUploadSectionName.Claims },
               { "ClaimsStatus", CL.TMS.Common.Enum.ClaimStatus.Open },
               { "SupportDocEditPermission", SecurityContextHelper.IsEditable(TreadMarksConstants.ClaimsProcessorClaimSummarySupportingDocuments) }
               })
                </div>
            </div>
        }

        <!-- Modal: Remove Internal Adjustment -->
        <div class="modal fade comp-claims-summary-submitmodal" id="modalRemoveInternalAdjustment" tabindex="-1" role="dialog" aria-labelledby="modalRemoveInternalAdjustment" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="modalInactivateUser" align="center">Confirm</h3>
                    </div>
                    <div class="modal-body">
                        <div style="padding: 20px">
                            <h4 class="txt-c">Are you sure you want to remove <strong>Internal Adjustment</strong>?</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                            No
                        </button>
                        <button id="btnRemoveInternalAdjust" type="button" class="btn btn-success btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                            Yes
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal: Internal Adjustments  -->
        <script type="text/ng-template" id="internalAdjustModal.html">
            <div class="modal-content">
                <form id="internalAdjustForm" name="internaladjustForm" novalidate ng-submit="confirm(returnCurrentChooseType(selectedItem))">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="modalInternalAdj" align="center" ng-show="modalResult.isAdd && !isReadOnly"> Adjustment</h3>
                        <h3 class="modal-title" id="modalInternalAdjEdit" align="center" ng-show="!modalResult.isAdd && !isReadOnly"> Adjustment</h3>
                        <h3 class="modal-title" id="modalInternalAdjView" align="center" ng-show="!modalResult.isAdd && isReadOnly"> Adjustment</h3>
                    </div>
                    <div class="modal-body">
                        <div style="padding:0 20px;">
                            <div class="row">
                                <div class="col-sm-3 col-md-3">
                                    <h4>Choose Type</h4>
                                    <select class="form-control" id="internaladj-selector"
                                            ng-options="item.name for item in items"
                                            ng-model="selectedItem" ng-disabled="chooseTypeIsDisable"></select>
                                </div>
                            </div>
                            <div id="internaladj-weight" class="internaladj-options" ng-show="selectedItem.id=='1'">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="radio-internaladj-option-1-1" ng-model="modalResult.direction" value="overall" ng-disabled="isReadOnly ||disableForReadOnlyStaff">
                                                Overall
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="radio-internaladj-option-1-1" ng-model="modalResult.direction" value="inbound" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                                Inbound
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="radio-internaladj-option-1-1" ng-model="modalResult.direction" value="outbound" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                                Outbound
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_onRoad') }">
                                            <label for="">Weight (t)</label>
                                            <input type="number" class="form-control" ng-model="modalResult.onroad" name="onroad" placeholder="0.0000" ng-disabled="isReadOnly||disableForReadOnlyStaff" decimal-required="4">
                                            <div ng-show="internaladjustForm.$submitted || internaladjustForm.onroad.$touched">
                                                <p class="help-block" ng-show="(internaladjustForm.onroad.$error.isDecimalRequired) || (internaladjustForm.onroad.$error.number)">Invalid Input</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--/.row-->
                                <span style="color: #a94442" ng-show="internaladjustForm.$submitted && allZeroesOrEmpty(modalResult.onroad)">Weight should not be equal to 0</span>
                            </div>
                            <div id="internaladj-tirecounts" class="internaladj-options" ng-show="selectedItem.id=='2'">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="radio-internaladj-option-2-1" value="overall" ng-model="modalResult.direction" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                                Overall
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="radio-internaladj-option-2-1" value="inbound" ng-model="modalResult.direction" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                                Inbound
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="radio-internaladj-option-2-1" value="outbound" ng-model="modalResult.direction" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                                Outbound
                                            </label>
                                        </div>
                                    </div>
                                </div><!--/.row-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table" style="background:none!important;">
                                            <thead>
                                                <tr>
                                                    <th>PLT</th>
                                                    <th>MT</th>
                                                    <th>AG/LS</th>
                                                    <th>IND</th>
                                                    <th>SOTR</th>
                                                    <th>MOTR</th>
                                                    <th>LOTR</th>
                                                    <th>GOTR</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_plt') }">
                                                            <input type="number" class="form-control" placeholder="+/-" ng-model="modalResult.plt" ng-disabled="isReadOnly||disableForReadOnlyStaff" name="tirecount_plt" no-decimal>
                                                            <div ng-show="internaladjustForm.$submitted || internaladjustForm.tirecount_plt.$touched">
                                                                <p class="help-block" ng-show="(internaladjustForm.tirecount_plt.$error.number)">Invalid Input</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_mt') }">
                                                            <input type="number" class="form-control" placeholder="+/-" ng-model="modalResult.mt" ng-disabled="isReadOnly||disableForReadOnlyStaff" name="tirecount_mt" no-decimal>
                                                            <div ng-show="internaladjustForm.$submitted || internaladjustForm.tirecount_mt.$touched">
                                                                <p class="help-block" ng-show="(internaladjustForm.tirecount_mt.$error.number)">Invalid Input</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_agls')}">
                                                            <input type="number" class="form-control" placeholder="+/-" ng-model="modalResult.agls" ng-disabled="isReadOnly||disableForReadOnlyStaff" name="tirecount_agls" no-decimal>
                                                            <div ng-show="internaladjustForm.$submitted || internaladjustForm.tirecount_agls.$touched">
                                                                <p class="help-block" ng-show="(internaladjustForm.tirecount_agls.$error.number)">Invalid Input</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_ind')}">
                                                            <input type="number" class="form-control" placeholder="+/-" ng-model="modalResult.ind" ng-disabled="isReadOnly||disableForReadOnlyStaff" name="tirecount_ind" no-decimal>
                                                            <div ng-show="internaladjustForm.$submitted || internaladjustForm.tirecount_ind.$touched">
                                                                <p class="help-block" ng-show="(internaladjustForm.tirecount_ind.$error.number)">Invalid Input</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_sotr')}">
                                                            <input type="number" class="form-control" placeholder="+/-" ng-model="modalResult.sotr" ng-disabled="isReadOnly||disableForReadOnlyStaff" name="tirecount_sotr" no-decimal>
                                                            <div ng-show="internaladjustForm.$submitted || internaladjustForm.tirecount_sotr.$touched">
                                                                <p class="help-block" ng-show="(internaladjustForm.tirecount_sotr.$error.number)">Invalid Input</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_motr')}">
                                                            <input type="number" class="form-control" placeholder="+/-" ng-model="modalResult.motr" ng-disabled="isReadOnly||disableForReadOnlyStaff" name="tirecount_motr" no-decimal>
                                                            <div ng-show="internaladjustForm.$submitted || internaladjustForm.tirecount_motr.$touched">
                                                                <p class="help-block" ng-show="(internaladjustForm.tirecount_motr.$error.number)">Invalid Input</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_lotr')}">
                                                            <input type="number" class="form-control" placeholder="+/-" ng-model="modalResult.lotr" ng-disabled="isReadOnly||disableForReadOnlyStaff" name="tirecount_lotr" no-decimal>
                                                            <div ng-show="internaladjustForm.$submitted || internaladjustForm.tirecount_lotr.$touched">
                                                                <p class="help-block" ng-show="(internaladjustForm.tirecount_lotr.$error.number)">Invalid Input</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_gotr')}">
                                                            <input type="number" class="form-control" placeholder="+/-" ng-model="modalResult.gotr" ng-disabled="isReadOnly||disableForReadOnlyStaff" name="tirecount_gotr" no-decimal>
                                                            <div ng-show="internaladjustForm.$submitted || internaladjustForm.tirecount_gotr.$touched">
                                                                <p class="help-block" ng-show="(internaladjustForm.tirecount_gotr.$error.number)">Invalid Input</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <span style="color: #a94442" ng-show="internaladjustForm.$submitted && isTireTypeAllZeros()">Atleast one tire type should have value > or < 0</span>
                                    </div>
                                </div><!--/.row-->
                            </div>
                            <div id="internaladj-payment" class="internaladj-options" ng-show="selectedItem.id=='4'">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="radio-internaladj-option-3-1" value="Overall" ng-model="modalResult.paymentType" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                                Overall
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="radio-internaladj-option-3-1" value="PTR" ng-model="modalResult.paymentType" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                                PTR
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="radio-internaladj-option-3-1" value="SPS" ng-model="modalResult.paymentType" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                                SPS
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="radio-internaladj-option-3-1" value="PITOutbound" ng-model="modalResult.paymentType" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                                Outbound PIT
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="radio-internaladj-option-3-1" value="DOR" ng-model="modalResult.paymentType" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                                DOR
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 txt-r">
                                        <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_amount')}">
                                            <br>
                                            <label for="">Amount ($)</label>
                                            <input type="number" class="form-control txt-r" placeholder="0.00" ng-model="modalResult.amount" ng-disabled="isReadOnly||disableForReadOnlyStaff" name="amount" decimal-required="2">
                                            <div ng-show="internaladjustForm.$submitted || internaladjustForm.amount.$touched">
                                                <p class="help-block" ng-show="(internaladjustForm.amount.$error.isDecimalRequired) || (internaladjustForm.amount.$error.number)">Invalid Input</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--/.row-->
                                <span style="color: #a94442" ng-show="internaladjustForm.$submitted && allZeroesOrEmpty(modalResult.amount)">Payment should not be equal to 0</span>
                            </div>
                            <div id="internaladj-internalNote" ng-if="!isReadOnly">
                                <div class="row">
                                    <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_internalNote') }">
                                        <h4 class="panel-title">Internal Note</h4>
                                        <textarea class="form-control" rows="3" name="note" ng-model="modalResult.internalNote" required></textarea>
                                        <div ng-show="internaladjustForm.$submitted || internaladjustForm.internalNote.$touched">
                                            <p class="help-block" ng-show="getErrorRule(selectedItem, '_internalNote')">Required</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="isReadOnly">
                                <manage-internal-notes load-url="{{loadUrl}}" add-url="{{addUrl}}" export-url="{{exportUrl}}" panel-arrow="processor-internal-adjustment-notes"></manage-internal-notes>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-lg" ng-click="cancel()" ng-if="!isReadOnly">
                            <i class="glyphicon fa fa-ban" aria-hidden="true"></i>
                            Cancel
                        </button>
                        <button type="button" class="btn btn-default btn-lg" ng-click="cancel()" ng-if="isReadOnly">
                            <i class="glyphicon fa fa-times-circle-o" aria-hidden="true"></i>
                            Close
                        </button>
                        <button type="submit" class="btn btn-success btn-lg" ng-if="!isReadOnly" ng-disabled="disableForReadOnlyStaff">
                            <i class="glyphicon fa fa-floppy-o" aria-hidden="true"></i>
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </script>

        <!-- Modal: Internal Adjustments: Confirm  -->
        <script type="text/ng-template" id="internalAdjustConfirmModal.html">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="modalInternalAdjustmentsConfirm" align="center">Confirm</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c" style="padding:10px;">
                        <h4>Are you sure you would like to make the <strong>Internal Adjustment</strong>?</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg" ng-click="cancel()">
                        <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                        No
                    </button>
                    <button type="button" class="btn btn-success btn-lg" ng-click="confirm()" ng-show="!isReadOnly">
                        <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                        Yes
                    </button>
                </div>
            </div>
        </script>

        @if ((SecurityContextHelper.ProcessorClaimsWorkflow != null) && (SecurityContextHelper.ProcessorClaimsWorkflow.Workflow != TreadMarksConstants.NoneWorkflow))
        {
            <claim-workflow claim-status-model="ProcessorClaimSummary.ClaimStatus" work-flow="Processor" vendor-type="4" closing-inventory="ProcessorClaimSummary.ClosingInventory"></claim-workflow>
            @Html.Partial("_ClaimWorkflowPartial")
        }
        <!--OTSTM2-424-->
        @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsProcessorClaimSummaryActivities) >= CL.TMS.Security.SecurityResultType.ReadOnly)
        {
            <div class="row">
                <div class="col-md-12" ng-controller="activityController" id="activityPanel">
                    <claim-activity-panel snp-url="@Url.Action("LoadAllActivities", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId })"></claim-activity-panel>
                    @Html.Partial("_ClaimActivityPartial")
                </div>
            </div>
        }
        @Html.Partial("_ClaimExport")
        @Html.Partial("_ProcessorCommonTemplates")       
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        //list of Resources text needed
        Global = {};
        Global.Transaction = {
            ClaimId: '@ViewBag.ClaimsId',
            AccessPermission: '@ViewBag.isEditable', //OTSTM2-1304
        };
        Global.ParticipantClaimsSummary = {
            ClaimsID: '@ViewBag.ClaimsId',
            ClaimsStatus: '@ViewBag.ClaimsStatus',
            ClaimDetailsUrl: '@Url.Action("ClaimDetails", "Claims", new { ClaimId = @ViewBag.ClaimsId })',
            ClaimPaymentUrl: '@Url.Action("ClaimPayment", "Claims", new { ClaimId = @ViewBag.ClaimsId })',
            SubmitClaimCheckUrl: '@Url.Action("SubmitClaimCheck", "Claims")',
            FinalSubmitClaimUrl: '@Url.Action("FinalSubmitClaim", "Claims")',
            LoadClaimPeriods: '@Url.Action("LoadClaimPeriodBreadCrumb", "Claims", new { area="System" })',
            BreadCrumbUrl: '@Url.Action("ClaimSummary", "Claims")',
            SubmitInventoryAdjustmentUrl: '@Url.Action("InventoryAdjustment", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            ClaimOnholdOffholdUrl: '@Url.Action("UpdateClaimOnhold", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            AuditOnholdOffholdUrl: '@Url.Action("UpdateAuditOnhold", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            ClaimWorkflowViewModelUrl: '@Url.Action("LoadClaimWorkflowViewModel", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            ClaimBackToParticipantUrl: '@Url.Action("ClaimBackToParticipant", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            LoadClaimWorkflowUsersUrl: '@Url.Action("LoadClaimWorkflowUsers", "Claims", new { area = "System" })',
            UpdateClaimWorkflowStatusUrl: '@Url.Action("UpdateClaimWorkflowStatus", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            ApproveClaimUrl: '@Url.Action("ApproveClaim", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            ConcurrentUsersValidationBeforeApprovingUrl: '@Url.Action("ConcurrentUsersValidationBeforeApproving", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })', //OTSTM2-1084 validate claim amount, threshold and assignee before approving
            ValidateWorkflowProcessUrl: '@Url.Action("ValidateWorkflowProcess", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            UpdateClaimMailDateUrl: '@Url.Action("UpdateClaimMailDate", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            TransactionValidationUrl: '@Url.Action("IsUnderCurrentClaim", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId })',
            LoadPIRatesByTransactionIDUrl: '@Url.Action("LoadPIRatesByTransactionID", "Claims")',
            LoadNotesListUrl: '@Url.Action("LoadTransactionNotesList", "Rates", new { area = "System" })',
            InternalNotesExportUrl: '@Url.Action("ExportTransactionNotesList", "Rates", new { area = "System" })',
            UpdateHSTUrl: '@Url.Action("UpdateHST", "Claims", new { area = "System" })',
        };
        Global.ParticipantTransactionAdjustmentSummary = {
            Resources: {},
            TransAdjustmentHandleUrl: '@Url.Action("GetListHandlerTransactionAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId })',
            TransAdjustmentExportUrl: '@Html.Raw(@Url.Action("ExportToExcelTransactionAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId, searchText = "----", sortColumn = "AAA", sortDirection = "BBB" }))',
            TransAdjustRejectUrl: '@Url.Action("SubmitRejectAdjustment", "Transactions", new { area = "System"})',
            TransAdjustAcceptUrl: '@Url.Action("SubmitAdjustmentReview", "Transactions", new { area = "System" })',
            TransAdjustRecallUrl: '@Url.Action("SubmitAdjustmentRecall", "Transactions", new { area = "System" })',
            viewMoreId: '#transactionAdjustViewMore'
        }
        Global.ParticipantInternalAdjustmentSummary = {
            Resources: {},
            InternalAdjustmentHandleUrl: '@Url.Action("GetListHandlerInternalAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId })',
            InternalAdjustmentExportUrl: '@Html.Raw(@Url.Action("ExportToExcelInternalAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId, searchText = "----", sortColumn = "AAA", sortDirection = "BBB" }))',
            RemoveInternalAdjustmentUrl: '@Url.Action("RemoveInternalAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId })',
            GetInternalAdjustmentUrl: '@Url.Action("GetInternalAdjustment", "Claims", new { area = "System" })',
            EditInternalAdjustmentUrl: '@Url.Action("EditInternalAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId })'
        }

        Global.InternalNoteSettings = {
            ID: '@ViewBag.ClaimsId',
            Resources: {},
            UserId: '@ViewBag.UserId',
            UserName: '@ViewBag.UserName',
            LoadInternalNotesUrl: '@Url.Action("GetClaimInternalNotes", "Claims", new { area = "System", id = @ViewBag.ClaimsId })',
            //OTSTM2-648
            AddInternalNotesUrl: '@Url.Action("AddNotesHandler", "Claims", new { area = "System", id = @ViewBag.ClaimsId })',
            viewMoreId: '#viewmore',
            removeIconId: '.remove-icon',
            searchId: '#search',
            exportId: '#export',
            foundId: '#found',
            notesLength: '130', //OTSTM2-524 72-->130
            //OTSTM2-648
            LoadInternalAdjustmentNotesUrl: '@Url.Action("GetInternalNotesInternalAdjustment", "Claims", new { area = "System" })',
            AddInternalAdjustmentNotesUrl: '@Url.Action("AddNotesHandlerInternalAdjustment", "Claims", new { area = "System" })',
            ExportToExcelInternalNotes: '@Url.Action("ExportToExcelInternalNotes", "Claims", new { area = "System", id = @ViewBag.ClaimsId })',
            ExportToExcelInternalAdjustmentNotes: '@Url.Action("ExportToExcelInternalAdjustmentNotes", "Claims", new { area = "System" })',
        };

        Global.ParticipantClaimsSummary.Resources = {
            TotalOpening: '@UIResource.TotalOpening',
            TotalInbound: '@UIResource.TotalInbound',
            TotalOutbound: '@UIResource.TotalOutbound',

            OverallAdjustments: '@UIResource.OverallAdjustments',
            ClosingInventory: '@UIResource.ClosingInventory',
            ProcessingCapacity: '@UIResource.ProcessingCapacity'
        };

        Global.Settings = {
            CheckFormNumberDuplicationServiceURL: '@Url.Action("CheckFormNumberDuplication", "Transactions", new { area = "System" })',
            GetVendorInfoServiceURL: '@Url.Action("GetVendorInfo", "Transactions", new { area = "System" })',
            GetTransactionSearchListServiceURL: '@Url.Action("GetTransactionSearchList", "Transactions", new { area = "System" })',
            GetTransactionDetailDataServiceURL: '@Url.Action("GetTransactionDetailData", "Transactions", new { area = "System" })',
            GetUpdateTransactionProcessingStatusServiceURL: '@Url.Action("UpdateTransactionProcessingStatus", "Transactions", new { area = "System" })',
            GetGetTransactionHandlerClaimDataServiceURL: '@Url.Action("GetTransactionHandlerClaimData", "Transactions", new { area = "System" })',

            UploadTransactionFileServiceURL: '@Url.Action("UploadTransactionFile", "FileUpload", new { area = "System" })',
            DeleteTemporaryTransactionFileServiceURL: '@Url.Action("DeleteTemporaryTransactionFile", "FileUpload", new { area = "System" })',
            CleanUpTemporaryTransactionFilesServiceURL: '@Url.Action("CleanUpTemporaryTransactionFiles", "FileUpload", new { area = "System" })',

            FileUploadPreviewDomainName: '@CL.TMS.UI.Common.Helper.SiteSettings.Instance.GetSettingValue("Settings.FileUploadPreviewDomainName")',
            MobilePhotoPreviewDomainName: '@CL.TMS.UI.Common.Helper.SiteSettings.Instance.GetSettingValue("Settings.MobilePhotoPreviewDomainName")',
        };
        Global.Settings.Permission = {
            InternalNotePermission: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsProcessorClaimSummaryInternalNotes)',
            DisableInternalAdjustmentsBtn: JSON.parse('@(ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsProcessorClaimSummaryInternalAdjustments) != CL.TMS.Security.SecurityResultType.EditSave)'.toLocaleLowerCase()),
            EnableWorkflowButton: JSON.parse('@(ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsProcessorClaimSummary) >= CL.TMS.Security.SecurityResultType.EditSave)'.toLocaleLowerCase()),
            IsPaymentReadOnly : '@(ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsProcessorClaimSummaryPaymentsAndAdjustments) == CL.TMS.Security.SecurityResultType.ReadOnly)'
        };
    </script>

    <script type="text/javascript" src="~/js/Claims/common-claim-lib.js?v=@ViewBag.versionid"></script>
    <script src="~/js/Transaction/common-transaction-lib.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/Shared/common-claim-internal-notes-lib.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/Shared/common-claim-activities-lib.js?v=@ViewBag.versionid"></script>
    @Scripts.Render("~/bundles/processor-claim-angular")
    @Scripts.Render("~/bundles/processor-claim-staff")
    @*<script type="text/javascript" src="/Areas/Processor/Scripts/Claims/Processor-staff-claim-summary-controller.js?v=@ViewBag.versionid"></script>*@
    <script type="text/javascript" src="~/js/loading-spin.js?v=@ViewBag.versionid"></script>
    @Scripts.Render("~/bundles/jquerydatatable")
    @Scripts.Render("~/bundles/processor-staff-claim-list")
    @Scripts.Render("~/bundles/claimtransactionadjustment")
    @Scripts.Render("~/bundles/transaction-list-common")
    <!--OTSTM2-424-->
    @Scripts.Render("~/bundles/angular-datatables-scroller")
    @Scripts.Render("~/bundles/angulardatatable")
}