﻿@using CL.TMS.Security.Authorization
@using CL.TMS.Common
@using CL.TMS.Common.Enum
@using CL.TMS.Security
@using CL.TMS.DataContracts.ViewModel.Common
@using Newtonsoft.Json

@{
    ViewBag.Title = "Financial Integration";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section styles {
    @Styles.Render("~/css/cube/summernote.css")
    <link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />
    @Styles.Render("~/css/datatable-tm")
    @Styles.Render("~/css/datetimepicker")
    @Styles.Render("~/Content/datepicker")
    <style>
        .input-group-addon {
            background-color: #e7ebee;
        }
        .note-toolbar.panel-heading {
            color: #333;
            background-color: #f5f5f5!important;
            border-color: #ddd!important;
            border:solid 1px;
            border-top-left-radius: 3px!important;
            border-top-right-radius: 3px!important;
        }
        .note-btn.btn.btn-default:hover {
            background-color:#607d8b;
        }
        .datepicker table tr td span {
            width: 100%;
        }

        .datepicker td, .datepicker th, .daterangepicker td, .daterangepicker th {
            text-transform: capitalize;
            font-size: 1.0em;
        }

        div.datepicker-months > table > thead > tr > th.datepicker-switch {
            pointer-events: none;
        }

        .valid-info {
            color: red;
        }



    </style>
}
<!--List page-->
<div class="tm-all staff-all-claims" @*ng-controller="announcementController"*@>
    <div id="fixedClaimHeader" class="row comp-claims-header comp-variant-staff fixed-claim-header">
        <div class="col-xs-7 col-sm-6">
            <h2 class="fixed-claim-header-title">Announcements</h2>
        </div>
        <div class="col-xs-5 col-sm-6">
        </div>
    </div><!--/.row-->
    <div class="row top-element" style="margin-top:90px"></div>
    <div class="row"  ng-controller="summernoteCallbacksCtrl">
        <announcement-list-panel
                url="@Url.Action("LoadList", "Announcement", new { area = "System"})"
                header="Announcements"
                panel-name="Announcements">
        </announcement-list-panel>
    </div>
</div>
@Html.Partial("_AnnouncementTemplate")
@Html.Partial("_SummernoteTemplate")
@section Scripts{
    <script type="text/javascript">
        Global = {};
        Global.Announcement = {
            LoadListUrl: '@Url.Action("LoadList", "Announcement", new { area = "System" })',
            LoadAnnouncementByIDUrl: '@Url.Action("LoadAnnouncementByID", "Announcement", new { area = "System" })',
            AddNewAnnouncementUrl: '@Url.Action("AddNew", "Announcement", new { area = "System" })',

            AddNewSuccessHtml: '<h4><strong>Announcement Effective Date: AAA</strong>  <br />for <strong>BBB</strong> was successfully created.</h4>',
            AddNewFailHtml: 'Unable to add a new Announcement',
            AddNewSuccessHeader: 'Announcement Created',
            AddNewConfirmHtml: '<h4>Are you sure you want to <strong>add</strong> this new <strong>Announcement</strong>?</h4>',

            UpdateUrl: '@Url.Action("Update", "Announcement", new { area = "System" })',
            UpdateConfirmHtml: '<h4>Are you sure you want to save the changes?</h4>',
            UpdateFailHeader: 'Unable to save the change',
            UpdateFailHtml: 'Invalid data',

            RemoveUrl: '@Url.Action("Remove", "Announcement", new { area = "System" })',
            RemoveSuccessHtml: '<h4><strong>Announcement</strong> was successfully deleted.</h4>',
            RemoveConfirmHtml: '<h4>Are you sure you want to <strong>delete</strong> this <strong>Announcement</strong>?</h4>',
            RemoveFailHeader: 'Unable to delete this Announcement',
            RemoveFailHtml: 'Delete Announcement Failure',
            RemoveSuccessHeader: 'Announcement Delete',

            Security: {
                Constants: {
                    ReadOnly: '@SecurityResultType.ReadOnly',
                    EditSave: '@SecurityResultType.EditSave',
                    NoAccess: '@SecurityResultType.NoAccess',
                },
                Authorize: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminAnnouncements)',
            },
        };

        Global.Settings = {
            popover:{
                height:'auto',
                width:'auto',
                trigger: 'hover',
                multi: true,
                closeable: true,
                style: '',
                delay: { show: 300, hide: 800 },
                padding: true,
                placement: function (){
                    return 'top';
                }
            },
        };

        //handle browser click back button
        if (!!window.performance && window.performance.navigation.type == 2) {
            window.location.href = GlobalBaseUrl+'@Url.Action("AdminLoginPage", "Account", new { area = "" })';
        }
    </script>
    
    @Scripts.Render("~/bundles/jquerydatatable")
    @Scripts.Render("~/bundles/angular-datatables-scroller")
    @Scripts.Render("~/bundles/angulardatatable")
  
    @Scripts.Render("~/bundles/datepicker") 
    @Scripts.Render("~/js/cube/summernote.js")
    <script type="text/javascript" src="~/js/Shared/summernote-lib.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/Scripts/moment.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/Areas/System/Scripts/Announcement/announcement-app.js?v=@ViewBag.versionid"></script>
}