﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="HelpPageAPI.aspx.cs" Inherits="OTS_Mobile.HelpPage.HelpPageAPI" %>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Help Page</title>
	<meta name="GENERATOR" Content="Microsoft Visual Studio 7.0">
	<meta name="CODE_LANGUAGE" Content="C#">
	<meta name="vs_defaultClientScript" content="JavaScript (ECMAScript)">
	<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
</head>
<body style="font-family:sans-serif">
    <%
      
    
    %>
</body>
</html>
