﻿@using CL.TMS.Resources
<script type="text/ng-template" id="claimStatus.html">
    <!-- Component: Status Paper Only-->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default" @*style="margin-top:70px"*@>
                <div class="panel-heading" role="tab" id="panelClaimStatus-headingOne">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#panelClaimStatus-collapseStatus" aria-expanded="true" aria-controls="panelClaimStatus-collapseStatus" class="panel-arrow-expand">
                            Status 
                            <common-status-panel-export model="claimStatusModel"
                                                        file-name="StaffClaimStatusClaimsSummary"
                                                        url='@Url.Action("ExportToExcelStatusPanel", "Claims", new { area = "System" })' attr-anchor="70px">
                            </common-status-panel-export>
                        </a>
                    </h4>
                </div>
                <div id="panelClaimStatus-collapseStatus" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelClaimStatus-headingOne">
                    <div class="panel-body" style="padding-top:0;margin-top:0;">
                        <div class="row margin-top-10">
                            <div class="col-sm-12">
                                <table class="table table-hover" style="margin-bottom:5px;">
                                    <thead>
                                        <tr>
                                            <th>Submitted</th>
                                            <th>Assigned</th>
                                            <th>Started</th>
                                            <th>Review Due</th>
                                            <th>Reviewed</th>
                                            <th>Approved</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><p class="form-control-static">{{claimStatusModel.Submitted | date:'yyyy-MM-dd'}}</p></td>
                                            <td><p class="form-control-static">{{claimStatusModel.Assigned | date:'yyyy-MM-dd'}}</p></td>
                                            <td><p class="form-control-static">{{claimStatusModel.Started | date:'yyyy-MM-dd'}}</p></td>
                                            <td><p class="form-control-static">{{claimStatusModel.ReviewDue | date:'yyyy-MM-dd'}}</p></td>
                                            <td><p class="form-control-static">{{claimStatusModel.Reviewed | date:'yyyy-MM-dd'}}</p></td>
                                            <td><p class="form-control-static">{{claimStatusModel.Approved | date:'yyyy-MM-dd'}}</p></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div><!--/.row-->
                        <div class="row">
                            <div class="col-sm-6">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="txt-c" colspan="2">Hold</th>
                                            <th class="txt-c">On-hold</th>
                                            <th class="txt-c">Off-hold</th>
                                            <th class="txt-c">On-hold (Days)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="txt-r">Claims</td>
                                            <td>
                                                <div class="btn-group btn-toggle" ng-show="claimStatusModel.ClaimOnhold">
                                                    <button class="btn btn-xs active color-tm-red-bg" ng-show="claimStatusModel.ClaimOnhold" ng-click="claimOnhold()" ng-disabled="claimStatusModel.IsClaimReadonly">On</button>
                                                    <button class="btn btn-xs btn-default" ng-show="claimStatusModel.ClaimOnhold" ng-click="claimOffhold()" ng-disabled="claimStatusModel.IsClaimReadonly">Off</button>                                                    
                                                </div>
                                                <div class="btn-group btn-toggle" ng-hide="claimStatusModel.ClaimOnhold">
                                                    <button class="btn btn-xs btn-default" ng-hide="claimStatusModel.ClaimOnhold" ng-click="claimOnhold()" ng-disabled="claimStatusModel.IsClaimReadonly || claimStatusModel.AuditOnhold">On</button>
                                                    <button class="btn btn-xs active color-tm-green-bg" ng-hide="claimStatusModel.ClaimOnhold" ng-click="claimOffhold()" ng-disabled="claimStatusModel.IsClaimReadonly || claimStatusModel.AuditOnhold">Off</button>                                                    
                                                </div>
                                            </td>
                                            <td class="txt-c">{{claimStatusModel.ClaimOnholdDate | date:'yyyy-MM-dd'}}</td>
                                            <td class="txt-c">{{claimStatusModel.ClaimOffholdDate | date:'yyyy-MM-dd'}}</td>
                                            <td class="txt-c">{{claimStatusModel.ClaimOnholdDays}}</td>
                                        </tr>
                                        <tr>
                                            <td class="txt-r">Audit</td>
                                            <td>
                                                    <div class="btn-group btn-toggle" ng-show="claimStatusModel.AuditOnhold">
                                                        <button class="btn btn-xs active color-tm-red-bg" ng-show="claimStatusModel.AuditOnhold" ng-click="auditOnhold()" ng-disabled="claimStatusModel.IsClaimReadonly">On</button>
                                                        <button class="btn btn-xs btn-default" ng-show="claimStatusModel.AuditOnhold" ng-click="auditOffhold()" ng-disabled="claimStatusModel.IsClaimReadonly">Off</button>
                                                    </div>
                                                    <div class="btn-group btn-toggle" ng-hide="claimStatusModel.AuditOnhold">
                                                        <button class="btn btn-xs btn-default" ng-hide="claimStatusModel.AuditOnhold" ng-click="auditOnhold()" ng-disabled="claimStatusModel.IsClaimReadonly  || claimStatusModel.ClaimOnhold">On</button>
                                                        <button class="btn btn-xs active color-tm-green-bg" ng-hide="claimStatusModel.AuditOnhold" ng-click="auditOffhold()" ng-disabled="claimStatusModel.IsClaimReadonly || claimStatusModel.ClaimOnhold">Off</button>                                                        
                                                    </div>                                                
                                            </td>
                                            <td class="txt-c">{{claimStatusModel.AuditOnholdDate | date:'yyyy-MM-dd'}}</td>
                                            <td class="txt-c">{{claimStatusModel.AuditOffholdDate | date:'yyyy-MM-dd'}}</td>
                                            <td class="txt-c">{{claimStatusModel.AuditOnholdDays}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="5"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-6">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="txt-c" colspan="6">Transactions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="txt-r">Total</td>
                                            <td class="txt-c">
                                                <a ng-show="claimStatusModel.TotalTransactions>0" class="display-block" href="#" uib-popover-template="transactionUrls.totalTransactionUrl" popover-trigger="mouseenter" popover-placement="left" popover-popup-close-delay="1000">{{claimStatusModel.TotalTransactions}}</a>
                                                <span ng-hide="claimStatusModel.TotalTransactions>0">{{claimStatusModel.TotalTransactions}}</span>
                                            </td>
                                            <td class="txt-r">Adjusted</td>
                                            <td class="txt-c">
                                                <a ng-show="claimStatusModel.AdjustedTransactions>0" class="display-block" href="#" uib-popover-template="transactionUrls.ajustedTransactionUrl" popover-trigger="mouseenter" popover-placement="left" popover-popup-close-delay="1000">{{claimStatusModel.AdjustedTransactions}}</a>
                                                <span ng-hide="claimStatusModel.AdjustedTransactions>0">{{claimStatusModel.AdjustedTransactions}}</span>
                                            </td>
                                            <td class="txt-r">Unreviewed</td>
                                            <td class="txt-c">
                                                <a ng-show="claimStatusModel.UnreviewTransactions>0" class="display-block" href="#" uib-popover-template="transactionUrls.unreviewedTransactionUrl" popover-trigger="mouseenter" popover-placement="left" popover-popup-close-delay="1000">{{claimStatusModel.UnreviewTransactions}}</a>
                                                <span ng-hide="claimStatusModel.UnreviewTransactions>0">{{claimStatusModel.UnreviewTransactions}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="txt-r">Approved</td>
                                            <td class="txt-c">
                                                <a ng-show="claimStatusModel.ApprovedTransactions>0" class="display-block" href="#" uib-popover-template="transactionUrls.approvedTransactionUrl" popover-trigger="mouseenter" popover-placement="left" popover-popup-close-delay="1500">{{claimStatusModel.ApprovedTransactions}}</a>
                                                <span ng-hide="claimStatusModel.ApprovedTransactions>0">{{claimStatusModel.ApprovedTransactions}}</span>
                                            </td>
                                            <td class="txt-r">Reviewed</td>
                                            <td class="txt-c">
                                                <a ng-show="claimStatusModel.ReviewedTransactions>0" class="display-block" href="#" uib-popover-template="transactionUrls.reviewedTransactionUrl" popover-trigger="mouseenter" popover-placement="left" popover-popup-close-delay="1500">{{claimStatusModel.ReviewedTransactions}}</a>
                                                <span ng-hide="claimStatusModel.ReviewedTransactions>0">{{claimStatusModel.ReviewedTransactions}}</span>
                                            </td>
                                            <td class="txt-r">Invalidated</td>
                                            <td class="txt-c">
                                                <a ng-show="claimStatusModel.InvalidatedTransactions>0" class="display-block" href="#" uib-popover-template="transactionUrls.invalidatedTransactionUrl" popover-trigger="mouseenter" popover-placement="left" popover-popup-close-delay="1500">{{claimStatusModel.InvalidatedTransactions}}</a>
                                                <span ng-hide="claimStatusModel.InvalidatedTransactions>0">{{claimStatusModel.InvalidatedTransactions}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div><!--/.row-->
                    </div>
                </div>
            </div><!--/.panel-->
        </div>
    </div><!--/.row-->
    <!-- /Component -->
</script>

<script type="text/ng-template" id="totalTransactionUrl.html">
    <div style="width:auto">
        <em>&nbsp; &nbsp;Inbound&nbsp; &nbsp;</em><br>
        <a ng-repeat="transaction in claimStatusModel.TotalTransactionDetailsIn" href="{{transaction.NavigationUrl}}">&nbsp; &nbsp;{{transaction.TransactionType == "SPS" ? "SIR" : transaction.TransactionType}} {{transaction.TransactionCount}} &nbsp;&nbsp; <br></a>
        <em>&nbsp; &nbsp;Outbound&nbsp; &nbsp;</em><br>
        <a ng-repeat="transaction in claimStatusModel.TotalTransactionDetailsOut" href="{{transaction.NavigationUrl}}">&nbsp; &nbsp;{{transaction.TransactionType == "SPSR" ? "SPS" : transaction.TransactionType}} {{transaction.TransactionCount}} &nbsp;&nbsp; <br></a>
        <em>&nbsp; &nbsp;Sup. Doc.&nbsp; &nbsp;</em><br>
        <span class="text-primary" style="display:block" ng-show="claimStatusModel.FaxCount>0">&nbsp; &nbsp;Fax {{claimStatusModel.FaxCount}}&nbsp; &nbsp;</span>
        <span class="text-primary" style="display:block" ng-show="claimStatusModel.MailCount>0">&nbsp; &nbsp;Mail {{claimStatusModel.MailCount}}&nbsp; &nbsp;</span>
        <span class="text-primary" style="display:block" ng-show="claimStatusModel.UploadCount>0">&nbsp; &nbsp;Upload {{claimStatusModel.UploadCount}}&nbsp; &nbsp;</span>
    </div>
</script>
<script type="text/ng-template" id="paperTransactionUrl.html">
    <div style="width:auto">
        <em>&nbsp; &nbsp;Inbound&nbsp; &nbsp;</em><br>
        <a ng-repeat="transaction in claimStatusModel.PaperTransactionDetailsIn" href="{{transaction.NavigationUrl}}">&nbsp; &nbsp;{{transaction.TransactionType == "SPS" ? "SIR" : transaction.TransactionType}} {{transaction.TransactionCount}} &nbsp;&nbsp; <br></a>
        <em>&nbsp; &nbsp;Outbound&nbsp; &nbsp;</em><br>
        <a ng-repeat="transaction in claimStatusModel.PaperTransactionDetailsOut" href="{{transaction.NavigationUrl}}">&nbsp; &nbsp;{{transaction.TransactionType == "SPSR" ? "SPS" : transaction.TransactionType}} {{transaction.TransactionCount}} &nbsp;&nbsp; <br></a>
    </div>
</script>
<script type="text/ng-template" id="mobileTransactionUrl.html">
    <div style="width:auto">
        <em>&nbsp; &nbsp;Inbound&nbsp; &nbsp;</em><br>
        <a ng-repeat="transaction in claimStatusModel.MobileTransactionDetailsIn" href="{{transaction.NavigationUrl}}">&nbsp; &nbsp;{{transaction.TransactionType == "SPS" ? "SIR" : transaction.TransactionType}} {{transaction.TransactionCount}} &nbsp;&nbsp; <br></a>
        <em>&nbsp; &nbsp;Outbound&nbsp; &nbsp;</em><br>
        <a ng-repeat="transaction in claimStatusModel.MobileTransactionDetailsOut" href="{{transaction.NavigationUrl}}">&nbsp; &nbsp;{{transaction.TransactionType == "SPSR" ? "SPS" : transaction.TransactionType}} {{transaction.TransactionCount}} &nbsp;&nbsp; <br></a>
    </div>
</script>

<script type="text/ng-template" id="unreviewedTransactionUrl.html">
    <div style="width:auto">
        <em>&nbsp; &nbsp;Inbound&nbsp; &nbsp;</em><br>
        <a ng-repeat="transaction in claimStatusModel.UnreviewedTransactionDetailsIn" href="{{transaction.NavigationUrl}}">&nbsp; &nbsp;{{transaction.TransactionType == "SPS" ? "SIR" : transaction.TransactionType}} {{transaction.TransactionCount}} &nbsp;&nbsp; <br></a>
        <em>&nbsp; &nbsp;Outbound&nbsp; &nbsp;</em><br>
        <a ng-repeat="transaction in claimStatusModel.UnreviewedTransactionDetailsOut" href="{{transaction.NavigationUrl}}">&nbsp; &nbsp;{{transaction.TransactionType == "SPSR" ? "SPS" : transaction.TransactionType}} {{transaction.TransactionCount}} &nbsp;&nbsp; <br></a>
    </div>
</script>
<script type="text/ng-template" id="ajustedTransactionUrl.html">
    <div style="width:auto">
        <em>&nbsp; &nbsp;Inbound&nbsp; &nbsp;</em><br>
        <a ng-repeat="transaction in claimStatusModel.AdjustedTransactionDetailsIn" href="{{transaction.NavigationUrl}}">&nbsp; &nbsp;{{transaction.TransactionType == "SPS" ? "SIR" : transaction.TransactionType}} {{transaction.TransactionCount}} &nbsp;&nbsp; <br></a>
        <em>&nbsp; &nbsp;Outbound&nbsp; &nbsp;</em><br>
        <a ng-repeat="transaction in claimStatusModel.AdjustedTransactionDetailsOut" href="{{transaction.NavigationUrl}}">&nbsp; &nbsp;{{transaction.TransactionType == "SPSR" ? "SPS" : transaction.TransactionType}} {{transaction.TransactionCount}} &nbsp;&nbsp; <br></a>
    </div>
</script>
<script type="text/ng-template" id="approvedTransactionUrl.html">
    <div style="width:auto">
        <em>&nbsp; &nbsp;Inbound&nbsp; &nbsp;</em><br>
        <a ng-repeat="transaction in claimStatusModel.ApprovedTransactionDetailsIn" href="{{transaction.NavigationUrl}}">&nbsp; &nbsp;{{transaction.TransactionType == "SPS" ? "SIR" : transaction.TransactionType}} {{transaction.TransactionCount}} &nbsp;&nbsp; <br></a>
        <em>&nbsp; &nbsp;Outbound&nbsp; &nbsp;</em><br>
        <a ng-repeat="transaction in claimStatusModel.ApprovedTransactionDetailsOut" href="{{transaction.NavigationUrl}}">&nbsp; &nbsp;{{transaction.TransactionType == "SPSR" ? "SPS" : transaction.TransactionType}} {{transaction.TransactionCount}} &nbsp;&nbsp; <br></a>
     </div>
</script>
<script type="text/ng-template" id="reviewedTransactionUrl.html">
    <div style="width:auto">
        <em>&nbsp; &nbsp;Inbound&nbsp; &nbsp;</em><br>
        <a ng-repeat="transaction in claimStatusModel.ReviewedTransactionDetailsIn" href="{{transaction.NavigationUrl}}">&nbsp; &nbsp;{{transaction.TransactionType == "SPS" ? "SIR" : transaction.TransactionType}} {{transaction.TransactionCount}} &nbsp;&nbsp; <br></a>
        <em>&nbsp; &nbsp;Outbound&nbsp; &nbsp;</em><br>
        <a ng-repeat="transaction in claimStatusModel.ReviewedTransactionDetailsOut" href="{{transaction.NavigationUrl}}">&nbsp; &nbsp;{{transaction.TransactionType == "SPSR" ? "SIR" : transaction.TransactionType}} {{transaction.TransactionCount}} &nbsp;&nbsp; <br></a>
    </div>
</script>
<script type="text/ng-template" id="invalidatedTransactionUrl.html">
    <div style="width:auto">
        <em>&nbsp; &nbsp;Inbound&nbsp; &nbsp;</em><br>
        <a ng-repeat="transaction in claimStatusModel.InvalidatedTransactionDetailsIn" href="{{transaction.NavigationUrl}}">&nbsp; &nbsp;{{transaction.TransactionType == "SPS" ? "SIR" : transaction.TransactionType}} {{transaction.TransactionCount}} &nbsp;&nbsp; <br></a>
        <em>&nbsp; &nbsp;Outbound&nbsp; &nbsp;</em><br>
        <a ng-repeat="transaction in claimStatusModel.InvalidatedTransactionDetailsOut" href="{{transaction.NavigationUrl}}">&nbsp; &nbsp;{{transaction.TransactionType == "SPSR" ? "SPS" : transaction.TransactionType}} {{transaction.TransactionCount}} &nbsp;&nbsp; <br></a>
    </div>
</script>
  <!-- Modal: Status On-hold  -->
<script type="text/ng-template" id="modalClaimOnhold.html">
  
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" id="modalStatusClaimOnHold" align="center">Confirm</h3>
        </div>
        <div class="modal-body">
            <div class="txt-c" style="padding:10px;">
                <h4>Are you sure you would like to place this <strong>claim {{infoMessage}}</strong>?</h4>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-lg" ng-click="cancel()">
                <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                No
            </button>
            <button type="button" class="btn btn-success btn-lg" ng-click="confirm()">
                <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                Yes
            </button>
        </div>
    </div>
   
</script>

<script type="text/ng-template" id="modalAuditOnhold.html">
    <!-- Modal: Status On-hold  -->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" id="modalStatusAuditOnHold" align="center">Confirm</h3>
        </div>
        <div class="modal-body">
            <div class="txt-c" style="padding:10px;">
                <h4>Are you sure you would like to place this <strong>claim {{infoMessage}} for Audit</strong>?</h4>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-lg" ng-click="cancel()">
                <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                No
            </button>
            <button type="button" class="btn btn-success btn-lg" ng-click="confirm()">
                <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                Yes
            </button>
        </div>
    </div>
   
</script>
    <!-- Modal: Status On-hold warning -->
<script type="text/ng-template" id="modalClaimOnholdWarning.html">

    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" id="modalStatusClaimOnHold" align="center">Warning</h3>
        </div>
        <div class="modal-body">
            <div class="txt-c" style="padding:10px;">
                <h4>This claim cannot be taken off-hold. In order to remove the hold, please see previous claim(s) on hold.</h4>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success btn-lg" ng-click="cancel()">
                <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                OK
            </button>
        </div>
    </div>
   
</script>
   <!-- Modal: Status On-hold warning -->
<script type="text/ng-template" id="modalAuditOnholdWarning.html">
 
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" id="modalStatusClaimOnHold" align="center">Warning</h3>
        </div>
        <div class="modal-body">
            <div class="txt-c" style="padding:10px;">
                <h4>This claim cannot be taken off-hold for Audit. In order to remove the hold, please see previous claim(s) on hold.</h4>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success btn-lg" ng-click="cancel()">
                <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                OK
            </button>
        </div>
    </div>
   
</script>
