﻿@using CL.TMS.Resources
<script type="text/ng-template" id="claimWorkflow.html">
    <!-- /Component -->
    <div class="row comp-claim-progress-info" ng-show="claimWorkflowModel.isApprover2BtnVisible" id="claimWorkflowBar">
        <div class="col-sm-7 col-sm-offset-5">
            <div class="row claim-progress-bar">
                <div class="col-sm-12">
                    <div class="progress">
                        <div class="progress-bar color-tm-green-bg" style="width: 8.25%" ng-show="claimWorkflowModel.claimWorkflowStatus==1">
                            <span></span>
                        </div>
                        <div class="progress-bar color-tm-green-bg" style="width: 16.5%" ng-show="claimWorkflowModel.claimWorkflowStatus>1">
                            <span></span>
                        </div>
                        <div class="progress-bar color-tm-green-bg" style="width: 8.25%" ng-show="claimWorkflowModel.claimWorkflowStatus==2">
                            <span></span>
                        </div>
                        <div class="progress-bar color-tm-green-bg" style="width: 16.5%" ng-show="claimWorkflowModel.claimWorkflowStatus>2">
                            <span></span>
                        </div>
                        <div class="progress-bar color-tm-green-bg" style="width: 8.25%" ng-show="claimWorkflowModel.claimWorkflowStatus==3">
                            <span></span>
                        </div>
                        <div class="progress-bar color-tm-green-bg" style="width: 16.5%" ng-show="claimWorkflowModel.claimWorkflowStatus>3">
                            <span></span>
                        </div>
                        <div class="progress-bar color-tm-green-bg" style="width: 8.25%" ng-show="claimWorkflowModel.claimWorkflowStatus==4">
                            <span></span>
                        </div>
                        <div class="progress-bar color-tm-green-bg" style="width: 16.5%" ng-show="claimWorkflowModel.claimWorkflowStatus>4">
                            <span></span>
                        </div>
                        <div class="progress-bar color-tm-green-bg" style="width: 8.25%" ng-show="claimWorkflowModel.claimWorkflowStatus==5">
                            <span></span>
                        </div>
                        <div class="progress-bar color-tm-green-bg" style="width: 16.5%" ng-show="claimWorkflowModel.claimWorkflowStatus>5">
                            <span></span>
                        </div>
                        <div class="progress-bar color-tm-green-bg" style="width: 16.5%" ng-show="claimWorkflowModel.claimWorkflowStatus>=6">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
            <div class="progress-label-container">
                <div class="progress-label" ng-show="claimWorkflowModel.claimWorkflowStatus==1"><strong>Representative</strong></div>
                <div class="progress-label" ng-hide="claimWorkflowModel.claimWorkflowStatus==1">Representative</div>
                <div class="progress-label" ng-show="claimWorkflowModel.claimWorkflowStatus==2"><strong>Lead</strong></div>
                <div class="progress-label" ng-hide="claimWorkflowModel.claimWorkflowStatus==2">Lead</div>
                <div class="progress-label" ng-show="claimWorkflowModel.claimWorkflowStatus==3"><strong>Supervisor</strong></div>
                <div class="progress-label" ng-hide="claimWorkflowModel.claimWorkflowStatus==3">Supervisor</div>
                <div class="progress-label" ng-show="claimWorkflowModel.claimWorkflowStatus==4"><strong>Approver 1</strong></div>
                <div class="progress-label" ng-hide="claimWorkflowModel.claimWorkflowStatus==4">Approver 1</div>
                <div class="progress-label" ng-show="claimWorkflowModel.claimWorkflowStatus==5"><strong>Approver 2</strong></div>
                <div class="progress-label" ng-hide="claimWorkflowModel.claimWorkflowStatus==5">Approver 2</div>
                <div class="progress-label" ng-show="claimWorkflowModel.claimWorkflowStatus==6"><strong>Approved/Paid</strong></div>
                <div class="progress-label" ng-hide="claimWorkflowModel.claimWorkflowStatus==6">Approved/Paid</div>
            </div><!--/.row-->
        </div>
    </div><!--/.row-->

    <div class="row comp-claim-progress-info" ng-show="claimWorkflowModel.isApprover1BtnVisible" id="claimWorkflowBar">
        <div class="col-sm-7 col-sm-offset-5">
            <div class="row claim-progress-bar">
                <div class="col-sm-12">
                    <div class="progress">
                        <div class="progress-bar color-tm-green-bg" style="width: 10%" ng-show="claimWorkflowModel.claimWorkflowStatus==1">
                            <span></span>
                        </div>
                        <div class="progress-bar color-tm-green-bg" style="width: 20%" ng-show="claimWorkflowModel.claimWorkflowStatus>1">
                            <span></span>
                        </div>
                        <div class="progress-bar color-tm-green-bg" style="width: 10%" ng-show="claimWorkflowModel.claimWorkflowStatus==2">
                            <span></span>
                        </div>
                        <div class="progress-bar color-tm-green-bg" style="width: 20%" ng-show="claimWorkflowModel.claimWorkflowStatus>2">
                            <span></span>
                        </div>
                        <div class="progress-bar color-tm-green-bg" style="width: 10%" ng-show="claimWorkflowModel.claimWorkflowStatus==3">
                            <span></span>
                        </div>
                        <div class="progress-bar color-tm-green-bg" style="width: 20%" ng-show="claimWorkflowModel.claimWorkflowStatus>3">
                            <span></span>
                        </div>
                        <div class="progress-bar color-tm-green-bg" style="width: 10%" ng-show="claimWorkflowModel.claimWorkflowStatus==4">
                            <span></span>
                        </div>
                        <div class="progress-bar color-tm-green-bg" style="width: 20%" ng-show="claimWorkflowModel.claimWorkflowStatus>4">
                            <span></span>
                        </div>
                        <div class="progress-bar color-tm-green-bg" style="width: 20%" ng-show="claimWorkflowModel.claimWorkflowStatus>=6">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
            <div class="progress-label-container">
                <div class="progress-label-approver1" ng-show="claimWorkflowModel.claimWorkflowStatus==1"><strong>Representative</strong></div>
                <div class="progress-label-approver1" ng-hide="claimWorkflowModel.claimWorkflowStatus==1">Representative</div>
                <div class="progress-label-approver1" ng-show="claimWorkflowModel.claimWorkflowStatus==2"><strong>Lead</strong></div>
                <div class="progress-label-approver1" ng-hide="claimWorkflowModel.claimWorkflowStatus==2">Lead</div>
                <div class="progress-label-approver1" ng-show="claimWorkflowModel.claimWorkflowStatus==3"><strong>Supervisor</strong></div>
                <div class="progress-label-approver1" ng-hide="claimWorkflowModel.claimWorkflowStatus==3">Supervisor</div>
                <div class="progress-label-approver1" ng-show="claimWorkflowModel.claimWorkflowStatus==4"><strong>Approver 1</strong></div>
                <div class="progress-label-approver1" ng-hide="claimWorkflowModel.claimWorkflowStatus==4">Approver 1</div>
                <div class="progress-label-approver1" ng-show="claimWorkflowModel.claimWorkflowStatus==6"><strong>Approved/Paid</strong></div>
                <div class="progress-label-approver1" ng-hide="claimWorkflowModel.claimWorkflowStatus==6">Approved/Paid</div>
            </div><!--/.row-->
        </div>
    </div><!--/.row-->

    <div class="row comp-claim-progress-info" ng-show="claimWorkflowModel.isApproverBtnVisible" id="claimWorkflowBar">
        <div class="col-sm-7 col-sm-offset-5">
            <div class="row claim-progress-bar">
                <div class="col-sm-12">
                    <div class="progress">
                        <div class="progress-bar color-tm-green-bg" style="width: 12.5%" ng-show="claimWorkflowModel.claimWorkflowStatus==1">
                            <span></span>
                        </div>
                        <div class="progress-bar color-tm-green-bg" style="width: 25%" ng-show="claimWorkflowModel.claimWorkflowStatus>1">
                            <span></span>
                        </div>
                        <div class="progress-bar color-tm-green-bg" style="width: 12.5%" ng-show="claimWorkflowModel.claimWorkflowStatus==2">
                            <span></span>
                        </div>
                        <div class="progress-bar color-tm-green-bg" style="width: 25%" ng-show="claimWorkflowModel.claimWorkflowStatus>2">
                            <span></span>
                        </div>
                        <div class="progress-bar color-tm-green-bg" style="width: 12.5%" ng-show="claimWorkflowModel.claimWorkflowStatus==3">
                            <span></span>
                        </div>
                        <div class="progress-bar color-tm-green-bg" style="width: 25%" ng-show="claimWorkflowModel.claimWorkflowStatus>3">
                            <span></span>
                        </div>
                        <div class="progress-bar color-tm-green-bg" style="width: 25%" ng-show="claimWorkflowModel.claimWorkflowStatus>=6">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
            <div class="progress-label-container">
                <div class="progress-label-approver2" ng-show="claimWorkflowModel.claimWorkflowStatus==1"><strong>Representative</strong></div>
                <div class="progress-label-approver2" ng-hide="claimWorkflowModel.claimWorkflowStatus==1">Representative</div>
                <div class="progress-label-approver2" ng-show="claimWorkflowModel.claimWorkflowStatus==2"><strong>Lead</strong></div>
                <div class="progress-label-approver2" ng-hide="claimWorkflowModel.claimWorkflowStatus==2">Lead</div>
                <div class="progress-label-approver2" ng-show="claimWorkflowModel.claimWorkflowStatus==3"><strong>Supervisor</strong></div>
                <div class="progress-label-approver2" ng-hide="claimWorkflowModel.claimWorkflowStatus==3">Supervisor</div>
                <div class="progress-label-approver2" ng-show="claimWorkflowModel.claimWorkflowStatus==6"><strong>Approved/Paid</strong></div>
                <div class="progress-label-approver2" ng-hide="claimWorkflowModel.claimWorkflowStatus==6">Approved/Paid</div>
            </div><!--/.row-->
        </div>
    </div><!--/.row-->
    <br />

    <!-- Component: Claim Actions  With Representative-->
    <div class="row" ng-show="claimWorkflowModel.representativeView">
        <div class="col-sm-12" style="text-align:right;">
            <button type="button" class="btn btn-warning btn-lg workflow-btn" ng-click="backToParticipant()" ng-disabled="claimWorkflowModel.isBackToParticipantBtnDisable || !enableWorkflowButton"><i class="fa fa-chevron-left"></i> Participant</button>
            <button type="button" class="btn btn-primary btn-lg workflow-btn" ng-click="workflowProcess(2,1,2,'Lead')" ng-disabled="claimWorkflowModel.isLeadBtnDisable || !enableWorkflowButton">Lead <i class="fa fa-chevron-right"></i></button>
        </div>
    </div><!--/.row-->
    <!-- /Component -->
    <!-- Component: Claim Actions With Lead -->
    <div class="row" ng-show="claimWorkflowModel.leadView">
        <div class="col-sm-12" style="text-align:right;">
            <button type="button" class="btn btn-warning btn-lg workflow-btn" ng-click="backToParticipant()" ng-disabled="claimWorkflowModel.isBackToParticipantBtnDisable || !enableWorkflowButton"><i class="fa fa-chevron-left"></i> Participant</button>
            <button type="button" class="btn btn-warning btn-lg workflow-btn" ng-click="workflowProcess(1,2,1,'Representative')" ng-disabled="claimWorkflowModel.isRepresentativeBtnDisable || !enableWorkflowButton"><i class="fa fa-chevron-left"></i> Representative</button>
            <button type="button" class="btn btn-primary btn-lg workflow-btn" ng-click="workflowProcess(3,2,3,'Supervisor')" ng-disabled="claimWorkflowModel.isLeadBtnDisable || !enableWorkflowButton">Supervisor <i class="fa fa-chevron-right"></i></button>
        </div>
    </div><!--/.row-->
    <!-- Component: Claim Actions  With Supervisor-->
    <div class="row" ng-show="claimWorkflowModel.supervisorView">
        <div class="col-sm-12" style="text-align:right;">
            <button type="button" class="btn btn-warning btn-lg workflow-btn" ng-click="workflowProcess(2,3,2,'Lead')" ng-disabled="claimWorkflowModel.isLeadBtnDisable || !enableWorkflowButton"><i class="fa fa-chevron-left"></i> Lead</button>
            <button type="button" class="btn btn-primary btn-lg workflow-btn" ng-click="workflowProcess(4,3,4,'Approver 1')" ng-disabled="claimWorkflowModel.isApprover1BtnDisable || !enableWorkflowButton">Approver 1<i class="fa fa-chevron-right"></i></button>
        </div>
    </div><!--/.row-->

    <!-- Component: Claim Actions  With Supervisor no approver1 or approver2-->
    <div class="row" ng-show="claimWorkflowModel.supervisorWithoutApproverView">
        <div class="col-sm-12" style="text-align:right;">
            <button type="button" class="btn btn-warning btn-lg workflow-btn" ng-click="workflowProcess(2,3,2,'Lead')" ng-disabled="claimWorkflowModel.isLeadBtnDisable || !enableWorkflowButton"><i class="fa fa-chevron-left"></i> Lead</button>
            <button type="button" class="btn btn-success btn-lg workflow-btn" ng-click="approveClaim(3,6)" ng-disabled="claimWorkflowModel.isApproverBtnDisable || !enableWorkflowButton">Approve/Pay<i class="fa fa-chevron-right"></i></button>
        </div>
    </div><!--/.row-->

    <!-- /Component -->
    <!-- Component: Claim Actions With Approver 1-->
    <div class="row" ng-show="claimWorkflowModel.approver1View">
        <div class="col-sm-12" style="text-align:right;">
            <div class="pull-right" style="text-align:right; width:auto">
                <div style="float:left">
                    <button type="button" class="btn btn-warning btn-lg workflow-btn" ng-click="workflowProcess(3,4,3,'Supervisor')" ng-disabled="claimWorkflowModel.isSupervisorBtnDisable || !enableWorkflowButton"><i class="fa fa-chevron-left"></i> Supervisor</button>
                </div>
                <div style="float:left; margin-left:3px" class="workflow-popover">
                    <button type="button" class="btn btn-primary btn-lg workflow-btn" ng-show="claimWorkflowModel.isApprover2BtnVisible" ng-click="workflowProcess(5,4,5,'Approver 2')" ng-disabled="claimWorkflowModel.isApprover2BtnDisable || !enableWorkflowButton || claimWorkflowModel.sendBackInfo != '' ">Approver 2 <i class="fa fa-chevron-right"></i></button>
                </div>
                <div style="float:left; margin-left:3px" class="workflow-popover">
                    <button type="button" class="btn btn-success btn-lg workflow-btn" ng-hide="claimWorkflowModel.isApprover2BtnVisible" ng-click="approveClaim(4,6)" ng-disabled="claimWorkflowModel.isApproverBtnDisable || !enableWorkflowButton || claimWorkflowModel.sendBackInfo != '' ">Approve/Pay <i class="fa fa-chevron-right"></i></button>
                </div>               
            </div>
        </div>
    </div><!--/.row-->
    <!-- /Component -->
    <!-- Component: Claim Actions With Approver 1 no Approver 2-->
    <div class="row" ng-show="claimWorkflowModel.approver1WithoutApprover2View">
        <div class="col-sm-12" style="text-align:right;">
            <div class="pull-right" style="text-align:right; width:auto">
                <div style="float:left">
                    <button type="button" class="btn btn-warning btn-lg workflow-btn" ng-click="workflowProcess(3,4,3,'Supervisor')" ng-disabled="claimWorkflowModel.isSupervisorBtnDisable || !enableWorkflowButton"><i class="fa fa-chevron-left"></i> Supervisor</button>
                </div>
                <div style="float:left; margin-left:3px" class="workflow-popover">
                    <button type="button" class="btn btn-success btn-lg workflow-btn" ng-hide="claimWorkflowModel.isApprover2BtnVisible" ng-click="approveClaim(4,6)" ng-disabled="claimWorkflowModel.isApproverBtnDisable || !enableWorkflowButton || claimWorkflowModel.sendBackInfo != '' ">Approve/Pay <i class="fa fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
    </div><!--/.row-->
    <!-- /Component -->
    <!-- Component: Claim Actions  With Approver 2-->
    <div class="row" ng-show="claimWorkflowModel.approver2View">
        <div class="col-sm-12" style="text-align:right;">
            <div class="pull-right" style="text-align:right; width:auto">
                <div style="float:left">
                    <button type="button" class="btn btn-warning btn-lg workflow-btn" ng-click="workflowProcess(4,5,4,'Approver 1')" ng-disabled="claimWorkflowModel.isApprover1BtnDisable || !enableWorkflowButton"><i class="fa fa-chevron-left"></i> Approver 1</button>
                </div>
                <div style="float:left; margin-left:3px" class="workflow-popover">
                    <button type="button" class="btn btn-success btn-lg workflow-btn" ng-click="approveClaim(5,6)" ng-disabled="claimWorkflowModel.isApproverBtnDisable || !enableWorkflowButton || claimWorkflowModel.sendBackInfo != '' ">Approve/Pay <i class="fa fa-chevron-right"></i></button>
                </div>               
            </div>
        </div>
    </div><!--/.row-->
    <br />
    <!-- /Component -->
    <!-- Modal: Claim Actions -->
    <script type="text/ng-template" id="modalParticipant.html">
        <div class="modal-content">
            <div class="modal-header modal-header-le">
                <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalClaimActionsWithRepSupervisor" align="center">Confirm</h3>
            </div>
            <div class="modal-body">
                <div style="padding: 20px">
                    <h4 class="txt-c">Are you sure you would like to <strong>Send</strong> this claim back to the <strong>Participant</strong>?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" ng-click="cancel()">
                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                    No
                </button>
                <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" ng-click="confirm()">
                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                    Yes
                </button>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="modalErrorMessage.html">
        <div class="modal-content">
            <div class="modal-header modal-header-le">
                <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" align="center">Warning</h3>@*{{headerText}}*@
            </div>
            <div class="modal-body">
                <div style="padding: 20px">
                    <h4 class="txt-c" ng-bind-html="errorMessage | unsafe"></h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" ng-click="cancel()">
                    <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                    OK
                </button>
            </div>
        </div>
    </script>


    <script type="text/ng-template" id="modalClaimProcessing.html">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" align="center">Confirm</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 txt-c">
                        <h4 class="margin-top-10">Are you sure you want to <strong>assign</strong> claim to {{userRole}}</h4>
                    </div>
                    <div class="col-sm-12 txt-c">
                        <div class="col-sm-4 col-sm-offset-4">
                            <div class="form-group form-group-select2">
                                <label style="font-weight:normal;" class="margin-bottom-20">Choose a {{userRole}}:&nbsp; </label>
                                <select ng-model="selectedUser" ng-options="user.userName for user in users" class="form-control">
                                </select>
                            </div>
                        </div>
                    </div>
                </div> <!--/.row-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" ng-click="cancel()">
                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                    No
                </button>
                <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" ng-click="confirm()">
                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                    Yes
                </button>
            </div>
        </div>

    </script>

    <script type="text/ng-template" id="modalApproveClaim.html">
        <div class="modal-content">
            <div class="modal-header modal-header-le">
                <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" align="center">Confirm</h3>
            </div>
            <div class="modal-body">
                <div style="padding: 20px">
                    <h4 class="txt-c">Are you sure you would like to <strong>Approve</strong> this claim?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" ng-click="cancel()">
                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                    No
                </button>
                <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" ng-click="confirm()">
                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                    Yes
                </button>
            </div>
        </div>

    </script>

    <script type="text/ng-template" id="modalWarningMessage.html">
        <div class="modal-content">
            <div class="modal-header modal-header-le">
                <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" align="center">Warning</h3>
            </div>
            <div class="modal-body">
                <div style="padding: 20px">
                    <h4 class="txt-c" ng-bind-html="errorMessage | unsafe"></h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" ng-click="cancel()">
                    <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                    OK
                </button>
            </div>
        </div>
    </script>

