﻿@using CL.TMS.Resources;
@using CL.TMS.DataContracts.ViewModel.Common.FileUpload
@using CL.TMS.Common.Enum;
@using CL.TMS.Security.Authorization;
@using CL.TMS.Common;

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="panelSupportingDocumentsHeading">
        <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#panelSupportingDocuments" aria-expanded="false" aria-controls="panelSupportingDocuments">
                @UIResource.CommonSupportingDocuments
            </a>
        </h4>
    </div>
    <input type="hidden" id="StatusString" value="@ViewBag.ClaimsStatus" />
    <div id="panelSupportingDocuments" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    @Html.Partial("_baseFileUpload", new FileUploadModel
               {
                   TransactionID = @ViewBag.TransactionId.ToString(),
                   AddFilesURL = "/System/FileUpload/UploadClaimFiles",
                   GetFilesURL = "/System/FileUpload/GetClaimUploadedFiles",
                   DeleteFileURL = "/System/FileUpload/DeleteClaimUploadedFile",
                   AllowSelection = false,
                   FileUploadSectionName = @ViewBag.FileUploadSectionName,

                   //AllowDelete = (ViewBag.SupportDocPermission == CL.TMS.Security.SecurityResultType.EditSave) ? true : false,
                   AllowDelete = (!SecurityContextHelper.IsStaff() && @ViewBag.ClaimsStatus != ClaimStatus.Open) ? false : @ViewBag.SupportDocEditPermission,

                   //AllowDownload = (!SecurityContextHelper.IsStaff() && @ViewBag.ClaimsStatus != ClaimStatus.Open) ? false : (ViewBag.SupportDocPermission == CL.TMS.Security.SecurityResultType.EditSave) ? true : false,
                   AllowDownload = (!SecurityContextHelper.IsStaff() && @ViewBag.ClaimsStatus != ClaimStatus.Open) ? false : true,

                   //Disable = (@ViewBag.ClaimsStatus != ClaimStatus.Open) || (ViewBag.SupportDocPermission != CL.TMS.Security.SecurityResultType.EditSave),
                   Disable = (!SecurityContextHelper.IsStaff() && @ViewBag.ClaimsStatus != ClaimStatus.Open) ? true : !@ViewBag.SupportDocEditPermission

               })

      
                </div>
            </div>
        </div><!--/.row-->
    </div>
</div>

<script type="text/javascript">
    //declare dom related scripts here and please dont add in _baseFileUpload.js
</script>
