﻿@using CL.TMS.Security.Authorization

<!-- Component: Transaction Adjustments -->

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="panelAdjustments-headingOne">

        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#panelAdjustments-collapseStatus" aria-expanded="true" aria-controls="panelAdjustments-collapseStatus" class="panel-arrow-expand">
                Transaction Adjustments
            </a>
            <a id="exportTransactionAdj" class="export" title="Export to CSV" href="@Url.Action("ExportToExcel", new {})"><i class="fa fa-file-text-o fa-fw uiaction-export"></i></a>
        </h4>
        <div class="col-xs-6 subcomp-search">
            <input id="transactionAdjustSearch" type="text" class="form-control" placeholder="Search">
            <div id="transactionAdjustFound" class="subcomp-search-found">&nbsp;</div>
            <i class="glyphicon glyphicon-remove remove-icon" id="transactionAdjustRemove"></i>
            <i class="glyphicon glyphicon-search"></i>
        </div>

    </div>
    <div id="panelAdjustments-collapseStatus" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelAdjustments-headingOne">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    @Html.Partial("_CommonTransactionAdjusList")
                </div>
            </div>
           
            <div class="row">
                <div class="col-md-6  margin-top--20">
                    <a id="transactionAdjustViewMore" href="javascript:void(0)" class="transactionAdjustViewMore" style="display:inline-block">More</a>
                </div>
                <div class="col-md-6 col-md-offset-6 txt-r margin-top--20">
                    @{
                        if (SecurityContextHelper.IsStaff())
                        {
                            if (ViewBag.TransactionAdjustPermission == CL.TMS.Security.SecurityResultType.EditSave)
                            {
                                <button type="button" class="btn btn-success btn-add" data-toggle="modal" data-target="#modalTransactionAdjustmentOpen">+</button>
                            }
                            else
                            {
                            <!--OTSTM2-155-->
                                <button type="button" class="btn btn-success btn-add" data-toggle="modal" data-target="#modalTransactionAdjustmentOpen" ng-disabled="true">+</button>
                            }
                        }
                        else
                        {
                            <button type="button" class="btn btn-success btn-add" data-toggle="modal" data-target="#modalTransactionAdjustmentOpen" ng-disabled="disableAddTransAdjBtn">+</button>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_TransactionWeightWithUnitType")

<!-- Modal: Transaction Adjustment  -->
<div class="modal fade" id="modalTransactionAdjustmentOpen" tabindex="-1" role="dialog" aria-labelledby="modalTransactionAdjustmentOpen" aria-hidden="true" transaction-handler>
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalTransactionAdjustmentOpen" align="center">Transaction Adjustment</h3>
            </div>
            <div class="modal-body">
                <div style="padding:10px;">
                    <div class="row modal-transactionadj-open margin-top-10 txt-l">
                        <div class="col-sm-6 col-sm-offset-1">
                            <label>Transaction #</label>
                            <input id="txtTransactionId" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control" placeholder="" />
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            You can only adjust the transactions for this claim period.
                            <br><br><span id="searchResult" class="color-tm-red"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                    <i class="glyphicon fa fa-ban" aria-hidden="true"></i>
                    Cancel
                </button>
                <button id="openTransactionAdjust" type="button" class="btn btn-success btn-lg" data-dismiss="modal" data-toggle="modal" data-target="#modalPTRPaperFormAdjust">
                    Open
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal: Transaction Adjustments: Recall Confirm  -->
<div class="modal fade" id="modalTransAdjustmentsRecallConfirm" tabindex="-1" role="dialog" aria-labelledby="modalTransAdjustmentsRecallConfirm" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-md margin-top-100">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalTransAdjustmentsRecallConfirm" align="center">Confirm</h3>
            </div>
            <div class="modal-body">
                <div class="txt-c" style="padding:10px;">
                    <h4>Are you sure you would like to <strong>recall</strong> transaction<br> adjustment for <strong><span id="recallTransType"></span> # <span id="recallTransNum"></span></strong>?</h4>
                    <input type="hidden" id="recallTransId" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                    No
                </button>
                <button type="button" class="btn btn-success color-tm-gray-light-bg btn-lg" data-dismiss="modal" id="btnRecallTransaction">
                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                    Yes
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal: Transaction Adjustments: Accept Confirm  -->
<div class="modal fade" id="modalTransAdjustmentsAcceptConfirm" tabindex="-1" role="dialog" aria-labelledby="modalTransAdjustmentsAcceptConfirm" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-md margin-top-100">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalTransAdjustmentsAcceptConfirm" align="center">Confirm</h3>
            </div>
            <div class="modal-body">
                <div class="txt-c" style="padding:10px;">
                    <h4>Are you sure you would like to <strong>accept</strong> transaction<br> adjustment for <strong><span id="acceptTransType"></span> # <span id="acceptTransNum"></span></strong>?</h4>
                    <p>Please be advised that this will recalculate relevant claim(s) and may affect inventory and payments.</p>
                    <input type="hidden" id="acceptTransId" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                    No
                </button>
                <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" id="btnAcceptTransaction">
                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                    Yes
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal: Transaction Adjustments: Reject Confirm  -->
<div class="modal fade" id="modalTransAdjustmentsRejectConfirm" tabindex="-1" role="dialog" aria-labelledby="modalTransAdjustmentsRejectConfirm" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-md margin-top-100">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalTransAdjustmentsRejectConfirm" align="center">Confirm</h3>
            </div>
            <div class="modal-body">
                <div class="txt-c" style="padding:10px;">
                    <h4>Are you sure you would like to <strong>reject</strong> transaction<br> adjustment for <strong><span id="rejectTransType"></span> # <span id="rejectTransNum"></span></strong>?</h4>
                    <input type="hidden" id="rejectTransId" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                    No
                </button>
                <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" id="btnRejectTransaction">
                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                    Yes
                </button>
            </div>
        </div>
    </div>
</div>
