﻿@using System.Data
@using CL.TMS.Common
@using CL.TMS.DataContracts.ViewModel.Claims;

@{

}

<table id="staffTblclaimlist" class="table table-hover display truncate datatable-100-perc">
    <thead>
        <tr>
            <th>Period</th>
            <th>Status</th>
            <th>Amount($)</th>
            <th>Submitted</th>
            <th>Review Due</th>
            <th>Cheque&nbsp;Due</th>
            <th>Cheque/EFT&nbsp;#</th>
            <th>Payment&nbsp;Date</th>
            <th>Assigned&nbsp;On</th>
            <th>Assigned&nbsp;To</th>
            <th>Submitted&nbsp;By</th>
            <th></th>
        </tr>
    </thead>
    <tfoot class="column-search"> @*OTSTM2-904*@
        <tr>
            <th class="search-filter">Period</th>
            <th class="search-filter">Status</th>
            <th class="search-filter">Amount($)</th>
            <th class="search-filter">Submitted</th>
            <th class="search-filter">Review Due</th>
            <th class="search-filter">Cheque&nbsp;Due</th>
            <th class="search-filter">Cheque/EFT&nbsp;#</th>
            <th class="search-filter">Payment&nbsp;Date</th>
            <th class="search-filter">Assigned&nbsp;On</th>
            <th class="search-filter">Assigned&nbsp;To</th>
            <th class="search-filter">Submitted&nbsp;By</th>
            <th></th>
        </tr>
    </tfoot>
    <tbody></tbody>
</table>

<br />
<a id="viewmore" href="javascript:void(0)" class="viewmore" style="display:inline-block">More</a>
<div id="loading"></div>

