﻿
@using CL.TMS.Resources

<script type="text/ng-template" id="claimSubmit.html">
    <div class="row">
        <div class="col-sm-12" style="text-align:right;">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="" ng-show="submitBtn" ng-disabled="model.ClaimCommonModel.ClaimSummarySecurity.SubmitButtonDisabled" ng-click="submitClaimCheck()">Submit</button>
        </div>
    </div>
</script>

<!-- Modal: Submit Message Warning -->
<script type="text/ng-template" id="WarningModal.html">
    <div class="comp-all-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalSubmitWarning" align="center">Confirm</h3>
            </div>
            <div class="modal-body">
                <ul>
                    <li ng-repeat="message in warningMessage">
                        <span>{{message}}</span>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg" ng-click="cancel()">
                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                    No
                </button>
                <button type="button" class="btn btn-success btn-lg" data-toggle="modal" ng-click="confirm()">
                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                    Yes
                </button>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="ErrorModal.html">
    <!-- Modal: Submit Message Error -->
    <div class="comp-all-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalSubmitError" align="center">Warning</h3>
            </div>
            <div class="modal-body"> @*OTSTM2-1370*@
                <div style="padding:10px;" class="txt-c" ng-if="!multipleMessage">
                    <p>{{errorMessage}}</p>
                </div>
                <div style="padding:10px;" class="txt-l" ng-if="multipleMessage">
                    <ul>
                        <li ng-repeat="message in errorMessage">{{message}}</li>
                    </ul>                   
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-lg" ng-click="confirm()" data-toggle="modal">
                    <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                    Ok
                </button>
            </div>
        </div>
    </div>
</script>

<script id="ModalSubmitOne.html" type="text/ng-template">
    <div class="comp-all-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalSubmitOne" align="center">
                    Confirm
                </h3>
            </div>
            <div class="modal-body">
                <div style="padding:10px;" class="txt-c">
                    <h4>Are you sure you're ready to submit?</h4>
                    <p>Submitting sends the claim to us for processing. You will not be able to make further changes to this claim without our approval.</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg" ng-click="cancel()">
                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                    No
                </button>
                <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" data-toggle="modal" ng-click="finalSubmitClaim()">
                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                    Yes
                </button>
            </div>
        </div>
    </div>
</script>

<script id="ModalSubmitTwo.html" type="text/ng-template">
    <div class="comp-all-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="confirm()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalSubmitTwo" align="center">Claim Submitted</h3>
            </div>
            <div class="modal-body">
                <div style="padding:10px;" class="txt-c">
                    <h4>Your <strong><span ng-bind="submitInfo.periodShortName"></span></strong> claim for <strong><span ng-bind="submitInfo.registrationNum"></span></strong> <br>has been successfully submitted.</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" ng-click="confirm()">
                    <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                    Ok
                </button>
            </div>
        </div>
    </div>
</script>
