﻿<script type="text/ng-template" id="add-new-btn.html">
    <button type="button" class="btn btn-success btn-add margin-top--10 float-right position-fixed-x"
            data-toggle="modal" title="Add" ng-click="!isReadOnly && addNew()" ng-disabled="isReadOnly">
        +
    </button>
</script>

<script type="text/ng-template" id="edit-btn.html">
    <a href="javascript:void(0)" ng-click="!isReadOnly && edit()"><i class="fa fa-pencil-square-o"></i> Edit</a>
</script>

<script type="text/ng-template" id="remove-btn.html">
    <a href="javascript:void(0)" ng-style="anchorCss" ng-click="!isReadOnly && remove()"><i class="fa fa-times"></i> Remove</a>
</script>

<script type="text/ng-template" id="confirm-modal.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" align="center">Confirm</h4>
        </div>
        <div class="modal-body">
            <div class="txt-c" style="padding:10px;">
                <html-message message="confirmMessage"></html-message>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" ng-click="cancel()">
                <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                No
            </button>
            <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" data-toggle="modal" ng-click="confirm()">
                <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                Yes
            </button>
        </div>
    </div>
</script>


<script type="text/ng-template" id="fail-modal.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" style="color:red;" align="center">Warning</h4>
        </div>
        <div class="modal-body">
            <div class="txt-c" style="padding:10px;">
                <h4><strong>{{message}}</strong></h4>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" ng-click="cancel()">
                <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                OK
            </button>
        </div>
    </div>
</script>

<style>
    table.internal-note-table td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<script type="text/ng-template" id="internal-notes.html">
    <div style="display:none"><canvas id="noteCanvas" width="578" height="200"></canvas></div>
    <div class="panel panel-default">
        <div class="panel-heading" id="panelNotes-headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#{{panelArrow}}" aria-expanded="true" aria-controls="panelNotes-collapseOne" class="panel-arrow-expand">
                    Internal Notes<span><i class="fa fa-file-text-o fa-fw uiaction-export" id="exportInternalNote"></i></span>
                </a>
            </h4>
            <div class="col-xs-6 subcomp-search">
                <input type="text" class="form-control" placeholder="Search" ng-model="searchNote" ng-blur="blur()" ng-class="{in: searchNote}">
                <div class="subcomp-search-found" ng-show="searchNote" style="display: block" id="found">Found {{internalNoteLength}}</div>
                <i class="glyphicon glyphicon-remove remove-icon" style="display: inline" ng-show="searchNote" ng-click="removeIcon($event)"></i>
                <i class="glyphicon glyphicon-search"></i>
            </div>
        </div>
        <div id="{{panelArrow}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelNotes-headingOne">
            <div class="panel-body">
                <div class="form-group">
                    <textarea class="form-control" rows="3" ng-model="textAreaInput" style="resize:vertical;"></textarea>
                    <span ng-show="isValid.noteIsRequire && !isValid.note" class="text-danger">Required</span>
                </div>
                <button type="button" class="btn btn-success btn-add" data-toggle="modal" data-target="#" title="Add Internal Note" ng-click="add()">+</button>
                <br />
                <br />
                <div class="internal-wrap">
                    <table class="table table-hover" style="margin-right: 5px;">
                        <thead>
                            <tr>
                                <td style="width: 15%">
                                    <a href="javascript:void(0);" ng-click="noteSorting('AddedOn')">
                                        Date
                                        <span ng-show="sortType == 'AddedOn' && sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'AddedOn' && !sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td id="{{panelArrow}}-notes-width" style="width:75%">
                                    <a href="javascript:void(0);" ng-click="noteSorting('Note')">
                                        Note
                                        <span ng-show="sortType == 'Note' && sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'Note' && !sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td style="width: 10%">
                                    <a href="javascript:void(0);" ng-click="noteSorting('AddedBy')">
                                        Added by
                                        <span ng-show="sortType == 'AddedBy' && sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'AddedBy' && !sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                            </tr>
                        </thead>
                    </table>
                    <div style="overflow-y: auto; margin-top: -10px; height:195px;" id="internalNoteBody">
                        <table class="table table-hover internal-note-table table-condensed" style="margin-right: 5px;">
                            <tbody>
                                <tr ng-repeat="note in allInternalNotes|limitTo:quantity">
                                    <td style="width: 15%">{{note.AddedOn | date:'yyyy-MM-dd hh:mm a'}}</td>
                                    <td ng-if="checkNoteSize(note.Note)" width="75%" style="cursor: pointer" class="internal-note{{$index}}">
                                        <span internal-note-hover-popover data-note="{{note.Note}}">{{stripNotes(note.Note)}}</span>
                                    </td>
                                    <td ng-if="!checkNoteSize(note.Note)" width="75%" class="internal-note{{$index}}">
                                        <span>{{note.Note}}</span>
                                    </td>
                                    <td style="width: 10%">{{note.AddedBy}}</td>
                                </tr>
                            </tbody>      
                        </table>
                        <div class="spaceRow" style="display:none; height:20px;">           
                            <div class="col-md-12">&nbsp;</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="javascript:void(0);" ng-click="viewMoreNotesClick()" ng-show="showMore && allInternalNotes.length > quantity" id="internal-viewmore">More</a>
                        </div>
                        <div class="spaceRow" style="display:none;">
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>