﻿@using CL.TMS.Security.Authorization
@using CL.TMS.Common
@{
    bool paymentReadonly = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsProcessorClaimSummaryPaymentsAndAdjustments) == CL.TMS.Security.SecurityResultType.ReadOnly;
    var temp = paymentReadonly;
}
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="panelPaymentsAndClawback-headingOne">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-tireoriginreport="#accordion" href="#panelPaymentsAndClawback-collapseOne" aria-expanded="true" aria-controls="panelPaymentsAndClawback-collapseOne">
                Payments &amp; Adjustments
                <common-payment-adjust-export model="ProcessorClaimSummary.ProcessorPayment"
                                              file-name="@(SecurityContextHelper.IsStaff() ? "StaffPaymentAdjustmentClaimsSummary" : "ParticipantPaymentAdjustmentClaimsSummary")" ng-if="dataloaded"
                                              url='@Url.Action("ExportToExcelPaymentAdjustment", "Claims", new { area = "System" })' claim-type="Processor" attr-anchor="230px">
                </common-payment-adjust-export>
            </a>
        </h4>
    </div>
    <div id="panelPaymentsAndClawback-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelPaymentsAndClawback-headingOne">
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th style="text-align:right">Payment ($)</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>PTR</td>
                        <td align="right">{{ProcessorClaimSummary.ProcessorPayment.PTR | number:2}}</td>
                        <td>+</td>
                    </tr>
                    <tr>
                        <td>SPS</td>
                        <td align="right">{{ProcessorClaimSummary.ProcessorPayment.SPS | number:2}}</td>
                        <td>+</td>
                    </tr>
                    <tr>
                        <td>PIT Outbound</td>
                        <td align="right">{{ProcessorClaimSummary.ProcessorPayment.PITOutbound | number:2}}</td>
                        <td>+</td>
                    </tr>
                    <tr>
                        <td>DOR</td>
                        <td align="right" ng-class="{'color-tm-red': ProcessorClaimSummary.ProcessorPayment.DOR<0}">{{ProcessorClaimSummary.ProcessorPayment.DOR | number:2}}</td>
                        <td>+</td>
                    </tr>
                    <tr>
                        <td>Payment Adjustments</td>
                        <td align="right" ng-class="{'color-tm-red': ProcessorClaimSummary.ProcessorPayment.PaymentAdjustment<0}">{{ProcessorClaimSummary.ProcessorPayment.PaymentAdjustment | number:2}}</td>
                        <td>=</td>
                    </tr>
                    <tr>
                        <td>Subtotal</td>
                        <td align="right" ng-class="{'color-tm-red' : (ProcessorClaimSummary.ProcessorPayment.PTR+ProcessorClaimSummary.ProcessorPayment.SPS+ProcessorClaimSummary.ProcessorPayment.PITOutbound+ProcessorClaimSummary.ProcessorPayment.DOR+ProcessorClaimSummary.ProcessorPayment.PaymentAdjustment)<0}">
                            {{ProcessorClaimSummary.ProcessorPayment.PTR+ProcessorClaimSummary.ProcessorPayment.SPS+ProcessorClaimSummary.ProcessorPayment.PITOutbound+ProcessorClaimSummary.ProcessorPayment.DOR+ProcessorClaimSummary.ProcessorPayment.PaymentAdjustment | number:2}}
                        </td>
                        <td>+</td>
                    </tr>
                    <tr>
                        <td>
                            HST 13.00%
                            @if (SecurityContextHelper.IsStaff())
                            {
                                <div class="btn-group btn-toggle" style="margin-left:10px;" >
                                    <button class="btn btn-xs"                                          
                                            ng-disabled="taxDisabled"
                                            ng-class="ProcessorClaimSummary.ProcessorPayment.IsTaxApplicable ? 'active btn-success' : 'btn-default'"
                                            ng-click="taxApplicable()">
                                        On
                                    </button>
                                    <button class="btn btn-xs"
                                            ng-disabled="taxDisabled" @*"ProcessorClaimSummary.ClaimStatus.StatusString=='Approved' ||ProcessorClaimSummary.ClaimStatus.StatusString=='Receive Payment' "*@
                                            ng-class="!ProcessorClaimSummary.ProcessorPayment.IsTaxApplicable ? 'active btn-danger' : 'btn-default'"
                                            ng-click="taxApplicable()">
                                        Off
                                    </button>
                                </div>
                            }
                        </td>
                        <td align="right" 
                            ng-class="{'color-tm-red' :ProcessorClaimSummary.ProcessorPayment.HST<0}"
                            ng-if="ProcessorClaimSummary.ProcessorPayment.IsTaxApplicable" >
                            {{ProcessorClaimSummary.ProcessorPayment.HST|number:2}}
                        </td>
                        <td align="right" ng-if="!ProcessorClaimSummary.ProcessorPayment.IsTaxApplicable">
                            0.00
                        </td>
                        <td>=</td>
                    </tr>
                    <tr>
                        <td><strong>Grand Total</strong></td>
                        <td align="right" ng-class="{'color-tm-red': ProcessorClaimSummary.ProcessorPayment.GroundTotal<0}"><strong>{{ProcessorClaimSummary.ProcessorPayment.GroundTotal | number:2}}</strong></td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-hover" style="margin-bottom:5px;">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Payment Due</td>
                        <td class="txt-r">{{ProcessorClaimSummary.ProcessorPayment.PaymentDueDate | date:'yyyy-MM-dd'}}</td>
                    </tr>
                    <tr>
                        <td>Cheque/EFT #</td>
                        <td class="txt-r">{{ProcessorClaimSummary.ProcessorPayment.ChequeNumber}}</td>
                    </tr>
                    <tr>
                        <td>Paid</td>
                        <td class="txt-r">{{ProcessorClaimSummary.ProcessorPayment.PaidDate | date:'yyyy-MM-dd'}}</td>
                    </tr>
                    <tr>
                        <td>Amount Paid ($)</td>
                        <td class="txt-r">{{ProcessorClaimSummary.ProcessorPayment.AmountPaid | number:2}}</td>
                    </tr>
                    <tr>
                        <td>Mailed</td>
                        @if (SecurityContextHelper.IsStaff())
                        {
                            <td ng-show="ShowMailDate">
                                <div class="pull-right">
                                    <p class="input-group" ng-show="true" style="width:280px">
                                        <input type="text" name="formDate" class="form-control" ng-readonly='true' uib-datepicker-popup="yyyy-MM-dd" show-weeks="false" ng-model="ProcessorClaimSummary.ProcessorPayment.MailedDate" is-open="datePicker.status" ng-required="true" close-text="@UIResource.Close" />
                                        <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button></span>
                                    </p>
                                </div>
                            </td>
                            <td class="txt-r" ng-hide="ShowMailDate">{{ProcessorClaimSummary.ProcessorPayment.MailedDate | date:'yyyy-MM-dd'}}</td>
                        }
                        else
                        {
                            <td class="txt-r">{{ProcessorClaimSummary.ProcessorPayment.MailedDate | date:'yyyy-MM-dd'}}</td>
                        }
                    </tr>
                    @if (SecurityContextHelper.IsStaff())
                    {
                        <tr>
                            <td>Batch #</td>
                            <td class="txt-r">{{ProcessorClaimSummary.ProcessorPayment.BatchNumber}}</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div><!--/.panel-->
