﻿@using CL.TMS.Security.Authorization
<div class="panel panel-default" style="@((SecurityContextHelper.IsStaff()) ? "margin-top: 0" : "margin-top: 70px")">
    <div class="panel-heading" role="tab" id="panelInbound-headingOne">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#panelInbound-collapseOne" aria-expanded="true" aria-controls="panelInbound-collapseOne" class="panel-arrow-expand">
                Inbound
                <common-server-export model="ProcessorClaimSummary"
                                      file-name="@(SecurityContextHelper.IsStaff() ? "StaffInboundClaimsSummary" : "ParticipantInboundClaimsSummary")" ng-if="dataloaded"
                                      url='@Url.Action("ExportToExcelCommon", "Claims", new { area = "System" })'
                                      type="Processor" sub-type="Inbound" attr-anchor="90px">
                </common-server-export>
            </a>
        </h4>
    </div>
    <div id="panelInbound-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelInbound-headingOne">
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th style="text-align:right;">Actual (t)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr-hover-on">
                        <td>@UIResource.TotalOpening</td>
                        <td align="right">{{ProcessorClaimSummary.TotalOpening | number:4}}</td>
                    </tr>
                    <tr>
                        <td><a href="@Url.Action("Index", "Transaction", new { area = "Processor", id = @ViewBag.ClaimsId, type = CL.TMS.Common.TreadMarksConstants.PTR, direction = 1 })" data-toggle="tooltip" data-placement="right" title="Processor Tire Receipt">@UIResource.PTR</a></td>
                        <td align="right">{{ProcessorClaimSummary.PTR | number:4}}</td>
                    </tr>
                    <tr>
                        <td><a href="@Url.Action("Index", "Transaction", new { area = "Processor", id = @ViewBag.ClaimsId, type = CL.TMS.Common.TreadMarksConstants.PIT, direction = 1 })" data-toggle="tooltip" data-placement="right" title="Processor Inventory Transfer">@UIResource.PIT</a></td>
                        <td align="right">{{ProcessorClaimSummary.PIT | number:4}}</td>
                    </tr>
                    <tr>
                        <td data-toggle="modal" data-target="#modalADJInbound-NotInPhase1">ADJ <!--<i class="fa fa-search-plus color-tm-blue"></i>--></td>
                        <td align="right">{{ProcessorClaimSummary.AdjustIn | number:4}}</td>
                    </tr>
                    <tr>
                        <td>@UIResource.TotalInbound</td>
                        <td align="right">{{ProcessorClaimSummary.TotalInbound | number:4}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div><!--/.panel-->