﻿@using CL.TMS.Resources

<script type="text/ng-template" id="ptr-variance.html">
    <div ng-if="variance.valid">
        <label>Variance (%)</label>
        <p ng-class="varianceDisplayStyle()">{{variance.value | number:2}}</p>
    </div>
</script>