﻿@using CL.TMS.Resources

<script type="text/ng-template" id="supporting-document-view.html">
    <div class="row">
        <div class="col-md-12">
            <p><label>Supporting Documents</label> </p>
            Submitted By: <b>{{supportingDocumentDetail.submittedBy}}</b>
        </div>
    </div>

    <div class="row" ng-if="supportingDocumentDetail.documentList.length > 0">
        <div class="col-md-7">
            <img ng-if="loaded" id="SupportingDocumentZoom" src="/img/image-unavailable.png" initialize-smooth-zoom zoom-width="450" zoom-height="300" img-src="currentSupportingDocument.src" />
        </div>
        <div class="col-md-5">
            <div class="smoothzoompanPhotoThumb" ng-repeat="supportingDocument in supportingDocumentDetail.documentList" ng-click="viewSupportingDocument(supportingDocument)">
                <img ng-src="{{supportingDocument.src}}" />
            </div>
        </div>
        <div class="col-md-5 margin-bottom--10">
            <div>
                <label>Filename</label>
                <p>{{currentSupportingDocument.fileName}}</p>

                <label>Description</label>
                <p>{{currentSupportingDocument.description}}</p>

                <a class="btn btn-success" href="{{currentSupportingDocument.actualSrc}}" target="_blank"><strong>Download</strong></a>
            </div>
        </div>
    </div>
</script>