﻿<!-- Modal: Invalidate  -->
<div class="modal fade comp-claims-summary-submitmodal margin-top-100" id="modalInvalidate" tabindex="-1" role="dialog" aria-labelledby="modalInvalidate" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-le">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalInvalidate" align="center">Confirm</h3>
            </div>
            <div class="modal-body">
                <div style="padding:20px">
                    <h4 class="txt-c">Are you sure you would like to <strong>invalidate</strong><br> transaction <strong><span id="modalInvalidateTypeText"></span> # <span id="modalInvalidateTransNumText"></span></strong>?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <input class="confirmActionID" type="hidden" value=''>
                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                    No
                </button>
                <button type="button" class="btn btn-success workflow btn-lg" data-action="invalidate" data-dismiss="modal" id="btnInvalidateYes" data-transid="">
                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                    Yes
                </button>
            </div>
        </div>
    </div>
</div>
<!-- /Modal  -->
<!-- Modal: Approve  -->
<div class="modal fade comp-claims-summary-submitmodal margin-top-100" id="modalApprove" tabindex="-1" role="dialog" aria-labelledby="modalApprove" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-le">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalApprove" align="center">Confirm</h3>
            </div>
            <div class="modal-body">
                <div style="padding:20px">
                    <h4 class="txt-c">Are you sure you would like to <strong>approve</strong><br> transaction <strong><span id="modalApproveTypeText"></span> # <span id="modalApproveTransNumText"></span></strong>?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <input class="confirmActionID" type="hidden" value=''>
                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                    No
                </button>
                <button type="button" id="btnApproveTransaction" class="btn btn-success workflow btn-lg" data-action="approve" data-dismiss="modal" data-transid="">
                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                    Yes
                </button>
            </div>
        </div>
    </div>
</div>
<!-- /Modal  -->
<!-- Modal: Retail Price  -->
<div class="modal fade comp-claims-summary-submitmodal margin-top-100" id="modalRetailPrice" tabindex="-1" role="dialog" aria-labelledby="modalRetailPrice" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-le">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalRetailPrice" align="center">Retail Price</h3>
            </div>
            <div class="modal-body">
                <div style="padding:20px">
                    <h4 class="txt-c">Enter the Retail Price of SPS transaction<strong><br /> # <span id="modalRetailPriceTransNumText"></span></strong> ?</h4>
                    <div class="row">
                        <div class="txt-c">
                            <div style="display:inline; white-space:nowrap;">
                                <label>
                                    <strong>($)</strong>
                                    <input class="form-control display-inline" data-val="true" pattern="[0-9]+(\.[0-9][0-9]?)?$/" id="retailPrice-input" name="CreateInvitationViewModel.FirstName" type="text" value=""
                                           required onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || ((event.charCode == 46) && (this.value.indexOf('.') < 0)) || event.charCode == 0">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input class="confirmActionID" type="hidden" value=''>
                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                    <i class="fa fa-ban fa-1x"></i>
                    Cancel
                </button>
                <button type="button" class="btn btn-success workflow btn-lg" data-action="AddRetailPrice" data-dismiss="modal" id="btnAddRetailPriceYes" data-transid="">
                    <i class="glyphicon fa fa-floppy-o" aria-hidden="true"></i>
                    Save
                </button>
            </div>
        </div>
    </div>
</div>
<!-- /Modal  -->
