﻿@using CL.TMS.Resources

<script type="text/ng-template" id="dor-disposition-reason.html">
    <div>
        <label>Disposition Reason</label>

        <div class="row">
            <div class="col-md-2">
                <div class="radio">
                    <label><input type="radio" ng-model="dispositionReasonId" name="{{nameId()}}" value="1" required ng-disabled="disbaleReuseResale"> Reuse/Resale</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="radio">
                    <label><input type="radio" ng-model="dispositionReasonId" name="{{nameId()}}" value="2" required ng-disabled="disbaleRecycling"> Recycling</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="radio">
                    <label><input type="radio" ng-model="dispositionReasonId" name="{{nameId()}}" value="3" required ng-disabled="disbaleEnergy"> Energy</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="radio">
                    <label><input type="radio" ng-model="dispositionReasonId" name="{{nameId()}}" value="4" required ng-disabled="disbaleLandfill"> Landfill</label>
                </div>
            </div>
        </div>
        <div class="row" ng-show="dispositionReasonIdError()"><div class="col-md-12"><span style="color: #a94442">Required</span></div></div>
    </div>
</script>