﻿@using CL.TMS.Resources

<script type="text/ng-template" id="internalNote.html">
    <h4 class="panel-title" ng-if="!isAdjustment()">Internal Note</h4>
    <h4 class="panel-title" ng-if="isAdjustment()">{{label}}</h4>

    <div class="form-group" cl-show-errors>        
        <textarea class="form-control" rows="3" name="note" ng-model="internalNote" required></textarea>
        <span class="help-block" ng-if="form.note.$error">Required</span>
    </div>
</script>