﻿@using CL.TMS.Resources

<script type="text/ng-template" id="adjustment-detail.html">
    <div class="row">
        <div class="col-md-3">
            <label>Transaction Adjustments</label>
        </div>
        <div class="col-md-2">
            <label>Started By</label>
            <p>{{adjustmentDetail.startedBy}}</p>
        </div>
        <div class="col-md-2">
            <label>Adj. Date</label>
            <p>{{adjustmentDetail.adjustedOn | date:'yyyy-MM-dd'}}</p>
        </div>
        <div class="col-md-2">
            <label>Status</label>
            <div ng-class="statusStyle()">{{adjustmentDetail.status}}</div>
        </div>
        <div class="col-md-3">
            <label>Switch To</label><br>            
            <div class="btn-group btn-toggle">
                <label class="btn btn-xs btn-default" ng-model="displayOriginal" uib-btn-radio="true">Original</label>
                <label class="btn btn-xs color-tm-red-bg" ng-model="displayOriginal" uib-btn-radio="false">Adjusted</label>
            </div>
        </div>
    </div>
</script>