﻿@using CL.TMS.Resources

<script type="text/ng-template" id="dor-material-type.html">
    <label>Material Type</label>

    <div class="row">
        <div class="col-md-2">
            <div class="radio">
                <label>
                    <input type="radio" name="{{nameId()}}" ng-disabled="isDisabled()" value="1" ng-model="materialTypeId" checked> Trash <i class="fa fa-question-circle" data-placement="bottom" title="Trash" popover="#trashPopover"></i>
                </label>
                <div id="trashPopover" style="display: none;">
                    <p>Contaminated material which contained tire rubber or fibre or steel or all types.</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="radio">
                <label>
                    <input type="radio" name="{{nameId()}}" ng-disabled="isDisabled()" value="2" ng-model="materialTypeId"> Steel <i class="fa fa-question-circle" data-placement="bottom" title="Steel" popover="#steelPopover"></i>
                </label>
                <div id="steelPopover" style="display:none;">
                    <p>Steel that was removed from the tire during processing.</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="radio">
                <label>
                    <input type="radio" name="{{nameId()}}" ng-disabled="isDisabled()" value="3" ng-model="materialTypeId"> Fibre <i class="fa fa-question-circle" data-placement="bottom" title="Fibre" popover="#fibrePopover"></i>
                </label>
                <div id="fibrePopover" style="display:none;">
                    <p>Fibre also referred to as fluff, that was removed from the tire during processing.</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="radio">
                <label>
                    <input type="radio" name="{{nameId()}}" ng-disabled="isDisabled()" value="4" ng-model="materialTypeId"> Tire Rims <i class="fa fa-question-circle" data-placement="bottom" title="Tire Rims" popover="#tireRimsPopover"></i>
                </label>
                <div id="tireRimsPopover" style="display:none;">
                    <p>Tires that had Rims upon delivery to the Processor from a Hauler. The PTR form must be referenced. The weight of Rims from the PTR must be scaled either by on road or by off road weight.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="radio">
                <label>
                    <input type="radio" name="{{nameId()}}" ng-disabled="isDisabled()" value="5" ng-model="materialTypeId"> Used Tire Sale <i class="fa fa-question-circle" data-placement="bottom" title="Used Tire Sale" popover="#usedTireSalePopover"></i>
                </label>
                <div id="usedTireSalePopover" style="display:none;">
                    <p>Processor determines to cull (sell) of whole tire(s) instead of processing the tire(s) into a TDP. These are tires that have already been received on a PTR to the Processor.</p>
                </div>
            </div>
        </div>
    </div>
</script>