﻿@using CL.TMS.Resources
<style>
    .tire-type-count-errors {
        border: 1px solid;
        /*background-color: yellow;*/
        border-color: red;
    }
</style>

<script type="text/ng-template" id="tire-type-count.html">
    <table class="table" style="float: left; margin-bottom: 0px;">
        <thead>
            <tr>
                <th ng-repeat="item in tireTypeList" ng-if="tireTypeAvailable(item.tireType)">{{item.tireType}}</th>
                <th ng-if="displayGenerateTires()">Gen. Tires</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td ng-repeat="item in tireTypeList" ng-if="tireTypeAvailable(item.tireType)" @*cl-show-errors*@>
                    <div class="form-group">
                        <input type="text" name="{{item.tireType}}"
                               ng-init="tireTypeByType(item.tireType).count"
                               ng-model="item.count"
                               class="form-control showTireTypeCountError" placeholder="" numbers-only="5" ng-required="tireTypeCountRequired">
                    </div>
                </td>
                <td ng-if="displayGenerateTires()">
                    <div class="form-group"><input type="checkbox" ng-model="generateTiresObj.val" /></div>
                </td>
            </tr>
        </tbody>
    </table>

    <span style="color: #a94442" ng-show="tireTypeCountInvalidError()">Atleast one tire type should have value >= 1</span>
</script>



