﻿@using CL.TMS.Resources

<script type="text/ng-template" id="photo-view.html">
    <div class="row">
        <div class="col-md-12">
            <p><label>Photos</label></p>
        </div>
    </div>
    <div class="row"  ng-if="photoList.length>0">
        <div class="col-md-7">
            <img ng-if="loaded" id="PhotoZoom" src="/img/image-unavailable.png" initialize-smooth-zoom zoom-width="450" zoom-height="275" img-src="currentPhotoSrc" />
        </div>
        <div class="col-md-5">
            <div class="smoothzoompanPhotoThumb" ng-repeat="photo in photoList" ng-click="viewPhoto(photo)">
                <img ng-src="{{previewDomainName + photo.src}}" />
            </div>
        </div>
        <div class="col-md-5 margin-bottom--10" ng-show="currentPhoto.comment.length > 0">
            <div>
                <hr>
                <strong>Comments</strong>
                <p style="word-wrap: break-word;">{{currentPhoto.comment}}</p>
            </div>
        </div>
    </div>
</script>