﻿@using CL.TMS.Resources

<script type="text/ng-template" id="transaction-handler-header.html">
    <div ng-class="modalHeaderStyle(vm.isMobile)">
        <button type="button" ng-click="close()" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="pos-l"><h3 class="modal-title">{{vm.displayTypeCode}} #<br /><span>{{vm.friendlyNumber}}</span></h3></div>
        <div class="pos-c"></div>
        <div class="pos-r">
            <span ng-show="!vm.isMobile">@ViewBag.RegistrationNumber</span><span ng-show="vm.isMobile">{{vm.badge}}</span><br />
            <span>{{vm.deviceName}}</span>
        </div>
    </div>  
</script>
