﻿@using System.Data
@using CL.TMS.Common
@using CL.TMS.DataContracts.ViewModel.Transaction;

@{
    string viewBagHeaderName = ViewBag.HeaderName ?? "TCR Transactions";

    if (viewBagHeaderName.Contains("TCR Transactions"))
    {
        <table id="tblTransactionlist" class="table table-hover display truncate datatable-100-perc">
            <thead>
                <tr>
                    <th>iPad/Form</th>
                    <th class="">Badge</th>
                    <th>TCR #</th>
                    <th>Rev. Stat.</th>
                    <th class="">Adj.</th>

                    <th>Date</th>
                    <th>Hauler</th>
                    <th>Business Name</th>
                    <th class="lr-small-pading" style="width:3%">PLT</th>
                    <th class="lr-small-pading" style="width:3%">MT</th>

                    <th class="lr-small-pading" style="width:3%">AG/LS</th>
                    <th class="lr-small-pading" style="width:3%">IND</th>
                    <th class="lr-small-pading" style="width:3%">SOTR</th>
                    <th class="lr-small-pading" style="width:3%">MOTR</th>
                    <th class="lr-small-pading" style="width:3%">LOTR</th>

                    <th class="lr-small-pading" style="width:3%">GOTR</th>
                    <th>Gen. Tires</th>
                    <th>Actions</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody transaction-handler></tbody>
        </table>
    }
    else if (viewBagHeaderName.Contains("DOT Transactions"))
    {
        <table id="tblTransactionlist" class="table table-hover display truncate datatable-100-perc">
            <thead>
                <tr>
                    <th>iPad/Form</th>
                    <th class="">Badge</th>
                    <th>DOT #</th>
                    <th>Rev. Stat.</th>
                    <th class="">Adj.</th>

                    <th>Date</th>
                    <th>Hauler</th>
                    <th>Business Name</th>
                    <th class="lr-small-pading" style="width:3%">MOTR</th>
                    <th class="lr-small-pading" style="width:3%">LOTR</th>

                    <th class="lr-small-pading" style="width:3%">GOTR</th>
                    <th class="lr-small-pading" style="width:3%">Gen.</th>
                    <th>Scale(KG)</th>
                    <th>Est.(KG)</th>
                    <th>Actions</th>

                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody transaction-handler></tbody>
        </table>
    }
}

<br />
<a id="viewmore" href="javascript:void(0)" class="viewmore" style="display:inline-block">More</a>
<div id="loading"></div>
