﻿@using CL.TMS.Resources

<script type="text/ng-template" id="transaction-handler.html">
    <form id="transForm" name="transForm">
        <div class="comp-all-modal" ng-if="vm.isIncomplete || (vm.status.toLowerCase() == 'voided' && (vm.deviceName !== 'Paper Form'||vm.deviceName !== 'Imported Paper Form'))">
            <transaction-handler-header-view></transaction-handler-header-view>
            <div class="modal-body">
                <strong ng-if="vm.isIncomplete">Incomplete Transaction</strong> 
                <strong ng-if="!vm.isIncomplete">Voided Transaction</strong>             
                Detail not available for viewing.</div>
        </div>

        <div class="comp-all-modal" ng-if="!(vm.isIncomplete || (vm.status.toLowerCase() == 'voided' && (vm.deviceName !== 'Paper Form'||vm.deviceName !== 'Imported Paper Form')))">
            <transaction-handler-header-view></transaction-handler-header-view>
            <div class="modal-body padding-25">
                <!-- View Transaction -->
                <div ng-if="vm.currentMode == 'view'">
                    <div class="modal-previewtransaction">
                        <!-- Paper Form View -->
                        <tcr-paper-view ng-if="!vm.isMobile && vm.typeCode == 'TCR'" vm="vm"></tcr-paper-view>
                        <dot-paper-view ng-if="!vm.isMobile && vm.typeCode == 'DOT'" vm="vm"></dot-paper-view>
                        <ucr-paper-view ng-if="!vm.isMobile && vm.typeCode == 'UCR'" vm="vm"></ucr-paper-view>
                        <hit-paper-view ng-if="!vm.isMobile && vm.typeCode == 'HIT'" vm="vm"></hit-paper-view>
                        <stc-paper-view ng-if="!vm.isMobile && vm.typeCode == 'STC'" vm="vm"></stc-paper-view>                        
                        <rtr-paper-view ng-if="!vm.isMobile && vm.typeCode == 'RTR'" vm="vm"></rtr-paper-view>
                        <ptr-paper-view ng-if="!vm.isMobile && vm.typeCode == 'PTR'" vm="vm"></ptr-paper-view>
                        <pit-paper-view ng-if="!vm.isMobile && vm.typeCode == 'PIT'" vm="vm"></pit-paper-view>                        
                        <dor-paper-view ng-if="!vm.isMobile && vm.typeCode == 'DOR'" vm="vm"></dor-paper-view>
                        <sps-paper-view ng-if="!vm.isMobile && vm.typeCode == 'SPS' && vm.displayTypeCode != 'SIR'" vm="vm"></sps-paper-view>
                        <sir-paper-view ng-if="!vm.isMobile && vm.typeCode == 'SPS' && vm.displayTypeCode == 'SIR'" vm="vm"></sir-paper-view>
                        <spsr-paper-view ng-if="!vm.isMobile && vm.typeCode == 'SPSR'" vm="vm"></spsr-paper-view>
                        <!-- /Paper Form View -->
                        <!-- Mobile View -->
                        <tcr-mobile-view ng-if="vm.isMobile && vm.typeCode == 'TCR'" vm="vm"></tcr-mobile-view>
                        <dot-mobile-view ng-if="vm.isMobile && vm.typeCode == 'DOT'" vm="vm"></dot-mobile-view>
                        <ucr-mobile-view ng-if="vm.isMobile && vm.typeCode == 'UCR'" vm="vm"></ucr-mobile-view>
                        <hit-mobile-view ng-if="vm.isMobile && vm.typeCode == 'HIT'" vm="vm"></hit-mobile-view>
                        <stc-mobile-view ng-if="vm.isMobile && vm.typeCode == 'STC'" vm="vm"></stc-mobile-view>                        
                        <rtr-mobile-view ng-if="vm.isMobile && vm.typeCode == 'RTR'" vm="vm"></rtr-mobile-view>
                        <ptr-mobile-view ng-if="vm.isMobile && vm.typeCode == 'PTR'" vm="vm"></ptr-mobile-view>
                        <pit-mobile-view ng-if="vm.isMobile && vm.typeCode == 'PIT'" vm="vm"></pit-mobile-view>                        
                        <dor-mobile-view ng-if="vm.isMobile && vm.typeCode == 'DOR'" vm="vm"></dor-mobile-view>
                        <sps-mobile-view ng-if="vm.isMobile && vm.typeCode == 'SPS' && vm.displayTypeCode != 'SIR'" vm="vm"></sps-mobile-view>
                        <sir-mobile-view ng-if="vm.isMobile && vm.typeCode == 'SPS' && vm.displayTypeCode == 'SIR'" vm="vm"></sir-mobile-view>
                        <spsr-mobile-view ng-if="vm.isMobile && vm.typeCode == 'SPSR'" vm="vm"></spsr-mobile-view>
                        <!-- /Mobile View -->
                    </div>
                </div>
                <!-- /View Transaction -->                
            </div>

            <transaction-handler-workflow></transaction-handler-workflow>
        </div>
    </form>
</script>
