﻿@using CL.TMS.Resources

<script type="text/ng-template" id="transaction-handler.html">
    <form id="transForm" name="transForm">
        <div class="comp-all-modal">
            <transaction-handler-header-view></transaction-handler-header-view>

            <div class="modal-body padding-25">
                <!-- Processor View Transaction -->
                <div ng-if="vm.currentMode == 'view'">
                    <div class="modal-previewtransaction">
                        <!-- Paper Form View -->
                        <ptr-paper-view ng-if="!vm.isMobile && vm.typeCode == 'PTR'" vm="vm"></ptr-paper-view>
                        <pit-paper-view ng-if="!vm.isMobile && vm.typeCode == 'PIT'" vm="vm"></pit-paper-view>
                        <sps-paper-view ng-if="!vm.isMobile && vm.typeCode == 'SPS'" vm="vm"></sps-paper-view>
                        <dor-paper-view ng-if="!vm.isMobile && vm.typeCode == 'DOR'" vm="vm"></dor-paper-view>
                        <!-- /Paper Form View -->
                        <!-- Mobile View -->
                        <ptr-mobile-view ng-if="vm.isMobile && vm.typeCode == 'PTR'" vm="vm"></ptr-mobile-view>
                        <pit-mobile-view ng-if="vm.isMobile && vm.typeCode == 'PIT'" vm="vm"></pit-mobile-view>
                        <sps-mobile-view ng-if="vm.isMobile && vm.typeCode == 'SPS'" vm="vm"></sps-mobile-view>
                        <dor-mobile-view ng-if="vm.isMobile && vm.typeCode == 'DOR'" vm="vm"></dor-mobile-view>
                        <!-- /Mobile View -->
                    </div>
                </div>
                <!-- /View Transaction -->
                <!-- Adjust Transaction -->
                <div ng-if="vm.currentMode == 'adjust'">
                    <ptr-paper-adjustment ng-if="!vm.isMobile && vm.typeCode == 'PTR'" vm="vm"></ptr-paper-adjustment>
                    <pit-paper-adjustment ng-if="!vm.isMobile && vm.typeCode == 'PIT'" vm="vm"></pit-paper-adjustment>
                    <sps-paper-adjustment ng-if="!vm.isMobile && vm.typeCode == 'SPS'" vm="vm"></sps-paper-adjustment>
                    <dor-paper-adjustment ng-if="!vm.isMobile && vm.typeCode == 'DOR'"></dor-paper-adjustment>

                    <ptr-mobile-adjustment ng-if="vm.isMobile && vm.typeCode == 'PTR'" vm="vm"></ptr-mobile-adjustment>
                    <pit-mobile-adjustment ng-if="vm.isMobile && vm.typeCode == 'PIT'" vm="vm"></pit-mobile-adjustment>
                    <sps-mobile-adjustment ng-if="vm.isMobile && vm.typeCode == 'SPS'" vm="vm"></sps-mobile-adjustment>
                    <dor-mobile-adjustment ng-if="vm.isMobile && vm.typeCode == 'DOR'"></dor-mobile-adjustment>
                </div>
                <!-- /Adjust Transaction -->
                <!-- Processor Review Tool Bar -->
                @if (@ViewBag.AllowTransactionHandling && @ViewBag.AllowEdit) //OTSTM2-464
                {
                    <transaction-review-toolbar ng-if="initialized" ds="THSvr"></transaction-review-toolbar>
                }
                <!-- /Review Tool Bar -->
            </div>

            @if (@ViewBag.AllowEdit)
            {
                <transaction-handler-workflow></transaction-handler-workflow>
            }
        </div>
    </form>
</script>
