﻿@using CL.TMS.Resources

<script type="text/ng-template" id="transaction-handler.html">
    <form id="transForm" name="transForm">
        <div class="comp-all-modal">
            <transaction-handler-header-view></transaction-handler-header-view>

            <div class="modal-body padding-25">
                <!-- RPM View Transaction -->
                <div ng-if="vm.currentMode == 'view'">
                    <div class="modal-previewtransaction">
                        <!-- Paper Form View -->
                        <sir-paper-view ng-if="!vm.isMobile && vm.typeCode == 'SPS'" vm="vm"></sir-paper-view>
                        <spsr-paper-view ng-if="!vm.isMobile && vm.typeCode == 'SPSR'" vm="vm"></spsr-paper-view>
                        <!-- /Paper Form View -->
                        <!-- Mobile View -->
                        <sir-mobile-view ng-if="vm.isMobile && vm.typeCode == 'SPS'" vm="vm"></sir-mobile-view>
                        <spsr-mobile-view ng-if="vm.isMobile && vm.typeCode == 'SPSR'" vm="vm"></spsr-mobile-view>
                        <!-- /Mobile View -->
                    </div>
                </div>
                <!-- /View Transaction -->
                <!-- Adjust Transaction -->
                <div ng-if="vm.currentMode == 'adjust'">
                    <sir-paper-adjustment ng-if="!vm.isMobile && vm.typeCode == 'SPS'" vm="vm"></sir-paper-adjustment>
                    <spsr-paper-adjustment ng-if="!vm.isMobile && vm.typeCode == 'SPSR'" vm="vm"></spsr-paper-adjustment>

                    <sir-mobile-adjustment ng-if="vm.isMobile && vm.typeCode == 'SPS'" vm="vm"></sir-mobile-adjustment>
                    <spsr-mobile-adjustment ng-if="vm.isMobile && vm.typeCode == 'SPSR'" vm="vm"></spsr-mobile-adjustment>
                </div>
                <!-- /Adjust Transaction -->
                <!-- RPM Review Tool Bar -->
                @if (@ViewBag.AllowTransactionHandling && @ViewBag.AllowEdit) //OTSTM2-464
                {
                    <transaction-review-toolbar ng-if="initialized" ds="THSvr"></transaction-review-toolbar>
                }
                <!-- /Review Tool Bar -->
            </div>

            @if (@ViewBag.AllowEdit)
            {
                <transaction-handler-workflow></transaction-handler-workflow>
            }
        </div>
    </form>
</script>
