﻿@using CL.TMS.Resources

<script type="text/ng-template" id="ucr-paper-adjustment.html">
    <div>
        <div>
            <div class="row margin-top--20">
                <div class="col-sm-12">
                    <adjustment-toggle preview="vm.adjModel.preview"></adjustment-toggle>
                </div>
            </div>
            <hr>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <date-display-view label="{{'Date'}}" date="vm.transactionDate" format="{{'yyyy-MM-dd'}}"></date-display-view>
            </div>
            <div class="col-sm-5">
                <participant-info-view info="vm.inboundParticipant"></participant-info-view>
            </div>
            <div class="col-sm-5">
                <participant-info-view info="vm.original.outboundParticipant"></participant-info-view>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-sm-12">
                <label for="">Reason tires are not eligible for payment</label> <p class="margin-top--3">{{vm.original.paymentEligible}}</p>
            </div>
        </div>
        <hr>

        <div ng-show="!vm.adjModel.preview"> 
            <div class="row">
                <div class="col-md-12">
                    <tire-type-count form="transForm" tire-type-list="vm.adjModel.tireTypeList" adjust="{{'true'}}"></tire-type-count>
                </div>
            </div>
            <hr />

            <div class="row">
                <div class="col-md-12">
                    <supporting-document-selector list="vm.adjModel.supportingDocumentList"></supporting-document-selector>
                </div>
            </div>

            <div ng-show="vm.adjModel.attachmentList.length > 0">
                <supporting-document-attachment-adjust list="vm.adjModel.attachmentList"></supporting-document-attachment-adjust>
            </div>

            <document-uploader transaction-id="{{vm.adjModel.transactionGuid}}" upload-list="vm.adjModel.uploadDocumentList" is-required="documentUploadRequired"></document-uploader>
            <br />

            <div class="row">
                <div class="col-md-12">
                    <internal-note-collector form="transForm" internal-note="vm.adjModel.adjustmentNote" adjust="{{'true'}}" label="{{'Adjustment Note'}}"></internal-note-collector>
                </div>
            </div>
        </div>

        <div ng-show="vm.adjModel.preview">
            <div class="row">
                <div class="col-md-12">
                    <tire-type-count-view tire-type-list="vm.original.tireTypeList"></tire-type-count-view>
                </div>
            </div>

            <div ng-show="vm.original.supportingDocumentDetail.display">
                <hr>
                <supporting-document-view supporting-document-detail="vm.original.supportingDocumentDetail"></supporting-document-view>
            </div>

            @if (@ViewBag.AllowInternalNote)
            {
                <hr />
                <manage-internal-note internal-note-model="vm.internalNote"></manage-internal-note>
            }
        </div>        
    </div>
</script>

<script type="text/ng-template" id="ucr-mobile-adjustment.html">
    <div>
        <div>
            <div class="row margin-top--20">
                <div class="col-sm-12">
                    <adjustment-toggle preview="vm.adjModel.preview"></adjustment-toggle>
                </div>
            </div>
            <hr>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <date-display-view label="{{'Date'}}" date="vm.transactionDate" format="{{'yyyy-MM-dd'}}"></date-display-view>
            </div>
            <div class="col-sm-5">
                <participant-info-view info="vm.inboundParticipant"></participant-info-view>
            </div>
            <div class="col-sm-5">
                <participant-info-view info="vm.original.outboundParticipant"></participant-info-view>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-sm-12">
                <label for="">Reason tires are not eligible for payment</label> <p class="margin-top--3">{{vm.original.paymentEligible}}</p>
            </div>
        </div>
        <hr>

        <div ng-show="!vm.adjModel.preview"> 
            <div class="row">
                <div class="col-md-12">
                    <tire-type-count form="transForm" tire-type-list="vm.adjModel.tireTypeList" adjust="{{'true'}}"></tire-type-count>
                </div>
            </div>
        </div>

        <div ng-show="vm.adjModel.preview">
            <div class="row">
                <div class="col-md-12">
                    <tire-type-count-view tire-type-list="vm.original.tireTypeList"></tire-type-count-view>
                </div>
            </div>
        </div>

        @*OTSTM2-148 Start*@
        <hr>
        <document-uploader transaction-id="{{vm.adjModel.transactionGuid}}" upload-list="vm.adjModel.uploadDocumentList" is-required="documentUploadRequired" @*ng-if="vm.currentMode == 'adjust'"*@></document-uploader>
        <br />
        <br />
        @*OTSTM2-148 End*@

        <div ng-show="vm.photoList.length > 0">
            <hr>
            <photo-view photo-list="vm.photoList"></photo-view>            
        </div>

        <div ng-show="vm.commentList.length > 0">
            <hr>
            <comment-view comment-list="vm.commentList"></comment-view>            
        </div>

        <signature-view signature="vm.signature"></signature-view>

        <div ng-show="!vm.adjModel.preview">
            <div class="row">
                <div class="col-md-12">
                    <internal-note-collector form="transForm" internal-note="vm.adjModel.adjustmentNote" adjust="{{'true'}}" label="{{'Adjustment Note'}}"></internal-note-collector>
                </div>
            </div>
        </div>

        <div ng-show="vm.adjModel.preview">
            @if (@ViewBag.AllowInternalNote)
            {
                <hr />
                <manage-internal-note internal-note-model="vm.internalNote"></manage-internal-note>
            }
        </div>
    </div>
</script>
