﻿@model CL.TMS.DataContracts.DomainEntities.Address
@using CL.TMS.Common.Enum
@using CL.TMS.Common
@using CL.TMS.UI.Common.UserInterface
@{
    //var isInvalid = (Model.InvalidFormFieldList == null ? new List<string>() : Model.InvalidFormFieldList);
    var isInvalid = new List<string>();
    if (Model != null)
    {
        if (Model.InvalidFormFieldList != null)
        {
            isInvalid = Model.InvalidFormFieldList as List<string>;
        }
    }

    var prefix = @ViewData["data_businessLocationAddress"];
    var isBackToApplicant = Model.ValidStatus == ApplicationStatusEnum.BackToApplicant;        
}



    <div class="row">
        <div class="col-md-6">
            <div class="form-group has-required has-feedback">
                <label class="control-label" for="inputSuccess2">@UIResource.ParticipantBusinessLocationAddressLine1 </label>
                @Html.TextBoxFor(m => m.Address1, new { @class = "form-control title-case", maxlength = "50", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.Address1).ToString())))

                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>
            <div class="form-group">
                <label class="control-label" for="inputSuccess2">@UIResource.ParticipantBusinessLocationAddressLine2</label>
                @Html.TextBoxFor(m => m.Address2, new { @class = "form-control title-case", maxlength = "50", placeholder = "Suite, Unit, Bldg., etc." }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.Address2).ToString())))
            </div>
            @*commenting out as per business location requirements *@
            @*<small>Dev. Note: See <a href="https://www.walmart.ca/my-account/addresses" target="_blank">WalMart.ca</a> for address lookup behaviour. (L: malars@capris.com, P: Dundas77)</small>*@
        </div>

        <div class="col-md-3">
            <div class="form-group has-required has-feedback">
                <label class="control-label" for="inputSuccess2">@UIResource.CommonAddressCity</label>
                @Html.TextBoxFor(m => m.City, new { @class = "form-control", maxlength = "50", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.City).ToString())))
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>
            <div class="form-group has-required has-feedback">
                <label class="control-label" for="inputSuccess2">@UIResource.CommonAddressPostalCode</label>
                @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control", maxlength = "50", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.PostalCode).ToString())))
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group has-required has-feedback">
                <label class="control-label" for="inputSuccess2"> @UIResource.CommonAddressProvincestate</label>
                @Html.TextBoxFor(m => m.Province, new { @class = "form-control", maxlength = "50", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.Province).ToString())))
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>
            <label>@UIResource.CommonAddressCountry</label><br>
            <div class="form-group has-required has-feedback">
                <div class="dropdown">
                    @*<button data-toggle="dropdown" id="BusinessLocation_BusinessLocationAddress_Country" type="button" class="btn btn-default dropdown-toggle">*@


                    @Html.DropDownListFor(m => m.Country, new SelectListItem[]{
                        new SelectListItem() {Text = "Canada", Value="Canada"},
                        new SelectListItem() {Text = "USA", Value="USA"},
                        new SelectListItem() {Text = "Other", Value="Other"}}, "Select Country", new { @class = "form-control" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.Country).ToString())))


                    @*<div class="glyphicon glyphicon-ok form-control-feedback"></div>
                    <span class="caret"></span>
                </button>*@


                </div>
            </div>
        </div>

    </div><!--/.row-->


    <hr>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group has-required has-feedback">
                <label class="control-label" for="inputSuccess2">@UIResource.CommonPersonPhoneNumber</label>
                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", maxlength = "50", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.Phone).ToString())))
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group has-required has-feedback">
                <label class="control-label" for="inputSuccess2">@UIResource.CommonPersonPhoneNumberExt</label>
                @Html.TextBoxFor(m => m.Ext, new { @class = "form-control", maxlength = "12", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.Ext).ToString())))
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group has-required has-feedback">
                <label class="control-label" for="inputSuccess2">@UIResource.Email</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", maxlength = "50", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.Email).ToString())))
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>
        </div>
    </div><!--/.row-->


