﻿@model CL.TMS.DataContracts.DomainEntities.Address
@using CL.TMS.Common.Enum
@using CL.TMS.Common
@using CL.TMS.UI.Common.UserInterface

@{
    var isInvalid = new List<string>();
    bool isReadOnly = false;    
    if (Model != null)
    {
        if (Model.InvalidFormFieldList != null)
        {
            isInvalid = Model.InvalidFormFieldList as List<string>;
            //!isInvalid.Contains(Html.GetPropertyName(p => p.BusinessName).ToString())
        }

        switch (Model.ValidStatus)
        {
            case ApplicationStatusEnum.Submitted:
            case ApplicationStatusEnum.Assigned:
            case ApplicationStatusEnum.OnHold:
                isReadOnly = false;
                break;
            default:
                isReadOnly = true;
                break;
        }             
        
    }
    
    
}

<div class="row">
    <div class="col-md-12">
        <div class="checkbox">
            <label>
                <input id="ismailingaddressdifferent" class="isMailingAddressDifferent" type="checkbox" value="" checked="">
                @UIResource.ParticipantBusinessLocationCBLabelSameAddress
            </label>
        </div>
    </div>
</div><!--/.row-->
<div class="row mailingAddressDifferent" style="display:none;">
    <div class="col-md-6">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2"><input type="checkbox" checked="">@UIResource.ParticipantBusinessLocationAddressLine1</label>
            @Html.TextBoxFor(m => m.Address1, new { @class = "form-control", placeholder = "" })
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
        <div class="form-group">
            <label class="control-label" for="inputSuccess2"><input type="checkbox" checked=""> @UIResource.ParticipantBusinessLocationAddressLine2</label>
            @Html.TextBoxFor(m => m.Address2, new { @class = "form-control", placeholder = "Suite, Unit, Bldg., etc." })
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2"><input type="checkbox" checked=""> @UIResource.CommonAddressCity</label>
            @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = "" })
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2"><input type="checkbox" checked=""> @UIResource.CommonAddressProvincestate</label>
            @Html.TextBoxFor(m => m.Province, new { @class = "form-control", placeholder = "" })
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2"><input type="checkbox" checked="">@UIResource.CommonAddressPostalCode</label>
            @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control", placeholder = "" })
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-3">
        <label><input type="checkbox" checked=""> @UIResource.CommonAddressCountry</label><br>
        <div class="form-group has-required has-feedback">
            <div class="dropdown">
                @Html.DropDownListFor(m => m.Country, new SelectListItem[]{
                    new SelectListItem() {Text = "Canada", Value="Canada"},
                    new SelectListItem() {Text = "USA", Value="USA"},
                    new SelectListItem() {Text = "Other", Value="Other"}}, "Select Country", new { @class = "form-control" })
            </div>
        </div>
    </div>
</div><!--/.row-->
