﻿@model CL.TMS.DataContracts.DomainEntities.Address
@using CL.TMS.Common.Enum
@using CL.TMS.Common
@using CL.TMS.UI.Common.UserInterface
@{
    Layout = null;
    var isInvalid = new List<string>();
    bool isReadOnly = false;    
    if (Model != null)
    {
        if (Model.InvalidFormFieldList != null)
        {
            isInvalid = Model.InvalidFormFieldList as List<string>;
        }

        switch (Model.ValidStatus)
        {
            case ApplicationStatusEnum.Submitted:
            case ApplicationStatusEnum.Assigned:
            case ApplicationStatusEnum.OnHold:
            case ApplicationStatusEnum.Approved:                
                isReadOnly = false;
                break;
            default:
                isReadOnly = true;
                break;
        }             
    }
    var prefix_businessMailingAddress = @ViewData["data_businessMailingAddress"];
  
}

<div class="row mailingAddressPanel" style="display:none;">
    <div class="col-md-6">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">
                @Html.CheckBox("cbMail.Address1", !isInvalid.Contains(string.Format("{0}.{1}", prefix_businessMailingAddress, @Html.GetPropertyName(p => p.Address1).ToString())),
                         ExtensionMethods.ConditionalDisable(isReadOnly, new { data_validate_field = "#businessMailingStreet1", data_validate_message = "Invalid Business Mailing Address 1", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix_businessMailingAddress, @Html.GetPropertyName(p => p.Address1).ToString()) }))
               @UIResource.ParticipantBusinessLocationAddressLine1
            </label>
            @Html.TextBoxFor(m => m.Address1, new { @class = "form-control title-case", maxlength = "50", placeholder = "" }, isReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
        <div class="form-group">
            <label class="control-label" for="inputSuccess2">
                @Html.CheckBox("cbMail.Address2", !isInvalid.Contains(string.Format("{0}.{1}", prefix_businessMailingAddress, @Html.GetPropertyName(p => p.Address2).ToString())),
                                  ExtensionMethods.ConditionalDisable(isReadOnly, new { data_validate_field = "#businessMailingStreet2", data_validate_message = "Invalid Business Mailing Address 2", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix_businessMailingAddress, @Html.GetPropertyName(p => p.Address2).ToString()) }))
                @UIResource.ParticipantBusinessLocationAddressLine2
            </label>
            @Html.TextBoxFor(m => m.Address2, new { @class = "form-control title-case", maxlength = "50", placeholder = "Suite, Unit, Bldg., etc." }, isReadOnly)
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">
                @Html.CheckBox("cbMail.City", !isInvalid.Contains(string.Format("{0}.{1}", prefix_businessMailingAddress, @Html.GetPropertyName(p => p.City).ToString())),
                                  ExtensionMethods.ConditionalDisable(isReadOnly, new { data_validate_field = "#businessMailingCity", data_validate_message = "Invalid Business Mailing Address City", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix_businessMailingAddress, @Html.GetPropertyName(p => p.City).ToString()) }))
                @UIResource.CommonAddressCity
            </label>
            @Html.TextBoxFor(m => m.City, new { @class = "form-control", maxlength = "50", placeholder = "" }, isReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>

        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">
                @Html.CheckBox("cbMail.PostalCode", !isInvalid.Contains(string.Format("{0}.{1}", prefix_businessMailingAddress, @Html.GetPropertyName(p => p.PostalCode).ToString())),
                                  ExtensionMethods.ConditionalDisable(isReadOnly, new { data_validate_field = "#businessMailingPostalCode", data_validate_message = "Invalid Business Mailing Address Postal Code", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix_businessMailingAddress, @Html.GetPropertyName(p => p.PostalCode).ToString()) }))
              @UIResource.CommonAddressPostalCode
            </label>
            @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control", maxlength = "50", placeholder = "" }, isReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>


    </div>
    <div class="col-md-3">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">
                @Html.CheckBox("cbMail.Province", !isInvalid.Contains(string.Format("{0}.{1}", prefix_businessMailingAddress, @Html.GetPropertyName(p => p.Province).ToString())),
                                  ExtensionMethods.ConditionalDisable(isReadOnly, new { data_validate_field = "#businessMailingProvince", data_validate_message = "Invalid Business Mailing Address Province", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix_businessMailingAddress, @Html.GetPropertyName(p => p.Province).ToString()) }))
                @UIResource.CommonAddressProvincestate
            </label>
            @Html.TextBoxFor(m => m.Province, new { @class = "form-control", maxlength = "50", placeholder = "" }, isReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
        <label>
            @Html.CheckBox("cbMail.Country", !isInvalid.Contains(string.Format("{0}.{1}", prefix_businessMailingAddress, @Html.GetPropertyName(p => p.Country).ToString())),
                              ExtensionMethods.ConditionalDisable(isReadOnly, new { data_validate_field = "#businessMailingCountry", data_validate_message = "Invalid Business Mailing Address Country", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix_businessMailingAddress, @Html.GetPropertyName(p => p.Country).ToString()) }))

            @UIResource.CommonAddressCountry
        </label><br>
        <div class="form-group has-required has-feedback">
            <div class="dropdown">
                @*<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                    Select Country
                    <div class="glyphicon glyphicon-ok form-control-feedback"></div>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Canada</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">USA</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Other</a></li>
                </ul>*@
                @Html.DropDownListFor(m => m.Country, new SelectListItem[]{
                    new SelectListItem() {Text = "Canada", Value="Canada"},
                    new SelectListItem() {Text = "USA", Value="USA"},
                    new SelectListItem() {Text = "Other", Value="Other"}}, "Select Country", new { @class = "form-control" }, isReadOnly)
            </div>
        </div>
    </div>
</div><!--/.row-->