﻿@model CL.TMS.DataContracts.DomainEntities.Address
@using CL.TMS.Common.Enum
@using CL.TMS.Common
@using CL.TMS.UI.Common.UserInterface

@{
    var isInvalid = new List<string>();
    bool isReadOnly = false;        
    if (Model != null)
    {
        if (Model.InvalidFormFieldList != null)
        {
            isInvalid = Model.InvalidFormFieldList as List<string>;
        }
        switch (Model.ValidStatus)
        {
            case ApplicationStatusEnum.Submitted:
            case ApplicationStatusEnum.Assigned:
            case ApplicationStatusEnum.OnHold:
            case ApplicationStatusEnum.Approved:                
                isReadOnly = false;
                break;
            default:
                isReadOnly = true;
                break;
        }                     
    }

    var prefix_businessLocationAddress = @ViewData["data_businessLocationAddress"];    
}

<div class="row">
    <div class="col-md-6">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">
                @Html.CheckBox("cbAddress1", !isInvalid.Contains(string.Format("{0}.{1}", prefix_businessLocationAddress, @Html.GetPropertyName(p => p.Address1).ToString())), 
                ExtensionMethods.ConditionalDisable(isReadOnly, new {data_validate_field = "#businessLocationAddress1", data_validate_message = "Invalid Business Location Address 1", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix_businessLocationAddress, @Html.GetPropertyName(p => p.Address1).ToString()) }))                 
               @UIResource.ParticipantBusinessLocationAddressLine1</label>
            @Html.TextBoxFor(m => m.Address1, new { @class = "form-control title-case", maxlength = "50", placeholder = "" }, isReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
        <div class="form-group">
            <label class="control-label" for="inputSuccess2">
                @Html.CheckBox("cbAddress2", !isInvalid.Contains(string.Format("{0}.{1}", prefix_businessLocationAddress, @Html.GetPropertyName(p => p.Address2).ToString())), 
                ExtensionMethods.ConditionalDisable(isReadOnly, new {data_validate_field = "#businessLocationAddress2", data_validate_message = "Invalid Business Location Address 2", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix_businessLocationAddress, @Html.GetPropertyName(p => p.Address2).ToString()) }))             
            @UIResource.ParticipantBusinessLocationAddressLine2</label>
            @Html.TextBoxFor(m => m.Address2, new { @class = "form-control title-case", maxlength = "50", placeholder = "Suite, Unit, Bldg., etc." }, isReadOnly)
        </div>
        @*commenting out as per business location requirements *@
        @*<small>Dev. Note: See <a href="https://www.walmart.ca/my-account/addresses" target="_blank">WalMart.ca</a> for address lookup behaviour. (L: malars@capris.com, P: Dundas77)</small>*@
    </div>
    <div class="col-md-3">
        <div class="form-group has-required has-feedback">
            <label class="control-label">
                @Html.CheckBox("cbCity", !isInvalid.Contains(string.Format("{0}.{1}", prefix_businessLocationAddress, @Html.GetPropertyName(p => p.City).ToString())), 
                ExtensionMethods.ConditionalDisable(isReadOnly, new {data_validate_field = "#businessLocationCity", data_validate_message = "Invalid Business Location City", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix_businessLocationAddress, @Html.GetPropertyName(p => p.City).ToString()) }))                            
            @UIResource.CommonAddressCity</label>
            @Html.TextBoxFor(m => m.City, new { @class = "form-control", maxlength = "50", placeholder = "" }, isReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">
                @Html.CheckBox("cbPostalCode", !isInvalid.Contains(string.Format("{0}.{1}", prefix_businessLocationAddress, @Html.GetPropertyName(p => p.PostalCode).ToString())),
                         ExtensionMethods.ConditionalDisable(isReadOnly, new { data_validate_field = "#businessLocationPostalCode", data_validate_message = "Invalid Business Location Postal Code", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix_businessLocationAddress, @Html.GetPropertyName(p => p.PostalCode).ToString()) }))
                @UIResource.CommonAddressPostalCode
            </label>
            @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control", maxlength = "50", placeholder = "" }, isReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>

    </div>
    <div class="col-md-3">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">
                @Html.CheckBox("cbProvince", !isInvalid.Contains(string.Format("{0}.{1}", prefix_businessLocationAddress, @Html.GetPropertyName(p => p.Province).ToString())), 
                                  ExtensionMethods.ConditionalDisable(isReadOnly, new { data_validate_field = "#businessLocationProvince", data_validate_message = "Invalid Business Location Province", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix_businessLocationAddress, @Html.GetPropertyName(p => p.Province).ToString()) }))
                
            
            
                @UIResource.CommonAddressProvincestate</label>
            @Html.TextBoxFor(m => m.Province, new { @class = "form-control", maxlength = "50", placeholder = "" }, isReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-3">
        <label>
            @Html.CheckBox("cbCountry", !isInvalid.Contains(string.Format("{0}.{1}", prefix_businessLocationAddress, @Html.GetPropertyName(p => p.Country).ToString())),
                              ExtensionMethods.ConditionalDisable(isReadOnly, new { data_validate_field = "#businessLocationCounty", data_validate_message = "Invalid Business Location Country", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix_businessLocationAddress, @Html.GetPropertyName(p => p.Country).ToString()) }))                     
            @UIResource.CommonAddressCountry
        </label><br>
        <div class="form-group has-required has-feedback">
            <div class="dropdown">
                @*<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                    Select Country
                    <div class="glyphicon glyphicon-ok form-control-feedback"></div>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Canada</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">USA</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Other</a></li>
                </ul>*@
                @Html.DropDownListFor(m => m.Country, new SelectListItem[]{
                    new SelectListItem() {Text = "Canada", Value="Canada"},
                    new SelectListItem() {Text = "USA", Value="USA"},
                    new SelectListItem() {Text = "Other", Value="Other"}}, "Select Country", new { @class = "form-control" }, isReadOnly)
            </div>
        </div>
    </div>
</div><!--/.row-->
<hr>
<div class="row">
    <div class="col-md-4">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">
                @Html.CheckBox("cbPhone", !isInvalid.Contains(string.Format("{0}.{1}", prefix_businessLocationAddress, @Html.GetPropertyName(p => p.Phone).ToString())), ExtensionMethods.ConditionalDisable(isReadOnly, new { @class = "no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix_businessLocationAddress, @Html.GetPropertyName(p => p.Phone).ToString()) }))                             
                @UIResource.CommonPersonPhoneNumber</label>
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", maxlength = "50", placeholder = "" }, isReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">
            @Html.CheckBox("cbExt", !isInvalid.Contains(string.Format("{0}.{1}", prefix_businessLocationAddress, @Html.GetPropertyName(p => p.Ext).ToString())), ExtensionMethods.ConditionalDisable(isReadOnly, new { @class = "no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix_businessLocationAddress, @Html.GetPropertyName(p => p.Ext).ToString()) })) 
            @UIResource.CommonPersonPhoneNumberExt</label>
            @Html.TextBoxFor(m => m.Ext, new { @class = "form-control", maxlength = "12", placeholder = "" }, isReadOnly)
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">
            @Html.CheckBox("cbEmail", !isInvalid.Contains(string.Format("{0}.{1}", prefix_businessLocationAddress, @Html.GetPropertyName(p => p.Email).ToString())), ExtensionMethods.ConditionalDisable(isReadOnly, new { @class = "no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix_businessLocationAddress, @Html.GetPropertyName(p => p.Email).ToString()) })) 
            @UIResource.Email</label>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", maxlength = "50", placeholder = "" }, isReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
</div><!--/.row-->

