﻿@model CL.TMS.DataContracts.DomainEntities.Address
@using CL.TMS.Common.Enum
@using CL.TMS.Common
@using CL.TMS.UI.Common.UserInterface

@{
    //var isInvalid = (Model.InvalidFormFieldList == null ? new List<string>() : Model.InvalidFormFieldList);
    var isInvalid = new List<string>();
    if (Model != null)
    {
        if (Model.InvalidFormFieldList != null)
        {
            isInvalid = Model.InvalidFormFieldList as List<string>;
            //!isInvalid.Contains(Html.GetPropertyName(p => p.BusinessName).ToString())
        }
    }

    var prefix = @ViewData["data_businessMailingAddress"]; 
    var isBackToApplicant = Model.ValidStatus == ApplicationStatusEnum.BackToApplicant;        
}

<div class="row mailingAddressPanel" style="display:none;">
    <div class="col-md-6">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">@UIResource.ParticipantBusinessLocationAddressLine1</label>
            @Html.TextBoxFor(m => m.Address1, new { id = string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.Address1).ToString()), @class = "form-control title-case", maxlength = "50", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.Address1).ToString())))
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
        <div class="form-group">
            <label class="control-label" for="inputSuccess2">@UIResource.ParticipantBusinessLocationAddressLine2</label>
            @Html.TextBoxFor(m => m.Address2, new { id = string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.Address2).ToString()), @class = "form-control title-case", maxlength = "50", placeholder = "Suite, Unit, Bldg., etc." }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.Address2).ToString())))
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">@UIResource.CommonAddressCity</label>
            @Html.TextBoxFor(m => m.City, new { id = string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.City).ToString()), @class = "form-control", maxlength = "50", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.City).ToString())))
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">@UIResource.CommonAddressPostalCode</label>
            @Html.TextBoxFor(m => m.PostalCode, new { id = string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.PostalCode).ToString()), @class = "form-control", maxlength = "50", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.PostalCode).ToString())))
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">@UIResource.CommonAddressProvincestate</label>
            @Html.TextBoxFor(m => m.Province, new { id = string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.Province).ToString()), @class = "form-control", maxlength = "50", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.Province).ToString())))
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
        <label>@UIResource.CommonAddressCountry</label><br>
        <div class="form-group has-required has-feedback">
            <div class="dropdown">
                @*<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                    Select Country
                    <div class="glyphicon glyphicon-ok form-control-feedback"></div>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Canada</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">USA</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Other</a></li>
                </ul>*@
                @Html.DropDownListFor(m => m.Country, new SelectListItem[]{
                    new SelectListItem() {Text = "Canada", Value="Canada"},
                    new SelectListItem() {Text = "USA", Value="USA"},
                    new SelectListItem() {Text = "Other", Value="Other"}}, "Select Country", new { id = string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.Country).ToString()), @class = "form-control" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.Country).ToString())))
            </div>
        </div>
    </div>
</div><!--/.row-->
