﻿@model CL.TMS.DataContracts.DomainEntities.Address
@using CL.TMS.Common.Enum
@using CL.TMS.Common
@using CL.TMS.UI.Common.UserInterface

@{
    var isInvalid = new List<string>();
    if (Model != null)
    {
        if (Model.InvalidFormFieldList != null)
        {
            isInvalid = Model.InvalidFormFieldList as List<string>;
        }
    }

    var isBackToApplicant = Model.ValidStatus == ApplicationStatusEnum.BackToApplicant;
    var prefix = @ViewData["data_ContactInformationAddress"];        
    // var contactAddressFlag = ((TMS.Contracts.Entities.Participants.ApplicationHaulerModel)(ViewData.ModelMetadata.Container)).ContactInformation.ContactAddressSameAsBusinessAddress;
    var contactAddressFlag = true;
}

<div class="row contactAddressDifferent" style="@(contactAddressFlag == true ? "display:block;" : "display:none;")">
    <div class="col-md-6">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">@UIResource.ParticipantBusinessLocationAddressLine1</label>
            @Html.TextBoxFor(m => m.Address1, new { @class = "form-control title-case dynamic-required dynamic-inInvalidList", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.Address1).ToString())))
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
        <div class="form-group">
            <label class="control-label" for="inputSuccess2">@UIResource.ParticipantBusinessLocationAddressLine2</label>
            @Html.TextBoxFor(m => m.Address2, new { @class = "form-control title-case dynamic-inInvalidList", placeholder = "Suite, Unit, Bldg., etc." }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.Address2).ToString())))
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">@UIResource.CommonAddressCity</label>
            @Html.TextBoxFor(m => m.City, new { @class = "form-control dynamic-required dynamic-inInvalidList", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.City).ToString())))
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">@UIResource.CommonAddressPostalCode</label>
            @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control dynamic-required dynamic-regex-postal dynamic-inInvalidList", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.PostalCode).ToString())))
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">@UIResource.CommonAddressProvincestate</label>
            @Html.TextBoxFor(m => m.Province, new { @class = "form-control dynamic-required dynamic-inInvalidList", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.Province).ToString())))
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
        <label>@UIResource.CommonAddressCountry</label><br>
        <div class="form-group has-required has-feedback">
            <div class="dropdown">
                @Html.DropDownListFor(m => m.Country, new SelectListItem[]{
                    new SelectListItem() {Text = "Canada", Value="Canada"},
                    new SelectListItem() {Text = "USA", Value="USA"},
                    new SelectListItem() {Text = "Other", Value="Other"}}, "Select Country", new { @class = "form-control dynamic-inInvalidList" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.Country).ToString())))
            </div>
        </div>
    </div>
</div><!--/.row-->
