﻿@model CL.TMS.DataContracts.ViewModel.RPM.RPMTireDetailsRegistrationModel
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface

@{
    var isInvalid = (List<string>)ViewData["invalidFormFieldList"];//new List<string>();
    bool isReadOnly = false;
    bool isBackToApplicant = false;
    //var prefixtiredetailsItemType = ViewData["data_tiredetailsItemType"];
    var prefix = ViewData["prefix"];
    string data_att_chkbox = string.Format("{0}.{1}", prefix, "TireItem");
    string check = string.Empty;

    if (Model != null)
    {
        switch (Model.Status)
        {
            case ApplicationStatusEnum.BackToApplicant:
                if (!isInvalid.Contains(data_att_chkbox))
                {
                    isReadOnly = true;
                }
                break;
            default:
                isReadOnly = false;
                break;
        }

        isBackToApplicant = Model.Status == ApplicationStatusEnum.BackToApplicant;
    }
    if (isReadOnly)
    {
        check = "checked:checked";
    }
}


<div class="form-group has-required has-feedback">
    <div class="row">
        <div class="col-md-12">
            <p data-toggle="collapse" data-target="#typeOfTiresHandled" aria-expanded="true" aria-controls="typeOfTiresHandled" style="cursor:pointer;">
                <label class="control-label" for="typeOfTiresHandled">
                    @UIResource.ParticipantRPMManufacturingProductPurchased
                    <i title="Products Purchased" data-placement="auto" class="fa fa-question-circle popoverProductsPurchased"></i>
                </label>
                </p>
             
                <em>@UIResource.ParticipantRPMSelectALLCrumbRubber</em>
            <br />  <br />
                <div style="display:none;" id="popoverProductsPurchased">
                    @Html.Raw(UIResource.RPMProductProduce.ToString())
                </div>
</div>
    </div><!--/.row-->
    @*<div class="form-group has-required has-feedback">*@
    <div class="row" id="item_checkbox">
        @{
            /*
                //TODO: Need to refactor and make it database driven. Probably add a new column called LongDescription in Items Table
                */

            Dictionary<string, string> details = new Dictionary<string, string>()
            {
                {"PLT", @Html.Raw( UIResource.ParticipantTireDetailsALLtiresPLT).ToString()},
                {"MT", @Html.Raw(UIResource.ParticipantTireDetailsALLtiresMT).ToString()},
               {"AG-LS", @Html.Raw(UIResource.ParticipantTireDetailsALLtiresAGLS).ToString()},
                {"IND", @Html.Raw(UIResource.ParticipantTireDetailsALLtiresIND).ToString()},
                {"SOTR", @Html.Raw(UIResource.ParticipantTireDetailsALLtiresSOTR).ToString()},
                {"MOTR", @Html.Raw(UIResource.ParticipantTireDetailsALLtiresMOTR).ToString()},
                {"LOTR", @Html.Raw(UIResource.ParticipantTireDetailsALLtiresLOTR).ToString()},
                {"GOTR", @Html.Raw(UIResource.ParticipantTireDetailsALLtiresGOTR).ToString()}
            };

            int count = 1;
            string startingCheckBox = "<div class='checkbox'  style='margin-top: 0px;'>";
            string startingHTML = "<div class='col-md-6'>";
            string endingHTML = "</div>";

            @Html.Raw(startingHTML);
            if (@Model != null)
            {
                foreach (var item in Model.TireDetailsItemType)
                {
                    if (count % 6 == 0 && count != 0)
                    {
                        @Html.Raw(startingCheckBox);
                        <label>
                            @{
                                if (item.isChecked)
                                {
                                    <input type="checkbox" value="@(item.ID.ToString())" id='@(string.Format("chb_{0}",item.ID.ToString()))' name='@data_att_chkbox' data-tiredetails="tire_val" data-myattri='@(string.Format("{0}-{1}",item.ShortName.Trim(), item.Name.Trim()))' checked="checked" @(isReadOnly ? "disabled" : "") />
                                }
                                else
                                {
                                    <input type="checkbox" value="@(item.ID.ToString())" id='@(string.Format("chb_{0}",item.ID.ToString()))' name='@data_att_chkbox' data-tiredetails="tire_val" data-myattri='@(string.Format("{0}-{1}",item.ShortName.Trim(), item.Name.Trim()))' @(isReadOnly ? "disabled" : "") />
                                }
                            }

                            <strong>@string.Format("{0}", item.ShortName.Trim())</strong> @string.Format("{0}", item.Name.Trim())

                        </label>
                        @Html.Raw(endingHTML);
                                @Html.Raw(endingHTML);
                                @Html.Raw(startingHTML);


                                }
                                else
                                {
                                    @Html.Raw(startingCheckBox);
                                    <label>
                                        @{
                                            if (item.isChecked)
                                            {
                                                <input type="checkbox" value="@(item.ID.ToString())" id='@(string.Format("chb_{0}",item.ID.ToString()))' name='@data_att_chkbox' data-tiredetails="tire_val" data-myattri='@(string.Format("{0}-{1}",item.ShortName.Trim(), item.Name.Trim()))' checked="checked" @(isReadOnly ? "disabled" : "") />
                                            }
                                            else
                                            {
                                                <input type="checkbox" value="@(item.ID.ToString())" id='@(string.Format("chb_{0}",item.ID.ToString()))' name='@data_att_chkbox' data-tiredetails="tire_val" data-myattri='@(string.Format("{0}-{1}",item.ShortName.Trim(), item.Name.Trim()))' @(isReadOnly ? "disabled" : "") />
                                            }
                                        }
                                        @*@string.Format("{0} ({1})", item.Name.Trim(), item.ShortName.Trim())*@
                                        <strong>@string.Format("{0}", item.ShortName.Trim())</strong> @string.Format("{0}", item.Name.Trim())

                                    </label>
                                    @Html.Raw(endingHTML);
                    }
                    count++;
                }
            }

                                            @Html.Raw(endingHTML);
        }

    </div>


    <div class="col-md-4">
        <div id="pnlOtherProcType" style="display:none;">
            <div class="form-group has-required has-feedback">
                @*<label>@UIResource.ProcessorOtherProcessorType</label>*@
                @Html.TextAreaFor(m => m.OtherRegistrantSubType, new { @class = "form-control", placeholder = @UIResource.ProcessorOtherProcessorType })
             
            </div>
        </div>
    </div>

</div>
<hr class="col-md-11" />
@Html.Partial("ParticipantRPMProductProduceDetails", Model)
