﻿@model List<CL.TMS.DataContracts.ViewModel.Hauler.ContactRegistrationModel>
@using CL.TMS.UI.Common.UserInterface
@using CL.TMS.Common.Enum
@using CL.TMS.DataContracts.ViewModel.Common.ApplicationPartialViewData

@{
    //var isInvalid = (List<string>)ViewData["invalidFormFieldList"];
    //var isBackToApplicant = Model.Count > 0 && Model[0].Status == ApplicationStatusEnum.BackToApplicant;
    //var prefix = ViewData["prefix"];
    //var contactAddressFlag = true;

    var partialViewData = (CommonPartialView)ViewData["ContactInformation"];

    var isInvalid = (List<string>)partialViewData.InvalidFormFieldList;
    var isBackToApplicant = Model.Count > 0 && Model[0].Status == ApplicationStatusEnum.BackToApplicant;
    var prefix = partialViewData.prefix;
    var contactAddressFlag = true;

    List<SelectListItem> countries = new List<SelectListItem>();
    countries.Add(new SelectListItem() { Text = "Canada", Value = "Canada" });
    countries.Add(new SelectListItem() { Text = "USA", Value = "USA" });
    countries.Add(new SelectListItem() { Text = "Other", Value = "Other" });
}



<div id="divContactTemplate">
    <input id="contactCount" name="invalidList" type="hidden" value='@(Model != null ? Model.Count : 0)' />
    <textarea class="temp" style="display:none">
        @*CONTACT INFORMATION*@
        <div class="row">
            <div class="col-md-4">
                <div class="form-group has-required has-feedback">
                    <label class="control-label "><span class="contactFName">@UIResource.ParticipantContactInformationPrimaryFName</span></label>
                    @Html.TextBoxFor(m => m[0].ContactInformation.FirstName, new { id = "FirstName", @class = "form-control", maxlength = "50", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactInformation.FirstName).ToString())))
                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group has-required has-feedback">
                    <label class="control-label "><span class="contactLName">@UIResource.ParticipantContactInformationPrimaryLName</span></label>
                    @Html.TextBoxFor(m => m[0].ContactInformation.LastName, new { @class = "form-control dynamic-required dynamic-inInvalidList ", maxlength = "50", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactInformation.LastName).ToString())))
                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group has-required has-feedback">
                    <label class="control-label" for="inputWarning2">@UIResource.CommonPersonPosition</label>
                    @*<input type="text" class="form-control" id="inputWarning2">*@
                    @Html.TextBoxFor(m => m[0].ContactInformation.Position, new { @class = "form-control  dynamic-required dynamic-inInvalidList ", maxlength = "50", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactInformation.Position).ToString())))
                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                </div>
            </div>
        </div><!--/.row-->

        <div class="row">
            <div class="col-md-3">
                <div class="form-group has-required">
                    <label class="control-label" for="inputSuccess2">@UIResource.CommonPersonPhoneNumber</label>
                    @Html.TextBoxFor(m => m[0].ContactInformation.PhoneNumber, new { @class = "form-control dynamic-regex-phone dynamic-inInvalidList ", maxlength = "50", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactInformation.PhoneNumber).ToString())))
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group has-required has-feedback">
                    <label class="control-label" for="inputSuccess2">Ext.</label>
                    @Html.TextBoxFor(m => m[0].ContactInformation.Ext, new { @class = "form-control dynamic-inInvalidList ", maxlength = "12", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactInformation.Ext).ToString())))
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label" for="inputSuccess2">@UIResource.CommonPersonMobileNumber</label>
                    @Html.TextBoxFor(m => m[0].ContactInformation.AlternatePhoneNumber, new { @class = "form-control dynamic-regex-phone dynamic-inInvalidList ", maxlength = "50", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactInformation.AlternatePhoneNumber).ToString())))
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group has-required has-feedback">
                    <label class="control-label" for="inputSuccess2">@UIResource.CommonPersonEmailAddress</label>
                    @Html.TextBoxFor(m => m[0].ContactInformation.Email, new { @class = "form-control  dynamic-required dynamic-regex-email dynamic-inInvalidList ", maxlength = "50", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactInformation.Email).ToString())))
                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                </div>
            </div>
        </div>

        @*END CONTACT INFORMATION*@

        <div class="row">
            <div class="col-md-12">
                <div class="checkbox">
                    <label>
                        @*<input type="checkbox" id="ContactAddressSameAsBusinessAddress" name="Model.ContactInformation[0].ContactAddressSameAsBusinessAddress"
                            @(Model[0].ContactInformation.ContactAddressSameAsBusinessAddress ? "checked" : "") />*@
                        @Html.CheckBoxFor(m => m[0].ContactAddressSameAsBusinessAddress, new { @class = "isContactAddressSameAsBusinessAddress", id = "ContactAddressSameAsBusinessAddress" })
                        @UIResource.ParticipantContactInformationAddressSameAsBusAddr
                    </label>
                </div>
            </div>
        </div>

        <div class="row contactAddressDifferent" style="@(contactAddressFlag == true ? "display:block;" : "display:none;")">
            <div class="col-md-6">
                <div class="form-group has-required has-feedback">
                    <label class="control-label" for="inputSuccess2">@UIResource.ParticipantBusinessLocationAddressLine1</label>
                    @Html.TextBoxFor(m => m[0].ContactAddress.AddressLine1, new { @class = "form-control title-case dynamic-required dynamic-inInvalidList ", maxlength = "50", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactAddress.AddressLine1).ToString())))
                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="inputSuccess2">@UIResource.ParticipantBusinessLocationAddressLine2</label>
                    @Html.TextBoxFor(m => m[0].ContactAddress.AddressLine2, new { @class = "form-control title-case dynamic-inInvalidList ", maxlength = "50", placeholder = @UIResource.ParticipantBusinessLocationPlaceHolderEnterAddress }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactAddress.AddressLine1).ToString())))
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group has-required has-feedback">
                    <label class="control-label" for="inputSuccess2">@UIResource.CommonAddressCity</label>
                    @Html.TextBoxFor(m => m[0].ContactAddress.City, new { @class = "form-control dynamic-required dynamic-inInvalidList ", maxlength = "50", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactAddress.City).ToString())))
                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                </div>
                <div class="form-group has-required has-feedback">
                    <label class="control-label" for="inputSuccess2">@UIResource.CommonAddressPostalCode</label>
                    @Html.TextBoxFor(m => m[0].ContactAddress.Postal, new { @class = "form-control dynamic-required dynamic-regex-postal dynamic-inInvalidList ", maxlength = "50", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactAddress.Postal).ToString())))
                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group has-required has-feedback">
                    <label class="control-label" for="inputSuccess2">@UIResource.CommonAddressProvincestate</label>
                    @Html.TextBoxFor(m => m[0].ContactAddress.Province, new { @class = "form-control dynamic-required dynamic-inInvalidList ", maxlength = "50", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactAddress.Province).ToString())))
                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                </div>

                <div class="form-group has-required has-feedback">
                    <label>Country</label><br>
                    <div class="dropdown">
                        @Html.DropDownListFor(m => m[0].ContactAddress.Country, new SelectList(countries, "Text", "Value", Model[0].ContactAddress.Country),
                        @UIResource.ParticipantBusinessLocationPlaceHolderSelectCountry, new { @class = "form-control dynamic-inInvalidList dynamic-required" },
                        isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactAddress.Country).ToString())))
                    </div>
                </div>
            </div>
        </div>
    </textarea>
    @{
        for (var i = 0; i < Model.Count; i++)
        {
            <textarea id='@(string.Format("contactTemplate{0}", i.ToString()))' style="display:none">
                @*CONTACT INFORMATION*@

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group has-required has-feedback">
                            <label class="control-label "><span class="contactFName">@UIResource.ParticipantContactInformationPrimaryFName</span></label>
                            @Html.TextBoxFor(m => m[i].ContactInformation.FirstName,
                            new
                            {
                                @class = "form-control dynamic-required dynamic-inInvalidList ",
                                maxlength = "50",
                                placeholder = ""
                                ,
                                test = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactInformation.FirstName).ToString())
                            },
                 isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactInformation.FirstName).ToString())))
                            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group has-required has-feedback">
                            <label class="control-label "><span class="contactLName">@UIResource.ParticipantContactInformationPrimaryLName</span></label>
                            @Html.TextBoxFor(m => m[i].ContactInformation.LastName, new { @class = "form-control dynamic-required dynamic-inInvalidList ", maxlength = "50", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactInformation.LastName).ToString())))
                            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group has-required has-feedback">
                            <label class="control-label" for="inputWarning2">@UIResource.CommonPersonPosition</label>
                            @*<input type="text" class="form-control" id="inputWarning2">*@
                            @Html.TextBoxFor(m => m[i].ContactInformation.Position, new { @class = "form-control  dynamic-required dynamic-inInvalidList ", maxlength = "50", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactInformation.Position).ToString())))
                            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                        </div>
                    </div>
                </div><!--/.row-->

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group has-required has-feedback">
                            <label class="control-label" for="inputSuccess2">@UIResource.CommonPersonPhoneNumber</label>
                            @{
                                if (i == 0)
                                {
                                    @Html.TextBoxFor(m => m[i].ContactInformation.PhoneNumber, new { @class = "form-control dynamic-required dynamic-regex-phone dynamic-inInvalidList ", maxlength = "50", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactInformation.PhoneNumber).ToString())))
                                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m[i].ContactInformation.PhoneNumber, new { @class = "form-control dynamic-regex-phone dynamic-inInvalidList ", maxlength = "50", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactInformation.PhoneNumber).ToString())))
                                }
                            }
                        </div>

                    </div>
                    <div class="col-md-2">
                        <div class="form-group has-required has-feedback">
                            <label class="control-label" for="inputSuccess2">Ext.</label>
                            @Html.TextBoxFor(m => m[i].ContactInformation.Ext, new { @class = "form-control dynamic-inInvalidList ", maxlength = "12", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactInformation.Ext).ToString())))
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label" for="inputSuccess2">@UIResource.CommonPersonMobileNumber</label>
                            @Html.TextBoxFor(m => m[i].ContactInformation.AlternatePhoneNumber, new { @class = "form-control dynamic-regex-phone dynamic-inInvalidList ", maxlength = "50", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactInformation.AlternatePhoneNumber).ToString())))
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group has-required has-feedback">
                            <label class="control-label" for="inputSuccess2">@UIResource.CommonPersonEmailAddress</label>
                            @Html.TextBoxFor(m => m[i].ContactInformation.Email, new { @class = "form-control  dynamic-required dynamic-regex-email dynamic-inInvalidList ", maxlength = "50", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactInformation.Email).ToString())))
                            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>

                                @if (Model[i].Status == ApplicationStatusEnum.BackToApplicant)
                                {
                                    @Html.CheckBoxFor(m => m[i].ContactAddressSameAsBusinessAddress, new { @class = "isContactAddressSameAsBusinessAddress", id = "ContactAddressSameAsBusinessAddress", disabled = "disabled" })
                                }
                                else
                                {
                                    @Html.CheckBoxFor(m => m[i].ContactAddressSameAsBusinessAddress, new { @class = "isContactAddressSameAsBusinessAddress", id = "ContactAddressSameAsBusinessAddress", })
                                }
                                @UIResource.ParticipantContactInformationAddressSameAsBusAddr
                            </label>
                        </div>
                    </div>
                </div>

                @*END CONTACT INFORMATION*@

                @if (Model[0].Status == ApplicationStatusEnum.BackToApplicant)
                {
                    <div class="row contactAddressDifferent" style="@(contactAddressFlag == true ? "display:block;" : "display:none;")">
                        <div class="col-md-6">
                            <div class="form-group has-required has-feedback">
                                <label class="control-label" for="inputSuccess2">Address Line 1</label>
                                @Html.TextBoxFor(m => m[i].ContactAddress.AddressLine1, new { @class = "form-control title-case dynamic-required dynamic-inInvalidList ", maxlength = "50", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactAddress.AddressLine1).ToString())))
                                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="inputSuccess2">Address Line 2</label>
                                @Html.TextBoxFor(m => m[i].ContactAddress.AddressLine2, new { @class = "form-control title-case dynamic-inInvalidList ", maxlength = "50", placeholder = "Suite, Unit, Bldg., etc." }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactAddress.AddressLine2).ToString())))
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group has-required has-feedback">
                                <label class="control-label" for="inputSuccess2">@UIResource.CommonAddressCity</label>
                                @Html.TextBoxFor(m => m[i].ContactAddress.City, new { @class = "form-control dynamic-required dynamic-inInvalidList ", maxlength = "50", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactAddress.City).ToString())))
                                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                            </div>
                            <div class="form-group has-required has-feedback">
                                <label class="control-label" for="inputSuccess2">@UIResource.CommonAddressPostalCode</label>
                                @Html.TextBoxFor(m => m[i].ContactAddress.Postal, new { @class = "form-control dynamic-required dynamic-regex-postal dynamic-inInvalidList ", maxlength = "50", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactAddress.Postal).ToString())))
                                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group has-required has-feedback">
                                <label class="control-label" for="inputSuccess2">@UIResource.CommonAddressProvincestate</label>
                                @Html.TextBoxFor(m => m[i].ContactAddress.Province, new { @class = "form-control dynamic-required dynamic-inInvalidList ", maxlength = "50", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactAddress.Province).ToString())))
                                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                            </div>

                            <div class="form-group has-required has-feedback">
                                <label>Country</label><br>
                                <div class="dropdown">
                                    @Html.DropDownListFor(m => m[i].ContactAddress.Country, new SelectList(countries, "Text", "Value", Model[i].ContactAddress.Country),
                         @UIResource.ParticipantBusinessLocationPlaceHolderSelectCountry, new { @class = "form-control dynamic-inInvalidList dynamic-required " },
                                isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactAddress.Country).ToString())))
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row contactAddressDifferent" style="@(contactAddressFlag == true ? "display:block;" : "display:none;")">
                        <div class="col-md-6">
                            <div class="form-group has-required has-feedback">
                                <label class="control-label" for="inputSuccess2">Address Line 1</label>
                                @Html.TextBoxFor(m => m[i].ContactAddress.AddressLine1, new { @class = "form-control title-case dynamic-required dynamic-inInvalidList ", maxlength = "50", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactAddress.AddressLine1).ToString())))
                                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="inputSuccess2">Address Line 2</label>
                                @Html.TextBoxFor(m => m[i].ContactAddress.AddressLine2, new
                       {
                           @class = "form-control title-case dynamic-inInvalidList ",
                           maxlength = "50",
                           placeholder = "Suite, Unit, Bldg., etc."
                       }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactAddress.AddressLine2).ToString())))
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group has-required has-feedback">
                                <label class="control-label" for="inputSuccess2">@UIResource.CommonAddressCity</label>
                                @Html.TextBoxFor(m => m[i].ContactAddress.City, new { @class = "form-control dynamic-required dynamic-inInvalidList ", maxlength = "50", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactAddress.City).ToString())))
                                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                            </div>
                            <div class="form-group has-required has-feedback">
                                <label class="control-label" for="inputSuccess2">@UIResource.CommonAddressPostalCode</label>
                                @Html.TextBoxFor(m => m[i].ContactAddress.Postal, new { @class = "form-control dynamic-required dynamic-regex-postal dynamic-inInvalidList ", maxlength = "50", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactAddress.Postal).ToString())))
                                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group has-required has-feedback">
                                <label class="control-label" for="inputSuccess2">@UIResource.CommonAddressProvincestate</label>
                                @Html.TextBoxFor(m => m[i].ContactAddress.Province, new { @class = "form-control dynamic-required dynamic-inInvalidList ", maxlength = "50", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactAddress.Province).ToString())))
                                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                            </div>

                            <div class="form-group has-required has-feedback">
                                <label>Country</label><br>
                                <div class="dropdown">
                                    @Html.DropDownListFor(m => m[i].ContactAddress.Country, new SelectList(countries, "Text", "Value", Model[i].ContactAddress.Country),
                             @UIResource.ParticipantBusinessLocationPlaceHolderSelectCountry, new { @class = "form-control dynamic-inInvalidList dynamic-required " },
                                    isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactAddress.Country).ToString())))
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </textarea>
                                }

    }
</div><!-- finish contactTemplate  -->
