﻿@model CL.TMS.DataContracts.ViewModel.Processor.ProcessorTireDetailsRegistrationModel
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface
@{
    var isInvalid = (List<string>)ViewData["invalidFormFieldList"];//new List<string>();
    bool isReadOnly = false;
    bool isBackToApplicant = false;
    //var prefixtiredetailsItemType = ViewData["data_tiredetailsItemType"];
    var prefix = ViewData["prefix"];
    string data_att_chkbox = string.Format("{0}.{1}", prefix, "TireItemProduct");
    string check = string.Empty;

    if (Model != null)
    {
        switch (Model.Status)
        {
            case ApplicationStatusEnum.BackToApplicant:
                if (!isInvalid.Contains(data_att_chkbox))
                {
                    isReadOnly = true;
                }
                break;
            default:
                isReadOnly = false;
                break;
        }

        isBackToApplicant = Model.Status == ApplicationStatusEnum.BackToApplicant;
    }
    if (isReadOnly)
    {
        check = "checked:checked";
    }
}
<div class="form-group has-required has-feedback">
    <div class="row">
        <div id="product" class="col-md-12">
            <label class="control-label">@UIResource.ProcessorProductProdedureTitle</label>
            <p><em>@UIResource.ProcessorProductProdedureTitleDesc</em></p>
            <div class="row product">
                @{


                    int countno = 1;
                    string startCheckBox = "<div class='checkbox' style='margin-top: 0px;'>";
                    string startHTML = "<div class='col-md-4' style='padding-left: 13px; padding-right: 13px; '>";
                    string endHTML = "</div>";

                    @Html.Raw(startHTML);
                                        if (@Model != null)
                                        {
                                            foreach (var item in Model.ProductsProduceType)
                                            {
                                                if (countno % 6 == 0 && countno != 0)
                                                {
                                                    @Html.Raw(startCheckBox);
                    <label>
                        @{
                                                    if (item.isChecked)
                                                    {
                                                        <input type="checkbox" value="@(item.ID.ToString())" id='@(string.Format("chb_{0}",item.ID.ToString()))' name='@data_att_chkbox' data-tiredetails="tire_val" data-myattri='@(string.Format("{0}~{1}",item.ShortName.Trim(), item.Name.Trim()))' checked="checked" @(isReadOnly ? "disabled" : "") />
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" value="@(item.ID.ToString())" id='@(string.Format("chb_{0}",item.ID.ToString()))' name='@data_att_chkbox' data-tiredetails="tire_val" data-myattri='@(string.Format("{0}~{1}",item.ShortName.Trim(), item.Name.Trim()))' @(isReadOnly ? "disabled" : "") />
                                                    }
                        }
                        <strong>@string.Format("{0}", item.ShortName.Trim())</strong> @string.Format("{0}", item.Name.Trim())




                    </label>
                    @Html.Raw(endHTML);
                    @Html.Raw(endHTML);
                    @Html.Raw(startHTML);
                                                }
                                                else
                                                {
                                                    @Html.Raw(startCheckBox);
                    <label>
                        @{
                                                    if (item.isChecked)
                                                    {
                                                        <input type="checkbox" value="@(item.ID.ToString())" id='@(string.Format("chb_{0}",item.ID.ToString()))' name='@data_att_chkbox' data-tiredetails="tire_val" data-myattri='@(string.Format("{0}~{1}",item.ShortName.Trim(), item.Name.Trim()))' checked="checked" @(isReadOnly ? "disabled" : "") />
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" value="@(item.ID.ToString())" id='@(string.Format("chb_{0}",item.ID.ToString()))' name='@data_att_chkbox' data-tiredetails="tire_val" data-myattri='@(string.Format("{0}~{1}",item.ShortName.Trim(), item.Name.Trim()))' @(isReadOnly ? "disabled" : "") />
                                                    }

                        }
                        <strong>@string.Format("{0}", item.ShortName.Trim())</strong> @string.Format("{0}", item.Name.Trim())



                    </label>
                    @Html.Raw(endHTML);
                                                }
                                                countno++;
                                            }
                                        }

                                        @Html.Raw(endHTML);
                }





            </div><!--/.row-->


            <div id="pnlOtherProd" style="display:none;" class="col-md-4">
                @Html.TextAreaFor(m => m.OtherProcessProduct, new { @class = "form-control", placeholder = @UIResource.ProcessorOtherProcessorType })
            </div>
        </div>
    </div>
</div>