﻿@model CL.TMS.DataContracts.ViewModel.Processor.ProcessorDetailsRegistrationModel
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface

@{
    var isInvalid = (List<string>)ViewData["invalidFormFieldList"];
    
    bool isBackToApplicant = false;
    if (Model != null)
    {
        isBackToApplicant = Model.Status == ApplicationStatusEnum.BackToApplicant;
    }
    var prefix = @ViewData["prefix"]; 


}

<div class="row">
    <div class="col-md-3">
        @*<div class="form-group has-required has-feedback"></div>*@
        <div class="form-group has-required">
            <label class="control-label">@UIResource.ParticipantHaulerDetailsBusinessStartDate</label>
            <div class="input-group date" id="dpBusinessStartDate">
                @Html.TextBoxFor(m => m.BusinessStartDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @readonly = "readonly", placeholder = "" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>

            <span class="glyphicon glyphicon-ok form-control-feedback" style="right:60px;"></span>
            @*<span class="glyphicon glyphicon-ok form-control-feedback color-tm-gray-light-light" style="right:60px;"></span>*@


        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">@UIResource.ParticipantHaulerDetailsOntarioBusinessNumber</label>
            @Html.TextBoxFor(m => m.BusinessNumber, new { @class = "form-control", maxlength = "50", placeholder = "" },
                     isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.BusinessNumber).ToString())))
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group has-required has-feedback" id="flagProcessorDetailsHSTRegistrationNumber">
            <label class="control-label" for="inputSuccess2">@UIResource.ParticipantHaulerDetailsHSTRegistrationNumber</label>
            <div class="row">
                <div class="col-md-7">
                    @Html.TextBoxFor(m => m.CommercialLiabHstNumber, new { @class = "form-control", maxlength = "9", @readonly = "readonly", placeholder = "" },
                                 isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.CommercialLiabHstNumber).ToString())))
                    <span class="glyphicon glyphicon-ok form-control-feedback" style="margin-right:20px;margin-top:-25px;"></span>
                </div>
                <div class="col-md-5">
                    <div class="form-group margin-top-5">
                        <label>
                            @Html.CheckBoxFor(m => m.IsTaxExempt, new { @class = "hst" }) @UIResource.ParticipantHaulerDetailsHSTExempt
                        </label>
                    </div>
             
                   </div>
            </div>
        </div>
    </div>
</div><!--/.row-->
<div class="row">
    <div class="col-md-4">
        <div class="form-group has-required has-feedback">
            <label class="control-label">Certificate of Approval for Processing <i title="Certificate of approval number is issued from Ministry of Environment for air and waste." data-placement="top" data-toggle="tooltip" class="fa fa-question-circle"></i></label>
            @Html.TextBoxFor(m => m.CertificateOfApproval, new { @class = "form-control", maxlength = "50", placeholder = "" },
                           isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.CertificateOfApproval).ToString())))
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group has-required has-feedback">
            <label class="control-label">@UIResource.ParticipantHaulerDetailsCommercialLiabilityInsurance</label>
            @Html.TextBoxFor(m => m.CommercialLiabInsurerName, new { @class = "form-control", maxlength = "50", placeholder = "" },
                   isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.CommercialLiabInsurerName).ToString())))
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-3">

        <div class="form-group has-required">
            <label class="control-label">@UIResource.CommonWordExpiryDate</label>
            <div class="input-group date" id="dpInsuranceExpiryDate">
                @*<input type="text" class="form-control" data-date-format="YYYY/MM/DD">*@
                @Html.TextBoxFor(m => m.CommercialLiabInsurerExpDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @readonly = "readonly", placeholder = "" })                
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <span class="glyphicon glyphicon-ok form-control-feedback" style="right:60px;"></span>
        </div>
    </div>
</div><!--/.row-->
<hr>
<div class="row">

    <span id="pnlCVOR">
     
        <div class="col-md-5">
            <div class="form-group has-required has-feedback">
                <label class="control-label">@UIResource.ParticipantCVORNumber</label>
                <i class="fa fa-question-circle color-tm-gray supportingDocumentsCVOR" data-placement="auto" title="CVOR Abstract Level II"></i>
                <div id="supportingDocumentsCVOR" style="display:none;">
                    <p>@UIResource.ParticipantHaulerDetailsCVOR</p>
                </div>
                @Html.TextBoxFor(m => m.CvorNumber, new { @class = "form-control", maxlength = "50", placeholder = "" },
                                     isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.CvorNumber).ToString())))
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>
        </div>
        <div class="col-md-3">

            <div class="form-group">
                <label class="control-label">@UIResource.CommonWordExpiryDate</label>
                <div class="input-group date" id="dpCVORExpiryDate">
                    @Html.TextBoxFor(m => m.CvorExpiryDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @readonly = "readonly", placeholder = "" })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <span class="glyphicon glyphicon-ok form-control-feedback color-tm-gray-light-light" style="right:60px;"></span>
            </div>
        </div>
    </span>
</div><!--/.row-->
<div class="row">

    <div class="col-md-6">
        <div class="form-group has-required has-feedback">
            <label class="control-label">@UIResource.ParticipantHaulerDetailsDoYouHaveMoreEmployees</label>
            <div class="radio">
                <label>
                    @*<input type="radio" name="optionsRadiosCert" id="optionsRadiosCert2" value="option2">*@
                    @Html.RadioButtonFor(model => model.HasMoreThanOneEmp, false, new { @class = "wsib" },
                                              isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.HasMoreThanOneEmp).ToString())))
                    @UIResource.ParticipantHaulerDetailsRadioBtn1
                </label>
            </div>
            <div class="radio">
                <label>
                    @*<input type="radio" name="optionsRadiosCert" id="optionsRadiosCert1" value="option1">*@
                    @Html.RadioButtonFor(model => model.HasMoreThanOneEmp, true, new { @class = "wsib" },
                                              isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.HasMoreThanOneEmp).ToString())))
                    @UIResource.CommonWordYes
                </label>
            </div>
            @*@Html.RadioButtonFor(model => model.HasMoreThanOneEmp, false)<label>No, I certify that there are no employees working in my premises.</label><br />
                @Html.RadioButtonFor(model => model.HasMoreThanOneEmp, true) <label>Yes <small>(Dev. Note: if Y open WSIB input)</small></label>*@
        </div>
        <span id="pnlWSIB">
            <div class="form-group has-required has-feedback">
                <label class="control-label">@UIResource.ParticipantHaulerDetailsWSIBNumber</label>
                @*<input type="text" class="form-control" id="inputWarning2" placeholder="7 digit account number">*@
                @Html.TextBoxFor(m => m.WsibNumber, new { @class = "form-control", maxlength = "7", placeholder = "7 " + @UIResource.ParticipantHaulerDetailsAccountNumber },
                                                       isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.WsibNumber).ToString())))
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>
        </span>
    </div>

</div>

