﻿@model List<CL.TMS.DataContracts.ViewModel.RPM.RPMSortYardDetailsRegistrationModel>
@using CL.TMS.UI.Common.UserInterface
@using CL.TMS.Common.Enum

@{
    var isInvalid = (List<string>)ViewData["invalidFormFieldList"];
    //var isInvalid = new List<string>();
    if (Model != null)
    {
        //if (Model[0].InvalidFormFieldList != null)
        //{
        //    isInvalid = Model[0].InvalidFormFieldList as List<string>;
        //}
    }
    var prefixSortYardAddress = ViewData.TemplateInfo.HtmlFieldPrefix;
    //@ViewData["data_businessLocationAddress"];
    var isBackToApplicant = Model[0].Status == ApplicationStatusEnum.BackToApplicant;

    List<SelectListItem> countries = new List<SelectListItem>() {
     new SelectListItem() { Text = "Canada", Value =  "Canada" },
     new SelectListItem() { Text = "USA", Value = "USA" },
     new SelectListItem() { Text = "Other", Value = "Other" }
    };
}
<textarea class="sortyardtemp" style="display:none">
    @*SortYard Address*@
    <div class="row">
        <div class="col-md-6">
            <div class="form-group has-required has-feedback">
                <label class="control-label sort-yard-address1-label">@UIResource.ParticipantManufacturingLocation1AddrLine1</label>
                @Html.TextBoxFor(m => m[0].SortYardAddress.AddressLine1, new { @class = "form-control title-case dynamic-required dynamic-inInvalidList sort-yard-address-disabled ", maxlength = "50", placeholder = "" },
                                       isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefixSortYardAddress, @Html.GetExpressionText(p => p[0].SortYardAddress.AddressLine1).ToString())))
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>
            <div class="form-group">
                <label class="control-label sort-yard-address2-label">@UIResource.ParticipantManufacturingAddrLine2</label>
                @Html.TextBoxFor(m => m[0].SortYardAddress.AddressLine2, new { @class = "form-control title-case dynamic-inInvalidList  sort-yard-address-disabled ", maxlength = "50", placeholder = "Suite, Unit, Bldg., etc." },
                                       isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefixSortYardAddress, @Html.GetExpressionText(p => p[0].SortYardAddress.AddressLine2).ToString())))
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group has-required has-feedback">
                <label class="control-label" for="inputSuccess2">@UIResource.CommonAddressCity</label>
                @Html.TextBoxFor(m => m[0].SortYardAddress.City, new { @class = "form-control dynamic-required dynamic-inInvalidList sort-yard-address-disabled ", maxlength = "50", placeholder = "" },
                                       isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefixSortYardAddress, @Html.GetExpressionText(p => p[0].SortYardAddress.City).ToString())))
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>
            <div class="form-group has-required has-feedback">
                <label class="control-label" for="inputSuccess2">@UIResource.CommonAddressPostalCode</label>
                @Html.TextBoxFor(m => m[0].SortYardAddress.Postal, new { @class = "form-control dynamic-required dynamic-regex-postal dynamic-inInvalidList sort-yard-address-disabled ", maxlength = "50", placeholder = "" },
                                       isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefixSortYardAddress, @Html.GetExpressionText(p => p[0].SortYardAddress.Postal).ToString())))
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group has-required has-feedback">
                <label class="control-label" for="inputSuccess2">@UIResource.CommonAddressProvincestate</label>
                @Html.TextBoxFor(m => m[0].SortYardAddress.Province, new { @class = "form-control dynamic-required dynamic-inInvalidList sort-yard-address-disabled ", maxlength = "50", placeholder = "" },
                                       isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefixSortYardAddress, @Html.GetExpressionText(p => p[0].SortYardAddress.Province).ToString())))
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>

            <div class="form-group has-required has-feedback">
                <label class="control-label">@UIResource.CommonAddressCountry</label><br>
                <div class="dropdown">



                    @Html.DropDownListFor(m => m[0].SortYardAddress.Country, new SelectList(countries, "Text", "Value", Model[0].SortYardAddress.Country), "Select Country",
                             new { @class = "form-control dynamic-required dynamic-inInvalidList sort-yard-address-disabled " },
                    isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefixSortYardAddress, @Html.GetExpressionText(p => p[0].SortYardAddress.Country).ToString())))
                </div>
            </div>
        </div>
    </div>

    @*SortYard Vendor Extra*@    
    <div class="row">
        <div class="col-md-5">
            <div class="form-group has-required has-feedback">
                <label>
                    <span class="sort-yard-capacity">@UIResource.ParticipantManufacturingLocationCapacityTonnes</span>
                    <i class="fa fa-question-circle sortYardDetailsTSYC" data-placement="auto" title=""></i>
                </label>
                <div id="sortYardDetailsTSYC" style="display:none;">
                    <p>@UIResource.ParticipantRPMToolTip</p>
                </div>
                @Html.TextBoxFor(m => m[0].MaxStorageCapacity, new { @class = "form-control only-decimalnumber-th-4dp-rpm dynamic-required dynamic-inInvalidList ", maxlength = "15", data_maxstorage = @Model[0].MaxStorageCapacity, placeholder = "" },
                             isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefixSortYardAddress, @Html.GetExpressionText(p => p[0].MaxStorageCapacity).ToString())))
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>
        </div>
    </div>
</textarea>

@{
    for (var i = 0; i < Model.Count; i++)
    {
        <textarea id='@(string.Format("sortYardTemplate{0}", i.ToString()))' style="display:none">
            @*SortYard Address*@
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group has-required has-feedback">
                        <label class="control-label sort-yard-address1-label">@UIResource.ParticipantManufacturingLocation1AddrLine1</label>
                        @Html.TextBoxFor(m => m[i].SortYardAddress.AddressLine1, new { @class = "form-control title-case dynamic-required dynamic-inInvalidList sort-yard-address-disabled ", maxlength = "50", placeholder = "" },
             isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefixSortYardAddress, @Html.GetExpressionText(p => p[i].SortYardAddress.AddressLine1).ToString())))
                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label sort-yard-address2-label">@UIResource.ParticipantManufacturingAddrLine2</label>
                        @Html.TextBoxFor(m => m[i].SortYardAddress.AddressLine2, new { @class = "form-control title-case dynamic-inInvalidList  sort-yard-address-disabled ", maxlength = "50", placeholder = "Suite, Unit, Bldg., etc." },
             isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefixSortYardAddress, @Html.GetExpressionText(p => p[i].SortYardAddress.AddressLine2).ToString())))
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group has-required has-feedback">
                        <label class="control-label" for="inputSuccess2">@UIResource.CommonAddressCity</label>
                        @Html.TextBoxFor(m => m[i].SortYardAddress.City, new { @class = "form-control dynamic-required dynamic-inInvalidList sort-yard-address-disabled ", maxlength = "50", placeholder = "" },
             isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefixSortYardAddress, @Html.GetExpressionText(p => p[i].SortYardAddress.City).ToString())))
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                    <div class="form-group has-required has-feedback">
                        <label class="control-label" for="inputSuccess2">@UIResource.CommonAddressPostalCode</label>
                        @Html.TextBoxFor(m => m[i].SortYardAddress.Postal, new { @class = "form-control dynamic-required dynamic-regex-postal dynamic-inInvalidList sort-yard-address-disabled ", maxlength = "50", placeholder = "" },
             isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefixSortYardAddress, @Html.GetExpressionText(p => p[i].SortYardAddress.Postal).ToString())))
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group has-required has-feedback">
                        <label class="control-label" for="inputSuccess2">@UIResource.CommonAddressProvincestate</label>
                        @Html.TextBoxFor(m => m[i].SortYardAddress.Province, new { @class = "form-control dynamic-required dynamic-inInvalidList sort-yard-address-disabled ", maxlength = "50", placeholder = "" },
             isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefixSortYardAddress, @Html.GetExpressionText(p => p[i].SortYardAddress.Province).ToString())))
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>

                    <div class="form-group has-required has-feedback">
                        <label class="control-label">@UIResource.CommonAddressCountry</label><br>
                        <div class="dropdown">

                            @Html.DropDownListFor(
                                m => m[i].SortYardAddress.Country,
                                new SelectList(
                                    countries,
                                    "Value",
                                    "Text",
                                    Model[i].SortYardAddress.Country),
         @UIResource.ParticipantBusinessLocationPlaceHolderSelectCountry, new { @class = "form-control dynamic-required dynamic-inInvalidList sort-yard-address-disabled " },
isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefixSortYardAddress, @Html.GetExpressionText(p => p[i].SortYardAddress.Country).ToString())))



                        </div>
                    </div>
                </div>
            </div>

            @*SortYard Vendor Extra*@
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group has-required has-feedback">
                        <label>
                            <span class="sort-yard-capacity">@UIResource.ParticipantManufacturingLocationCapacityTonnes</span>
                            <i class="fa fa-question-circle sortYardDetailsTSYC" data-placement="auto" title=""></i>
                        </label>
                        <div id="sortYardDetailsTSYC" style="display:none;">
                            <p>@UIResource.ParticipantRPMToolTip</p>
                        </div>
                        @Html.TextBoxFor(m => m[i].MaxStorageCapacity, new { @class = "form-control only-decimalnumber-th-4dp-rpm dynamic-required dynamic-inInvalidList ", maxlength = "15", data_maxstorage = @Model[i].MaxStorageCapacity, placeholder = "" },
                            isBackToApplicant && !isInvalid.Contains(string.Format("{0}{1}", prefixSortYardAddress, @Html.GetExpressionText(p => p[i].MaxStorageCapacity).ToString())))
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                </div>
            </div>
        </textarea>
    }
}
<div id="sortYardDetailsTSYC" style="display:none;">
    <p>@UIResource.ParticipantRPMToolTip</p>
</div>
