﻿@model CL.TMS.DataContracts.DomainEntities.VendorStorageSite

<div class="row margin-bottom--10">
    <div class="col-md-4">
        <div class="form-group">
            <label>
                Maximum Capacity (tonnes)
                <i class="fa fa-question-circle sortYardDetailsASYC" data-placement="auto" title=""></i>
            </label>
            <div id="sortYardDetailsASYC" style="display:none;">
                <p>Maximum Capacity for all Sort Yards refers to the total amount of scrap tires, in metric tonnes, that can be accommodated in all locations.</p>
            </div>
            <p class="form-control-static">1,234.0000</p>         
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="numberYards">Total # of Sort Yards</label>
            <p class="form-control-static">1</p>        
        </div>
    </div>
</div>

