﻿@model CL.TMS.DataContracts.ViewModel.Collector.CollectorDetailsRegistrationModel
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface
@using CL.TMS.Security
@using CL.TMS.Common
@using CL.TMS.Security.Authorization;

@{
    var isInvalid = (List<string>)ViewData["invalidFormFieldList"];//new List<string>();
    bool isReadOnly = false;
    if (Model != null)
    {
        switch (Model.Status)
        {
            case ApplicationStatusEnum.Submitted:
            case ApplicationStatusEnum.Assigned:
            case ApplicationStatusEnum.OnHold:
            case ApplicationStatusEnum.Approved:
            case ApplicationStatusEnum.OffHold:
            case ApplicationStatusEnum.BankInformationSubmitted:
            case ApplicationStatusEnum.BankInformationApproved:
            case ApplicationStatusEnum.Completed:
            case ApplicationStatusEnum.Denied:
                isReadOnly = false;
                break;
            default:
                isReadOnly = true;
                break;
        }
    }
    var prefix = ViewData.TemplateInfo.HtmlFieldPrefix;

    var isParticipant = ViewData["IsParticipant"];
    if ((bool)isParticipant)
    {
        isReadOnly = true;
    }

    var userResource = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsCollectorApplicationCollectorDetails);
    var isResourceReadOnly = userResource == SecurityResultType.ReadOnly;
}

<div class="row">
    <div class="col-md-3">

        <div class="form-group">
            <label class="control-label">
                @Html.CheckBox("cbBusinessStartDate", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BusinessStartDate).ToString())),
                         ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new { data_validate_field = "#businessStartDate", data_validate_message = "Invalid Collector Business Start Date", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BusinessStartDate).ToString()) }))

                Business Start Date
            </label>
            <div class="input-group date collector_calendar" id="dpBusinessStartDate">
                @Html.TextBoxFor(m => m.BusinessStartDate, "{0:yyyy-MM-dd}", new { @class = "form-control", placeholder = "", @readonly = "readonly", })

                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <span class="glyphicon glyphicon-ok form-control-feedback" style="right:60px;"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group has-required has-feedback">
            <label class="control-label">
                @Html.CheckBox("cbBusinessNumber", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BusinessNumber).ToString())),
                         ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new { data_validate_field = "#businessNumber", data_validate_message = "Invalid Collector Ontario Business Number", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BusinessNumber).ToString()) }))
                Ontario Business #
            </label>
            @Html.TextBoxFor(m => m.BusinessNumber, new { @class = "form-control", maxlength = "50", placeholder = "" }, isReadOnly || isResourceReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group has-required has-feedback">
            <label class="control-label">
                @Html.CheckBox("cbCommercialLiabHSTNumber", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.CommercialLiabHstNumber).ToString())),
                                           ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                                           {
                                               data_validate_field = "#commercialLiabHSTNumber",
                                               data_validate_message = "Invalid Collector HST Registration Number",
                                               @class = "validation-checkbox no-validate",
                                               data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.CommercialLiabHstNumber).ToString())
                                           }))
                HST Registration #
            </label>
            <div class="row">
                <div class="col-md-7">
                    @Html.TextBoxFor(m => m.CommercialLiabHstNumber, new { @class = "form-control", maxlength = "9", placeholder = "" }, isReadOnly || isResourceReadOnly)
                    <span class="glyphicon glyphicon-ok form-control-feedback" style="margin-right:20px;margin-top:-25px;"></span>
                </div>
                <div class="col-md-5">
                    <div class="form-group margin-top-5">
                        <label>
                            @Html.CheckBoxFor(m => m.IsTaxExempt, ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new { @class = "hst" }))
                            HST Exempt @*<small>(Dev. Note: If checked disable HST field)</small>*@
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/.row-->
<div class="row">
    <div class="col-md-4">
        <div class="form-group has-required has-feedback">
            <label class="control-label">
                @Html.CheckBox("cbBusinessActivity", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BusinessActivity).ToString())),
                                                             ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new { data_validate_field = "#PrimaryBusinessActivity", data_validate_message = "Invalid Primary Business Activity", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BusinessActivity).ToString()) }))
                Primary Business Activity <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="bottom" title="Select ONE Collector Type that best describes your primary business activity."></i>
            </label>
            <div class="dropdown">
                <!--The Value text do NOT use Global language resource!!-->
                @Html.DropDownListFor(m => m.BusinessActivity, Model.BusinessActivites, "Select Activity Type", new { @class = "form-control" }, isReadOnly || isResourceReadOnly)
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group has-required has-feedback">
            <label class="control-label">
                @Html.CheckBox("cbCommercialLiabInsurerName", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.CommercialLiabInsurerName).ToString())),
                                                    ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new { data_validate_field = "#CommercialLiabInsurerName", data_validate_message = "Invalid Collector Commercial Liability Insurance", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.CommercialLiabInsurerName).ToString()) }))



                Commercial Liability Insurance
            </label>
            @Html.TextBoxFor(m => m.CommercialLiabInsurerName, new { @class = "form-control", maxlength = "50", placeholder = "" }, isReadOnly || isResourceReadOnly)

            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">
                @Html.CheckBox("cbCommercialLiabInsurerExpDate", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.CommercialLiabInsurerExpDate).ToString())),
                                                                      ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                                                                      {
                                                                          data_validate_field = "#CommercialLiabInsurerExpDate",
                                                                          data_validate_message = "Invalid Commercial Liability Insurance Expiration Date",
                                                                          @class = "validation-checkbox no-validate",
                                                                          data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.CommercialLiabInsurerExpDate).ToString())
                                                                      }))
                Expiry Date
            </label>
            <div class="input-group date collector_calendar" id="dpInsuranceExpiryDate">
                @Html.TextBoxFor(m => m.CommercialLiabInsurerExpDate, "{0:yyyy-MM-dd}", new { @class = "form-control", placeholder = "", @readonly = "readonly" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <span class="glyphicon glyphicon-ok form-control-feedback" style="right:60px;"></span>
        </div>
    </div>
</div><!--/.row-->
<hr>
<div class="row">
    <div class="col-md-6">
        <div class="form-group has-required has-feedback">
            <label class="control-label">

                @Html.CheckBox("cbHasMoreThanOneEmp", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.HasMoreThanOneEmp).ToString())),
                                                                           ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new { data_validate_field = "#HasMoreThanOneEmp", data_validate_message = "Invalid Collector Employees Details", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.HasMoreThanOneEmp).ToString()) }))

                Do you have 1 or more employees?
            </label>
            <div class="radio">
                <label>
                    @*<input type="radio" name="optionsRadiosCert" id="optionsRadiosCert2" value="option2">*@
                    @Html.RadioButtonFor(model => model.HasMoreThanOneEmp, false, new { @class = "wsib" }, isReadOnly || isResourceReadOnly)
                    No, I certify that there are no employees working in my premises.
                </label>
            </div>
            <div class="radio">
                <label>
                    @*<input type="radio" name="optionsRadiosCert" id="optionsRadiosCert1" value="option1">*@
                    @Html.RadioButtonFor(model => model.HasMoreThanOneEmp, true, new { @class = "wsib" }, isReadOnly || isResourceReadOnly)
                    Yes @*<small>(Dev. Note: if Y open WSIB input)</small>*@
                </label>
            </div>
        </div>
        <div id="pnlWSIB">
            <div class="form-group has-required has-feedback">
                <label>
                    @Html.CheckBox("cbWsibNumber", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.WsibNumber).ToString())),
                        ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly,
                        new
                        {
                            data_validate_field = "#WsibNumber",
                            data_validate_message = "Invalid Collector WSIB Number",
                            @class = "validation-checkbox no-validate",
                            data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.WsibNumber).ToString())
                        }))


                    WSIB Number
                </label>
                @Html.TextBoxFor(m => m.WsibNumber, new { @class = "form-control", maxlength = "7", placeholder = "7 digit account number" }, isReadOnly || isResourceReadOnly)
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>
        </div>
    </div>
</div><!--/.row-->
