﻿@model List<CL.TMS.DataContracts.ViewModel.Hauler.SortYardDetailsRegistrationModel>
@using CL.TMS.UI.Common.UserInterface
@using CL.TMS.Common.Enum
@using CL.TMS.Common
@using CL.TMS.Security
@using CL.TMS.Security.Authorization;

@{
    var isInvalid = (List<string>)ViewData["invalidFormFieldList"];
    bool isReadOnly = false;

    if (Model != null)
    {
        switch (Model[0].Status)
        {
            case ApplicationStatusEnum.Submitted:
            case ApplicationStatusEnum.Assigned:
            case ApplicationStatusEnum.OnHold:
            case ApplicationStatusEnum.OffHold:
            case ApplicationStatusEnum.Approved:
            case ApplicationStatusEnum.BankInformationSubmitted:
            case ApplicationStatusEnum.BankInformationApproved:
            case ApplicationStatusEnum.Completed:
            case ApplicationStatusEnum.Denied:
                isReadOnly = false;
                break;
            default:
                isReadOnly = true;
                break;
        }
    }
    var prefix = ViewData.TemplateInfo.HtmlFieldPrefix;
    //bool isPrimarySortYard = Convert.ToBoolean(@ViewData["isPrimarySortYard"]);
    List<SelectListItem> countries = new List<SelectListItem>() {
     new SelectListItem() { Text = "Canada", Value =  "Canada" },
     new SelectListItem() { Text = "USA", Value = "USA" },
     new SelectListItem() { Text = "Other", Value = "Other" }
    };

    var isParticipant = ViewData["IsParticipant"];
    if ((bool)isParticipant)
    {
        isReadOnly = true;
    }

    var userResource = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsHaulerApplicationSortYardDetails);
    var isResourceReadOnly = userResource == SecurityResultType.ReadOnly;

    //OTSTM2-642
    bool isRemoveButtonVisible = Model != null ?
                                    (Model.Count > 0 ?
                                        (Model[0].Status == ApplicationStatusEnum.Submitted
                                        || Model[0].Status == ApplicationStatusEnum.Assigned
                                        || Model[0].Status == ApplicationStatusEnum.Approved
                                        || Model[0].Status == ApplicationStatusEnum.UnderReview
                                        || Model[0].Status == ApplicationStatusEnum.OnHold
                                        || Model[0].Status == ApplicationStatusEnum.OffHold
                                        || Model[0].Status == ApplicationStatusEnum.BankInformationSubmitted
                                        || Model[0].Status == ApplicationStatusEnum.BankInformationApproved)
                                    : false)
                                : false;
    var isSortYardPanelEditable = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsHaulerApplicationSortYardDetails) >= CL.TMS.Security.SecurityResultType.EditSave;
    bool isStaff = SecurityContextHelper.IsStaff();
    var isSortYardPanelVisible = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsHaulerApplicationSortYardDetails) >= CL.TMS.Security.SecurityResultType.ReadOnly;
}


<textarea class="sortyardtemp" style="display: none">
    <div><i class="fa fa-minus-circle btnRemoveSortYard" aria-hidden="true" style="color:red; font-size:20px; cursor: pointer; position:absolute; z-index:100; margin-left: -30px"></i></div>@*OTSTM2-642*@
    @*SortYard Address*@
    <div class="row"> 
        <div class="col-md-6">
            <div class="form-group has-required has-feedback">
                <label class="control-label">
                    @Html.CheckBox("cbAddress",  false,
                                    ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                                    {
                                        data_validate_field = "#SortYardDetails_0__SortYardDetailsAddress_Address1",
                                        data_validate_message = "Invalid Sort Yard 1 Address 1",
                                                                                    @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                        data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].SortYardAddress.AddressLine1).ToString())
                                    }))
                    <span class="sort-yard-address1-label">
                        @UIResource.ParticipantSortYardDetailsAddrLine1
                    </span>
                </label>
                @Html.TextBoxFor(m => m[0].SortYardAddress.AddressLine1, new { @class = "form-control title-case dynamic-required sort-yard-address-disabled", maxlength = "50", placeholder = "" }, isReadOnly || isResourceReadOnly)
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>
            <div class="form-group">
                <label class="control-label">
                    @Html.CheckBox("cbAddress2", false,
                                     ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                                     {
                                         data_validate_field = "#SortYardDetails_0__SortYardDetailsAddress_Address2",
                                         data_validate_message = "Invalid Sort Yard 1 Address 2",
                                                                                   @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                                data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].SortYardAddress.AddressLine2).ToString())
                            }))
                    <span class="sort-yard-address2-label">
                        @UIResource.ParticipantSortYardDetailsAddrLine2
                    </span>
                </label>
                @Html.TextBoxFor(m => m[0].SortYardAddress.AddressLine2, new { @class = "form-control title-case sort-yard-address-disabled", maxlength = "50", placeholder = "Suite, Unit, Bldg., etc." }, isReadOnly || isResourceReadOnly)
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group has-required has-feedback">
                <label class="control-label">
                    @Html.CheckBox("cbCity", false,
                                      ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                                      {
                                          data_validate_field = "#SortYardDetails_0__SortYardDetailsAddress_City",
                                          data_validate_message = "Invalid City",
                                                                                    @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                          data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].SortYardAddress.City).ToString())
                             }))
                    @UIResource.CommonAddressCity
                </label>
                @Html.TextBoxFor(m => m[0].SortYardAddress.City, new { @class = "form-control dynamic-required sort-yard-address-disabled", maxlength = "50", placeholder = "" }, isReadOnly || isResourceReadOnly)
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>
            <div class="form-group has-required has-feedback">
                <label class="control-label">
                    @Html.CheckBox("cbPostalCode", false,
                                      ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                                      {
                                          data_validate_field = "#SortYardDetails_0__SortYardDetailsAddress_PostalCode",
                                          data_validate_message = "Invalid Postal Code",
                                                                                    @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                            data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].SortYardAddress.Postal).ToString())
                                      }))
                    @UIResource.CommonAddressPostalCode
                </label>
                @Html.TextBoxFor(m => m[0].SortYardAddress.Postal, new { @class = "form-control dynamic-required dynamic-regex-postal sort-yard-address-disabled", maxlength = "50", placeholder = "" }, isReadOnly || isResourceReadOnly)
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group has-required has-feedback">
                <label class="control-label">
                    @Html.CheckBox("cbProvince", false,
                                      ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                                      {
                                          data_validate_field = "#SortYardDetails_0__SortYardDetailsAddress_Province",
                                          data_validate_message = "Invalid Province",
                                                                                   @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                            data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].SortYardAddress.Province).ToString())
                                      }))
                    @UIResource.CommonAddressProvincestate
                </label>
                @Html.TextBoxFor(m => m[0].SortYardAddress.Province, new { @class = "form-control dynamic-required sort-yard-address-disabled", maxlength = "50", placeholder = "" }, isReadOnly || isResourceReadOnly)
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>
            <div class="form-group has-required has-feedback">
                <label class="control-label">
                    @Html.CheckBox("cbCountry", false,
                                     ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                                     {
                                         data_validate_field = "#SortYardDetails_0__SortYardDetailsAddress_Country",
                                         data_validate_message = "Invalid Country",
                                                                                   @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                                                                   data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].SortYardAddress.Country).ToString())
                                    }))
                    @UIResource.CommonAddressCountry
                </label>
                <div class="dropdown">
                    @Html.DropDownListFor(m => m[0].SortYardAddress.Country,  new SelectListItem[]{
                        new SelectListItem() {Text = "Canada", Value="Canada"},
                        new SelectListItem() {Text = "USA", Value="USA"},
                        new SelectListItem() {Text = "Other", Value="Other"}}, "Select Country", new { @class = "form-control dynamic-required sort-yard-address-disabled" }, isReadOnly || isResourceReadOnly)
                </div>
            </div>
        </div>
    </div>

    @*SortYard Vendor Extra*@
    <div class="row">        
        <div class="col-md-4">
            <div class="form-group has-required has-feedback">
                <label class="control-label">
                    @Html.CheckBox("cbSortYardCapacity", false,
                                          ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                                          {
                                                data_validate_field = "#SortYardDetails_0__SortYardDetailsVendorStorageSiteModel_MaxStorageCapacity",
                                                data_validate_message = "Invalid Sort Yard Capacity",
                                                @class = "validation-checkbox sort-yard-capacity-cb no-validate dynamic-review-chckbox",
                                                data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].MaxStorageCapacity).ToString())
                                          }))
                    <span class="sort-yard-capacity">
                        @UIResource.ParticipantSortYardCapacityTonnes
                    </span>
                    <i class="fa fa-question-circle sortYardDetailsTSYC" data-placement="auto" title=""></i>
                </label>
                @Html.TextBoxFor(m => m[0].MaxStorageCapacity, new
               {
                   @class = "form-control only-decimalnumber-th-4dp maxStorageCapacity", 
                   maxlength = "15",
                   data_maxstorage = @Model[0].MaxStorageCapacity,
                   placeholder = ""
               }, isReadOnly || isResourceReadOnly)
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>
        </div>
        <div class="col-md-4 COA">
            <div class="form-group has-required has-feedback">
                <label class="control-label" for="inputSuccess2">
                    @Html.CheckBox("cbCertificateOfApproval", false,
                             ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                             {
                                 data_validate_field = "#SortYardDetails_0__SortYardDetailsVendorStorageSiteModel_CertificateOfApprovalNumber",
                                 data_validate_message = "Invalid Certificate of Approval",
                                //@class = "validation-checkbox sort-yard-COA-cb no-validate",
                                                                          @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].CertificateOfApprovalNumber).ToString())
                                    }))
                    @UIResource.ParticipantCOA
                </label>
                @*OTSTM2-642 fix existing no validation issue, add "dynamic-required" class, remove "no-validate" class *@
                @Html.TextBoxFor(m => m[0].CertificateOfApprovalNumber, new 
                   { @class = "form-control dynamic-required",
                     maxlength = "50",
                     data_certificate = string.Format("{0}", @Html.GetExpressionText(m => m[0].CertificateOfApprovalNumber).ToString()),
                     placeholder = ""
                   }, isReadOnly || isResourceReadOnly)

                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>
        </div>
    </div>
</textarea>

@{
    for (var i = 0; i < Model.Count; i++)
    {
        <textarea id='@(string.Format("sortYardTemplate{0}", i.ToString()))' style="display:none">
            @*SortYard Address*@
            @Html.HiddenFor(m => m[i].SortYardAddress.ID)
            <div style="@((i > 0 && isRemoveButtonVisible && isSortYardPanelVisible && isStaff) ? "display:block;" : "display:none;");">
                <i class="fa fa-minus-circle btnRemoveSortYard" aria-hidden="true" style="font-size:20px; @((isSortYardPanelEditable) ? "cursor: pointer; color: red" : "cursor: not-allowed; color: salmon; pointer-events: none"); position:absolute; z-index:100; margin-left: -30px"></i>
            </div>  @*OTSTM2-642*@
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group has-required has-feedback">
                        <label class="control-label">
                            @Html.CheckBox("cbAddress", i == 0 || !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].SortYardAddress.AddressLine1).ToString())),
                                       ExtensionMethods.ConditionalDisable(isReadOnly || i == 0 || isResourceReadOnly, new
                                       {                                           
                                           data_validate_field = "#SortYardDetails_0__SortYardDetailsAddress_Address1",
                                           data_validate_message = "Invalid Sort Yard 1 Address 1",
                                           @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                           data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].SortYardAddress.AddressLine1).ToString())
                                       }))
                            <span class="sort-yard-address1-label">
                                @UIResource.ParticipantSortYardDetailsAddrLine1
                            </span>
                        </label>
                        @Html.TextBoxFor(m => m[i].SortYardAddress.AddressLine1, new { @class = "form-control title-case dynamic-required sort-yard-address-disabled", maxlength = "50", placeholder = "" }, isReadOnly || i == 0 || isResourceReadOnly)
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            @Html.CheckBox("cbAddress2", i == 0 || !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].SortYardAddress.AddressLine2).ToString())),
                            ExtensionMethods.ConditionalDisable(isReadOnly || i == 0 || isResourceReadOnly, new
                            {
                                data_validate_field = "#SortYardDetails_0__SortYardDetailsAddress_Address2",
                                data_validate_message = "Invalid Sort Yard 1 Address 2",
                                @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].SortYardAddress.AddressLine2).ToString())
                            }))
                            <span class="sort-yard-address2-label">
                                @UIResource.ParticipantSortYardDetailsAddrLine2
                            </span>
                        </label>
                        @Html.TextBoxFor(m => m[i].SortYardAddress.AddressLine2, new { @class = "form-control title-case sort-yard-address-disabled", maxlength = "50", placeholder = "Suite, Unit, Bldg., etc." }, isReadOnly || i == 0 || isResourceReadOnly)
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group has-required has-feedback">
                        <label class="control-label">
                            @Html.CheckBox("cbCity", i == 0 || !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].SortYardAddress.City).ToString())),
                            ExtensionMethods.ConditionalDisable(isReadOnly || i == 0 || isResourceReadOnly, new
                             {
                                 data_validate_field = "#SortYardDetails_0__SortYardDetailsAddress_City",
                                 data_validate_message = "Invalid City",
                                 @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                 data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].SortYardAddress.City).ToString())
                             }))
                            @UIResource.CommonAddressCity
                        </label>
                        @Html.TextBoxFor(m => m[i].SortYardAddress.City, new { @class = "form-control dynamic-required sort-yard-address-disabled", maxlength = "50", placeholder = "" }, isReadOnly || i == 0 || isResourceReadOnly)
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                    <div class="form-group has-required has-feedback">
                        <label class="control-label">
                            @Html.CheckBox("cbPostalCode", i == 0 || !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].SortYardAddress.Postal).ToString())),
                            ExtensionMethods.ConditionalDisable(isReadOnly || i == 0 || isResourceReadOnly, new
                             {
                                 data_validate_field = "#SortYardDetails_0__SortYardDetailsAddress_PostalCode",
                                 data_validate_message = "Invalid Postal Code",
                                 @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                 data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].SortYardAddress.Postal).ToString())
                             }))
                            @UIResource.CommonAddressPostalCode
                        </label>
                        @Html.TextBoxFor(m => m[i].SortYardAddress.Postal, new { @class = "form-control dynamic-required dynamic-regex-postal sort-yard-address-disabled", maxlength = "50", placeholder = "" }, isReadOnly || i == 0 || isResourceReadOnly)
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group has-required has-feedback">
                        <label class="control-label">
                            @Html.CheckBox("cbProvince", i == 0 || !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].SortYardAddress.Province).ToString())),
                            ExtensionMethods.ConditionalDisable(i == 0 || isReadOnly || isResourceReadOnly, new
                             {
                                 data_validate_field = "#SortYardDetails_0__SortYardDetailsAddress_Province",
                                 data_validate_message = "Invalid Province",
                                 @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                 data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].SortYardAddress.Province).ToString())
                             }))
                            @UIResource.CommonAddressProvincestate
                        </label>
                        @Html.TextBoxFor(m => m[i].SortYardAddress.Province, new { @class = "form-control dynamic-required sort-yard-address-disabled", maxlength = "50", placeholder = "" }, isReadOnly || i == 0 || isResourceReadOnly)
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                    <div class="form-group has-required has-feedback">
                        <label class="control-label">
                            @Html.CheckBox("cbCountry", i == 0 || !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].SortYardAddress.Country).ToString())),
                            ExtensionMethods.ConditionalDisable(isReadOnly || i == 0 || isResourceReadOnly, new
                            {
                                data_validate_field = "#SortYardDetails_0__SortYardDetailsAddress_Country",
                                data_validate_message = "Invalid Country",
                                @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].SortYardAddress.Country).ToString())
                            }))
                            @UIResource.CommonAddressCountry
                        </label><br />
                        <div class="dropdown">
                        @Html.DropDownListFor(m => m[i].SortYardAddress.Country, new SelectList(countries, "Text", "Value", Model[i].SortYardAddress.Country),
                            "Select Country", new { @class = "form-control dynamic-required sort-yard-address-disabled" }, isReadOnly || i == 0 || isResourceReadOnly)
                        </div>
                    </div>
                </div>
            </div>

            @*SortYard Vendor Extra*@
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group has-required has-feedback">
                        <label class="control-label">
                            @Html.CheckBox("cbSortYardCapacity", !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].MaxStorageCapacity).ToString())),
                                ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                                 {
                                     data_validate_field = "#SortYardDetails_0__SortYardDetailsVendorStorageSiteModel_MaxStorageCapacity",
                                     data_validate_message = "Invalid Sort Yard Capacity",
                                     //@class = "validation-checkbox sort-yard-capacity-cb no-validate",
                                     @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                     data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].MaxStorageCapacity).ToString())
                                 }))
                            <span class="sort-yard-capacity">
                                @UIResource.ParticipantSortYardCapacityTonnes
                            </span>
                            <i class="fa fa-question-circle sortYardDetailsTSYC" data-placement="auto" title=""></i>
                        </label>
                        @Html.TextBoxFor(m => m[i].MaxStorageCapacity, new
                        {
                            @class = "form-control only-decimalnumber-th-4dp maxStorageCapacity", 
                            maxlength = "15",
                            data_maxstorage = @Model[i].MaxStorageCapacity,
                            placeholder = ""
                        }, isReadOnly || isResourceReadOnly)
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                </div>
                <div class="col-md-4 COA">
                    <div class="form-group has-required has-feedback">
                        <label class="control-label" for="inputSuccess2">
                            @Html.CheckBox("cbCertificateOfApproval", !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].CertificateOfApprovalNumber).ToString())),
                            ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                            {
                                data_validate_field = "#SortYardDetails_0__SortYardDetailsVendorStorageSiteModel_CertificateOfApprovalNumber",
                                data_validate_message = "Invalid Certificate of Approval",
                                //@class = "validation-checkbox sort-yard-COA-cb no-validate",
                                @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].CertificateOfApprovalNumber).ToString())
                            }))
                            @UIResource.ParticipantCOA
                        </label>        
                        @*OTSTM2-642 fix existing no validation issue, add "dynamic-required" class, remove "no-validate" class *@
                        @Html.TextBoxFor(m => m[i].CertificateOfApprovalNumber, new { @class = "form-control dynamic-required", maxlength = "50", data_certificate = string.Format("{0}", @Html.GetExpressionText(m => m[i].CertificateOfApprovalNumber).ToString()), placeholder = "" }, isReadOnly || isResourceReadOnly)
                        
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                </div>
            </div>
        </textarea>
    }
}
<div id="sortYardDetailsTSYC" style="display:none;">
    <p>@UIResource.ParticipantSortYardMetricTonnes</p>
</div>