﻿@model CL.TMS.DataContracts.ViewModel.Processor.ProcessorTireDetailsRegistrationModel
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface
@using CL.TMS.Common
@using CL.TMS.Security
@using CL.TMS.Security.Authorization;

@{
    var isInvalid = (List<string>)ViewData["invalidFormFieldList"];//new List<string>();
    bool isReadOnly = false;

    var prefix = ViewData["prefix"];
    string data_att_chkbox = string.Format("{0}.{1}", prefix, "TireItem");
    string check = string.Empty;

    if (Model != null)
    {
        switch (Model.Status)
        {
            case ApplicationStatusEnum.Submitted:
            case ApplicationStatusEnum.Assigned:
            case ApplicationStatusEnum.OnHold:
            case ApplicationStatusEnum.Approved:
            case ApplicationStatusEnum.OffHold:
            case ApplicationStatusEnum.BankInformationSubmitted:
            case ApplicationStatusEnum.BankInformationApproved:
            case ApplicationStatusEnum.Completed:
            case ApplicationStatusEnum.Denied:
                isReadOnly = false;
                break;
            default:
                isReadOnly = true;
                break;
        }

    }

    if (SecurityContextHelper.IsParticipant())
    {
        isReadOnly = true;
    }

    if (isReadOnly)
    {
        check = "checked:checked";
    }

    var userResource = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsProcessorApplicationTiresAndProcessingDetails);
    var isResourceReadOnly = userResource == SecurityResultType.ReadOnly;
}
@{
    var subtypes = (List<CL.TMS.DataContracts.DomainEntities.TypeDefinition>)TempData["SubTypes"];
}

<div class="form-group has-required has-feedback">
    <div class="row">
        <div class="col-md-12">
            @Html.CheckBox("cbHRelatedProcessor", !isInvalid.Contains(string.Format("{0}.{1}", prefix, "TireItem")),
            ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
            {
                data_validate_field = "cbHRelatedProcessor",
                data_validate_message = "Invalid Tire Details",
                @class = "validation-checkbox no-validate",
                data_att_chkbox = string.Format("{0}.{1}", prefix, "TireItem")
            }))
            <label class="control-label" for="typeOfTiresHandled">
                @UIResource.ParticipantTireDetailsTypeTypesofTiresHandled
            </label><br />
            <em>@UIResource.ParticipantTireDetailsSelectALLtires</em>
        </div>
    </div><!--/.row-->
    @*<div class="form-group has-required has-feedback">*@
    <div class="row" id="item_checkbox">
        @{
            Dictionary<string, string> details = new Dictionary<string, string>()
            {
                {"PLT", @Html.Raw( UIResource.ParticipantTireDetailsALLtiresPLT).ToString()},
                {"MT", @Html.Raw(UIResource.ParticipantTireDetailsALLtiresMT).ToString()},
                {"AGLS", @Html.Raw(UIResource.ParticipantTireDetailsALLtiresAGLS).ToString()},
                {"IND", @Html.Raw(UIResource.ParticipantTireDetailsALLtiresIND).ToString()},
                {"SOTR", @Html.Raw(UIResource.ParticipantTireDetailsALLtiresSOTR).ToString()},
                {"MOTR", @Html.Raw(UIResource.ParticipantTireDetailsALLtiresMOTR).ToString()},
                {"LOTR", @Html.Raw(UIResource.ParticipantTireDetailsALLtiresLOTR).ToString()},
                {"GOTR", @Html.Raw(UIResource.ParticipantTireDetailsALLtiresGOTR).ToString()}
            };

            int count = 1;
            string startingCheckBox = "<div class='checkbox'>";
            string startingHTML = "<div class='col-md-4'>";
            string endingHTML = "</div>";

            @Html.Raw(startingHTML);
                                   if (@Model != null)
                                   {
                                       foreach (var item in Model.TireDetailsItemType)
                                       {
                                           if (count % 3 == 0 && count != 0)
                                           {
                                            @Html.Raw(startingCheckBox);
            <label>
                @{
                                               if (item.isChecked)
                                               {
                                                <input type="checkbox" value="@(item.ID.ToString())" id='@(string.Format("chb_{0}",item.ID.ToString()))' name='@data_att_chkbox' data-tiredetails="tire_val1" data-myattri='@(string.Format("{0}-{1}",item.ShortName.Trim(), item.Name.Trim()))' checked="checked" @(isReadOnly || isResourceReadOnly ? "disabled" : "") />
                                               }
                                               else
                                               {
                                                <input type="checkbox" value="@(item.ID.ToString())" id='@(string.Format("chb_{0}",item.ID.ToString()))' name='@data_att_chkbox' data-tiredetails="tire_val1" data-myattri='@(string.Format("{0}-{1}",item.ShortName.Trim(), item.Name.Trim()))' @(isReadOnly || isResourceReadOnly ? "disabled" : "") />
                                               }
                }
                @{
                                               string popOverName = item.ShortName.Replace('/', '-').Trim();
                                            <span>@string.Format("{0} ({1})", item.Name.Trim(), item.ShortName.Trim())</span>
                                            <i class="@string.Format("{0}{1}", "fa fa-question-circle tiredetailsPopover", popOverName)" data-placement="auto" title='@string.Format("{0} ({1})", item.Name.Trim(), item.ShortName.Trim())'></i>
                                            <div id="@string.Format("{0}{1}", "tiredetailsPopover", popOverName)" style="display:none;">
                                                @{
                                               if (details.ContainsKey(popOverName))
                                               {
                                                @Html.Raw(details[popOverName]);
                                               }
                                                }
                                            </div>
                }
            </label>
            @Html.Raw(endingHTML);
            @Html.Raw(endingHTML);
            @Html.Raw(startingHTML);
                                           }
                                           else
                                           {
                                            @Html.Raw(startingCheckBox);
            <label>
                @{
                                               if (item.isChecked)
                                               {
                                                <input type="checkbox" value="@(item.ID.ToString())" id='@(string.Format("chb_{0}",item.ID.ToString()))' name='@data_att_chkbox' data-tiredetails="tire_val" data-myattri='@(string.Format("{0}-{1}",item.ShortName.Trim(), item.Name.Trim()))' checked="checked" @(isReadOnly || isResourceReadOnly ? "disabled" : "") />
                                               }
                                               else
                                               {
                                                <input type="checkbox" value="@(item.ID.ToString())" id='@(string.Format("chb_{0}",item.ID.ToString()))' name='@data_att_chkbox' data-tiredetails="tire_val" data-myattri='@(string.Format("{0}-{1}",item.ShortName.Trim(), item.Name.Trim()))' @(isReadOnly || isResourceReadOnly ? "disabled" : "") />
                                               }
                }
                @string.Format("{0} ({1})", item.Name.Trim(), item.ShortName.Trim())
                <i class="@string.Format("{0}{1}", "fa fa-question-circle tiredetailsPopover", item.ShortName.Trim())" data-placement="auto" title='@string.Format("{0}", item.Name.Trim())'></i>
                <div id="@string.Format("{0}{1}", "tiredetailsPopover", item.ShortName.Trim())" style="display:none;">
                    @{
                                               if (details.ContainsKey(item.ShortName.Trim()))
                                               {
                                                @Html.Raw(details[item.ShortName.Trim()]);
                                               }
                    }
                </div>
            </label>
            @Html.Raw(endingHTML);
                                           }
                                           count++;
                                       }
                                   }

                                @Html.Raw(endingHTML);
        }
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        @Html.CheckBox("cbProcessorType", !isInvalid.Contains(string.Format("{0}.{1}", prefix, "RegistrantSubTypeID")),
            ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
            {
                data_validate_field = "cbProcessorType",
                data_validate_message = "Invalid Processor Type",
                @class = "validation-checkbox no-validate",
                data_att_chkbox = string.Format("{0}.{1}", prefix, "RegistrantSubTypeID")
            }))
        <label class="control-label">@UIResource.ProcessorType</label>
        <p><em>@UIResource.ProcessorTypeDesc</em></p>
        @foreach (var tem in subtypes)
        {
            <div class="radio">
                <label class="ProcessorType">
                    @Html.RadioButtonFor(m => m.RegistrantSubTypeID, tem.DefinitionValue, new ViewDataDictionary(), isReadOnly || isResourceReadOnly)
                    @tem.Description
                </label>
            </div>
        }
    </div>
    <div class="col-md-4">
        <div id="pnlOtherProcType" style="display:none;">
            <div class="form-group has-required has-feedback">
                @Html.TextAreaFor(m => m.OtherRegistrantSubType, ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                {
                    @class = "form-control",
                    placeholder = @UIResource.ProcessorOtherProcessorType
                }))
            </div>
        </div>
    </div>
</div>
<hr class="col-md-11" />
@Html.Partial("StaffProcessorProductDetails", Model)