﻿@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface
@using CL.TMS.Security.Authorization;
@using CL.TMS.Common
@using CL.TMS.Security
@model CL.TMS.DataContracts.ViewModel.Hauler.BusinessRegistrationModel

@{

    var partialViewData = (CL.TMS.DataContracts.ViewModel.Common.ApplicationPartialViewData.CommonPartialView)ViewData["BusinessLocation"];

    var isInvalid = partialViewData.InvalidFormFieldList;
    var prefix = partialViewData.prefix;

    //var isInvalid = (List<string>)ViewData["invalidFormFieldList"];
    //var prefix = ViewData["prefix"];

    bool isReadOnly = false;
    if (Model != null)
    {
        switch (Model.Status)
        {
            case ApplicationStatusEnum.Submitted:
            case ApplicationStatusEnum.Assigned:
            case ApplicationStatusEnum.OnHold:
            case ApplicationStatusEnum.OffHold:
            case ApplicationStatusEnum.Approved:
            case ApplicationStatusEnum.BankInformationSubmitted:
            case ApplicationStatusEnum.BankInformationApproved:
            case ApplicationStatusEnum.Completed:
            case ApplicationStatusEnum.Denied:
                isReadOnly = false;
                break;
            default:
                isReadOnly = true;
                break;
        }
    }

    //var isParticipant = ViewData["IsParticipant"];
    var isParticipant = partialViewData.IsParticipant;
    if (Convert.ToBoolean(isParticipant))
    {
        isReadOnly = true;
    }

    //check security level
    var BusinessLocResource = CL.TMS.Configuration.ApplicationHelper.CheckUserSecurityForBusinessLocation(partialViewData.Type);
    var isResourceReadOnly = BusinessLocResource == CL.TMS.Security.SecurityResultType.ReadOnly;
}

<div class="row margin-bottom--10">
    <div class="col-md-4">
        <div class="form-group has-required has-feedback">
            <label class="control-label">
                @Html.CheckBox("cbBusinessName",
                    !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BusinessName).ToString())),
                            ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                            {
                                id = "cbBusinessName",
                                data_validate_field = "#businessLegalNameInput",
                                data_validate_message = "Invalid Business Name",
                                @class = "validation-checkbox no-validate",
                                data_att_chkbox = string.Format("{0}.{1}",
                                    prefix, @Html.GetExpressionText(p => p.BusinessName).ToString())
                            }))
                @UIResource.ParticipantBusinessLocationLegalBusinessName
                <i class="fa fa-question-circle businessLocationLBN" data-placement="auto" title=""></i>
            </label>
            <div id="businessLocationLBN" style="display:none;">
                <p>@UIResource.ParticipantBusinessLocationLegalBusinessNameHelpInfo</p>
            </div>
            @Html.TextBoxFor(m => m.BusinessName, new { id = Html.GetExpressionText(m => m.BusinessName).ToString(), maxlength = "65", @class = "form-control", placeholder = "Enter Name" }, isReadOnly || isResourceReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group has-required has-feedback">
            <label class="control-label">
                @Html.CheckBox("cbOperatingName",
                    !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.OperatingName).ToString())),
                                      ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                                      {
                                          id = "cbOperatingName",
                                          data_validate_field = "#operatingNameInput",
                                          data_validate_message = "Invalid Business Operation Name",
                                          @class = "validation-checkbox no-validate",
                                          data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.OperatingName).ToString())
                                      }))
                @UIResource.BusinessOperatingName
                <i class="fa fa-question-circle businessLocationBON" data-placement="auto" title=""></i>
            </label>
            <div id="businessLocationBON" style="display:none;">
                <p>@UIResource.ParticipantBusinessLocationBusinessOperatingNameHelpInfo</p>
            </div>
            @Html.TextBoxFor(m => m.OperatingName, new { id = Html.GetExpressionText(m => m.OperatingName).ToString(), @class = "form-control", maxlength = "65", placeholder = "Enter Business Operating Name" }, isReadOnly || isResourceReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
</div>

<hr />


<div class="row">
    @Html.HiddenFor(r => r.BusinessAddress.ID)
    <div class="col-md-6">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">
                @Html.CheckBox("cbAddress1", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BusinessAddress.AddressLine1).ToString())),
                         ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                         {
                             data_validate_field = "#businessLocationAddress1",
                             data_validate_message = "Invalid Business Location Address 1",
                             @class = "validation-checkbox no-validate",
                             data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BusinessAddress.AddressLine1).ToString())
                         }))
                @UIResource.ParticipantBusinessLocationAddressLine1
            </label>

            @Html.TextBoxFor(m => m.BusinessAddress.AddressLine1,
                ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                {
                    @class = "form-control title-case sortyard-address",
                    data_sortyard = "SortYardDetails[0].SortYardAddress.AddressLine1",
                    maxlength = "50",
                    placeholder = ""
                }))

            @*@Html.TextBoxFor(m => m.BusinessAddress.AddressLine1, new
                {
                    @class = "form-control title-case sortyard-address",
                    data_sortyard = "SortYardDetails[0].SortYardAddress.AddressLine1",
                    maxlength = "50",
                    placeholder = ""
                }, isReadOnly || isResourceReadOnly)*@

            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
        <div class="form-group">
            <label class="control-label" for="inputSuccess2">
                @Html.CheckBox("cbAddress2", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BusinessAddress.AddressLine2).ToString())),
                                  ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                                  {
                                      data_validate_field = "#businessLocationAddress2",
                                      data_validate_message = "Invalid Business Location Address 2",
                                      @class = "validation-checkbox no-validate",
                                      data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BusinessAddress.AddressLine2).ToString())
                                  }))
                @UIResource.ParticipantBusinessLocationAddressLine2
            </label>
            @*@Html.TextBoxFor(m => m.BusinessAddress.AddressLine2, new
                {
                    @class = "form-control title-case sortyard-address",
                    maxlength = "50", placeholder = "Suite, Unit, Bldg., etc.",
                    data_sortyard = "SortYardDetails[0].SortYardAddress.AddressLine2",
                }, isReadOnly)*@

            @Html.TextBoxFor(m => m.BusinessAddress.AddressLine2,
                ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                {
                    @class = "form-control title-case sortyard-address",
                    maxlength = "50",
                    placeholder = "Suite, Unit, Bldg., etc.",
                    data_sortyard = "SortYardDetails[0].SortYardAddress.AddressLine2"
                }))
        </div>
        @*commenting out as per business location requirements *@
        @*<small>Dev. Note: See <a href="https://www.walmart.ca/my-account/addresses" target="_blank">WalMart.ca</a> for address lookup behaviour. (L: malars@capris.com, P: Dundas77)</small>*@
    </div>
    <div class="col-md-3">
        <div class="form-group has-required has-feedback">
            <label class="control-label">
                @Html.CheckBox("cbCity", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BusinessAddress.City).ToString())),
                                           ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                                           {
                                               data_validate_field = "#businessLocationCity",
                                               data_validate_message = "Invalid Business Location City",
                                               @class = "validation-checkbox no-validate",
                                               data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BusinessAddress.City).ToString())
                                           }))
                @UIResource.CommonAddressCity
            </label>
            @*@Html.TextBoxFor(m => m.BusinessAddress.City, new
                {
                    @class = "form-control sortyard-address",
                    maxlength = "50",
                    placeholder = "",
                    data_sortyard = "SortYardDetails[0].SortYardAddress.City"
                }, isReadOnly)*@

            @Html.TextBoxFor(m => m.BusinessAddress.City,
                ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                {
                    @class = "form-control title-case sortyard-address",
                    maxlength = "50",
                    placeholder = "",
                    data_sortyard = "SortYardDetails[0].SortYardAddress.City"
                }))
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">
                @Html.CheckBox("cbPostalCode", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BusinessAddress.Postal).ToString())),
                         ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                         {
                             data_validate_field = "#businessLocationPostalCode",
                             data_validate_message = "Invalid Business Location Postal Code",
                             @class = "validation-checkbox no-validate",
                             data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BusinessAddress.Postal).ToString())
                         }))
                @UIResource.CommonAddressPostalCode
            </label>
            @Html.TextBoxFor(m => m.BusinessAddress.Postal, new { @class = "form-control sortyard-address", maxlength = "50", placeholder = "", data_sortyard = "SortYardDetails[0].SortYardAddress.Postal", }, isReadOnly || isResourceReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>

    </div>
    <div class="col-md-3">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">
                @Html.CheckBox("cbProvince", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BusinessAddress.Province).ToString())),
                                                    ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                                                    {
                                                        data_validate_field = "#businessLocationProvince",
                                                        data_validate_message = "Invalid Business Location Province",
                                                        @class = "validation-checkbox no-validate",
                                                        data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BusinessAddress.Province).ToString())
                                                    }))



                @UIResource.CommonAddressProvincestate
            </label>
            @*@Html.TextBoxFor(m => m.BusinessAddress.Province, new { @class = "form-control sortyard-address", maxlength = "50", placeholder = "", data_sortyard = "SortYardDetails[0].SortYardAddress.Province" }, isReadOnly)*@

            @Html.TextBoxFor(m => m.BusinessAddress.Province,
                ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                {
                    @class = "form-control title-case sortyard-address",
                    maxlength = "50",
                    placeholder = "",
                    data_sortyard = "SortYardDetails[0].SortYardAddress.Province"
                }))

            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-3">
        <label class="control-label">
            @Html.CheckBox("cbCountry", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BusinessAddress.Country).ToString())),
                                                ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                                                {
                                                    data_validate_field = "#businessLocationCounty",
                                                    data_validate_message = "Invalid Business Location Country",
                                                    @class = "validation-checkbox no-validate",
                                                    data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BusinessAddress.Country).ToString())
                                                }))
            @UIResource.CommonAddressCountry
        </label><br>
        <div class="form-group has-required has-feedback">
            <div class="dropdown">
                @*<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                        Select Country
                        <div class="glyphicon glyphicon-ok form-control-feedback"></div>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Canada</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">USA</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Other</a></li>
                    </ul>*@
                @Html.DropDownListFor(m => m.BusinessAddress.Country, new SelectListItem[]{
                    new SelectListItem() {Text = "Canada", Value="Canada"},
                    new SelectListItem() {Text = "USA", Value="USA"},
                    new SelectListItem() {Text = "Other", Value="Other"}}, "Select Country", new { @class = "form-control sortyard-address", data_sortyard = "SortYardDetails[0].SortYardAddress.Country" }, isReadOnly || isResourceReadOnly)
            </div>
        </div>
    </div>
</div><!--/.row-->
<hr>
<div class="row">
    <div class="col-md-4">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">
                @Html.CheckBox("cbPhone", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.Phone).ToString())),
                ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                {
                    @class = "validation-checkbox no-validate",
                    data_validate_message = "Invalid Business Phone",
                    data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.Phone).ToString())
                }))
                @UIResource.CommonPersonPhoneNumber
            </label>
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", maxlength = "50", placeholder = "" }, isReadOnly || isResourceReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">
                @Html.CheckBox("cbExt", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.Extension).ToString())), ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
           {
               @class = "validation-checkbox no-validate",
               data_validate_message = "Invalid Business Location Extension",
               data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.Extension).ToString())
           }))
                @UIResource.CommonPersonPhoneNumberExt
            </label>
            @Html.TextBoxFor(m => m.Extension, new { @class = "form-control", maxlength = "12", placeholder = "" }, isReadOnly || isResourceReadOnly)
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">
                @Html.CheckBox("cbEmail", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.Email).ToString())),
                ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                {
                    @class = "validation-checkbox no-validate",
                    data_validate_message = "Invalid Business Location Email",
                    data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.Email).ToString())
                }))
                @UIResource.Email
            </label>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", maxlength = "50", placeholder = "" }, isReadOnly || isResourceReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
</div><!--/.row-->

<div class="row">
    <div class="col-md-12">
        <div class="checkbox">
            <label>
                @if (Model.Status == ApplicationStatusEnum.BackToApplicant && Model.Status == ApplicationStatusEnum.Open)
                {
                    @Html.CheckBoxFor(m => m.MailingAddressSameAsBusiness, new { id = "MailingAddressSameAsBusiness", @class = "isMailingAddressDifferent", disabled = "disabled" })
                }
                else
                {
                    @Html.CheckBoxFor(m => m.MailingAddressSameAsBusiness, new { id = "MailingAddressSameAsBusiness", @class = "isMailingAddressDifferent" })
                }

                @*<input type="checkbox" id="MailingAddressSameAsBusiness" name="BusinessLocation.MailingAddressSameAsBusiness" class="isMailingAddressDifferent"
                    @(Model.MailingAddressSameAsBusiness  ? "checked" : "")
                    @( Model.Status == ApplicationStatusEnum.BackToApplicant && Model.Status == ApplicationStatusEnum.Open ? "disabled='disabled'" : string.Empty) />*@
                @UIResource.CommonBusinessAddress
            </label>
        </div>
    </div>
</div><!--/.row-->


<div class="row mailingAddressPanel" style="display:none;">
    @Html.HiddenFor(r => r.MailingAddress.ID)
    <div class="col-md-6">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">
                @Html.CheckBox("cbMail.Address1", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.MailingAddress.AddressLine1).ToString())),
                                  ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly,
                                  new
                                  {
                                      data_validate_field = "#businessMailingStreet1",
                                      data_validate_message = "Invalid Business Mailing Address 1",
                                      @class = "validation-checkbox no-validate",
                                      data_att_chkbox = string.Format("{0}.{1}",
                                      prefix, @Html.GetExpressionText(p => p.MailingAddress.AddressLine1).ToString())
                                  }))
                @UIResource.ParticipantBusinessLocationAddressLine1
            </label>
            @Html.TextBoxFor(m => m.MailingAddress.AddressLine1, new { @class = "form-control title-case", maxlength = "50", placeholder = "" }, isReadOnly || isResourceReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
        <div class="form-group">
            <label class="control-label" for="inputSuccess2">
                @Html.CheckBox("cbMail.Address2", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.MailingAddress.AddressLine2).ToString())),
                                          ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly,
                                           new
                                           {
                                               data_validate_field = "#businessMailingStreet2",
                                               data_validate_message = "Invalid Business Mailing Address 2",
                                               @class = "validation-checkbox no-validate",
                                               data_att_chkbox = string.Format("{0}.{1}", prefix,
                                               @Html.GetExpressionText(p => p.MailingAddress.AddressLine2).ToString())
                                           }))
                @UIResource.ParticipantBusinessLocationAddressLine2
            </label>
            @Html.TextBoxFor(m => m.MailingAddress.AddressLine2, new { @class = "form-control title-case", maxlength = "50", placeholder = "Suite, Unit, Bldg., etc." }, isReadOnly || isResourceReadOnly)
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">
                @Html.CheckBox("cbMail.City", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.MailingAddress.City).ToString())),
                                                    ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new { data_validate_field = "#businessMailingCity", data_validate_message = "Invalid Business Mailing Address City", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.MailingAddress.City).ToString()) }))
                @UIResource.CommonAddressCity
            </label>
            @Html.TextBoxFor(m => m.MailingAddress.City, new { @class = "form-control", maxlength = "50", placeholder = "" }, isReadOnly || isResourceReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>

        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">
                @Html.CheckBox("cbMail.PostalCode", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.MailingAddress.Postal).ToString())),
                                                    ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new { data_validate_field = "#businessMailingPostalCode", data_validate_message = "Invalid Business Mailing Address Postal Code", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.MailingAddress.Postal).ToString()) }))
                @UIResource.CommonAddressPostalCode
            </label>
            @Html.TextBoxFor(m => m.MailingAddress.Postal, new { @class = "form-control", maxlength = "50", placeholder = "" }, isReadOnly || isResourceReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>


    </div>
    <div class="col-md-3">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">
                @Html.CheckBox("cbMail.Province", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.MailingAddress.Province).ToString())),
                                                    ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new { data_validate_field = "#businessMailingProvince", data_validate_message = "Invalid Business Mailing Address Province", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.MailingAddress.Province).ToString()) }))
                @UIResource.CommonAddressProvincestate
            </label>
            @Html.TextBoxFor(m => m.MailingAddress.Province, new { @class = "form-control", maxlength = "50", placeholder = "" }, isReadOnly || isResourceReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
        <label>
            @Html.CheckBox("cbMail.Country", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.MailingAddress.Country).ToString())),
                                                ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new { data_validate_field = "#businessMailingCountry", data_validate_message = "Invalid Business Mailing Address Country", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.MailingAddress.Country).ToString()) }))

            @UIResource.CommonAddressCountry
        </label><br>
        <div class="form-group has-required has-feedback">
            <div class="dropdown">
                @*<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                        Select Country
                        <div class="glyphicon glyphicon-ok form-control-feedback"></div>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Canada</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">USA</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Other</a></li>
                    </ul>*@
                @Html.DropDownListFor(m => m.MailingAddress.Country, new SelectListItem[]{
                    new SelectListItem() {Text = "Canada", Value="Canada"},
                    new SelectListItem() {Text = "USA", Value="USA"},
                    new SelectListItem() {Text = "Other", Value="Other"}}, "Select Country", new { @class = "form-control" }, isReadOnly || isResourceReadOnly)
            </div>
        </div>
    </div>
</div><!--/.row-->