﻿@model CL.TMS.DataContracts.ViewModel.RPM.RPMTireDetailsRegistrationModel
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface
@using CL.TMS.Common
@using CL.TMS.Security
@using CL.TMS.Security.Authorization;

@{
    var isInvalid = (List<string>)ViewData["invalidFormFieldList"];
    bool isReadOnly = false;

    var prefix = ViewData["prefix"];
    string data_att_chkbox = string.Format("{0}.{1}", prefix, "TireItem");
    string check = string.Empty;

    if (Model != null)
    {
        switch (Model.Status)
        {
            case ApplicationStatusEnum.Submitted:
            case ApplicationStatusEnum.Assigned:
            case ApplicationStatusEnum.OnHold:
            case ApplicationStatusEnum.Approved:
            case ApplicationStatusEnum.OffHold:
            case ApplicationStatusEnum.BankInformationSubmitted:
            case ApplicationStatusEnum.BankInformationApproved:
            case ApplicationStatusEnum.Completed:
            case ApplicationStatusEnum.Denied:
                isReadOnly = false;
                break;
            default:
                isReadOnly = true;
                break;
        }

    }
    if (isReadOnly)
    {
        check = "checked:checked";
    }

    var userResource = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsRPMApplicationManufacturingDetails);
    var isResourceReadOnly = userResource == SecurityResultType.ReadOnly;
}

<div class="form-group has-required has-feedback">
    <div class="row">
        <div class="col-md-12">
            @Html.CheckBox("cbHRelatedProcessor", !isInvalid.Contains(string.Format("{0}.{1}", prefix, "TireItem")),
            ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
            {
                data_validate_field = "cbHRelatedProcessor",
                data_validate_message = "Invalid Manufacturing Detaiils",
                @class = "validation-checkbox no-validate",
                data_att_chkbox = string.Format("{0}.{1}", prefix, "TireItem")
            }))
            <label class="control-label" for="typeOfTiresHandled">
                @UIResource.ParticipantRPMManufacturingProductPurchased
                <i title="Products Purchased" data-placement="auto" class="fa fa-question-circle popoverProductsPurchased"></i>
            </label><br />
            <em>@UIResource.ParticipantRPMSelectALLCrumbRubber</em>

            <div style="display:none;" id="popoverProductsPurchased">
                @Html.Raw(UIResource.RPMProductProduce.ToString())
            </div>
        </div>
    </div><!--/.row-->
    @*<div class="form-group has-required has-feedback">*@
    <div class="row" id="item_checkbox">
        @{
            Dictionary<string, string> details = new Dictionary<string, string>()
            {
                {"PLT", @Html.Raw( UIResource.ParticipantTireDetailsALLtiresPLT).ToString()},
                {"MT", @Html.Raw(UIResource.ParticipantTireDetailsALLtiresMT).ToString()},
                {"AGLS", @Html.Raw(UIResource.ParticipantTireDetailsALLtiresAGLS).ToString()},
                {"IND", @Html.Raw(UIResource.ParticipantTireDetailsALLtiresIND).ToString()},
                {"SOTR", @Html.Raw(UIResource.ParticipantTireDetailsALLtiresSOTR).ToString()},
                {"MOTR", @Html.Raw(UIResource.ParticipantTireDetailsALLtiresMOTR).ToString()},
                {"LOTR", @Html.Raw(UIResource.ParticipantTireDetailsALLtiresLOTR).ToString()},
                {"GOTR", @Html.Raw(UIResource.ParticipantTireDetailsALLtiresGOTR).ToString()}
            };

            int count = 1;
            string startingCheckBox = "<div class='checkbox'>";
            string startingHTML = "<div class='col-md-6'>";
            string endingHTML = "</div>";

            @Html.Raw(startingHTML);
            if (@Model != null)
            {
                foreach (var item in Model.TireDetailsItemType)
                {
                    if (count % 6 == 0 && count != 0) //OTSTM2-891
                    {
                        @Html.Raw(startingCheckBox);
                        <label>
                            @{
                                if (item.isChecked)
                                {
                                    <input type="checkbox" value="@(item.ID.ToString())" id='@(string.Format("chb_{0}",item.ID.ToString()))' name='@data_att_chkbox' data-tiredetails="tire_val" data-myattri='@(string.Format("{0}-{1}",item.ShortName.Trim(), item.Name.Trim()))' checked="checked" @(isReadOnly || isResourceReadOnly ? "disabled" : "") />
                                }
                                else
                                {
                                    <input type="checkbox" value="@(item.ID.ToString())" id='@(string.Format("chb_{0}",item.ID.ToString()))' name='@data_att_chkbox' data-tiredetails="tire_val" data-myattri='@(string.Format("{0}-{1}",item.ShortName.Trim(), item.Name.Trim()))' @(isReadOnly || isResourceReadOnly ? "disabled" : "") />
                                }
                            }

                            <strong>@string.Format("{0} ", item.ShortName.Trim())</strong> @string.Format(" {0}", item.Name.Trim())

                        </label>
                        @Html.Raw(endingHTML);
                        @Html.Raw(endingHTML);
                        @Html.Raw(startingHTML);
                        }
                        else
                        {
                            @Html.Raw(startingCheckBox);
                            <label>
                                @{
                                    if (item.isChecked)
                                    {
                                        <input type="checkbox" value="@(item.ID.ToString())" id='@(string.Format("chb_{0}",item.ID.ToString()))' name='@data_att_chkbox' data-tiredetails="tire_val" data-myattri='@(string.Format("{0}-{1}",item.ShortName.Trim(), item.Name.Trim()))' checked="checked" @(isReadOnly || isResourceReadOnly ? "disabled" : "") />
                                    }
                                    else
                                    {
                                        <input type="checkbox" value="@(item.ID.ToString())" id='@(string.Format("chb_{0}",item.ID.ToString()))' name='@data_att_chkbox' data-tiredetails="tire_val" data-myattri='@(string.Format("{0}-{1}",item.ShortName.Trim(), item.Name.Trim()))' @(isReadOnly || isResourceReadOnly ? "disabled" : "") />
                                    }
                                }
                                <strong>@string.Format("{0} ", item.ShortName.Trim())  </strong> @string.Format("{0}", item.Name.Trim())

                            </label>
                                @Html.Raw(endingHTML);
                    }
                    count++;
                }
            }
            @Html.Raw(endingHTML);
        }
    </div>

    <div class="col-md-4">
        <div id="pnlOtherProcType" style="display:none;">
            <div class="form-group has-required has-feedback">             
                @Html.TextAreaFor(m => m.OtherRegistrantSubType, ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                {
                    @class = "form-control",
                    placeholder = @UIResource.ProcessorOtherProcessorType
                }))
            </div>
        </div>
    </div>



</div>
<hr class="col-md-11" />
@Html.Partial("StaffRPMProductProduceDetails", Model)

