﻿@model CL.TMS.DataContracts.ViewModel.RPM.RPMDetailsRegistrationModel
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface
@using CL.TMS.Common
@using CL.TMS.Security
@using CL.TMS.Security.Authorization;

@{
    var isInvalid = (List<string>)ViewData["invalidFormFieldList"];//new List<string>();
    bool isReadOnly = false;
    if (Model != null)
    {
        switch (Model.Status)
        {
            case ApplicationStatusEnum.Submitted:
            case ApplicationStatusEnum.Assigned:
            case ApplicationStatusEnum.OnHold:
            case ApplicationStatusEnum.OffHold:
            case ApplicationStatusEnum.Approved:
            case ApplicationStatusEnum.BankInformationSubmitted:
            case ApplicationStatusEnum.BankInformationApproved:
            case ApplicationStatusEnum.Completed:
            case ApplicationStatusEnum.Denied:
                isReadOnly = false;
                break;
            default:
                isReadOnly = true;
                break;
        }
    }
    var prefix = ViewData.TemplateInfo.HtmlFieldPrefix;

    var userResource = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsRPMApplicationRPMDetails);
    var isResourceReadOnly = userResource == SecurityResultType.ReadOnly;
}

<div class="row">  
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">
                @Html.CheckBox("cbBusinessStartDate", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BusinessStartDate).ToString())),
                         ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new { data_validate_field = "#businessStartDate", data_validate_message = "Invalid RPM Business Start Date", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BusinessStartDate).ToString()) }))
                @UIResource.ParticipantHaulerDetailsBusinessStartDate
            </label><br>
            <div class="input-group date rpm_calendar" id="dpBusinessStartDate">
                @Html.TextBoxFor(m => m.BusinessStartDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @readonly = "readonly", placeholder = "" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group has-required has-feedback">
            <label class="control-label">
                @Html.CheckBox("cbBusinessNumber", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BusinessNumber).ToString())),
                         ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new { data_validate_field = "#businessNumber", data_validate_message = "Invalid RPM Ontario Business Number", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BusinessNumber).ToString()) }))
                @UIResource.ParticipantHaulerDetailsOntarioBusinessNumber
            </label>
            @Html.TextBoxFor(m => m.BusinessNumber, new { @class = "form-control", maxlength = "50", placeholder = "" }, isReadOnly || isResourceReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group has-required has-feedback">
            <label class="control-label">
                @*<input type="checkbox" class="validation-checkbox" data-validate-message="Invalid RPM HST Registration Number" checked="">*@
                @Html.CheckBox("cbCommercialLiabHSTNumber", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.CommercialLiabHstNumber).ToString())),
                                           ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new { data_validate_field = "#commercialLiabHSTNumber", data_validate_message = "Invalid RPM HST Registration Number", 
                                               @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.CommercialLiabHstNumber).ToString()) }))
                @UIResource.ParticipantHaulerDetailsHSTRegistrationNumber
            </label>
            <div class="row">
                <div class="col-md-7">
                    @Html.TextBoxFor(m => m.CommercialLiabHstNumber, new { @class = "form-control", maxlength = "9", placeholder = "" }, isReadOnly || isResourceReadOnly)
                    <span class="glyphicon glyphicon-ok form-control-feedback" style="margin-right:20px;margin-top:-25px;"></span>
                </div>
                <div class="col-md-5">
                    <div class="form-group margin-top-5">
                        <label>
                            @Html.CheckBoxFor(m => m.IsTaxExempt, ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new { @class = "hst" })) @UIResource.ParticipantHaulerDetailsHSTExempt
                            @*<small>(Dev. Note: If checked disable HST field)</small>*@
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/.row-->
<div class="row">  
    <div class="col-md-3">
        <div class="form-group has-required">
            <label class="control-label">
            @Html.CheckBox("cbCommonFiscalYearEnd", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BusinessFicalYearEndDate).ToString())),
                                                                                                 ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new { data_validate_field = "#BusinessFicalYearEndDate", data_validate_message = "Invalid Fiscal Year End Date", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BusinessFicalYearEndDate).ToString()) }))
            @UIResource.CommonFiscalYearEnd</label>
            <div class="input-group date rpm_calendar" id="dpFicalYearEndDate">
                @Html.TextBoxFor(m => m.BusinessFicalYearEndDate, "{0:MM-dd}", new { @class = "form-control", @readonly = "readonly", placeholder = "" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <span class="glyphicon glyphicon-ok form-control-feedback" style="right:60px;"></span>
        </div>
    </div>
      
    <div class="col-md-5">
        <div class="form-group has-required has-feedback">
            <label class="control-label">
                @Html.CheckBox("cbCommercialLiabInsurerName", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.CommercialLiabInsurerName).ToString())),
                                                    ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new { data_validate_field = "#CommercialLiabInsurerName", data_validate_message = "Invalid RPM Commercial Liability Insurance", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.CommercialLiabInsurerName).ToString()) }))
                @UIResource.ParticipantHaulerDetailsCommercialLiabilityInsurance
            </label>
            @Html.TextBoxFor(m => m.CommercialLiabInsurerName, new { @class = "form-control", maxlength = "50", placeholder = "" }, isReadOnly || isResourceReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">
                @Html.CheckBox("cbCommercialLiabInsurerExpDate", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.CommercialLiabInsurerExpDate).ToString())),
                                                                      ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new { data_validate_field = "#CommercialLiabInsurerExpDate", data_validate_message = "Invalid Commercial Liability Insurance Expiration Date", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.CommercialLiabInsurerExpDate).ToString()) }))
                @UIResource.CommonWordExpiryDate
            </label><br>
            <div class="input-group date rpm_calendar" id="dpInsuranceExpiryDate">
                @Html.TextBoxFor(m => m.CommercialLiabInsurerExpDate, "{0:yyyy-MM-dd}", new { @class = "form-control", placeholder = "", @readonly = "readonly" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <span class="glyphicon glyphicon-ok form-control-feedback" style="right:60px;"></span>
        </div>
    </div>


</div><!--/.row-->
<hr>
<div class="row">


    <span id="pnlCVOR">        
        <div class="col-md-5">
            <div class="form-group has-required has-feedback">
                <label class="control-label">
                    @Html.CheckBox("cbCvorNumber", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.CvorNumber).ToString())),
                                      ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new { data_validate_field = "#CvorNumber", data_validate_message = "Invalid RPM CVOR Number", 
                                          @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.CvorNumber).ToString()) }))
                    @UIResource.ParticipantCVORNumber
                </label>
                <i class="fa fa-question-circle color-tm-gray supportingDocumentsCVOR" data-placement="auto" title="CVOR Abstract Level II"></i>
                <div id="supportingDocumentsCVOR" style="display:none;">
                    <p>@UIResource.ParticipantHaulerDetailsCVOR</p>
                </div>
                @Html.TextBoxFor(m => m.CvorNumber, new { @class = "form-control", maxlength = "50", placeholder = "" }, isReadOnly || isResourceReadOnly)
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">
                    @*<input type="checkbox" class="validation-checkbox" data-validate-message="Invalid RPM CVOR Number Expiration Date" checked=""> *@
                    @Html.CheckBox("cbCvorExpiryDate", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.CvorExpiryDate).ToString())),
                                               ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, 
                                               new { data_validate_field = "#CvorNumber", data_validate_message = "Invalid RPM CVOR Number Expiration Date",
                                                     @class = "validation-checkbox no-validate",
                                                     data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.CvorExpiryDate).ToString())
                                               }))
                    @UIResource.CommonWordExpiryDate
                </label><br>
                <div class="input-group date rpm_calendar" id="dpCvorExpiryDate">
                    @Html.TextBoxFor(m => m.CvorExpiryDate, "{0:yyyy-MM-dd}", new { @class = "form-control", placeholder = "", @readonly = "readonly" })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <span class="glyphicon glyphicon-ok form-control-feedback" style="right:60px;"></span>
            </div>
        </div>
    </span>


</div><!--/.row-->
<div class="row">
    <div class="col-md-6">
        <div class="form-group has-required has-feedback">
            <label class="control-label">
                @Html.CheckBox("cbHasMoreThanOneEmp", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.HasMoreThanOneEmp).ToString())),
                                                                           ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new { data_validate_field = "#HasMoreThanOneEmp", data_validate_message = "Invalid RPM Employees Details", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.HasMoreThanOneEmp).ToString()) }))
                @UIResource.ParticipantHaulerDetailsDoYouHaveMoreEmployees
            </label>
            <div class="radio">
                <label>
                    @*<input type="radio" name="optionsRadiosCert" id="optionsRadiosCert2" value="option2">*@
                    @Html.RadioButtonFor(model => model.HasMoreThanOneEmp, false, new { @class = "wsib" }, isReadOnly || isResourceReadOnly)
                    @UIResource.ParticipantHaulerDetailsRadioBtn1
                </label>
            </div>
            <div class="radio">
                <label>
                    @Html.RadioButtonFor(model => model.HasMoreThanOneEmp, true, new { @class = "wsib" }, isReadOnly || isResourceReadOnly)
                    @UIResource.CommonWordYes 
                </label>
            </div>
        </div>
        <span id="pnlWSIB">
            <div class="form-group has-required has-feedback">
                <label class="control-label">
                    @*<input type="checkbox" class="validation-checkbox" data-validate-message="Invalid RPM WSIB Number" checked="">*@
                    @Html.CheckBox("cbWsibNumber", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.WsibNumber).ToString())),
                        ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, 
                        new { data_validate_field = "#WsibNumber", data_validate_message = "Invalid RPM WSIB Number",
                              @class = "validation-checkbox no-validate",
                              data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.WsibNumber).ToString())
                        }))
                    WSIB Number
                </label>
                @Html.TextBoxFor(m => m.WsibNumber, new { @class = "form-control", maxlength = "7", placeholder = "7 digit account number" }, isReadOnly || isResourceReadOnly)
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>
        </span>
    </div>

</div>
