/*
 * Base Structure *************************************************************
 */
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 60px;
  font-family: 'Open Sans', sans-serif;
  background-color: #f9f9f9;  
}
/* 
 * Limited Edition (LE) Only Sytles
 */
.navbar-le .navbar-toggle {
 display: none;
}

/*
 * Global Styles *************************************************************
 */
.transition-class { /* Used for collapse/expand of navigation */
  -webkit-transition: all 450ms cubic-bezier(0.510, 0.185, 0.425, 0.865);
  -moz-transition: all 450ms cubic-bezier(0.510, 0.185, 0.425, 0.865); 
  -ms-transition: all 450ms cubic-bezier(0.510, 0.185, 0.425, 0.865); 
  -o-transition: all 450ms cubic-bezier(0.510, 0.185, 0.425, 0.865); 
  transition: all 450ms cubic-bezier(0.510, 0.185, 0.425, 0.865);   
}
.txt-l,
.td-l,
.td-left {
  text-align: left;
}
.txt-c,
.td-c,
.td-center {
  text-align: center;
}
.txt-r,
.td-r,
.td-right {
  text-align: right;
}
.td-right-pad {
  text-align: right;
  padding-right:5% !important;
}
.sub-header-container {
  margin-top:25px;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-default {
  cursor: default;
}
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.border-r { 
  border-right: solid 1px #cccccc;
}
.table-responsive {
  border: 0 none;
}
a:hover, a:active {
  text-decoration: none!important; 
}
.panel-bg-grey {
  float: left;
  padding:15px 0;
  width: 100%;
  background-color: #eee;  
}
.panel-border-grey {
  float:left;
  padding:15px;
  border:solid 1px #ccc;
  width: 100%;
}
.btn-success {
  background-color: #8cc547;/* Style button as OTS Green */
  border: solid 1px #7db637;
}
hr {
  border-top: 1px solid #e5e5e5;
}
.margin-top-0 { margin-top:0!important; }
.margin-top-3 { margin-top:3px!important; }
.margin-top-5 { margin-top:5px!important; }
.margin-top-10 { margin-top:10px!important; }
.margin-top-15 { margin-top:15px!important; }
.margin-top-20 { margin-top:20px!important; }
.margin-top-25 { margin-top:25px!important; }
.margin-top-30 { margin-top:30px!important; }
.margin-top-35 { margin-top:35px!important; }
.margin-top-40 { margin-top:40px!important; }
.margin-top-45 { margin-top:45px!important; }
.margin-top-50 { margin-top:50px!important; }
.margin-top-60 { margin-top:60px!important; }
.margin-top-70 { margin-top:70px!important; }
.margin-top-80 { margin-top:80px!important; }
.margin-top-90 { margin-top:90px!important; }
.margin-top-100 { margin-top:100px!important; }
.margin-top--3 { margin-top:-3px!important; }
.margin-top--5 { margin-top:-5px!important; }
.margin-top--10 { margin-top:-10px!important; }
.margin-top--15 { margin-top:-15px!important; }
.margin-top--20 { margin-top:-20px!important; }
.margin-top--25 { margin-top:-25px!important; }
.margin-top--30 { margin-top:-30px!important; }
.margin-top--35 { margin-top:-35px!important; }
.margin-top--40 { margin-top:-40px!important; }
.margin-top--45 { margin-top:-45px!important; }
.margin-top--50 { margin-top:-50px!important; }
.margin-top--60 { margin-top:-60px!important; }
.margin-top--70 { margin-top:-70px!important; }
.margin-top--80 { margin-top:-80px!important; }
.margin-top--90 { margin-top:-90px!important; }
.margin-top--100 { margin-top:-100px!important; }
.margin-right-0 { margin-right:0!important; }
.margin-bottom-0 { margin-bottom:0!important; }
.margin-bottom-5 { margin-bottom:5px!important; }
.margin-bottom-10 { margin-bottom:10px!important; }
.margin-bottom-15 { margin-bottom:15px!important; }
.margin-bottom-20 { margin-bottom:20px!important; }
.margin-bottom-25 { margin-bottom:25px!important; }
.margin-bottom-30 { margin-bottom:30px!important; }
.margin-bottom-35 { margin-bottom:35px!important; }
.margin-bottom-40 { margin-bottom:40px!important; }
.margin-bottom-45 { margin-bottom:45px!important; }
.margin-bottom-50 { margin-bottom:50px!important; }
.margin-bottom--3 { margin-bottom:-3px!important; }
.margin-bottom--5 { margin-bottom:-5px!important; }
.margin-bottom--10 { margin-bottom:-10px!important; }
.margin-bottom--15 { margin-bottom:-15px!important; }
.margin-bottom--20 { margin-bottom:-20px!important; }
.margin-bottom--25 { margin-bottom:-25px!important; }
.margin-bottom--30 { margin-bottom:-30px!important; }
.margin-bottom--35 { margin-bottom:-35px!important; }
.margin-bottom--40 { margin-bottom:-40px!important; }
.margin-bottom--45 { margin-bottom:-45px!important; }
.margin-bottom--50 { margin-bottom:-50px!important; }
.margin-left-0 { margin-left:0!important; }
.padding-0 { padding:0!important; }
.padding-1 { padding:1!important; }
.padding-2 { padding:2!important; }
.padding-3 { padding:3!important; }
.padding-4 { padding:4!important; }
.padding-5 { padding:5!important; }
.padding-10 { padding:10!important; }
.padding-15 { padding:15!important; }
.padding-20 { padding:20!important; }
.padding-25 { padding:25!important; }
.padding-30 { padding:30!important; }
.padding-35 { padding:35!important; }
.padding-40 { padding:40!important; }
.padding-45 { padding:45!important; }
.padding-50 { padding:50!important; }
.float-left { float:left; }
.float-right { float:right; }
.display-block { display: block!important; }
.display-inline-block { display: inline-block!important;}
.display-none { display: none!important; }
table td
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-color: #7db637;
  border: solid 1px #7db637;
}
/* Customize Boostrap Tables */
.rowlink a {
  color: inherit;
}
.rowlink tr>td {
  cursor: pointer;
}
.table-td-valign-t tbody>tr>td {
  vertical-align: top;
}
.table-td-valign-m tbody>tr>td {
  vertical-align:middle;
}
.table-td-valign-b tbody>tr>td {
  vertical-align: bottom;
}
.tm-all {
    margin-top:20px;
    padding:10px;
}
.panel-default > .panel-heading {
  background: none;
  border: none 0;
 position: relative;
}
.panel-default > .panel-heading a {
  width: 100%;
  display: block;
}
.panel-default > .panel-heading a {
  background: url("../gui/comp-all-accordion-collapse.png") no-repeat right center;
}
.panel-default > .panel-heading a {
  text-decoration: none;
}
.panel-default > .panel-heading a,
.panel-default > .panel-heading a.panel-arrow-expand {
  background: url("../gui/comp-all-accordion-expand-blue.png") no-repeat right center;
}
.panel-default > .panel-heading a:hover,
.panel-default > .panel-heading a.panel-arrow-expand:hover {
  background: url("../gui/comp-all-accordion-expand-blue.png") no-repeat right center; 
}
.panel-default > .panel-heading a.collapsed,
.panel-default > .panel-heading a.panel-arrow-collapse {
  background: url("../gui/comp-all-accordion-collapse.png") no-repeat right center;
}
.panel-default > .panel-heading a.collapsed:hover,
.panel-default > .panel-heading a.panel-arrow-collapse:hover {
  background: url("../gui/comp-all-accordion-collapse-blue.png") no-repeat right center;
}
.panel-table-status {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  padding:1px 0;
  font-size:80%;
}
.panel-heading h4 {
  color:#333;
  font-size: 18px;
}
.panel .viewmore {
  margin-top:-10px!important;
  display: block;
  float:left;
  color:#aaa;
}
.panel .comp-list-total {
  margin-top:-10px!important;
  float:right;
  color:#b1b1b1;
  padding-right:6px;
  margin-right:6px;
}
/* Colors */
.color-tm-grey,
.color-tm-gray { 
  color:#68686A;
}
.color-tm-grey-light,
.color-tm-gray-light { 
  color:#b1b1b1;
}
.color-tm-grey-light-light,
.color-tm-gray-light-light { 
  color:#e0e0e0;
}
.color-tm-grey-bg,
.color-tm-gray-bg { 
  background-color:#68686A;
  color:#fff;
}
.color-tm-blue {
  color:#428bca;
  color:#03a9f4;
}
.color-tm-blue-bg {
  background-color:#428bca;
  background-color:#03a9f4;
  color:#fff;
}
.color-tm-red {
  color:#d43f3a;
}
.color-tm-red-bg {
  background-color:#d43f3a;
  color:#fff;  
}
.color-tm-green {
  color:#7db637;
}
.color-tm-green-bg {
  background-color:#7db637;
  color:#fff;  
}
.color-tm-orange {
  color:#eea236;
}
.color-tm-orange-bg {
  background-color:#eea236;
  color:#fff;  
}
.color-tm-grey {
  color:#737373;
}
.color-tm-grey-bg {
  color:#737373;
}
.color-tm-orange {
  color:#f0ad4e;
}
.color-tm-orange-bg {
  background-color:#f0ad4e;
}
.weight-n {
  font-weight: normal;
}
.weight-b {
  font-weight: bold;
}
.panel-body {
  overflow-x: auto; 
}
.panel-body table{
  margin-top:-10px;
}
.noinput-padding,
.textinput-nofield {
  padding: 12px  20px;  
}
/*
 * Sub Components *************************************************************
 */
.subcomp-search {
  text-align: right;
  position:absolute;
  top:-3px;
  right:40px;  
}
.subcomp-search input {
  position: absolute;
  right:15px;
  padding-right:25px;
  width:190px;
  margin-top:5px;
  visibility: hidden;
}
.subcomp-search i {
  position: absolute;
  right:20px;
  top:3px;
  margin-top:10px;
  margin-left:5px;
  font-size: 1.4em;
  cursor: pointer;
  background-color: transparent;
  right:10px;
  top:-10px;
  padding-top:14px;
  padding-right:10px;
  width:40px;
  height: 43px;
  opacity: 0.6;
}
.subcomp-search:hover input,
.subcomp-search:hover .subcomp-search-found,
.subcomp-search:hover i {
  visibility: visible;
}
.subcomp-search-found {
  position: absolute;
  right:205px;
  top:8px;
  text-align: right;
  font-weight: 600;
  display: none;
  background: #fff;
  padding:5px 10px 5px 0;
  width: 70px;
  color:#eb6358;
  font-size:95%;
}
i.remove-icon {
  font-size: 100%;
  margin-top:11px;
  z-index: 10;
}
.remove-icon { 
  margin-right:25px;
  display:none;
  color:#c9302c;
}
/*
 * Components *************************************************************
 */
 /* Component: Header Bar */
.navbar-fixed-top { 
  border: 0; /* Hide default border to remove 1px line */
  min-height: 60px;
}
#hdrbar .nav {
  float: left;
}
#hdrbar .nav a {
  font-weight:300;
  font-size:17px;
}
#hdrbar .navbar-hbmenu {
  float: left;
  padding:11px 2px 11px 10px;
  cursor: pointer;
}
#hdrbar .navbar-logo {
  position: absolute;
  right:25px;
  top:5px;
}
@media (max-width: 767px) {
  #hdrbar .navbar-logo {
    right:70px;
    top:5px;
  }
}
.navbar-inverse .navbar-toggle {
border-color: #e3ead9;
margin-top:12px;
}
.nav.navbar-nav {
  padding-top:5px;
}
.navbar.navbar-inverse {
  background-color: #8cc547; 
  border-bottom:none 0;
}
.navbar-inverse .navbar-nav>li>a {
  color:#fff;
  font-size: 17px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
background-color:none;
background:url('gui/gui-hdr-icon-selected.png') no-repeat bottom center; 
}
/* Component: Header Bar */
@media (min-width: 768px) {
  .sidenav .sidebar {
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content */
  }
}
.sidenav {
  position: fixed;
  top: 60px;
  left: 0px;
  height: 100%;
  background-color: #68686A;
  overflow-x: hidden;
}

.sidenav .sidebar {
  width:275px;
}

.sidenav .menu-item span {
  bottom:-1px;
  position: relative;
}
.sidenav .menu-item i {
  margin-top:1px;
 }
.sidenav .menu-item:last-child i {
  color:#bbb;
  border: solid 1px #bbb!important;

}
.sidenav .menu-item:last-child span {
  color:#bbb!important;
}
/* Sidenav Expand / Collapse */
.main-content {
  margin-left: 275px;
  }
.sidenav-collapsed {
  margin-left: 56px;
  }
.sidenav {
  width: 275px;
  overflow: hidden;
  }
.sidenav-collapsed .sidenav {
  width: 56px;
  }
.sidenav .nav-sidebar li {
  display: block;
  width: 100%;
  min-height: 51px;
}
/* Search */
.sidenav .nav-sidebar li.search {
  border-bottom: 1px solid #5A5A5E;
  margin-left:0;
}
.navbar-form.navbar-left {
}
/* chosen participant for LE */
.sidenav .chosen-participant {
  margin-top:8px;
  padding-left: 47px;
  padding-right: 0;
  color:#fff;
  width: 100%;
  position: relative;
}
.sidenav .chosen-participant-clear {
  position: absolute;
  top:2px;
  left:280px;
  background: none!important;
  border: none 0!important;
}
.sidenav .chosen-participant-clear i {
 border: none 0!important;
}}
/* Placeholder Styles */
.sidenav .nav-sidebar li.search input::-webkit-input-placeholder { /* WebKit browsers */
  color: #B1B1B1;
}
.sidenav .nav-sidebar li.search input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #B1B1B1;
  opacity:  1;
}
.sidenav .nav-sidebar li.search input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #B1B1B1;
  opacity:  1;
}
.sidenav .nav-sidebar li.search input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #B1B1B1;
}
.sidenav .nav-sidebar li.search form {
  padding-right: 0!important;
}
.sidenav .nav-sidebar li.search input {
  border: none;
  background-color: #68686A;
  box-shadow: none;
  color: #B1B1B1;
  padding-left: 47px;
  padding-right: 0;
}
@media (max-width: 767px) {
  .sidenav .nav-sidebar li.search input {
    border: none;
    background-color: #68686A;
    box-shadow: none;
    color: #B1B1B1;
    padding-left: 47px;
    padding-right: 0;
    padding-bottom: 10px;
  }
  .sidenav .nav-sidebar li.search form {
    padding-right: 0!important;
    max-width: 100%;
    max-height: 45px;
    border: none;
    box-shadow: none;
    margin: 0;
  }
}
/* Collapsed Search Icon Styles */
.sidenav-collapsed .sidenav .nav-sidebar li.search input {
  opacity: 0; 
}
.sidenav .nav-sidebar li.search i#collapsed-search-icon {
  cursor: pointer;
  float: right;
  color: #3EA1CE;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 27px;
  position: relative;
  top: 10px;
  right: 232px;
  opacity: 1;
  border: 1px solid #FFF; /* Circle Around Icon */
  border-radius: 20px;
}
.sidenav-collapsed .sidenav .nav-sidebar li.search i#collapsed-search-icon {
  opacity: 0.5;
}
.sidenav li {
  border-bottom: 1px solid #7f7c7c;  
  margin-left:60px;
}
.sidenav li li { 
  margin-left:20px;
}
.sidenav ul ul li {
  border-bottom: 0px none; 
}
.sidenav .nav-sidebar li a {
  display: inline-block;
  padding: 10px;   
  text-decoration: none;
  background-color: #68686A;
  color: #FFF;
  width: 240px;
  height: 50px;
  float: left;
  margin-left:-60px;
}
.sidenav .nav-sidebar .sub-menu-toggle {
  padding: 0;
  margin-right:60px;
  width: 34px;
  height: 50px;
  float: right;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
.sidenav .nav-sidebar li a:hover, .sidenav .nav-sidebar li a:active {
  background-color: #68686A;
  color: #FFF;
}
.sidenav .nav-sidebar li a i {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 27px;
  margin-left: 3px;
  margin-bottom: 1px;
  border: 1px solid #FFF; /* Circle Around Icon */
  border-radius: 20px;
}
.sidenav-collapsed .sidenav .nav-sidebar li a i {
  opacity: 0.5;
}
.sidenav .nav-sidebar li a span.title {
  margin-left: 20px;
  color: #FFF;
}
.sidenav .nav-sidebar li div span.expand-icon {
  color: #3EA1CE;
  font-size: 18px;
  line-height: 50px;
  cursor: pointer;
}
.tm-all .icon-trans-status {
  height: 60%;
  padding-left:10px;
}
.tm-all .dropdown-menu-actions .dropdown-menu {
  margin-left:-115px;
}
.tm-all .dropdown-menu-actions > a {
  padding: 7px;
}
.tm-all .dropdown-menu-actions i {
  color: #6a6d68;
}
.tm-all .dropdown-menu-actions a:hover,
.tm-all .dropdown-menu-actions a:hover i {
  color: #428bca;
}
.tm-all .dropdown-menu-actions a {
  color: #000;
}
/* /Side Nav */
/* Sub Menus */
.sidenav .sub-menu {
  width: 100%;
  display: none;
  margin-bottom:10px;
  clear: both;
}
.sidenav .sub-menu li {
  height: 30px !important;
  min-height: 30px !important;
}
.sidenav .sub-menu li a {
  color: #C4C4C4 !important;
  padding: 0 !important;
  height:30px !important;
}
.sidenav .sub-menu li a i {
  border: none ! important; /* Remove Circle Around Icon */
  border-radius: 0 !important;
}
.sidenav .sub-menu li a span.title {
  line-height: 0 !important;
  margin-left: 5px !important;
  color: #C4C4C4 !important;
}
/* Component: Claims - Header */
.comp-claims-header {
  margin-bottom:20px;
}
.comp-claims-header .li-label {
  padding-left: 20px;
  font-weight: bold;
}
.comp-claims-header h2 {
  font-size: 27px;
  margin-top:5px;
}
.comp-claims-header h2 button {
  margin:0;
}
.comp-claims-header .sub-header-registrantinfo {
  font-size: 27px;
  cursor: pointer;
  text-align: right;
  font-weight: 400;
  margin-top:-4px;
}
.comp-claims-header .sub-header-registrantname {
  font-size: 20px;
  text-align: right;
  margin-top:-2px; 
}
.comp-claims-header .sub-header-claimdate {
  font-size: 20px;
  text-align: right;
  margin-top:-2px;
}
.comp-claims-header.comp-variant-staff .sub-header-claimdate {
  font-size: 20px;
  text-align: right;
  margin-top:-2px; 
}
.comp-claims-header.sub-header-claimdate {
  font-size: 20px;
  text-align: right;
  margin-top:-2px; 
}
.comp-claims-header.comp-variant-staff .sub-header-claimdate {
  font-size: 20px;
  text-align: right;
  margin-top:-7px; 
  float:left;
}
.comp-claims-header.comp-variant-staff .sub-header-claimstatus {
  text-align:right;
  margin-bottom:6px;
  float: left;
  margin-left:10px;
  margin-top:-3px;
  color:#eea236;
}
.comp-claims-header.comp-variant-staff .sub-header-claimstatus .label {
  font-weight:normal;
  font-size:12px;
}
.comp-claims-header.comp-variant-staff .sub-header-status {
  text-align:right;
  margin-bottom:6px;
}
.comp-claims-header.comp-variant-staff .sub-header-status .label {
  font-weight:normal;
  font-size:12px;
}
.comp-claims-header .uiaction-export {
  font-size: 20px;
}
.uiaction-export-link {
  position: absolute;
  top:10px;
  left:100px;
}
.uiaction-export {
  font-size: 20px;
  cursor: pointer;
  color: #ccc;
  -webkit-transition: color 0.5s; /* For Safari 3.1 to 6.0 */
  transition: color 0.5s;
}
.uiaction-export:hover {
  color: #428bca;
}
/* Component: Claims Summary - History */
.comp-claims-summary-history tr {
  border-bottom: solid 1px #E8E8E8;
}
.comp-claims-summary-history td {
  font-size: 13px;
  padding: 0!important;
}
.comp-claims-summary-history p {
  margin: 10px 0!important;
  color: #949494;
}
.comp-claims-summary-history strong {
  color:#000;
}
/* Component: Claims Summary - Submit Modal */
.comp-claims-summary-submitmodal {
  margin-top:145px;
}
/* Components All: Modal */
.modal-header {
  background-color:#8cc63f;
  color: #fff;
}
.modal-header h3 {
  font-weight: 300;
}
.modal-header .close {
  margin-top:7px;
}
.modal-body h4 {
  line-height: 150%;
}
.comp-all-modal .modal-header {
  height:65px;
}
.comp-all-modal .modal-title { 
  width:100%;
  color:#fff;
  font-weight:300;
}
.comp-all-modal .comp-modal-table-p tr td p {
  margin-top:-10px;
}
.comp-all-modal .modal-header .pos-l {
  width:30%;
  float:left;
}
.comp-all-modal .modal-header .pos-l h3 {
  margin:-3px 0 0 0;
  font-size: 110%;
}
.comp-all-modal .modal-header .pos-l h3 span {
  font-size: 130%;
  line-height: 100%;
}
@media (max-width: 991px) { 
.comp-all-modal .modal-header .pos-l h3 {
  margin:-1px 0 0 0;
  font-size: 100%;
  }
} 
.comp-all-modal .modal-header .pos-c {
  width:40%;
  height: 60px;
  float:left;  
  margin:-13px 0 0 0;
  background:url('../gui/gui-hdr-logo.png') no-repeat center center;
}
.comp-all-modal .modal-header-le .pos-c {
  background:url('../gui/gui-hdr-logo-le.png') no-repeat center center;  
}
.comp-all-modal .modal-header .pos-r {
  width:27%;
  float:left;  
  margin:-5px 0 0 0;
  text-align: right;
  color:#fff;
  font-weight: 300;
}
.comp-all-modal .modal-header .pos-r  {
  margin:-3px 0 0 0;
  font-size: 110%;
}
.comp-all-modal .modal-header .pos-r span {
  font-size: 130%;
  line-height: 100%;
}
@media (max-width: 991px) { 
  .comp-all-modal .modal-header .pos-r{
    margin:-1px 0 0 0;
    font-size: 100%;
  }
}
/* Component: All Transactions - New Refresh */
.comp-all-transactions-newrefresh {
  position:absolute;
  top:9px;
  left:160px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 5px;
  background: #eb6358;
  border:solid 1px #eb6358 ;
}
.comp-all-transactions-newrefresh i {
  padding:3px;
  position:absolute;
  right:-22px;
  font-size:120%;
}
/* /Component */
/* Component: Claims - Add Transaction */
.comp-claims-addtransaction-success {
  margin-top:0;
  margin-bottom:20px;
  display: none;
}
.comp-claims-addtransaction {
  float:left;
  padding: 0 10px 15px 10px;
  margin:20px 0;
  border:solid 1px #ccc;
  width:100%;
}
.uiaction-collapse {
  float:right;
  margin-top:-5px;
  cursor: pointer;
}
/* Component: Claims - Adjust Transaction */
.comp-claims-adjtransaction-open {
}
.comp-claims-adjtransaction {
  display: none;
}
/* Component: Claims - Past Transactions */
.comp-claims-pasttransactions h4 {
  width:100%;
  float:left;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
/* Component: Claims - Reuse Tires */
.comp-claims-summary .reuse-tires-output {
  padding:6px;
}
/* /Component */
/* Modal */
.participants-all-claims .modal-dialog .modal-title {
  font-size:22px;
  margin-left:13px;
}
.participants-all-claims .modal-previewtransaction .panel-counts-types {
  border:none 0;
}
.participants-all-claims .modal-previewtransaction .panel-counts-types p {
  text-align:right;
  margin-right:10px;
}
.comp-all-modal .modal-previewtransaction .comments {
  margin-top:20px;
}
.comp-all-modal .modal-previewtransaction .comments h4 {
  margin-top:0;
}
.comp-all-modal .modal-previewtransaction .comments {
  margin-top:20px;
}
.comp-all-modal .modal-previewtransaction .comments .col-md-9 {
  margin-left:-22px;
}
.comp-all-modal .modal-previewtransaction #carousel-example-generic {
  margin-top:20px;
}
.comp-all-modal .modal-previewtransaction {
  padding: 0 15px 15px 15px;
  margin:20px 0;
  width: 100%;
}
.comp-all-modal .modal-previewtransaction h4 {
  font-size:14px;
  font-weight: 600;
}
.comp-all-modal .signline {
  position: absolute;
  top:50%;
  width:80%;
  left:10%;
  border-bottom: dashed 1px #ccc;
}
.participants-all-claims .modal-previewtransaction p {
  position: relative;
}
/* /Modal */
/* Staff All Applicaiton */
.staff-all-application .checkbox {
  margin-top:0;
  margin-bottom:5px;
}
.staff-all-application .checkbox label { 
  font-weight: bold;
}
.staff-all-application .radio{ 
  padding-left:1px;
}
.staff-all-application .radio input[type=radio] { 
  position:relative;
  margin-left:0;
}
.staff-all-application .checkbox input[type="checkbox"]:disabled + label {
  opacity: 1;
}
.participants-all-register {
  padding:10px;
}
.participants-all-register label {
  color:#595a59;
}
.form-group.has-required .form-control-feedback {
  -moz-opacity: 0.15;
  opacity: 0.15;
  filter: alpha(opacity=15);
}
.form-group.has-required .dropdown .form-control-feedback,
.form-group.has-success .dropdown .form-control-feedback,
.form-group.has-warning .dropdown .form-control-feedback,
.form-group.has-error .dropdown .form-control-feedback {
  float: right;
  width:30px;
  margin-top:-25px;
  margin-right:2px;
}
.form-group .dropdown .btn-default{
  width: 100%;
  text-align: left;
}
.form-group.has-success .dropdown .btn {
  border: solid 1px #3c763d;
}
.form-group.has-warning .dropdown .btn {
  border: solid 1px #8a6d3b;
}
.form-group.has-error .dropdown .btn {
  border: solid 1px #a94442;
}
/* /Applications */ 
/* Component: Register Section - All Roles - Header */
.comp-register-all-header {
  margin-bottom: 5px;
}
.comp-register-all-header h2 {
  font-size: 24px;
  font-weight: 500;  
}
.comp-register-all-header .header-status-flag {
  text-align: right;
  margin-top:10px;
}
.comp-register-all-header .header-status-flag img {
  width: 40px;
  cursor: pointer;
}
/* /Component */
/* Component: Register Section - Accordion */
.comp-register-all-accordion .panel-heading a { 
  display: block;
  font-size: 20px;
}
.comp-register-all-accordion .status-flag {
  float: left;
  margin-right:8px;
}
.comp-register-all-accordion .accordion-expand {
  float: right;
}
.comp-register-all-accordion .accordion-collapse {
  float: right;
}
/* /Component */
/* /Component: Register Section - Accordion */
.participants-all-register .panel-default .panel-heading {
  color: #333;
  background:none;
}
.panel-group .panel-heading+.panel-collapse>.panel-body {
  border-top: 0 none;
}
.termsandconditions {
  height:300px;
  overflow:auto;
  margin:20px 0;
  padding: 10px;
  border: solid 1px #ccc;
}
/* /Component */
/* Component: Claim Summary TI Clawback Modal  */
.staff-all-claims .comp-claim-summary-modal-ticlawback td {
  text-align: right;
}
.staff-all-claims .comp-claim-summary-modal-ticlawback h4 {
  padding-bottom: 10px;
}
.comp-claims-pasttransactions .flag-qtyover {
  color:#d43f3a;
  font-weight: bold;
}
/* /Component */
/* Component: Claim Actions */
.comp-claim-progress-info {
  position: relative;
}
.comp-claim-progress-info .claim-progress-bar {
  margin-top:0px;
}
.comp-claim-progress-info .progress {
  height: 8px;
}
.comp-claim-progress-info .claim-progress-bar .progress-bar {
  position: relative;
  z-index: 1;
}
.comp-claim-progress-info .progress-label-container {
  width: 100%;
  top:0px;
  z-index: 2;
  text-align: center;
}
.comp-claim-progress-info .progress-label {
  width:16.5%;
  text-align:center;
  float:left;
  margin-top:-10px;
}
.comp-claim-progress-info .progress-label:last-child {
  width:17.5%;
}
/* /Component */
/* Component: iPads */
.comp-ipads .assigned-ipad {
}
.comp-ipads .assigned-ipad-actions {
  display: none;
}
.comp-ipads .assigned-ipad:hover .assigned-ipad-actions {
  display: inline;
  cursor: pointer;
}
/* /Component */

/* Component: Users */
.staff-all-claims-dashboard .userpanel {
  position: relative;
}
.staff-all-claims-dashboard .userphoto {
  border-radius: 50%;
  width: 50px;
}
.staff-all-claims-dashboard .username {
  position: absolute;
  left:75px;
  top:20px;
}
.staff-all-claims-dashboard .userstatus {
  position: absolute;
  left:75px;
  top:40px;
  font-size: 70%;
}
.staff-all-claims-dashboard .userpanel-inside {
  border-top: solid 1px #ccc;
}
.staff-all-claims-dashboard .userpanel-inside:first-child {
  margin-top:-25px;
}
.staff-all-claims-dashboard .userpanel-inside:first-child  {
  border-top: none 0;
}
.staff-all-claims-dashboard .userpanel-inside .panel-heading {
  padding-left:0;
  padding-right:0;
}
.staff-all-claims-dashboard .userpanel-inside  > .panel-heading a.collapsed,
.staff-all-claims-dashboard .userpanel-inside  > .panel-heading a.panel-arrow-collapse,
.staff-all-claims-dashboard .userpanel-inside  > .panel-heading a.collapsed,
.staff-all-claims-dashboard .userpanel-inside  > .panel-heading a.panel-arrow-expand {
  background: none!important;
}
/* /Component */
/* Modal Claims Adjustment */
.comp-claims-modal-h1 {
  font-size:23px;
}
.comp-claims-modal-h2 {
  font-size:20px;
}
/* /Modal */
/* Component: Conversation */
.conversation-wrapper {
  padding: 10px 20px; }
  @media (max-width: 767px) {
  .conversation-wrapper {
    padding: 10px 5px; } }
.conversation-wrapper .conversation-inner {
  padding: 0 0 5px 0;
  margin-right: 10px; }
.conversation-wrapper .conversation-user {
  width: 50px;
  height: 50px;
  overflow: hidden;
  float: left;
  border-radius: 50%;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  margin-top: 6px; }
.conversation-wrapper .conversation-item {
  padding: 5px 0;
  position: relative; }
.conversation-wrapper .conversation-item.item-right .conversation-body {
  background: #dceffc; }
.conversation-wrapper .conversation-item.item-right .conversation-body:before {
  border-color: transparent transparent transparent #dceffc;
  left: auto;
  right: -12px; }
.conversation-wrapper .conversation-item.item-right .conversation-user {
  float: right; }
.conversation-wrapper .conversation-item.item-right .conversation-body {
  margin-left: 0;
  margin-right: 60px; }
.conversation-wrapper .conversation-body {
  background: #f5f5f5;
  font-size: 0.875em;
  width: auto;
  margin-left: 60px;
  padding: 8px 10px;
  position: relative;
  border-radius: 3px;
  background-clip: padding-box; /* stops bg color from leaking outside the border: */ }
.conversation-wrapper .conversation-body:before {
  border-color: transparent #f5f5f5 transparent transparent;
  border-style: solid;
  border-width: 6px;
  content: "";
  cursor: pointer;
  left: -12px;
  position: absolute;
  top: 25px; }
.conversation-wrapper .conversation-body > .name {
  font-weight: 600;
  font-size: 1.125em; }
.conversation-wrapper .conversation-body > .time {
  position: absolute;
  font-size: 0.875em;
  right: 10px;
  top: 0;
  margin-top: 10px;
  color: #605f5f;
  font-weight: 300; }
.conversation-wrapper .conversation-body > .time:before {
  content: "\f017";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  margin-top: 4px;
  font-size: 0.875em; }
.conversation-wrapper .conversation-body > .text {
  padding-top: 6px; }
.conversation-wrapper .conversation-new-message {
  padding-top: 10px; }
/* /Component */
/* Plugin: Smooth Zoom Pan */

.smooth_zoom_preloader {
  background-image: url(../assets/frameworks/smooth-zoom-pan-jquery-image-viewer/Example/zoom_assets/preloader.gif);
  -webkit-user-select: none; 
  -webkit-tap-highlight-color: green;
  border:solid 2px white;
} 
.smooth_zoom_icons {
  background-image: url(../assets/frameworks/smooth-zoom-pan-jquery-image-viewer/Example/zoom_assets/icons.png);
}
#zoom_container {
  overflow: hidden;
} 
.zoom_thumbnails {
  margin: 0px;
  padding: 0px;
  display: inline-block;
}
.zoom_thumbnails li {
  display: inline-block;
}   
.zoom_thumbnails li img {
  margin: 5px;
  border: 0px;
} 
.plugin-smoothzoompan {
  height:310px;
}
.plugin-smoothzoompan img {
  display: none; /* Hiding will remove flicker when opening modal*/
}
.smoothzoompanPhotoThumb {
  cursor: pointer;
  border:solid 1px #ccc;
  width: 92px;
  height: 92px;
  overflow: hidden;
  display: inline-block;
  margin-right:5px;
  margin-bottom:5px;
  vertical-align: middle;
}
.smoothzoompanPhotoThumb img {
  min-width: 90px;
  min-height: 90px;
  max-width: 130px;
  max-height: 130px;
}
.smoothzoompanPhotoComments {
  display:none;
}
/* /Plugin */


/*  Plugin:; WebUI Poppover */
.webui-popover-inner h3.webui-popover-title {
  font-weight: bold;
}
/* /Plugin */
