﻿
@{
    ViewBag.Title = "AdminLoginPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="width:300px">
    <div class="row" style="background-color:red">
        <div class="col-md-12">
            <h3 align="center" style="border-bottom:hidden !important; color:white; margin-top:10px !important; margin-bottom:10px !important"><strong>Admin Access</strong></h3>
        </div>
    </div>
    <div class="row padding-25" align="center">
        <div class="col-md-12">
            <label id="lblConfirmPasswordSession" for=""><strong>Confirm Password:</strong></label><label id="lblReenterPasswordSession" for="" style="color:red; display:none"><strong>Incorrect password. Please re-enter.</strong></label><br />
            <input id="enteredPasswordSession" type="password" style="width:60%" />
            <br /><label id="requiredValidationSession" style="color:red; display:none">Required</label>
        </div>
    </div>
    <div class="row" style="padding:15px; text-align:right;border-top: 1px solid #e5e5e5;">
        <div class="col-md-12">
            <button type="button" id="btnCancelConfirmSession" class="btn btn-danger admin-btn btn-lg" style="margin-right:5px">
                <i class="glyphicon fa fa-ban" aria-hidden="true"></i>
                Cancel
            </button>
            <button type="button" id="btnConfirmSession" class="btn btn-success admin-btn btn-lg">@*style="width:50px !important"*@
                <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                OK
            </button>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        //password confirmation for accessing admin menu   
        $("#adminMenuBtn").css("pointer-events", "none");
        $("#enteredPasswordSession").focus();
        $('#enteredPasswordSession').keyup(function (event) {
            $("#lblReenterPasswordSession").hide();
            $("#lblConfirmPasswordSession").show();
            var password = $(this).val();
            if (password.length != 0)
            {
                $("#lblReenterPasswordSession").hide();
                $("#requiredValidationSession").hide();
            }       

            if (event.keyCode == 13) {
                $("#btnConfirmSession").click();
            }
        });

        $("#btnCancelConfirmSession").on("click", function () {
            window.location.href = "/System/Common/EmptyPage";
        });

        $(".close").on("click", function () {
            window.location.href = "/System/Common/EmptyPage";
        });

        var count = 0;
        $("#btnConfirmSession").on("click", function () {
            if ($('#enteredPasswordSession').val().length == 0) {
                $("#requiredValidationSession").show();
                $("#enteredPasswordSession").focus();
            }
            else {
                $.ajax({
                    url: '/Account/AdminLoginConfirmation',
                    dataType: 'json',
                    type: 'POST',
                    data: { password: $("#enteredPasswordSession").val() },
                    success: function (result) {
                        if (result) {
                            window.location.href = "/Account/AdminEmptyPage";
                        }
                        else {
                            $("#lblConfirmPasswordSession").hide();
                            $("#lblReenterPasswordSession").show();
                            $("#enteredPasswordSession").val("").focus();
                            count++;
                            if (count == 3) {
                                count = 0;
                                window.location.href = "/Account/Logout";
                            }
                        }
                    }
                });
            }      
        });
    })
</script>