﻿@model CL.TMS.DataContracts.ViewModel.System.RequestAccountViewModel
@{
    ViewBag.Title = "TreadMarks Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


@using (Html.BeginForm("RequestAccount", "Account", FormMethod.Post, new { DefaultButton = "submit-button", id = "RequestAccountForm" }))
{
    @Html.AntiForgeryToken()
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        @if (Model.IsReadOnly)
        {
            @Html.TextBoxFor(r => r.PrimaryEmail, new { id = "primaryEmail-input", @class = "form-control", @readonly = "readonly", placeholder = "Primary Contact Email" })
        }
        else
        {
            @Html.TextBoxFor(r => r.PrimaryEmail, new { id = "primaryEmail-input", @class = "form-control", placeholder = "Primary Contact Email" })
        }
    </div>
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-hashtag"></i></span>
        @if (Model.IsReadOnly)
        {
            @Html.TextBoxFor(r => r.RegistrationNumber, new { id = "registrationNumber-input", @class = "form-control", @readonly = "readonly", placeholder = "7 Digit Account Number" })
        }
        else
        {
            @Html.TextBoxFor(r => r.RegistrationNumber, new { id = "registrationNumber-input", @class = "form-control", placeholder = "7 Digit Account Number" })
        }
    </div>
  
     <span class="help-block color-tm-red txt-c" style="font-weight:600;padding:0 25px;">
        @Html.ValidationSummary(false, "")
     </span>

    <span class="help-block txt-c" style="font-weight:600;padding:0 25px;">
        @Model.Message
    </span>

    <div class="row">
        <div class="col-xs-12">
            @if (Model.IsReadOnly)
            {
                <button type="submit" id="submit-button" class="btn btn-success col-xs-12" disabled>Submit</button>
            }
            else
            {
                <button type="submit" id="submit-button" class="btn btn-success col-xs-12">Submit</button>
            }
        </div>
    </div>
}