﻿@using CL.TMS.Resources

<script type="text/ng-template" id="paper-form.html">
    <div class="comp-all-modal">
        <form id="transForm" name="transForm">
            <div class="modal-header">
                <button type="button" ng-click="cancelPaperForm()" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" align="center">UCR Paper Form</h3>
            </div>
            <div class="modal-body padding-25">
                <creation-status-message ng-if="statusModel.display" status-model="statusModel"></creation-status-message>

                <div class="row">
                    <div class="col-sm-3">
                        <form-date-picker label-text="Date Collected" form="transForm" form-date="trans.formDate"></form-date-picker>
                    </div>
                    <div class="col-md-3">
                        <form-number-collector form="transForm" claim-id={{trans.claimId}} form-type="UCR" form-number="trans.formNumber"></form-number-collector>
                    </div>
                    <div class="col-md-6">
                        <ucr-payment-eligible-collector form="transForm" payment-eligible="trans.paymentEligible" payment-eligible-other="trans.paymentEligibleOther"></ucr-payment-eligible-collector>
                    </div>
                </div>

                <div class="row" ucr-picked-up-from-handler>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Picked up from</h4>
                            </div>
                        </div>

                        <div class="row" ng-show="trans.paymentEligible != '1'">
                            <div class="col-md-2">
                                <div class="radio">
                                    <label style="cursor: pointer;">
                                        <input type="radio" ng-model="trans.pickedUpFrom" value="registered"> Registered Collector
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <vendor-information-collector ng-show="trans.pickedUpFrom == 'registered'" form="transForm" transaction-date="trans.formDate" vendor-code="Collector" vendor-number="trans.collectorNumber"></vendor-information-collector>
                            </div>
                        </div>

                        <div class="row"><div class="col-md-12">&nbsp;</div></div>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="radio">
                                    <label style="cursor: pointer;">
                                        <input type="radio" ng-model="trans.pickedUpFrom" value="unregistered"> Unregistered Collector
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <unregistered-company-collector ng-show="trans.pickedUpFrom == 'unregistered'" req="{{trans.pickedUpFrom == 'unregistered'}}" form="transForm" company-info="trans.companyInfo" company-label-text="{{'Unregistered Site Name'}}" country-list="[]"></unregistered-company-collector>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <tire-type-count form="transForm" tire-type-list="trans.tireTypeList"></tire-type-count>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md-12">
                        <supporting-document-selector list="trans.supportingDocumentList"></supporting-document-selector>
                    </div>
                </div>

                <document-uploader transaction-id="{{trans.transactionId}}" upload-list="trans.uploadDocumentList" is-required="documentUploadRequired"></document-uploader>

                @if (@ViewBag.AllowInternalNote)
                {
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <internal-note-collector form="transForm" internal-note="trans.internalNote"></internal-note-collector>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-danger btn-lg" ng-click="cancelPaperForm()">
                    <i class="glyphicon fa fa-ban" aria-hidden="true"></i>
                    @UIResource.Cancel
                </button>
                <button type="button" class="btn btn-success btn-lg" ng-click="submitPaperForm()">
                    <i class="glyphicon fa fa-floppy-o" aria-hidden="true"></i>
                    Save
                </button>
            </div>
        </form>
    </div>
</script>
