﻿@using System.Data
@using CL.TMS.Common
@using CL.TMS.DataContracts.ViewModel.Transaction;

@{
    string viewBagHeaderName = ViewBag.HeaderName ?? "TCR Transactions";

    if (viewBagHeaderName.Contains("TCR Transactions"))
    {
        <table id="tblTransactionlist" class="table table-hover display truncate datatable-100-perc">
            <thead>
                <tr>
                    <th>iPad/Form</th>
                    <th class="">Badge</th>
                    <th class="">Date</th>
                    <th>TCR #</th>
                    <th class="">Rev. Stat.</th> <!--OTSTM2-416-->
                    <th class="">Adj.</th> <!--OTSTM2-416-->
                    <th>Collector</th>

                    <th>Business Name</th>
                    <th>Zone</th>
                    <th>Postal Code</th>
                    <th>Gen. Tires</th>
                    <th>On-Road(KG)</th>

                    <th>Off-Road(KG)</th>
                    <th>Actions</th>
                    <th></th>
                </tr>
            </thead>
            <tbody transaction-handler></tbody>
        </table>
    }
    else if (viewBagHeaderName.Contains("DOT Transactions"))
    {
        <table id="tblTransactionlist" class="table table-hover display truncate datatable-100-perc">
            <thead>
                <tr>
                    <th>iPad/Form</th>
                    <th class="">Badge</th>
                    <th class="">Date</th>
                    <th>DOT #</th>
                    <th class="">Rev. Stat.</th> <!--OTSTM2-416-->
                    <th class="">Adj.</th> <!--OTSTM2-416-->
                    <th>Collector</th>

                    <th>Business Name</th>
                    <th>Zone</th>
                    <th>Postal Code</th>
                    <th>Gen. Tires</th>
                    <th>Scale Weight(KG)</th>

                    <th>Est. Weight(KG)</th>
                    <th>Actions</th>
                    <th></th>
                </tr>
            </thead>
            <tbody transaction-handler></tbody>
        </table>
    }
    else if (viewBagHeaderName.Contains("STC Transactions"))
    {
        <table id="tblTransactionlist" class="table table-hover display truncate datatable-100-perc">
            <thead>
                <tr>
                    <th>iPad/Form</th>
                    <th class="">Badge</th>
                    <th class="">Date</th>
                    <th>STC #</th>
                    <th class="">Rev. Stat.</th> <!--OTSTM2-416-->
                    <th class="">Adj.</th> <!--OTSTM2-416-->
                    <th>Name of Group / Individual</th>

                    <th>Zone</th>
                    <th>Postal Code</th>
                    <th>On-Road (KG)</th>
                    <th>Off-Road (KG)</th>
                    <th>Actions</th>

                    <th></th>
                </tr>
            </thead>
            <tbody transaction-handler></tbody>
        </table>    
    }
    else if (viewBagHeaderName.Contains("UCR Transactions"))
    {
        <table id="tblTransactionlist" class="table table-hover display truncate datatable-100-perc">
            <thead>
                <tr>
                    <th>iPad/Form</th>
                    <th class="">Badge</th>
                    <th class="">Date</th>
                    <th>UCR #</th>
                    <th class="">Rev. Stat.</th> <!--OTSTM2-416-->
                    <th class="">Adj.</th> <!--OTSTM2-416-->
                    <th>Reg.#/Site Name</th>

                    <th>Zone</th>
                    <th>Postal Code</th>
                    <th>Reason not eligible</th>
                    <th>On-Road (KG)</th>
                    <th>Off-Road (KG)</th>

                    <th>Actions</th>
                    <th></th>
                </tr>
            </thead>
            <tbody transaction-handler></tbody>
        </table>
    }
    else if (viewBagHeaderName.Contains("HIT Transactions"))
    {
        <table id="tblTransactionlist" class="table table-hover display truncate datatable-100-perc">
            <thead>
                <tr>
                    <th>iPad/Form</th>
                    <th class="">Badge</th>
                    <th class="">Date</th>
                    <th>HIT #</th>
                    <th class="">Rev. Stat.</th> <!--OTSTM2-416-->
                    <th class="">Adj.</th> <!--OTSTM2-416-->
                    <th>Hauler</th>

                    <th>Business Name</th>
                    <th>Zone</th>
                    <th>Postal Code</th>
                    <th>On-Road (KG)</th>
                    <th>Off-Road (KG)</th>

                    <th>Actions</th>
                    <th></th>
                </tr>
            </thead>
            <tbody transaction-handler></tbody>
        </table>
    }
    else if (viewBagHeaderName.Contains("RTR Transactions"))
    {
       <table id="tblTransactionlist" class="table table-hover display truncate datatable-100-perc">
            <thead>
                <tr>
                    <th>iPad/Form</th>
                    <th class="">Badge</th>
                    <th class="">Date</th>
                    <th>RTR #</th>
                    <th class="">Rev. Stat.</th> <!--OTSTM2-416-->
                    <th class="">Adj.</th> <!--OTSTM2-416-->
                    <th>Market</th>

                    <th>Type</th>
                    <th>Buyer Name</th>
                    <th>Invoice #</th>
                    <th>On-Road (KG)</th>
                    <th>Off-Road (KG)</th>

                    <th>Actions</th>
                    <th></th>
                </tr>
            </thead>
           <tbody transaction-handler></tbody>
        </table>
    }
    else if (viewBagHeaderName.Contains("PTR Transactions"))
    {
       <table id="tblTransactionlist" class="table table-hover display truncate datatable-100-perc">
            <thead>
                <tr>
                    <th>iPad/Form</th>
                    <th class="">Badge</th>
                    <th class="">Date</th>
                    <th>PTR #</th>
                    <th class="">Rev. Stat.</th> <!--OTSTM2-416-->
                    <th class="">Adj.</th> <!--OTSTM2-416-->
                    <th>Processor</th>

                    <th>Business Name</th>
                    <th>Zone</th>
                    <th>Scale Ticket #</th>
                    <th>On-Road (KG)</th>
                    <th>Off-Road (KG)</th>

                    <th>Scale (KG)</th>
                    <th>Est. (KG)</th>
                    <th>Var. (%)</th>
                    <th>Payee</th>
                    <th>Amount($)</th>
                    <th>Actions</th>
                    <th></th>
                </tr>
            </thead>
           <tbody transaction-handler></tbody>
        </table>
    }
}

<br />
<a id="viewmore" href="javascript:void(0)" class="viewmore" style="display:inline-block">More</a>
<div id="loading"></div>
