﻿@using CL.TMS.Resources

<script type="text/ng-template" id="stcEventNumber.html">
    <div class="form-group" cl-show-errors>
        <label>Event #</label>
        <input type="text" name="eventNumber" ng-model="eventNumber" class="form-control" placeholder="" numbers-only required validate-event-number>
        <span class="help-block" ng-if="form.eventNumber.$error">Should be atleast five digits</span>
    </div>
</script>