﻿@using CL.TMS.Resources

<script type="text/ng-template" id="ucrPaymentEligible.html">
    <h4 style="margin:0;">Reason tires are not eligible for payment</h4>
    <div cl-show-errors>
        <select class="form-control" name="paymentEligible" ng-model="paymentEligible" validate-selection>
            <option value="0" disabled selected>Please select a reason type...</option>
            <option value="1">Non-registered collector</option>
            <option value="2">Charged a disposal fee</option>
            <option value="3">Pre-program tires</option>
            <option value="4">Other</option>
        </select>
    </div>
    <div class="form-group" cl-show-errors>
        <input type="text" ng-show="paymentEligible == '4'" name="paymentEligibleOther" ng-model="paymentEligibleOther" class="form-control" ng-required="paymentEligible == '4'">
    </div>
</script>