﻿@model CL.TMS.DataContracts.ViewModel.Hauler.HaulerRegistrationModel
@using CL.TMS.Common
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface

@{
    ViewBag.Title = "StaffIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool isReadOnly = false;
    if (Model != null)
    {
        switch (Model.Status)
        {
            case ApplicationStatusEnum.Submitted:
            case ApplicationStatusEnum.Assigned:
            case ApplicationStatusEnum.OnHold:
            case ApplicationStatusEnum.Approved:
            case ApplicationStatusEnum.BankInformationSubmitted:
            case ApplicationStatusEnum.BankInformationApproved:
            case ApplicationStatusEnum.Completed:

                isReadOnly = false;
                break;
            default:
                isReadOnly = true;
                break;
        }

    }
    var invalidList = Model != null ? Model.InvalidFormFields as IList<string> : new List<string>();

    string invalidListStr = string.Join(",", invalidList.ToArray());
    invalidListStr = "\"" + invalidListStr.Replace(",", "\",\"") + "\"";
    var localtime = Convert.ToDateTime(Model.SubmittedDate).ToLocalTime();

    var statusStr = Model != null ? Model.Status.ToString() : String.Empty;

    //since I am using jQuery validation plugin; settings client validation to false
    HtmlHelper.ClientValidationEnabled = false;
    var guidStr = HttpContext.Current.Request.QueryString["id"];
    var dateTimeFormat = TreadMarksConstants.DateFormatJavascriptDateTimePicker;

    bool isParticipant = false;
    if (!CL.TMS.Security.Authorization.SecurityContextHelper.IsStaff())
    {
        isParticipant = true;
    }
}

@Styles.Render("~/css/jquery-webui-popover")

@section styles {
    @Styles.Render("~/css/datetimepicker")

    <style>
        a.sort {
            color: #000;
        }

        .sort {
            padding: 0 5px;
        }

        .subcomp-search input:focus {
            visibility: visible;
        }

        table.dataTable th.dt-center, table.dataTable td.dt-center, table.dataTable td.dataTables_empty {
            text-align: center;
        }

        .panel-default > .panel-heading a.export,
        .panel-default > .panel-heading a.export:hover {
            background: none;
            left: 140px;
            position: absolute;
            top: 11px;
            width: 25px;
        }
        .main-content {
            margin-left: 0px !important;
        }
    </style>

}

@using (Html.BeginForm("Index", "Registration", FormMethod.Post, new { id = "ApplicationHaulerID" }))
{
    <input id="hfIsPdf" value="true" type="hidden" />
    <input id="invalidList" name="invalidList" type="hidden" />
    <input id="applicationId" name="applicationId" type="hidden" value='@Model.ID' />
    <input id="ID" type="hidden" value='@Model.ID' name="ID">
    <input id="status" type="hidden" value='@Model.Status' name="status" />
    @Html.HiddenFor(model => model.Status)

    <div class="tm-all staff-all-application">
        <!-- Component: Transactions Header -->
        <div class="row comp-claims-header">
            <input type=hidden id="VendorID" class="VendorID" value='@Model.VendorID' name="VendorID">
            <input type="hidden" id="RegistrationNumber" class="RegistrationNumber" value='@Model.RegistrationNumber' name="RegistrationNumber" />

            <div class="col-xs-7 col-sm-6">
                <h2>
                    Hauler Application 
                </h2>
            </div>
            <div class="col-xs-5 col-sm-6">
                <div class="sub-header-status txt-r">
                    <div class="btn-group btn-toggle" style="display:none;" id="@((Model.Status == ApplicationStatusEnum.Approved || Model.Status == ApplicationStatusEnum.BankInformationSubmitted || Model.Status == ApplicationStatusEnum.BankInformationApproved || Model.Status == ApplicationStatusEnum.Completed) && !isParticipant ? "showApprovedItem" : "hideApprovedItem")">
                        <button id="activeGreenButton" class="@(Model.ActivityStatus == ActivityStatusEnum.Active ? "btn btn-xs btn-success active" : "btn btn-xs btn-default")" type="button" data-toggle="modal" data-target="#switchInactiveToActive">
                            <div data-toggle="tooltip" data-placement="top" class="ActiveToolTip">Active</div>
                        </button>
                        <button id="inactiveRedButton" class="@(Model.ActivityStatus == ActivityStatusEnum.InActive ? "btn btn-xs btn-danger" : "btn btn-xs btn-default")" type="button" data-toggle="modal" data-target="#switchActiveToInactive">
                            <div data-toggle="tooltip" data-placement="top" class="InActiveToolTip">Inactive</div>
                        </button>
                    </div>
                    <div class="btn-group btn-toggle" id="showApprovedItem">
                    </div>
                </div>
                <div class="popoverParticipantInfo" data-placement="auto">

                    <div class="sub-header-registrantinfo">@(Model.RegistrationNumber == 0 ? "" : Model.RegistrationNumber.ToString())</div>
                    <div class="sub-header-companyname">@(Model.BusinessLocation == null ? "" : Model.BusinessLocation.OperatingName)</div>
                    <div id="popoverParticipantInfo" style="display: none;">
                        <p>
                            <strong>Business Address</strong><br>
                            @(Model.BusinessLocation.BusinessAddress.AddressLine1 == null ? "" : Model.BusinessLocation.BusinessAddress.AddressLine1.ToString()), @(Model.BusinessLocation.BusinessAddress.AddressLine2 == null ? "" : Model.BusinessLocation.BusinessAddress.AddressLine2.ToString())<br>
                            @(Model.BusinessLocation.BusinessAddress.City == null ? "" : Model.BusinessLocation.BusinessAddress.City.ToString()), ON @(Model.BusinessLocation.BusinessAddress.Postal == null ? "" : Model.BusinessLocation.BusinessAddress.Postal.ToString())
                        </p>
                        <p>
                            <strong>Primary Contact</strong><br>
                            @(Model.ContactInformationList[0].ContactInformation.FirstName == null ? "" : Model.ContactInformationList[0].ContactInformation.FirstName.ToString()) @(Model.ContactInformationList[0].ContactInformation.LastName == null ? "" : Model.ContactInformationList[0].ContactInformation.LastName.ToString()) <br>
                            @(Model.ContactInformationList[0].ContactInformation.Email == null ? "" : Model.ContactInformationList[0].ContactInformation.Email.ToString())<br>
                            @(Model.ContactInformationList[0].ContactInformation.PhoneNumber == null ? "" : Model.ContactInformationList[0].ContactInformation.PhoneNumber.ToString())
                        </p>
                    </div>
                </div>
            </div>
        </div><!--/.row-->
        <!-- /Component -->
        <!-- Component: Submission Information -->
        @if (!isParticipant)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        @Html.ApplicationSubmissionInfo(
                localtime,
                Model.BusinessLocation.OperatingName,
                string.Format("{0} {1}", @Model.TermsAndConditions.FormCompletedByFirstName, @Model.TermsAndConditions.FormCompletedByLastName),
                Model.BusinessLocation.BusinessAddress.AddressLine1,
                Model.BusinessLocation.Email,
                Model.UserIPAddress,
                Model.GetClientStatus(),
                Model.CreatedDate.ToString(TreadMarksConstants.DateFormat)
                )
                    </div><!--/.panel-->
                </div>
            </div><!--/.row-->

            <div class="row">
                <!-- Component: Internal Notes -->
                <div class="col-md-12">
                    <div class="panel panel-default">
                        @{
                            switch (Model.Status)
                            {
                                case ApplicationStatusEnum.Approved:
                                case ApplicationStatusEnum.BankInformationSubmitted:
                                case ApplicationStatusEnum.BankInformationApproved:
                                case ApplicationStatusEnum.Completed:
                                    @Html.Partial("_InternalNotesPartial", new ViewDataDictionary() { { "view", "Staff" }, { "VendorID", Model.VendorID }, { "isVendor", true }, { "isCustomer", false } , { "versionid", ViewBag.versionid } })
                                    break;
                                default:
                                @Html.Partial("_InternalNotesPartial", new ViewDataDictionary() { { "view", "Staff" }, { "ApplicationID", Model.ID }, { "isVendor", false }, { "isCustomer", false }, { "versionid", ViewBag.versionid } })
                                    break;
                            }
                        }
                    </div><!--/.panel-->
                </div>
            </div><!--/.row-->
        }
        <!-- Modal: Active to Inactive -->
        <div class="modal fade comp-claims-summary-submitmodal" id="switchActiveToInactive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                        <h2 class="modal-title" id="myModalLabel" align="center">@UIResource.CommonRegistrantStatusChange</h2>
                    </div>
                    <div class="modal-body">
                        <div style="padding:0 10%;">
                            <p>@Html.Raw(UIResource.CommonActiveInactiveStatusChange.ToString())</p>
                            <label for="">@UIResource.CommonEffectiveDate</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="input-group date" id="datetimepickerToInactive">
                                            @Html.TextBoxFor(m => m.RegistrantInActiveStatus.RegistrantStatusChangeEffectiveDate, new
                                       {
                                           @class = "form-control",
                                           @id = "InActiveRegistrantStatusChangeEffectiveDate",
                                           @Value = (Model.RegistrantInActiveStatus.RegistrantStatusChangeEffectiveDate != DateTime.MinValue ? string.Format("{0:yyyy-MM-dd}", Model.RegistrantInActiveStatus.RegistrantStatusChangeEffectiveDate) : string.Empty),
                                           @readonly = "readonly",
                                           style = "background:white;"
                                       })
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <input type="hidden" class="RegistrantInActiveStatusApprovedDate" value='@Model.RegistrantInActiveStatus.ApprovedDate' />
                                    </div>
                                </div>
                            </div><!--/.row-->
                            <div class="row">
                                <div class="col-md-12">
                                    <label>@UIResource.CommonReasons</label><br>
                                    <div class="dropdown">
                                        @Html.DropDownListFor(m => m.RegistrantInActiveStatus.RegistrantStatusChangeReason, new SelectListItem[]{
                                            new SelectListItem() {Text = "Change in Ownership", Value="Change in Ownership"},
                                            new SelectListItem() {Text = "Change in Legal Name/HST", Value="Change in Legal Name/HST"},
                                            new SelectListItem() {Text = "Suspension - Operations", Value="Suspension - Operations"},
                                            new SelectListItem() {Text = "Suspension - Audit", Value="Suspension - Audit"},
                                            new SelectListItem() {Text = "Documents Pending", Value="Documents Pending"},
                                            new SelectListItem() {Text = "Out of Business", Value="Out of Business"},
                                            new SelectListItem() {Text = "Opted out of the Program", Value="Opted out of the Program"},
                                            new SelectListItem() {Text = "Termination - Operation", Value="Termination - Operation"},
                                            new SelectListItem() {Text = "Termination - Audit", Value="Termination - Audit"},
                                            new SelectListItem() {Text = "Duplicate Registration Account", Value="Duplicate Registration Account0"},
                                            new SelectListItem() {Text = "Other", Value="Other"}},
                                            "Select Reason",
                                            new { @class = "form-control", @id = "inactivedropdown" })
                                    </div>
                                </div>
                            </div><!--/.row-->
                            <br />
                            <div class="row">
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.RegistrantInActiveStatus.OtherReason, new
                               {
                                   @class = "form-control",
                                   style = "display:none;",
                                   @id = "OtherInActiveStatus",
                                   @Value = string.IsNullOrEmpty(Model.RegistrantInActiveStatus.OtherReason) ? string.Empty : Model.RegistrantInActiveStatus.OtherReason
                               })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <br>
                                    <label for="">New Registration # </label> (if applicable)
                                    @Html.TextBoxFor(m => m.RegistrantInActiveStatus.NewRegistrationNumber, new { @class = "form-control", @id = "NewRegistrationNumber" })
                                </div>
                            </div><!--/.row-->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="modalCancelInactivatebtn">
                            @UIResource.CommonCancel
                        </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="modalDeactivatebtn">
                            @UIResource.CommonDeactivate
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Modal  -->
        <!-- Modal: Inactive to Active Modal -->
        <div class="modal fade comp-claims-summary-submitmodal" id="switchInactiveToActive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                        <h2 class="modal-title" id="myModalLabel" align="center">@UIResource.CommonRegistrantStatusChange</h2>
                    </div>
                    <div class="modal-body">
                        <div style="padding:0 10%;">
                            <p>@Html.Raw(UIResource.CommonInactiveActiveStatusChange.ToString())</p>
                            <label for="">@UIResource.CommonEffectiveDate</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="input-group date" id="datetimepickerToActive">
                                            @Html.TextBoxFor(m => m.RegistrantActiveStatus.RegistrantStatusChangeEffectiveDate, new
                                       {
                                           @class = "form-control",
                                           @id = "RegistrantStatusChangeEffectiveDate",
                                           @Value = (Model.RegistrantActiveStatus.RegistrantStatusChangeEffectiveDate != DateTime.MinValue ? String.Format("{0:yyyy-MM-dd}", Model.RegistrantActiveStatus.RegistrantStatusChangeEffectiveDate) : string.Empty),
                                           @readonly = "readonly",
                                           style = "background:white;"
                                       })
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar" id="dateCal"></span>
                                            </span>
                                        </div>
                                        <input type="hidden" class="RegistrantActiveStatusApprovedDate" value='@Model.RegistrantActiveStatus.ApprovedDate' />
                                    </div>
                                </div>
                            </div><!--/.row-->
                            <div class="row">
                                <div class="col-md-12">
                                    <label>@UIResource.CommonReasons</label><br>
                                    <div class="dropdown">
                                        @Html.DropDownListFor(m => m.RegistrantActiveStatus.RegistrantStatusChangeReason, new SelectListItem[]{
                                            new SelectListItem() {Text = "Drop Item One", Value="Processor 1"},
                                            new SelectListItem() {Text = "Drop Item Two", Value="Processor 2"},
                                            new SelectListItem() {Text = "Drop Item Three", Value="Processor 3"},
                                            new SelectListItem() {Text = "Drop Item Four", Value="Processor 4"},
                                            new SelectListItem() {Text = "Drop Item Five", Value="Processor 5"},
                                            new SelectListItem() {Text = "Other", Value= "Other"}},
                                            "Select Reason", new { @class = "form-control", @id = "activedropdown" })
                                    </div>
                                </div>
                            </div><!--/.row-->
                            <br />
                            <div class="row">
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.RegistrantActiveStatus.OtherReason, new
                               {
                                   @class = "form-control",
                                   style = "display:none;",
                                   @id = "OtherActiveStatus",
                                   @Value = string.IsNullOrEmpty(Model.RegistrantActiveStatus.OtherReason) ? string.Empty : Model.RegistrantActiveStatus.OtherReason
                               })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="modalCancelActivatebtn">
                            @UIResource.CommonCancel
                        </button>
                        <button type="button" class="btn btn-success" data-dismiss="modal" id="modalActivateBtn">
                            @UIResource.CommonActivate
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Modal  -->

        <div class="panel-group comp-register-all-accordion" id="accordion" role="tablist" aria-multiselectable="true">
            <!-- Panel Group -->
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <!-- hack so that outer form does not remove business location form -->
                <form></form>

                @using (Html.BeginForm("index", "Registration", FormMethod.Post, new { id = "fmBusinessLocation", style = "" }))
                {
                    <!-- Component: Business Location -->
                    <div class="panel panel-default">
                        @Html.Partial("_BusinessLocationPartial", Model, new ViewDataDictionary() { { "view", "Staff" }, { "InvalidFormFieldList", Model.InvalidFormFields }, { "IsParticipant", isParticipant } })
                    </div><!-- /.panel -->
                    <!-- /Component -->
                }
                <!-- end form -->
                <br>
                @using (Html.BeginForm("index", "Registration", FormMethod.Post, new { id = "fmContactInfo", style = "" }))
                {
                    <!-- Component: Contact Information -->
                    <div class="panel panel-default">
                        @Html.Partial("_ContactPartial", Model, new ViewDataDictionary() { { "view", "Staff" }, { "InvalidFormFieldList", Model.InvalidFormFields }, { "Status", Model.Status }, { "IsParticipant", isParticipant } })
                    </div><!-- /.panel -->
                    <!-- /Component -->
                }

                <br>
                <!-- Component: Sort Yard Details -->
                <div class="panel panel-default">
                    @Html.Partial("_SortYardDetailsPartial", Model, new ViewDataDictionary() { { "view", "Staff" }, { "InvalidFormFieldList", Model.InvalidFormFields }, { "IsParticipant", isParticipant } })
                </div><!-- /.panel -->
                <!-- /Component -->

                <br>
                @using (Html.BeginForm("index", "Registration", FormMethod.Post, new { id = "fmTireDetails", style = "" }))
                {
                    <!-- Component: Tire Details -->
                    <div class="panel panel-default">
                        @Html.Partial("_TireDetailsPartial", Model, new ViewDataDictionary() { { "view", "Staff" }, { "InvalidFormFieldList", Model.InvalidFormFields }, { "IsParticipant", isParticipant } })
                    </div><!-- /.panel -->
                    <!-- /Component -->
                }

                <br />

                @using (Html.BeginForm("index", "", FormMethod.Post, new { id = "fmHaulerDetails", style = "" }))
                {
                    <!-- Component: Hauler Details -->
                    <div class="panel panel-default">
                        @Html.Partial("_HaulerDetailsPartial", Model, new ViewDataDictionary() { { "view", "Staff" }, { "InvalidFormFieldList", Model.InvalidFormFields }, { "IsParticipant", isParticipant } })
                    </div><!-- /.panel -->
                    <!-- /Component -->
                }

                @if (Model.Status == ApplicationStatusEnum.BankInformationSubmitted || Model.Status == ApplicationStatusEnum.BankInformationApproved)
                {
                    <br>
                    
                    if (Model.BankingInformation.ReviewStatus == BankInfoReviewStatus.Submitted.ToString() || Model.BankingInformation.ReviewStatus == BankInfoReviewStatus.Approved.ToString())
                    {
                        using (Html.BeginForm("index", "Registration", FormMethod.Post, new { id = "frmBankingInformation", style = "" }))
                        {
                            <div class="panel panel-default">
                                @Html.Partial("_BankingInfoPartial", Model.BankingInformation, new ViewDataDictionary() { { "view", "Staff" }, { "InvalidFormFieldList", Model.InvalidFormFields }, { "IsParticipant", isParticipant } })
                            </div><!-- /.panel -->
                            <!-- /Component -->
                        }
                    }
                                      
                }

                <br>                
                <!-- /Component -->
                @using (Html.BeginForm("index", "Registration", FormMethod.Post, new { id = "fmSupportingDoc", style = "" }))
                {
                <!-- Component: Supporting Documents -->
                    <div class="panel panel-default">
                        @Html.Partial("_SupportingDocPartialHauler", Model.SupportingDocuments, new ViewDataDictionary() { { "view", "Staff" }, { "status", @statusStr }, { "InvalidFormFieldList", Model.InvalidFormFields }, { "allowFileDownload", true }, { "prefix", @Html.GetExpressionText(p => p.SupportingDocuments) }, { "IsParticipant", isParticipant } })
                    </div>
                <!-- /.panel -->
                <!-- /Component -->
                }
                <br>

                @using (Html.BeginForm("index", "Registration", FormMethod.Post, new { id = "fmTermsAndConditions", style = "" }))
                {
                    <!-- Component: Terms and Conditions -->
                    <div class="panel panel-default">
                        @Html.Partial("_TermsConditionsPartial", Model, new ViewDataDictionary() { { "view", "Staff" }, { "InvalidFormFieldList", Model.InvalidFormFields }, { "IsParticipant", isParticipant } })
                    </div><!-- /.panel -->
                    <!-- /Component -->
                }
            </div>
            <!-- /Panel Group -->
            <div class="row">
                <div class="col-md-12">
                    <p class="help-block">
                        <em> Note that to complete the registration application, <strong>you need to have the authority to bind your corporation / business or have been granted to the authority to bind your corporation / business.</strong> Fields marked with <i class="glyphicon glyphicon-ok"></i> are mandatory.</em>
                    </p>
                </div>
            </div><!--/.row-->

            <hr>
            <div id="staffWorkflowBtns" class="row">
                <div class="col-sm-12" style="text-align:right;">
                    @switch (Model.Status)
                    {
                        case ApplicationStatusEnum.Submitted:
                            <button id="assignBtn" type="button" data-toggle="modal" data-target="#modalAssign" class="btn color-tm-blue-bg">Assign <i class="fa fa-chevron-right"></i></button>
                            break;
                        case ApplicationStatusEnum.OffHold:
                        case ApplicationStatusEnum.Assigned:
                        <button id="applicationBtn" type="button" data-toggle="modal" data-target="#modalApplicant" class="btn color-tm-blue-bg"><i class="fa fa-chevron-left"></i> Applicant</button>
                        <button id="denyBtn" type="button" data-toggle="modal" data-target="#modalDeny" class="btn color-tm-red-bg"><i class="fa fa-chevron-left"></i> Deny</button>
                        <button id="onHoldBtn" type="button" data-toggle="modal" data-target="#modalOnhold" class="btn color-tm-orange-bg">On-hold </button>
                        <button id="assignBtn" type="button" data-toggle="modal" data-target="#modalAssign" class="btn color-tm-blue-bg">Assign <i class="fa fa-chevron-right"></i></button>
                        <button id="approveBtn" type="button" data-toggle="modal" data-target="#modalApproveApplication" class="btn color-tm-green-bg">Approve <i class="fa fa-chevron-right"></i></button>
                            break;
                        case ApplicationStatusEnum.OnHold:
                        <button id="unHoldBtn" type="button" data-toggle="modal" data-target="#modalOffhold" class="btn color-tm-orange-bg">Off-hold</button>
                            break;
                        case ApplicationStatusEnum.Approved:
                        case ApplicationStatusEnum.BankInformationSubmitted:
                        case ApplicationStatusEnum.BankInformationApproved:
                        case ApplicationStatusEnum.Completed:
                            if (!isParticipant)
                            {
                                <button id="resendBtn" type="button" data-toggle="modal" data-target="#modalResend" class="btn color-tm-green-bg"><i class="fa fa-chevron-left"></i> Re-send Welcome Letter</button>
                                <button id="saveBtn" type="button" data-toggle="modal" data-target="#modalSaveApplication" class="btn color-tm-blue-bg">Save</button>
                                <button id="cancelBtn" type="button" data-toggle="modal" data-target="#modalCancelApplication" class="btn color-tm-red-bg"> Cancel</button>
                            }
                            break;
                    }
                </div>
            </div><!--/.row-->
            <br>
            <!-- Component: Activity -->
            <div class="panel panel-default">

            </div><!--/.panel-->
            <!-- /Component -->
        </div><!--/.participants-all-claims-->
        <br><br>
    </div>
     <!-- Modal: Deny Application  -->
    <div class="modal fade" id="modalDeny" tabindex="-1" role="dialog" aria-labelledby="modalDeny" aria-hidden="true">
        <div class="modal-dialog modal-md margin-top-100">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" align="center">@UIResource.CommonDenyApplication</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c" style="padding:10px;">
                        <h4>@Html.Raw(UIResource.CommonDenyApplicationConfirm.ToString())</h4>
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 txt-l">
                                <h5><strong>@UIResource.CommonReasons</strong></h5>
                                <ul id="denyReasonsList"></ul>
                                <h5><strong>@UIResource.CommonAdditionalReasons</strong></h5>
                                <textarea id="modelDenyAdditionalReasonInput" class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    </div><!--/row-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@UIResource.CommonCancel</button>
                    <button type="button" id="modalDenyDenyApplicationBtn" data-status="Denied" class="btn color-tm-red-bg workflow" data-dismiss="modal">@UIResource.CommonDeny</button>
                </div>
            </div>
        </div>
    </div>
        <!-- /Modal  -->
        <!-- Modal: Send Back to Applicant  -->
    <div class="modal fade" id="modalApplicant" tabindex="-1" role="dialog" aria-labelledby="modalApplicant" aria-hidden="true">
        <div class="modal-dialog modal-md margin-top-100">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                    <h3 class="modal-title" align="center">@UIResource.CommonSendBacktoApplicant</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c" style="padding:10px;">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        @UIResource.CommonCancel
                    </button>
                    <button type="button" class="btn color-tm-blue-bg workflow" data-status="BackToApplicant" data-dismiss="modal">
                        @UIResource.CommonSend
                    </button>
                    <input id="hdnExplicitSave" type="button" style="display:none" />
                </div>
            </div>
        </div>
    </div>
        <!-- /Modal  -->
        <!-- Modal: Place Application on Hold  -->
    <div class="modal fade" id="modalOnhold" tabindex="-1" role="dialog" aria-labelledby="modalOnhold" aria-hidden="true">
        <div class="modal-dialog modal-md margin-top-100">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" align="center">@UIResource.CommonPlaceApplicationonHold</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c" style="padding:10px;">
                        <h4>@Html.Raw(UIResource.CommonPlaceApplicationonHoldConfirm.ToString())</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        @UIResource.CommonCancel
                    </button>
                    <button type="button" class="btn color-tm-orange-bg workflow" data-status="OnHold" data-dismiss="modal">
                        @UIResource.CommonOnHold
                    </button>
                </div>
            </div>
        </div>
    </div>
        <!-- /Modal  -->
        <!-- Modal: Place Application Off Hold  -->
    <div class="modal fade" id="modalOffhold" tabindex="-1" role="dialog" aria-labelledby="modalOffhold" aria-hidden="true">
        <div class="modal-dialog modal-md margin-top-100">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                    <h3 class="modal-title" align="center">@UIResource.CommonPlaceApplicationOffHold</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c" style="padding:10px;">
                        <h4>@Html.Raw(UIResource.CommonPlaceApplicationOffHoldConfirm.ToString())</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        @UIResource.CommonCancel
                    </button>
                    <button type="button" class="btn color-tm-orange-bg workflow" data-status="OffHold" data-dismiss="modal">
                        @UIResource.CommonOffHold
                    </button>
                </div>
            </div>
        </div>
    </div>
        <!-- /Modal  -->
        <!-- Modal: Assign Application  -->
    <div class="modal fade" id="modalAssign" tabindex="-1" role="dialog" aria-labelledby="modalAssign" aria-hidden="true">
        <div class="modal-dialog modal-md margin-top-100">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                    <h3 class="modal-title" align="center">@UIResource.CommonAssignApplication</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c" style="padding:10px;">

                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3 txt-l">
                                <h5><strong>@UIResource.CommonChooseStaff</strong></h5>
                                <select id="listOfStaff" class="form-control"> </select>
                            </div>
                        </div><!--/.row-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        @UIResource.CommonCancel
                    </button>
                    <button type="button" id="modalAssignAssignBtn" class="btn color-tm-blue-bg workflow" data-status="Assigned" data-dismiss="modal" disabled>
                        @UIResource.CommonAssign
                    </button>
                </div>
            </div>
        </div>
    </div>
        <!-- /Modal  -->
        <!-- Modal: Approve Application  -->
    <div class="modal fade" id="modalApproveApplication" tabindex="-1" role="dialog" aria-labelledby="modalApproveApplication" aria-hidden="true">
        <div class="modal-dialog modal-md margin-top-100">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                    <h3 class="modal-title" align="center">@UIResource.CommonApproveApplication</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c" style="padding:10px;">
                        <h4>@Html.Raw(UIResource.CommonApproveApplicationConfirm.ToString())</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        @UIResource.CommonCancel
                    </button>
                    <button type="button" id="modalApproveApproveBtn" class="btn color-tm-green-bg workflow" data-status="Approved" data-dismiss="modal">
                        @UIResource.CommonApprove
                    </button>
                </div>
            </div>
        </div>
    </div>
        <!-- /Modal  -->

        <!-- Modal: Resend welcome email Application  -->
    <div class="modal fade" id="modalResend" tabindex="-1" role="dialog" aria-labelledby="modalResend" aria-hidden="true">
        <div class="modal-dialog modal-md margin-top-100">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                    <h3 class="modal-title" align="center">@UIResource.Confirm</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c" style="padding:10px;">
                        <h4>@Html.Raw(UIResource.CommonResendWelcomeEmailConfirm.ToString())</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                        @UIResource.CommonWordNo
                    </button>
                    <button type="button" id="modalResendYesBtn" class="btn btn-success btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                        @UIResource.CommonWordYes
                    </button>
                </div>
            </div>
        </div>
    </div>
        <!-- /Modal  -->
        <!-- Modal: Update Application  -->
    <div class="modal fade" id="modalSaveApplication" tabindex="-1" role="dialog" aria-labelledby="modalResend" aria-hidden="true">
        <div class="modal-dialog modal-md margin-top-100">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                    <h3 class="modal-title" align="center">@UIResource.Confirm</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c" style="padding:10px;">
                        <h4>@Html.Raw(UIResource.CommonSaveChangesConfirm.ToString())</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                        @UIResource.CommonWordNo
                    </button>
                    <button type="button" id="modalSaveDBYesBtn" class="btn color-tm-green-bg btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                        @UIResource.CommonWordYes
                    </button>
                </div>
            </div>
        </div>
    </div>
        <!-- /Modal  -->
        <!-- Modal: Refresh on Cancel Application  -->
    <div class="modal fade" id="modalCancelApplication" tabindex="-1" role="dialog" aria-labelledby="modalApprovApplication" aria-hidden="true">
        <div class="modal-dialog modal-md margin-top-100">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                    <h3 class="modal-title" align="center">@UIResource.Confirm</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c" style="padding:10px;">
                        <h4>@Html.Raw(@UIResource.CommonCancelChangesConfirm.ToString())</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                        @UIResource.CommonWordNo
                    </button>
                    <button type="button" id="modalCancelYesBtn" class="btn color-tm-green-bg workflow btn-lg" data-status="Approved" data-dismiss="modal">
                        <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                        @UIResource.CommonWordYes
                    </button>
                </div>
            </div>
        </div>
    </div>
        <!-- /Modal  -->
}

@section scripts
{
    <script type="text/javascript">
        //list of Resources text needed
        Global = {};
        Global.StaffIndex = {
            Resources: {
                DateTimeFormat: '@dateTimeFormat',
                TireDetailsDialog: '@MessageResource.TireDetailsDialog',
                ValidationMsgInvalidBusinessName: '@MessageResource.ValidationMsgInvalidBusinessName',
                ValidationMsgInvalidOperatingName: '@MessageResource.ValidationMsgInvalidOperatingName',
                ValidationMsgInvalidAddressLine1: '@MessageResource.ValidationMsgInvalidAddressLine1',
                ValidationMsgInvalidCity: '@MessageResource.ValidationMsgInvalidCity',
                ValidationMsgInvalidProvinceState: '@MessageResource.ValidationMsgInvalidProvinceState',

                ValidationMsgInvalidAddressLine2: '@MessageResource.ValidationMsgInvalidAddressLine2',
                ValidationMsgInvalidPostalCode: '@MessageResource.ValidationMsgInvalidPostalCode',
                ValidationMsgInvalidCountry: '@MessageResource.ValidationMsgInvalidCountry',
                ValidationMsgInvalidExt: '@MessageResource.ValidationMsgInvalidExt',
                ValidationMsgInvalidEmail: '@MessageResource.ValidationMsgInvalidEmail',

                ValidationMsgInvalidPrimaryContactName: '@MessageResource.ValidationMsgInvalidPrimaryContactName',
                ValidationMsgInvalidPosition: '@MessageResource.ValidationMsgInvalidPosition',
                ValidationMsgInvalidPhone: '@MessageResource.ValidationMsgInvalidPhone',
                ValidationMsgExpectedFormat: '@MessageResource.ValidationMsgExpectedFormat',
                ValidationMsgInvalidCapacity: '@MessageResource.ValidationMsgInvalidCapacity',

                ValidationMsgInvalidCertificateOfApproval: '@MessageResource.ValidationMsgInvalidCertificateOfApproval',
                ValidationMsgInvalidBusinessStartDate: '@MessageResource.ValidationMsgInvalidBusinessStartDate',
                ValidationMsgInvalidOntarioBusinessNumber: '@MessageResource.ValidationMsgInvalidOntarioBusinessNumber',
                ValidationMsgInvalidHSTRegistrationNumber: '@MessageResource.ValidationMsgInvalidHSTRegistrationNumber',
                ValidationMsgInvalidComercialLiabilityInsurance: '@MessageResource.ValidationMsgInvalidComercialLiabilityInsurance',

                ValidationMsgInvalidExpiryDate: '@MessageResource.ValidationMsgInvalidExpiryDate',
                ValidationMsgInvalidCVORNumber: '@MessageResource.ValidationMsgInvalidCVORNumber',
                ValidationMsgInvalidWSIPNumber: '@MessageResource.ValidationMsgInvalidWSIPNumber',
                ValidationMsgInvalidFirstName: '@MessageResource.ValidationMsgInvalidFirstName',
                ValidationMsgInvalidLastName: '@MessageResource.ValidationMsgInvalidLastName',

                ValidationMsgInvalidFullName: '@MessageResource.ValidationMsgInvalidFullName',
                ValidationMsgMustBeCheckedForSubmission: '@MessageResource.ValidationMsgMustBeCheckedForSubmission',
                ValidationMsgInvalidTireType: '@MessageResource.ValidationMsgInvalidTireType',
                ValidationMsgInvalidProcessor: '@MessageResource.ValidationMsgInvalidProcessor',
                ValidationMsgHIsGVWR: '@MessageResource.ValidationMsgHIsGVWR',
                ValidationMsgHasMoreThanOneEmp: '@MessageResource.ValidationMsgHasMoreThanOneEmp',
                ValidationMsgHasRelatioshipWithProcessor: '@MessageResource.ValidationMsgHasRelatioshipWithProcessor',
            },
            Model: {
                InvalidFormFields: [ @Html.Raw(invalidListStr)],
                Status: '@statusStr',
                IsReadOnly: '@isReadOnly'
            },
            Settings: {
                status: '@Model.StatusString',
                vendorID: '@Model.VendorID',
                ApplicationStatus: {
                    Approved: '@ApplicationStatusEnum.Approved.ToString()',
                    Submitted: '@ApplicationStatusEnum.Submitted.ToString()',
                    Assigned: '@ApplicationStatusEnum.Assigned.ToString()',
                    OnHold: '@ApplicationStatusEnum.OnHold.ToString()',
                    BankInformationSubmitted: '@ApplicationStatusEnum.BankInformationSubmitted.ToString()',
                    BankInformationApproved: '@ApplicationStatusEnum.BankInformationApproved.ToString()',
                    Completed: '@ApplicationStatusEnum.Completed.ToString()'
                },
                afterApproveRedirectUrl: '@Url.Action("RegistrationIndex", "Registration", new { vId = "111" })'
            }
        };

        /* local script for pdf */
        $(".panel-arrow-collapse").each(function (e) {

            if ($(this).hasClass("collapsed")) {
                $(this).removeClass("collapsed");
                $(this).removeClass("panel-arrow-collapse").addClass("panel-arrow-expand");

            } else {
                // if other menus are open remove open class and add closed
                $(this).removeClass("panel-arrow-expand").addClass("panel-arrow-collapse");
            }

        });
        $(".panel-collapse").each(function (e) {

            $(this).addClass("in");

        });
        //$("#panelSupportingDocuments").css("height", "auto");
        $(".panel-default").after('<div style="page-break-before:always">&nbsp;</div>');

    </script>
    @Scripts.Render("~/bundles/applicationcommon")
    @Scripts.Render("~/bundles/applicationjquerycommon")
    @Scripts.Render("~/bundles/haulerapplicationstaff")
}