﻿@using CL.TMS.Resources
@using CL.TMS.Common
@using CL.TMS.Security.Authorization

<!-- Component: Transactions Header -->
<div id="fixedClaimHeader" class="row comp-claims-header fixed-claim-header">
    <div class="col-xs-7 col-sm-6">
        <h2 class="fixed-claim-header-title">@ViewBag.HeaderName</h2>
        <div class="btn-group fixed-claim-header-period-btn-group">
            <a class="btn btn-warning" href="@Url.Action("ClaimSummary", "Claims", new { area = "RPM", claimId = @ViewBag.ClaimId })"><i class="fa fa-chevron-left"></i> Claim Summary</a>
            <a class="btn btn-warning dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="fa fa-caret-down"></span>
            </a>
            <ul class="dropdown-menu">
                <li class="li-label">Inbound</li>
                <li><a href="@Url.Action("Index", "Transaction", new { area = "RPM", id = @ViewBag.ClaimId, type = TreadMarksConstants.SPS, direction = 1 })"><i class="fa fa-file-text-o"></i> SIR</a></li>
                <li class="divider"></li>
                <li class="li-label">Outbound</li>
                <li><a href="@Url.Action("Index", "Transaction", new { area = "RPM", id = @ViewBag.ClaimId, type = TreadMarksConstants.SPSR, direction = 2 })"><i class="fa fa-file-text-o"></i> SPS</a></li>
            </ul>
        </div> 
        @if (null != SecurityContextHelper.CurrentVendor)
        {
            if (SecurityContextHelper.IsParticipant())
            {
                <div class="sub-header-claimdate fixed-claim-header-claimdate-participant">@ViewBag.ClaimPeriod</div>
            }
        }      
    </div>
    @if (null != SecurityContextHelper.CurrentVendor)
    {
        if (SecurityContextHelper.IsStaff())
        {
            <div class="col-xs-5 col-sm-6">
                @Html.Partial("_ParticipantHeader", SecurityContextHelper.CurrentVendor)
            </div>
        }
        else
        {
            <div class="col-xs-5 col-sm-6">
                <div class="sub-header-registrantinfo fixed-claim-header-registrantinfo">@SecurityContextHelper.CurrentVendor.RegistrationNumber</div>
            </div>
            @*<div class="col-xs-5 col-sm-6">
                <div class="sub-header-claimdate fixed-claim-header-participant-claimdate">@ViewBag.ClaimPeriod</div>
            </div>*@
        }
    }
</div>
@if (SecurityContextHelper.IsStaff())
{
    @Html.Partial("_TransactionActivityStaff")
}
<!-- /Component: Transactions Header -->
