﻿@using CL.TMS.Resources

<script type="text/ng-template" id="paper-form.html">
    <div class="comp-all-modal">
        <form id="transForm" name="transForm">
            <div class="modal-header">
                <button type="button" ng-click="cancelPaperForm()" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" align="center">SPS Paper Form</h3>
            </div>
            <div class="modal-body padding-25">
                <creation-status-message ng-if="statusModel.display" status-model="statusModel"></creation-status-message>

                <div class="row">
                    <div class="col-sm-3">
                        <form-date-picker label-text="Invoice Date" form="transForm" form-date="trans.formDate"></form-date-picker>
                    </div>
                    <div class="col-md-3">
                        <invoice-number-collector form="transForm" invoice-number="trans.invoiceNumber"></invoice-number-collector>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group" cl-show-errors>
                            <label>Percentage&nbsp;(%)<i class="position-absolute padding-3 fa fa-question-circle popoverPercentage" data-placement="auto" uib-tooltip="% of Ontario rubber in your product"></i></label>
                            <input type="text" name="percentage" ng-model="trans.productDetail.percentage" class="form-control" required valid-decimal precision="5" scale="2" maxvalue="100.00">
                            <span class="help-block" ng-if="transForm.percentage.$error">Required</span>
                        </div>
                    </div>
                    <unit-type-weight form="transForm" vm="trans" mandatory="{{'true'}}"></unit-type-weight>
                </div>
                <hr>

                <div class="row">
                    <div class="col-md-12">
                        <sps-product-detail-collector form="transForm" product-detail="trans.productDetail" product-list="trans.productList" total-weight="trans.totalTDPWeight" adjust="unknow" unit-type="trans.unitType"></sps-product-detail-collector>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-md-12">
                        <unregistered-company-collector req="{{'true'}}" form="transForm" company-info="trans.companyInfo" company-label-text="{{'Sold to Business Name'}}" country-list="trans.countryList"></unregistered-company-collector>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md-12">
                        <supporting-document-selector list="trans.supportingDocumentList"></supporting-document-selector>
                    </div>
                </div>

                <document-uploader transaction-id="{{trans.transactionId}}" upload-list="trans.uploadDocumentList" is-required="documentUploadRequired"></document-uploader>

                @if (@ViewBag.AllowInternalNote)
                {
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <internal-note-collector form="transForm" internal-note="trans.internalNote"></internal-note-collector>
                    </div>
                </div>
                }
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-danger btn-lg" data-dismiss="modal" ng-click="cancelPaperForm()">
                    <i class="fa fa-ban fa-1x"></i>
                    @UIResource.Cancel
                </button>
                <button type="button" class="btn btn-success btn-lg" ng-click="submitPaperForm()">
                    <i class="glyphicon fa fa-floppy-o" aria-hidden="true"></i>
                    Save
                </button>
            </div>
        </form>
    </div>
</script>
