﻿@using CL.TMS.Resources

<script type="text/ng-template" id="sps-product-detail.html">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group" cl-show-errors>
                <label>Product Type</label><br>
                <select class="form-control" name="productList" ng-model="currentProduct" ng-change="productChange()" required ng-options="product as product.productName for product in productList">
                    <option value="">Please Select</option>
                </select>
                <span class="help-block" ng-if="form.country.$error">Required</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group" cl-show-errors>
                <label>Product Code</label>
                <input type="text" class="form-control" placeholder="" name="productCode" ng-model="productDetail.productCode" required maxlength="26">
                <span class="help-block" ng-if="form.productCode.$error">Required</span>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group" cl-show-errors>
                <label>Product Sold Description</label><br>
                <textarea class="form-control" rows="2" name="productDescription" ng-model="productDetail.productDescription" required></textarea>
                <span class="help-block" ng-if="form.productDescription.$error">Required</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-3">
            <label>Rate&nbsp;($/t)</label><br>
            <p class="padding-5" ng-show="currentProduct">{{currentProduct.rate | number:2}}</p>
        </div>
        <div class="col-md-2">
            <label>Amount ($)</label><br>
            <p class="padding-5" ng-show="showAmount()">{{getAmount() | number:2}}</p>
        </div>
        <div class="col-md-2" style="text-align:right" ng-if="isStaff">
            <label>Retail Price($)</label><br>
            <p class="padding-5" ng-show="AdjustmentMode">{{productDetail.retailPrice | number:2}}</p>
            
        </div>
        <div class="col-md-2" ng-if="isStaff">
            <input type="text" class="form-control" placeholder="" name="retailPrice" ng-model="productDetail.retailPrice" maxlength="20" valid-decimal precision="11" scale="2" ng-show="AdjustmentMode != true">
        </div>
    </div>
</script>