﻿@using System.Data
@using CL.TMS.Common
@using CL.TMS.DataContracts.ViewModel.Transaction;

@{
    string viewBagHeaderName = ViewBag.HeaderName ?? "PTR Transactions";

    if (viewBagHeaderName.Contains("PTR Transactions"))
    {
        <table id="tblTransactionlist" class="table table-hover display truncate datatable-100-perc">
            <thead>
                <tr>
                    <th>iPad/Form</th>
                    <th class="">Badge</th>
                    <th class="">Date</th>
                    <th>PTR #</th>
                    <th>Rev.Stat.</th>

                    <th>Adj.</th>
                    <th>Hauler</th>
                    <th>Business Name</th>
                    <th>Scale Ticket#</th>
                    <th>Acutal(KG)</th>

                    <th>Est.(KG)</th>
                    <th>Var.(%)</th>
                    <th>Payee</th>
                    <th>Amount($)</th>
                    <th>Actions</th>
                    <th></th>

                    <th></th>
                </tr>
            </thead>
            <tbody transaction-handler></tbody>
        </table>
    }
    else if (viewBagHeaderName.Contains("SPS Transactions"))
    {
        <table id="tblTransactionlist" class="table table-hover display truncate datatable-100-perc">
            <thead>
                <tr>
                    <th>Invoice Date</th>
                    <th>SPS #</th>
                    <th class="">Rev. Stat.</th>
                    <th class="">Adj.</th>
                    <th class="">RPM #</th>

                    <th class="">Business Name</th>
                    <th>Destination</th>
                    <th>Invoice#</th>
                    <th>Product Type</th>
                    <th>Mesh Range</th>
                    <th>Actual(t)</th>

                    <th>Rate($/t)</th>
                    <th>Amount($)</th>
                    <th>Actions</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody transaction-handler></tbody>
        </table>
    }
    else if (viewBagHeaderName.Contains("DOR Transactions"))
    {
        <table id="tblTransactionlist" class="table table-hover display truncate datatable-100-perc">
            <thead>
                <tr>
                    <th>DOR #</th>
                    <th class="">Rev. Stat.</th>
                    <th class="">Adj.</th>
                    <th class="">Date</th>
                    <th>Reg.#/Business Name</th>

                    <th>Destination</th>
                    <th>Material Type</th>
                    <th>Reason</th>
                    <th>Scale Ticket#</th>
                    <th>Actual(t)</th>

                    <th>Amount($)</th>
                    <th>Actions</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody transaction-handler></tbody>
        </table>
    }
    else if (viewBagHeaderName.Contains("PIT Transactions"))
    {
        if (ViewBag.Direction == 1)
        {
            <table id="tblTransactionlist" class="table table-hover display truncate datatable-100-perc">
                <thead>
                    <tr>
                        <th>iPad/Form</th>
                        <th class="">Badge</th>
                        <th>PIT #</th>
                        <th class="">Rev. Stat.</th>
                        <th class="">Adj.</th>

                        <th class="">Date</th>
                        <th>Processor</th>
                        <th>Business Name</th>
                        <th>Product Type</th>
                        <th>Scale Ticket#</th>

                        <th>Actual(t)</th>
                        <th>Actions</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody transaction-handler></tbody>
            </table>
        }
        else
        {
            <table id="tblTransactionlist" class="table table-hover display truncate datatable-100-perc">
                <thead>
                    <tr>
                        <th>iPad/Form</th>
                        <th>Badge</th>
                        <th>PIT #</th>
                        <th class="">Rev. Stat.</th>
                        <th class="">Adj.</th>

                        <th class="">Date</th>
                        <th>Processor</th>
                        <th>Business Name</th>
                        <th>Product Type</th>
                        <th>Scale Ticket#</th>

                        <th>Actual(t)</th>
                        <th>Rate($/t)</th>
                        <th>Amount($)</th>
                        <th>Actions</th>
                        <th></th>

                        <th></th>
                    </tr>
                </thead>
                <tbody transaction-handler></tbody>
            </table>
        }
    }
}

<br />
<a id="viewmore" href="javascript:void(0)" class="viewmore" style="display:inline-block">More</a>
<div id="loading"></div>