﻿<table id="tblHaulerInternalAdjusList" class="table table-hover display truncate datatable-100-perc narrow-width">
    <thead>
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Added&nbsp;By</th>
            <th>InternalAdjustmentId</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<br />
<a id="tblHaulerInternalAdjusList_viewmore" href="javascript:void(0)" class="viewmore" style="display:inline-block">More</a>
<div id="loading"></div>
