﻿@using CL.TMS.Security.Authorization

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="panelPaymentsAndClawback-headingOne">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-tireoriginreport="#accordion" href="#panelPaymentsAndClawback-collapseOne" aria-expanded="true" aria-controls="panelPaymentsAndClawback-collapseOne">
                Payments &amp; Adjustments
              
                <common-payment-adjust-export model="HaulerPayment"
                                              file-name= "@(SecurityContextHelper.IsStaff() ? "StaffPaymentAdjustmentClaimsSummary" : "ParticipantPaymentAdjustmentClaimsSummary")" ng-if="claimDetailsLoaded"
                                              url='@Url.Action("ExportToExcelPaymentAdjustment", "Claims", new { area = "System" })' claim-type="Hauler" attr-anchor="230px">
                </common-payment-adjust-export>
            </a>
        </h4>
    </div>
    <div id="panelPaymentsAndClawback-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelPaymentsAndClawback-headingOne">
        <div class="panel-body" style="overflow-x:visible">
            <table class="table table-hover" id="tblPaymentAdj" name="HaulerClaims-PaymentAdjustment">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th style="text-align:right">Payment ($)</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="HaulerPayment.DisplayHaulerPTR">
                        <td>PTR</td>
                        <td align="right">{{HaulerPayment.HaulerPTR | number:2}}</td>
                        <td>+</td>
                    </tr>
                    <tr>
                        <td data-toggle="modal" data-target="#modalNorthernPremium" style="cursor:pointer;">Northern Premium <i class="fa fa-search-plus color-tm-blue"></i></td>
                        <td align="right">{{HaulerPayment.NorthernPremium | number:2}}</td>
                        <td>+</td>
                    </tr>
                    <tr>
                        <td data-toggle="modal" data-target="#modalDOTPremium" style="cursor:pointer;">DOT Premium <i class="fa fa-search-plus color-tm-blue"></i></td>
                        <td align="right">{{HaulerPayment.DOTPremium | number:2}}</td>
                        <td>+</td>
                    </tr>
                    <tr>
                        <td>Payment Adjustments</td>
                        <td align="right" ng-class="{'color-tm-red': HaulerPayment.PaymentAdjustment<0}">{{HaulerPayment.PaymentAdjustment | number:2}}</td>
                        <td>=</td>
                    </tr>
                    <tr>
                        <td>Subtotal</td>
                        <td align="right" ng-class="{'color-tm-red': HaulerPayment.SubTotal<0}">{{HaulerPayment.SubTotal | number:2}}</td>
                        <td>+</td>
                    </tr>
                    <tr>
                        <td>HST {{HaulerPayment.HSTBase*100 | number:2}}%</td>
                        <td align="right" ng-class="{'color-tm-red': HaulerPayment.HST<0}">{{HaulerPayment.HST | number:2}}</td>
                        <td>=</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td align="right" ng-class="{'color-tm-red': HaulerPayment.PaymentTotal<0}">{{HaulerPayment.PaymentTotal | number:2}}</td>
                        <td>+</td>
                    </tr>
                    <tr>
                        <td data-toggle="modal" data-target="#modalIneligibleInventoryPayment" style="cursor:pointer;">Ineligible Inventory Payment <i class="fa fa-search-plus color-tm-blue"></i><br></td>
                        <td align="right" class="color-tm-red">{{HaulerPayment.IneligibleInventoryPayment | number:2}}</td>
                        <td>+</td>
                    </tr>
                    <tr>
                        <td>Ineligible Inventory Adjustments</td>
                        <td align="right" ng-class="{'color-tm-red': HaulerPayment.IneligibleInventoryPaymentAdjust<0}">{{HaulerPayment.IneligibleInventoryPaymentAdjust | number:2}}</td>
                        <td>=</td>
                    </tr>
                    <tr>
                        <td><strong>Grand Total</strong></td>
                        <td align="right" ng-class="{'color-tm-red': HaulerPayment.GrandTotal<0}"><strong>{{HaulerPayment.GrandTotal | number:2}}</strong></td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-hover" style="margin-bottom:5px;" id="tblPaymentAdjExtra">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Payment Due</td>
                        <td class="txt-r">{{HaulerPayment.PaymentDueDate | date:'yyyy-MM-dd'}}</td>
                    </tr>
                    <tr>
                        <td>Cheque/EFT #</td>
                        <td class="txt-r">{{HaulerPayment.ChequeNumber}}</td>
                    </tr>
                    <tr>
                        <td>Paid</td>
                        <td class="txt-r">{{HaulerPayment.PaidDate | date:'yyyy-MM-dd'}}</td>
                    </tr>
                    <tr>
                        <td>Amount Paid ($)</td>
                        <td class="txt-r">{{HaulerPayment.AmountPaid | number:2}}</td>
                    </tr>
                    <tr>
                        <td>Mailed</td>
                        @if (SecurityContextHelper.IsStaff())
                        {
                            <td ng-show="ShowMailDate">
                                <div class="pull-right">
                                    <p class="input-group" ng-show="true" style="width:280px">
                                        <input type="text" name="formDate" class="form-control" ng-readonly='true' uib-datepicker-popup="yyyy-MM-dd" show-weeks="false" ng-model="HaulerPayment.MailedDate" is-open="datePicker.status" ng-required="true" close-text="@UIResource.Close" />
                                        <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button></span>
                                    </p>
                                </div>
                            </td>
                            <td class="txt-r" ng-hide="ShowMailDate">{{HaulerPayment.MailedDate | date:'yyyy-MM-dd'}}</td>
                        }
                        else
                        {
                            <td class="txt-r">{{HaulerPayment.MailedDate | date:'yyyy-MM-dd'}}</td>
                        }
                    </tr>
                    @if (SecurityContextHelper.IsStaff())
                    {
                        <tr>
                            <td>Batch #</td>
                            <td class="txt-r">{{HaulerPayment.BatchNumber}}</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal: Ineligible Inventory Payment   -->
<div class="modal fade" id="modalIneligibleInventoryPayment" tabindex="-1" role="dialog" aria-labelledby="modalIneligibleInventoryPayment" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalIneligibleInventoryPayment" align="center">Ineligible Inventory Payment </h3>
            </div>
            <div class="modal-body">
                <div style="padding:10px 10px 0 10px;">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <td>&nbsp;</td>
                                <td colspan="3" style="text-align:center;" class="success"><strong>On-Road</strong></td>
                                <td colspan="3" style="text-align:center;" class="warning"><strong>Off-Road (Est. / Actual / Mixed)</strong></td>
                                <td><strong>Total</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="border-r"><strong>Processor Zone</strong></td>
                                <td>Ineligible (KG)</td>
                                <td>Rate (per KG)</td>
                                <td class="border-r">TI</td>
                                <td>Ineligible KG)</td>
                                <td>Rate (per KG)</td>
                                <td class="border-r">TI</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="border-r">Moose Creek</td>
                                <td>{{HaulerPayment.IneligibleInventoryPaymentDetail.MooseCreekOnRoadWeight | number:4}}</td>
                                <td class="color-tm-red">-${{HaulerPayment.IneligibleInventoryPaymentDetail.MooseCreakOnRoadRate | number:3}}</td>
                                <td class="border-r color-tm-red">-${{HaulerPayment.IneligibleInventoryPaymentDetail.MooseCreakOnRoadTI | number:2}}</td>
                                <td>{{HaulerPayment.IneligibleInventoryPaymentDetail.MooseCreekOffRoadWeight | number:4}}</td>
                                <td class="color-tm-red">-${{HaulerPayment.IneligibleInventoryPaymentDetail.MooseCreakOffRoadRate | number:3}}</td>
                                <td class="border-r color-tm-red">-${{HaulerPayment.IneligibleInventoryPaymentDetail.MooseCreakOffRoadTI | number:2}}</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="border-r">Greater Toronto Area / Brantford</td>
                                <td>{{HaulerPayment.IneligibleInventoryPaymentDetail.GTAOnRoadWeight | number:4}}</td>
                                <td class="color-tm-red">-${{HaulerPayment.IneligibleInventoryPaymentDetail.GTAOnRoadRate | number:3}}</td>
                                <td class="border-r color-tm-red">-${{HaulerPayment.IneligibleInventoryPaymentDetail.GTAOnRoadTI | number:2}}</td>
                                <td>{{HaulerPayment.IneligibleInventoryPaymentDetail.GTAOffRoadWeight | number:4}}</td>
                                <td class="color-tm-red">-${{HaulerPayment.IneligibleInventoryPaymentDetail.GTAOffRoadRate | number:3}}</td>
                                <td class="border-r color-tm-red">-${{HaulerPayment.IneligibleInventoryPaymentDetail.GTAOffRoadTI | number:2}}</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="border-r">Windsor / Tilbury / Chatham</td>
                                <td>{{HaulerPayment.IneligibleInventoryPaymentDetail.WTCOnRoadWeight | number:4}}</td>
                                <td class="color-tm-red">-${{HaulerPayment.IneligibleInventoryPaymentDetail.WTCOnRoadRate | number:3}}</td>
                                <td class="border-r color-tm-red">-${{HaulerPayment.IneligibleInventoryPaymentDetail.WTCOnRoadTI | number:2}}</td>
                                <td>{{HaulerPayment.IneligibleInventoryPaymentDetail.WTCOffRoadWeight | number:4}}</td>
                                <td class="color-tm-red">-${{HaulerPayment.IneligibleInventoryPaymentDetail.WTCOffRoadRate | number:3}}</td>
                                <td class="border-r color-tm-red">-${{HaulerPayment.IneligibleInventoryPaymentDetail.WTCOffRoadTI | number:2}}</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="border-r">Sturgeon Falls</td>
                                <td>{{HaulerPayment.IneligibleInventoryPaymentDetail.SturgeonFallsOnRoadWeight | number:4}}</td>
                                <td class="color-tm-red">-${{HaulerPayment.IneligibleInventoryPaymentDetail.SturgeonFallsOnRoadRate | number:3}}</td>
                                <td class="border-r color-tm-red">-${{HaulerPayment.IneligibleInventoryPaymentDetail.SturgeonFallsOnRoadTI | number:2}}</td>
                                <td>{{HaulerPayment.IneligibleInventoryPaymentDetail.SturgeonFallsOffRoadWeight | number:4}}</td>
                                <td class="color-tm-red">-${{HaulerPayment.IneligibleInventoryPaymentDetail.SturgeonFallsOffRoadRate | number:3}}</td>
                                <td class="border-r color-tm-red">-${{HaulerPayment.IneligibleInventoryPaymentDetail.SturgeonFallsOffRoadTI | number:2}}</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr class="success">
                                <td><strong>Total</strong></td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td class="color-tm-red"><strong>-${{HaulerPayment.IneligibleInventoryPaymentDetail.OnRoadTotalTI | number:2}}</strong></td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td class="color-tm-red"><strong>-${{HaulerPayment.IneligibleInventoryPaymentDetail.OffRoadTotalTI | number:2}}</strong></td>
                                <td class="color-tm-red"><strong>-${{HaulerPayment.IneligibleInventoryPaymentDetail.TotalTI | number:2}}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">
                    <i class="glyphicon fa fa-times-circle-o glyphicon-times-circle-o icon-times-circle-o" aria-hidden="true"></i>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal: Northern Premium  -->
<div class="modal fade" id="modalNorthernPremium" tabindex="-1" role="dialog" aria-labelledby="modalNorthernPremium" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" data-yongsdata="">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalNorthernPremium" align="center">Northern Premium</h3>
            </div>
            <div class="modal-body">
                <div style="padding:10px 10px 0 10px;">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td colspan="3" style="text-align:center;" class="success"><strong>On-Road</strong></td>
                            <td colspan="3" style="text-align:center;" class="warning"><strong>Off-Road (Est. / Actual / Mixed)</strong></td>
                            <td><strong>Total</strong></td>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="border-r"><strong>Pickup Zone</strong></td>
                                <td class="border-r"><strong>Processor Zone</strong></td>
                                <td>Weight</td>
                                <td>Rate (per KG)</td>
                                <td class="border-r">Premium</td>
                                <td>Weight</td>
                                <td>Rate (per KG)</td>
                                <td class="border-r">Premium</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td rowspan="3" class="border-r">N1</td>
                                <td class="border-r">Sturgeon Falls</td>
                                <td>{{HaulerPayment.NorthernPremiumDetail.N1SturgeonFallWeightOnRoad | number:4}}</td>
                                <td>${{HaulerPayment.NorthernPremiumDetail.N1SturgeonFallRateOnRoad | number:3}}</td>
                                <td class="border-r">${{HaulerPayment.NorthernPremiumDetail.N1SturgeonFallPremiumOnRoad | number:2}}</td>
                                <td></td>
                                <td></td>
                                <td class="border-r"></td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="border-r">South</td>
                                <td>{{HaulerPayment.NorthernPremiumDetail.N1SouthWeightOnRoad | number:4}}</td>
                                <td>${{HaulerPayment.NorthernPremiumDetail.N1SouthRateOnRoad | number:3}}</td>
                                <td class="border-r">${{HaulerPayment.NorthernPremiumDetail.N1SouthPremiumOnRoad | number:2}}</td>
                                <td>{{HaulerPayment.NorthernPremiumDetail.N1SouthWeightOffRoad | number:4}}</td>
                                <td>${{HaulerPayment.NorthernPremiumDetail.N1SouthRateOffRoad | number:3}}</td>
                                <td class="border-r">${{HaulerPayment.NorthernPremiumDetail.N1SouthPremiumOffRoad | number:2}}</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="border-r"><strong>Total</strong></td>
                                <td><strong>{{HaulerPayment.NorthernPremiumDetail.N1TotalWeightOnRoad | number:4}}</strong></td>
                                <td>&nbsp;</td>
                                <td class="border-r"><strong>${{HaulerPayment.NorthernPremiumDetail.N1TotalPremiumOnRoad | number:2}}</strong></td>
                                <td><strong>{{HaulerPayment.NorthernPremiumDetail.N1ToalWeightOffRoad | number:4}}</strong></td>
                                <td>&nbsp;</td>
                                <td class="border-r"><strong>${{HaulerPayment.NorthernPremiumDetail.N1TotalPremiumOffRoad | number:2}}</strong></td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td rowspan="3" class="border-r">N2</td>
                                <td class="border-r">Sturgeon Falls</td>
                                <td>{{HaulerPayment.NorthernPremiumDetail.N2SturgeonFallWeightOnRoad | number:4}}</td>
                                <td>${{HaulerPayment.NorthernPremiumDetail.N2SturgeonFallRateOnRoad | number:3}}</td>
                                <td class="border-r">${{HaulerPayment.NorthernPremiumDetail.N2SturgeonFallPremiumOnRoad | number:2}}</td>
                                <td></td>
                                <td></td>
                                <td class="border-r"></td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="border-r">South</td>
                                <td>{{HaulerPayment.NorthernPremiumDetail.N2SouthWeightOnRoad | number:4}}</td>
                                <td>${{HaulerPayment.NorthernPremiumDetail.N2SouthRateOnRoad | number:3}}</td>
                                <td class="border-r">${{HaulerPayment.NorthernPremiumDetail.N2SouthPremiumOnRoad | number:2}}</td>
                                <td>{{HaulerPayment.NorthernPremiumDetail.N2SouthWeightOffRoad | number:4}}</td>
                                <td>${{HaulerPayment.NorthernPremiumDetail.N2SouthRateOffRoad | number:3}}</td>
                                <td class="border-r">${{HaulerPayment.NorthernPremiumDetail.N2SouthPremiumOffRoad | number:2}}</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="border-r"><strong>Total</strong></td>
                                <td><strong>{{HaulerPayment.NorthernPremiumDetail.N2TotalWeightOnRoad | number:4}}</strong></td>
                                <td>&nbsp;</td>
                                <td class="border-r"><strong>${{HaulerPayment.NorthernPremiumDetail.N2TotalPremiumOnRoad | number:2}}</strong></td>
                                <td><strong>{{HaulerPayment.NorthernPremiumDetail.N2ToalWeightOffRoad | number:4}}</strong></td>
                                <td>&nbsp;</td>
                                <td class="border-r"><strong>${{HaulerPayment.NorthernPremiumDetail.N2TotalPremiumOffRoad | number:2}}</strong></td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td rowspan="3" class="border-r">N3</td>
                                <td class="border-r">Sturgeon Falls</td>
                                <td>{{HaulerPayment.NorthernPremiumDetail.N3SturgeonFallWeightOnRoad | number:4}}</td>
                                <td>${{HaulerPayment.NorthernPremiumDetail.N3SturgeonFallRateOnRoad | number:3}}</td>
                                <td class="border-r">${{HaulerPayment.NorthernPremiumDetail.N3SturgeonFallPremiumOnRoad | number:2}}</td>
                                <td></td>
                                <td></td>
                                <td class="border-r"></td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="border-r">South</td>
                                <td>{{HaulerPayment.NorthernPremiumDetail.N3SouthWeightOnRoad | number:4}}</td>
                                <td>${{HaulerPayment.NorthernPremiumDetail.N3SouthRateOnRoad | number:3}}</td>
                                <td class="border-r">${{HaulerPayment.NorthernPremiumDetail.N3SouthPremiumOnRoad | number:2}}</td>
                                <td>{{HaulerPayment.NorthernPremiumDetail.N3SouthWeightOffRoad | number:4}}</td>
                                <td>${{HaulerPayment.NorthernPremiumDetail.N3SouthRateOffRoad | number:3}}</td>
                                <td class="border-r">${{HaulerPayment.NorthernPremiumDetail.N3SouthPremiumOffRoad | number:2}}</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="border-r"><strong>Total</strong></td>
                                <td><strong>{{HaulerPayment.NorthernPremiumDetail.N3TotalWeightOnRoad | number:4}}</strong></td>
                                <td>&nbsp;</td>
                                <td class="border-r"><strong>${{HaulerPayment.NorthernPremiumDetail.N3TotalPremiumOnRoad | number:2}}</strong></td>
                                <td><strong>{{HaulerPayment.NorthernPremiumDetail.N3ToalWeightOffRoad | number:4}}</strong></td>
                                <td>&nbsp;</td>
                                <td class="border-r"><strong>${{HaulerPayment.NorthernPremiumDetail.N3TotalPremiumOffRoad | number:2}}</strong></td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td rowspan="3" class="border-r">N4</td>
                                <td class="border-r">Sturgeon Falls</td>
                                <td>{{HaulerPayment.NorthernPremiumDetail.N4SturgeonFallWeightOnRoad | number:4}}</td>
                                <td>${{HaulerPayment.NorthernPremiumDetail.N4SturgeonFallRateOnRoad | number:3}}</td>
                                <td class="border-r">${{HaulerPayment.NorthernPremiumDetail.N4SturgeonFallPremiumOnRoad | number:2}}</td>
                                <td></td>
                                <td></td>
                                <td class="border-r"></td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="border-r">South</td>
                                <td>{{HaulerPayment.NorthernPremiumDetail.N4SouthWeightOnRoad | number:4}}</td>
                                <td>${{HaulerPayment.NorthernPremiumDetail.N4SouthRateOnRoad | number:3}}</td>
                                <td class="border-r">${{HaulerPayment.NorthernPremiumDetail.N4SouthPremiumOnRoad | number:2}}</td>
                                <td>{{HaulerPayment.NorthernPremiumDetail.N4SouthWeightOffRoad | number:4}}</td>
                                <td>${{HaulerPayment.NorthernPremiumDetail.N4SouthRateOffRoad | number:3}}</td>
                                <td class="border-r">${{HaulerPayment.NorthernPremiumDetail.N4SouthPremiumOffRoad | number:2}}</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="border-r"><strong>Total</strong></td>
                                <td><strong>{{HaulerPayment.NorthernPremiumDetail.N4TotalWeightOnRoad | number:4}}</strong></td>
                                <td>&nbsp;</td>
                                <td class="border-r"><strong>${{HaulerPayment.NorthernPremiumDetail.N4TotalPremiumOnRoad | number:2}}</strong></td>
                                <td><strong>{{HaulerPayment.NorthernPremiumDetail.N4ToalWeightOffRoad | number:4}}</strong></td>
                                <td>&nbsp;</td>
                                <td class="border-r"><strong>${{HaulerPayment.NorthernPremiumDetail.N4TotalPremiumOffRoad | number:2}}</strong></td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr class="success">
                                <td><strong>Total</strong></td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td class="border-r"><strong>${{HaulerPayment.NorthernPremiumDetail.TotalPremiumOnRoad | number:2}}</strong></td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td class="border-r"><strong>${{HaulerPayment.NorthernPremiumDetail.TotalPremiumOffRoad | number:2}}</strong></td>
                                <td><strong>${{HaulerPayment.NorthernPremiumDetail.TotalPremium | number:2}}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">
                    <i class="glyphicon fa fa-times-circle-o glyphicon-times-circle-o icon-times-circle-o" aria-hidden="true"></i>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal: DOT Premium  -->
<div class="modal fade" id="modalDOTPremium" tabindex="-1" role="dialog" aria-labelledby="modalDOTPremium" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalDOTPremium" align="center">DOT Premium</h3>
            </div>
            <div class="modal-body">
                <div style="padding:10px 10px 0px 10px">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td colspan="3" style="text-align:center;" class="warning"><strong>Off-Road (Est. / Actual / Mixed)</strong></td>
                                <td><strong>Total</strong></td>
                            </tr>                        
                        </thead>
                        <tbody>
                            <tr>
                                <td class="border-r"><strong>Pickup Zone</strong></td>
                                <td class="border-r"><strong>Processor Zone</strong></td>
                                <td>Weight</td>
                                <td>Rate (per KG)</td>
                                <td class="border-r">Premium</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="border-r">N1</td>
                                <td class="border-r">&nbsp;</td>
                                <td>{{HaulerPayment.DOTPremiumDetail.N1OffRoadWeight | number:4}}</td>
                                <td>${{HaulerPayment.DOTPremiumDetail.N1OffRoadRate | number:3}}</td>
                                <td class="border-r">${{HaulerPayment.DOTPremiumDetail.N1Premium | number:2}}</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="border-r">N2</td>
                                <td class="border-r">&nbsp;</td>
                                <td>{{HaulerPayment.DOTPremiumDetail.N2OffRoadWeight | number:4}}</td>
                                <td>${{HaulerPayment.DOTPremiumDetail.N2OffRoadRate | number:3}}</td>
                                <td class="border-r">${{HaulerPayment.DOTPremiumDetail.N2Premium | number:2}}</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="border-r">N3</td>
                                <td class="border-r">&nbsp;</td>
                                <td>{{HaulerPayment.DOTPremiumDetail.N3OffRoadWeight | number:4}}</td>
                                <td>${{HaulerPayment.DOTPremiumDetail.N3OffRoadRate | number:3}}</td>
                                <td class="border-r">${{HaulerPayment.DOTPremiumDetail.N3Premium | number:2}}</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="border-r">N4</td>
                                <td class="border-r">&nbsp;</td>
                                <td>{{HaulerPayment.DOTPremiumDetail.N4OffRoadWeight | number:4}}</td>
                                <td>${{HaulerPayment.DOTPremiumDetail.N4OffRoadRate | number:3}}</td>
                                <td class="border-r">${{HaulerPayment.DOTPremiumDetail.N4Premium | number:2}}</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr class="success">
                                <td><strong>Total</strong></td>
                                <td>&nbsp;</td>
                                <td><strong>{{HaulerPayment.DOTPremiumDetail.TotalPickupWeight | number:4}}</strong></td>
                                <td>&nbsp;</td>
                                <td class="border-r"><strong>${{HaulerPayment.DOTPremiumDetail.TotalPickupPremium | number:2}}</strong></td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td rowspan="4" class="border-r">South</td>
                                <td class="border-r">Moose Creek</td>
                                <td>{{HaulerPayment.DOTPremiumDetail.MooseCreekOffRoadWeight | number:4}}</td>
                                <td>${{HaulerPayment.DOTPremiumDetail.MooseCreekOffRoadRate | number:3}}</td>
                                <td class="border-r">${{HaulerPayment.DOTPremiumDetail.MooseCreekPremium | number:2}}</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="border-r">GTA/Brantford</td>
                                <td>{{HaulerPayment.DOTPremiumDetail.GTAOffRoadWeight | number:4}}</td>
                                <td>${{HaulerPayment.DOTPremiumDetail.GTAOffRoadRate | number:3}}</td>
                                <td class="border-r">${{HaulerPayment.DOTPremiumDetail.GTAPremium | number:2}}</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="border-r">W/T/C</td>
                                <td>{{HaulerPayment.DOTPremiumDetail.WTCOffRoadWeight | number:4}}</td>
                                <td>${{HaulerPayment.DOTPremiumDetail.WTCOffRoadRate | number:3}}</td>
                                <td class="border-r">${{HaulerPayment.DOTPremiumDetail.WTCPremium | number:2}}</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="border-r">Sturgeon Falls</td>
                                <td>{{HaulerPayment.DOTPremiumDetail.SturgeonFallsOffRoadWeight | number:4}}</td>
                                <td>${{HaulerPayment.DOTPremiumDetail.SturgeonFallsOffRoadRate | number:3}}</td>
                                <td class="border-r">${{HaulerPayment.DOTPremiumDetail.SturgeonFallsPremium | number:2}}</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr class="success">
                                <td><strong>Total</strong></td>
                                <td>&nbsp;</td>
                                <td><strong>{{HaulerPayment.DOTPremiumDetail.TotalSouthWeight | number:4}}</strong></td>
                                <td>&nbsp;</td>
                                <td><strong>${{HaulerPayment.DOTPremiumDetail.TotalSouthPremium | number:2}}</strong></td>
                                <td><strong>${{HaulerPayment.DOTPremiumDetail.TotalDOTPremium | number:2}}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">
                    <i class="glyphicon fa fa-times-circle-o glyphicon-times-circle-o icon-times-circle-o" aria-hidden="true"></i>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

