﻿@using CL.TMS.Security.Authorization
@using CL.TMS.Common
@using CL.TMS.Security
@using CL.TMS.DataContracts.ViewModel.Common
@using Newtonsoft.Json

@{
    ViewBag.Title = "Metric";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />
    <link href="~/css/cube/morris.css?v=@ViewBag.versionid" rel="stylesheet" />
    @Styles.Render("~/css/datatable-tm")
    @Styles.Render("~/css/datetimepicker")
    @Styles.Render("~/Content/datepicker")
    <style>
    </style>
}
<!--List page-->
<div class="tm-all staff-all-claims" ng-controller="metricController">
    <div id="fixedClaimHeader" class="row comp-claims-header comp-variant-staff fixed-claim-header">
        <div class="col-xs-7 col-sm-6">
            <h2 class="fixed-claim-header-title">Metrics</h2>
        </div>
        <div class="col-xs-5 col-sm-6">

        </div>
    </div>
    <div class="panel-container-other">
    </div>
    @Html.Partial("_MetricTemplate")
    @Html.Partial("_ClaimInternalNotesTemplate")
    @Html.Partial("_ClaimExport")
</div>

@section Scripts{
    <script type="text/javascript">
        Global = {};
        Global.Metric = {
            LoadListUrl: '@Url.Action("LoadList", "Metric", new { area = "System" })',
            LoadDetailsByIDUrl: '@Url.Action("LoadDetailsByID", "Metric", new { area = "System" })',
        };

        //handle browser click back button
        if (!!window.performance && window.performance.navigation.type == 2) {
            window.location.href = GlobalBaseUrl + '@Url.Action("Login", "Account", new { area = "" })';
        }
    </script>
    @Scripts.Render("~/bundles/jquerydatatable")
    @Scripts.Render("~/bundles/angular-datatables-scroller")
    @Scripts.Render("~/bundles/angulardatatable")
    @Scripts.Render("~/bundles/datepicker")
    <script type="text/javascript" src="~/js/cube/raphael.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/cube/morris.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/jquery.flot.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/jquery.flot.time.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/Areas/System/Scripts/Metric/metric-app.js?v=@ViewBag.versionid"></script>
 }